body{
    padding-top:70px;
}

#news-panel{
    /*padding:20px;*/
    margin-top:50px;
}

.left-sticker{
    z-index: 103;
    position: fixed;
    top: 50%;
    left: -10px;
    /*width: 1px;*/
    background-color:#925543;
    color:#fff;
     writing-mode: tb-rl;
     border-radius:0 5px 5px 0;
     padding:5px;
     cursor: pointer;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle-small {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.side-panel-close{
    right: 0px;
    position: absolute;
    margin-right: 25px;
    z-index: 999;
    margin-top: 65px;
}

.freshnews-panel{
    background-color:#fff;
}

.ticker-approved{
    background-color:#93C563;
}
.ticker-unapproved{
    background-color:#F9B3CB;
}
.ticker-exceed{
    text-decoration: line-through;
}
.ticker-text{
    width:90%;
    float:left;
    text-align:left;
    
}
.ticker-info{
    font-size:14px;
    color:#878892;
}
.ticker-option{
    width:20%;
    float:left;
}
.clear{
    clear:both;
}

/*Side Nav*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 40px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #444; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav > a.active {
    background-color:#000;
}
.sidenav .nav-icon{
    display: block;
    position: absolute;
    left: 0;
    margin: 8px 0 0 9px;
    background:url(/images/sprite.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0)
}
.icon-health {
    background-position: -350px -1px;
    width: 24px;
    height: 24px;
    margin: -3px 0 0 9px;
}
.icon-health, .icon-technology, .icon_court, .icon_crime, .icon_defence, .icon_edu, .icon_food, .icon_govt, .icon_history, .icon_others, .icon_religion, .icon_science, .icon_travel, .icon_weather {
    background: url(/images/categories-sprite.png) no-repeat !important;
}
.sprite, .bol-logo, .icon-setting, .icon-email, .icon-stories, .icon-timer, .icon-calender, .icon-videos, .icon-pakistan, .icon-politics, .icon-business, .icon-sports, .icon-healthcare, .icon-travel, .icon-showmore, .icon-news, .icon-newsHome, .icon-newsPeople, .icon-newsVideo, .icon-newsSearch, .icon-newsBook, .icon-newsWorld, .icon-newsTv, .icon-newsComment, .icon-newsStore, .icon-newsShop, .icon-newsRadio, .icon-newsPhone, .icon-newsQues, .icon-newsSetting, .icon-newsCalender, .icon-newsCrop, .icon-newsBack, .icon-verified, .icon-recommend, .icon-rated, .icon-executed, .icon-recent, .icon-name, .icon-today, .update li:before, .icon-videoWacth, .proceedBtn.prev a, .icon-manStore, .icon-time, .icon-secProgrm, .icon-secDay, .icon-secTime, .icon-lockTime, .icon-teaser, .icon-seqIcon, .icon-proIcon-9, .icon-proIcon-10, .icon-proIcon-11, .icon-proIcon-12, .icon-proIcon-13, .icon-proIcon-14, .icon-proIcon-15, .icon-proIcon-16, .icon-proIcon-17, .icon-close, .icon-plus, .close-Icon, .overlay:after, .icon-assign, .icon-comment, .icon-proAttached, .icon-world, .icon-weather, .icon-entertainment, .icon-biness, .icon-govern, .icon-program{
      background:url(/images/sprite.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      height: 22px;
      width: 20px;
      display: inline-block;
}
.icon-stories { background-position: 0px -39px !important; width: 20px; height: 24px; }
.icon-pakistan { background-position: 0px -64px !important; width: 21px; height: 21px; }
.icon-politics { background-position: 0px -87px !important; width: 18px; height: 22px; }
.icon-world { background-position: -47px -42px !important; width: 20px; height: 20px; }
.icon-weather { background-position: -51px -143px !important; width: 20px; height: 20px; }
.icon-entertainment { background-position: -47px -118px !important; width: 24px; height: 20px; }
.icon-biness { background-position: -45px -91px !important; width: 22px; height: 22px; }
.icon-govern { background-position: -45px -67px !important; width: 22px; height: 21px; }
.icon-business { background-position: 0px -110px !important; width: 17px; height: 22px; }
.icon-sports { background-position: 0px -134px !important; width: 20px; height: 21px; }
.icon-healthcare { background-position: 0px -157px !important; width: 22px; height: 22px; }
.icon-travel { background-position: 0px -180px !important; width: 29px; height: 21px; }
.icon-showmore { background-position: 0px -203px !important; width: 22px; height: 10px; }
.icon-news { background-position: -2px -687px !important; height: 22px; width: 20px; }
.icon-newsHome { background-position: -2px -258px !important; width: 20px; height: 21px; }
.icon-newsPeople { background-position: -1px -282px !important; width: 24px; height: 21px; }
.icon-newsVideo { background-position: -3px -306px !important; width: 23px; height: 21px; }
.icon-newsSearch { background-position: -1px -330px !important; width: 18px; height: 21px; }
.icon-newsBook { background-position: -2px -234px !important; width: 20px; height: 22px; }
.icon-newsWorld { background-position: -1px -353px !important; width: 23px; height: 22px; }
.icon-newsTv { background-position: -2px -376px !important; width: 25px; height: 23px; }
.icon-newsComment { background-position: -1px -399px !important; width: 25px; height: 22px; }
.icon-newsStore { background-position: -4px -422px !important; width: 20px; height: 23px; }
.icon-newsShop { background-position: -3px -446px !important; width: 18px; height: 23px; }
.icon-newsRadio { background-position: -3px -469px !important; width: 22px; height: 23px; }
.icon-newsPhone { background-position: -2px -493px !important; width: 22px; height: 22px; }
.icon-newsQues { background-position: -3px -518px !important; width: 23px; height: 21px; }
.icon-newsSetting { background-position: -3px -542px !important; width: 22px; height: 23px; }
.icon-newsCalender { background-position: -22px -215px !important; height: 20px; width: 15px; }
.icon-newsCrop { background-position: -36px -213px !important; width: 20px; height: 18px; }
.icon-newsBack { background-position: -52px -236px !important; width: 20px; height: 18px; }
.icon-verified { background-position: -52px -546px !important; width: 14px; height: 14px; }
.icon-recommend { background-position: -2px -571px !important; width: 14px; height: 14px; }
.icon-rated { background-position: -19px -571px !important; width: 14px; height: 16px; }
.icon-executed { background-position: -37px -570px !important; width: 14px; height: 14px; }
.icon-recent { background-position: -53px -571px !important; width: 14px; height: 14px; }
.icon-name { background-position: -1px -588px !important; width: 16px; height: 16px; }
.icon-today { background-position: -25px -587px !important; width: 16px; height: 16px; }
.icon-time { background-position: -50px -587px !important; width: 16px; height: 16px; }
.icon-videoWacth { background-position: -3px -626px !important; width: 25px; height: 23px; }
.icon-manStore { background-position: -2px -657px !important; width: 23px; height: 23px; }
.icon-read { background-position: 3px -329px !important; width: 25px; height: 23px; }
.icon-relVideo { background-position: -22px -328px !important; width: 23px; height: 23px; }
.icon-relPlay { background-position: -48px -328px !important; width: 23px; height: 23px; }
.icon-relAudio { background-position: -75px -328px !important; width: 23px; height: 23px; }
.icon-relPlayer { background-position: -102px -328px !important; width: 23px; height: 23px; }
.icon-relAttache { background-position: -127px -328px !important; width: 23px; height: 23px; }
.icon-secProgrm { background-position: -3px -747px !important; width: 20px; height: 20px; }
.icon-secDay { background-position: -28px -768px !important; width: 17px; height: 20px; }
.icon-secTime { background-position: -49px -747px !important; width: 20px; height: 20px; }
.icon-lockTime { background-position: -2px -768px !important; width: 20px; height: 20px; }
.icon-teaser { background-position: -48px -767px !important; width: 20px; height: 20px; }
.icon-seqIcon { background-position: -29px -747px !important; width: 20px; height: 20px; }
.icon-proIcon-9 { background-position: 0px -865px !important; width: 22px; height: 18px; }
.icon-proIcon-10 { background-position: -25px -863px !important; width: 22px; height: 20px; }
.icon-proIcon-11 { background-position: -26px -886px !important; width: 20px; height: 18px; }
.icon-proIcon-12 { background-position: -51px -903px !important; width: 13px; height: 18px; }
.icon-proIcon-13 { background-position: 1px -955px !important; width: 22px; height: 15px; }
.icon-proIcon-14 { background-position: 2px -887px !important; width: 22px; height: 18px; }
.icon-proIcon-15 { background-position: -48px -887px !important; width: 15px; height: 15px; }
.icon-proIcon-16 { background-position: -2px -969px !important; width: 15px; height: 15px; }
.icon-proIcon-17 { background-position: -53px -863px !important; width: 15px; height: 15px; }
.icon-proIcon-15:hover { background-position: -2px -984px  !important; }
.icon-proIcon-17:hover { background-position: -26px -924px !important; }
.icon-close { background-position: -26px -924px !important; width: 12px; height: 12px; }
.icon-comment { background-position: 0px -865px !important; width: 22px; height: 18px; }
.icon-proAttached { background-position: 0px -865px !important; width: 22px; height: 18px; }
.icon-assign { background-position: -1px -927px !important; width: 20px; height: 25px; }
.icon-plus { background-position: -45px -921px !important; width: 20px; height: 20px; }
.close-Icon { background-position: -56px -866px !important; width: 10px; height: 10px; }
li.newsActive .icon-news { background-position: -2px -212px !important; }
.icon-videos {background-position: -83px -502px;height: 24px !important;width: 20px;}
.icon-calender {background-position: -83px -475px;height: 24px !important;width: 20px;}
.icon-timer {background-position: -83px -445px;height: 24px !important;width: 20px;}
.icon_court{background-position:-46px -1px !important;width:24px;height:24px;margin:-3px 0 0 15px}
.icon_defence{background-position:-134px 0 !important;width:22px;height:25px;margin:-3px 0 0 15px}
.icon_crime{background-position:-90px -6px !important;width:24px;height:15px;margin:-3px 0 0 15px}
.icon_food{background-position:-264px 0 !important;width:22px;height:25px;margin:-3px 0 0 15px}
.icon_travel{background-position:-725px -1px !important;width:24px;height:24px;margin:-3px 0 0 15px}

.icon_religion{background-position:-552px 0 !important;width:19px;height:25px;margin:-3px 0 0 15px}
.icon_history{background-position:-394px 0 !important;width:18px;height:25px;margin:-3px 0 0 15px}
.icon-health{background-position:-350px -1px !important;width:24px;height:24px;margin:-3px 0 0 15px}
.icon_science{background-position:-591px 0 !important;width:24px;height:25px;margin:-3px 0 0 15px}
.icon-technology{background-position:-680px -2px !important;width:24px;height:22px;margin:-3px 0 0 15px}
.icon_edu{background-position:-176px -6px !important;width:24px;height:14px;margin:-3px 0 0 15px}
.icon_others{background-position:-476px -2px !important;width:20px;height:21px;margin:-3px 0 0 15px}

.icon-program{background-position:-3px -659px !important;width:18px;height:20px}
li.newsActive .icon-newsHome,
ul.navigationNews li.newsActive:hover .icon-newsHome { background-position: -49px -258px !important; }
li.newsActive .icon-newsPeople,
ul.navigationNews li.newsActive:hover .icon-newsPeople { background-position: -49px -282px !important; }
li.newsActive .icon-newsVideo,
ul.navigationNews li.newsActive:hover .icon-newsVideo { background-position: -54px -306px !important; }
li.newsActive .icon-newsSearch,
ul.navigationNews li.newsActive:hover .icon-newsSearch { background-position: -40px -330px !important; }
li.newsActive .icon-newsBook,
ul.navigationNews li.newsActive:hover .icon-newsBook { background-position: -80px -235px !important; }
li.newsActive .icon-newsWorld,
ul.navigationNews li.newsActive:hover .icon-newsWorld { background-position: -48px -353px !important; }
li.newsActive .icon-newsTv,
ul.navigationNews li.newsActive:hover .icon-newsTv { background-position: -58px -376px !important; }
li.newsActive .icon-newsComment,
ul.navigationNews li.newsActive:hover .icon-newsComment { background-position: -48px -399px !important; }
li.newsActive .icon-newsStore,
ul.navigationNews li.newsActive:hover .icon-newsStore { background-position: -53px -422px !important; }
li.newsActive .icon-newsShop,
ul.navigationNews li.newsActive:hover .icon-newsShop { background-position: -41px -446px !important; }
li.newsActive .icon-newsRadio,
ul.navigationNews li.newsActive:hover .icon-newsRadio { background-position: -51px -469px !important; }
li.newsActive .icon-newsPhone,
ul.navigationNews li.newsActive:hover .icon-newsPhone { background-position: -52px -495px !important; }

.sidenav .nav-text{
    font-size: 12px;
    margin-left: 13px;
    white-space: nowrap;
    padding-bottom: 7px;
    vertical-align: middle;
}

.sidenav::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.sidenav::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 8px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {}
    .sidenav a {}
}

.top-menu-anc{
    padding:3px !important;
}
.sub-filter{
    /*background:#000;
    color:#fff !important;*/
}
/*Side Nav End*/


.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}


.ui-state-active .ui-icon {
    
    background-image: url(images/ui-icons_454545_256x240.png);
    background-repeat: round;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
    background-repeat: round;
}

.urdufont{
    font-family: 'Jameel Noori Nastaleeq', 'Nafees nastaleeq', 'Nafees Web Naskh', Helvetica, sans-serif !important;
    font-size: 125% !important;
}
.newsImge{

    float: left;
    vertical-align: top;
    margin-right:10px;

}
#newsBox{
    padding: 20px 20px 20px 20px;
    position: fixed;
    left: 30%;
}
.news-detail-info{
    background-color:#E3E3E3;
}

.HighlightNews{

    background-color: yellow;
}

.newsListing{
    overflow-y: scroll;
    height: 480px;
}


@media (min-width: 1200px){
.container {
    width: 1319px !important;
}
}


.ui-state-focus{
    text-decoration:none !important;
    border:1px solid #337AB7 !important;
    background:#337AB7 !important;
    color:#fff !important;
    display: block !important;
}
.ui-state-active{
    text-decoration:none !important;
    border:1px solid #337AB7 !important;
    background:#337AB7 !important;
    color:#fff !important;
    display: block !important;
}

.ticker-action{
     float:right;
    margin-top:15px;
}