﻿<section id="producer-archivalmedia" class="clearfix view">
    <section class="topic-content" style="margin: 0 2px 0 10px;" >
       
        <section class="reportedSec" style="width:100%;height:620px;" >
            <!-- ko template: {name: $root.templates.relatedContent, data: $data.currentNews()} -->
            <!-- /ko -->

        

        </section>
    </section>
</section>
