﻿<section id="tagnews-view-nmsBol" data-mainsection="true" class="view reportNews" data-bind="customScrollBar:{},css :{ unEdited : $root.appdata.currentUser().userType == $root.e.UserType.tagreport}">

    <div class="editingSection" data-bind="with: $root.tmodel ? $root.tmodel : $root.reportnewsView" >
        <div class="heading">
            <!-- ko template:{name:'usercontrol.languageChange', data:language} -->
            <!-- /ko -->
        </div>
       
        <!-- ko template: {name:'news.addtagReporter', data: $data} -->
        <!-- /ko -->
        
    </div>
 



</section>