﻿<section id="tagreport-view-nmsBol" data-mainsection="true" class="main-content view treport-contentview" >



    <div class="parentTagDiv hideVoiceOvernTitle" data-bind="adjustHeight: true, customScrollBar: { callback: null, onTotalScrollOffset: 1500}">
        <!-- ko foreach: {data: $root.freshNewsFilesListPortal()} -->
        <!-- ko template: { name: $root.templates.tagreporfile, data:$data } -->
        <!-- /ko -->
        <!-- /ko -->
    </div>

    
    
</section>