﻿<section class="view reportNews" data-bind="customScrollBar:{}">
    
    @*<!-- ko template: {name:'usercontrol.reportmenubar', data: $data} -->
    <!-- /ko -->*@
   
    <div class="editingSection" data-bind="with: $root.model ? $root.model : $root.reportnewsView">
        <div class="heading">
         
            <!-- ko if: !isTickerView() -->
            <!-- ko template:{name:'usercontrol.languageChange', data:language} -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- ko template: {name:'news.add', data: $data} -->
        <!-- /ko -->

        <!-- ko template: {name:'usercontrol.multiselectusers',data:$data.multiSelectUsers} -->
        <!-- /ko -->
        <div class="tagsinput" style="height: initial;width: 800px;margin-left: 30px;" data-bind="visible:!isTickerView()">
            <!-- ko foreach: multiSelectUsers().selectedItems -->
            <span class="tag"><span data-bind="html:name"></span><a title="Remove" data-bind="click : $parent.multiSelectUsers().removeUser" style="cursor:pointer">x</a></span>
            <!-- /ko -->
        </div>
    </div>
</section>
