﻿<header class="teleprompter-view header headerMenu">
    <div id="newsAlert" class="news-alert" >
        <i class="cross-icon" ></i>
        <figure>
            <img onerror="this.src = '/content/images/producer/noimage.jpg'" width="105" height="60" alt="News">
        </figure>
        <p></p>
        <a href="javascript:;" title="">View Details</a>
    </div>
    <a title="" class="logo">
        <img src="/content/images/producer/logo.png" width="131" height="30" alt="*"></a>
    <ul class="topnav">
        <li><span class="username">Arados Markachanda</span></li>
        <li class="alerts"><a class="btn-alerts" title="alerts" data-bind="rigthMenu,click:$root.resetCounter" style="cursor:pointer"><i class="icon-email">
            <span class="alert" data-bind="text:$root.alertCounter,visible:$root.alertCounter()>0"></span>
            </i></a>
        </li>
        <li>
        <a class="btn-settings" title="settings" data-bind="rigthMenu" style="cursor:pointer"><i class="icon-setting"></i></a> 
        </li>
        <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
    </ul>
</header>
