﻿<header class="teleprompter-view header headerMenu">
    <div id="newsAlert" class="news-alert">
        <i class="cross-icon"></i>
        <figure>
            <img onerror="this.src = '/content/images/producer/noimage.jpg'" width="105" height="60" alt="News" />
        </figure>
        <p></p>
        <a href="javascript:;" title="">View Details</a>
    </div>
    <ul class="topnav-left-teleprompter">

          <li data-bind="AddNewRunDown">
            <img src="/Content/images/teleprompter/addnew.jpg"  class=""  width="20" height="20" />
        </li>

        <li data-bind="UI_Toggler">
            <img src="~/Content/images/teleprompter/runorder.png" class="teleprompter_runorder" width="20" height="20" />

        </li>
         <li data-bind="UI_Toggler">
            <img src="~/Content/images/teleprompter/setting.png" class="teleprompter_setting" width="20" height="20" /></li>

        <li data-bind="click:function(){sendCommand(e.CommandType.LoadToPrompter_Prompter);}">
            <img src="~/Content/images/teleprompter/load.png"  class="teleprompter_play"  width="20" height="20" />
          
        </li>

        <li data-bind="visible:playBtn,click:function(){playBtn(false); 
                                                          pauseBtn(true);
                                                            playPauseFlag(true);
                                                          sendCommand(e.CommandType.PlayPauseToggle_Prompter);
                                                          
                                                        }">
            <img src="~/Content/images/teleprompter/play.png"  class="teleprompter_play"  width="20" height="20" />
          
        </li>
        <li data-bind="visible:pauseBtn,click:function(){pauseBtn(false);
                                                          playBtn(true); 
                                                           playPauseFlag(false);
                                                          sendCommand(e.CommandType.PlayPauseToggle_Prompter);
                                                          
                                                        }">
            <img src="~/Content/images/teleprompter/pause.png"  class="teleprompter_pause"  width="20" height="20" />
        </li>
        <li data-bind="click:function(){sendCommand(e.CommandType.PreviousStory_Prompter);}">
            <img src="~/Content/images/teleprompter/pre.png"  class="teleprompter_pause"  width="20" height="20" />
        </li>
        <li data-bind="click:function(){sendCommand(e.CommandType.NextStory_Prompter);
                                                        }">
            <img src="~/Content/images/teleprompter/next.png"  class="teleprompter_pause"  width="20" height="20" />
        </li>

        <li data-bind="click:function(){sendCommand(e.CommandType.ResetCurrentRunOrder_Prompter);}">
            <img src="~/Content/images/teleprompter/restart.png" class="teleprompter_restart" width="20" height="20" /></li>

        <li data-bind="visible:promptONBtn,click:function(){promptONBtn(false); 
                                                            promptOFFBtn(true);
                                                            sendCommand(e.CommandType.PromptON_Prompter);
                                                           }">
            <img src="~/Content/images/teleprompter/prompt.png" class="teleprompter_prompt"  width="20" height="20" />
            
        </li>
        <li data-bind="visible:promptOFFBtn,click:function(){promptOFFBtn(false); 
                                                             promptONBtn(true);
                                                             sendCommand(e.CommandType.PromptOFF_Prompter);
                                                            }">
            <img src="~/Content/images/teleprompter/promptoff.png" class="teleprompter_promptoff"  width="20" height="20" />

        </li>

        <li data-bind="visible:previewONBtn,click:function(){previewONBtn(false); 
                                                             previewOFFBtn(true);
                                                             sendCommand(e.CommandType.PreviewON_Prompter);
                                                            }">
            <img src="~/Content/images/teleprompter/preview.png" class="teleprompter_preview" width="20" height="20" /></li>
        <li data-bind="visible:previewOFFBtn,click:function(){previewOFFBtn(false); 
                                                              previewONBtn(true);
                                                             sendCommand(e.CommandType.PreviewOFF_Prompter);
                                                            }">
            <img src="~/Content/images/teleprompter/previewOff.png" class="teleprompter_preview" width="20" height="20" /></li>

        <li>
            <img src="~/Content/images/teleprompter/fontstyle.png" width="20" height="20" />
            <ul class="pulldown" data-bind="foreach:FontStyles">
                  <li data-bind="click:setFontStyle,,style: {'background-color': isSelected()? 'red': '#555'}"><a data-bind="text:name"></a></li>
            </ul>
        </li>
        <li>
            <img src="~/Content/images/teleprompter/fontsize.png" width="20" height="20" />
            <ul class="pulldown" data-bind="adjustHeight: true, customScrollBar: { }">
        <li><input type="text" data-bind="value:inputFont" style="float:left; width:80px; padding:2px" name="dfontsize"><input type="button" value="Set" data-bind="click:setFont" style="float:left; cursor:pointer; margin-left:10px; width:50px; padding:2px"></li>
                <!--ko foreach:FontSizes-->
                  <li data-bind="click:setFont,text:value +'px',style: {'background-color': isSelected()? 'red': '#555'}"></li>
                <!--/ko-->
            </ul>
        <li>
            <img src="~/Content/images/teleprompter/speed.png" width="20" height="20" />
            <ul class="pulldown" data-bind="adjustHeight: true, customScrollBar: { }">
            <li><input type="text" data-bind="value:inputScrollSpeed" style="float:left; width:80px; padding: 2px" name="dspeed"><input type="button" value="Set" data-bind="click:setScrollSpeed" style="float:left; cursor:pointer; margin-left:10px; width:50px; padding: 2px"></li>
                <!--ko foreach:scrollSpeeds-->
                  <li data-bind="click:setScrollSpeed,text:value,style: {'background-color': isSelected()? 'red': '#555'}"></li>
                <!--/ko-->
                </ul>
        </li>

        <li class="btn_li">
        <input type="button" value="MOS" style="width: 55px;height: 25px; padding: 2px;" class="btn" data-bind="click:saveSettings,style:{'background-color':mosBtnFlag() ? 'green': 'red'}" /></li>
        <li class="btn_li">
        <input type="button" value="HUB" style="width: 55px;height: 25px; padding: 2px;" class="btn" data-bind="click:connectHub,style:{'background-color':hubBtnFlag() ? 'green': 'red'}" /></li>
        <li class="teleprompter_btn_alert" data-bind="alertDropDown,click:resetCounter">
            <span data-bind="text:$root.alertCounter,visible:$root.alertCounter()>0" style="position:absolute; background-color:red; color:white; width:12px; height:12px; margin-left: 13px;
margin-top: -9px; border-right: 1px white solid; padding-left: 4px; padding-bottom: 4px;"></span>
            <img src="~/Content/images/teleprompter/alert.png" width="20" height="20" />
        <ul class="pulldown_click_alert"  style="display:none;" data-bind="adjustHeight: true, customScrollBar: { },foreach:$root.filterRunOrders">
                  <li data-bind="click:$root.addRunOrder,text:slug" style="padding:7px"></li>
            </ul>
        <li>
            <img src="~/Content/images/teleprompter/profile.png" width="20" height="20" />
            <ul class="pulldown" data-bind="adjustHeight: true, customScrollBar: { }">
              <li><input type="text" data-bind="value:profileName" style="float:left; width:80px; padding: 2px" name="dfontsize"><input type="button" data-bind="click:newProfile" value="Save" style="float:left; cursor:pointer; margin-left:10px; width: 40px; padding: 2px"></li>
                
               <!--ko foreach:profiles-->
       <li data-bind="highLightSelected"><a data-bind="text:name,click:setProfile"></a><img src="~/Content/images/teleprompter/deletedbtn.png" style="float: right;
padding-right: 8px;" width="13" height="13" data-bind="click:deleteProfile" /></li>
               <!--/ko-->

            </ul>
        </li>
        <li data-bind="click:function(){sendCommand(e.CommandType.FlipText_Prompter);}">
            <img src="~/Content/images/teleprompter/flip.png"  class="teleprompter_play"  width="20" height="20" />
          
        </li>
        
    </ul>

    <ul class="topnav">
        <li><span class="username" data-bind="text:$root.userName">Abara</span></li>
       
        <li class="bdl" data-bind="click:redirectToLogin"><a href="javascript:;" title="" class="bol-logo"></a></li>
       
    </ul>
    <input type="File" id="ifile" style="width:0px; height:0px; visibility:hidden"/>
</header>
