﻿<section id="Notifier-Devices-View" class="uploadVideo view">
    <a href="#" class="lnkbtn" data-bind="click: $root.showrow">Add Device</a><br />
    <div data-bind="with: addedRow,visible: showAdd()">
         <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Group Id</th>
                <th>Device Key</th>
                <th>Device Status Id</th>
                <th>Is Mos Device</th>
                <th>Device Type Id</th>
                <th>IP</th>
                <th>Port</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="edit" data-bind="value: name"/>
                </td>
                <td>
                    <select data-bind="options:allGroups,value:groupId, optionsText:'name',optionsValue:'id'">
                    </select>
                </td>
                <td>
                    <input type="text" class="edit" data-bind="value: deviceKey"/>
                </td>
                <td>
                    <select data-bind="options:$root.allDeviceStatuses,value:deviceStatusId, optionsText:'name',optionsValue:'id'">
                    </select>
                </td>
                <td>
                    <input type="checkbox" class="edit" data-bind="checked: isMosDevice"/>
                </td>
                <td>
                    <select data-bind="options:$root.allDeviceTypes,value:deviceTypeId, optionsText:'name',optionsValue:'id'">
                    </select>
                </td>
                <td>
                    <input type="text" class="edit" data-bind="value: ip"/>
                </td>
                <td>
                    <input type="text" class="edit" data-bind="value: port"/>
                </td>
                <td>
                    <a href="#" class="lnkbtn" data-bind="click: $root.addDevice">Save</a>
                    <a href="#" class="lnkbtn" data-bind="click: $root.hiderow">Cancle</a>
                </td>
            </tr>
        </tbody>

    </table>
    
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Group Id</th>
                <th>Device Key</th>
                <th>Device Status Id</th>
                <th>Is Mos Device</th>
                <th>Last Heart Beat Time Str</th>
                <th>Device Type Id</th>
                <th>IP</th>
                <th>Last Updated Date Str</th>
                <th>Port</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: allDevices">
            <tr>
                <td>
                    <label data-bind="text: id"></label>
                </td>
                <td>
                    <label data-bind="text: name, visible: !Editable()"></label>
                    <input type="text" class="edit" data-bind="value: name, visible: Editable()"  />
                </td>
                <td>
                    <label data-bind="text: creationDate"></label>
                </td>
                <td>
                    <select data-bind="options:allGroups,value: groupId, optionsText:'name',optionsValue:'id', visible: !Editable()" disabled="disabled">
                    </select>
                    <select data-bind="options:allGroups,value: groupId, optionsText:'name',optionsValue:'id', visible: Editable()">
                    </select>
                </td>
                <td>
                    <label data-bind="text: deviceKey, visible: !Editable()"></label>
                    <input type="text" class="edit" data-bind="value: deviceKey, visible: Editable()"  />
                </td>
                <td>
                    <select data-bind="options:$root.allDeviceStatuses,value:deviceStatusId, optionsText:'name',optionsValue:'id', visible: !Editable()" disabled="disabled">
                    </select>
                    <select data-bind="options:$root.allDeviceStatuses,value:deviceStatusId, optionsText:'name',optionsValue:'id', visible: Editable()">
                    </select>
                </td>
                <td>
                    <input type="checkbox" data-bind="checked: isMosDevice, visible: !Editable()" disabled="disabled" />
                    <input type="checkbox" class="edit" data-bind="checked: isMosDevice, visible: Editable()"  />
                </td>
                <td>
                    <label data-bind="text: lastHeartBeatTimeStr"></label>
                </td>
                <td>
                    <select data-bind="options:$root.allDeviceTypes,value:deviceTypeId, optionsText:'name',optionsValue:'id', visible: !Editable()" disabled="disabled">
                    </select>
                    <select data-bind="options:$root.allDeviceTypes,value:deviceTypeId, optionsText:'name',optionsValue:'id', visible: Editable()">
                    </select>
                </td>
                <td>
                    <label data-bind="text: ip, visible: !Editable()"></label>
                    <input type="text" class="edit" data-bind="value: ip, visible: Editable()"  />
                </td>
                <td>
                    <label data-bind="text: lastUpdatedDateStr"></label>
                </td>
                <td>
                    <label data-bind="text: port, visible: !Editable()"></label>
                    <input type="text" class="edit" data-bind="value: port, visible: Editable()"  />
                </td>
                <td>
                    <a href="#" class="lnkbtn" data-bind="click: $root.Edit, visible: !Editable()">Edit</a>
                    <a href="#" class="lnkbtn" style="margin-left:10px;" data-bind="click: $root.deleteDevice, visible: !Editable()">Delete</a>
                    <a href="#" class="lnkbtn" data-bind="click: $root.Update, visible: Editable()">Update</a>
                </td>
            </tr>
        </tbody>

    </table>
    
</section>
