﻿<section id="Notifier-Groups-View" class="view">

    <a href="#" class="lnkbtn" data-bind="click: $root.showrow">Add Group</a><br />
    <div data-bind="with: addedRow,visible: showAdd()">
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Group Key</th>
                <th>Parent Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="edit" data-bind="value: name"  />
                </td>
                <td>
                    <input type="text" class="edit" data-bind="value: groupKey"  />
                </td>
                <td>
                    <select data-bind="options:$root.allGroups,value:parentId, optionsText:'name',optionsValue:'id'">
                    </select>
                </td>
                <td>
                    <a href="#" class="lnkbtn" data-bind="click: $root.addGroup">Save</a>
                    <a href="#" class="lnkbtn" data-bind="click: $root.hiderow">Cancle</a>
                </td>
            </tr>
        </tbody>

    </table>
    
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Group Key</th>
                <th>Parent Id</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: allGroups">
            <!-- ko if: id != 0 -->  
            <tr>
                <td>
                    <label data-bind="text: id"></label>
                </td>
                <td>
                    <label data-bind="text: name, visible: !Editable()"></label>
                    <input type="text" class="edit" data-bind="value: name, visible: Editable()"  />
                </td>
                <td>
                    <label data-bind="text: creationDate"></label>
                </td>
                <td>
                    <label data-bind="text: groupKey, visible: !Editable()"></label>
                    <input type="text" class="edit" data-bind="value: groupKey, visible: Editable()"  />
                </td>
                <td>
                    <select data-bind="options:$root.allGroups,value: parentId, optionsText:'name',optionsValue:'id', visible: !Editable()" disabled="disabled">
                    </select>
                    <select data-bind="options:$root.allGroups,value: parentId, optionsText:'name',optionsValue:'id', visible: Editable()">
                    </select>
                </td>
                <td>
                    <a href="#" class="lnkbtn" data-bind="click: $root.Edit, visible: !Editable()">Edit</a>
                    <a href="#" class="lnkbtn" style="margin-left:10px;" data-bind="click: $root.deleteGroup, visible: !Editable()">Delete</a>
                    <a href="#" class="lnkbtn" data-bind="click: $root.Update, visible: Editable()">Update</a>
                </td>
            </tr>
            <!-- /ko-->
        </tbody>

    </table>


</section>
