﻿ <div class="modal fade bs-example-modal-lg addROPopup AddNewRundown"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content popUpBG">
            <div class="modal-header borderbottom">

                <button type="button" class="close" data-dismiss="modal"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> NEW Rundown</h4>
            </div>

        <div class="modal-body popUpBG panels border-color reportBugPanel" style="display:block" >
          
                <div class="panel-body pnlPop" data-bind="with:RundownToInsert">
                 
                    <form class="form-inline">
                    <div class="form-group">
                          <input type="text" class="form-control ReportNameInput" data-bind="value:Name, valueUpdate:'afterkeydown'" id="exampleInputName23" placeholder="Name here">
                    </div>
                    </form>
                    <img src="/Content/images/teleprompter/plus.png" width:"10" height:"10" data-bind="click:$root.addStory" style="cursor:pointer"/>
                    <div class="story">
                        <!--ko foreach:Stories -->
                        <img src="/Content/images/teleprompter/remove.png" width:"10" height:"10" data-bind="click:function(){$root.removeStory($data)}" style="cursor:pointer"/>
                        <input type="text"  class="form-control ReportNameInput" data-bind="value:StorySlug, valueUpdate:'afterkeydown'" id="exampleInputName22" placeholder="story here">
                        <!--/ko-->
                    </div>
                </div>
        
         </div>
		 <div class="modal-footer bordertop" >
                <button type="button" class="btn" data-dismiss="modal" data-bind="click:addNewRundown"> Save</button>
                
            </div>
	    </div>
		 
          
        </div>
    </div>    