﻿ <section class="left-panel border-color">

    <div class="panel panel-default border-color ">
        <div class="panel-heading item-color">
            <h3 class="panel-title">Preview</h3>
        </div>
        <div class="panel-body item-color text-color" data-bind="with:currentItem">
            <!-- ko if:  $data.ThumbnailPath &&  ThumbnailPath != null -->
            <img class="preview_box"  data-bind="attr:{src:ThumbnailPath}"  />
            <!-- /ko -->
            <!-- ko if: typeof ThumbnailPath == 'undefined' || ThumbnailPath == null-->
            <img class="preview_box"  src="content\images\caspar\NoPreview.png" />
            <!-- /ko -->
        </div>
    </div>
           

     <div class=" allRundown-container panel panel-default border-color  border-color panel3" >
                <div class="panel-heading item-color nobdr">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Rundowns" data-bind="value:searchText, valueUpdate:'afterkeydown'">
                          </div>
                    <div class="panel-body"  data-bind="customScrollBar"  style="width:100%; max-height:270px; ">
          
              <ul data-bind="foreach:filteredRundowns" style="height:100%">
        <li data-bind="click:$root.currentSelectedRundown , css: { selected: isSelected() == true },RundownContextMenu" class="hasmenurundown"><span class="glyphicon " aria-hidden="true">
            <label class="icon-align" style="cursor:pointer"  data-bind="text:Name">Rundown</label></span></li>
            </ul>
         </div>
        </div>
          </div>
</section>