﻿ <div class="settingsmenu shellnav casper-view">
    	<div id="allalerts" class="alertmenu">
          <div>
            	<h3>Alerts <span data-bind="text:alertCounter"></span></h3>
                <a data-bind="closeRightPanel" style="cursor:pointer"><i data-position="-105px -43px"></i></a>
            </div>
          <!--ko foreach:$root.allRunOrders-->
               <div class="scrlable" data-bind="click:$root.addRunOrder">
                <div class="item">
                	    <h4 data-bind="text:slug"></h4>
                    </div>
               </div>
           <!--/ko-->
             <ul style="float: left;">
     <li style="margin-left:58px; width:75%; height:30px; margin-top:4px"><input type="text" data-bind="value:searchFlashTemplate,valueUpdate:'afterkeydown'" style="width:100%; height:100%;-webkit-border-radius: 5px; -moz-border-radius: 8px; border-radius: 5px; background:gray url('Content/images/contextMenu/search-black.png') no-repeat 4px 8px; padding:4px 4px 4px 22px;" placeholder="search"/></li>
            <!--ko foreach:$root.filterFlashTemplates-->
            <li style=" padding-top:8px; margin-left:55px; width:75%; height:30px;  border-bottom:1px solid; cursor:pointer" data-bind="text:name"><li> 
            <!--/ko-->
           </ul>

        </div>
        
    	<div id="allstngs" class="stngstmenu">
        	<div>
            	<h3>Settings</h3>
                <a data-bind="closeRightPanel" style="cursor:pointer"><i data-position="104 43"></i></a>
            </div>
            <div>
            	<div class="lnks">
                    <a href="#"><i data-position="121 43"></i> Account Setting</a>
                    <a href="#"><i data-position="138 43"></i> Help</a>
                    <a style="cursor:pointer"><i data-position="-105px -43px"></i> Logout</a>
                    <br /><br /><br /><br /><br /><br />          
                    <a><span>Listening settings</span></a>
            <a><span>Enter MOS Id</span><input type="text" data-bind="value:$root.mosId" style="float:right" /></a>
            <a><span>Enter MOS Port</span><input type="text" data-bind="value:$root.mosPort" style="float:right" /></a>
            <a><input type="button" data-bind="click:$root.saveSettings" style="float:right; cursor:pointer" value="saveAndStart"/></a>
                    <br /><br />
                    <a><span>Connect to casper-server</span></a>
          <a><span>Enter HostName</span></a><input type="text" data-bind="value:$root.hubIp" style="float:right"/>
          <a><span>Enter Port</span></a><input type="text" data-bind="value:$root.ncsPort" style="float:right"/>   
                    <br/>  
          <a><input type="button" data-bind="click:$root.connectCasperServer" style="float:right; cursor:pointer"  value="connect"/></a>
                    <br/>
            <a><input type="button" data-bind="click:function(){$root.sendCasperCommand($root.e.CommandType.DisConnect_Caspar)}" style="float:right; cursor:pointer"  value="Dis-Connect"/></a>
                </div>
            </div>
        </div>
    </div>