﻿<aside style="width:700px" id="rundown-container" class="rundown-panel mainCont" data-bind="DroppableArea :{callBack : $root.updateRundownItemSequence}">
    <div class="panel panel-default border-color" data-bind="with: $root.currentStoryToDisplay" style="border:#171515 1px solid">
        <div class="panel-heading item-color itmCentr" data-bind="with: $root.currentRundown">
            <span class="panel-title" data-bind="text:Name">Rundown</span><span class="navbar-link" style="float:right">
                 <span class="progressLabel" data-bind="text:progressBar" style=" position:absolute; left:850px"></span>
                <span class="progressLabel" style=" position:absolute; left:950px">
<img src="/Content/images/caspar/addfolder.png" title="Add Folder" style="display:none;position:absolute; cursor:pointer; width:25px; height:25px;" data-bind="click:$root.addFolder" />
                </span>
                    <div style="  height: 40px; position: absolute; left:985px; top: 64px;" >

                    <abbr title="Channel 1 Audio"> <div style="width: 8px;float:left;position:absolute;bottom:0;left:0px;">
                @*<div style="background-color:greenyellow; height:0px " data-bind="style:{ height:audioLevelCh1() - 0.3 +'px'}">&nbsp;</div>*@
                
            </div>
            <div style="width:8px;float:left;position:absolute;bottom:0;left:10px;">

                <div style="background-color:greenyellow; height:0px " data-bind="style:{ height:audioLevelCh1()  +'px'}">&nbsp;</div>
                
            </div></abbr>
           
                     <div style="width:8px;float:left;position:absolute;bottom:0;left:22.5px;">
                <div style="background-color:#B0711E; width:3px; height:25px " @*data-bind="style:{ height:audioLevel() -4 +'px'}"*@>&nbsp;</div>
                
            </div>
                    <abbr title="Channel 2 Audio ">
                    <div style="width:8px;float:left;position:absolute;bottom:0;left:30px;">
                <div style="background-color:greenyellow; height:0px " data-bind="style:{ height:audioLevelCh2() +'px'}">&nbsp;</div>
                
            </div>
                     <div style="width:8px;float:left;position:absolute;bottom:0;left:40px;">
                @*<div style="background-color:greenyellow; height:0px " data-bind="style:{ height:audioLevelCh2() -0.4 +'px'}">&nbsp;</div>*@
                
            </div>
                        </abbr>
            <br style="clear: both" />
            </div>
          </span>
        </div>
        <div class="panel-heading item-color itmCentr customSt" data-bind="with: $root.currentRundown" style="border-bottom:none !important; background-color:gray; height:60px" >
            <img src="/Content/images/caspar/arrowL.png" style="position:absolute; cursor:pointer; top: 128px; width:25px; height:25px;" data-bind="click:$root.previousStory" />
            <img src="/Content/images/caspar/arrowR.png" style="position:absolute; cursor:pointer;  top: 128px; z-index:9; left:1000px; width:25px; height:25px" data-bind="click:$root.nextStory" />
            <ul class="nav navbar-nav" style="margin-left:35px; left:35px; width:600px !important">
             <li class="dropdown" style="  width: 600px!important;">
                <!--ko if:   $data.Stories  &&  Stories !== 'null'-->
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:none !important;   width: 600px!important;" data-bind="text:$root.currentStoryToDisplay().StorySlug"></a><span class="caret" style="position:absolute; z-index:99; left:560px; top:25px"></span>
                   <ul class="dropdown-menu" role="menu" style="min-width:699px !important;left: -50px; top:104%;" data-bind="foreach:Stories">
                    <li data-bind="click:function(){ $root.setCurrentStory($index())}"><a data-bind="text:StorySlug"></a></li>
                </ul>
                 <!-- /ko -->
             </li>
           </ul>
        </div>
        <div class="panel-body " id="wrapperRundown" 
            data-bind="foreach: CasparRundownItems, customScrollBar" style="width:100%; height:100%; min-height:570px; max-height:570px; ">
             <div class="sort SortAbleDiv" data-bind="attr:{id:CasparRundownItemId}">
  <article class="listItems hasmenu" data-target=".WindowPopUp" data-bind="attr:{id:CasparRundownItemId,RCIID:CasparRundownItemId,index:$index()}, css: { selected: isSelected() == true },
      popDbl:{videoeditorcaspar: $root.videoeditorcaspar, vidsrc:$root.vidsrc, currentItem:$root.currentItem,templateWindows:$root.templateWindows,templateData:$root.templateData,flashTemplateKeys:$root.flashTemplateKeys,popUpDisplayDecision:$root.popUpDisplayDecision,emptyPopupFlag:emptyPopupFlag,casperMedia:$root.casperMedia,
      visibleFourWindowPopupFlag:visibleFourWindowPopupFlag ,data:$data},CasparContextMenu,DroppableArea :{callBack : $root.updateRundownItemSequence,data:SequenceOrder}">
       <span class="leftSpan sortingHandle" data-bind="style: {'background-color':IsBeingPlayed() ? 'green': IsFailed() ? 'red' :'#B0711E' }"></span>
                <img data-bind="attr:{src:ThumbnailPath} "/>
                <div>
                    <div class="divfirst">
                    <span class="name" data-bind="text:Name,EditRunDownItemName:{data:$data,updateRundownItemProperties:updateRundownItemProperties,property:'Name'}"></span>  </div>
                 <div class="divthird">
                    <label style="margin-left: 57px; margin-top: 4px;"data-bind="text: IsSkipped() ? 'skipped' :''">skipped</label>
                 </div>
                    <!-- ko if:  CasparItemId == $root.e.CasparItemType.Video -->
  <div class="templateDrag" data-bind="attr:{targetTypeId:CasparItemId},DroppableArea:{callBack : $root.updateRundownItemSequence,data:SequenceOrder}" style="width:100px; height:57px; position:absolute; left:530px; top:3px; opacity:1; z-index:100;  display:none"> <span>+</span>
                    </div>
                  <div class="divSixth"><span class="videoTime" data-bind="text:DurationStr"></span></div>
                 <!-- /ko -->
                    <div class="divSixth" style="margin-left:40px"><span class="videoTime" data-bind="text:VideoLayer,EditRunDownItemName:{data:$data,updateRundownItemProperties:updateRundownItemProperties,property:'VideoLayer'}">00:10:20</span></div>
                    <div class="divSixth" style="margin-left:80px"><span class="videoTime" data-bind="text:ResourceTag"></span></div>
                    <!--ko if: $data.Video &&  Video !== 'null'-->
         <!--ko if:   $data.Video.CasparRundownItems   && 
                    Video.CasparRundownItems !== 'null'-->
               <span class="showHide"><label class="expand" data-bind="expandCollapseCRundown,visible:Video.CasparRundownItems.length >0">+</label></span>     
                     <!-- /ko -->
                     <!-- /ko -->
                    
                </div>
     <span class="rightSpan" data-bind="style: {'background-color':IsBeingPlayed() ? 'green': IsFailed() ? 'red' :'#B0711E' }"></span>
            </article>
     <!--ko if: $data.Video  &&  Video !== 'null'-->
         <!--ko if: $data.Video.CasparRundownItems && 
                    Video.CasparRundownItems !== 'null'-->
                <div class=" expansion" style="-moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;  margin-bottom:2.5px">
                    <div><div>
                    <!--ko foreach : Video.CasparRundownItems-->
                     <article class="listItems sort hasmenu subCasparRundownItem" data-target=".WindowPopUp" data-bind="attr:{id:CasparRundownItemId,RCIID:CasparRundownItemId,targetTypeId:CasparItemId}, css: { selected: isSelected() == true },
      popDbl:{videoeditorcaspar: $root.videoeditorcaspar, vidsrc:$root.vidsrc, currentItem:$root.currentItem,templateWindows:$root.templateWindows,templateData:$root.templateData,flashTemplateKeys:$root.flashTemplateKeys,popUpDisplayDecision:$root.popUpDisplayDecision,emptyPopupFlag:emptyPopupFlag,casperMedia:$root.casperMedia ,
      visibleFourWindowPopupFlag:visibleFourWindowPopupFlag, data:$data},CasparContextMenu,expandCollapse">
                <span class="leftSpan sortingHandle" data-bind="style: {'background-color':$parent.IsBeingPlayed() ? 'green': $parent.IsFailed() ? 'red' :'#B0711E' }"></span>
                <img data-bind="attr:{src:ThumbnailPath} "/>
                <div>
                    <div class="divfirst">
                    <span class="name" data-bind="text:Name,EditRunDownItemName:{data:$data,updateRundownItemProperties:updateRundownItemProperties,property:'Name'}"></span>  </div>
                 <div class="divthird">
                    
                    <label style="margin-left:150px; margin-top:14px" data-bind="text: IsSkipped() ? 'skipped' :''">skipped</label>
                <!-- ko if:  CasparItemId == $root.e.CasparItemType.Video -->
                        <div class="divSixth"><span class="videoTime" >00:10:20</span></div>
                 <!-- /ko -->
                     <div class="divSixth" style="margin-left:40px"><span class="videoTime" data-bind="text:VideoLayer,EditRunDownItemName:{data:$data,updateRundownItemProperties:updateRundownItemProperties,property:'VideoLayer'}">00:10:20</span></div>
                     <div class="divSixth" style="margin-left:80px"><span class="videoTime" data-bind="text:ResourceTag"></span></div>
                </div>

                <span class="rightSpan" data-bind="style: {'background-color':$parent.IsBeingPlayed() ? 'green': $parent.IsFailed() ? 'red' :'#B0711E' }"></span>
                
            </article>
                    <!-- /ko -->
  
                </div></div></div>
            <!-- /ko -->
       <!-- /ko -->
                </div>
            
        </div>
    </div>
</aside>
            <aside id="san-container" class="san-container" >
            <div class="panel panel-default border-color">
                <div class="panel-heading item-color">
                          <div class="form-group">
                            <input type="text" class="form-control" data-bind="value:$root.sanSearchText, valueUpdate:'afterkeydown'" placeholder="Enter Text Search">
                          </div>
               </div>
                <div class="search-icons">
                <div class="checkbox-inline">
                    <label>
                  <img src="content\images\caspar\audio.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="audio">
                </label>
               </div>
               <div class="checkbox-inline">
                    <label>
                  <img src="content\images\caspar\video.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="video">
                </label>
               </div>
               <div class="checkbox-inline">
                     <label>
                  <img src="content\images\caspar\image.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="image">
                </label>
               </div>
               <div class="checkbox-inline">
                    <label>
                  <img src="content\images\caspar\template.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="template">
                </label>
               </div>
               <div class="checkbox-inline">
                      <label>
                  <img src="content\images\caspar\all.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="all">
                </label>
               </div>
                    <div class="checkbox-inline">
                      <label>
                  <img src="content\images\caspar\localMedia.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag}" cmd="localMediaArea">
                </label>
               </div>
                    </div>
                
           <div class="panel-body sanSearchArea"  data-bind="customScrollBar:{callback:getSanPagedData}" style="width:100%; height:100%; max-height:550px; padding:0px; display:none">
               <ul data-bind="foreach: $root.sanResult">
   
       <!-- ko if: $data.hasOwnProperty("Location") -->
                   <li data-bind="click:selectSan,DraggableItem,PreviewPopup:{previewItem:$root.previewItem,data:$data},attr:{title:'Caption: '+ Caption+' \n'+'Duration: '+ ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))) + ' \n'+
                           'Date: '+ResourceDate+' \n'+'Location: '+Location,'data-MN':Slug,'data-CIT':ResourceTypeId,'data-Ulr':HighResolutionSource,'data-Target':Guid,'data-extension':FileExt,'data-duration':Duration}" data-popup=".previewPopup">
                       <div style="float: left">
                           <img  data-bind="attr:{src:ThumbUrl, alt:FileTitle}" width="110px" height="110px" />
                       </div>
                       <div class="removeWhileDrag" rel="popover"
                           style="float: right; margin-right: 50px; width: 70px; height: 100px; max-width: 90px;">
                           <span data-bind="trimText:{text: FileTitle ,  length:15}"></span>
                           <span data-bind="trimText:{text: Slug,  length:15}"></span>
                           <span data-bind="trimText:{text: ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))),  length:15}"></span>
                       </div>
                   </li>
       <!-- /ko -->
       <!-- ko ifnot: $data.hasOwnProperty("Location") -->
                   <li data-bind="click:selectSan,DraggableItem,PreviewPopup:{previewItem:$root.previewItem,data:$data},attr:{title:'Caption: '+ Caption+' \n'+'Duration: '+ ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))) + ' \n'+
                           'Date: '+ResourceDate,'data-MN':Slug,'data-CIT':ResourceTypeId,'data-Ulr':HighResolutionSource,'data-Target':Guid,'data-extension':FileExt,'data-duration':Duration}" data-popup=".previewPopup">
                       <div style="float: left">
                           <img  data-bind="attr:{src:ThumbUrl, alt:FileTitle}" width="110px" height="110px" />
                       </div>
                       <div class="removeWhileDrag" rel="popover"
                           style="float: right; margin-right: 50px; width: 70px; height: 100px; max-width: 90px;">
                           <span data-bind="trimText:{text: FileTitle ,  length:15}"></span>
                           <span data-bind="trimText:{text: Slug,  length:15}"></span>
                           
                           <span data-bind="trimText:{text: ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))),  length:15}"></span>
                       </div>
                   </li>
       <!-- /ko -->
               </ul>
           </div>
                 
           <div class="panel-body templateSearchArea"  data-bind="customScrollBar" style="width:100%; height:100%; padding:0px; max-height:550px; ">
               <ul data-bind="foreach:filteredFlashTemplates">      
              <li data-bind="DraggableItem,click:$root.currentSelectedTemplate , css: { selected: isSelected() == true },
          attr:{'data-FTID':FlashTemplateId,'data-CIT':$root.e.CasparItemType.Template,'data-FTN':Name,'data-isLocalMedia':true}">
                    <div style="float: left">
                        <img  data-bind="attr:{src:ThumbnailPath, alt:Name}" width="110px" height="110px" />
                    </div>
                    <div style="float: right; margin-right: 50px; width: 70px; height: 110px; max-width:90px">
                        <span data-bind="trimText:{text: Name,  length:15}"></span>
                    </div>
                </ul>
           </div>

          <div class="panel-body localMediaSearchArea"  data-bind="customScrollBar" style="width:100%; height:100%; padding:0px; max-height:550px; display:none">
               <ul data-bind="foreach:filterlocalBolCgMedia">      
    <li data-bind="click:localSelection,DraggableItem,attr:{'data-MN':Name,'data-CIT':CasparItemId,'data-Ulr':'','data-Target':Name,'data-isLocalMedia':true,'data-extension':''}" >
                    <div style="float: left">   
                        <img src="#"  width="110px" height="110px" />
                    </div>
                    <div style="float: right; margin-right: 50px; width: 70px; height: 110px; max-width:90px">
                        <span data-bind="trimText:{text: Name,  length:15}"></span>
                    </div>
                </ul>
           </div>
          </div>
        </aside>