﻿<div class="view overlay casper-view" data-bind="css: $root.showPopupFlag()==true ? 'showForcely' : 'hideForcely'" ><span data-bind="click:hide" style="float:right; position:absolute; background-color:sandybrown; cursor:pointer">X</span>
     
  

</div>

<div id="effect" class="casper-view xPop view" style="background-color:black; width:900px; height:500px" data-bind="css: $root.showPopupFlag()==true ? 'showForcely' : 'hideForcely'">  

    <canvas id="drawingBoard">
    </canvas>

     <div  data-bind="foreach:rectValueslist" style="margin-top:400px">
        
          @*<span style="float:left; display:inline; margin-top:1px">
               X:     <input type="text" data-bind="value:X" />
               Y:     <input type="text" data-bind="value:Y"/>
               Width: <input type="text" data-bind="value:Width"/>
               Height:<input type="text" data-bind="value:Height"/>
         </span>*@

         Left   <input  id="left" type ="range" min ="0" max="500" step ="50" value ="100"/>
         Right  <input  id="width" type ="range" min ="0" max="500" step ="50" value ="100"/>

      
         Top    <input  id="Top" type ="range" style="writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 100px;
        padding: 0 5px;"  min ="0" max="500" step ="50" value ="100"/>
         Height <input  id="Height" type ="range"  Style="writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 100px;
        padding: 0 5px;" min ="0" max="500" step ="50" value ="100"/>
     </div>



</div>

