﻿<ul class="nav navbar-nav btn-nav">
    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </button>
    </li>
    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
    </li>
    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </button>
    </li>
    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
    </li>
    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </button>
    </li>
    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </button>
    </li>

    <li class="dropdown">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </button>
    </li>
</ul>


