﻿ <div class="modal fade bs-example-modal-lg WindowPopUp" data-bind="windowPopUpDroppableArea"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content popUpBG">
            <div class="modal-header borderbottom">

                <button type="button" class="close" data-dismiss="modal" data-bind="click: onclose"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Data</h4>
            </div>
            <div class="navigation" id="nav_tabs2">
   <ul class="nav nav-tabs navigation border-color-tabs">
  <li  role="presentation" class="text-color item-color border-color li_tab333 fillKey" 
      data-bind="popUpTabsNav:{Decision:popUpDisplayDecision},visible:flashTemplateKeys().length >0"><a class="text-color tab3">FillKey</a></li>
  <li  role="presentation" class="text-color item-color border-color li_tab444 FourWindow" 
      data-bind="popUpTabsNav:{Decision:popUpDisplayDecision},visible:templateWindows().length >0"><a class="text-color template-tab">Window</a></li>
       <li  role="presentation" class="text-color item-color border-color li_tab3335566 transition" 
      data-bind="popUpTabsNav:{Decision:popUpDisplayDecision},visible:currentItem().CasparItemId !== e.CasparItemType.Template"><a class="text-color tab3" >Transition</a></li>
	 
   </ul>
    </div>
            <div class="panels border-color panelWindowPopup modal-body popUpBG" style="height:600px !important">
                
                <div class="window" data-bind="foreach:templateWindows">
                   <!-- ko if: typeof topLeftx !== 'undefined'  &&   typeof topLefty !== 'undefined' -->
                  <div class="window1" data-bind="attr{FTWId:FlashTemplateWindowId}, windowPopUpDroppableArea,style : { width:width + 'px', height: height + 'px', left:topLeftx + 20 + 'px',top:topLefty + 20 + 'px'}">
           <div class="window1 dim"
             data-bind="style : { width:width + 'px', height: height + 'px',  backgroundImage:'url('+$root.sanPath().replace('[NAME]', FileName())+')'}"></div>          
                       <ul class="nav navbar-nav drpbtnSelect">
                            <li class="dropdown">
          @*<a class="dropdown-toggle drptop" data-toggle="dropdown" role="button" aria-expanded="false"><span class="Name" data-bind="text:FileName()"></span></a>*@
                           
                            </li>
                        </ul> 
                       </div>
                     <!-- /ko -->
                </div>
                 <div class="modal-footer bordertop">
                <button type="button" class="btn" data-dismiss="modal" data-bind="click:saveData"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Save</button>
                
            </div>
            </div>
        <div class="TempalateWindowsSanArea" data-bind="visible:templateWindows().length >0" style="max-height:540px;display:block" >
             <input type="text" class="form-control" data-bind="value:mediaSearchText, valueUpdate:'afterkeydown'" placeholder="Enter Text Search">
                <div class="search-icons">
                  
               <div class="checkbox-inline">
                    <label>
                  <img src="content\images\caspar\video.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="video">
                </label>
               </div>
               <div class="checkbox-inline">
                     <label>
                  <img src="content\images\caspar\image.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="image">
                </label>
               </div>
              
               <div class="checkbox-inline">
                      <label>
                  <img src="content\images\caspar\all.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag,sanSearchTypeId:sanSearchTypeId}" cmd="all">
                </label>
               </div>
                    <div class="checkbox-inline">
                      <label>
                  <img src="content\images\caspar\localMedia.png" data-bind="sanAreaTabs:{searchFlag:$root.searchFlag}" cmd="localMediaArea">
                </label>
               </div>
                    </div>

            <div class="panel-body sanSearchArea"  data-bind="customScrollBar:{callback:getSanPagedData}" style="width:100%; height:100%; max-height:428px; padding:0px; display:block">
               <ul data-bind="foreach: $root.sanResult">
                   
       <!-- ko if: $data.hasOwnProperty("Location") -->
          <li class="windowDrop" data-bind="DraggableItem,attr:{title:'Caption: '+ Caption+' \n'+'Duration: '+ ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))) + ' \n'+
                           'Date: '+ResourceDate+' \n'+'Location: '+Location,'data-MN':Slug,'data-CIT':ResourceTypeId,'data-Ulr':HighResolutionSource,'data-Target':Guid,'data-extension':FileExt}">
                       <div style="float: left">
                        <img  data-bind="attr:{src:ThumbUrl, alt:FileTitle}" width="75px" height="75px" />
                       </div>
                      <div style="float: right; margin-right: 25px; width: 40px; height: 100%; max-width: 50px;">
                           <span data-bind="trimText:{text: Slug ,  length:15}"></span>
                           <span data-bind="trimText:{text: ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))),  length:15}"></span>
                         
                       </div>
                   </li>
       <!-- /ko -->
                         
       <!-- ko ifnot: $data.hasOwnProperty("Location") -->
          <li class="windowDrop" data-bind="DraggableItem,attr:{title:'Caption: '+ Caption+' \n'+'Duration: '+ ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))) + ' \n'+
                           'Date: '+ResourceDate,'data-MN':Slug,'data-CIT':ResourceTypeId,'data-Ulr':HighResolutionSource,'data-Target':Guid,'data-extension':FileExt}">
                       <div style="float: left">
                        <img  data-bind="attr:{src:ThumbUrl, alt:FileTitle}" width="75px" height="75px" />
                       </div>
                      <div style="float: right; margin-right: 25px; width: 40px; height: 100%; max-width: 50px;">
                           <span data-bind="trimText:{text: Slug ,  length:15}"></span>
                           <span data-bind="trimText:{text: ((~~(Duration / 3600) < 10 ? '0' : '') + ~~(Duration / 3600))+':'+((~~(Duration / 60) < 10 ? '0' : '') + ~~(Duration / 60))+':'+(((Duration-(~~(Duration / 60)*60)) < 10 ? '0' : '') + (Duration-(~~(Duration / 60)*60))),  length:15}"></span>
                         
                       </div>
                   </li>
       <!-- /ko -->
               </ul>
           </div>
           
           <div class="panel-body localMediaSearchArea"  data-bind="customScrollBar" style="width:100%; height:100%; padding:0px; max-height:428px; display:none">
                    <ul data-bind="foreach:filterlocalBolCgMedia">      
        <li class="windowDrop" data-bind="DraggableItem,attr:{'data-MN':Name,'data-CIT':CasparItemId,'data-Ulr':'','data-Target':Name,'data-isLocalMedia':true,'data-extension':''}" >
                        <div style="float: left">   
                            <img  data-bind="attr:{src: 'http://10.3.37.11/cgmediathumbs/'+Name+'.png', alt:Name}" width="75px" height="75px" />
                        </div>
                        <div style="float: right; margin-right: 25px; width: 40px; height: 100%; max-width:50px">
                            <span data-bind="trimText:{text: Name,  length:15}"></span>
                        </div>
                    </ul>
                </div>
           </div>
        

        <div class="TempalateWindowsDecklinkPanel" data-bind="visible:templateWindows().length >0">
                 <ul data-bind="foreach: $root.deckLinkInput">
                   <li class="windowDrop" data-bind="DraggableItem, attr:{'data-CIT':CasparItemId,'data-Target':Device}">
                       <div style="float: left">
                        <img  data-bind="attr:{src:Thumb}" width="75px" height="75px" />
                       </div>
                       <div style="float: right; margin-right: 25px; width: 40px; height: 100%; max-width: 50px;">
                           <span data-bind="text:Name"></span>

                       </div>
                   </li>
               </ul>
           </div>
         <div class="modal-body popUpBG panels border-color panelDataPopup keyVal" style="height:600px !important">
                <div class="panel-body pnlPop" style="background:none" data-bind="customScrollBar">
                    <ul class="nav navbar-nav" style="float:right; margin-top:22px !important ; margin-right:120px !important">
                                <li class="">
                                    <a href="#" class="dropdown-toggle dropdownLanguage drptop allignRight" data-toggle="dropdown" role="button" aria-expanded="false">ENGLISH<span class="caret"></span></a>
                                   <ul class="dropdown-menu" role="menu">
                                        <li><a class="SelectUrdu" data-bind="ChangelanguagePopUp:{des:'.txtEditor',src:'.dropdownLanguage',selectedLanguage:selectedLanguage}">URDU</a></li>
                                        <li><a class="SelectEnglish" data-bind="ChangelanguagePopUp:{des:'.txtEditor',src:'.dropdownLanguage',selectedLanguage:selectedLanguage}">ENGLISH</a></li>
                                    </ul>
                                </li>
                            </ul>
                <div data-bind="foreach:templateData">
                     <form class="form-inline" style="margin-top:20px">
                    <div class="form-group templateDataFocus">
                     <label for="exampleInputName2" data-bind="text:TemplateDataKey">Name</label>
            <textarea style="margin-left:20px;"  class="form-control txtEditor" data-bind="value:TemplateDataValue,valueUpdate:'afterkeydown'" placeholder="Insert value here"></textarea>
                    </div>
                    </form>
                </div>

                   <button type="button" style="margin-left:545px; margin-top:30px" class="btn btnpm" data-bind="click:addFlashTemplateKeyValue">Save</button>
                </div>
            </div>
         <div class="modal-body popUpBG panels border-color transitionPanel transPnl" style="height:600px !important">
            <!-- ko if: currentItem() && currentItem().CasparItemId  -->
                <div class="panel-body pnlPop" data-bind="with:currentItem">
                    <!-- ko if: CasparItemId !== $root.e.CasparItemType.Template -->

                    <div class="input-group">
  <span class="input-group-addon"><label class="col-sm-2 control-label lblpopUP"> TRANSITION </label></span>
  <ul class="nav navbar-nav transition" >
                    <li class="">
      <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span data-bind="text:currentTransition()!==null ? currentTransition().cmd : 'Select' "></span><span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu" data-bind="foreach:transitions">
                    <li data-bind="click:function(){$root.setTransition($data,$element)};, css: { selected: isSelected }"><a data-bind="text:cmd"></a></li>
                     </ul>
                    </li>
              </ul>
</div>
                    <div class="input-group">
  <span class="input-group-addon"  ><label class="col-sm-2 control-label lblpopUP"> TWEEN </label></span>
   <ul class="nav navbar-nav tween" >
                    <li class="">
                     <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span data-bind="text:currentTween()!==null ? currentTween().cmd : 'Select' "></span><span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu" data-bind="foreach:tween,customScrollBar" style="max-height:200px"">
                        <li data-bind="click:$root.setTween, css: { selected: isSelected }"><a data-bind="text:cmd"></a></li>
                     </ul>
                    </li>
              </ul>
</div>
                       <div class="input-group">
  <span class="input-group-addon" ><label class="col-sm-2 control-label lblpopUP"> DIRECTION </label></span>
  <ul class="nav navbar-nav direction" >
                    <li class="">
                     <a  class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"><span data-bind="text:currentDirection()!==null ? currentDirection().cmd : 'Select' "></span><span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu" data-bind="foreach:direction">
                        <li data-bind="click:$root.setDirection, css: { selected: isSelected }"><a data-bind="text:cmd"></a></li>
                     </ul>
                    </li>
              </ul>
</div>
                     <div class="input-group">
  <span class="input-group-addon"><label class="col-sm-2 control-label lblpopUP"> DELAY </label></span>
 <input class="delayInput" type="text" data-bind="value:$root.setDelay, valueUpdate:'afterkeydown'"  />
</div>

                  <div class="input-group">
  <span class="input-group-addon"><label class="col-sm-2 control-label lblpopUP"> DURATION </label></span>
 <input class="durationInput" type="text" data-bind="value:$root.setDuration, valueUpdate:'afterkeydown'"  />
</div>

                    <!-- ko if: CasparItemId == $root.e.CasparItemType.Video -->
                     
                      <div class="input-group">
  <span class="input-group-addon"><label class="col-sm-2 control-label lblpopUP"> LOOP </label></span>
    <input class="loopInput" type="checkbox" data-bind="checked:Video.Loop"/>
</div>
                   <div class="input-group">
  <span class="input-group-addon"><label class="col-sm-2 control-label lblpopUP"> FREEZ ON LOAD </label></span>
      <input class="freezOnloadInput" type="checkbox" data-bind="checked:Video.FreezeOnLoad"/>
</div>
                    <!--/ko-->
                    <!--/ko-->
                </div>
             <!--/ko-->
            <div class="modal-footer bordertop" style="margin-top:220px" >
                <button type="button" class="btn"  data-bind="click:saveTransitionPopupPanel"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Save</button>
                
            </div>
         </div>
		 
		 <div class="modal-body popUpBG panels border-color playerPanel" style="height:600px !important">

		
		<div class="video-container one" data-bind="with:videoeditorcaspar">
    <video class="video" style="height: 56%; width: 100%" data-bind="videoEditorCasparCG:{videoControlElement:videoControlElement},attr:{src: vidsrc}">
        <source src="Wildlife.mp4" type="video/mp4">
        <p>
            Your browser doesn't support HTML5 videso...
        </p>
    </video>
    <div class="video-controls">
	 <button type="button" class="prev" data-bind="click:backward"></button>
        <button type="button" class="play" data-bind="click: play"></button>
		<button type="button" class="next" data-bind="click:forward"></button>
		<button type="button" class="showpreview" data-bind="click: onpreview">Show Preview</button>
		
		
        <div class="bar" data-bind="videoEditorBarCasparCG:{cl:cl,videoselectionfrom:videoselectionfrom, videoselectionto:videoselectionto, totalSelections:totalSelections,videoControlElement:videoControlElement,
		videoCurrentTime:videoCurrentTime,videoDuration:videoDuration,factor:factor,startBuffering:startBuffering}">
            <div class="progressbar" style="width:0"></div>
             <!--ko foreach:totalSelections-->
             <div class='myDivClass' data-bind="style:{width:width + 'px', left: Left +'px'},resizableCasparCG:{
			 videoControlElement:$parent.videoControlElement,factor:$parent.factor,
			 totalSelections:$parent.totalSelections, item: $data, videoselectionfrom:$root.videoselectionfrom, videoselectionto:$root.videoselectionto}">
             </div>
             <!--/ko-->
        </div>
        
        <span class="timer"><span data-bind="text:currentTime()"></span> / <span data-bind="text:duration"></span></span>
    </div>
    <div style="font-size:11px">
        Ctrl + Click for selection
    </div>
           <div class="modal-footer bordertop" data-bind="with:templateWindows">
                <button type="button" class="btn" data-dismiss="modal" data-bind="click:saveData"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Close</button>
                
            </div>
</div>
		
 
</div>
          
	    </div>
		 
          
        </div>
    </div>   