﻿<div id="content-viewer-crop">
    <div id="contentviewer-overlay" class="myNewsPanelHeader view overlay custompop" data-bind="css:contentViewerControlCrop.isPopUpVisible() ?'showForcely' : 'hideForcely'"></div>
    <div id="content-viewers" class="xPop myNewsPanelHeader view custompop" data-bind="css:contentViewerControlCrop.isPopUpVisible() ?'showForcely disable-text-selection' : 'hideForcely disable-text-selection'">
@*        <div class="imageSection">
            <a href="javascript:;" class="prev" style="display: none"></a>
            <div class="slideImg">
                <canvas style="margin-left: 0px; float: left; cursor: crosshair; display: initial !important; border: 1px solid white;" id="myCanvas"></canvas>
            </div>
            <div class="edtdv" style="width: 242px; float: left; padding-left: 21px;">
                <div class="conbtrollButtons" style="float: left">
                    <input data-tooltip="CropRectangle" type="button" id="lasso3" class="cropbutrect" data-bind="click:$root.lasso3Cropp" title="CropRectangle">
                    <input data-tooltip="Crop Points" type="button" id="lasso1" class="cropbut" data-bind="click:$root.lasso1Cropp" title="Crop Points">
                    <input data-tooltip="CropLine" type="button" id="lasso2" class="cropbutline" data-bind="click:$root.lasso2Cropp" title="CropLine">
                    <input data-tooltip="Refresh Canvas" type="Button" id="reset" class="resetButton" data-bind="click:$root.resetCanvasCrop" title="Refresh Canvas">
                    <input type="Button" id="submitCoordinates" value="Submit" data-bind="click:$root.submitCropCoordinate" class="croppedPoints" />
                </div>
            </div>
            <a href="javascript:;" class="next" style="display: none"></a>
        </div>*@
        @*<div class="close" data-bind="click:$root.toggleContentViewer"></div>*@
    </div>
</div>
