﻿
<div id="content-viewer-main">
    <div id="contentviewer-overlay" class="myNewsPanelHeader1 view overlay custompop" data-bind="css: isVisible() ? 'showForcely' : 'hideForcely'"></div>

    <div id="content-viewer" class="xPop myNewsPanelHeader1 view custompop resize producerpopup" data-bind="css: isVisible() ? 'showForcely disable-text-selection' : '1hideForcely disable-text-selection', navigator">
        <a href="javascript:void(0);" class="prev" data-bind="visible: hasPrevious, click: displayPrevious">
            <i></i>
        </a>

        <div class="imageSection">

            <!-- ko if: currentContent() && currentContent().slug -->
            <div class="slideImg floatleft" data-bind="with: currentContent">
                <div class="leftContent">
                    <div class="leftNews">
                        <div class="newsImage">
                            <figure>
                                <img data-bind="attr:{src: $data.thumbImageUrl}" width="133" height="75" alt="*" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'">
                            </figure>
                        </div>
                        <h3 data-bind="attr:{title:slug}"><a data-bind="trimText: { text: slug, length: 80 }"></a></h3>
                        <ul class="storyDet">
                            <li><a title="Event Date" href="javascript:;" data-bind="text: resourceDateDisplay"></a></li>
                            <li class="last"><a title="Duration" href="javascript:;" data-bind="text: durationDisplay"></a></li>
                        </ul>
                    </div>
                    <div class="contentScare" data-bind="customScrollBar:{}">
                        <p data-bind="html: description"></p>
                        <p class="tags">
                            <span class="tagsinput">
                                <span class="tagsloader" data-bind="visible:resourceMetas().length <= 0" style="text-align: center; float: left; margin-left: 50%;">
                                    <img class="imgNewLoaderProd" src="/Content/images/common/newloader.gif" style="display: block;"></span>
                                <!-- ko foreach : resourceMetas -->
                                <span class="tag" data-bind="html:Value"></span>
                                <!-- /ko -->
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="slideImg" data-bind="css:(currentContent() && currentContent().slug) ? 'slideImg half' : 'slideImg', with: currentContent">

                <!-- ko if: $data.type === $root.e.ContentType.Image -->
                <!-- ko if: $data.isGoogleResource()-->
                <img data-bind="attr:{src:$data.directUlr}" onerror="this.src='/content/images/producer/noimage-730x380.jpg'" class="mainimg">
                <!-- /ko -->

                <!-- ko if: !$data.isGoogleResource()-->
                <img data-bind="attr:{src:$data.url}" onerror="this.src='/content/images/producer/noimage-730x380.jpg'" class="mainimg">
                <!-- /ko -->

                <!-- /ko -->

                <!-- ko if: $data.type === $root.e.ContentType.Video -->
                <!-- ko if: $data.isGoogleResource()-->

                <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.Creporter -->
                <iframe style="width: 70%; height: 100%; border: 1px solid black;" data-bind="attr: {src: $data.embededUrl()}"></iframe>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: !$data.isGoogleResource()-->
                <video class="videoPlayer" data-bind="attr:{src:$data.url}" controls="controls" autoplay="autoplay">
                    <source type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: $data.type === $root.e.ContentType.Audio -->
                <audio controls="controls" data-bind="attr:{src:$data.url}" autoplay="autoplay">
                    <source type="audio/mp3">
                </audio>
                <!-- /ko -->
            </div>
            <div class="slideImg contentstats">
                <span>Media Files </span>
                <span data-bind="text:$root.currentIndex() + 1">1</span>
                <span>of</span>
                <span data-bind="text:$root.contentList().length">30</span>
            </div>
            <div class="slideImg contentstats" style="width: 320px;">
                <a href="javascript:void(0);" style="color: #666;" data-bind="click:function(){$root.downLoadFile(0)}">Download Low Resolution</a> |  
                <a href="javascript:void(0)" style="color: #666;" data-bind="click:function(){$root.downLoadFile(1)}">Download High Resolution</a>
            </div>
            <!-- ko if: currentContent() && !currentContent().slug -->
            <div class="slideImg contentstats" style="float: right; width: 150px; text-align: right; margin-right: 30px;">
                <span data-bind="text:currentContent().resourceDateDisplay">1</span>
            </div>
            <!-- /ko -->

            <a href="javascript:void(0);" class="next" data-bind="visible: hasNext, click: displayNext">
                <i></i>
            </a>

            <div class="popupCheckIcon"><a href="javascript:;" data-bind="visible:$root.router.currentHash() === $root.config.hashes.production.production,click:function(data) {$root.addCurrentResource(currentContent())}"><i class="icon icon-sec icon-check" data-bind="hoverStyle: 'active'"></i></a></div>
            <div class="close" data-bind="click: $root.toggleVisibility,css{'popUpCloseIcon':$root.router.currentHash() === $root.config.hashes.production.production}"></div>

            <!-- ko if: currentContent() && !currentContent().isMarkedFavourite() && !currentContent().isGoogleResource() -->
            <div class="close" data-bind="click: $root.toggleVisibility,css{'popupFavIcon':$root.router.currentHash() === $root.config.hashes.production.production},visible:$root.router.currentHash() === $root.config.hashes.production.production || $root.router.currentHash() === $root.config.hashes.production.topicSelection || $root.router.currentHash() === $root.config.hashes.production.producerArchivalMedia ,click:function(data) {$root.markResourceFavourite(currentContent())}" style="top: 25px; background: url(/content/images/producer/sprite.png) no-repeat 7px -34px; height: 30px; transform: scale(1.2); width: 34px;">
            </div>
            <!-- /ko -->

            <!-- ko if: currentContent() && currentContent().isMarkedFavourite()  && !currentContent().isGoogleResource()-->
            <div class="close" data-bind="click: $root.toggleVisibility,css{'popupUnfav':$root.router.currentHash() === $root.config.hashes.production.production},visible:$root.router.currentHash() === $root.config.hashes.production.production || $root.router.currentHash() === $root.config.hashes.production.topicSelection || $root.router.currentHash() === $root.config.hashes.production.producerArchivalMedia ,click:function(data) {$root.deleteFavouriteResource(currentContent())}" style="top: 25px; background: url(/content/images/producer/favourites.png) no-repeat 0px 0px; height: 30px; transform: scale(1.5); width: 34px;">
            </div>
            <!-- /ko -->

        </div>

    </div>

    <!-- ko if: $root.appdata.currentUser().userType == e.UserType.TickerWriter || $root.appdata.currentUser().userType == e.UserType.TickerProducer  || $root.appdata.currentUser().userType == e.UserType.TickerManager-->

    <!-- ko template: {name:'usercontrol.tickerwriter'} -->
    <!-- /ko -->

    <!-- /ko -->


    <div class="warning changePassword" style="display: none" data-bind="visible:$root.isPasswordChanged()">
        <div class="close" data-bind="click:$root.hidePasswordChange">
        </div>
        <div style="margin-left: 70px; margin-top: 20px;">
            <lable style="padding-right: 45px;">Current Password</lable>
            <input type="password" style="border: 1px solid gray; width: 250px; height: 20px; font-size: 20px;" data-bind="value:$root.currentPassword">
        </div>
        <div style="margin-left: 70px; margin-top: 20px;">
            <lable style="padding-right: 57px;">News Password</lable>
            <input type="password" style="border: 1px solid gray; width: 250px; height: 20px; font-size: 20px;" data-bind="value:$root.newPassword">
        </div>
        <div style="margin-left: 70px; margin-top: 20px;">
            <lable style="padding-right: 45px;">Confirm Password</lable>
            <input type="password" style="border: 1px solid gray; width: 250px; height: 20px; font-size: 20px;" data-bind="value:$root.confirmPassword">
        </div>
        <div style="/* position: absolute; */ margin-top: -109px; margin-left: -17px;">
            <input type="button" value="Submit" class="yes" data-bind="click:$root.submitPassword">
        </div>

    </div>

    <div class="warning" style="display: none;" data-bind="visible:$root.isCreateSegmentVisible()">
        <div class="close" data-bind="click:function() { $root.isCreateSegmentVisible(false)} "></div>
        <div class="eachrow" style="margin-top: 20px;">
            <input class="tickertexbox" type="text" style="direction: rtl; width: 90%; margin-left: 3%;" placeholder="گروپ  کا  نام" data-bind="value:$root.newTickerGroupName" maxlength="90">
        </div>
        <div data-bind="click:$root.createSegment"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue">Save</a></div>
    </div>

     <div class="warning" style="display: none;" data-bind="visible:$root.isTwitterVisible()">
        <div class="close" data-bind="click:function() { $root.isTwitterVisible(false)} "></div>
        <div class="eachrow" style="margin-top: 20px;">
            <input class="tickertexbox" type="text" style="direction: rtl; width: 90%; margin-left: 3%;" data-bind="value:$root.twitterMessage, valueUpdate: 'afterkeydown'" maxlength="140">
        </div>
         <div><span data-bind="text : $root.tweetLength" style="font-size:12px;"></span></div>
        <div data-bind="click:$root.sendTwitterMessage"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue">Tweet</a></div>
    </div>

    <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.Creporter -->
    <div data-bind="visible:$root.isMediaViewVisibleExplorer" id="iframePopup" class="mediaExplorer" style="position: absolute; width: 94%; height: 90%; top: 40px; z-index: 1000000; margin-left: 74px; display: none">
        <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.Creporter -->
        <div class="close" data-bind="click:$root.closeMediaView">
        </div>
        <!--/ko-->
        <!-- ko if: document.location.href.indexOf('producer#') == -1 -->
       
        @*<iframe id="popupIframeFExp" 
            src="/producer#/producer-archivalmedia?isiframe"
            style="width: inherit; height: inherit;"></iframe>*@
        
        <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.Creporter -->
        <iframe name='iframe1' id="childIframe1" data-bind="attr:{src:$root.iframeSrc().length> 0 ? ($root.iframeSrc() + '&'+(new Date()).getTime()) : ''}" style="height: 130%; width: 90%; left: 44px; z-index: 100000; top: 90px; margin-top: -3px; margin-left: 57px;"></iframe>
        <!-- /ko -->
        <!-- /ko -->

    </div>
    <!-- /ko -->
     
    @*<div data-bind="visible:$root.isCreateNewsVisible" id="createNewsPopup" style="position: absolute; width: 94%; height: 90%; top: 40px; z-index: 1000000; margin-left: 74px;">
        <div class="close" id="closeNewsPopUp" data-bind="click:$root.closedCreateNewsPopup" style="background: url(../../Content/images/common/sprite.png) -457px -14px no-repeat; position: absolute; width: 43px; height: 43px; z-index: 1000021; top: -11px; right: 53px; cursor: pointer;">
        </div>
        <iframe id="popupIframeNewsAdd" data-bind="attr:{src:$root.config.views.fieldreporter.reportNews.url}" style="width: inherit; height: inherit;"></iframe>
    </div>*@
     

</div>

<style>
    .tickertexbox {
        border-radius: 2px;
        border: 1px solid #3079ed;
        width: 300px;
        text-align: right;
        font-family: 'Jameel Noori Nastaleeq', 'Nafees Web Naskh';
        font-weight: 400;
        color: #282828;
        font-size: 20px;
        line-height: 28px;
    }

    .warning {
        position: absolute;
        width: 400px;
        margin-left: 0px;
        height: 100px;
        left: 35%;
        top: 230px;
        z-index: 1000000;
        border: 1px solid gray;
        background: #fff;
        height: 120px;
    }
</style>
