body{color:@baseTxtColor; background:@bodyBg; font-family: @baseFontFamily; font-size:@baseTxtSize;}
h1, h2, h3, h4, h5, h6{}
p{}
.container{margin:0 auto; position:relative; width:940px;}
.container:after{content:"";display:table;clear:both}
img, a{margin:0px; padding:0px; outline:none !important;}
a{color:@baseLink; text-decoration:none; &:hover{color:@baseLinkHover; text-decoration:underline;}}
#overlay{position:fixed; width:100%; height:100%; left:0; top:0; background:#000; opacity:0.8;filter:alpha(opacity=80); z-index:1000; display:none;}
figure{position:relative; img{width:100%; height:auto;}&:before{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; content: "";}}

::selection{background:@headColor1; color:#fff; text-shadow:none;}
::-webkit-scrollbar {width:4px;}
::-webkit-scrollbar-button:start:decrement,	::-webkit-scrollbar-button:end:increment  {display:none;}
::-webkit-scrollbar-track-piece  {background: #eaeaeb; border: 0;}
::-webkit-scrollbar-thumb {	background-color: #333333; border-radius: 4px;}
::-webkit-scrollbar-thumb:vertical {-webkit-border-radius:0px;	background:#333333;}

#jqcheck{
	background:#fff9d7; text-align:center; color:#333; padding:10px 0px; font-size:13px; font-weight:bold; width:100%;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	&:after{content:"Javascript is disabled. Please enable it for better working experience.";}
	i{
		color: #ffb60b; display: inline-block; vertical-align: middle; position: relative; font-style: normal;overflow: visible; width: 24px; border-bottom: 2px solid; border-radius: 0 0 4px 4px; margin: 19px 2px 6px;
		&:before {content: ''; pointer-events: none; position: absolute; width: 20px; height: 20px; left: 1px; top: -11px; border-width: 2px 0 0 2px; border-style: solid; border-radius: 4px 0; -webkit-transform: rotate(45deg) skew(12deg,12deg); -ms-transform: rotate(45deg) skew(12deg,12deg); transform: rotate(45deg) skew(12deg,12deg);}
		&:after {content: ''; pointer-events: none; width: 3px; height: 3px; top: -12px; box-shadow: inset 0 0 0 30px,0 3px,0 8px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
	}
}

.dtbl{
	display: table; width: 100%; table-layout: fixed;
	.dtd{display: table-cell; vertical-align: top;}
}

.allicons{
	> div{
		display: inline-block; width: 50px; height: 50px; border: 1px solid #333; margin: 5px; text-align: center; border-radius: 5px; .trans;
		&:after{.icocenter;}
		i{font-size: 30px; color: #333; vertical-align: middle; .trans;}
		&:hover{
			background: #333;
			i{
				color: #fff;
				&:after{content:attr(class); text-align: center; position: absolute; left: 0px; bottom: 10px; width: 100%; font-size: 15px; color: #333;}
			}
		}
	}
}

.mCS-minimal{
	&.mCSB_scrollTools{
		.mCSB_dragger .mCSB_dragger_bar{background-color:rgba(51, 51, 51, 0.32);}
		.mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
		.mCSB_dragger:active .mCSB_dragger_bar{background-color: #333;}
	}
}
.mCSB_outside{
	&+.mCS-minimal-dark, &+.mCS-minimal{
		&.mCSB_scrollTools_vertical{margin: 0;}
	}
}
.mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal{margin: 0;}

.linksDv{
	padding: 10px 20px;
	a{display: block; .para(#333, 20px, 0 0 10px);}
}

.urduDv{
	.urdu-nafees;
	input, textarea{.urdu-nafees;}
}

.fpopup{
	.fxdcenter(absolute); z-index: 100; background: rgba(0, 0, 0, 0.7);
	.fpopup1{z-index: 100;}
	.fpopup2{z-index: 120;}
	.fpopup3{z-index: 140;}
	.fpopup4{z-index: 160;}
	.popupNavigation{
		.fxdcenter(absolute);
		.md-button{
			position: absolute; height: 51px;
			&.closeButton{ right: 20px; top: 20px; }
			&.nextButton{ right: 20px; top: 0; bottom: 0; margin: auto; }
			&.prevButton{ left: 20px; top: 0; bottom: 0; margin: auto; }
			&.disabled{
				md-icon{ color: #6f7d8a; }
			}
			md-icon{ .para(#ffffff, 50px,0 ,0);
			}
		}
	}
	.popInner{ margin: 40px 110px 0; position: relative;
	}
	.saveButton, .deleteButton{
		&:hover{ background: #ffffff; }
		position: absolute; right: -21px; top: 30px; background: #f0f0f0; border-radius: 50%; width: 42px; height: 42px; text-align: center; border: 3px solid #b6bdc5; z-index: 9; box-shadow: 1px 1px 1px #b8b8ba;
		md-icon{
			.para(#b6bdc5, 28px,0 ,0);
		}
	}
	.saveButton{
		&.done{ border-color: #ffffff; background: #7fdab7;
			md-icon { color: #ffffff; }
		}
	}
	.deleteButton{ top: 80px; border-color: #ffffff; background: @headColor1;
		&:hover{
			background: @headColor1;
		}
		md-icon{ .para(#ffffff, 20px,0 ,0);
		}
	}
}


[class*=icon-],[class*=icon_]{	font-family: @iconFontFamily; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon-newsBook:before { content: "\e90c"; }
.icon-news:before { content: "\e90d"; }
.icon-program:before { content: "\e90e"; }
.icon-newsStore:before { content: "\e90f"; }
.icon-newsComment:before { content: "\e911"; }
.icon-politics:before { content: "\e913"; }
.icon-newsHome:before { content: "\e914"; }
.icon-newsShop:before { content: "\e915"; }
.icon-biness:before { content: "\e916"; }
.icon-sports:before { content: "\e919"; }
.icon-newsRadio:before { content: "\e91c"; }
.icon-newsSearch:before { content: "\e91d"; }
.icon-newsTv:before { content: "\e920"; }
.icon-newsWorld:before,
.icon-world:before{ content: "\e941"; }

.icon-entertainment:before{ content: "\e93e" }
.icon-health:before{ content: "\e940"; }
.icon-technology:before{ content: "\e91b"; }
.icon-weather:before{ content: "\e947";  }
.icon_court:before{content: "\e93b";}
.icon_crime:before{content: "\e93c";}
.icon_food:before{content: "\e93f";}
.icon_travel:before{    content: "\e946";}
.icon_religion:before{    content: "\e910";}
.icon_science:before{    content: "\e945";}
.icon_edu:before{    content: "\e93d";}
.icon_others:before{    content: "\e943";}
.icon-pakistan:before{    content: "\e942";}

//&-menu:before { content: "\e923"; }
//&-chand:before { content: "\e910"; }
//&-check01:before { content: "\e912"; }
//&-exclaim:before { content: "\e917"; }
//&-foji:before { content: "\e918"; }
//&-fullscreen:before { content: "\e91a"; }
//&-idea:before { content: "\e91b"; }
//&-settings:before { content: "\e91e"; }
//&-star:before { content: "\e91f"; }
//&-vid:before { content: "\e921"; }



