.dialogProceed{
  width: 400px; height: 255px; background: #fff; padding: 30px; box-sizing: border-box; text-align: center;
  [class^="x-"]{ .para(#f05b62, 54px,0 0 30px,0); display: inline-block; }
  p{
    .para(@headColor3, 15px,0 0 30px,0); text-align: center; line-height: 25px;
    strong{ display: block; }
  }
  .md-button{
    display: inline-block; padding: 6px 34px; margin: 0 10px 20px; border-radius: 45px;
    &.grey{
      background: #9da9b5;
      &:hover{ background: #9da9b5; }
    }
  }
}

.feedBackPop{
  .fpopup &{
    background: #fff;
  }
  .dtd{ vertical-align: top; }
  .rightSide{
    background: #f2f2f3; box-shadow: inset 25px 0 20px -20px #d7d7d8;
    .textAreaSec{
      margin: 20px;
      .tickerSec{
        background: #ffffff; border: 1px solid #e3e3e4; border-radius: 4px; margin-bottom: 15px; overflow: hidden;
        label{ .para(#969ca1, 11px, 0, 6px 10px); display: block; border-bottom: 1px solid #e3e3e4; text-transform: uppercase; text-align: right; }
        textarea{
          width: 100%; box-sizing: border-box; padding: 5px 15px; background: #ffffff; border: 0; resize: none;
          &.urdulang{ .urdu-nafees; font-weight: bold; font-size: 18px; line-height: 40px; color: #000000; }
        }
      }
      .voiceSec{
        background: #ffffff; border: 1px solid #e3e3e4; border-radius: 4px; margin-bottom: 15px; overflow: hidden;
        label{ .para(#969ca1, 11px, 0, 6px 10px); display: block; border-bottom: 1px solid #e3e3e4; text-transform: uppercase; text-align: right; }
        textarea{
          width: 100%; box-sizing: border-box; padding: 10px 15px; background: #ffffff; border: 0; resize: none;
          &.urdulang{ .urdu-nafees; font-weight: bold; font-size: 15px; line-height: 35px; color: #000000; }
        }
      }
    }
    .feedBackBar{
      box-shadow: inset 25px 0 20px -20px #d7d7d8; .clearafter; background: #ececee; border-top: 1px solid #e3e3e4; padding: 10px 22px;
      md-icon{ float: left; font-size: 16px; color: #5c656d; position: relative; top: 2px; margin-right: 5px; }
      h3{ font-size: 13px; color: #5c656d; text-transform: uppercase; margin: 0; }
    }
    .feedBackContent{
      .clearafter; padding: 10px 20px 0;
      .scrollDv{
        height: 140px;
        .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{
          right: -15px;
        }
        .mCSB_dragger_bar{
          opacity: 0.5;
        }
      }
      md-radio-group{
        float: left;
        md-radio-button{
          font-size: 13px; color: #696b7e; display: inline-block; margin: 0 10px 0 0;
          .md-container{
            width: 14px; height: 14px; background: #ffffff; border-radius: 50%; overflow: hidden;
            .md-ripple-container{ display: none; }
          }
          .md-on, .md-off{ width: 14px; height: 14px; border-width: 1px; border-color: #ced2d6; }
          .md-on{ background-color: @headColor1; }
          .md-label{ margin-left: 20px; }

          &:not([disabled]).md-primary .md-on{ background-color: @headColor1; }
          .md-checked .md-on { background-color: @headColor1; }

        }
      }
      .firstRow{
        .clearafter;
      }
      .editor-buts{
        float: right;
        li{
          float: left; padding-left: 10px; margin-left: 10px; border-left: 1px solid #dadade;
          &:first-child{ padding-left: 0; margin-left: 0; border-left: 0; }
          .md-button{
            &:hover{ background: none; }
            md-icon{
              &:hover, &.active{ color: @headColor1; }
            }
          }
          .buttonMic{
            md-icon{ font-size: 24px; }
          }
          .buttonKeyboard{
            md-icon{ font-size: 20px; }
          }
        }
      }
      .sendText{
        clear: both; margin: 10px 0; position: relative;
        textarea{ border: 1px solid #e3e3e4; background: #ffffff; padding: 10px 40px 10px 10px; width: 100%; box-sizing: border-box; resize: none; font-size: 12px; border-radius: 4px; }
        .md-button{
          position: absolute; right: 10px; bottom: 10px;
          &:hover{ background: none; }
          md-icon{ font-size: 18px; color: @headColor1; }
        }
      }
      .allComments{
        overflow: hidden;
        li{ position: relative; margin-top: 20px;
          &:first-child{
            margin-top: 0;
          }
          .labelRow{
            position: relative; padding-right: 80px; margin-bottom: 4px;
            h4{
              display: block; .para(#5d646c,11px,0,0 0 0 2px); font-weight: 600;
            }
            span{
              position: absolute; right: 0; top: 0; .para(#5d646c,11px,0,0 2px 0 0); font-weight: 600;
            }
          }
        }
        .pic-Time{
          position: absolute;
          figure {
            width: 36px; height: 36px; overflow: hidden; border-radius: 50px; margin: 0 auto 5px;
            img{ width: 135%; position: absolute; left: -6px; top: -3px; }
          }
          >span{ display: block; text-align: center; font-size: 9px; color: #5c656d; font-weight: bold; }
        }
        .showDetail{ border: 1px solid #e3e3e4; background: #fff; padding: 10px; width: 100%; box-sizing: border-box; resize: none; font-size: 12px; border-radius: 4px; line-height: 18px; color: #5c656d; }
      }
      .options{
        md-checkbox{
          margin: 0px 15px 0px 0px;
          .md-container{display: none;}
          .md-label{
            .para(@baseTxtColor, 11px, 0, 0px); padding-left: 15px;
            i{position: absolute; left: 0px; top: 0px; background: #ccc; .para(#fff, 11px, 0, 0px);}
          }
          &.md-checked{
            .md-label i{background: #7fdab7;}
          }
        }

      }
    }
    .managerTabs{
      background: #ffffff; box-shadow: inset 25px 0 20px -20px #d7d7d8;
      >.scrollDv{
        height: 240px;
        &.disabled{
          .mCSB_container:after{content: ""; .fxdcenter(absolute); margin: auto 20px; z-index: 10; background: rgba(255, 255, 255, 0.2);}
          div[class^="box-"] .allFields.wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered{background: #eee;}
        }
      }
      .tabCtrl{
        display: table; background: #f2f2f3; width: 100%; box-shadow: inset 25px 0 20px -20px #d7d7d8;
        li{
          display: table-cell; padding: 15px 45px 15px 15px; border-left: 1px solid #e3e3e4; min-width: 130px; cursor: pointer; position: relative;
          strong{ .para(#5c656d, 13px, 0, 0); font-weight: 500; }
          &:first-child{
            border-left: 0;
            &.active{ box-shadow: inset 25px 0 20px -20px #d7d7d8; }
          }
          .md-button{
            .para(#fff, 13px, 0 2px, 0); text-align: center; width: 20px; height: 20px; border-radius: 50%; box-sizing: border-box; border: 0; background: @bg-green; position: absolute; right: 15px; top: 15px;
            md-icon { font-size: 10px; color: #fff; line-height: 10px; top: -1px; position: relative; }
          }
          .count{.para(#fff, 10px, 0 2px, 4px 0px); line-height: 12px; min-width: 20px; border-radius: 50%; background: @headColor1; position: absolute; right: 15px; top: 15px; text-align: center;}
          &.active{
            background: #ffffff;
            strong{ .para(@headColor1, 13px,0,0); font-weight: 500; }
          }
        }
      }
      div[class^="box-"]{
        display: none; padding: 20px 20px 0;
        &.active{ display: block; }
        .labelRow{
          margin-bottom: 10px;
          label{ .para(#5a6268, 13px,0,0); font-weight: 600; }
          .md-button{
            color: #9ea8b2; font-size: 11px; text-transform: capitalize; float: right; position: relative; overflow: visible;
            &.noNeed{
              &:before{ content: ''; width: 4px; height: 4px; border-radius: 50%; position: absolute; left: -14px; top: 3px; border: 3px solid #bcc6d0; }
              &:hover, &.active{
                background: none; color: @headColor1;
                &:before{ border-color: @headColor1; }
              }
            }

            &.buttonAdd{
              font-size: 16px; line-height: 13px; background: #e0e4e8; border-radius: 50%; padding: 4px; position: relative; top: -2px;
              md-icon{ color: #a8b2bb; }
            }
            &.buttonAdd:hover, &.buttonAdd.active{
              background: @headColor1;
              md-icon{ color: #ffffff; }
            }
          }
        }
        textarea{
          .para(#89939c, 12px, 0 ,5px 10px); line-height: 20px; border: 1px solid #e3e3e4; background: #fff; width: 100%; box-sizing: border-box; resize: none; border-radius: 4px; min-height: 80px;
          &[disabled]{ background: #eee;}
          &:focus{ border: 1px solid #eaaab1; box-shadow: 0px 1px 4px rgba(234, 179, 185, 0.75); }
        }
        p{
          .para(@baseTxtColor, 13px, 0, 0px); line-height: 20px;
          &.urdulang{.urdu-nafees; font-size: 16px; line-height: 30px;}
        }

        .allFields{
          margin-bottom: 20px;
          .addMore{
            li{
              position: relative; margin-bottom: 10px;
              input[type="text"]{
                border: 1px solid #e3e3e4; background: #ffffff; padding: 7px 40px 7px 7px; line-height: 20px; width: 100%; box-sizing: border-box; font-size: 12px; color: #89939c; border-radius: 4px;
                &[disabled]{ background: #eee;}
                &.urdulang{.urdu-nafees; font-size: 16px; line-height: 30px;}
              }
              .md-button{
                position: absolute; right: 8px; top: 8px; height: 20px; width: 20px; background: none;
                md-icon{ .para(#a8b2bb, 14px,0,0); position: relative; top: -2px; }
              }
              p{
                position: relative;
                &:before{content: "- ";}
              }
            }
          }
          &.wrapper{
            border: 1px solid #e3e3e4; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; margin: 0 0 10px;
            .guestLocSelect{
              display: table; width: 100%; border-top: 1px solid #e3e3e4;
              md-radio-button{
                display: table-cell; font-size: 11px; color: #9ea8b2; padding: 11px 35px 11px 20px; border-left: 1px solid #e3e3e4; min-width: 160px;
                &.md-checked{
                  .md-off{ border-color: @headColor1; }
                  .md-on{ transform: scale(0); }
                }
                .md-off{ border-color: #bcc6d0; border-width: 4px; width: 12px; height: 12px; }
                .md-on{ background-color: #ffffff; width: 12px; height: 12px; }
                &.first{ border-left: 0; }
                .md-container{
                  left: auto; right: 15px; width: 12px; height: 12px; border-radius: 50%; overflow: hidden;
                  &:before{ display: none; }
                  .md-ripple-container{ display: none; }
                }
                .md-label{
                  margin: 0;
                  md-icon{
                    font-size: 18px; margin-right: 10px; color: inherit;
                    &.x-guest-dsng { font-size: 15px; }
                  }
                  span{ position: relative; top: 2px; }
                }
                &.md-checked {
                    .md-label {
                      md-icon{ color: @headColor1; }
                      color: @headColor1;
                    }
                }
              }
              &[disabled]{ background: #eee;}
            }
            textarea{ border: 0; min-height: 80px; font-size: 11px; padding: 10px; }
            .del{
              display: block; .para(#999, 10px, 0, 7px 0px); width: 100%; border-top: 1px solid #e3e3e4;
              md-icon{.para(#999, 16px, -5px 3px -2px, 0px);}
            }
            .onlyOne{
              .select2-selection__rendered{
                li+li{
                  display: none;
                }
              }
            }
            .select2-container--default .select2-selection--multiple{
              border: none; border-bottom: 1px solid #e3e3e4; border-radius: 0;
              &:before { content: "\e5cf"; color: #9ea8b2; font-size: 17px; line-height: 18px; margin: 0; padding: 0; position: absolute; font-family: @iconFontFamily; right: 5px;top: 7px; z-index: 0; }

              .select2-search--inline{
                .select2-search__field{ margin: 0; font-size: 11px; color: #a5a5ae; box-sizing: border-box; padding: 9px; }
              }

              .select2-selection__rendered{ display: block; padding: 0; }
              .select2-selection__choice{ margin: 0; background-color: transparent; border: 0; border-radius: 0; width: 100%; font-size: 12px; color: @headColor3; padding: 10px 35px 10px 10px; line-height: 13px; position: relative; }
              .select2-selection__choice__remove{ position: absolute; right: 10px; top: 8px; font-size: 16px; padding-top: 1px; display: block; width: 18px; height: 18px; border-radius: 50%; background: #a5a5ae; text-align: center; font-weight: 300; color: #f2f2f4; margin: 0; box-sizing: border-box; }
            }
            .guest{
              padding: 10px; border-bottom: 1px solid @borderColor1;
              p{
                .para(@baseTxtColor, 12px, 0 0 4px, 0px); line-height: 16px;
                strong{color: #444; display:block; font-size: 10px; font-weight: normal;}
              }
            }
          }
        }
        .feedBackComments{
          overflow: hidden;
          li{
            position: relative; margin: 20px 0;
            &:first-child{
              margin-top: 0;
            }
            .labelRow{
              position: relative; padding-right: 80px; margin-bottom: 4px;
              h4{
                display: block; .para(#5d646c,11px,0,0 0 0 2px); font-weight: 600;
              }
              span{
                position: absolute; right: 0; top: 0; .para(#5d646c,11px,0,0 2px 0 0); font-weight: 600;
              }
            }
          }
          .pic-Time{
            position: absolute;
            figure {
              width: 36px; height: 36px; overflow: hidden; border-radius: 50px; margin: 0 auto 5px;
              img{ width: 135%; position: absolute; left: -6px; top: -3px; }
            }
            >span{ display: block; text-align: center; font-size: 9px; color: #5c656d; font-weight: bold; }
          }
          .showDetail{ border: 1px solid #e3e3e4; background: #fff; padding: 10px; width: 100%; box-sizing: border-box; resize: none; font-size: 12px; border-radius: 4px; line-height: 18px; color: #5c656d; }
        }
      }
      .footerButtons{
        text-align: right; padding: 10px 20px 15px; margin-top: 5px;
        .reportButton{.para(#fff, 13px, 0 0 0 7px, 7px 40px 7px 20px);}
      }
    }
    &.noFedback{
      .feedBackBar, .feedBackContent{display: none;}
      .managerTabs>.scrollDv{height: 423px;}
      &.pastDay{
        .managerTabs>.scrollDv{height: 481px;}
      }
    }
  }
  .newsDetail2{
    > header {
      position: relative; background: #ffffff; border-bottom: 1px solid #e3e3e4; min-height: 110px; padding: 20px 100px 40px 80px;

      .sideImg {
        position: absolute; left:20px; top: 15px;
        figure {
          border-radius: 50%; width: 50px; height: 50px; overflow: hidden;
          img { width: 150%; position: absolute; left: -11px; top: -2px; height: 114%; }
        }
      }
      h3 {
        .para(#6b7379, 13px, 0 0 5px, 0); line-height: 17px;
        &.urdulang{.urdu-nafees; text-align: left; font-weight: bold; font-size: 11px;}
      }
      p {
        .para(@headColor3, 11px, 0 0 5px, 0); line-height: 15px; text-align: justify;
        &.btmline { .para(#9ea4a8, 11px, 0, 0); line-height: 15px; }
        &.urdulang{.urdu-nafees; text-align: left; font-weight: bold; font-size: 10px; color: #888;}
      }
      .details {
        position: absolute; left: 0px; bottom: 0px; width: 100%; border-top: 1px solid #ececed; .clearafter;
        li {
          float: left; .para(#9ea4a8, 11px, 0, 8px 15px);
          + li { border-left: 1px solid #ececed; }
        }
      }
      .rightButtons{
        position: absolute; right: 20px; top: 20px;
        .buttonRound{
          color: #fff; font-size: 11px; line-height: 14px; margin: 0 2px; padding: 0; text-align: center; width: 20px; height: 20px; display: inline-block; border-radius: 50%; box-sizing: border-box; border: 0; background: @headColor1;
          &.done{
            background: @bg-green; text-align: center;
            md-icon{ font-size: 16px; color: #ffffff; }
          }
        }
        > label{
          .para(#a5a5ae, 11px, 0 3px, 4px 0px); border-radius: 50px; min-width: 20px; text-align: center; background: #eaeaf0; display: inline-block;
          &.verified{
            border-radius: 2px; min-width: 60px;
            &.on{ background: #7fdab7; color: #fff; }
          }
          &.blue{ background: @bg-blue;color: #fff; }
          &.red{ background: #fc6068;color: #fff; }
        }
      }
    }
    > section {
      padding: 0;
      .scrollDv {
        height: 420px; overflow: auto;
        .mCSB_container { padding-right: 15px; }
        header {
          padding: 10px 20px 10px 20px; margin-right: -15px; border-bottom: 1px solid #e3e3e4; background: #f5f5f5;
          h3 {
            .para(#6b7379, 12px, 0, 0); line-height: 20px;
            &.urdulang{.urdu-nafees; text-align: left; font-size: 15px; line-height: 35px;}
          }
        }
        article { padding: 15px 5px 0 20px; }
        p {
          margin: 0px 0px 10px; text-align: justify; color: #969ca1; font-size: 12px;
          &.urdulang{.urdu-nafees; text-align: right; font-size: 17px; line-height: 35px; color: #555;}
        }
        .mediaAttach {
          padding: 15px 5px 20px 20px;
          .clearafter;
          li {
            float: left; margin: 0 6px 6px 0; position: relative; overflow: hidden; border-radius: 3px;
            a { display: block; width: 110px;
              img { margin: 0 0 -4px; width: 100%; height: auto; }
            }
            &.vid {
              position: relative;
              &:after { font-family: 'xicons'; content: "\e905"; background: rgba(0, 0, 0, 0.7); position: absolute; left: 0; right: 0; top: 0; bottom: 0; font-size: 26px; text-align: center; padding-top: 11px; color: #ffffff; cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  &.mediaViewer{
    .newsDetail2{
      >section {
        .scrollDv{ height: 299px; }
      }
      >header{ padding: 20px; min-height: inherit;
        h3{ font-size: 14px; }
        p.btmline{ font-size: 12px; }
        figure{ margin-right: 15px; margin-bottom: 15px; height: 140px; overflow: hidden; background: #000000;
          img{ width: auto; height: auto; max-width: 100%; max-height: 100%; .fxdcenter(absolute); }
        }
      }
      .tagsList{ padding: 0 0 0 20px; margin-top: 15px;
        li{ display: inline-block; background: @headColor1; color: #ffffff; font-size: 11px; text-align: center; padding: 2px 12px; border-radius: 15px; margin: 0px 2px 5px 0; }
      }
    }
    .mediaHolder{
      text-align: center; position: relative; height: calc(~"100vh - 140px"); background: #000;
      >img{width: auto; height: auto; max-width: 100%; max-height: 100%; .fxdcenter(absolute);}
      >.titleSec{position: absolute;}
      >footer{position: absolute;}

    }
  }
}



md-autocomplete {
  button{
    background: #ffffff; z-index: 1;
    md-icon{
      color: #b1bac2;
    }
  }
  .md-whiteframe-z1{
    box-shadow: none; border-bottom: 1px solid #e3e3e4; position: relative;
    &:after{
      font-family: 'xicons'; content: "\e5cf"; position: absolute; right: 10px; top: 5px; margin: auto; font-size: 20px; color: #b1bac2; z-index: 0;
    }
  }
  input:not(.md-input){
    .para(#9ea8b2, 11px ,0 , 0px 0 0 10px);
    font-weight: normal;
  }
}
.autocomplete-dropdownPic{
  li{
    position: relative; background: none; padding: 9px 15px 9px 50px; font-size: 11px; line-height: 20px; height: auto; border-bottom: 1px solid #eceff1;
    figure{
      border-radius: 50%; width: 25px; height: 25px; overflow: hidden; position: absolute; left: 15px; top: 0; bottom: 0; margin: auto;
      img{
        width: 125%; position: absolute; left: -4px; top: -2px; height: 135%;
      }
    }
    &:hover{
      background: #f5f5f5;
      &:before{
        background: @headColor1;
        color: #ffffff;
      }
    }
    &:before{
      font-family: 'xicons'; content: "\e5ca"; position: absolute; right: 15px; top: 0; bottom: 0; margin: auto; font-size: 14px; color: #b9bac2; text-align: center; background: #e0e4e8; width: 20px; height: 20px; border-radius: 50%;
      overflow: hidden;
    }
  }
}
