
.withArrow{
  &:after {
    -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: rgba(115,153,245,0) rgba(115,153,245,0) #fff; border-image: none; border-style: solid; border-width: 4px; bottom: 100%; content: " "; height: 0; pointer-events: none; position: absolute; right: 7px; width: 0;
  }
}


.dpmenu{
  >.md-button{
    padding: 10px 10px 10px 0; padding-right: 25px;
    figure{width: 30px; height: 30px; overflow: hidden; border-radius: 5px; .noselect;  }
    .drpbtn{
      position: absolute; right:0px; top: 13px; color: lighten(@baseTxtColor, 15%); font-size: 20px;
      &:hover{text-decoration: none;}
    }
    &.md-button:not([disabled]):hover{ background: transparent; }
  }
  .md-ripple-container{ display: none; }
}
.dpmenu-drop{
  width: 230px; padding:15px 0; position: relative; overflow: inherit;
  .scrollDv{max-height: 145px; overflow: hidden;}
  h3{
    .para(@headColor3, 13px, 0, 0px 20px 15px);
    font-weight: 500;
  }
  md-menu-item{
    padding: 3px 0;
    >.md-button{
      .para(#adb5bd, 11px, 0, 0); padding-left: 55px; min-height: 25px;
      figure{
        width: 24px; height: 24px; position: absolute; left: 20px; top: 1px; overflow: hidden; border-radius: 3px;
        img{ margin: 0 0 -4px; width: 100%; height: auto; }
      }
      span{display: block;}
      &.md-button:not([disabled]):hover{
        background: none;
      }
      &:before{ font-family: 'xicons'; content: "\e92a"; font-size: 10px; color: #c1c1c7; position: absolute; right: 20px; top: 5px; }
      &:hover, &.active{
        &:before{ color: #fc6c74; }
      }
    }
  }
  &:after, &:before { bottom: 100%; left: 82%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
  &:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 5px; margin-left: -5px; }
  &:before { border-color: rgba(221, 221, 223, 0); border-bottom-color: #dddddf; border-width: 6px; margin-left: -6px; }
}



.optmenu{
  >.md-button{
    padding: 0 5px; margin: 0;
    md-icon{.para(@baseTxtColor, 16px, 0, 0);}
    &.md-button:not([disabled]):hover{ background: transparent; }
  }
  .md-ripple-container{ display: none; }
  &.md-open{
    .md-button{
      md-icon{ color: #fc6068; }
    }
  }
}
.optmenu-drop, .optmenu-drop-nest{
  padding: 0px 15px; min-width: 130px;
  .scrollDv{max-height: 130px; overflow: hidden;}
  md-menu-item{
    md-menu{ padding: 0; margin-bottom: 5px; font-weight: bold;
      .md-button{ background: none; width: 100%; text-align: left; color: #788087; text-transform: capitalize; font-size: 11px; padding: 5px 10px 5px 0;
        md-icon{ color: #9aa2aa; font-size: 15px; position: absolute; right: 0; top: 5px; margin: 0; }
      }
    }
    >.md-button{
      position: relative; .para(@headColor3, 11px, 0, 0 15px 0 0); min-height: 30px; border-bottom: 1px solid #ececed;
      .md-ripple-container{ display: none; }
      &:hover, &.active{
        background: none; color: #fc6068;
        md-icon{ color: #fc6068; }
      }
      md-icon{ position: absolute; right: 0; top: 9px; margin: 0; }
    }
    &.last{
      .md-button{ border: 0; }
    }
    .md-button:not([disabled]):hover{ background: none; }
    .md-button:not([disabled]):focus{ background: none; }
  }
}
.optmenu-drop-nest{

}