/* LESS Document */
.mainBody {
  overflow: hidden; position: fixed; width: 100%; height: calc(~"100% - 50px"); left: 0; top: 50px;
  > div > .mCSB_container { padding: 20px 20px 0px; }
}


.topBar {
  h3 { font-size: 12px; color: #fc7a58; text-transform: uppercase; margin: 15px 20px; font-weight: 600; }
  .searchBar {
    border-left: 1px solid #ecebf0; border-right: 1px solid #ecebf0;
    .searchSection {
      position: relative;
      input { border: 0; width: 100%; font-size: 12px; color: #a5a5ae; padding: 17px 40px 17px 15px; box-sizing: border-box; }
      .x-magnify { position: absolute; right: 15px; margin: auto; top: 0; bottom: 0; font-size: 20px; height: 22px; display: block; }
    }
  }

  .alertSec {
    border-left: 1px solid #ecebf0; vertical-align: middle;
    .alerts {
      color: #ababb3; font-size: 27px; text-align: center;
      li {
        display: inline-block; padding: 0 10px;
        span { background: #ff5a60; display: inline-block; font-size: 11px; color: #fff; padding: 3px 5px; position: relative; line-height: 14px; top: -6px; border-radius: 4px; margin-left: 1px; }
      }
    }
  }
  .fullScreen {
    border-left: 1px solid #ecebf0; text-align: center; vertical-align: middle;
    .x-filter-fullscreen { cursor: pointer; color: #fc666d; font-size: 20px; }
  }
  .topMenu {
    .clearafter;
    >li{
      &:hover{ box-shadow: 0 8px 13px -3px rgba(0,0,0,0.5);
        .dropBox{ display: block; }
      }
      &.sep{ border-left: 1px solid #ecebf0; }
      &.pull-right{ float: right; }
    }
    li {
      .trans; float: left; color: #ababb3; font-size: 20px; min-width: 50px; text-align: center; padding: 3px 5px 4px; border-top: 3px solid transparent; position: relative;
      span {
        .trans; font-size: 12px; margin-top: 5px; margin-left: 0; position: relative; top: -2px; width: 0; height: 0; display: inline-block; overflow: hidden;
        i { font-style: normal; }
      }
      > i { margin-right: 2px; }
      .dropBox{
        .clearafter; .trans; display: none; padding: 20px 0 10px; background: #fff; position: absolute; top: 100%; left: -1px; z-index: 9; min-width: 180px; border: 1px solid rgba(227, 220, 220, 0.38); border-bottom: 3px solid #fc7a58; box-shadow: 0 5px 13px -3px rgba(0,0,0,0.5); border-top: 0;
        .scrollDv{
          border-top: 1px solid #ecebf0; max-height: 140px; overflow: hidden;
          .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{ right: 0; }
        }
        h4{
          font-size: 11px; text-align: left; position: relative; margin: 0 15px 0 20px; color: #788087; font-weight: bold;
          span{ margin: 0; font-size: 11px; font-weight: 700; text-transform: uppercase; }
          i{ font-size: 11px; position: absolute; right: 0px; top: -2px; font-style: normal; }
          md-switch{
            &.md-checked{
              .md-thumb{ background-color: @headColor2; }
            }
            height: auto; margin: 0; position: absolute; right: 0; top: 0;
            .md-thumb{ width: 10px; height: 10px; background: #b0b0b8; }
            .md-thumb-container{ top: 0; width: 10px; }
            .md-bar{ left: 0; width: 20px; top: 0; height: 11px; background: none; border: 1px solid #dcdbe3; }
            .md-container{ margin-right: 0; height: 11px; width: 20px; }
          }
          .switcher{
            .trans; right: -1px; width: 20px; top: 1px; height: 11px; background: none; border: 1px solid #dcdbe3; border-radius: 7px; position: absolute;
            &:before{
              .trans; content: ''; width: 10px; height: 10px; background: #b0b0b8; border-radius: 50%; position: absolute; top: -1px; right: 9px; box-shadow: 1px 1px 1px #b0b0b8;
            }

          }
          &.active{
            color: @headColor1;
            .switcher{
              &:before{ background: @headColor2; right: -1px;}
            }
          }
        }
        ul{
          .clearafter; padding-top: 10px;
          li{
            display: block; font-size: 11px; color: #788087; width: 100%; box-sizing: border-box; text-align: left; padding: 5px 60px 5px 20px;; position: relative; line-height: 15px; border: 0;
            span{ margin: 0; position: relative; top: 1px; display: block; max-width: 200px; .ellipsis;}
            i{ position: absolute; right: 15px; top: 6px; font-style: normal; color:inherit; }
            &:hover{background: #f7f7f7;}
            &.active{color: @headColor1;}
          }
        }

        md-radio-group{
          padding: 0 20px;
          display: block;
          md-radio-group{
            display: block; text-align: left; padding-left: 15px; line-height: 25px;    padding-right: 0;
            md-radio-button{ border-top: 0; vertical-align: top; padding: 0; display: inline-block; line-height: 10px;
              &:first-child{
                .md-label{  border-left: 0;}
              }
              .md-label{ margin-left: 0; border-left: 1px solid #cdcdcd; padding: 0 6px; }
              &.md-checked{
                color: @headColor2;
                .md-label{ color: @headColor2; }
              }
              .md-container{ display: none; }
            }
          }
          md-radio-button{
            .para(#788087,11px,0,7px 0); text-align: left; border-top: 1px solid #ecebf0;
            .md-container{
              width: 9px; height: 9px;
              .md-off, .md-on{ width: 9px; height: 9px; border-width: 1px; border-color: #7b838a; }
              .md-on{ width: 17px; height: 17px; left: -4px; top: -4px; background-color: @headColor2; }
            }
            .md-label{ margin-left: 20px; }

          }
        }
      }

      &:hover, &.active {
        color: #fc7a58; cursor: pointer;
        span { width: auto; height: auto; }
      }
      &.active{
        border-top:3px solid @headColor2;
      }
      &.visible span { width: auto; height: auto; }

    }
  }
  .settingCalender {
    border-left: 1px solid #ecebf0; position: relative;
    .x-filter-settings { cursor: pointer; color: #ababb3; font-size: 27px; position: absolute; left: 12px; top: 11px; }
    date-range-pick { }
  }
  date-single-pick { }
  .dtbl>.dtd+.dtd {border-left: 1px solid #ececed;}
}

.tabController {
  &.topHeading {
    display: table; width: 100%;
    li {
      cursor: pointer; display: table-cell; background: #f2f2f3; border: 1px solid #ececf0; border-bottom: 0; .para(@headColor3, 13px, 0, 13px 20px);
      &.first { border-left: 0; }
      strong { font-weight: normal; text-transform: uppercase; }
      span { display: block; .para(#a5b1bc, 9px, 0, 0); }
      &.active {
        background: #ffffff; border-top: 3px solid #fc6169;
        strong { color: #fc6068; }
      }
    }
  }
}

.filterOpen{
  .topBar .topMenu>li.filterSwitch{color: @headColor2;}
}

.lftShad{
  position: relative;
  .topBar{position: relative; z-index: 10;}
  &:before{box-shadow:20px 10px 15px -20px #ddd inset; content: ""; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; width: 15px; z-index: 5;}
}

.md-button{
  &:not([disabled]){
    &.reportButton {
      position: relative; cursor: pointer; .trans; border: 0; padding: 10px 55px 10px 40px; width: auto; background: #ff5a60; font-size: 13px; color: #ffffff; border-radius: 45px; text-transform: uppercase;
      md-icon{position: absolute; top: 0; bottom: 0; right: 0px; background: #fff; margin: auto; width: 22px; height: 22px; border-radius: 50%; text-align: center; color: #ff5a60;}
      &:hover, &:focus { box-shadow: 0px 3px 5px #ccccd6; background: #ff5a60; }

      .x-thumb {right: 10px; font-size: 13px; line-height: 20px;}
      .x-check{right: 10px; font-size: 16px; line-height: 22px;}
      .x-floppy {right: 4px; font-size: 12px; line-height: 22px; color: @headColor1;}
      .x-send{font-size: 14px; line-height: 23px; right: 4px;}

      &.grey{
        background: #465566;
        md-icon{ color: #7a8491; }
      }

      &.completed{
        background: #7fdab7;
        md-icon{ color: #7fdab7; }
      }
    }
  }
  &[disabled]{
    min-height:auto; min-width: auto; margin: 0;
    &.reportButton{
      position: relative; cursor: pointer;  border: 0; padding: 10px 55px 10px 40px; width: auto; background: #ebebf0; font-size: 13px;     line-height: 18px; color: #ffffff; border-radius: 45px; text-transform: uppercase;
      md-icon{position: absolute; top: 0; bottom: 0; right: 0px; background: #fff; margin: auto; width: 22px; height: 22px; border-radius: 50%; text-align: center; color: #ebebf0;}
      .x-thumb {right: 10px; font-size: 13px; line-height: 20px;}
    }
  }
}


date-range-pick, date-single-pick, .topBar .dateCtrl {
  position: relative; display: block;
  .date-picker { cursor: pointer; border: 0; .para(@baseTxtColor, 11px, 0, 13px 10px 13px 15px); line-height: 14px; width: 94%; position: relative; z-index: 1; background: none; }
  &:before { content: "\e5cf"; .para(@baseTxtColor, 17px, 0, 0); position: absolute; top: 11px; right: 20px; font-family: 'xicons';
    z-index: 0; }
}

.daterangepicker {
  box-shadow: 0px 0px 35px #ddd; border-radius: 2px; padding: 15px;
  th, td {
    color: @headColor3; font-size: 11px; width: auto; height: auto;
    &.active {
      &:hover { border-color: transparent; }
    }
  }
  .fa {
    font-family: 'xicons' !important; font-style: normal;
    &.fa-calendar {
      top: 3px;
      &:before { content: "\e908"; }
    }
    &.fa-chevron-left {
      &:before { content: "\e408"; }
    }
    &.fa-chevron-right {
      &:before { content: "\e409"; }
    }
  }
  .daterangepicker_input {
    margin-bottom: 10px;
    input[type=text] { background: #ececee; border: none; border-radius: 2px; height: 25px; .para(#9ea8b2, 11px, 0, 0 6px 0 28px); }
  }
  .calendar {
    margin: 0; position: relative;
    td, th { min-width: 25px; }
    td {
      min-width: initial; height: 22px; border-radius: 20px; border-top: 1px solid #fff; border-bottom: 1px solid #fff;
      &:hover { background: #fc6068; color: #ffffff; }
      &.in-range {
        border-radius: 0; background: #fc6068; color: #ffffff;
        &:first-child { border-radius: 20px 0px 0px 20px; }
        &:last-child { border-radius: 0px 20px 20px 0px; }
      }
      &.start-date { border-radius: 20px 0px 0px 20px; background: #fc6068; color: #ffffff; }
      &.end-date { border-radius: 0px 20px 20px 0px; background: #fc6068; color: #ffffff; }
      &.off { background: none; color: #eee; cursor: default; }
    }
    &.left {
      &:before { content: ""; position: absolute; right: 5px; bottom: 10px; height: 175px; border-left: 1px solid #ececed; }
    }
  }
  .calendar-table {
    border: none;
    table {
      border-collapse: collapse;
      thead {
        th {
          &.month { .para(@headColor3, 11px, 0, 0); }
          &.available {
            border-radius: 20px; height: 22px;
            i { vertical-align: middle; font-size: 18px; line-height: 19px; }
            &:hover { background: #ececee; }
          }
        }
        tr + tr {
          th { font-weight: normal; .para(@headColor3, 11px, 0, 0); line-height: 30px; }
        }
      }
      tbody { }
    }
  }
  .ranges {
    margin: 0px; padding-bottom: 45px;
    &:before { position: absolute; right: 225px; bottom: 0px; border-left: 1px solid #ececed; height: 100%; }
    > ul {
      .clearafter; width: 200px;
      li {
        float: left; width: 48%; .para(#fff, 11px, 0 0 5px, 4px 5px); margin-right: 2%; border-radius: 3px; background: @headColor1; border: none; .trans;
        &:hover { border: none; background: lighten(@headColor1, 10%); }
        &.active { border: none; background: darken(@baseTxtColor, 5%); }
      }
    }
    .range_inputs {
      position: absolute; width: 230px; bottom: 0px; right: 0px; padding: 10px 15px; border-top: 1px solid #ececed;
      button {
        width: 49%; border-radius: 20px; text-align: center; border: none; .para(#fff, 11px, 0, 7px 5px); opacity: 1; .trans;
        &.applyBtn { background: @headColor1; }
        &.cancelBtn { background: @baseTxtColor; }
        &:hover { opacity: 0.8; }
      }
    }
  }
  .calendar-time {
    padding: 0 0 8px; margin: 0;
    select { background: #eee; border: none; .para(#999, 11px, 0, 3px 5px); border-radius: 15px; cursor: pointer; }
  }
  &.show-calendar {
    .ranges {
      padding-left: 20px;
      &:before { content: ""; }
      .range_inputs { width: 225px; }
    }
  }
  &.opensleft:before { display: none; }
  &.single {
    .calendar-table table thead th.month { background: #eee; border-radius: 20px; }
    .calendar {
      float: none;
      &.left:before { display: none; }
      .calendar-table { padding: 4px; }
      .daterangepicker_input { margin: 0; }
      td {
        border-radius: 20px; border: none;
        &.active { background: @headColor1; color: #fff; }
      }
    }
    .ranges {
      float: none; padding: 0;
      &:before { display: none; }
      .range_inputs { position: relative; padding: 10px 15px 0; margin: 0px -15px; }
    }
  }
}
