/* -------------------------Reset------------------------- */
*{margin:0px; padding:0px; outline:none; box-sizing: border-box;}*, :hover, :active, :focus{outline: none;}body{line-height:1.5}blockquote:before,blockquote:after,q:before,q:after{content:""}a img{border:none}:focus{outline:none}.noborder{border:none!important}.noborder-bottom{border-bottom:none!important}.nobg{background:none!important}p{text-align:left;margin-bottom:5px}a,img,fieldset{border:none;outline:none}a{color:#fff;text-decoration:none}a:hover{color:#ccc;text-decoration:underline}h1,h2,h3,h4,h5,h6{font-weight:400;margin-bottom:5px}.red{color:red}.dnone{display:none}ol.decimal{list-style:decimal;padding-left:10px;margin:10px 0 10px 10px}ol.decimal li{list-style:decimal}ul.disc{list-style:disc;padding-left:10px;margin:10px 0 10px 10px}ul.disc li{list-style:disc}.rfl{float:right}.lfl{float:left}.clear{clear:both}.clear:after{content:"";display:table;clear:both}.rfl-force{float:right!important}.lfl-force{float:left!important}.clear-force{clear:both!important}.nomar{margin:0!important}.nopad{padding:0!important}.pad10px{padding:10px!important}.mar10px{margin:10px!important}.rel{position:relative}.abs{position:absolute}.allft{text-align:left!important}.alrit{text-align:right!important}.alctr{text-align:center!important}ul,li,ol,ol,ul,li{list-style:none}
/* -------------------------Reset------------------------- */

/* -------------------------Material Reset------------------------- */
.md-button:not([disabled]){
  min-height:0; min-width:0; line-height: normal; border-radius:0px; padding:0; margin: 0; .trans;
  &.md-focused{background: none;}
}
md-icon{height:auto; width:auto; min-height:0; min-width:0;}
md-menu{display: inline-block;}
md-menu-item{min-height:0px; height:auto;}
md-menu-content{
  max-height:initial;
  .scrollDv.mCS_destroyed{overflow: hidden !important;}
}
/* -------------------------Material Reset------------------------- */

/* -------------------------Vars------------------------- */

@bodyBg: #ececee;

@baseTxtColor: #9ea8b2;
@baseTxtSize: 13px;
/*@baseFontFamily: 'Roboto', sans-serif;*/
@baseFontFamily: 'Roboto';

@iconFontFamily: 'xicons' !important;

@baseLink: #fc6068;
@baseLinkHover: #9ea8b2;
@headColor1: #fc6068;
@headColor2: #fc7a58;
@headColor3: #788087;
@borderColor1: #ececed;

@bg-green: #7fdac7;
@bg-blue: #8eb4e3;

/* -------------------------Vars------------------------- */