﻿<nav id="shell-top-nav-view" class="singlebar-menu">
   
<a title="" class="logo" data-bind="attr: { href: menuHashes.tickerManagement.tickerReporter }"><img src="/content/images/producer/logo2.png" width="31" height="30" alt="*"></a>
    <ul data-bind="with: menuHashes.tickerManagement">
            <li><a data-bind="css: { 'active': (tickerReporter == $root.activeHash()) }, attr: { href:tickerReporter }">Home</a></li>
    </ul>
     <header class="headerrightinfo">
        <ul class="topnav">
            <li><span class="username" data-bind="text: $root.appdata.currentUser().displayName"></span></li>
            <li class="last"><a href="javascript:;" title="" class="active"><i class="icon-setting"></i></a>
                <ul>
                    <li class="viewHelp" data-bind="click: $root.displayHelp"><a href="javascript:;" title="">Help</a></li>
                    <li class="logout" data-bind="click: $root.logOut"><a href="javascript:;" title="">Logout</a></li>
                </ul>
            </li>
            <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
        </ul>
    </header>
</nav>
