﻿<section id="filterPreference-view" class="clearfix view">


    <section class="sectionSequence" style="max-height: 500px; width: 100%">
        <header><span style="margin-left: 3px; font-size: 22px; color: #400000">User Preference Filters:</span></header>

        <div style="width: 50%; height: 450px; float: left;">
            <h1 style="text-decoration: underline; font-size: 20px; text-align: center">Source Filter</h1>

            <ul data-bind="customScrollBar: true" style="max-height: 400px" class="prfrcFltrs">
                <!-- ko foreach: $root.userSourceFilter -->
                <li>
                    <a href="javascript:;" data-bind="click: visibleChild">
                        <span data-bind="text: changeSign()" class="parentFilter"></span>
                        <span data-bind="text: name" class="parentFilter" style="padding-left: 3px;"></span>
                    </a>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox">
                        <label class="onoffswitch-label" for="myonoffswitch" data-bind="click: discard,css:{active:!isDiscarded()}">
                            <label class="onoffswitch-inner"></label>
                            <label class="onoffswitch-switch"></label>
                        </label>
                    </div>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox ">
                        <label class="onoffswitch-label" for="myonoffswitch" data-bind="click: allowed,css:{active:!isNotAllowed()}">
                            <label class="onoffswitch-inner"></label>
                            <label class="onoffswitch-switch"></label>
                        </label>
                    </div>

                    <ul data-bind="foreach: $data.children">
                        <!-- ko if: $data.isVisible() -->
                        <li>

                            <a href="javascript:;">
                                <span>-
                                    <span data-bind="text: name"></span>
                                </span>
                            </a>
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox">
                                <label class="onoffswitch-label" for="myonoffswitch" data-bind="click: discard,css:{active:!isDiscarded()}">
                                    <label class="onoffswitch-inner"></label>
                                    <label class="onoffswitch-switch"></label>
                                </label>
                            </div>
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox ">
                                <label class="onoffswitch-label " for="myonoffswitch" data-bind="click: allowed,css:{active:!isNotAllowed()}">
                                    <label class="onoffswitch-inner"></label>
                                    <label class="onoffswitch-switch"></label>
                                </label>
                            </div>

                        </li>
                        <!-- /ko -->
                    </ul>

                </li>
                <!-- /ko -->
            </ul>
        </div>

        <div style="width: 50%; height: 450px; float: left;">
            <h1 style="text-decoration: underline; font-size: 20px; text-align: center">Category Filter</h1>

            <ul data-bind="customScrollBar: true" style="max-height: 400px" class="prfrcFltrs">
                <!-- ko foreach: $root.userCategorizedFilter -->
                <li>
                    <a href="javascript:;" data-bind="click: visibleChild">
                        <span data-bind="text: changeSign()" class="parentFilter"></span>
                            <span data-bind="text: name" class="parentFilter"></span>
                       
                    </a>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox">
                        <label class="onoffswitch-label" for="myonoffswitch" data-bind="click: discard,css:{active:!isDiscarded()}">
                            <label class="onoffswitch-inner"></label>
                            <label class="onoffswitch-switch"></label>
                        </label>
                    </div>
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox ">
                        <label class="onoffswitch-label" for="myonoffswitch" data-bind="click: allowed,css:{active:!isNotAllowed()}">
                            <label class="onoffswitch-inner"></label>
                            <label class="onoffswitch-switch"></label>
                        </label>
                    </div>

                    <ul data-bind="foreach: $data.children">
                        <!-- ko if: $data.isVisible() -->
                        <li>
                            <a href="javascript:;">
                                <span>-
                                    <span data-bind="text: name"></span>
                                </span>
                            </a>
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox">
                                <label class="onoffswitch-label" for="myonoffswitch" data-bind="click: discard,css:{active:!isDiscarded()}">
                                    <label class="onoffswitch-inner"></label>
                                    <label class="onoffswitch-switch"></label>
                                </label>
                            </div>
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox ">
                                <label class="onoffswitch-label " for="myonoffswitch" data-bind="click: allowed,css:{active:!isNotAllowed()}">
                                    <label class="onoffswitch-inner"></label>
                                    <label class="onoffswitch-switch"></label>
                                </label>
                            </div>

                        </li>
                        <!-- /ko -->
                    </ul>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <input type="button" value="Submit" data-bind="click: $root.submitMetaDataByUser" class="btnUserPre" />
        @*<input type="button" value="getFilter" data-bind="click: $root.getAllFilters" style="cursor: pointer; background-color: #686868; color: white; width: 53px; height: 23px; font-size: 15px" />*@
    </section>
</section>
