﻿<div id="home-view" class="view">
    <section class="newsList">
        <section class="contentSection">
            <section class="contentSection">
                <header class="clearfix">

                    <h4>Verification Home</h4>
                </header>
            </section>
        </section>
        <!-- CONTENT SECTION END -->
    </section>
</div>
