﻿<div class="mainStory clear">
      <!-- ko if: typeof nextScreenTemplate() !== null && nextScreenTemplate()!=='' && nextScreenTemplate() !=='undefined'-->
               <!--ko with:nextScreenTemplate-->
            	<div class="contentLeft lfl">
                	<div class="storyVideo">
                		<img data-bind="attr:{src:backgroundUrl}" alt="" style="width:100%; height:100%">
                	</div>
                    <div class="currentTitle padB10px marB10px clear">
                        <div class="storytime lfl">
                            <i class="icon ico"></i>
                            <span class="time"><label data-bind="text:contentDuration()"></label></span>
                        </div>
            		</div>
                    <div class="storydetailfull">
                        <div class="clear marB5px">
                        	<span class="rfl clear"><a href="javascript:;"><i class="icon readMore"></i></a></span>
                        </div>
                        <div class="storyFull scrollNews">
                             <p class="detailtext urdu" data-bind="html : script()">
                        </div>    
            		</div>
                </div>
       <!--/ko -->
                <div class="contentRight lfl" >
            <!--ko with:$root.mcrUser-->
             <div class="storyFull scrollNews"> 
                        <marquee id="myMarquee" direction="up" scrollamount="20" class="detailtext urdu" data-bind="html:overallscript()"></marquee>     

             </div>
                   <!--/ko -->
                    
                      <div class="btn">
                    	<input type="submit" value="Done" data-bind="preview:{totalTemplates:totalTemplates,autoforward:autoforward}">
                    </div>
                </div>




        <!--/ko -->

            </div>