﻿<article class="hasmenu  clearfix " id="0">
    <i class="icon-seqIcon"></i>
    <div>
          <span style="float:left; display:inline">Name:</span><h3 data-bind="text:name" style="display:inline"></h3>
          &nbsp;&nbsp; <span style="display:inline">Type</span><h3 data-bind="text:type" style="display:inline"></h3>
          &nbsp;&nbsp;<span style="display:inline">Video Layer</span><h3 data-bind="text:videoLayer" style="display:inline"></h3>
          
    </div>
	<a data-bind="click:$root.playItem" style="float:right">PLAY</a>
</article>


