﻿
            <article style="height: 694px;">
              <div class="editor">
                <div class="inputWrap">
             <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
            <!-- /ko -->
                      <input type="text" placeholder="Enter Title..." data-bind="value: title, valueUpdate: 'afterkeydown'">
                   
                </div>
           <!-- ko template:{name:'usercontrol.casecontent'} -->
            <!-- /ko -->
              </div>
            </article>
            <aside>
    
      <div class="tags autosuggestfilter" >
        <div class="tagsinput" style="width: auto; ">
            <!-- ko if: category()!='' -->
            <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
            <!-- /ko -->
            <!-- ko if: category()=='' -->
            <div>
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
            </div>
             <!-- /ko -->
        </div>
    </div>

              <div class="inputField">
                <input type="text" value="A murder case 148/2013 has been register">
              </div>
            
    
         <div class="options number">
                <div class="head"><i></i><span>1</span><i class="arrow"></i></div>
                <div class="optionsList control-group">
                  <ul>
                    <li class="active">
                      <input type="checkbox" name="category" checked />
                      <label >2</label>
                    </li>
                    <li>
                      <input type="checkbox" name="category" />
                      <label>3</label>
                    </li>
                  </ul>
                </div>
              </div>

      <div class="tags autosuggestfilter" >
        <div class="tagsinput" style="width: auto;">
            <!-- ko if: location()!='' -->
            <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span>
            <!-- /ko -->
            <!-- ko if: location()=='' -->
            <div>
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                <input data-bind=" value: location, autoComplete:{source: locationSource,selected: selectedLocation}" placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
            </div>
            <!-- /ko -->
        </div>
    </div>

        <!-- ko template: {name:'usercontrol.datetimepicker'} -->
    <!-- /ko -->
                
                
        <div class="options type">
                <div class="head"><i></i><span>Civilian</span><i class="arrow"></i></div>
                <div class="optionsList control-group">
                  <ul>
                    <li class="active">
                      <input type="checkbox" name="type" checked />
                      <label >Politics</label>
                    </li>
                    <li>
                      <input type="checkbox" name="type" />
                      <label>Government</label>
                    </li>
                    <li>
                      <input type="checkbox" name="type"/>
                      <label>Private</label>
                    </li>
                  </ul>
                </div>
              </div>

      
              <div class="inputField">
                <div class="links"><a href="javascript:;">http://www.geo.tv/article-103858-Karachi-
                  Rangers-personnel-booked-in-murder-case</a></div>
              </div>
              <div class="inputField">
                <textarea data-bind="value: $root.model.comments, valueUpdate: 'afterkeydown'">
</textarea>
              </div>
              <div class="inputField">
                <textarea>KARACHI: Police have registered a case again the Rangers personnel allegedly involved in the killing of a citizen in Shah Faisal Colony..</textarea>
              </div>
             <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
    <!-- /ko -->
            </aside>
           <input type="button" class="ReportNews "  data-bind="click: $root.submitNews,value: $parent.buttonText, css:$parent.buttonClass" />
    