﻿<div id="bucket"class="latestCol" >
    <ul data-bind="customScrollBar:{}"  style="height:640px !important;">
        <!-- ko foreach: $root.sdc.currentTemplate().contentBucket -->
        <li>
            <span class="lockImg" data-bind="click: function (data) { $root.removeContentFromBuckets(data); }"></span>
            <a href="javascript:;" title="">
                <img data-bind="attr: { 'src': thumbImageUrl }" width="60" height="50" onerror="this.src = '/content/images/producer/noimage-60x50-light.jpg'"></a>
            <p data-bind="text: ''"></p>
        </li>
        <!-- /ko -->
        <li class="last">
            <span class="addmore"></span>
            <a href="javascript:;" title="">
                <img width="60" height="50"></a>
            <p></p>
        </li>
    </ul>
</div>
