﻿<ul class="storyDet" data-bind="foreach: $data">
    <!-- ko if: $root.imageFooterTmplName=='fieldreporterverification.pendingnews' && $index() == 0 -->
    <li><span class="NewsId">News id</span> <label data-bind="html:$parents[1].id.substring($parents[1].id.length-5, $parents[1].id.length)"></label> </li>
    <!-- /ko -->
    <li><a data-bind="html: $data, attr:{title: $data}"></a></li>
</ul>
