﻿<!-- Guests -->
<section id="topicselection-guests-view" class="relSection section clearfix" data-bind="style: { display: $root.activeSideView() == $root.views.topicSelectionGuestsView ? '' : 'none' }, adjustHeight: true, customScrollBar: true">
    <aside class="relAside">
        <ul>
            <li title="All"><a href="javascript:;"><i class="icon-relIcon"></i></a></li>
            <li title="Correspondent"><a href="javascript:;"><i class="icon-relIcon2"></i></a></li>
            <li title="High Profile"><a href="javascript:;"><i class="icon-relIcon3"></i></a></li>
            <li title="Analyst"><a href="javascript:;"><i class="icon-relIcon4"></i></a></li>
        </ul>
    </aside>

    <section class="descSection">
        <div class="searchbar">
                <input type="text" placeholder="Search" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
            </div>
        <header class="clearfix">
            <p>Internal <span data-bind="text: internalGuests().length"></span></p>
        </header>

        <section class="topicSection2">

            <ul class="newsColume" data-bind="foreach: internalGuests">
                <li>
                    <figure data-bind="css: { 'selected-guest': $data.id === $root.currentGuest().id }, click: function (data) { $root.selectGuest(data); }">
                        <span class="checkarrow"></span>
                         <a href="javascript:;">
                            <img data-bind="attr: { 'src': faceValue }" onerror="this.src='/content/images/common/default-profile.png'" width="134" height="134" /></a>
                        <figcaption>
                            <h3 data-bind="text: name"></h3>
                            <p data-bind="text: designation"></p>
                        </figcaption>
                    </figure>
                    <ul class="ratColume slideDown">
                        <li class="icon-color"><a title="On Aired Count" href="javascript:;" data-bind="html: onAiredCount"></a>
                            <ul class="ratedMenu" data-bind="css:{ratedMenuNull : onAiredCount()=='0'}">
                                <li>Program</li>
                                <!-- ko foreach: onAiredDetails() -->
                                <li style="line-height:20px"><a href="javascript:;" data-bind="text: $data.ProgramName"></a><span style="text-align:right;margin-left:10px;" data-bind="text: $data.EpisodeTimeStr"></span></li>
                                <!-- /ko -->
                            </ul>
                        </li>
                        <li class="icon-outline"><a title="Added To Rundown Count" href="javascript:;" data-bind="html:addedToRundownCount"></a>
                            <ul class="ratedMenu" data-bind="css:{ratedMenuNull : addedToRundownCount()=='0'}">
                                <li>Program</li>
                                <!-- ko foreach: addedToRundownDetails() -->
                                <li style="line-height:20px">
                                    <a href="javascript:;" data-bind="text: $data.ProgramName"></a>
                                    <span data-bind="text: $data.EpisodeTimeStr"></span>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </li>
                        <li class="icon-bg"><a title="Other Channel Count" href="javascript:;" data-bind="html:executedOnOtherChannelsCount"></a>
                            <ul class="ratedMenu grid_230" data-bind="css:{ratedMenuNull : executedOnOtherChannelsCount()=='0'}">
                                <li><span>TV Channel</span> Program</li>
                                <!-- ko foreach: executedOnOtherChannelsDetails() -->
                                <li style="line-height:20px">
                                    <a href="javascript:;" data-bind="text: $data.ProgramName"></a>
                                    <span data-bind="text: EpisodeTimeStr"></span>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>

        <header class="clearfix" style="clear: both;">
            <p>External  <span data-bind="text: externalGuests().length"></span></p>
        </header>

        <section class="clearfix">
            <ul class="newsColume" data-bind="foreach: externalGuests">
                <li>
                    <figure data-bind="css: { 'selected-guest': $data.id === $root.currentGuest().id  },click: function (data) { $root.selectGuest(data); }">
                         <span class="checkarrow"></span>
                        <a href="javascript:;">
                            <img alt="" data-bind="attr: { 'src': faceValue }" onerror="this.src='/content/images/common/default-profile.png'" width="134" height="134"></a>
                        <figcaption>
                            <h3 data-bind="text: name"></h3>
                            <p data-bind="text: designation"></p>
                        </figcaption>
                    </figure>
                    <ul class="ratColume slideDown">
                        <li class="icon-color"><a title="" href="javascript:;">0</a>
                            <ul class="ratedMenu">
                                <li>Program</li>
                                <!-- foreach: programs -->
                                <li><a href="javascript:;" data-bind="text: name"></a><span data-bind="    text: ''"></span></li>
                                <!-- /ko -->
                            </ul>
                        </li>
                        <li class="icon-outline"><a title="" href="javascript:;">2</a>
                            <ul class="ratedMenu">
                                <li>Program</li>
                                <!-- foreach: internationalPrograms -->
                                <li><a href="javascript:;" data-bind="text: name"></a><span data-bind="    text: ''"></span></li>
                                <!-- /ko -->
                            </ul>
                        </li>
                        <li class="icon-bg"><a title="" href="javascript:;">0</a>
                            <ul class="ratedMenu grid_230">
                                <li><span>TV Channel</span> Program</li>
                                <!-- foreach: otherPrograms -->
                                <li><span data-bind="text: ''"></span><a href="javascript:;" data-bind="    text: name"></a><span data-bind="    text: ''"></span></li>
                                <!-- /ko -->
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </section>
</section>
