﻿<section class="contentSection" >
    <header class="clearfix">

        <h4><b data-bind="text: $data.groupName"></b></h4>
        <div class="searchBox">
            <p><span data-bind="text:$data.groupElements.length"></span> Headlines Reported</p>
        </div>
    </header>

    <!-- ko foreach:$data.groupElements -->
    <section class="tickersRprtd clearfix" data-bind="attr:{storyId:$data.id}, newsDrag: {isReadOnly:$root.isUserHeadlines(),story: $data, news: $data.news, callback: $root.selectNews, canAddNews: $root.appdata.canAddNews}">
        <article class="new-wrap" data-bind="css: { englishcontent: $data.news.languageCode =='en' }">
            <div class="newslst clearfix">
                <div class="timenews">
                    <a href="javascript:;" title="" data-bind="click: function (data) { $root.selectNews($data.news,$data,true) }">
                        <i class="icon-correct"  data-bind="visible:!$root.isUserHeadlines(), css: { active: $data.news.isUsed }"></i>
                    </a>
                    <figure>
                        <img onerror="this.src = '/content/images/producer/noimage-133x75.jpg'" data-bind="attr:{src:$data.news.defaultImageUrl}" width="133" height="75" alt="*">
                    </figure>
                    <p>
                        <i data-bind="trimText: { text: $data.news.title(), length: 120 }"></i>
                        <span>
                            <small data-bind="visible:$data.categoryDisplay().length > 0,text:$data.categoryDisplay"></small>
                            <small class="last" >Duration: </small><small class="last" data-bind="text:$data.screenFlow().contentDurationDisplay()"></small>
                        </span>
                    </p>
                </div>
            </div>
        </article>

    </section>
    <!-- /ko -->
</section>
