﻿<!--<div class="splash" data-bind="loadingBar: {showbar:
    }, style:{display:showBar()==true?'block':'none'}"><i></i>
    <span data-bind="text:showText"></span>
  <div id="Loader"></div>
</div>
<div class="overlay" data-bind="style:{display:showBar()==true?'block':'none'}"></div>-->
