﻿<div class="mainStory clear" style="min-height:350px">
        <!-- ko if: typeof nextScreenTemplate() !== null && nextScreenTemplate()!=='' && nextScreenTemplate() !=='undefined'-->
               <!--ko with:nextScreenTemplate-->
            	<div class="contentLeft lfl">
                	<div class="storyVideo">
                		<img data-bind="attr:{src:backgroundUrl}" alt="" style="width:100%; height:100%">
                	</div>
                    <div class="currentTitle padB10px marB10px clear">
                        <div class="storytime lfl">
                            <i class="icon ico"></i>
                            <span class="time"><label data-bind="text:contentDuration()"></label></span>
                        </div>
            		</div>
                    <div class="storydetailfull">
                        <div class="clear marB5px">
                        	<span class="rfl clear"><a href="javascript:;"><i class="icon readMore"></i></a></span>
                        </div>
                        <div class="storyFull scrollNews">
                             <p class="detailtext urdu" data-bind="html : script()">
                        </div>    
            		</div>

                </div>
       <!--/ko -->
                <div class="contentRight lfl">
                	<div class="micSection">
                        <div class="clear">
                            <i class="icon green"></i>
                            <span>Playlist</span>
                        </div>
                        <div class="clear newsplaylist" data-bind="with:nextScreenTemplate,customScrollBar" style="max-height:390px">
                            <!--ko if:typeof $root.mcrUser.totalTemplates() !=='undefined'-->
                            <ul data-bind="foreach:$root.mcrUser.totalTemplates">
                            	<li>
                                	<img data-bind="attr:{src:thumbImageUrl()}" width="86" height="58" alt="*" />
                                    <h3>Burning vehicle-Footage -Clip 001247.mov
                                    <span><i class="icon ico"></i>5 Secs</span></h3>
                                </li>
                            </ul>
                            <!--/ko-->
                            <ul data-bind="foreach:resources">
                            	<!-- ko if: type == $root.e.ContentType.Image -->
                                <li>
                                	<img data-bind="attr:{src:thumbImageUrl()}" width="86" height="58" alt="*" />
                                    <h3>Burning vehicle-Footage -Clip 001247.mov
                                    <span><i class="icon ico"></i>5 Secs</span></h3>
                                </li>
                                <!--/ko-->
                            </ul>
                        </div>
                    </div>
                    <div class="btn">
                    	<input class="preview" type="submit" value="Preview" >
                    	<input type="submit" value="Done">
                    </div>
                </div>
              <!--/ko -->

            </div>