﻿<div class="mainStory clear" style="min-height:350px">
               <!-- ko if: typeof nextScreenTemplate() !== null && nextScreenTemplate()!=='' && nextScreenTemplate() !=='undefined'-->
               <!--ko with:nextScreenTemplate-->
            	<div class="contentLeft lfl">
                	<div class="storyVideo" >
                		<img data-bind="attr:{src:backgroundUrl}" alt="" style="width:100%; height:100%">
                	</div>
                    <div class="currentTitle padB10px marB10px clear">
                        <div class="storytime lfl">
                            <i class="icon ico"></i>
                            <span class="time"><label data-bind="text:contentDuration()"></label></span>
                        </div>
            		</div>
                    <div class="storydetailfull">
                        <div class="clear marB5px">
                        	<span class="rfl clear"><a href="javascript:;"><i class="icon readMore"></i></a></span>
                        </div>
                        <div class="storyFull scrollNews">
                            <p class="detailtext urdu" data-bind="html : script()">
                               
                            </p>
                        </div>    
            		</div>
                </div>
              <!--/ko -->
                <div class="contentRight lfl">
                	<div class="micSection">
                        <div class="clear">
                            <i class="icon green"></i>
                            <span>Camera On</span>
                        </div>
                        <div class="clear" data-bind="with:nextScreenTemplate" >
                            <ul data-bind="foreach:cameras">
                                
                                <!--ko if: cameraTypeId == $root.e.CameraTypeId.ENG -->
                               <li>
                                    <i class="icon camera"></i>
                                    <span data-bind='text:name'></span>
                                </li>
                                <!--/ko-->

                                <!-- ko if: cameraTypeId == $root.e.CameraTypeId.DSNG -->
                                <li>
                                    <i class="icon van"></i>
                                    <span>2</span>
                                </li>
                                <!--/ko-->

                                <!--ko if: cameraTypeId == $root.e.CameraTypeId.VideoLibrary -->
                                <li>
                                    <i class="icon chnls"></i>
                                      <span data-bind='text:name'></span>
                                </li>
                                <!--/ko-->

                                <!--ko if: cameraTypeId == $root.e.CameraTypeId.OtherChannel -->
                                <li>
                                    <i class="icon rss"></i>
                                      <span data-bind='text:name'></span>
                                </li>
                                <!--/ko-->

                            </ul>
                        </div>
                    </div>
 
                    <div class="btn">
                    	<input class="preview" type="submit" value="Preview">
                    	<input type="submit" value="Done">
                    </div>
                </div>
              <!--/ko -->
            </div>