﻿<div class="mainStory clear" style="min-height:350px">
      <!-- ko if: typeof nextScreenTemplate() !== null && nextScreenTemplate()!=='' && nextScreenTemplate() !=='undefined'-->
               <!--ko with:nextScreenTemplate-->
            	<div class="contentLeft lfl">
                	<div class="storyVideo">
                		<img data-bind="attr:{src:backgroundUrl}" alt="" style="width:100%; height:100%">
                	</div>
                    <div class="currentTitle padB10px marB10px clear">
                        <div class="storytime lfl">
                            <i class="icon ico"></i>
                            <span class="time"><label data-bind="text:contentDuration()"></label></span>
                        </div>
            		</div>
                    <div class="storydetailfull">
                        <div class="clear marB5px">
                        	<span class="rfl clear"><a href="javascript:;"><i class="icon readMore"></i></a></span>
                        </div>
                        <div class="storyFull scrollNews">
                             <p class="detailtext urdu" data-bind="html : script()">
                        </div>    
            		</div>
                </div>
       <!--/ko -->
                <div class="contentRight lfl" >
                	<div class="micSection" data-bind='with:nextScreenTemplate'>
                        <div class="clear">
                            <i class="icon green"></i>
                            <span>Mics On</span>
                        </div>
                         <div class="clear">
                            <ul data-bind="foreach:mics">
                                <!-- ko if: isOn == true -->
                                <li>
                                    <i class="icon micOn"></i>
                                    <span data-bind="text:micNo"></span>
                                </li>
                                <!--/ko-->

                            </ul>
                        </div>
                    </div>
                    <div class="micSection"  data-bind='with:nextScreenTemplate'>
                        <div class="clear">
                            <i class="icon red"></i>
                            <span>Mics OFF</span>
                        </div>
                        <div class="clear">
                            <ul data-bind="foreach:mics">
                                <!-- ko if: isOn == false -->
                                <li>
                                    <i class="icon micOff"></i>
                                    <span>5</span>
                                </li>
                                <!--/ko-->
                            </ul>
                        </div>
                    </div>
                    <div class="btn">
                    	<input type="submit" value="Done">
                    </div>
                </div>
        <!--/ko -->

            </div>