﻿<!-- ko if:  typeof channel !== 'undefined' -->
<li data-bind="click:$root.setThisCurrent">
    <img data-bind="attr:{src: thumbImageUrl}" width="50" height="42" alt="*">
    <h3 data-bind="text:channel().name"></h3>
    <p data-bind="text: program().name"></p>
    <a href="javascript:;">View Details</a>
</li>
<!-- /ko -->
<!-- ko if:  typeof defaultImageUrl !== 'undefined' -->
<li data-bind="click:$root.setThisCurrent, css: languageCode == 'ur' ? 'urduPanel' : '' ">
    <img data-bind="attr:{src:defaultImageUrl }" width="50" height="42" alt="*">
    <h3 data-bind="text: title"></h3>
    <p class="jqte_editor" data-bind="trimText:{text: shortDescription(),isHtml: true , length: 100}"></p>
    <a href="javascript:;">View Details</a>
</li>
<!-- /ko -->
<!-- ko if:  typeof dailyNewsPaperId !== 'undefined' -->
<li data-bind="click:$root.setThisCurrent">
    <img data-bind="attr:{src: thumbImageUrl}" width="50" height="42" alt="*">
    <h3 data-bind="text:dailyNewsPaper().name"></h3>
    <p data-bind="text: dailyNewsPaper().newsPaper().name"></p>
    <a href="javascript:;">View Details</a>

</li>
<!-- /ko -->
