﻿<div class="mediaSection" data-bind="customScrollBar" style="max-height:100px !important">
    <h3>Related Sources</h3>
    <div>
        <a href="javascript:;">http://www.geo.tv/article-103859-Karachi-Rangers-personnel-booked-in-murder-case</a>
        <a href="javascript:;">http://www.geo.tv/article-103859-Karachi-Rangers-personnel-booked-in-murder-case</a>
    </div>
</div>
