﻿<!-- ko  if: $root.router.currentHash() === $root.config.hashes.nmsBol.home -->
<!-- ko  if: $index() === 0 -->
<div class="rghtBtns rghtVerificationStatus">
    <span class="btnVerified" data-bind="click:function(data){$root.markVerificationStatus(true,$data)}">Verified</span>
    <span class="btnNonVerified" data-bind="click:function(data){$root.markVerificationStatus(false,$data)}">&nbsp;Not Verified</span>
</div>
<!-- /ko -->
<!-- ko  if: $index() != 0 -->
<div class="rghtBtns rghtVerificationStatus">
    <span class="btnVerified" data-bind="click:function(data){$root.markVerificationStatus(true,$data)}">Verified</span>
    <span class="btnNonVerified" data-bind="click:function(data){$root.markVerificationStatus(false,$data)}">&nbsp;Not Verified</span>
</div>
<!-- /ko -->
<!-- /ko -->

  <!-- ko  if: $data.isNewsInEditableMode() -->
<div class="rghtBtns rghtVerificationStatus">
    <span class="btnVerified" data-bind="click:function(data){$root.markVerificationStatus(true,$data)}">Verified</span>
    <span class="btnNonVerified" data-bind="click:function(data){$root.markVerificationStatus(false,$data)}">&nbsp;Not Verified</span>
</div>
<!-- /ko -->