﻿<div class="contentScare" data-bind="with: items">
    <h2><a href="javascript:void(0);" data-bind="html: title, click: function (data) { $root.setCurrentNews(data) }"></a></h2>
    <!-- ko template: {name:'filtersinfo', data:filtersInfo} -->
    <!-- /ko -->
    <p class="jqte_editor content_description" data-bind="html:shortDescription"></p>
    <!-- ko template: {name: 'news.item.contentfooter', data : {tmplName: $root.contentFooterTmplName, items: $data } } -->
    <!-- /ko -->
</div>

