﻿<article>
    <div class="editor">
        <a href="javascript:;" class="icon-check" data-bind="click: clickVerifier, selectedNews: isVerified"></a>
        <div class="thumbnail">
            <img data-bind="attr:{src: defaultImage}" onerror="this.src='/content/images/producer/noimage-730x380.jpg'"   />
        </div>
        <div class="inputWrap">
            <div class="rfl slctkeybrd">
                <i class="rfl" data-bind="dropDown:{selector:'.languages'}"></i><span class="rfl" data-bind="html: selectedLanguage"></span>
            </div>
            <input type="text" placeholder="Enter Title..." data-bind="value: title" />
        </div>
        <div class="clear"></div>
        <div class="editor-tools">
            <!-- ko if: typeof languageToggle !== 'undefined' -->
            <!-- ko template:{name:'usercontrol.editor', data:languageToggle} -->
            <!-- /ko -->
            <!-- /ko -->
        </div>


        <!-- ko if: uploaderflag() =='on' -->
        <div class="uploadprogress">
           <span data-bind="text: uploadingcontent"></span>
            <span data-bind="text: uploadingupdate"></span>
        </div>
        <!-- /ko -->
    </div>
</article>

<aside>

    <div class="tags autosuggestfilter">
        <div class="tagsinput" style="width: auto;">
            <!-- ko if: categories()!='' -->
            <span class="tag"><span data-bind="text:categories"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
            <!-- /ko -->
            <!-- ko if: categories()=='' -->
            <div>
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                <input type="text" placeholder="Enter Category" data-bind=" value: categories, autoComplete:{source: categorySource,selected: selectedCategory} " style="color: rgb(180, 180, 180); height: 40px;" class="ui-autocomplete-input notAdd" autocomplete="off">
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="tags autosuggestfilter">
        <div class="tagsinput" style="width: auto;">
            <!-- ko if: locations()!='' -->
            <span class="tag"><span data-bind="text:locations"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span>
            <!-- /ko -->
            <!-- ko if: locations()=='' -->
            <div>
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                <input type="text" placeholder="Enter Location" data-bind=" value: locations, autoComplete:{source: locationSource,selected: selectedLocation}" style="color: rgb(180, 180, 180); height: 40px;" class="ui-autocomplete-input notAdd" autocomplete="off">
            </div>
            <!-- /ko -->
        </div>
    </div>

    <!-- ko template: {name:'usercontrol.datetimepicker'} -->
    <!-- /ko -->

    <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
    <!-- /ko -->
</aside>
<!-- ko if: resources().length>0  -->
 <h3 class="reportHead">Reported Media <span data-bind="html:resources().length" ></span></h3>  
<div class="customthumb">

        <!-- ko if: resources().length>24  -->
           <a href="javascript:;" id="prev" class="arrows disabled prev" data-bind="scrollPrev"><img src="Content/images/reporter/previous-btn.png" alt="*" style="height: 120px;"></a> 
           <a href="javascript:;" id="next"  class="arrows next"  data-bind="scrollNex"><img src="Content/images/reporter/next-btn.png" alt="*" style="height: 120px;"></a>
        <!-- /ko -->

    <div class="cycle-slideshow" data-bind="cycleArrows">
        <!-- ko foreach: {data:resources} -->
         <!-- ko if:  $index()%2==0 -->
         <div class="cycle-slide">
            <ul>
                <li>
                    <div class="options"><i class="zoom" data-xpop=".viewResource" data-bind='attr:{id:$parent.resources()[$index()].id},click: function() { displayCurrentThumb($parent, $parent.resources()[$index()]) }'></i><i class="delete" data-bind='attr:{id:$parent.resources()[$index()].id},click: deleteThumbnail'></i></div>
                    <img data-bind="attr:{src: $parent.resources()[$index()].thumbImageUrl}"   width="66px" height="52px" />

                </li>
                <!-- ko if: $index() < $parent.resources().length-1   -->
                <li>
                    <div class="options"><i class="zoom" data-xpop=".viewResource" data-bind='attr:{id:$parent.resources()[$index()].id},click: function() { displayCurrentThumb($parent, $parent.resources()[$index()+1]) }'></i><i class="delete" data-bind='attr:{id:$parent.resources()[$index()].id},click: deleteThumbnail'></i></div>
                    <img data-bind="attr:{src: $parent.resources()[$index()+1].thumbImageUrl}" width="66px" height="52px" />
                </li>
                <!-- /ko -->
              
            </ul>
        </div>
         <!-- /ko -->
         <!-- /ko -->
    </div>
</div>
 <!-- /ko -->

<!-- ko template: {name:'usercontrol.resourceviewer'} -->
    <!-- /ko -->



<!-- ko if: uploaderflag() =='on' -->

        <!-- The template to display files available for upload -->
                <script id="template-upload" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
            <div class="template-upload fade">
                {% if (file.error) { %}
                    <span class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</span>
                {% } else if (o.files.valid && !i) { %}
                    <div class="uploadprogress">
                  <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100%" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
                    </div>
                {% } else { %}
                {% } %}
                 <span>{% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>Cancel</span>
                    </button>
                  {% } %}</span>
                  </div>
                {% } %}
                </script>
                <!-- The template to display files available for download -->
                <script id="template-download" type="text/x-tmpl">
    
                </script>

<!-- /ko -->