﻿<div class="leftSection" style="padding: 30px;">
    <img id="canvasToThumb" data-bind="attr{src: newspaperurl}, newspapercropping:{coordinates: $root.coordinates, imageUrl: newspaperurl}" alt="*" />
</div>

<div class="editingSection editingSectionVideo" style="margin-right:0">
    <!-- ko template: { name: 'news.view', data: $root.thisNews } -->
    <!-- /ko -->
</div>


