﻿<div class="rightSection">

    <h3>Similiar Stories 
        <span data-bind="html: allRelatedNews().length"></span>
        <span class="rfl"><i class="icon-single-user"></i></span>
    </h3>

    <div class="thumbnail-big" data-xpop=".updateReport" data-bind="with: currentNews">
        <span class="counts" data-bind="html: programsCount()"></span>
        <img width="289" height="160" alt="*" data-bind="attr: { src: defaultImageUrl }" onerror="this.src='/content/images/producer/noimage-730x380.jpg'" />
    </div>
    <div class="title" data-bind="with: currentNews">
        <span data-bind="html: title"></span>
        <div class="details">
            <i class="icon-single-user2"></i>
            <span data-bind="html: source"></span>| <span data-bind="html: lastUpdateDisplayTime()"></span>
        </div>
    </div>

    <div class="selectAll" data-bind="visible:allRelatedNews().length>0">
        <a href="javascript:;" class="icon-check" data-bind="click: verifyAllNews, selectedNews: allSelectedNews"></a>Select All
    </div>
    <!--class="related-elements"-->
    <!-- ko if: allRelatedNews().length > 0 -->
    <div class="related-elements" data-bind="rightSectionNews: true,customScrollBar: true">
    <ul data-bind="foreach: allRelatedNews();" >
        <li data-bind="click: $root.changeCurrentNews">
            <a href="javascript:;" class="icon-check" data-bind="click: $root.clickVerifier, selectedNews: isVerified"></a>
            <span class="icon-star"><span></span><i></i></span>
            <div class="thumbnail-small" style="cursor: pointer">
                <img data-bind="attr: { src: defaultImageUrl }" onerror="this.src='/content/images/producer/noimage-730x380.jpg'" /><span class="counts" data-bind="html: programsCount"></span>
            </div>
            <div class="title" data-bind="click: function (data) { $root.setCurrentNews(data, true) }, trimText: {text: title(), length: 30}" style="cursor: pointer">
                <span data-bind="trimText: {text: title(), length: 30}"></span>
                <div class="details">
                    <i class="icon-single-user2"></i>
                    <label data-bind="html: source"></label>
                    <label data-bind="html: lastUpdateDisplayTime().substring(0,10)"></label>
                </div>
            </div>
        </li>
    </ul>
    </div>
    <!-- /ko -->


    <a href="javascript:;" class="accept" data-bind="click: $root.markVerification"></a>
    <a href="javascript:;" class="call"></a>
    <a href="javascript:;" class="reject" data-bind="click: $root.markRejection"></a>
    <i class="between" data-bind="click: $root.markRejection"></i>
      <!-- ko template: {name:'usercontrol.audiorecorder', data: AudioRecorder}  -->
                <!-- /ko -->


    <div class="updateReport  xPop">
        <div data-bind="with: currentNews">

            <div class="latestNews clear">

                <!-- ko template: {name:'shared.newsitemleft'}  -->
                <!-- /ko -->

                <!-- ko template: {name:'news.item.resources'}  -->
                <!-- /ko -->
            </div>


            <div class="imageSection">
                <a href="javascript:;" class="prev"></a>
                <!-- ko if: resources().length == 0 -->
                <div class="no-content" style="height: 418px; width: 658px; background-color: black">
                </div>
                <!-- /ko -->

                <!-- ko if: resources().length>0-->
                <!-- ko foreach: resources-->
                <div class="slideImg" data-bind="attr:{'data-number': $index()+1}, css:{active:$index()==0}">
                    <!-- ko if: type == $root.e.ContentType.Image -->
                    <img data-bind="attr:{src:url}" height="418px" width="658px" />
                    <!-- /ko -->
                    <!-- ko if: type == $root.e.ContentType.Video -->
                    <video class="videoPlayer" data-bind="attr:{src:url}" style="height: 418px !important; width: 658px !important" controls>
                        <source type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!-- /ko -->
                    <!-- ko if: type == $root.e.ContentType.Audio -->
                    <audio class="videoPlayer" data-bind="attr:{src:url}" style="height: 418px !important; width: 658px !important" controls>
                        <source type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <a href="javascript:;" class="next"></a>
                <div class="imgDetails">Media Files <span><span class="fileNumber">1</span> of <span class="total" data-bind="html:resources().length"></span></span></div>
            </div>
        </div>
    </div>    

</div>



