﻿<div class="mainnewstmpl" data-bind="visible: $root.appdata.currentUser().userType != $root.e.UserType.Creporter && $root.appdata.currentUser().userType != $root.e.UserType.NpReporter">
    <div class="headerPanel">
        <div class="leftPanel">
            <div class="editor">
                <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                    <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                    <!-- /ko -->
                </div>

                <input type="text" placeholder="Enter Title..." tabindex='1' data-bind="value: title, valueUpdate: 'afterkeydown',keyBoardControl" class="textboxCss">
                <input placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable:$data.isNewsEdit()" class="titleStyle textboxCss">

            </div>
        </div>
        <div class="rightPanel">
            <aside class="aside">
                <div class="options" data-bind="visible : isAssignment">
                    <select style="width: 90%;" data-bind="value: programId">
                        <option value="0">Select Program</option>
                        <!-- ko foreach: programs -->
                        <option data-bind="value : id, text: name"></option>
                        <!-- /ko -->
                    </select>
                </div>
                <div class="options" data-bind="visible : isAssignment">
                    <select style="width: 90%;" data-bind="value:assignedTo">
                        <option value="0">Select Reporter</option>
                        <!-- ko foreach: reporters -->
                        <option data-bind="value : id, text: name"></option>
                        <!-- /ko -->
                    </select>
                </div>

                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: category()!='' -->
                        <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
                        <!-- /ko -->
                        <!-- ko if: category()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: location()!='' -->
                        <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span>
                        <!-- /ko -->
                        <!-- ko if: location()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <input data-bind=" value location, autoComplete:{source: locationSource,selected selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko template: {name:'usercontrol.datetimepicker'} -->
                <!-- /ko -->
            </aside>
        </div>
    </div>
    <div class="menuSection">
        <!-- ko template: {name:'usercontrol.reportmenubar', data: $data} -->
        <!-- /ko -->
    </div>
    <div class="bodySection">
        <div data-bind="visible: !isTickerView()">
            <div class="leftPanel">
                <div class="editor">
                    <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                        <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                        <!-- /ko -->
                    </div>
                    <!-- ko if: typeof editor !== 'undefined' && $root.appdata.currentUser().userType != $root.e.UserType.Creporter && $root.appdata.currentUser().userType != $root.e.UserType.NpReporter && $root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.FReporter && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.TickerProducer -->
                    <!-- ko template:{name:'usercontrol.editor', data:editor} -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $root.appdata.currentUser().userType == $root.e.UserType.Producer || $root.appdata.currentUser().userType == $root.e.UserType.FReporter  || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer  || $root.appdata.currentUser().userType == $root.e.UserType.TickerProducer-->
                    <div class="newEditor">
                        <div class="toolBar">
                            <span class="attachment" data-bind="click: $root.clickAttachment"></span>
                            <span class="cameraman1" data-bind="click: $root.clickCameramen"></span>
                            <span class="iframeFE" data-bind="click: $root.openMediaSelection"></span>
                        </div>
                        <textarea class="reportNewsEditor" data-bind="value: producerDescription, valueUpdate: 'afterkeydown'"></textarea>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="rightPanel changedCss" data-bind="css:{newspaperNews:$data.isNewsPaperView() || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer}">
                <aside class="aside">
                    <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
                    <!-- /ko -->
                    <textarea style="width:100%;" class="textboxCss SuggArea" data-bind="value:$data.suggestions,visible:$data.isTelevisionView() && $root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer" placeholder="Suggestion..."></textarea>
                </aside>
            </div>
        </div>
        <div data-bind="visible: isTickerView()">
            <!-- ko template: {name: 'usercontrol.reporterticker', data: $root.tickerReporterControl } -->
            <!-- /ko -->
        </div>
        <input type="button" class="btnReportNews " data-bind="click: $root.submitNews,value: $parent.buttonText, css:$parent.buttonClass,tickerClear:{isTickerClear:$data.isTickerClear}" />
        <div data-bind="visible: !isTickerView()" class="leftPanel" style="width: 100%;">
            <!-- ko template: {name:'resource.thumb', data: uploader} -->
            <!-- /ko -->
            <div class="uploadprogress" data-bind="with: uploader">
                <div data-bind="style{display:finished()==false?'none':'block'}">
                    <span>
                        <label data-bind="html:resources().length"></label>
                        Files Uploading (<label data-bind="html:uploadProgress"></label>)
                    </span>
                    <div class="progress">
                        <div class="bar" data-bind="style:{width: uploadProgress}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <article data-bind="css:{full:typeof isTeamB() && !showFullTemplate()},visible: ($root.router.currentHash() === $root.config.views.fieldreporter.updatenews.url || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.Creporter ) || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.NpReporter ))">
        <div class="editor">

            <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                <!-- /ko -->
            </div>
            <input placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable:$data.isNewsEdit()" class="titleStyle">
            <input type="text" placeholder="Enter Title..." tabindex='1' data-bind="value: title, valueUpdate: 'afterkeydown',keyBoardControl">

            <!-- ko if: isTeamB() -->
            <div class="suggestions" data-bind="customScrollBar, css: suggestedNews().length>0 ? 'showForcely' : 'hideForcely'">
                <ul data-bind="foreach: suggestedNews">
                    <li data-bind="click: $parent.newsSelected" class='display_box'>
                        <img width="32" height="24" alt="*" data-bind="attr:{src: (typeof ThumbnailUrl !== 'undefined')?  ($root.config.MediaServerUrl + 'getthumb/'+ThumbnailUrl):'content/images/producer/noimage.png'}" /><label data-bind=" trimText:{text: Title, length:100}"></label>
                    </li>
                </ul>
            </div>
            <div class="uploadprogress" data-bind="css: !showFullTemplate() ? 'showForcely' : 'hideForcely'">
                <input type="button" class="ReportNews" data-bind="click: newsSelected" value="Add News" />
            </div>
            <!-- /ko -->

            <textarea id="fontSelector" data-bind="value:producerDescription,visible:$root.appdata.currentUser().userType == $root.e.UserType.Creporter && showFullTemplate()" class="urduFontFamily"></textarea>
            <select data-bind="value: currentFontSize, event:{ change: changeFontSize},visible:$root.appdata.currentUser().userType == $root.e.UserType.Creporter && showFullTemplate()">
                <option value="15">15 px</option>
                <option value="16">16 px</option>
                <option value="17">17 px</option>
                <option value="18">18 px</option>
                <option value="19">19 px</option>
                <option value="20">20 px</option>
                <option value="21">21 px</option>
                <option value="22">22 px</option>
                <option value="23">23 px</option>
                <option value="24">24 px</option>
                <option value="25">25 px</option>
            </select>
            <!-- ko if: (!isTeamB() || showFullTemplate()) && $root.appdata.currentUser().userType != $root.e.UserType.Creporter -->
            <!-- ko if: typeof editor !== 'undefined' -->
            <!-- ko template:{name:'usercontrol.editor', data:editor} -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>

    </article>
</div>
<!-- ko if: !isTeamB() || showFullTemplate() -->
<div style="display: none;">
    <aside class="aside" data-bind="visible: $root.router.currentHash() === $root.config.views.fieldreporter.updatenews.url || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.Creporter ) || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.NpReporter )">

        <div class="tags autosuggestfilter">
            <div class="tagsinput" style="width: auto;">
                <!-- ko if: category()!='' -->
                <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind=" click:function(){selectedCategory({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: category()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="tags autosuggestfilter">
            <div class="tagsinput" style="width: auto;">
                <!-- ko if: location()!='' -->
                <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind=" click:function(){selectedLocation({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: location()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind=" value location, autoComplete:{source: locationSource,selected selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>

        <!-- ko template: {name:'usercontrol.datetimepicker'} -->
        <!-- /ko -->
        <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
        <!-- /ko -->

    </aside>
</div>
<!-- ko if:  $root.router.currentHash() != $root.config.views.fieldreporter.reportNews.url || $root.appdata.currentUser().userType === $root.e.UserType.NpReporter || $root.appdata.currentUser().userType === $root.e.UserType.Creporter-->
<!-- ko template: {name:'resource.thumb', data: uploader} -->
<!-- /ko -->
<!-- /ko -->
<div style="display:none;">
    <div class="uploadprogress" data-bind="visible: $root.router.currentHash() === $root.config.views.fieldreporter.updatenews.url || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.Creporter ) || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.NpReporter),with: uploader">
        <div data-bind="style{display:finished()==false?'none':'block'}">
            <span>
                <label data-bind="html:resources().length"></label>
                Files Uploading (<label data-bind="html:uploadProgress"></label>)
            </span>
            <div class="progress">
                <div class="bar" data-bind="style:{width: uploadProgress}"></div>
            </div>
        </div>

        <input type="button" class="ReportNews " data-bind="tickerClear:{},click: $root.submitNews,value: $parent.buttonText, css:$parent.buttonClass" />
        <!-- ko if: $root.appdata.currentUser().userType === $root.e.UserType.Creporter || $root.appdata.currentUser().userType === $root.e.UserType.NpReporter -->
        <input type="button" class="ReportNews " data-bind="click:$root.model.hideFullTemplate, css:$parent.buttonClass" value="Hide" style="width: 100px; right: 7px;">
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
