﻿
 <!-- ko if : $root.appdata.currentUser().userType != $root.e.UserType.taggedUser -->

<div class="mainnewstmpl" data-bind="visible: $root.appdata.currentUser().userType != $root.e.UserType.Creporter && $root.appdata.currentUser().userType != $root.e.UserType.NpReporter && $root.appdata.currentUser().userType != $root.e.UserType.taggedUser">
    <div class="headerPanel">
        <div class="leftPanel">
            <div class="editor">
                <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                    <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                    <!-- /ko -->
                </div>
               
                <input type="text" placeholder="Enter Title..." tabindex='1' data-bind="value: title, valueUpdate: 'afterkeydown',keyBoardControl" class="textboxCss">
                <textarea type="text" placeholder="Highlights..." tabindex='1' data-bind="css:{'EventCss':isEventNewsType()},value: Highlight, valueUpdate: 'afterkeydown',keyBoardControl" class="textboxCss textboxHighLight" style="height: 70px;"></textarea>
            </div>
        </div>
        <div class="rightPanel">
            <aside class="aside">
                <div class="options" data-bind="visible : isAssignment">
                    <select data-bind="value: programId">
                        <option value="0">Select Program</option>
                        <!-- ko foreach: programs -->
                        <option data-bind="value : id, text: name"></option>
                        <!-- /ko -->
                    </select>
                </div>

                <!-- ko if:  $root.appdata.currentUser().userType == $root.e.UserType.controllerInput && !isEventNewsType() && !isUpdating() -->
                <div class="options" data-bind="visible : reporterList().length > 0">
                    <select data-bind="value: onBehalfReporterID" style="width: 100%;">
                        <option value="0">Select Reporter</option>
                        <!-- ko foreach: reporterList -->
                        <option data-bind="value : id, text: name"></option>
                        <!-- /ko -->
                    </select>
                </div>
                <!-- /ko -->

            

                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: category()!='' -->
                        <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
                        <!-- /ko -->
                        <!-- ko if: category()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="tags autosuggestfilter" style="height: auto !important;">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: location()!='' -->
                        <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span>
                        <!-- /ko -->
                        <!-- ko if: location()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <input data-bind="value: location, autoComplete:{source: locationSource,selected: selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>


                <!-- ko template: {name:'usercontrol.datetimepicker'} -->
                <!-- /ko -->

                <div class="tags autosuggestfilter" data-bind="css:{'EventCss':isEventNewsType()}">
                    <div class="tagsinput" style="width: auto;">
                        <input placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable:$data.isNewsEdit()" class="titleStyle">
                    </div>
                </div>

                <!-- ko if: isEventNewsType() ||  $root.appdata.currentUser().userType == $root.e.UserType.controllerInput -->
                  <!-- ko template: {name:'usercontrol.organization',data:newsOrg} -->
                  <!-- /ko -->
                <!-- /ko -->

            </aside>
        </div>
    </div>
    <div class="menuSection" style="display:none !important">

    </div>
    <div class="bodySection">
        <div data-bind="visible: !isTickerView()">

      
            
            <div class="leftPanel" data-bind="css:{'EventPanel':isEventNewsType()}">

                <div class="editor" data-bind="css:{'adjust_Position' : $root.appdata.currentUser().userType === $root.e.UserType.controllerInput && !isEventNewsType()}">
                    <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                        <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                        <!-- /ko -->
                    </div>
                    <!-- ko if: typeof editor !== 'undefined' && $root.appdata.currentUser().userType != $root.e.UserType.Creporter && $root.appdata.currentUser().userType != $root.e.UserType.NpReporter && $root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.FReporter && $root.appdata.currentUser().userType != $root.e.UserType.controllerInput && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.TickerProducer  && $root.appdata.currentUser().userType != $root.e.UserType.Controlleroutput-->
                    <!-- ko template:{name:'usercontrol.editor', data:editor} -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if:  $root.appdata.currentUser().userType == $root.e.UserType.controllerInput || $root.appdata.currentUser().userType == $root.e.UserType.Producer || $root.appdata.currentUser().userType == $root.e.UserType.FReporter  || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer  || $root.appdata.currentUser().userType == $root.e.UserType.TickerProducer || $root.appdata.currentUser().userType == $root.e.UserType.Controlleroutput-->
                    <div class="newEditor">
                        <div class="toolBar">
                            <span class="attachment" data-bind="click: $root.clickAttachment"></span>
                            <span class="cameraman1" data-bind="click: $root.clickCameramen" style="display:none;"></span>
                            <span class="iframeFE" data-bind="click: $root.openMediaSelection"></span>
                        </div>
                        <!-- ko if: typeof $parent.uploader !== 'undefined' -->
                        <!-- ko template: {name:'usercontrol.editor.uploader',data:$parent.uploader} -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <textarea class="reportNewsEditor" data-bind="value: producerDescription, valueUpdate: 'afterkeydown'"></textarea>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- ko if: isEventNewsType() -->

                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: eventType()!='' -->
                        <span class="tag"><span data-bind="text:eventType"></span><a href="javascript:void(0)" title="Removing EventType" data-bind="click:function(){selectedEvent({});}">x</a></span>
                        <!-- /ko -->
                        <!-- ko if: eventType()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <input data-bind="value: eventType,addEvent : {tags:selectedEvent}, autoComplete:{source: eventSource,selected: selectedEvent}" tabindex='3' placeholder="Enter EventType" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="EventPropertiesPanel">
                    <fieldset style="float: left;height:97px;left: 20px;margin-left: 8px;padding: 5px;">
                      <legend>Coverage:</legend>
                      <input type="radio" name="toggle" id="toggle-on" value="0" data-bind="checked:CoverageType"  style="margin-left: 11px;margin-top: 7px;">LIVE
                      <input type="radio" name="toggle" id="toggle-off" value="1" data-bind="checked:CoverageType" style="margin-left: 11px;margin-top: 7px;">RECORDING
                    </fieldset>

                    <fieldset style="width: 200px;position: relative;left: 30px;height: 97px;padding: 5px;">
                      <legend>Resources:</legend>
                      <input type="checkbox" name="Dsng" data-bind="checked:isDsng" style="margin-left: 11px;margin-top: 7px;">DSNG
                      <input type="checkbox" name="BeltPack" data-bind="checked:isBeltPack" style="margin-left: 11px;margin-top: 7px;">BELTPACK<br>
                    </fieldset>
                </div>

            

                <!-- /ko -->
            </div>
        

            <div class="rightPanel changedCss" data-bind="css:{newspaperNews:$data.isNewsPaperView() || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer}">
                <aside class="aside">
                    <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
                    <!-- /ko -->
                    <!--<textarea style="width:100%;" class="textboxCss SuggArea" data-bind="value:$data.suggestions,visible:$data.isTelevisionView() && ($root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer || $root.appdata.currentUser().userType !== $root.e.UserType.FReporter || $root.appdata.currentUser().userType !== $root.e.UserType.controllerInput)" placeholder="Suggestion..."></textarea>-->
                </aside>
            </div>
        </div>
        <div data-bind="visible: isTickerView()">
            <!-- ko template: {name: 'usercontrol.reporterticker', data: $root.tickerReporterControl } -->
            <!-- /ko -->
        </div>
        <!-- ko if: !isUpdating() -->
        <input type="button" class="btnReportNews " data-bind="click: $root.submitNews,value: $parent.buttonText, css:$parent.buttonClass,tickerClear:{isTickerClear:$data.isTickerClear},visible: $root.router.currentHash() !== $root.config.views.fieldreporter.updatenews.url" />
            <!-- /ko -->
        <!-- ko if: isUpdating() -->
        <input type="button" class="btnReportNews" data-bind="click: $root.submitNewsForUpdate" value="Update News"/>
        <!-- /ko -->
        
        
        <div data-bind="visible: !isTickerView()" class="leftPanel">
            <!-- ko template: {name:'resource.thumb', data: uploader} -->
            <!-- /ko -->
            <div class="uploadprogress" data-bind="with: uploader">
                <div data-bind="style{display:finished()==false?'none':'block'}">
                    <span>
                        <label data-bind="html:resources().length"></label>
                        Files Uploading (<label data-bind="html:uploadProgress"></label>)
                    </span>
                    <div class="progress">
                        <div class="bar" data-bind="style:{width: uploadProgress}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /ko -->




<!-- ko if:  isTeamB() -->
<div>
    <!--style="display: none;"-->
    <article data-bind="css:{full:typeof isTeamB() && !showFullTemplate()},visible: ($root.router.currentHash() === $root.config.views.fieldreporter.updatenews.url || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.Creporter ) || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.NpReporter ))" style="margin-bottom: 118px;">
        <div class="editor">
            
            <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                <!-- /ko -->
            </div>            
            <input type="text" placeholder="Enter Title..." tabindex='1' data-bind="value: title, valueUpdate: 'afterkeydown',keyBoardControl">

            <!-- ko if: isTeamB() -->

            <!--<div class="suggestions" data-bind="customScrollBar, css: suggestedNews().length>0 ? 'showForcely' : 'hideForcely'">
                <ul data-bind="foreach: suggestedNews">
                    <li data-bind="click: $parent.newsSelected" class='display_box'>
                        <img width="32" height="24" alt="*" data-bind="attr:{src: (typeof ThumbnailUrl !== 'undefined')?  ($root.config.MediaServerUrl + 'getthumb/'+ThumbnailUrl):'content/images/producer/noimage.png'}" /><label data-bind="trimText:{text: Title, length:100}"></label>
                    </li>
                </ul>
            </div>-->

            <div class="uploadprogress" data-bind="css: !showFullTemplate() ? 'showForcely' : 'hideForcely'">
                <input type="button" class="ReportNews" data-bind="click: newsSelected" value="Add News" />
            </div>            
            <!-- /ko -->

            <!--<textarea type="text" placeholder="Highlights..." tabindex='1' data-bind="value: Highlight, valueUpdate: 'afterkeydown',keyBoardControl ,visible:$root.appdata.currentUser().userType == $root.e.UserType.Creporter && showFullTemplate()" class="textboxHighLight" style="height: 70px;"></textarea>-->
            <textarea type="text" data-bind="value:producerDescription, valueUpdate: 'afterkeydown',keyBoardControl ,  visible:$root.appdata.currentUser().userType == $root.e.UserType.Creporter && showFullTemplate()" class="reportNewsEditor urduFontFamily">
        </textarea>
            <!--<select data-bind="value: currentFontSize, event:{ change: changeFontSize},visible:$root.appdata.currentUser().userType == $root.e.UserType.Creporter && showFullTemplate()">
                <option value="15">15 px</option>
                <option value="16">16 px</option>
                <option value="17">17 px</option>
                <option value="18">18 px</option>
                <option value="19">19 px</option>
                <option value="20">20 px</option>
                <option value="21">21 px</option>
                <option value="22">22 px</option>
                <option value="23">23 px</option>
                <option value="24">24 px</option>
                <option value="25">25 px</option>
            </select>-->


            <!-- ko if: (!isTeamB() || showFullTemplate()) && $root.appdata.currentUser().userType != $root.e.UserType.Creporter -->
            <!-- ko if: typeof editor !== 'undefined' -->
            <div id="thisone"></div>
            <!-- ko template:{name:'usercontrol.editor', data:editor} -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>

    </article>
</div>
  <!-- /ko -->
<!-- ko if: !isTeamB() || showFullTemplate() -->
<div>
    <!--style="display: none;"-->
    <aside class="aside" data-bind="visible:($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.Creporter ) || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.NpReporter )">

        <div class="options" data-bind="visible : programs().length > 0">
            <select style="border:none;width:100%;height:100%;color: #aaa;" data-bind="value: programId">
                <option value="0">Select Program</option>
                <!-- ko foreach: programs -->
                <option data-bind="value : id, text: name"></option>
                <!-- /ko -->
            </select>
        </div>

        <!--$root.router.currentHash() === $root.config.views.fieldreporter.updatenews.url ||--> 

        <div class="tags autosuggestfilter" style="height: auto !important;">
            <div class="tagsinput" style="width: auto;">
                <!-- ko if: category()!='' -->
                <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: category()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>
        
        <div class="tags autosuggestfilter" style="height: auto !important;">
            <div class="tagsinput" style="width: auto;">
                <!-- ko if: location()!='' -->
                <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="    click:function(){selectedLocation({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: location()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind="value: location, autoComplete:{source: locationSource,selected: selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>

        <!-- ko template: {name:'usercontrol.datetimepicker'} -->
        <!-- /ko -->
        
        <input id="saad" style="display: block !important;width: 91%;height: auto;margin-bottom: 8px;" placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable:$data.isNewsEdit()" class="titleStyle tags">

        <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
        <!-- /ko -->

        
    </aside>
</div>
<!-- ko if:  ($root.router.currentHash() != $root.config.views.fieldreporter.reportNews.url || $root.appdata.currentUser().userType === $root.e.UserType.NpReporter || $root.appdata.currentUser().userType === $root.e.UserType.Creporter) && ($root.appdata.currentUser().userType != $root.e.UserType.FReporter) && ($root.appdata.currentUser().userType != $root.e.UserType.controllerInput)-->
<!-- ko template: {name:'resource.thumb', data: uploader} -->
<!-- /ko -->
<!-- /ko -->
<div>
    <!--style="display:none;"-->
    <div class="uploadprogress" data-bind="visible:  ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.Creporter ) || ($root.router.currentHash() === $root.config.views.fieldreporter.reportNews.url && $root.appdata.currentUser().userType == $root.e.UserType.NpReporter),with: uploader">
        <!--$root.router.currentHash() === $root.config.views.fieldreporter.updatenews.url ||-->
        <div data-bind="style{display:finished()==false?'none':'block'}">
            <span>
                <label data-bind="html:resources().length"></label>
                Files Uploading (<label data-bind="html:uploadProgress"></label>)</span>
            <div class="progress">
                <div class="bar" data-bind="style:{width: uploadProgress}"></div>
            </div>
        </div>

        <input type="button" class="ReportNews " data-bind="tickerClear:{},click: $root.submitNews,value: $parent.buttonText, css:$parent.buttonClass" />
        <!-- ko if: $root.appdata.currentUser().userType === $root.e.UserType.Creporter || $root.appdata.currentUser().userType === $root.e.UserType.NpReporter -->
        <!--<input type="button" class="ReportNews " data-bind="click:$root.model.hideFullTemplate, css:$parent.buttonClass" value="Hide" style="width: 100px; right: 7px;">-->
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->


<!-- ko if: ($root.appdata.currentUser().userType === $root.e.UserType.Creporter)  && ($root.router.currentHash() == $root.config.views.fieldreporter.updatenews.url) && ($root.appdata.currentUser().userType != $root.e.UserType.FReporter) && ($root.appdata.currentUser().userType != $root.e.UserType.controllerInput) -->
<div class="mainnewstmpl">



    <div class="video-container" style="background: black;">
        <video id="videoplayer" controls data-bind="attr:{src: reportedMediaUrl}" class="channelvideoeditor">
            <source type="video/ogg" />
        </video>
    </div>


    
    <div class="headerPanel" style="padding-top:50px;">
        <div class="leftPanel">
            <div class="editor">
                <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                    <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                    <!-- /ko -->
                </div>                
                <input type="text" placeholder="Enter Title..." tabindex='1' data-bind="value: title, valueUpdate: 'afterkeydown',keyBoardControl" class="txt-sty-box textboxCss" style="width:94.8%;margin-bottom: 38px !important;" disabled="disabled">
                
                <!--<textarea type="text" placeholder="Highlights..." tabindex='1' data-bind="value: Highlight, valueUpdate: 'afterkeydown',keyBoardControl ,visible:$root.appdata.currentUser().userType == $root.e.UserType.Creporter && showFullTemplate()" class="textboxHighLight urduFontFamily" style="height: 70px;" disabled="disabled"></textarea>-->
                
            </div>
        </div>
        <div class="rightPanel">
            <aside class="aside">
                <div class="options" data-bind="visible : isAssignment">
                    <select data-bind="value: programId">
                        <option value="0">Select Program</option>
                        <!-- ko foreach: programs -->
                        <option data-bind="value : id, text: name"></option>
                        <!-- /ko -->
                    </select>
                </div>

                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: category()!='' -->
                        <!--<span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span> old line-->
                        <span class="tag"><span data-bind="text:category"></span></span>
                        <!-- /ko -->
                        <!-- ko if: category()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="tags autosuggestfilter" style="height: auto !important;">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: location()!='' -->
                        <!--<span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span> old line-->
                        <span class="tag"><span data-bind="text:location"></span></span>
                        <!-- /ko -->
                        <!-- ko if: location()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>

                        </div>
                        <!-- /ko -->
                    </div>
                </div>


                <!-- ko template: {name:'usercontrol.datetimepicker'} -->
                <!-- /ko -->

                <!--<div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <input placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable:$data.isNewsEdit()" class="titleStyle">
                    </div>
                </div>-->
                <!--<input id="saad" style="display: block !important;width: 91%;height: auto;margin-bottom: 8px;" placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable:$data.isNewsEdit()" class="titleStyle tags"> old line-->
                <input id="saad" style="display: block !important;width: 91%;height: auto;margin-bottom: 8px;" placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown'" class="titleStyle tags" disabled="disabled">
            </aside>
        </div>


        <div class="bodySection">
            <div data-bind="visible: !isTickerView()">
                <div class="leftPanel">
                    <div class="editor">
                        <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
                            <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
                            <!-- /ko -->
                        </div>
                        <div class="newEditor" style="border:0 !important;">
                            <textarea class="urduFontFamily" data-bind="value: producerDescription, valueUpdate: 'afterkeydown'" disabled="disabled"></textarea>
                        </div>
                        
                    </div>
                </div>
                <div class="rightPanel changedCss" data-bind="css:{newspaperNews:$data.isNewsPaperView() || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer}">
                    <aside class="aside">
                        <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
                        <!-- /ko -->
                        
                        <!--<textarea style="width:100%;" class="textboxCss SuggArea" data-bind="value:$data.suggestions,visible:$data.isTelevisionView() && ($root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer || $root.appdata.currentUser().userType !== $root.e.UserType.FReporter || $root.appdata.currentUser().userType !== $root.e.UserType.controllerInput)" placeholder="Suggestion..."></textarea>-->
                    </aside>
                </div>
            </div>
            
           
          
        </div>


    </div>


</div>
<!-- /ko -->

