﻿<!-- ko with: items  -->
<p><span data-bind="html: updatesCountMsg"></span></p>
<ol class="update" data-bind="foreach: updates">
    <li><span><a data-bind="html: title, attr: { title: title }"></a>
        <label data-bind="html: publishDisplayTime"></label>
    </span></li>
</ol>
<!-- /ko -->
