﻿<div class="latestCol" data-bind="newsBucketHover: true">
   <!-- <i class="icon-plus chatIcon" style="top: -10px;" data-bind="click:$root.createNews"></i>-->
    <a style="top: -10px;color: white;cursor:pointer;text-decoration:underline" data-bind="click:$root.createNews">Add News</a>
    <ul data-bind="customScrollBar: {}" style="margin-top: 10px;">
        <!-- ko foreach: $root.newsbucketList -->
        <li>
            <span class="lockImg" data-bind="click: $root.removeStoryFromSegment"></span>
            <a href="javascript:;">
                <img data-bind="attr: { src: news.defaultImageUrl }" width="60" height="50" onerror="this.src = '/content/images/producer/noimage-60x50-dark.jpg'" />
            </a>
            <p data-bind="trimText: { text: news.title(), length: 40 }, css: { urduContent: $data.news.languageCode == 'ur' }"></p>
        </li>
        <!-- /ko -->
    </ul>
    <a class="procesBtn" href="javascript:;" data-bind="click: proceedToSequence" style="top: -22px;">Proceed</a>
</div>
