﻿<article>
    <!-- ko with: $root.currentNews -->
    <!-- ko template:{name:'usercontrol.video', data: resources()[0]} -->
    <!-- /ko -->
    <!-- /ko -->
</article>
<aside>
    <div class="Videodata">
        <div data-bind="with: $root.thisNews">
            <input type="text" placeholder="Enter Category" data-bind=" value: categories, autoComplete:{source: $root.categorySource,selected: selectedCategory} " />
        </div>
        <div class="inputWrap" data-bind="with: $root.thisNews">

            <div class="rfl slctkeybrd">
                <i class="rfl" data-bind="dropDown:{selector:'.languages'}"></i><span class="rfl" data-bind="html: selectedLanguage"></span>
            </div>
            <input type="text" data-bind="value: title" />

            <div class="editor">
                <textarea type="text" data-bind="text: description">
                                     </textarea>

                <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</aside>



