﻿<ul class="newsfilecontextmenu1">
    <!--ko foreach:$root.copyFolderList-->
    <li class="actionfolder" data-bind="click:function(){$root.updateNewsFileAction($root.currentNewsFile().id,  $root.e.NewsFileAction.CopyTo, $data.id)}"><a href="javascript:void(0)" data-bind="text:name">Karachi Bureau</a></li>
    <!-- /ko -->
</ul>
