﻿<ul class="storyDet" data-bind="css:{'newsInfoCSS':$root.router.currentHash() === $root.config.hashes.production.home  && $data.languageCode == 'ur' ,'newsInfoCSSEng':$root.router.currentHash() === $root.config.hashes.production.home  && $data.languageCode == 'en' }">
    <!-- ko if: parentCategories().length > 0 -->
    <li class="first"><a title="" href="javascript:;" data-bind="text: parentCategories()"></a></li>
    <!-- /ko -->

    <!-- ko if: source -->
    <li><a title="" href="javascript:;" data-bind="text: source"></a></li>
    <!-- /ko -->
    <li class="last"><a title="" href="javascript:;" data-bind="text: publishDisplayTime"></a></li>
      <li class="last"><a title="" href="javascript:;" data-bind="text: orignalDisplayTime(),visible:publishDisplayTime().indexOf('day') != -1"></a></li>

    <!-- ko if: displayName -->
    <li><a title="" href="javascript:;" data-bind="text: displayName"></a></li>
    <!-- /ko -->
</ul>
