﻿            <aside class="asideExplosives">
                <section class="topAside clearfix">
                    <div class="newsImage">
                        <figure>
                            <img  onerror="this.src = '../Content/images/producer/noimage-730x380.jpg'" data-bind="attr:{'src': $data.ResourceDisplay()}"/>
                        </figure>
                </div>
                <article>
                    <!-- ko  if: $data.languageCode == 'en' -->
                    <p data-bind="text:title" class="arttitle"></p>
                    <!-- /ko -->    
                    
                    <!-- ko  if: $data.languageCode == 'ur' -->
                    <p data-bind="text:title" class="arttitle UrduCss"></p>
                    <!-- /ko -->  
                                   
                    <p data-bind="text: $data.slug()" class="arttxt"></p>                    
                    <!-- ko template: {name: $root.templates.newsFileInfo, data : $data } -->
                    <!-- /ko -->
                </article>
                    <div class="close xpopUp_CloseIcon" data-bind="click:$root.closeDetailView"></div>
            </section>

            <section class="newsAside">
                <article class="newsDetail">
                    <h3 data-bind="visible:$data.heighlighs()">Highlights</h3>
                     <!-- ko  if: $root.appdata.currentUser().userType == $root.e.UserType.controllerInput -->
                    <!-- /ko -->

                    <!-- ko  if: $data.languageCode == 'en' -->
                    <p data-bind="html:$data.heighlighs() , visible:$data.heighlighs()" class="enableTextSelection"></p>
                    <!-- /ko -->

                    <!-- ko  if: $data.languageCode == 'ur' -->
                    <p data-bind="html:$data.heighlighs()" class="enableTextSelection UrduCss" style="text-align: right;"></p>
                    <!-- /ko -->
                   
                    <div class="fileResourceDetails"> 
                        <h3 data-bind="visible:$data.descriptionText()">Description:</h3>
                        <!-- ko  if: $data.languageCode == 'en' -->
                        <p data-bind="html: $data.descriptionText(),visible:$data.descriptionText()" class="enableTextSelection"></p>
                        <!-- /ko -->

                        <!-- ko  if: $data.languageCode == 'ur' -->
                        <p data-bind="html: $data.descriptionText()" class="enableTextSelection UrduCss" style="text-align: right;"></p>
                        <!-- /ko -->

                        <!-- ko  if: $data.EventType -->
                        <div class="eventDetails">

                            <style>
                                .eventDetails .detailtype2 {
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    margin-top: -1px;
                                    display:table; width:100%;
                                }

                                    .eventDetails .detailtype2 div {
                                        padding: 10px 10px 5px;
                                        font-size: 12px;
                                        width: 95px;
                                        display:table-cell;
                                    }

                                        .eventDetails .detailtype2 div + div {
                                            width: auto;
                                        }

                                        .eventDetails .detailtype2 div p {
                                                font-size: 12px;
                                            display: inline-block;
                                            background: #fc6068;
                                            color: #fff;
                                            border-radius: 20px;
                                            padding: 3px 10px;
                                            line-height: 17px;
                                            margin: 0px 5px 5px 0px;
                                            width: auto !important; min-height: initial;
                                        }
                            </style>

                            <div class="detailtype2">
                                <div>EventType:</div>
                                <div>
                                    <p data-bind="text:$data.EventTypeName"></p>
                                </div>
                            </div>
                            <div class="detailtype2">
                                <div>Coverage:</div>
                                <div>
                                    <p data-bind="visible:!$data.Coverage">LIVE</p>
                                    <p data-bind="visible:$data.Coverage">RECORDING</p>
                                </div>
                            </div>
                            <div class="detailtype2">
                                <div>Resource Type:</div>
                                <div>
                                    <!-- ko foreach : $data.EventResource -->
                                    <!-- ko  if: EventResourceType && EventResourceType == 1 -->
                                    <p>BELT PACK</p>
                                    <!-- /ko -->
                                    <!-- ko  if:EventResourceType == 0 -->
                                    <p>DSNG</p>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="detailtype2">
                                <div>Event Reporters:</div>
                                <div>
                                    <!-- ko foreach : $data.EventReporter -->
                                    <p data-bind="text:Name"></p>
                                    <!-- /ko -->
                                </div>
                            </div>

                            <div class="detailtype2">
                                <div>Event Date:</div>
                                <div>
                                    <p data-bind="text:$data.publishTimeStr()"></p>
                                </div>
                            </div>

                        </div>
                        <!-- /ko -->

                       
                        <div class="eventDetails">

                            <style>
                                .eventDetails .detailtype2 {
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    margin-top: -1px;
                                    display: table;
                                    width: 100%;
                                }

                                    .eventDetails .detailtype2 div {
                                        padding: 10px 10px 5px;
                                        font-size: 12px;
                                        width: 95px;
                                        display: table-cell;
                                    }

                                        .eventDetails .detailtype2 div + div {
                                            width: auto;
                                        }

                                        .eventDetails .detailtype2 div p {
                                            font-size: 12px;
                                            display: inline-block;
                                            background: #fc6068;
                                            color: #fff;
                                            border-radius: 20px;
                                            padding: 3px 10px;
                                            line-height: 17px;
                                            margin: 0px 5px 5px 0px;
                                            width: auto !important;
                                            min-height: initial;
                                        }
                            </style>
                            <!-- ko  if: $data.TaggedUser && $data.TaggedUser().length > 0 -->
                            <div class="detailtype2">
                                <div>Tagged By:</div>
                                <div>
                                    <p data-bind="text:$data.TaggedUser()"></p>
                                </div>
                            </div>
                            <!-- /ko -->

                            <!-- ko  if: $data.Tags && $data.Tags.length > 0 -->
                            <div class="detailtype2">
                                <div>News Files Tags:</div>
                                <div>
                                    <!-- ko foreach : $data.Tags -->
                                    <p data-bind="text:Tag"></p>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <!-- /ko -->

                            <!-- ko  if: $data.Organization && $data.Organization.length > 0 -->
                            <div class="detailtype2">
                                <div>Entities Tags:</div>
                                <div>
                                    <!-- ko foreach : $data.Organization -->
                                    <p data-bind="text:Name"></p>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <!-- /ko -->

                        </div>
                      
                        <div class="imageSection" style="width: 415px;height: 147px;">
                            <ul style="overflow: hidden;display: block;list-style-type: none;width: 100%;">
                                <!-- ko foreach : $data.resources() -->
                                <li style="width:50px;height:50px;float:left;    border: 1px solid gray;padding-right: 3px;" data-bind="click:function(){$root.displayResourceOnPopup($data,$parent.resources() )}">
                                    <!--<img src="../Content/images/producer/article-image-2.jpg" style="width:50px;height:50px;cursor:pointer;"/>-->
                                    <img onerror="this.src = '../Content/images/producer/noimage-730x380.jpg'" data-bind="attr:{'src':$data.thumbImageUrl()}" style="width:50px;height:50px;cursor:pointer;" />
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>

                    </article>

                
            </section>

        </aside>