﻿<div class="mediaSection" data-bind="visible: isUploading()">
    <div class="heading">
        Reported Media <span class="rfl" data-bind="html: progress()"></span>
        <div class="newsProgress">
            <div class="progress" data-bind="style:{width: progress()}"></div>
        </div>
    </div>
    <div>
        Media Files are uploading, it takes
                <br>
        few seconds and will appear in this section.
    </div>
</div>
<div class="mediaSection" data-bind="click:$root.CurrentDisplayedNews, visible:!isUploading(), customScrollBar" style="max-height:251px !important">
    <h3>Reported Media <span data-bind="html: resources().length"></span></h3>
    <div>
        <ul data-bind="foreach: resources">
           
               <!-- ko if: typeof $root.CurrentDisplayedNews == 'undefined' -->
                <li class="file" data-bind="css: cssClass,click:$root.model.displayCurrentThumb" style="cursor:pointer">
                    <img alt="File" data-bind=" attr:{src:thumbImageUrl}" width="50px" height="35px" />
                </li>
               <!--/ko--> 
               <!-- ko if: typeof $root.CurrentDisplayedNews !== 'undefined' -->
                <li class="file" data-bind="css: cssClass" style="cursor:pointer" >
                    <img alt="File" data-bind=" attr:{src:thumbImageUrl}" width="50px" height="35px" />
               </li>
               <!--/ko-->
        </ul>
    </div>
</div>
