﻿<!-- ko if: tmplName=='fieldreporterverification.pendingnews' -->
<aside class="allRelated" data-bind="adjustHeight: true, customScrollBar: true">
    <h2>All Related Stories <span data-bind="html: $parents[1].relatedNews().length"></span></h2>
    <div class="allStories">
        <div class="storiesColume">
            <a href="javascript:;"><i class="icon-allStories"></i></a>
            <ul class="storiesIcons">
                <li><a href="javascript:;"><i class="icon-storPeople"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storVideo"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storSearch"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storBook"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storWorld"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storTv"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storComment"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storStore"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storShop"></i></a></li>
                <li><a href="javascript:;"><i class="icon-storRadio"></i></a></li>
                <li class="sep"><a href="javascript:;"><i class="icon-storall"></i></a></li>
            </ul>
        </div>
        <ul class="storiesForm">
            <li>
                <form method="post">
                    <input type="text">
                    <input type="submit">
                </form>
            </li>
        </ul>
    </div>
    
    <!-- ALL STORIES END -->
    <ul data-bind="foreach: $parents[1].relatedNews">
        <li>
            <figure>
                <img data-bind="attr:{src: defaultImageUrl}" width="45" height="25" alt=""  onerror="this.src='/content/images/producer/noimage-730x380.jpg'" />
            </figure>
            <div class="storiesRight">
                <h3><a href="javascript:;" data-bind="click: function (data) { $root.setCurrentNews(data, true) }, html:title"></a></h3>
                <ul>
                    <li><i class="icon-meet"></i><a data-bind="html: source"></a></li>
                    <li data-bind="html: lastUpdateDisplayTime"></li>
                </ul>
                <p><a data-bind="html: updatesCountMsg"></a></p>
            </div>
        </li>
    </ul>
</aside>
<!-- /ko -->

<!-- ko if: tmplName=='reporter.mynews'  -->
<aside class="allRelated" data-bind="with: items">
    <!-- ko template: {name: 'news.item.resources'}  -->
    <!-- /ko -->
</aside>
<!-- /ko -->

<!-- ko if: tmplName=='reporter.mycase'  -->
<aside class="allRelated" data-bind="with: items">
  <!-- ko template: {name: 'mynewscase.item.resources'}  -->
  <!-- /ko -->
</aside>
<!-- /ko -->
