﻿<ul class="storyDet" data-bind="css:{'newsInfoCSS': 'true' }"></ul>

<div class="storyDet2" data-bind="css:{'adjustBottom':($data.voiceOver() && $data.source() && $data.source().length > '40' && $data.isVerified() &&  $data.broadcastedCount() > '0' && $data.commentCount() > '0') }">
    <div class="infoLine row1">
        <!-- ko if: $data.category() -->
        <p class="news_category" data-bind="text: $data.category()"></p>
        <!-- /ko -->
        <!-- ko if: $root.router.currentHash() === $root.config.views.nmsBol.controllerOutput.url  && $data.newsStatus() == '1' -->
        <p class="news_breaking">Breaking</p>
        <!-- /ko -->
        <!-- ko if: $data.reportedByDisplay() -->
        <p class="news_reportedBy" data-bind="text: $data.reportedByDisplay()"></p>
        <!-- /ko -->
    </div>
    <div class="infoLine row2">
        <!-- ko if: $data.source() -->
        <p class="news_source" data-bind="text: $data.source()"></p>
        <!-- /ko -->

    </div>
    <div class="infoLine row2">
        <!-- ko if: $data.sourceTypeId()==1 -->
        <p>Website</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==2 -->
        <p>Radio</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==3 -->
        <p>Social Media</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==4 -->
        <p>News Paper</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==6 -->
        <p>Public Reporter</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==7 -->
        <p>Field Reporter</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==8 -->
        <p>Package</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==9 -->
        <p>Wire</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==10 -->
        <p>Channel</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==11 -->
        <p>Records</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==12 -->
        <p>Press Release</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==13 -->
        <p>Category</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==15 -->
        <p>Verification</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==16 -->
        <p>Police</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==17 -->
        <p>Court</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==18 -->
        <p>Program</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==19 -->
        <p>News Media</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==760 -->
        <p>Television News</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==761 -->
        <p>News Paper News</p>
        <!-- /ko -->
        <!-- ko if: $data.sourceTypeId()==762 -->
        <p>Ticker News</p>
        <!-- /ko -->
        <!-- ko if: $data.bureauLocation() -->
        <p> <span data-bind="text:$data.bureauLocation()"></span> </p>
        <!-- /ko -->
        <!-- ko if: $data.isVerified() && $data.isVerified() != 'initial' -->
        <p class="verifiednews"><span></span></p>
        <!-- /ko -->
        <!-- ko if: $data.voiceOver() -->
        <p class="voiceOver" data-bind="css:$data.statusCSS()"><span>V</span></p>
        <!-- /ko -->
        <!-- ko if: $data.isTitle() -->
        <p class="isTitlePlaced" data-bind="css:$data.statusCSS()"><span>T</span></p>
        <!-- /ko -->
        <!-- ko if: $data.broadcastedCount() && $data.broadcastedCount() != '0' -->

        <p class="tooltip broadCastCount" style="width:auto">
            <span style="background: #4d7aff;" data-bind="html:$data.broadcastedCount(),event: { mouseover: function () {$root.ShowBroadCastedDetails($data)}}">
            </span>
            <span class="tooltiptext" style="height:100px; overflow-y:scroll;" data-bind="text : $root.tooltipData"></span>
        </p>

        <!--<span class="tooltiptext">asdasdasd</span>-->
        <!-- /ko -->
        <!-- ko if: $data.commentCount() && $data.commentCount() != '0' -->
        <p class="broadCastCount"><span data-bind="html: 'EC: ' + $data.commentCount()"></span></p>
        <!-- /ko -->
    </div>
</div>

<span data-bind="text: $data.creationDateDisplay()" class="storyDet2_dateCreate"></span>
