﻿<!-- ko if: isNullo !== true -->

        <section class="latestNews clearfix" data-bind="isDraggableNews :newsDrag, css:{urduContent : languageCode.toLowerCase()=='ur',approved: isAired,pending:(verificationStatus()==$root.e.NewsVerificationStatus.Rejected)}">
            <article>
                <div class="leftNews">
                    <!-- ko if: typeof $root.isSelectableNews !== 'undefined' && $root.isSelectableNews-->
                    <a href="javascript:;"><i class="icon-correct" data-bind="click: $root.toggleIsUsed, css: {active :isUsed}"></i></a>
                    <!-- /ko -->
                    <div class="newsImage">
                        <figure>
                            <img data-bind="attr:{src: defaultImageUrl}" width="133" height="75" alt="News"   onerror="this.src='/content/images/producer/noimage-730x380.jpg'" />
                        </figure>

                        <!-- ko template: {name: 'news.item.imagefooter', data : {tmplName: $root.imageFooterTmplName, items: $data } } -->
                        <!-- /ko -->

                    </div>
                </div>

                <!-- ko template: {name: 'news.item.content', data : {tmplName: $root.contentTmplName, items: $data } } -->
                <!-- /ko -->

            </article>

            <!-- ko template: {name: 'news.item.right', data : {tmplName: $root.rightTmplName, items: $data } } -->
            <!-- /ko -->

        </section>


<!-- /ko -->
