﻿<!-- ko if: uploadedResources().length>0  -->
<h3 class="reportHead">Reported Media <span data-bind="html:uploadedResources().length"></span></h3>
<div class="customthumb">
    <div class='cycle-slideshow' data-bind="cycleArrows">
        <ul data-bind="adjustHeight:true,customScrollBar:true">
            <!-- ko foreach: mappedResources -->
            <li   style="width: 85px; float: left;border: 2px solid;  margin-left: 2px;margin-top: 2px;">
               <span style="position: absolute; background-color: #F1EEEE; width: 0%; margin-left: 72px; margin-top: 2px; cursor: pointer;">
                    <lable style="font-size: small; font-weight: 800;" data-bind="click:function(data){$root.removeResource($data)}">X</lable>
                  <img src="/Content/images/Zoom-icon.png" width="20px" height="20px" style="margin-left: -8px;" data-bind="click:function(data){$root.viewReportedMedia($data)}" />
                </span>
                <img data-bind="attr:{src: $data.thumbImageUrl}" width="85px" height="69px" />
            </li>
            <!-- /ko -->
        </ul>

    </div>
</div>
<!-- /ko -->
<div style="position: absolute; background-color: #fff; height: 20px; top: 606px; width: 100%; display: none"></div>










