﻿<div class="sliderContent" data-bind="click: function (data) { $root.setCurrentNews(data, true) },css: { urduContent: $data.languageCode == 'ur' }">
    <p class="news-title" data-bind="html:' '+ title()"></p>
    <ul class="envoy">
        <li><span data-bind="text: source"></span></li>
        <li><span data-bind="text: publishDisplayTime()"></span></li>
        <li><span data-bind="text: orignalDisplayTime(),visible:publishDisplayTime().indexOf('day') != -1"></span></li>
    </ul>

    <!-- ko template: { name: $root.templates.newsStatsControl, data: $data } -->
    <!-- /ko -->
</div>
