﻿


<header class="grey">
    <a href="javascript:;" class="icon-check" data-bind="click: clickVerifier, selectedNews: isVerified"></a>
    <span class="newsId">News Id</span> <span data-bind="lastCharacters: {text: id, length: 5}"></span>
</header>
<div class="title">
    Reported News
    <div class="comments" data-bind="comments">
        <i></i>
        <div class="dropdown">
            <h3>Comments</h3>
            <textarea data-bind="value: newsComments, comments"></textarea>
            <input type="button" value="Submit" data-bind="click: submitComments" />
        </div>
    </div>
</div>

  <!-- ko template: { name: 'news.view', data: $data } -->
                <!-- /ko -->


