﻿<!-- ko if: tmplName=='producer.home' || tmplName=='producer.topicselection' -->
<ul class="ratColume slideDown" data-bind="with: items">
    <!-- ko if: isVerified -->
    <li class="first"><a title="" href="javascript:;"><i class="icon-arrow"></i></a></li>
    <!-- /ko -->
    <!-- ko if: isRecommended -->
    <li class="second"><a title="" href="javascript:;"><i class="icon-like"></i></a></li>
    <!-- /ko -->
    <!-- ko if: isPackage -->
    <li class="third"><a title="" href="javascript:;"><i class="icon-watch"></i></a></li>
    <!-- /ko -->
    <li class="icon-color"><a data-bind="html: programsCount"></a>
        <ul class="ratedMenu">
            <li>Program</li>
            <li><a href="javascript:;">Bol ki awaz</a> 8:00 pm</li>
            <li><a href="javascript:;">Bol News</a> 7:00 pm</li>
        </ul>
    </li>
    <li class="icon-outline"><a data-bind="html: otherProgramsCount"></a>
        <ul class="ratedMenu">
            <li>Program</li>
            <li><a href="javascript:;">Hard words</a> 8:00 pm</li>
        </ul>
    </li>
    <li class="icon-bg"><a data-bind="html: internationalProgramsCount"></a>
        <ul class="ratedMenu grid_230">
            <li><span>TV Channel</span> Program</li>
            <li><span>Geo News</span><a href="javascript:;">Capital Talk  </a>8:00 pm</li>
            <li><span>ARY News</span><a href="javascript:;">Hard Talk </a>7:00 pm</li>
            <li><span>Aaj Tak</span><a href="javascript:;">Hot News </a>7:00 pm</li>
            <li><span>TV One</span><a href="javascript:;">Bulletin</a> 7:00 pm</li>
        </ul>
    </li>
</ul>
<!-- /ko -->


<!-- ko if: tmplName=='reporter.mynews'  -->

<div class="icons" data-bind="with: items">
    <!-- ko if: verificationStatus() ==$root.e.NewsVerificationStatus.Verified || verificationStatus() ==$root.e.NewsVerificationStatus.Rejected-->
    <i class="verified"></i>
    <!-- /ko -->

    <!-- ko if:isAired -->
    <i class="aired"></i>
    <!-- /ko -->

    <!-- ko if:newsComments().length>0 -->
    <i class="conversation" data-bind="customHover:{selector:'.tooltip'}">
        <div class="tooltip" data-bind="foreach:newsComments,customScrollBar" style="max-height:100px !important;">
                <div data-bind="text: comment" style="word-wrap: break-word"></div>
        </div>
    </i>
    <!-- /ko -->

</div>
<!-- /ko -->



<!-- ko if: tmplName=='fieldreporterverification.pendingnews'  -->
<div class="icons" data-bind="with: items">
    <i class="images"></i><span data-bind="html: resourceImageCount"></span>
    <i class="videos"></i><span data-bind="html: resourceVideoCount"></span>
    <i class="recordings"></i><span data-bind="html: resourceAudioCount "></span>
    <i class="documents"></i><span data-bind="html: resourceDocumentCount"></span>
</div>
<!-- /ko -->
