﻿<ul data-bind="newsFilecontextmenu:true,attr : {id : $data.id}">
    <li data-bind="attr:{title : 'Reported By : ' + $data.reportedByDisplay()  + ', Created :' + $data.creationDateDisplay() }">
        <div class="newsFileItem" data-bind="click:function(data){$root.editNewsFile($data)}">
             <span style="border: 2px;width: 20px;float: left;height: 20px;margin-right:  8px;" data-bind="css:$data.statusCSS()"></span>
             <p data-bind="text:$data.slug"></p>
        </div>
    </li>
</ul>
