﻿<ul class='newsFileCss storyDet2 notSelectable' id="scrollul" data-bind="newsFilecontextmenu:true,attr : {id : $data.id , uid: $data.id }, css:{ 'breakingNewsFile' : $data.newsStatus() === $root.e.NewsFileStatus.Red , 'importantNewsFile' : $data.newsStatus() === $root.e.NewsFileStatus.Blue  , 'normalNewsFile' : $data.newsStatus() === $root.e.NewsFileStatus.Yellow , 'SlotedNews' : $index() >= $data.maxStoryCount()}" >
    <li data-bind="css:$data.newsDurationCss()">
        <div class="newsFileItem" data-bind="attr:{'Id':'#news'+$data.id },css:{'circleView': $root.appdata.currentUser().userType === $root.e.UserType.taggedUser || $root.appdata.currentUser().userType === $root.e.UserType.filterSocial }">
            <div id="right" data-bind="click:function(data){$root.editNewsFile($data,true)}, css:{'adjustCssTagged': $root.router.currentHash() === $root.config.hashes.nmsBol.taggedPending}">


                <!-- ko  if: $root.appdata.currentUser().userType == $root.e.UserType.taggedUser  -->
                <img class="nmsBolPencil taggedPencil" data-bind="click:function(data){$root.setNewsInEditMode($data)}" />
                <!-- /ko -->


                <!-- ko  if: $root.appdata.currentUser().userType != $root.e.UserType.taggedUser  -->
                <!-- ko  if: $root.router.currentHash() === $root.config.views.nmsBol.newsReviewed.url && $root.router.currentHash() != $root.config.views.nmsBol.taggerInput.url && $root.router.currentHash() != $root.config.views.nmsBol.FilterSocial.url && $root.router.currentHash() != $root.config.views.nmsBol.taggedPending.url -->
                <img class="nmsBolPencil taggedPencil" data-bind="visible:!$data.isNewsInEditableMode(),click:function(data){$root.setNewsInEditMode($data)}"  style="width: 3.5%;"/>
                <!-- ko  if: $data.isNewsInEditableMode() -->

                <div class="rghtBtns">

                    <span class="btnNormal" title="Normal" data-bind="click:function(data){$root.markNewsFileStatus($data,'3')}">N </span>
                    <span class="btnBreaking" title="Breaking" data-bind="click:function(data){$root.markNewsFileStatus($data,'1')}">B</span>
                    <span class="btnImportant" title="Important" data-bind="click:function(data){$root.markNewsFileStatus($data,'2')}">&nbsp;I&nbsp;</span>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->


                <!-- ko  if: $root.appdata.currentUser().userType != $root.e.UserType.taggedUser  -->
                <!-- ko  if: $root.router.currentHash() != $root.config.views.nmsBol.newsReviewed.url  && $root.router.currentHash() != $root.config.views.nmsBol.controllerOutput.url && $root.router.currentHash() != $root.config.views.nmsBol.taggerInput.url && $root.router.currentHash() != $root.config.views.nmsBol.FilterSocial.url && $root.router.currentHash() != $root.config.views.nmsBol.taggedPending.url -->

                <div class="rghtBtns" data-bind="css:{'editorialC':$root.appdata.currentUser().userType === $root.e.UserType.editorial }">
                    <span class="editPencilIcon" title="Normal" data-bind="click:function(data){$root.EditNewsFileFromCinput($data)}"></span>
                    <span class="btnNormal" title="Normal" data-bind="click:function(data){$root.markNewsFileStatus($data,'3')}">N </span>
                    <span class="btnBreaking" title="Breaking" data-bind="click:function(data){$root.markNewsFileStatus($data,'1')}">B</span>
                    <span class="btnImportant" title="Important" data-bind="click:function(data){$root.markNewsFileStatus($data,'2')}">&nbsp;I&nbsp;</span>
                </div>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko  if: $data.languageCode == 'ur' -->
                
                <!-- ko  if: $data.heighlighs() && $data.isProgramNews()-->
                  <p data-bind="text:$data.heighlighs,css:{'editorialT':$root.appdata.currentUser().userType === $root.e.UserType.editorial}" class="newsSlug UrduCss limitedTitle" style="direction: rtl;"></p>
                <!-- /ko -->

                <!-- ko  if: !$data.heighlighs() || $data.heighlighs().length == 0 || !$data.isProgramNews()  -->
                  <p data-bind="text:$data.title,css:{'editorialT':$root.appdata.currentUser().userType === $root.e.UserType.editorial}" class="newsSlug UrduCss limitedTitle" style="direction: rtl;"></p>
                <!-- /ko -->
                <!-- /ko -->


                <!-- ko  if: $root.appdata.currentUser().userType === $root.e.UserType.filterSocial  -->
                <div class="rghtBtns rghtVerificationStatus">
                    <span class="btnVerified" data-bind="click:function(data){$root.markSocialMediaStatus($data,true)}">APPROVED</span>
                    <span class="btnNonVerified" data-bind="click:function(data){$root.markSocialMediaStatus($data,false)}">&nbsp;REMOVED</span>
                </div>
                <!-- /ko -->





                <!-- ko  if: $data.languageCode != 'ur' -->

                <!-- ko  if: $data.heighlighs() && $data.isProgramNews()-->
                <p data-bind="text:$data.heighlighs,css:{'editorialT':$root.appdata.currentUser().userType === $root.e.UserType.editorial}" class="newsSlug UrduCss limitedTitle"></p>
                <!-- /ko -->
                <!-- ko  if: !$data.heighlighs() || $data.heighlighs().length == 0 || !$data.isProgramNews()  -->
                <p data-bind="text:$data.title,css:{'editorialT':$root.appdata.currentUser().userType === $root.e.UserType.editorial}" class="newsSlug limitedTitle"></p>
                <!-- /ko -->

                <!-- /ko -->

                <!-- ko  if: $root.appdata.currentUser().userType != $root.e.UserType.taggedUser  &&  $root.appdata.currentUser().userType != $root.e.UserType.filterSocial && $root.router.currentHash() != $root.config.views.nmsBol.taggedPending.url -->
                <!-- ko  if: $data.sourceTypeId() != $root.e.NewsFileFilterType.FieldReporterFilter &&  $data.sourceTypeId() != $root.e.NewsFileFilterType.ChannelReporterFilter && $data.sourceTypeId() != $root.e.NewsFileFilterType.SocialMediaFilter && $data.sourceTypeId() != $root.e.NewsFileFilterType.EventType -->

                <!-- ko template: {name: $root.templates.newsfileVerificationControl} -->
                <!-- /ko -->

                <!-- /ko -->
                <!-- /ko -->

                <!-- ko  if: $root.router.currentHash() === $root.config.views.nmsBol.controllerOutput.url  -->

                <div class="rghtBtns">
                    <span class="btnBreakingSmall" title="Breaking" data-bind="visible:  $data.newsStatus() === $root.e.NewsFileStatus.Red">B</span>
                    <span class="btnImportantSmall" title="Important" data-bind="visible:  $data.newsStatus() === $root.e.NewsFileStatus.Blue">&nbsp;I&nbsp;</span>
                </div>

                <!-- /ko -->


                    <!-- ko template: {name: $root.templates.newsFileInfo, data : $data } -->
                    <!-- /ko -->


             

            </div>
            <div id="left">
                <figure class="resourceCss">
                    <img class ="resourceImage circleimageview" onerror="this.src = '../Content/images/producer/noimage-730x380.jpg'" data-bind="attr:{'src':$data.ResourceDisplay()},css:{'circleresoure' : $root.appdata.currentUser().userType === $root.e.UserType.Controlleroutput}" width="50" height="60" alt="News" />
                </figure>
            </div>
            <div class="close xpopUp_CloseIcon" data-bind="click:function(data){$root.markNewsFileDeleted($data)}"></div>
        </div>

    </li>
</ul>