﻿<div class="video-container" style="background: black;">
    <!--    <video class="video" style="height: 100%; width: 100%" data-bind="videoEditor:{videoControlElement:videoControlElement,markVideoProcessed: $root.model.markMediaProcessed}, attr:{src: src}">
        <source type="video/mp4">
        <p>
            Your browser doesn't support HTML5 videso...
        </p>
    </video>-->
    <video id="videoplayer" controls  data-bind="attr:{src: videoEditor().src},videoMarkers : { From : From, TOs : TOs }, videoPlayerKeyPress: { From : From, TOs : TOs }" class="channelvideoeditor">
        <source type="video/ogg" />
    </video>
    <a id="resetValues" style="position: absolute;cursor:pointer; width: 40px;background:#dedfe4;top: 455px;left: 845px;color: black;text-align: center;  border-radius: 3px;" data-bind="click:$root.ResetMarking"> Reset</a>
    <div style="font-size: 11px">
        Press 'Enter' for selection
    </div>
</div>

<div style="display: inline;">
    <div id="pointerArea" style="width: 58%; margin-left: 12%; height: 3px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;">
    </div>
</div>

<div class="editingSection editingSectionVideo" style="margin-right:0; margin-top: 20px;">
    <!-- ko template: { name: 'news.view', data: $root.thisNews } -->
    <!-- /ko -->
</div>
