﻿<div class="mainnewstmpl">
    <div class="headerPanel">
        <div class="leftPanel">
            <div class="editor">
                

                <input type="text" placeholder="Enter Title..." tabindex='1' data-bind="value: title,keyBoardControl" class="textboxCss" disabled>

                <textarea type="text" placeholder="Highlights..." tabindex='1' data-bind="value: Highlight,keyBoardControl" class="textboxCss textboxHighLight" style="height: 100px !important;overflow-y: scroll;" disabled></textarea>
            </div>
        </div>
        <div class="rightPanel">
            <aside class="aside">
                <div class="options" data-bind="visible : isAssignment">
                    <select data-bind="value: programId">
                        <option value="0">Select Program</option>
                        <!-- ko foreach: programs -->
                        <option data-bind="value : id, text: name"></option>
                        <!-- /ko -->
                    </select>
                </div>
               

                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <!-- ko if: category()!='' -->
                        <span class="tag">
                            <span data-bind="text:category"></span>

                        <!-- ko if : !$data.isNewsEdit()-->
                            <a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a>
                        <!-- /ko -->

                        </span>
                        <!-- /ko -->
                        <!-- ko if: category()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <!-- ko if : !$data.isNewsEdit()-->
                                <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="height:auto;">
                        <!-- ko if: location()!='' -->
                        <span class="tag"><span data-bind="text:location"></span>
                            <!-- ko if : !$data.isNewsEdit()-->
                                <a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a>
                            <!-- /ko -->
                        </span>
                        <!-- /ko -->
                        <!-- ko if: location()=='' -->
                        <div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                            <!-- ko if : !$data.isNewsEdit()-->
                                <input data-bind="value: location, autoComplete:{source: locationSource,selected: selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>


                <!-- ko template: {name:'usercontrol.datetimepicker'} -->
                <!-- /ko -->

                <div class="tags autosuggestfilter">
                    <div class="tagsinput" style="width: auto;">
                        <input placeholder="Slug" tabindex='' data-bind="value: Slug, valueUpdate: 'afterkeydown',disable :$data.isNewsEdit()" class="titleStyle">
                    </div>
                </div>
            </aside>
        </div>
    </div>
    
    <div class="bodySection">
        <div data-bind="visible: !isTickerView()">
            <div class="leftPanel">
                <div class="editor">
                   
                    <div class="newEditor">
                   
                        <!-- ko if: typeof $parent.uploader !== 'undefined' -->
                        <!-- ko template: {name:'usercontrol.editor.uploader',data:$parent.uploader} -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <textarea class="reportNewsEditor" data-bind="value: producerDescription,disable:$data.isNewsEdit()" style="overflow-y: auto;" disabled></textarea>
                    </div>
                   
                </div>
            </div>
            
            <!-- ko if : !$data.isNewsEdit()-->
            <div class="rightPanel changedCss">
                <aside class="aside">
                    <!-- ko template: {name:'usercontrol.tags',data:newsTag} -->
                    <!-- /ko -->
                    <!--<textarea style="width:100%;" class="textboxCss SuggArea" data-bind="value:$data.suggestions,visible:$data.isTelevisionView() && ($root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer || $root.appdata.currentUser().userType !== $root.e.UserType.FReporter || $root.appdata.currentUser().userType !== $root.e.UserType.ControllerInput)" placeholder="Suggestion..."></textarea>-->
                </aside>
            </div>
            <div class="rightPanel changedCss">
                <aside class="aside">
                    <!-- ko template: {name:'usercontrol.organization',data:newsOrg} -->
                    <!-- /ko -->
                    <!--<textarea style="width:100%;" class="textboxCss SuggArea" data-bind="value:$data.suggestions,visible:$data.isTelevisionView() && ($root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer || $root.appdata.currentUser().userType !== $root.e.UserType.FReporter || $root.appdata.currentUser().userType !== $root.e.UserType.ControllerInput)" placeholder="Suggestion..."></textarea>-->
                </aside>
            </div>
            <!-- /ko -->


            <!-- ko if : $data.isNewsEdit()-->
            <div class="rightPanel changedCss">
                <aside class="aside">
                    <div class="tags" data-bind="with : newsTag">
                        <div class="tagsinput" style="width: auto; min-height: 87px;">
                            <!-- ko foreach: tags -->
                            <span class="tag" style="padding: 1px 6px 1px 6px;"><span data-bind="html:$data"></span>
                            </span>
                            <!-- /ko -->
                            <div class="tags_clear"></div>
                        </div>
                    </div>
                </aside>
            </div>

            <div class="rightPanel changedCss">
                <aside class="aside">
                    <div class="tags"  data-bind="with : newsOrg">
                        <div class="tagsinput" style="width: auto; min-height: 87px;">
                            <!-- ko foreach: tags -->
                            <span class="tag" style="padding: 1px 6px 1px 6px;"><span data-bind="html:$data"></span>
                            </span>
                            <!-- /ko -->
                            
                            <div class="tags_clear"></div>
                        </div>

                    </div>
                    
                </aside>
            </div>

            <!-- /ko -->
          
        </div>
        <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
            <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
            <!-- /ko -->
        </div>
      
        <!-- ko if : !$data.isNewsEdit()-->
            <input type="button" class="btnReportNews" data-bind="click: $root.submitNews,value: $parent.buttonText, css:$parent.buttonClass" />
        <!-- /ko -->

        <div class="inputWrap" data-bind="if:inputTextWithKeyBoard">
            <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
            <!-- /ko -->
        </div>
        <div data-bind="visible: !isTickerView()" class="leftPanel">
            <!-- ko template: {name:'resource.thumb', data: uploader} -->
            <!-- /ko -->
            
            <!-- ko if: showSuggestions() -->
            <span>Suggested Media</span>
            <div><input type="radio" name="sourceType" value="image" data-bind="checked: $root.sType(1)" />Image</div>
            <div><input type="radio" name="sourceType" value="video" data-bind="checked: $root.sType(2)" />Video</div>
            <!-- ko if: suggestedresources().length > 0 -->
            <div class="customthumb" style="background:#d3d7dc;padding:5px;">
                <div class='cycle-slideshow' data-bind="cycleArrows">
                    <!-- ko foreach: {data:suggestedresources} -->
                    <!-- ko if:  $index()%2==0 -->
                    <div class="cycle-slide">
                        <ul>
                            <li>
                                <div class="options"><i class="zoom" data-bind='attr:{id:$parent.suggestedresources()[$index()].id},click: function (data) { $root.selectSuggest($parent.suggestedresources()[$index()]); }'></i></div>
                                <img data-bind="attr:{src: $parent.suggestedresources()[$index()].ThumbUrl}"  width="89px" height="71px" />
                            </li>
                            <!-- ko if: $index() < $parent.suggestedresources().length-1 -->
                            <li>
                                <div class="options"><i data-bind='attr:{id:$parent.suggestedresources()[$index()+1].id},click: function (data) { $root.selectSuggest($parent.suggestedresources()[$index()+1]); }'></i></div>
                                <img data-bind="attr:{src: $parent.suggestedresources()[$index()+1].ThumbUrl}"  width="89px" height="71px"  />
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        
    </div>
</div>