﻿<ul>
    <!-- ko foreach:bunch -->
    <!-- ko if: $data.isGroupName -->
    <li class="clearfix newsGridHead">
        <h4 data-bind="html: $data.groupName"></h4>
    </li>
    <!-- /ko -->
    <!-- ko if: topNews() -->
    <!-- ko if: !$data.isGroupName -->
    <li>
        <figure>
            <img data-bind="attr: { src: $data.topNews().defaultImageUrl }" onerror="this.src='/content/images/producer/noimage-212x220.jpg'" width="212" height="220" alt="*">
        </figure>
        <a href="javascript:;"><i class="icon-correct" data-bind="click: function (data) { $root.selectNews(data.topNews()) }, css: { active: topNews().isUsed }"></i></a>
        <a href="javascrpt:;" title="" class="news-btn skyBlue" data-bind="text:$data.topNews().parentCategories() ,visible:$data.topNews().parentCategories().length > 0">Politics</a>
        <div class="news-caption" data-bind="click: function (data) { $root.setCurrentNews(data) }">
            <h2><a href="javascript:void(0);" data-bind="trimText: {text:topNews().title(), length: 40 }"></a></h2>
            <!-- ko template: { name: $root.templates.newsStatsControl, data: $data.topNews() } -->
            <!-- /ko -->
            <ul class="updatedStories">
                <!--    <li><a title="" href="javascript:;">50 Updates</a></li>-->
                <li data-bind="visible: $data.relatedNews().length > 0 "><a title="" href="javascript:;"><span data-bind="text: $data.relatedNews().length"></span>Related Stories </a></li>
            </ul>
        </div>
        <div class="newsStories" data-bind="click: function (data) { $root.setCurrentNews(data) }">
            <h2><a href="javascript:void(0);" data-bind="trimText: {text:topNews().title(), length: 40 }"></a></h2>
            <!-- ko template: {name: $root.templates.newsInfo, data : $data.topNews() } -->
            <!-- /ko -->
            <p data-bind="trimText: {text:topNews().shortDescription(), length: 100,isHtml:true }"></p>
            <p><a href="javascrpt:;" data-bind="click: function (data) { $root.setCurrentNews(data) }">View Full Story</a></p>
        </div>
    </li>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</ul>

