﻿<ul class="newsfilecontextmenu2">
    <!--ko foreach: $root.folderAllowedStatus -->
        <li class="status class1" data-bind="click:function(){$root.updateNewsFileStatus($root.currentNewsFile().id,value,$root.currentNewsFile().reportedBy())}"><a href="javascript:void(0)" data-bind="text:key">Red</a></li>
    <!-- /ko -->
</ul>
