﻿<ul class="newsfilecontextmenu">

    <li>
        <a class="actionId">Copy To</a>
        <ul style="max-height: 300px">
            <!--ko foreach: $root.appdata.foldersList -->

            <!-- ko  if: $data.FolderId != '0' -->
            <li class="actionfolder" data-bind="click:function(){$root.copyNewsFileToSelectedFolder($root.currentNewsFile(), $data.FolderId)},visible:$data.isProgramVisible()"><a href="javascript:void(0)" data-bind="text:$data.FolderName"></a></li>
            <!-- /ko -->

            <!-- ko  if: $data.FolderId == '0' -->
            <li class="actionfolder" data-bind="click:function(){$root.addNewsTikerByNewsFile($root.currentNewsFile())}"><a href="javascript:void(0)" data-bind="text:$data.FolderName"></a></li>
            <!-- /ko -->

            <!-- /ko -->
        </ul>
    </li>
</ul>
