﻿<aside class="allRelated pendingstories-related">

    <div class="reportedMedia" data-bind="visible: $root.appdata.currentUser().userType == $root.e.UserType.NLE">
        <span>Reported Media <strong data-bind="html: $data.screenFlow().totalBucketLength()"></strong></span>
       <!-- <a href="javascript:void(0);" class="donwloads" data-bind="visible:$data.screenFlow().totalBucketLength() > 0" ><i></i>Download Media</a>-->
        <ul class="newsColume">
            <!-- ko foreach:$data.screenFlow().screenTemplates() -->
            <!-- ko foreach:$data.contentBucket() -->
            <li><a href="javascript:;" data-bind="attr: {href: thumbImageUrl },click: function (data) { $root.downLoadResource(url) }"><img  onerror="this.src = '/content/images/producer/noimage-45x25.jpg'" width="50" height="34" data-bind="attr:{src:thumbImageUrl}" alt="*"></a></li>
            <!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>
    <div class="storiesProgress" data-bind="visible: $root.appdata.currentUser().userType == $root.e.UserType.StoryWriter">
       <div class="progress" style="height: 6px !important;width: 100% !important;">
            <div class="progressBar" data-bind="style: { 'width': workProgress() + '%' ,backgroundColor:progressBarColor()}"></div>
        </div>
        <span data-bind="text:workProgress() + '%'" style="float: right;"></span>
        <h3><i></i><span style="float: left !important;" class="time" data-bind="html: remainingTime"></span></h3>
        <p>This news will be onAir as per above timer You should complete your story within this time frame..</p>
    </div>
</aside>

