﻿<div id="content-viewer-main-preview">
    <div id="contentviewer-overlay-preview" class="myNewsPanelHeader view overlay custompop" data-bind="css: $data.isVisible() ? 'showForcely' : 'hideForcely'"></div>
    <div id="content-viewer-preview" class="xPop myNewsPanelHeader view custompop resize" data-bind="css: $data.isVisible() ? 'showForcely disable-text-selection' : 'hideForcely disable-text-selection'">
        <div class="imageSection">
            <div class="slideImg floatleft preview" data-bind="with: $root.ppc">
                <div class="leftContent preview" style="width:100%;">

                    <video class="videoPlayer preview" data-bind="attr:{src:$data.programPreviewUrl}" controls="controls" autoplay="autoplay">
                        <source type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

        </div>
        <div class="close" data-bind="click: function (data) { $root.toggleProgramPreview(data, false); }"></div>
    </div>
</div>



