﻿<section class="videoContent rundowndiv" data-bind="visible: activeTab() == 'tab2'">
    <table>

        <!-- Program startup -->
        <tr class="first" data-bind="visible:program().isStartUpUrlVisible">
            <td class="timer"><strong><i class="icon-clock"></i>
                <label data-bind="text: episodeStartTimeDisplay"></label>
            </strong><span>30 Sec</span></td>
            <td class="frameicons">
                <div>
                    <span>
                        <img src="/content/images/producer/rundownicon1.png" width="24" height="18" alt="">
                    </span>
                </div>
            </td>
            <td class="video-frames">
                <div>
                    <ul>
                        <li>
                            <p>Title Animation</p>

                            <a href="javascript:;" data-bind="click:function (data) { $root.playRundownUrl(program().startupGuid) }">
                                <img data-bind="attr:{src:program().startupThumbUrl} " onerror="this.src='/content/images/producer/noimage-133x75.jpg'" alt="*" style="width: 45%;">
                                <span class="playvid" style="width: 45%;"></span></a>
                            <span><i class="icon-proIcon-12"></i><small>30 Seconds</small></span>

                        </li>

                    </ul>
                </div>
            </td>
        </tr>


        <!-- ko foreach: programElements -->

        <!-- ko if: programElementType === $root.e.ProgramElementType.Segment -->
        <!-- ko foreach: sortedStories -->
        <tr>
            <td class="timer"><strong><i class="icon-clock"></i>
                <label data-bind="text: startTimeDisplay"></label>
            </strong><span data-bind="text: contentDurationDisplay"></span></td>
            <td class="frameicons">
                <div>
                    <span class="yellow">
                        <img src="/content/images/producer/rundownicon3.png" width="24" height="18" alt=""></span>
                </div>
            </td>
            <td class="video-frames">
                <div class="darker" data-bind="css:{urduContent : $data.news.languageCode.toLowerCase()=='ur','urduContentPadding': screenFlow().screenTemplates().length > 0 }">
                    <a href="javascript:;" class="extendedCss" data-bind="trimText: { text: news.title(), length: 100,isHtml:true },'thumNewspaper': screenFlow().screenTemplates().length > 0"></a>
                    <a href="javascript:;"><span data-bind="trimText: { text: news.shortDescription(), length: 100 ,isHtml:true},'thumNewspaper': screenFlow().screenTemplates().length > 0"></span></a>
                    <ul class="notitle" data-bind="foreach: screenFlow().screenTemplates">
                        <!-- ko if:!$data.isMediaWallTemplate() -->
                        <li>
                            <a href="javascript:;" data-bind="click: function (data) { $root.onPreviewThumbClick($parent,$index(),false) }">
                                <img data-bind="attr: { 'src': thumbImageUrl }">
                            </a>
                            <span><i class="icon-proIcon-12"></i><small data-bind="text: contentDurationDisplay"></small></span>
                        </li>
                        <!-- /ko -->
                    </ul>
                    <!-- ko if:screenFlow().screenTemplates().length > 0 -->
                    <ul data-bind="css:$root.btnAttribute().disabled ? 'rightvidsec previewbutton disabled' : 'rightvidsec', click: function (data) { $root.toggleProgramPreview(data, false); }">
                        <li>
                            <p class="preview">Preview</p>
                            <a href="javascript:;">
                                <img src="/content/images/producer/kamikhan.jpg" data-bind="attr: { src: screenFlow().screenTemplates()[0].thumbImageUrl }">
                                <span class="playvid"></span></a>
                            <span><i class="icon-proIcon-12"></i><small data-bind="text: screenFlow().contentDurationDisplay"></small></span>
                        </li>
                    </ul>
                    <!-- /ko -->
                </div>
            </td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: programElementType === $root.e.ProgramElementType.Teaser -->
        <tr>
            <td class="timer"><strong><i class="icon-clock"></i><span data-bind="text: startTimeDisplay"></span></strong><span data-bind="    text: contentDurationDisplay"></span></td>
            <td class="frameicons">
                <div>
                    <span>
                        <img src="/content/images/producer/rundownicon4.png" width="24" height="18"></span>
                </div>
            </td>
            <td class="video-frames">
                <div class="darker">

                    <ul class="notitle">
                        <li>
                            <p>Teaser</p>
                            <a href="javascript:;">
                                <img src="/content/images/producer/kamikhan.jpg" alt="*">
                                <span class="playvid"></span></a>
                            <span><i class="icon-proIcon-12"></i><small>00:05:15</small></span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- /ko -->

        <!-- ko if: programElementType === $root.e.ProgramElementType.Break -->
        <tr>
            <td class="timer"><strong><i class="icon-clock"></i>
                <label data-bind="text: $root.testStartTime"></label>
            </strong><span>1 Min</span></td>
            <td class="frameicons">
                <div>
                    <span class="red">
                        <img src="/content/images/producer/rundownicon5.png" width="24" height="18" alt=""></span>
                </div>
            </td>
            <td class="video-frames">
                <div class="break">
                    Break
                </div>
            </td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->

        <!-- Program End -->
        <tr data-bind="visible:program().isCreaditUrlVisible">
            <td class="timer"><strong><i class="icon-clock"></i>00:30</strong> <span>10 Min</span></td>
            <td class="frameicons">
                <div>
                    <span class="grey">
                        <img src="/content/images/producer/rundownicon6.png" width="24" height="18" alt=""></span>
                </div>
            </td>
            <td class="video-frames">
                <div>

                    <ul class="notitle">
                        <li>
                            <p>Credits</p>
                            <a href="javascript:;" data-bind="click:function (data) { $root.playRundownUrl(program().creditsGuid) }">
                                <img data-bind="attr:{'src':program().creditsThumbUrl}" onerror="this.src='/content/images/producer/noimage-133x75.jpg'" alt="*" style="width: 45%;">
                                <span class="playvid" style="width: 45%;"></span></a>
                            <span><i class="icon-proIcon-12"></i><small>00:05:15</small></span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    </table>
    <div class="ftbottom" style="float: left !important; display: none !important">
        <a href="javascript:;" class="procesBtn" data-bind="click: function () { $root.changeStep(false) }">Back</a>
    </div>
    <div class="ftbottom" data-bind="visible:isSendToBroadCastVisible">
        <a href="javascript:;" class="procesBtn" data-bind="click: function () { $root.sendToBroadCast() }">Send to Broadcast</a>
    </div>
    <div class="warning" data-bind="visible:$root.isWarningBoxVisible">
        <div class="close" data-bind="click:function(data) {$root.allowToSendRundown(false)}">
        </div>
               <img src="../Content/images/producer/warning.png" style="transform: scale(0.7); margin-top: -24px; position: absolute; margin-left: -312px;">
        <span>You have some pending external downloads, do you want to proceed?</span>
        <a style="  margin-top: 128px; position: absolute; margin-left: 14px;"><i data-bind="html:$root.pendingCount" style="font-weight: bold;"></i> of <i data-bind="html:$root.downloadCount"  style="font-weight: bold;"></i> pending downloads </a>
        <input type="button" value="Yes" class="yes" data-bind="click:function(data) {$root.allowToSendRundown(true)}">
        <input type="button" value="No" class="no" data-bind="click:function(data) {$root.allowToSendRundown(false)}">
        <img src="../Content/images/producer/refresh1.png" data-bind="click:$root.sendToBroadCast" style="margin-left: 340px !important;   margin-top: 79px;cursor:pointer; transform: scale(0.25);">
    </div>
</section>
