﻿<section class="videoContent storiesdiv firstdiv" data-bind="visible: activeTab() == 'tab1'">
    <!-- ko foreach: stories -->
    <div class="programVideo program clearfix">
        <ul>
            <li class="first last" data-bind="css: { urduContent: news.languageCode == 'ur' },click:function(data) {$root.onPreviewThumbClick($data,0,true)}">
                <a href="javascript:;" data-percent="50">
                    <img data-bind="attr: { 'src': news.defaultImageUrl }" width="133" height="75" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'">
                    <span class="progressbar" data-bind="css:storyStatus()"></span></a>
                <div>
                    <a href="javascript:;" title="" data-bind="text: news.title"></a>
                    <p data-bind="trimText: { text: news.shortDescription(), length: 40,isHtml:true }"></p>
                    <a href="javascript:;" title="" class="viewDetail">View Details</a>
                </div>
            </li>
        </ul>

        <div class="sliderwrap">
            <ul class="vidslider cycle-slideshow" style="width: 660px !important; min-width: 468px !important;" data-bind="foreach: screenFlow().screenTemplates, jqCycle: { 'canApplyCycle': canApplyCycle }">
                <!-- ko if:!$data.isMediaWallTemplate() -->
                <li class="greenColor" data-bind="css:{'approvedPending':($data.nleStatusId()===$root.e.ScreenTemplateStatus.ApprovalPending && $data.storywriterStatusId()===$root.e.ScreenTemplateStatus.ApprovalPending),'approved':($data.nleStatusId()===$root.e.ScreenTemplateStatus.Approved && $data.storywriterStatusId()===$root.e.ScreenTemplateStatus.Approved)}" style="border-right: none !important;">
                    <p data-bind="text: name"></p>
                    <a href="javascript:void(0);" data-bind="click: function (data) { $root.onPreviewThumbClick($parent,$index(),false) }">
                        <img data-bind="attr: { 'src': thumbImageUrl }" width="108" height="65" /></a>
                    <span><i class="icon-proIcon-12"></i><small data-bind="text: contentDurationDisplay"></small></span>
                </li>
                <!-- /ko -->
            </ul>
            <a href="javascript:;" title="Prev" class="control-prev" data-bind="visible: canApplyCycle">Prev</a>
            <a href="javascript:;" title="Next" class="control-next" data-bind="visible: canApplyCycle">Next</a>
        </div>
        <!-- ko if:screenFlow().screenTemplates().length > 0 -->
        <ul class="lastsection">
            <li style="display: none"></li>
            <li class="last" style="float: right">
                <div data-bind="css:$root.btnAttribute().disabled ? 'rightvidsec previewbutton disabled' : 'rightvidsec', click: function (data) { $root.toggleProgramPreview(data, false); }">
                    <p class="preview">Preview</p>
                    <a href="javascript:;">
                        <img data-bind="attr: { src: screenFlow().screenTemplates()[0].thumbImageUrl }" src="/content/images/producer/newsImage-1.jpg" alt="*" onerror="this.src = '/content/images/producer/noimage-109x65.jpg'" />
                        <span class="playvid"></span></a>
                    <span><i class="icon-proIcon-12"></i><small data-bind="text: screenFlow().contentDurationDisplay"></small></span>
                </div>
            </li>
        </ul>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div class="ftbottom" data-bind="visible:$root.prc.isSendToBroadCastVisible">
        <a href="javascript:;" class="procesBtn" style="padding: 10px;" data-bind="click: function () { $root.sendToBroadCast() }">Send to Broadcast</a>
    </div>

    <div class="warning" data-bind="visible:$root.isWarningBoxVisible">
        <div class="close" data-bind="click:function(data) {$root.allowToSendRundown(false)}">
        </div>
        <img src="../Content/images/producer/warning.png" style="transform: scale(0.7); margin-top: -24px; position: absolute; margin-left: -312px;">
        <span>You have some pending external downloads.</span>
        <a style="  margin-top: 128px; position: absolute;   margin-left: 361px;"><i data-bind="html:$root.pendingCount"></i> of <i data-bind="html:$root.downloadCount"></i> pending downloads </a>
        <!--<input type="button" value="Yes" class="yes" data-bind="click:function(data) {$root.allowToSendRundown(true)}">
        <input type="button" value="No" class="no" data-bind="click:function(data) {$root.allowToSendRundown(false)}">-->
        <img src="../Content/images/producer/refresh1.png" data-bind="click:$root.sendToBroadCast" style="  margin-left: 487px !important;   margin-top: 79px;cursor:pointer; transform: scale(0.25);">
    </div>
</section>
