﻿<!-- Related Stories -->
<section id="topicselection-news-content-view" class="relSection" data-bind="style: { display: $root.activeSideView() == $root.views.topicSelectionNewsFilterView ? '' : 'none' }" style="height: 100%;">

    <header class="clearfix">
        <p>Related - Reported Stories  <span data-bind="text: relatedNews().length"></span></p>
    </header>

    <section id="description" class="topicSection" data-bind="customScrollBar: true">
        <!-- ko foreach: relatedNews -->
        <article class="topicArticle clearfix" data-bind="css: { urduContent: $data.languageCode == 'ur' }">
            <div class="newsImage">
                <figure>
                    <img width="133" height="75" alt="" data-bind="attr: { 'src': defaultImageUrl }" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'" />
                </figure>
                <!-- ko template: { name: $root.templates.newsStatsControl, data: $data } -->
                <!-- /ko -->
            </div>

            <div class="topicStore">
                <h3><a href="javascript:;" data-bind="text: title, click: $root.setCurrentNews"></a></h3>

                <!-- ko template: { name: $root.templates.newsInfo, data: $data } -->
                <!-- /ko -->

                <div class="shortDescription" data-bind="html: shortDescription">
                </div>

                <ul class="newsColume" style="margin-top: 20px;" data-bind="foreach: resources">
                    
                    <li data-bind="attr: { 'class': cssClass() }, click: function (data) { $root.setCurrentContent(data, { isRelatedContent: true }); }">
                      
                        <a href="javascript:;"><img alt="" width="100" height="70" data-bind="attr: { 'src': thumbImageUrl }" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'" /></a>
                        <span></span>
                    </li>

                </ul>
            </div>
        </article>
        <!-- /ko -->
    </section>
</section>