﻿<!-- Related Content -->
<section id="topicselection-media-view" class="relSection section clearfix arSection" data-bind="css:{producermediaarchival: $root.isProducerMediaArchival },style: { display: $root.activeSideView() == $root.views.topicSelectionMediaView ||  $root.isProducerMediaArchival ? '' : 'none' }">
    <i data-bind="click:$root.addExplorerResource" id="addExp"></i>
    <aside class="relAside fixedsidebarcontent">
        <ul>
            <li data-bind="toggleState: true, click: function () { $root.toggleResourceFilter($root.e.ContentType.Image) }, css: { active: $root.currentBunch().resourceFilter()[0]===$root.e.ContentType.Image }" title="Image"><a href="javascript:;"><i class="icon-relVideo"></i></a></li>
            <li data-bind="toggleState: true, click: function () { $root.toggleResourceFilter($root.e.ContentType.Video) }, css: { active:$root.currentBunch().resourceFilter()[0]===$root.e.ContentType.Video}" title="Video"><a href="javascript:;"><i class="icon-relPlay"></i></a></li>
            <li data-bind="toggleState: true, click: function () { $root.toggleResourceFilter($root.e.ContentType.Audio) }, css: { active: $root.currentBunch().resourceFilter()[0]===$root.e.ContentType.Audio}" title="Audio"><a href="javascript:;"><i class="icon-relAudio"></i></a></li>
            <li data-bind="toggleState: true, click: function () { $root.toggleResourceFilter($root.e.ContentType.Document) }, css: { active: $root.currentBunch().resourceFilter()[0]===$root.e.ContentType.Document}" title="Document"><a href="javascript:;"><i class="icon-read"></i></a></li>
            <li data-bind="toggleState: true, click: function () { $root.toggleResourceFilter($root.e.ContentType.Package) }, css: { active:$root.currentBunch().resourceFilter()[0]===$root.e.ContentType.Package}" title="Package"><a href="javascript:;"><i class="icon-relPlayer"></i></a></li>
            <li data-bind="toggleState: true, click: function () { $root.toggleResourceFilter($root.e.ContentType.None) }, css: { active: $root.currentBunch().resourceFilter()[0]===$root.e.ContentType.None}" title="Miscleneous"><a href="javascript:;"><i class="icon-relAttache"></i></a></li>
        </ul>
    </aside>

    <section class="descSection">
        <!-- ko foreach: $data.bunchTags() -->
        <!-- ko if: $data && $data.Tag -->
        <span class="topTags" data-bind="css:{'active':$index()=='0'},click:function(data) {$root.searchByTag($data.Tag)},toggleActiveClass:{},html:$data.Tag"></span>
        <!-- /ko -->
        <!-- /ko -->

        <div class="searchbar searchBarRelatedContent" data-bind="style: { top: $data.bunchTags().length>0 ? '10px' : '0px'},css:{'setSearchBoxWidth':$data.bunchTags().length==0 || $data.bunchTags().length>0,'setLefFExp':$root.isSetTop()}">
            <div class="archiveSearch" style="right: 193px;">
                <img src="/Content/images/common/newloader.gif" style="display: block; margin-top: 8px;">
            </div>
            <input id="Text1" type="text" placeholder="Search" data-bind="value: $root.searchKeywordsResource,valueUpdate: 'afterkeydown',keyBoardControlProducer" class="ui-autocomplete-input" style="width: 70% !important">
            <img src="/content/images/producer/refresh.png" style="vertical-align: top;margin-top: 3px;cursor:pointer;" data-bind="click:$root.getResourceByDate">
            <span class="SearchtoggleButtons">
                <hr style="width: 0%; height: 35px; left: -55px; position: absolute;" />

                <i class="toogleMyTeam advIcon" title="Advance Search" data-bind="toggleMyTeamSearch:{},click:$root.enableAdvanceSearch" style="right: 19px;"></i>
                <hr style="width: 0%; height: 35px; left: -22px; position: absolute;">

                <i class="toogleMyTeam advIcon folderIcon TeamSearchEnable" title="Advance Search" data-bind="toggleMyTeamSearch:{},click:$root.openFileExplorer,visible:$root.isIframeDiv()" style="right: -12px; background: url(/content/images/producer/folder1.png) no-repeat 0px 0px; height: 39px; margin-top: -3px; background-color: white;"></i>
                <i class="toogleMyTeam favIcon" title="User Favourite Search" data-bind="toggleMyTeamSearch:{},click:$root.enableUserFavouriteSearch" style="right: 88px;"></i>
                <i class="toogleMyTeam googleIcon" title="Internet Search" data-bind="toggleMyTeamSearch:{},click:$root.enableGoogleSearch" style="right: 56px;"></i>
                <i class="toogleMyTeam privateSearch" title="Team Search" data-bind="toggleMyTeamSearch:{},click:$root.enableTeamSearch" style="right: 124px;"></i>
                <i class="toogleMyTeam allSearchIcon TeamSearchEnable" title="All Search" data-bind="toggleMyTeamSearch:{},click:$root.enableAllSearch" style="right: 168px;">
                    <span style="padding-top: 12px; color: white; margin-top: -9px; position: absolute; font-weight: 600; font-size: 18px; padding-left: 4px;">All</span>
                </i>
            </span>
            <div class="suggestions" data-bind="css: $root.suggestedKeywords().length > 0 ? 'showForcely' : 'hideForcely'">
                <!--data-bind="customScrollBar:true"-->
                <ul id="archivalId">
                    <!-- ko foreach:$root.suggestedKeywords() -->
                    <li data-bind="click:function(data){$root.searchOnSuggestedKeyword($data)}" class='display_box search-option'>
                        <label data-bind="html:$data"></label>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>

        <!-- <a href="javascript:;" data-bind="toggleGoogleLink:{},click:$root.EnableGoogleSearch,text:$root.GoogleSearchText" style="float: right; position: absolute; margin-left: 565px; z-index: 1000; color: white; cursor: pointer;"></a>-->

    </section>
    <input type="text" style="display: none" id="fExpResource" data-bind="value:$root.FEResource" />


    <div id="iframeExp" style="width: 100%; height: 500px; position: absolute;   margin-top: 30px;" data-bind="css:{'topDecreasing':$root.router.currentHash() == '#/topicselection?isiframe','zIndexCss':$root.router.currentHash() == '#/topicselection?isiframe' || $root.router.currentHash() == '#/production'}">
        <iframe name='iframe1' id="childIframe1" data-bind="attr:{src:$root.iframeSrc().length> 0 ? ($root.iframeSrc() + '&'+(new Date()).getTime()) : ''},visible:$root.isIframeVisible()" style="height: 130%; width: 84%; left: 44px; z-index: 100000; top: 90px; margin-top: -3px; margin-left: 57px;"></iframe>
    </div>
    <section class="descSection" data-bind="customScrollBar: { callback: $root.loadMoreArchivalData,onTotalScrollOffset: 1000 }" style="max-height: 500px">

        <div class="tags metaTags" data-bind="visible:$root.isAdvanceSearchVisible">
            <div class="tagsinput" style="width: auto; min-height: 87px;">
                <!-- ko foreach: $root.searchTags -->
                <span class="tag"><span data-bind="html:$data"></span><a href="javascript:void(0)" title="Removing tag" data-bind="removeTag:{tags:$root.searchTags, tag:$data}">x</a></span>
                <!-- /ko -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind="addTag:{tags:$root.searchTags}, autoCompleteMetaTags:{source: ''}" tabindex='4' placeholder="Enter Tags..." style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input" autocomplete="off">
                </div>
                <div class="tags_clear"></div>
            </div>
            <div class="deleteAll" data-bind="removeAllTag:{tags:$root.searchTags}" style="margin-top: -39px; color: white; cursor: pointer; position: absolute; float: right; margin-left: 631px; text-decoration: underline;">
                <a href="javascript:;" style="color: white; float: right; cursor: pointer; text-decoration: underline;">Delete all tags</a>
            </div>

        </div>

        <header class="clearfix" data-bind="visible:$root.currentBunch().reportedContent().length>0 && !$root.isProducerMediaArchival">
            <p>Reported Content  <span data-bind="text: $root.currentBunch().reportedContentCount()"></span></p>
        </header>

        <section class="topicSection">
            <ul class="newsColume" data-bind="visible:$root.currentBunch().reportedContent().length>0,foreach: $root.currentBunch().reportedContent()">
                <li data-bind="click: function (data) { $root.setCurrentContent(data, { isReportedContent: true }); }, attr: { 'class': cssClass() }, contentDrag: { callback: $root.addToContentBucket, content: $data, enabled: $root.isContentDraggingEnabled() }">
                    <a href="javascript:;">
                        <!-- ko if: $root.isContentBucketEnabled() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.checkInContentBucket($data) }, css: { active: isSelected }" style="position: absolute; z-index: 499; margin-left: 100px; margin-top: -5px; -webkit-transform: scale(0.8); -webkit-transform: scale(0.8);"></i>
                        <!-- /ko -->
                        <!-- ko if: $root.isContentReportEnable() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.addToReportNews($data) }, css: { active: isSelected }" style="position: absolute; z-index: 500; cursor: pointer; margin-left: 100px; margin-top: -5px; -webkit-transform: scale(0.8); -webkit-transform: scale(0.8);"></i>
                        <!-- /ko -->
                        <img data-bind="attr: { 'src': thumbImageUrl }" onerror="this.src='/content/images/producer/noimage-133x75.jpg'" />
                    </a>
                    <span></span>
                </li>
            </ul>

            <header class="clearfix" data-bind="visible:$root.currentBunch().relatedNewsResources().length>0">
                <p>Content from Related Stories  <span data-bind="text: $root.currentBunch().relatedContentCount()"></span></p>
            </header>

            <section data-bind="visible:$root.currentBunch().relatedNewsResources().length>0">
                <ul class="newsColume" data-bind="foreach: $root.currentBunch().relatedNewsResources()">
                    <li data-bind="click: function (data) { $root.setCurrentContent(data, { isRelatedContent: true }); }, attr: { 'class': cssClass() }, contentDrag: { callback: $root.addToContentBucket, content: $data, enabled: $root.isContentDraggingEnabled() }">
                        <!-- ko if: $root.isContentBucketEnabled() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.checkInContentBucket($data) }, attr: { id: id }, css: { active: isSelected }" style="position: absolute; margin-left: 100px; z-index: 499; margin-top: -5px; -webkit-transform: scale(0.8); cursor: pointer;"></i>
                        <i class="icon-correct" data-bind="visible:$data.isMarkedFavourite()" style="position: absolute; margin-left: -7px; z-index: 500; margin-top: -15px; -webkit-transform: scale(0.8); cursor: pointer; background-repeat: no-repeat; transform: scale(0.6); height: 85px; background: url(/content/images/producer/favourites.png) no-repeat 0px 0px;"></i>
                        <!-- /ko -->
                        <!-- ko if: $root.isContentReportEnable() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.addToReportNews($data) }, css: { active: isSelected }" style="position: absolute; z-index: 500; margin-left: 100px; cursor: pointer; margin-top: -5px; -webkit-transform: scale(0.8); -webkit-transform: scale(0.8);"></i>
                        <!-- /ko -->

                        <a href="javascript:;">
                            <img alt="" data-bind="attr: { 'src': thumbImageUrl }" onerror="this.src='/content/images/producer/noimage-133x75.jpg'" />
                        </a>
                        <span></span>
                    </li>
                </ul>
            </section>
            <header class="clearfix" data-bind="visible:!$root.isGoogleSearchEnabled() && !$root.isFavouriteSearchEnable() && !$root.isIframeVisible()">
                <p>Content from Archival<span data-bind="text: $root.archivalServerCount()"></span></p>
            </header>

            <section data-bind="visible:!$root.isGoogleSearchEnabled() && !$root.isFavouriteSearchEnable() && !$root.isIframeVisible()">
                <ul class="newsColume" data-bind="foreach: $root.mediaArchivalResources">
                    <li data-bind="click: function (data) { $root.setCurrentContent(data, { isArchiveContent: true }); }, attr: { 'class': cssClass(),title:$data.slug }, contentDrag: { callback: $root.addToContentBucket, content: $data, enabled: $root.isContentDraggingEnabled() }">
                        <!-- ko if: $data.slug -->
                        <label class="resourcelilabel title" data-bind="trimText: { text: $data.slug, length: 20 }"></label>
                        <!-- /ko -->
                        <!-- ko if: $root.isContentBucketEnabled() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.checkInContentBucket($data) }, attr: { id: id }, css: { active: isSelected }" style="position: absolute; z-index: 499; margin-left: 100px; margin-top: -5px; -webkit-transform: scale(0.8); cursor: pointer;"></i>
                        <i class="icon-correct" data-bind="visible:$data.isMarkedFavourite()" style="position: absolute; margin-left: -7px; z-index: 500; margin-top: -15px; -webkit-transform: scale(0.8); cursor: pointer; background-repeat: no-repeat; transform: scale(0.6); height: 85px; background: url(/content/images/producer/favourites.png) no-repeat 0px 0px;"></i>
                        <!-- /ko -->
                        <!-- ko if: $root.isContentReportEnable() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.addToReportNews($data) }, css: { active: isSelected }" style="position: absolute; z-index: 500; margin-left: 100px; margin-top: -5px; cursor: pointer; -webkit-transform: scale(0.8); -webkit-transform: scale(0.8);"></i>
                        <!-- /ko -->
                        <a href="javascript:;">
                            <img alt="" data-bind="attr: { 'src': thumbImageUrl }" onerror="this.src='/content/images/producer/noimage-133x75.jpg'" />
                        </a>
                        <span></span>
                        <label class="resourcelilabel uploadedtime" data-bind="text:lastUpdateDateDisplay"></label>
                        <label class="resourcelilabel duration" data-bind="text:durationDisplay"></label>
                    </li>
                </ul>
            </section>

            <header class="clearfix" data-bind="visible:$root.mediaSearchGoogleList().length>0 && $root.isGoogleSearchEnabled()">
                <p>Content from Google Search<span data-bind="text: $root.mediaSearchGoogleList().length"></span></p>
            </header>

            <section>
                <ul class="newsColume" data-bind="visible:$root.mediaSearchGoogleList().length>0 && $root.isGoogleSearchEnabled(),foreach: $root.mediaSearchGoogleList">
                    <li data-bind="click: function (data) { $root.setCurrentContent(data, { isGoogleContent: true }); },attr:{title:$data.title},css:{'video': !$data.imageId}, contentDrag: { callback: $root.addToContentBucket, content: $data, enabled: $root.isContentDraggingEnabled() }">
                        <!-- ko if: $root.isContentBucketEnabled() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.checkInContentBucket($data) }, attr: { id: id }, css: { active: isSelected }" style="position: absolute; z-index: 499; margin-left: 100px; margin-top: -5px; -webkit-transform: scale(0.8); cursor: pointer;"></i>
                        <!-- /ko -->
                        <!-- ko if: $root.isContentReportEnable() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.addToReportNews($data) }, css: { active: isSelected }" style="position: absolute; z-index: 500; margin-left: 100px; margin-top: -5px; -webkit-transform: scale(0.8); cursor: pointer; -webkit-transform: scale(0.8);"></i>
                        <!-- /ko -->
                        <a href="javascript:;">
                            <img alt="" data-bind="attr: { 'src': $data.tbUrl }" onerror="this.src='/content/images/producer/noimage-133x75.jpg'" />
                        </a>
                        <span></span>
                        <!-- ko if: $data.duration -->
                        <label data-bind="text:$data.duration"></label>
                        <!-- /ko -->
                    </li>
                </ul>
            </section>

            <header class="clearfix" data-bind="visible:$root.isFavouriteSearchEnable()">
                <p>Content from User Favourites<span data-bind="text: $root.userFavouriteResources().length"></span></p>
            </header>

            <section data-bind="visible:$root.isFavouriteSearchEnable()">
                <ul class="newsColume" data-bind="foreach: $root.userFavouriteResources()">
                    <li data-bind="click: function (data) { $root.setCurrentContent(data, { isUserFavouriteResource: true }); }, attr: { 'class': cssClass() }, contentDrag: { callback: $root.addToContentBucket, content: $data, enabled: $root.isContentDraggingEnabled() }">
                        <i class="icon-correct" data-bind="visible:$data.isMarkedFavourite()" style="position: absolute; margin-left: -7px; z-index: 500; margin-top: -15px; -webkit-transform: scale(0.8); cursor: pointer; background-repeat: no-repeat; transform: scale(0.6); height: 85px; background: url(/content/images/producer/favourites.png) no-repeat 0px 0px;"></i>
                        <!-- ko if: $root.isContentBucketEnabled() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.checkInContentBucket($data) }, attr: { id: id }, css: { active: isSelected }" style="position: absolute; margin-left: 100px; z-index: 499; margin-top: -5px; -webkit-transform: scale(0.8); cursor: pointer;"></i>
                        <!-- /ko -->
                        <!-- ko if: $root.isContentReportEnable() -->
                        <i class="icon-correct" data-bind="click: function (data) { $root.addToReportNews($data) }, css: { active: isSelected }" style="position: absolute; z-index: 500; margin-left: 100px; margin-top: -5px; cursor: pointer; -webkit-transform: scale(0.8); -webkit-transform: scale(0.8);"></i>
                        <!-- /ko -->
                        <a href="javascript:;">
                            <img alt="" data-bind="attr: { 'src': thumbImageUrl }" onerror="this.src='/content/images/producer/noimage-133x75.jpg'" />
                        </a>
                        <span></span>
                    </li>
                </ul>
            </section>

        </section>
    </section>
</section>

<!-- ko if: $root.isContentBucketEnabled() -->
<!-- ko template: {name: $root.templates.contentBucket, data: $data} -->
<!-- /ko -->
<!-- /ko -->
