﻿<!-- ko if: uploadedResources().length>0  -->
 <h3 class="reportHead">Reported Media <span data-bind="html:uploadedResources().length"></span></h3>
<div class="customthumb">
   <a href="javascript:;" id="prev" class="arrows disabled prev" data-bind="thumScrollPrev"><img src="Content/images/reporter/previous-btn.png" alt="*" ></a> 
   <a href="javascript:;" id="next"  class="arrows next"  data-bind="thumScrollNex"><img src="Content/images/reporter/next-btn.png" alt="*"></a>
    <div class='cycle-slideshow' data-bind="cycleArrows">
        <!-- ko foreach: {data:mappedResources} -->
         <!-- ko if:  $index()%2==0 -->
         <div class="cycle-slide">
           <ul>
                <li>
                    <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.FReporter  && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.NMSNewsFile -->
                    <div class="options"><i class="zoom" data-bind='attr:{id:$parent.mappedResources()[$index()].id},click:$parents[1].displayCurrentThumb'></i><i class="delete" data-bind='attr:{id:$parent.mappedResources()[$index()].id},click:$parents[1].deleteThumbnail'></i></div>
                      <!-- /ko -->
                     <!-- ko if: $root.appdata.currentUser().userType === $root.e.UserType.NMSNewsFile -->
                    <div class="options"><i class="zoom" data-bind='attr:{id:$parent.mappedResources()[$index()].id},click:function(data){$root.viewResource($data)}'></i><i class="delete" data-bind='attr:{id:$parent.mappedResources()[$index()].id},click:$parents[1].deleteThumbnail'></i></div>
                      <!-- /ko -->

                     <!-- ko if: $root.appdata.currentUser().userType == $root.e.UserType.Producer || $root.appdata.currentUser().userType == $root.e.UserType.FReporter || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer -->
                     <div class="options"><i class="zoom" data-bind='attr:{id:$parent.mappedResources()[$index()].id},click: function (data) { $root.setCurrentContent($parent.mappedResources()[$index()], { isReportedContent: true }); }'></i><i class="delete" data-bind='attr:{id:$parent.mappedResources()[$index()].id},click:$parents[1].deleteThumbnail'></i></div>
                     <!-- /ko -->
                    <img data-bind="attr:{src: $parent.mappedResources()[$index()].thumbImageUrl}"   width="89px" height="71px" />
                </li>
                <!-- ko if: $index() < $parent.mappedResources().length-1 -->
                <li>
                    <!-- ko if: $root.appdata.currentUser().userType == $root.e.UserType.Producer || $root.appdata.currentUser().userType == $root.e.UserType.FReporter || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer -->
                    <div class="options"><i class="zoom" data-bind='attr:{id:$parent.mappedResources()[$index()+1].id},click: function (data) { $root.setCurrentContent($parent.mappedResources()[$index()+1], { isReportedContent: true }); }'></i><i class="delete" data-bind='attr:{id:$parent.mappedResources()[$index()+1].id},click:$parents[1].deleteThumbnail'></i></div>
                    <!-- /ko -->

                    <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.Producer  && $root.appdata.currentUser().userType != $root.e.UserType.FReporter && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer-->
                     <div class="options"><i class="zoom" data-bind='attr:{id:$parent.mappedResources()[$index()+1].id},click:$parents[1].displayCurrentThumb'></i><i class="delete" data-bind='attr:{id:$parent.mappedResources()[$index()+1].id},click:$parents[1].deleteThumbnail'></i></div>
                    <!-- /ko -->

                    <img data-bind="attr:{src: $parent.mappedResources()[$index()+1].thumbImageUrl}" width="89px" height="71px" />
                </li>
                <!-- /ko -->
            </ul>
        </div>
         <!-- /ko -->
         <!-- /ko -->
    </div>
</div>
<!-- /ko -->
<div style="position:absolute; background-color:#fff; height: 20px; top: 606px; width: 100%;display:none"></div>










