﻿<article class="clearfix" data-bind="attr: { index: $index, id: id },test:true">
    <!-- ko if: $parents[1].type === 2 -->
      

    <i class="icon-seqIcon icon-seqIconUp" data-bind="click:function(){$root.swapNewsBucket($data, 1)}"></i>
    <!-- /ko -->

     <!-- ko if: $parents[1].type === 1 && $root.appdata.currentEpisode().id !== $data.episodeId -->
    <i class="icon-seqIcon icon-seqIconDown" data-bind="click:function(){$root.swapNewsBucket($data, - 1)}"></i>
    <!-- /ko -->

    <i class="icon-seqIcon"></i>
    <figure>
          <img data-bind="attr: { src: $data.news.defaultImageUrl, alt: $data.news.title }" width="60" height="50" onerror="this.src = '/content/images/producer/noimage-60x50-light.jpg'" />
    </figure>
    <div data-bind="css:{urduContent : $data.news.languageCode.toLowerCase()=='ur'}" class="sequenceStoryStatus">
        <h3 data-bind="html: $data.news.title,css:$data.storyStatus && $data.storyStatus() ? $data.storyStatus() : 'default'"></h3>

        <!-- ko template: {name: 'filtersinfo', data: $data.news.filtersInfo} -->
        <!-- /ko -->
    </div>

    <!-- ko if: $parents[1].type === 1 -->
    <a href="javascript:;" class="delete" data-bind="click: $root.removeById"><i></i></a>
    <!-- /ko -->

    <div class="teaser" data-bind="visible: isTeaserVisible">
        <a href="javascript:;"><i class="icon-teaser"></i><small>Teaser</small></a>
    </div>
</article>
