﻿<div class="hasartcls">
    <article class="clearfix defaultBackground" data-bind="attr: { index: $index, id: id },slideGroupStories:{},css:{relatedGroupSotires:$data.groupStories && $data.groupStories.length>0}" style="margin-top: 8px;">
        <i class="icon-seqIcon icon-seqIconUp" style="cursor: pointer;" data-bind="visible:!$data.groupStories,click:function(){$root.swapNewsBucket($parent,1)}"></i>

        <i class="icon-seqIcon" data-bind="css:{setLeftMargin:$data.groupStories && $data.groupStories.length>0}"></i>
        <figure>
            <img data-bind="attr: { src: $data.news.defaultImageUrl, alt: $data.news.title }" width="60" height="50" onerror="this.src = '/content/images/producer/noimage-60x50-light.jpg'" />
        </figure>
        <div data-bind="css:{urduContent : $data.news.languageCode.toLowerCase()=='ur'}" class="sequenceStoryStatus">
            <h3 data-bind="html: $data.news.title,css:$data.storyStatus && $data.storyStatus() ? $data.storyStatus() : 'default'"></h3>

            <ul class="storyDet" data-bind="foreach:$data.storyDetails">
                 <!-- ko if: $index()!=2-->
                <li><a data-bind="html: $data"></a></li>
                 <!-- /ko -->
            </ul>

        </div>
    </article>
    <div class="shwmrartcls" style="display: none;" data-bind="foreach:$data.groupStories">
        <article class="clearfix groupStories" data-bind="attr: { index: $index, id: id }">
            <i class="icon-seqIcon icon-seqIconUp" data-bind="click:function(){$root.swapNewsBucket($parent,1)}"></i>
            <i class="icon-seqIcon"></i>
            <figure>
                <img data-bind="attr: { src: $data.news.defaultImageUrl, alt: $data.news.title }" width="60" height="50" onerror="this.src = '/content/images/producer/noimage-60x50-light.jpg'" />
            </figure>
            <div data-bind="css:{urduContent : $data.news.languageCode.toLowerCase()=='ur'}" class="sequenceStoryStatus">
                <h3 data-bind="html: $data.news.title,css:$data.storyStatus && $data.storyStatus() ? $data.storyStatus() : 'default'"></h3>

                <ul class="storyDet" data-bind="foreach: $data.storyDetails">
                     <!-- ko if: $index() != 2 && $index() != 6 -->
                    <li><a data-bind="html: $data"></a></li>
                    <!-- /ko -->

                </ul>
            </div>
        </article>
    </div>
</div>
