﻿ <div class="editingSection" data-bind="with: $root.model">
        <div class="heading">
            Report News
            <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
            <!-- /ko -->
        </div>

        <article>
            <!-- ko template:{name:'usercontrol.videouploader', data:uploader} -->
            <!-- /ko -->
        </article>

        <aside class="aside">

            <div class="tags autosuggestfilter">
                <div class="tagsinput" style="width: auto; min-height:45px !important; height:45px !important">
                    <!-- ko if: category()!='' -->
                    <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
                    <!-- /ko -->
                    <!-- ko if: category()=='' -->
                    <div>
                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                        <input  data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}"  tabindex="1" placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                    </div>
                    <!-- /ko -->
                </div>
            </div>

            <input   type="text" tabindex="2" placeholder="Topic" data-bind="value : title"  />
            <textarea class='notAddPlaceholder' tabindex="3" placeholder="Enter Comments" data-bind="value:comments"></textarea>

            <div class="tags" data-bind="template:{name:'usercontrol.tags', data:newsTag}">
            </div>


        </aside>
        <!-- ko if: typeof buttonText !== 'undefined' -->
        <div class="uploadprogress">
           <a href="javascript:;" class="guidelines" style="display:none"><i></i>Guidelines</a>
            <input type="button" class="ReportNews " data-bind="click: $root.submitNews , text:buttonText, value:buttonText" />
        </div>
        <!-- /ko -->

        <!-- The template to display files available for upload -->
        <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload fade">
        {% if (file.error) { %}
            <span class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</span>
        {% } else if (o.files.valid && !i) { %}
            <div class="uploadprogress">
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100%" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </div>
        {% } else { %}
        {% } %}
         <span>{% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
          {% } %}</span>
          </div>
        {% } %}
        </script>

        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
    
        </script>
        <!-- ko template:{name:'loading.bar'} -->
        <!-- /ko -->
    </div>