﻿<article>
    <div class="head">
        <h3 data-bind="text: name"></h3>
        <p data-bind="text: radioDescription"></p>

        <span data-bind="text: processedPercentage"></span>

        <div class="newsProgress">
            <div class="progress" data-bind="style:{width:processedPercentage}"></div>
        </div>

    </div>
    <div class="list" data-bind="customScrollBar">

        <ul data-bind="foreach: radioStreams">
            <li>
                <i></i>
                <label class="pointer" data-bind="trimText: {text: $root.groupBy()==1? radioStation().name: toHour, length: 15}, click: $root.itemClicked"></label>
                <div class="newsProgress">
                    <div class="progress" data-bind="style:{width:processedPercentage}"></div>
                </div>
            </li>
        </ul>

    </div>
    <div class="pending">
       <label data-bind="text: radioPendingText"></label> <span data-bind="text:pending"></span>
    </div>
</article>
