﻿<article>
    <div class="head">
        <h3 data-bind="text: name"></h3>
        <p>To select previously published papers view the list below..</p>

        <span data-bind="text: processedPercentage"></span>

        <div class="newsProgress">
            <div class="progress" data-bind="style:{width:processedPercentage}"></div>
        </div>

    </div>
    <div class="list" data-bind="customScrollBar">

        <ul data-bind="foreach: dailyPapers">
            <li>
                <i class="icon2"></i>
                <label class="pointer" data-bind="trimText: {text: $parent.showNewsPaperName? newsPaper().name :name, length: 15}, click: $root.itemClicked"></label>
                <div class="newsProgress">
                    <div class="progress" data-bind="style:{width:processedPercentage}"></div>
                </div>
            </li>
        </ul>

    </div>
    <div class="pending">
        Pending Newspapers <span data-bind="text:pending"></span>
    </div>
</article>
