﻿

<div class="editingSection" data-bind="with: $root.model" style="margin-left:0;">
    <div class="heading">
        Update News
        <!-- ko template:{name:'usercontrol.languageChange', data: language} -->
        <!-- /ko -->
    </div>


    <!-- ko template: {name:'news.add', data: $data} -->
    <!-- /ko -->

</div>


<!--<a href="javascript:void(0);" class="arrowRight arrowRight1" data-bind="click: templatePaging.nextItem, visible:templatePaging.currentIndex()<totalLength()"><i></i><span>Next News</span></a>-->