﻿<!--ko if:typeof totalTemplates() !=='undefined'-->
<div class="playlist clear">
    <div class="container">
        <div class="playlistIco scrollx lfl">
            <ul data-bind='foreach:totalTemplates'>
                <li class="lfl"><a href="#" data-bind="click: $root.mcrUser.checkNextTemplate"><img data-bind="attr:{src:thumbImageUrl}"  alt=""></a></li>
            </ul>
        </div>
        <!--ko if:typeof currentScreenTemplate() !=='undefined'-->
        <span class="playtotal rfl"><span class="current"><label data-bind='text:currentScreenTemplate().tempNo< 10? "0"+ currentScreenTemplate().tempNo:currentScreenTemplate().tempNo'></label></span> / <label data-bind='text:totalTemplates().length< 10? "0"+ totalTemplates().length: totalTemplates().length'></label></span>
        <!--/ko-->
    </div>
</div>
<!--/ko-->
