﻿<div class="article" data-bind="customScrollBar" style="max-height:188px !important">
    <div class="leftNews">
        <div class="newsImage">
            <figure>
                <img data-bind="attr:{src: defaultImageUrl}" width="133" height="75" alt="*">
            </figure>
        </div>
        <h3><a data-bind="text:title"></a></h3>
        <ul class="storyDet" data-bind="foreach: filtersInfo()">
            <li><a href="javascript:;" data-bind="html: $data, attr:{title: $data}"></a></li>
        </ul>
    </div>
    <div class="contentScare">
        <p data-bind="html: shortDescription"></p>
        <hr />
        <p class="tagsDetail">
            <strong>Tags: </strong>
            <div class="tagsinput" style="width: auto;height: initial;overflow-y: initial;">
                <!-- ko foreach: tags  -->
            <!-- ko if: $index()==$parent.tags().length-1  -->
            <span class="tag"><span data-bind="html: $data"></span></span>
            <!-- /ko -->
            <!-- ko if: $index()<$parent.tags().length-1  -->
            <span class="tag"><span data-bind="html: $data+','"></span></span>
            <!-- /ko -->
            <!-- /ko -->
            </div>
            <i style="display: none;"></i>
        </p>
    </div>
</div>
