﻿<section id="reporter" class="mynewscontent" style="margin:0px !important;">

    <!-- ko foreach: news -->
    <header class="clearfix">
        <h4 data-bind="html :type"></h4>
        <div class="searchBox">
            <label data-bind="html:count"></label>
            <span>News Reported</span>
        </div>
    </header>

    <!-- ko if: list.length == 0 && $root.screenMessage() != undefined -->
    <div style="height: 35px">
        <span data-bind="text: $root.screenMessage"></span>
    </div>
    
    <!-- /ko -->

    <!-- ko foreach: list -->
    <!-- ko template: {name:'news.item', data: $data} -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    <div style="height: 35px">

    </div>

</section>
