﻿<!-- ko if: typeof programs !== 'undefined'  || typeof channel !== 'undefined'  || typeof channelVideos !== 'undefined'-->
<!-- ko if: channelVideos().length > 0 -->
<article>
    <div class="head">
        <h3 data-bind="text: name"></h3>

        <!-- ko if: typeof channel !== 'undefined' -->
                <p data-bind="text: channel().name">Select program from the list to report..</p>
        <!-- /ko -->
        <!-- ko if: typeof program !== 'undefined' -->
                <p>Select program from the list to report..</p>
        <!-- /ko -->
        <!-- ko if: typeof channel === 'undefined' &&  typeof program === 'undefined' -->
                <p>Select TV Channel from the list to report..</p>
        <!-- /ko -->


        <!-- ko if:  $root.router.currentHash() !== $root.config.views.channelreporter.live.url -->
        <span data-bind="text: processedVideosPercentage"></span>

        
        <div class="newsProgress">
            <div class="progress" data-bind="style:{width:processedVideosPercentage}"></div>
        </div>
        <!-- /ko -->
        <div>
            <!-- ko if: typeof channel !== 'undefined' -->
            <p>
                <label data-bind="text:fromHour"></label>
                -
            <label data-bind="text:toHour"></label>
            </p>
            <!-- /ko -->
        </div>
    </div>
    <div class="list" data-bind="customScrollBar">

        <!-- ko if: typeof programs !== 'undefined' -->
        <ul data-bind="foreach: programs">
            <!-- ko if: channelVideos().length > 0 -->
            <li>
                <i></i>
                <label class="pointer" data-bind="trimText: {text: name, length: 15}, click: $root.itemClicked"></label>
                <!-- ko if:  $root.router.currentHash() !== $root.config.views.channelreporter.live.url -->
                <div class="newsProgress">
                    <div class="progress" data-bind="style:{width:processedVideosPercentage}"></div>
                </div>
                <!-- /ko -->
            </li>
            <!-- /ko -->
        </ul>
        <!-- /ko -->

        <!-- ko if: typeof programs === 'undefined' &&  typeof modelId === 'undefined' -->
        <ul data-bind="foreach: channelVideos">
            <li>
                <i></i>
                <label class="pointer" data-bind="text: episodedatedisplay, click: $root.itemClicked"></label>
                <!-- ko if:  $root.router.currentHash() !== $root.config.views.channelreporter.live.url -->
                <div class="newsProgress">
                    <div class="progress" data-bind="style:{width:processedVideosPercentage}"></div>
                </div>
                <!-- /ko -->
            </li>
        </ul>
        <!-- /ko -->

        <!-- ko if: typeof programs === 'undefined' &&  typeof modelId !== 'undefined' -->
        <ul data-bind="foreach: channelVideos">
            <li>
                <!--<i></i>-->
                <img data-bind="attr { src : logo}" style="width: 14px;height: 15px;float: left;margin-right: 9px;"/>
                <!--<label class="pointer" data-bind="text: channel().name, click: $root.itemClicked"></label>-->
                <label class="pointer" data-bind="text: program().name, click: $root.itemClicked"></label>
                <!-- ko if:  $root.router.currentHash() !== $root.config.views.channelreporter.live.url -->
                <div class="newsProgress">
                    <div class="progress" data-bind="style:{width:processedVideosPercentage}"></div>
                </div>
                <!-- /ko -->
            </li>
        </ul>
        <!-- /ko -->

    </div>
    <div class="pending">
        <!-- ko if: typeof pendingPrograms !== 'undefined' -->
        Pending Programs <span data-bind="text:pendingPrograms"></span>
        <!-- /ko -->
        <!-- ko if: typeof pendingVideos !== 'undefined' -->
        Pending Videos <span data-bind="text:pendingVideos"></span>
        <!-- /ko -->
        <!-- ko if: typeof pendingTVChannels !== 'undefined' -->
        Pending TV Channels Streams <span data-bind="text:pendingTVChannels"></span>
        <!-- /ko -->
    </div>
</article>
<!-- /ko -->
<!-- /ko -->

