﻿ <div class="rightSection">
   			
            <div class="timeLine clear">
                <div class="time lfl">
                    <i class="icon title"></i>
                    <span class="name">Upcoming Story</span>
                </div>
                
                <div class="currentLine lfl">
                	<div class="progressBar">
                    	<span class="progressBarTimeLine" data-bind="style:{ width:progressBar()+'%'}"></span>
                    </div>
                    <span class="name"><label data-bind="text:displayDuration"></label></span>	
                </div>
            </div>

     <!--ko if: typeof $root.videoSwitcherMainStory !== 'undefined'-->
         <!-- ko template:{name:'mcrusers.videoswitcher.main.story',data:$data} -->
         <!-- /ko -->
     <!-- /ko -->

     <!--ko if: typeof $root.videoplayMainStory !== 'undefined'-->
         <!-- ko template:{name:'mcrusers.videoplay.main.story',data:$data} -->
         <!-- /ko -->
     <!-- /ko -->
     
     <!--ko if: typeof $root.graphicMainStory !== 'undefined'-->
         <!-- ko template:{name:'mcrusers.graphic.main.story',data:$data} -->
         <!-- /ko -->
     <!-- /ko -->
     
     <!--ko if: typeof $root.audioMainStory !== 'undefined'-->
         <!-- ko template:{name:'mcrusers.audio.main.story',data:$data} -->
         <!-- /ko -->
     <!-- /ko -->

        <!--ko if: typeof $root.anchor !== 'undefined'-->
         <!-- ko template:{name:'anchor.main',data:$data} -->
         <!-- /ko -->
         <!-- /ko -->

  </div>