﻿<aside class="currentstory lfl">
           <!-- ko if: typeof currentScreenTemplate() !== null && currentScreenTemplate() !=='' && currentScreenTemplate() !=='undefined'-->
           <!--ko with:currentScreenTemplate-->
            <div class="currentTitle clear">
                <div class="storyname lfl">
                    <i class="icon title"></i>
                    <span class="name">Current Story</span>
                </div>
                <div class="storytime rfl">
                    <i class="icon ico"></i>   
                    <span class="time"><label data-bind="text:contentDuration()"></label></span>
                </div>
            </div>
            
            <div class="storyvideo" style="width:100%; height:150px">
                <img data-bind="attr:{src:backgroundUrl}" style="width:100%; height:100%" alt="">
            </div>
            
            <div class="currentTitle padB10px marB10px clear">
                <div class="storytime lfl">
                    <i class="icon ico"></i>
                    <span class="time"><label data-bind="text:contentDuration()"></label></span>
                </div>
            </div>
            
            <div class="storydetail">
            	<div class="clear marB5px">
                	<span class="rfl clear"><a href="#"><i class="icon readMore"></i></a></span>
                </div>
                <div class="storyFull scrollNews">
                    <p class="detailtext urdu" data-bind="html : script()"></p>
                </div>
            </div>
             <!-- /ko -->
             <!-- /ko -->
        </aside>