﻿<div class="mainsection scroll" data-bind="customScrollBar" style="max-height:420px">
	<div class="container">
      <!-- ko template:{name:'shared.mcrusers.current.story',data:$root.mcrUser} -->
      <!-- /ko -->

      <!-- ko template:{name:'shared.mcrusers.right.section',data:$root.mcrUser} -->
      <!-- /ko -->
	</div>
 </div>