﻿<div class="container" data-bind="with:currentStory">
        <div class="show lfl">
        	<h2><label data-bind="text:$parent.programName"></label>
            	<!--ko if:typeof sequenceId !=='undefined' && typeof $root.mcrUser.stories().length !=='undefined'-->
                <span>story <label data-bind=' text:sequenceId< 10? "0"+sequenceId:sequenceId'></label>/<label data-bind='text:$root.mcrUser.stories().length< 10? "0"+ $root.mcrUser.stories().length: $root.mcrUser.stories().length'></label></span>
                <!--/ko-->
            </h2>
        </div>
        <div class="news rfl">
        	<img data-bind="attr{src:news.defaultImageUrl()}" style="width:30px;height:30px" alt="news" class="rfl">
        	<span class="urdu" data-bind="text:news.title()"></span>
        </div>
    </div>
    
    
    
