﻿<ul class="storyDet">
 
<!--    <li class="first"><a title="" href="javascript:;">Sports</a></li>
    <li><a title="" href="javascript:;">Karachi</a></li>-->
    <li class="last"><a title="" href="javascript:;" data-bind="text: lastUpdateDisplayDate()">3 hours ago</a></li>
</ul>