﻿<aside class="asideExplosives" data-bind="css: { urduContent: $data.languageCode == 'ur' }">
    <section class="topAside clearfix">
        <div class="newsImage">
            <figure>
                <img alt="" data-bind="attr: { 'src': defaultImageUrl }" onerror="this.src = '/content/images/producer/noimage-116x65.jpg'" />
                 <!-- ko if:$parent.currentStory && $parent.currentStory().storyStatus  -->
               <span class="progressbar" data-bind="css:$parent.currentStory().storyStatus()" style="height: 4px; width: 9%;position: absolute;border-radius: 196px;margin-top: -2px;"></span>
                 <!-- /ko -->
            </figure>
            <!-- ko template: { name: $root.templates.newsStatsControl, data: $data } -->
            <!-- /ko -->
        </div>

        <article>
            <p data-bind="trimText: { text: title(), length: 80 }"></p>
            <!-- ko template: {name: $root.templates.newsInfo, data : $data } -->
            <!-- /ko -->
        </article>
         <!-- ko if:$root.router.currentHash() == '#/topicselection'-->
      <div class="newsFilterTabs" data-bind="visible:$root.router.currentHash() == '#/topicselection' && ($data.filterIds().indexOf($root.e.NewsFilterType.TelevisionNews)!=-1 || $data.filterIds().indexOf($root.e.NewsFilterType.NewsPaperNews)!=-1 || $data.filterIds().indexOf($root.e.NewsFilterType.TickerNews)!=-1)">
         <input class="tvFilter" data-bind="css:{tabNewsActive:$root.isTelevisionNews && $root.isTelevisionNews()},visible:$data.filterIds().indexOf($root.e.NewsFilterType.TelevisionNews)!=-1,click:function(data) {$root.SwitchNewsTab($root.e.NewsFilterType.TelevisionNews)}" value="Television"/>
         <input class="newspaperFilter" data-bind="css:{tabNewsActive:$root.isNewsPaperNews && $root.isNewsPaperNews()},visible:$data.filterIds().indexOf($root.e.NewsFilterType.NewsPaperNews)!=-1,click:function(data) {$root.SwitchNewsTab($root.e.NewsFilterType.NewsPaperNews)}" value="NewsPaper"/>
         <input class="tickerNewsFilter" data-bind="css:{tabNewsActive:$root.isTickerNews && $root.isTickerNews()},visible:$data.filterIds().indexOf($root.e.NewsFilterType.TickerNews)!=-1,click:function(data) {$root.SwitchNewsTab($root.e.NewsFilterType.TickerNews)}" value="Ticker"/>
      </div>
<!--          <span class="newsFilterTabs" data-bind="visible:$root.router.currentHash() == '#/topicselection' && ($data.filterIds().indexOf($root.e.NewsFilterType.TelevisionNews)!=-1 || $data.filterIds().indexOf($root.e.NewsFilterType.NewsPaperNews)!=-1 || $data.filterIds().indexOf($root.e.NewsFilterType.TickerNews)!=-1)">
</span>-->
         <!-- /ko -->
    </section>

    <section class="newsAside" data-bind="customScrollBar: true">
        <article>

             <!-- ko if:$data.filterIds().indexOf($root.e.NewsFilterType.NewsPaperNews) <=0-->
             <span data-bind="html: description" class="enableTextSelection"></span>
              <!-- /ko -->

             <!-- ko if:$root.router.currentHash() == '#/topicselection'  && $data && $data.filterIds().indexOf($root.e.NewsFilterType.NewsPaperNews)!=-1 -->
            <span data-bind="html: description ,visible:$root.isTelevisionNews && $root.isTelevisionNews()" class="enableTextSelection"></span>
            <span data-bind="html: newsPaperdescription,visible:$root.isNewsPaperNews && $root.isNewsPaperNews()" class="enableTextSelection"></span>
              <!-- /ko -->
            <!-- ko if:tickers && tickers().tickerLines -->
            <span data-bind="foreach:tickers().tickerLines,visible:$root.isTickerNews && $root.isTickerNews()" class="enableTextSelection">
                <strong style="float: right;padding-left: 15px;" data-bind="html:$index()+1"></strong> <i data-bind="html:title()" style="float: right;  font-family: 'Jameel Noori Nastaleeq';font-size: 20px;"></i>
                <br>
            </span>
            <!-- /ko -->


            <div style="margin-top: 20px">
                <ul class="newsColume" data-bind="foreach: resources">
                    <li data-bind="attr: { 'class': cssClass() }, click: function (data) { $root.setCurrentContent(data, { isReportedContent: true }); }">
                        <a href="javascript:;">
                            <img alt="" data-bind="attr: { 'src': thumbImageUrl }" onerror="this.src = '/content/images/producer/noimage-45x25.jpg'" /></a>
                        <span></span>
                    </li>
                </ul>
            </div>
        </article>
    </section>


    <section class="latestUpdate" data-bind="foreach: updates, visible: updates().length > 0">
        <section class="latestWrapper scrollBar" data-bind="adjustHeight: true, customScrollBar: true">
            <div class="clearfix">
                <div class="newsImage">
                    <figure>
                        <img width="88" height="50" alt="" data-bind="attr: { 'src': defaultImageUrl }" onerror="this.src = '/content/images/producer/noimage-89x50.jpg'" />
                    </figure>

                    <!-- ko template: { name: $root.templates.newsStatsControl, data: $data } -->
                    <!-- /ko -->

                </div>

                <article>
                    <p data-bind="text: title"></p>
                    <p><span data-bind="text: lastUpdateDisplayTime()"></span></p>
                </article>
            </div>

            <div data-bind="text: description">
            </div>

            <!-- ko template: {name: 'news.item.contentfooter', data : {tmplName: $root.contentFooterTmplName, items: $data } } -->
            <!-- /ko -->
        </section>
    </section>

</aside>
