﻿<ul class="storyDet" data-bind="css:{'newsInfoCSS': 'true' }"></ul>

<div class="storyDet2">
    <div class="infoLine row1">
        <!-- ko if: $data.category() -->
        <p class="news_category" data-bind="text: $data.category()"></p>
        <!-- /ko -->
        <!-- ko if: $root.router.currentHash() === $root.config.views.nmsBol.controllerOutput.url  && $data.newsStatus() == '1' -->
        <p class="news_breaking">Breaking</p>
        <!-- /ko -->
        <!-- ko if: $data.reportedByDisplay() -->
        <p class="news_reportedBy" data-bind="text: $data.reportedByDisplay()"></p>
        <!-- /ko -->
    </div>
    <div class="infoLine row2">
        
        <p class="news_source" style="height:12px;"><span style="font-weight: 700 !important;color: black !important;" data-bind="html:$data.programName()"></span></p>
        <p class="news_source" style="height:12px;"><span data-bind="html: $data.programTime()"></span></p>
    </div>
</div>
<span data-bind="text: $data.creationDateDisplay()" class="storyDet3_dateCreate"></span>
