﻿<ul class='newsFileCss storyDet2 notSelectable normalNewsFile'  id="scrollul" data-bind="attr : {id : $data.id , uid: $data.id },click : $root.ViewNews" >
    <li class="normalCss">
        <div class="newsFileItem circleView" data-bind="attr:{'Id':'#news'+$data.id }" style="min-height: 68px;">
            <div id="tagRight" class="adjustCssTagged">
            
                <div class="rghtBtns">

                    <!-- ko foreach: {data: newsOrg()} -->
                     <div class="btnTags" title="Entity" data-bind="text: Name">&nbsp;I&nbsp;</div>
                    <!-- /ko -->
                    
                </div>


                <!-- ko  if: $data.languageCode == 'ur' -->
                <p data-bind="text:$data.title" class="newsSlug UrduCss"></p>
                <!-- /ko -->


                <!-- ko  if: $data.languageCode == 'en' -->
                <p data-bind="text:$data.title" class="newsSlug"></p>
                <!-- /ko -->

                    <!-- ko template: {name: $root.templates.tagFileInfo, data : $data } -->
                    <!-- /ko -->

            </div>
            <div id="left">
                <figure class="resourceCss">
                    <img class ="resourceImage" onerror="this.src = '../Content/images/producer/noimage-730x380.jpg'" data-bind="attr:{'src':$data.ResourceDisplay()}" width="50" height="60" alt="News" />
                </figure>
            </div>
        </div>

    </li>
</ul>