﻿<div>
    <div style="float: left; width: 20%; max-height:560px" class="divRO" data-bind="adjustHeight: true, customScrollBar: { }">
            
                <div class="leftnavscroll" style="margin-top: 0px; margin-left: 0px">
                    <h2 style="color:white; font-weight:bold; background-color:gray; padding: 6px;">Run Orders</h2>
                    <ul class="nav-step1">
              <li  class="teleprompter_prompt_searchbox" style="background-color:lightgray"><input type="text" data-bind="value:searchText,valueUpdate:'afterkeydown'" placeholder="Search Run Order" class="search-box teleprompter_search-box" style="width:90% !important;" /></li>
             <!--ko foreach:$root.filterRunOrders-->
             <li style=" padding-top:8px; margin-left:5px; width:75%; height:30px;  border-bottom:1px solid; cursor:pointer" data-bind="attr:{roId:id},text:slug,click:$root.addRunOrder"><li> 
             <!--/ko-->
                    </ul>
                </div>

    </div>
    <div style="float: left; width: 20%; display:none;" class="divSettings">
       
                <div class="leftnavscroll" style="margin-top: 0px; margin-left: 0px">
                    <h2 style="color:white; font-weight:bold; background-color:gray; padding: 6px;">Settings</h2>
                     <div>
            	<div data-bind="adjustHeight: true, customScrollBar: { }" style ="max-height:560px !important; padding-right:0px !important">
                    
                    <br />         
                    <h3 style="float:left; color:black; padding-left: 6px; font-weight: bold;">Listening settings:</h3><br /><br />
            <label style="float:left; padding-left: 10px;">MOS Id</label> <input type="text" data-bind="value:mosId().value" style="float:right; border-radius: 4px; padding: 4px; margin-left:5px; width: 110px;
height: 15px;background-color:lightgray;" /><br /><br />
            <label style="float:left; padding-left: 10px;">MOS Port</label> <input type="text" data-bind="value:mosPort().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br /><br />
            <input type="button" data-bind="click:saveSettings" style="float:right; padding:4px; width:60px; border:3px #FFF; cursor:pointer" class="btn_setting" value="Start"/>
                    <br /><br /><br />
                    <hr />
                    
                    <h3 style="float:left; color:black; padding-left: 6px; font-weight: bold;">Hub connection:</h3>
                    <br /><br />
            <label style="float:left; padding-left: 10px;">NCS Id</label> <input type="text" data-bind="value:ncsId().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br /><br />
            <label style="float:left; padding-left: 10px;">NCS Port</label> <input type="text" data-bind="value:ncsPort().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br /><br />
			<label style="float:left; padding-left: 10px;">Ip Address</label> <input type="text" data-bind="value:hubIp().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br /><br />

            <input type="button" data-bind="click:connectHub" style="float:right; width:65px; padding:4px; cursor:pointer; border:3px #FFF;" class="btn_setting" value="Connect"/>

                    <br/><br/><br />
                    <hr />
                    <h3 style="float:left; color:black; padding-left: 6px; font-weight: bold;">Tolerance (minutes):</h3><br /><br />
            <label style="float:left; padding-left: 10px;">Tolerance</label> <input type="text" data-bind="value:tolerance().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br /><br />
                    <input type="button" data-bind="click:function(){sendCommand(e.CommandType.Tolerance_Prompter)}" style="float:right; width:65px; padding:4px; cursor:pointer; border:3px #FFF;" class="btn_setting" value="Set"/>
                    
                    <br/>
                    
                    <br/><hr />
                    <h3 style="float:left; color:black; padding-left: 6px; font-weight: bold;">Thread Settings:</h3><br /><br />
            <label style="float:left; padding-left: 10px;">AutoCheck(minutes)</label> <input type="text" data-bind="value:threadDelay().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br /><br />
            <label style="float:left; padding-left: 10px;">AutoDelete(Hours)</label> <input type="text" data-bind="value:deletionSpanTimeSpan().value" style="float:right; border-radius: 4px; padding: 4px; width: 110px;
height: 15px;margin-left:5px; background-color:lightgray; " /><br />
                    <br/>
             <input type="button" data-bind="attr:{value:cleanUpBtnText},click:cleanUp"  style="cursor:pointer; width:60px; padding:4px; border:3px #FFF; float:right" class="btn_setting" />
                    <br /><br /><br />
                    <hr />
                    
                    <h3 style="float:left; color:black; padding-left: 6px; font-weight: bold;">Controller Configuration:</h3>
                    <br /><br />
                    <div data-bind="visible:mappingUiBoxFlag()">
            <label style="float:left;" data-bind="text:firstSelectedAction"></label> 
                    <select style="float:right; border-radius: 4px; padding: 4px; width: 115px;
height: 28px;margin-left:5px; background-color:lightgray; " data-bind="options: availableActions,
                       optionsText: availableActions[i],
                       value: firstSelectedAction,
                       optionsCaption: 'Select Action..'"></select><br /><br /><br />

            <label style="float:left;" data-bind="text:secondSelectedAction"></label> 
                    <select style="float:right; border-radius: 4px; padding: 4px; width: 115px;
height: 28px;margin-left:5px; background-color:lightgray; " data-bind="options: availableActions,
                       optionsText: availableActions[i],
                       value: secondSelectedAction,
                       optionsCaption: 'Select Action..'"></select><br /><br /><br />
			<label style="float:left;" data-bind="text:thirdSelectedAction"></label> 
                    <select style="float:right; border-radius: 4px; padding: 4px; width: 115px;
height: 28px;margin-left:5px; background-color:lightgray; " data-bind="options: availableActions,
                       optionsText: availableActions[i],
                       value: thirdSelectedAction,
                       optionsCaption: 'Select Action..'"></select><br /><br /><br />
                        </div>
                    <input type="button" data-bind="attr:{value:mappingBtnText},click:onMappingMode" style="float:right; width:115px; height:28px; padding:4px; cursor:pointer; border:3px #FFF;" class="btn_setting"/>
                </div>
            </div>
                </div>

    </div>
    <div style="float: left; width: 80%;">
         <div>
            <section id="sequence-news-list" class="seqContent disable-text-selection" data-bind="foreach:$root.currentRunOrder().roStories, sortableList: { stories: $root.currentRunOrder().roStories, callback: $root.arrangeStories, removeStory: $root.removeStory}">
                <!-- ko template: { name: 'teleprompter.storyitem', data:$data} -->
                <!-- /ko -->
            </section>
        </div>
    </div>
</div>
