﻿<div data-bind="visible: $root.showStory">  
<section id="sequence-news-list" class="seqContent disable-text-selection" data-bind="foreach:$root.currentRunOrder().roStories, sortableList: { stories: $root.currentRunOrder().roStories, callback: $root.arrangeStories, removeStory: $root.removeStory }">                   
        <!-- ko template: { name: 'teleprompter.storyitem', data:$data} -->
        <!-- /ko -->
</section>
</div>
