﻿<div data-bind="attr:{index:$index,id:orderId}" >
<article class="hasmenu  clearfix " data-bind="attr:{sId:id},contextMenu,expandCollapse,style: {'background-color':isSkipped() ? 'red': isPlaying() ? 'yellow' : isPlayed() ? 'green': '#e5e7eb'}" >
    <i class="icon-seqIcon"></i>
    <div>
          <h3 data-bind="trimText:{text: slug(), length:70}"></h3>
    </div>
    <span style="float:right" data-bind="text:isSkipped() ? 'Skipped': ' '"></span>

</article>
<div class=" expansion" style="-moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden; margin-bottom:2.5px"><div><div> 

    <!--ko foreach:storyItems-->
    <i style="float:left; background: url(/Content/images/common/arrow.jpg) no-repeat 0 -1px;
	width: 10px;
	height: 17px; margin-left:13px"></i>
      <article class="clearfix " id="Article1"  style="margin-left:25px;height:auto;">
          
    <div>
         <div data-bind="html:instruction"></div>
         <h3 data-bind="html:slug"></h3>
         <div data-bind="html:details"></div>
    </div>
   </article>
    <!--/ko-->
    </div></div></div>
</div>