﻿<nav class="leftnav" style="position:absolute">
 <span class="controller" data-bind="showPanel" style="z-index:1;cursor:pointer"><a><i class="icon-nav"></i></a></span>
 <div class="leftnavscroll" style="margin-top: 15px; margin-left:-50px"  data-bind="adjustHeight: true, customScrollBar: { }" >
     <ul class="nav-step1">
     <li style="margin-left:58px; width:75%; height:30px; margin-top:4px"><input type="text" data-bind="value:searchText,valueUpdate:'afterkeydown'" style="width:100%; height:100%;-webkit-border-radius: 5px; -moz-border-radius: 8px; border-radius: 5px; background:gray url('Content/images/contextMenu/search-black.png') no-repeat 4px 8px; padding:4px 4px 4px 22px;" placeholder="search"/></li>
            <!--ko foreach:$root.filterRunOrders-->
            <li class="hasmenu" style=" padding-top:8px; margin-left:55px; width:75%; height:30px;  border-bottom:1px solid; cursor:pointer" data-bind="attr:{roId:id},text:slug,click:$root.addRunOrder,contextMenu"><li> 
            <!--/ko-->
         </ul>
    </div>
</nav>
