﻿<div style="position:absolute; margin-left:10%; width:1780px">
<ul class="menuH decor1">
    <li style="display:inline"><a class="arrow">Select program</a>        
        <ul data-bind="foreach: $root.programs,customScrollBar" style="max-height:200px" class="dropToLeft">
            <li> <a href="javascript:;" data-bind="text: name,click:$root.currentSelectedProgram"></a></li>
       </ul>
    </li>
    <li style="display:inline; background-color:gray; width:50%">
          <!-- ko template: {name:'usercontrol.datetimepicker' ,data:$root} -->
          <!-- /ko -->
    </li>
    <li style="display:inline"><a class="arrow">Episodes</a>        
        <ul data-bind="foreach: $root.allEpisode,customScrollBar" style="max-height:200px" class="dropToLeft">
            <li> <a href="javascript:;" data-bind="html:startTimeDisplay,click:$root.singleEpisode"></a></li>
       </ul>
    </li>

</ul>
</div>


