﻿<span style="margin-right: 45px;" class="tickerInfo">
    <!-- ko if: $data.creationDateDisplay -->
    <small data-bind="html:$data.creationDateDisplay"></small>
    <!-- /ko -->

    <!-- ko if: $data.userName -->
    <small class="last" data-bind="html:$data.userName"></small>
    <!-- /ko -->
</span>
