﻿<ul data-bind="with:$data" class="statusul">
    <li class="statusInfo">

        <!-- ko if: $data.categoryStatusId() == $root.e.TickerStatus.Rejected -->
        <strong class="rejected">rejected</strong>
        <!-- /ko -->
        

        <!-- ko if: $data.categoryStatusId() == $root.e.TickerStatus.Pending -->
        <strong class="pending">pending</strong>
        <!-- /ko -->

        <!-- ko if: $data.categoryStatusId() == $root.e.TickerStatus.Approved -->
        <strong>approved</strong>
        <!-- /ko -->

        <!-- ko if:  $data.categoryStatusId() == $root.e.TickerStatus.OnHold -->
        <strong class="rejected">onHold</strong>
        <!-- /ko -->


        <!-- ko if: $data.categoryStatusId() == $root.e.TickerStatus.OnAir -->
        <strong class="onair">On Air</strong>
        <!-- /ko -->


        <!-- ko if: $data.categoryStatusId() == $root.e.TickerStatus.OnAired -->
        <strong class="onaired">On Aired</strong>
        <!-- /ko -->
    </li>
</ul>
