﻿<ul>
    <!-- ko if: $root.currentTickerType() === $root.e.TickerType.Breaking.Value -->
    <li class="first" data-bind="style:{visibility: $data.currentTickerLineCount() == 0 ? 'hidden' : ''}, click:function(){$root.deleteCompleteGroup($data)}"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue nofloat">Delete Group </a></li>
    <!-- /ko -->
    <li class="first" data-bind="click:function(){$root.editSegment($data)}"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue nofloat ">Edit Segment </a></li>
    <li class="first" data-bind="click:function(){$root.insertOnAirTickerLine($data)}"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue nofloat ">Show </a></li>


    <li class="last">
        <div class="prioritysec">
            <div class="tickerDropDown">
                <select data-bind="event:{change:function(){ $root.setCurrentTickerLineOperator($data,event)}},options: $root.operatorDisplayCount, optionsText: 'text',optionsValue:'operatorId'"></select>
            </div>
        </div>
    </li>
    <li>
        <div>
            <input class="tickertexbox" type="text" style="direction: rtl;" data-bind="event:{ keyup:function(){ $root.setTickerText($data,event) } }, value:$data.title">
        </div>
    </li>

</ul>
