﻿<div class="tags">
    <div class="tagsinput" style="width: auto; min-height: 87px;">
        <!-- ko foreach: tags -->
        <span class="tag"><span data-bind="html:$data"></span><a href="javascript:void(0)" title="Removing tag" data-bind="removeTag:{tags:$parent.tags, tag:$data}">x</a></span>
        <!-- /ko -->
        <div>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
            <input data-bind="addTag:{tags:tags}, autoComplete:{source: source,tags : tags}" tabindex='4' placeholder="Enter Tags..."  style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input" autocomplete="off" >
        </div>
        <div class="tags_clear"></div>
    </div>
    <div class="deleteAllTag" data-bind="removeAllTag:{tags:tags}"><a href="javascript:;">Delete all tags</a></div>
   
</div>


