﻿<!-- ko foreach:$data.data -->
<article class="new-wrap" data-bind="attr: { index: $index, id: id + '_' +$parent.type }">
    <div class="newslst clearfix">
        <ul class="tickerEditorSec" data-bind="visible:$root.currentTickerStatusId() !== $root.e.TickerStatus.Rejected && $root.appdata.currentUser().userType != $root.e.UserType.TickerWriter, click: $root.editTicker">
            <li class="addControl" title="Add Ticker Line">
                <span title="Edit Ticker" class="editLine"><i class="icon-newedit"></i></span>
            </li>
        </ul>
        <div class="timenews">
            <strong data-bind="html:$data.tickerLinesCount,tickerDropDown:true"></strong>
            <!-- ko template: {name: $root.templates.tickerInfo ,data:$data} -->
            <!-- /ko -->
        </div>
    </div>
    <ul class="more-news">
        <!-- ko foreach: $data.tickerLines() -->
        <li data-bind="visible:$data.categoryStatusId() === $root.currentTickerStatusId() ">
            <div class="newslst clearfix" data-bind="css: { englishDirection: $data.languageCode() == 'en' }">
                <div class="timenews">
                    <strong></strong>
                    <p data-bind="trimText:{text: title(), length:120},attr:{title:title()}"></p>
                    <input maxlength="100" required type="text" class="tickertext" autofocus style="display: none" data-bind="value: title" />
                </div>
            </div>

        </li>
        <!-- /ko -->
    </ul>
</article>
<!-- /ko -->
