﻿<article class="new-wrap">
    <div class="newslst clearfix">
        <ul>
            <li class="first"><span><i class="icon-newadd"></i></span></li>
            <li><span><i class="icon-newcheck"></i></span>
                <span><i class="icon-newpause"></i></span>
                <span><i class="icon-newclose"></i></span>
                <span><i class="icon-newedit"></i></span></li>
            <li class="last">
                <div class="prioritysec">
                    <ul>
                        <li class="active first">low</li>
                        <li>medium</li>
                        <li class="last">high</li>
                    </ul>
                    <div class="xSelect" style="position: relative;">
                        <select style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10; opacity: 0;">
                            <option value="1 time">1 time</option>
                            <option value="2 times">2 times</option>
                            <option value="3 times">3 times</option>
                            <option value="4 times">4 times</option>
                            <option value="5 times">5 times</option>
                        </select>
                        <p>1 time</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="timenews">
            <strong class="more">3</strong>
            <p>
                <i>چیف جسٹس افتخار محمد چود ہری قد یمی سیاسی نظام ملا تے ہوےَاور</i>
                <span>
                    <small><small>ticker ID</small>00002</small>
                    <small>Politics</small>
                    <small>20 Mins ago</small>
                    <small class="last">By: Hafeez Ahmed</small>
                </span>
            </p>
        </div>
    </div>
    <ul class="more-news" style="display: none;">
        <li class="first">
            <div class="newslst clearfix">
                <ul>
                    <li class="first"><span style="display: inline-block;"><i class="icon-newadd"></i></span></li>
                    <li><span style="display: inline-block;"><i class="icon-newcheck"></i></span>
                        <span style="display: inline-block;"><i class="icon-newpause"></i></span>
                        <span style="display: inline-block;"><i class="icon-newclose"></i></span>
                        <span style="display: inline-block;"><i class="icon-newedit"></i></span></li>
                    <li class="last"><strong style="display: inline-block;">high</strong>
                        <span style="display: inline-block;"><i class="icon-rank"></i></span><small style="display: inline;">5 times</small></li>
                </ul>
                <div class="timenews">
                    <strong style="display: block;">-</strong>
                    <p style="display: block;"><i>چیف جسٹس افتخار محمد چود ہری قد یمی سیاسی نظام ملا تے ہxzfvdvوےَاور </i></p>
                </div>
            </div>
        </li>
        <li class="last">
            <div class="newslst clearfix">
                <ul>
                    <li class="first"><span><i class="icon-newadd"></i></span></li>
                    <li><span><i class="icon-newcheck"></i></span>
                        <span><i class="icon-newpause"></i></span>
                        <span><i class="icon-newclose"></i></span>
                        <span><i class="icon-newedit"></i></span></li>
                    <li class="last"><strong>high</strong>
                        <span><i class="icon-rank"></i></span><small>5 times</small></li>
                </ul>
                <div class="timenews">
                    <strong>-</strong>
                    <p><i>چیف جسٹس افتخار محمد چود ہری قد یمی سیاسی نظام ملا تے ہوےَاور</i></p>
                </div>
            </div>
        </li>
    </ul>
</article>
