﻿<!-- ko if:$data -->
<article class="new-wrap">
    <div class="newslst clearfix">
        <ul class="statusul" style="width: initial;">
            <li class="statusInfo">
                <!-- ko if: $data.sequenceId != 0 -->
                <strong class="onair" data-bind="text: 'Operator # ' + $data.sequenceId"></strong>
                <!-- /ko -->

                <!-- ko if: $data.sequenceId == 0 -->
                <strong class="pending">Bug</strong>
                <!-- /ko -->
            </li>
        </ul>
        <div class="timenews" style="padding: 2px 20px 3px 0px; width: initial;">
           <!-- <strong class="pending" style="background: url(/content/images/ticker/twitter.png) no-repeat; margin-right: -20px; margin-top: 7px;border:none !important;border-radius:initial !important;cursor:pointer" data-bind="click:function(data){$root.editBeforeSendToTwitter($data)}"></strong>-->
            <p style="-webkit-user-select: text" data-bind="trimText:{text: title(), length:120},attr:{title:title()}"></p>
            <!-- ko template: {name: $root.templates.tickerInfo,data:$data} -->
            <!-- /ko -->
        </div>
    </div>

</article>
<!-- /ko -->

