﻿<!-- ko if:$data -->
<ul style="width: initial">
    <li data-bind="click:function(data,event){ $root.markOnAirTickerStatus($data,$root.e.TickerType.Breaking.Value) }"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue nofloat ">Hide </a></li>
    
    <li data-bind="text: 'Op # ' + $data.operatorNo"></li>
</ul>
<!-- /ko -->
