﻿<ul>
    <li class="first" data-bind="dropdownSlide: true">
        <a href="javascript:;"><i class="icon-secProgrm"></i><small data-bind="text: $root.appdata.programSelector().program"></small></a>
        <ul class="adjustHeight" data-bind="customScrollBar: {}" style="height: 195px!important;">
            <!-- ko foreach:$root.programs -->
            <li data-bind="click: function () { $root.appdata.currentProgram($data) }"><a href="javascript:;"><i class="icon-secProgrm"></i><small data-bind="    text: name"></small></a></li>
            <!-- /ko -->
        </ul>
    </li>
    <li class="second datepicshow" data-bind="dropdownSlide: true" >
        <a href="javascript:;">
            <i class="icon-secDay"></i>
            <span></span>
            <small class="monthDate" data-bind="text: $root.appdata.programDisplayDate()"></small>
        </a>
        <ul>
            <li class="clearfix">
                <div class="datepickerBar" data-bind="smallCalendar: { currentDate: $root.appdata.programSelectedDate, bindToggle: true }"></div>
            </li>
        </ul>
    </li>
    <li class="third">
        <i class="icon-secTime"></i>
        <div class="progress" data-bind="visible: currentPage() == $root.hashes.production">
            <div class="progressBar" data-bind="style: { 'width': $root.appdata.currentEpisode().episodeProgress().width + '%' ,backgroundColor:$root.appdata.currentEpisode().episodeProgress().color}"></div>
        </div>
        <span data-bind="text: $root.appdata.currentEpisode().contentDurationDisplay"></span> / <span data-bind="    text: $root.appdata.currentEpisode().totalDurationDisplay"></span>
    </li>
    <li class="fourth" data-bind="visible: currentPage() == $root.hashes.production">
        <a href="javascript:;"><i class="icon-proIcon-9"></i><span data-bind="text: $root.currentStoryIndexDisplay"></span>/ <span data-bind="    text: $root.storyCount"></span></a>
    </li>
    <li class="bgActive" data-bind="css: currentPage() == $root.hashes.production ? 'fifth' : 'fourth', dropdownSlide: true">
        <a href="javascript:;"><i class="icon-lockTime"></i><small data-bind="text: $root.appdata.programSelector().episode"></small></a>
        <ul data-bind="foreach: $root.episodes">
            <li class="episode-dropdown" data-bind="click: function () { $root.appdata.currentEpisode($data) }">
                <a href="javascript:;"><i class="icon-lockTime"></i><small data-bind="    text: startTimeDisplay"></small></a>
            </li>
        </ul>
    </li>
</ul>
