﻿<aside id="left-panel" class="rightSec leftpanel" style="top: 0px; right: initial;" data-bind="toggleLeftPanel:{}">
    <ul class="panelbar" data-bind="click:toggleStoryBucket">
        <li class="leftPanelRundown">Rundown</li>
    </ul>
    <div class="latestCol leftpanel leftPanelRundown" data-bind="css:isStoryBucketVisible() ? 'active' : '' ">
        <ul class="bucketlist" data-bind="customScrollBar: {}" style="height: 528px !important;">
            <!-- ko foreach: segments -->

            <!-- ko foreach: stories -->

            <li class="head leftPanelRundown" data-bind="visible:$index() == 0"><a href="javascript:;"><i></i><small data-bind="text: $parent.categoryName"></small></a></li>
            <li data-bind="click:function(data) {$root.onPreviewThumbClick($data,0,true)}" class="leftPanelRundown">
                <a href="javascript:;" class="leftPanelRundown">
                    <img class="leftPanelRundown" data-bind="attr: { src: news.defaultImageUrl }" width="60" height="50" onerror="this.src = '/content/images/producer/noimage-60x50-dark.jpg'" />
                </a>
                <p class="leftPanelRundown" data-bind="trimText: { text: news.title(), length: 40 }, css: { urduContent: $data.news.languageCode == 'ur' }"></p>
              <!--  <span class="progressbar approved" data-bind="css:$data.storyStatus()" style="height: 8px; width: 4%; position: absolute; left: 11px; border-radius: 9px;"></span>-->
                <span class="progressbar" data-bind="css:$data.storyStatus()" style="height: 6px; width: 30%; position: absolute; left: 10px; /* border-radius: 9px; */margin-top: 49px;"></span>
            </li>
            <!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>
</aside>
