﻿<section class="videoEditor">
    <header class="clearfix">
        <ul>
            <li class="first1"><span>Regular News Flow 1</span></li>
            <li class="first2"><i class="icon-proIcon-10"></i><small data-bind="text: $root.currentStory().screenFlow().contentDurationDisplay"></small></li>
            <li class="first3"><i class="icon-proIcon-11"></i><a href="javascript:;" data-bind="click: $root.showContentSelectionArea">Story Content</a></li>
        </ul>
    </header>
</section>
<a href="javascript:;" style="float: right;" data-bind="visible:!$root.isDefaultState() && $root.currentStep() > 1 && !$root.isSmallTemplateVisible() && $root.currentStep() > 1 && $root.appdata.currentUser().userType !== $root.e.UserType.StoryWriter && $root.currentStep() > 1 && $root.appdata.currentUser().userType !== $root.e.UserType.NLE, click: function () { $root.editProgramFlow(); }"><i title="Edit Screen Flow" class="icon-proIcon-18"></i></a>
<ul class="menuTabs clearfix" data-bind="visible:!$root.isSmallTemplateVisible(),foreach: $root.currentStory().screenFlow().screenTemplates">
    <!-- ko if: !$data.isMediaWallTemplate() -->
      <li data-bind="css: { 'active': $root.sdc.templateIndex() == $index() || ($data.storyScreenTemplateId && $root.sdc.currentTemplate().parentId==$data.storyScreenTemplateId && $root.appdata.currentUser().userType !== $root.e.UserType.NLE),'approvedPending':($data.nleStatusId()===$root.e.ScreenTemplateStatus.ApprovalPending && $data.storywriterStatusId()===$root.e.ScreenTemplateStatus.ApprovalPending),'approved':($data.nleStatusId()===$root.e.ScreenTemplateStatus.Approved && $data.storywriterStatusId()===$root.e.ScreenTemplateStatus.Approved) }, attr:{id:'screenTemplae'+$index()},click: function (data) { $root.setCurrentTemplateForContentSelection(data, $index()); }">
        <p data-bind="trimText: { text: name, length: 10 }"></p>
        <figure>
            <img width="91" height="55" data-bind="attr: { 'src': thumbImageUrl }" />
        </figure>
        <span><i class="icon-proIcon-12"></i><small data-bind="text: contentDurationDisplay"></small></span>
    </li>
    <!-- /ko -->
    <!-- ko if: $data.isMediaWallTemplate() && $root.appdata.currentUser().userType === $root.e.UserType.NLE -->
    <li data-bind="css: { 'active': $root.sdc.templateIndex() == $index() || ($data.storyScreenTemplateId && $root.sdc.currentTemplate().parentId==$data.storyScreenTemplateId && $root.appdata.currentUser().userType !== $root.e.UserType.NLE),'approvedPending':($data.nleStatusId()===$root.e.ScreenTemplateStatus.ApprovalPending && $data.storywriterStatusId()===$root.e.ScreenTemplateStatus.ApprovalPending),'approved':($data.nleStatusId()===$root.e.ScreenTemplateStatus.Approved && $data.storywriterStatusId()===$root.e.ScreenTemplateStatus.Approved)}, attr:{id:'screenTemplae'+$index()},click: function (data) { $root.setCurrentTemplateForContentSelection(data, $index()); }">
        <p data-bind="trimText: { text: name, length: 10 }"></p>
        <figure>
            <img width="91" height="55" data-bind="attr: { 'src': thumbImageUrl }" />
        </figure>
        <span><i class="icon-proIcon-12"></i><small data-bind="text: contentDurationDisplay"></small></span>
    </li>
    <!-- /ko -->
</ul>

<div class="videoControler clearfix" data-bind="css: { 'mediaWall': $root.sdc.isMediaWallVisible() }">
    <div class="clearfix" data-bind="visible: isTemplateSelected()">
        <i class="icon icon-sec icon-check" data-bind="click: $root.saveMediaWallTemplate, hoverStyle: 'active', visible: $root.sdc.isMediaWallVisible()" style="position: absolute; top: 188px !important; cursor: pointer; z-index: 1000;"></i>
        <i class="icon icon-sec icon-check" data-bind="hoverStyle: 'active', click: $root.toggleMediaWallDesignerVisibility, visible: $root.sdc.isMediaWallVisible()" style="position: absolute; cursor: pointer; z-index: 1000; top: 232px !important; background: url(../../Content/images/common/sprite.png) -457px -9px no-repeat; right: -30px !important;"></i>
        
        <div class="editorLeft" data-bind="visible:!$root.isDefaultState(),css:{disabled:(($root.sdc.currentTemplate().nleStatusId() ===$root.e.ScreenTemplateStatus.Approved || $root.sdc.currentTemplate().nleStatusId() ===$root.e.ScreenTemplateStatus.ApprovalPending) && ($root.appdata.currentUser().userType === $root.e.UserType.NLE)) || ($root.appdata.currentUser().userType === $root.e.UserType.StoryWriter)}">

            <h5>
                <label data-bind="text: currentTemplate().name, css: { 'setfontColor': $data.isMediaWallVisible() }"></label>
                <span data-bind="css: {'setfontColor':$data.isMediaWallVisible()}"><i class="icon-proIcon-12"></i><small data-bind="text: currentTemplate().videoDurationDisplay"></small></span>
            </h5>
            <!--<div class="videocutterOverlay"><div class="imgdiv"><img src="../Content/images/caspar/loading.gif"></div></div>-->
            <div class="controlerView">

                <img data-bind="attr: { 'src': currentTemplate().backgroundUrl() }" width="180" height="342" usemap="#templateMap" />

                <map id="templateMap" name="templateMap" data-bind="foreach: currentTemplate().templateElements">

                    <!-- ko if: $root.appdata.currentUser().userType === $root.e.UserType.Producer  || $root.appdata.currentUser().userType === $root.e.UserType.HeadlineProducer -->
                    <!-- ko if: $data.screenElementId == '8' || $data.screenElementId == '13' || $data.screenElementId == '3' || $data.screenElementId == '22'-->
                    <figure class="overlay" data-bind="clickChild:{},style:{left:($data.coordinates[0])+'px',top:($data.coordinates[1])+'px',height:($data.coordinates[3]-$data.coordinates[1])+'px',width:$data.width+'px'},css: { 'setLeft': $data.coordinates[0] === 0}">
                        <!-- ko if:($data.screenElementId == '3'  || $data.screenElementId == '22') && $data.contentBucket().length>0 -->
                        <span style="position: absolute;">
                            <i class="templateVideoIcon" data-bind="click: function (data,event) { $root.setVideoForProduction(data,event); }" style="margin-left: 0px"></i>
                            <span class="videocutterOverlay" data-bind="visible:$root.appdata.showCutterImageLoader()"> <img class="imgNewLoaderProd" src="/Content/images/common/newloader.gif" style="display:block;"></span>
                            <a class="templateVideocutterIcon" style="margin-left: 0px" data-bind="visible:($root.appdata.isVideoCutterInstalled() && !$root.appdata.showCutterImageLoader()),click:$root.openVideoInEditor"></a>
                        </span>

                        <!-- /ko -->
                        <!-- ko if:$data.screenElementId == '8' -->
                        <ul class="videoSource" style="display:none !important;">
                            <li class="first">
                                <a href="javascript:;"><i class="icon-proIcon-19"></i></a>
                                <div class="sourceColum">
                                    <h6>Available Sources</h6>
                                    <ul>
                                        <li class="first"><a href="javascript:;"><i class="icon-proIcon-20"></i></a></li>
                                        <li><a href="javascript:;"><i class="icon-proIcon-21"></i></a></li>
                                        <li class="last"><a href="javascript:;"><i class="icon-proIcon-22"></i></a></li>
                                    </ul>
                                    <p>Unavailable Sources</p>
                                    <ul>
                                        <li class="first last"><a href="javascript:;"><i class="icon-proIcon-23"></i></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="last"><a href="javascript:;"><i class="icon-proIcon-18"></i></a></li>
                        </ul>
                        <!-- /ko -->
                        <area shape="rect" data-bind="attr: { 'coords': coordinates }, click: function (data) { $root.onTemplateElementClick(data); }" />
                    </figure>
                    <!-- /ko -->

                      <!-- ko if:$index()== 0 -->
                     <!-- ko foreach:$root.sdc.currentTemplate().templateKeys-->
                      <input class="editorKeyValue" type="text" data-bind="setUrduEditorForKeys:{},value:$data.keyValue,style:{left:($data.left)+'px',top:($data.top)+'px',width:($data.right - $data.left)+'px',height:($data.bottom-$data.top)+'px'}">
                         <!-- /ko -->
                     <!-- /ko -->


                    <!-- ko if: $data.screenElementId != '8' && $data.screenElementId != '13' && $data.screenElementId != '3' && $data.screenElementId != '22'-->
                    <figure>
                        <area shape="rect" data-bind="attr: { 'coords': coordinates }, click: function (data) { $root.onTemplateElementClick(data); }" />
                    </figure>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $root.appdata.currentUser().userType === $root.e.UserType.StoryWriter || $root.appdata.currentUser().userType === $root.e.UserType.NLE -->
                    <!-- ko if: $data.screenElementId == '8' || $data.screenElementId == '13' || $data.screenElementId == '3' || $data.screenElementId == '22'-->
                    <figure class="overlay" data-bind="clickChild:{},style:{left:($data.coordinates[0])+'px',top:($data.coordinates[1])+'px',height:($data.coordinates[3]-$data.coordinates[1])+'px',width:$data.width+'px'},css: { 'setLeft': $data.coordinates[0] === 0}">
                        <span style="position: absolute;">
                            <i class="templateVideoIcon" data-bind="click: function (data,event) { $root.setVideoForProduction(data,event); }" style="margin-left: 0px"></i>
                            <i class="templateDownloadIcon nledownloadCss" data-bind="click: function (data,event) { $root.downloadTemplateResource(data,event); }"></i>
                            <!-- ko if: $root.appdata.currentUser().userType != $root.e.UserType.StoryWriter -->
                            <a class="templateVideocutterIcon" style="margin-left: 0px" data-bind="visible:$root.appdata.isVideoCutterInstalled() ,click:$root.openVideoInEditor"></a>
                            <!-- /ko -->
                        </span>
                        <area shape="rect" data-bind="attr: { 'coords': coordinates }, click: function (data) { $root.onTemplateElementClick(data); }" />
                    </figure>
                    <!-- /ko -->
                    <!-- ko if: $data.screenElementId != '8' && $data.screenElementId != '13' && $data.screenElementId != '3' && $data.screenElementId != '22'-->
                    <figure>
                        <area shape="rect" data-bind="attr: { 'coords': coordinates }, click: function (data) { $root.onTemplateElementClick(data); }" />
                    </figure>
                    <!-- /ko -->
                    <!-- /ko -->
                </map>
                <div class="galleryView" data-bind="visible: isGalleryVisible">
                    <span class="viewAll" data-bind="showContentGallery: true"><i></i></span>
                    <p>Slide <span data-bind="text: currentTemplate().contentBucket().length"></span><i class="icon-proIcon-13"></i></p>
                    <div>
                        <ul class="scrollBar" data-bind="customScrollBar: true" style="height: 250px">
                            <!-- ko foreach: currentTemplate().contentBucket -->
                            <li data-bind="click: function (data) { $root.onBucketResourceClick(data); }">
                                <i class="icon-correct" data-bind="css: { active: isSelected() }" style="position: absolute; z-index: 500;  -webkit-transform: scale(0.8); cursor: pointer;right: -9px;top: 36px;"></i>
                                <img data-bind="attr: { 'src': thumbImageUrl }" width="110" height="63" />

                                <ul class="hoverIcon" data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.StoryWriter">
                                    <li><a class="icon3 close" href="javascript:;" title="Remove"><i class="icon-proIcon-17" data-bind="click: function (data) { $root.removeContentFromBuckets(data); }"></i></a></li>
                                    <li><a class="icon2" href="javascript:;" data-bind="click: function (data) { $root.setForCropping($data) }" title="Crop"><i class="icon-proIcon-16"></i></a></li>
                                    <li><a class="icon1" href="javascript:;"><i class="icon-proIcon-15 commentBox" data-bind="click: function (data) { $parent.toggleCommentBox(data); }" title="Comments"></i></a></li>
                                    <li><a class="icon2" href="javascript:;" data-bind="click: function (data) { $root.setCurrentContent(data, { isContentBucket: true });}" title="View"><i class="icon-proIcon-16 contentBucketIcon"></i></a></li>
                                    <li data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.NLE"><a class="icon2" href="javascript:;" data-bind="attr: {href:url},click: function (data) { $root.downLoadResource(url) }" title="Download" download><i class="icon-proIcon-16 contentBucketIcon downloadResource"></i></a></li>
                                </ul>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    <!-- ko if:$root.appdata.currentUser().userType == $root.e.UserType.Producer || $root.appdata.currentUser().userType == $root.e.UserType.HeadlineProducer  -->
                    <a class="addMore" href="javascript:;" style="display: initial !important" data-bind="click: $root.showContentSelectionArea">+ Add Content</a>
                    <a class="addMore producerUpload" href="javascript:;" data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.Producer,click: $root.uploadFile">+ Upload File</a>
                    <!-- /ko -->
                </div>

                <!-- <i class="templatekeys" data-bind="visible:isTemplateKeyVisible(),click:toggleTemplateKeyPopup"></i>-->
                <!-- ko template: { name: 'usercontrol.keyvalues' } -->
                <!-- /ko -->
                <!-- ko template: { name: 'usercontrol.chatpopup' } -->
                <!-- /ko -->
                <div id="content-viewer-crop">
                    <div id="contentviewer-overlay" class="myNewsPanelHeader view overlay custompop" data-bind="css:$root.isResourceCrop() ?'showForcely' : 'hideForcely'"></div>
                    <div id="content-viewer" class="xPop myNewsPanelHeader view custompop" data-bind="style:{width:$root.canvaswidth+'px !important'},css:$root.isResourceCrop() ?'showForcely disable-text-selection' : 'hideForcely disable-text-selection',navigator" style="top: 58px !important;">
                        <div class="imageSection">
                            <a href="javascript:;" class="prev" style="display: none"></a>
                            <div class="slideImg">
                                <canvas style="margin-left: 0px; float: left; cursor: crosshair; display: initial !important; border: 1px solid white;" id="myCanvas"></canvas>
                            </div>
                            <div class="edtdv" style="width: 242px; float: left; padding-left: 21px;">
                                <div class="conbtrollButtons" style="float: left">
                                    <input data-tooltip="CropRectangle" type="button" id="lasso3" class="cropbutrect" data-bind="click:$root.lasso3" title="CropRectangle">
                                    <input style="display: none !important" data-tooltip="Crop Points" type="button" id="lasso1" class="cropbut" data-bind="click:$root.lasso1" title="Crop Points">
                                    <input style="display: none !important" data-tooltip="CropLine" type="button" id="lasso2" class="cropbutline" data-bind="click:$root.lasso2" title="CropLine">
                                    <input data-tooltip="Refresh Canvas" type="Button" id="reset" class="resetButton" data-bind="click:$root.resetCanvas" title="Refresh Canvas">
                                    <input type="Button" id="submitCoordinates" value="Submit" data-bind="click:$root.submitCoordinate" class="croppedPoints" />
                                </div>
                            </div>
                            <a href="javascript:;" class="next" style="display: none"></a>
                        </div>
                        <div class="close" data-bind="click:$root.hideCropper"></div>
                    </div>
                </div>

                <ul class="videoSource" style="display:none !important;">
                    <li>
                        <a href="javascript:;"><i class="icon-proIcon-24"></i></a>
                        <div class="sourceColum">
                            <h6>Available Sources</h6>
                            <ul>
                                <li><a href="javascript:;"><i class="icon-proIcon-20"></i></a></li>
                                <li><a href="javascript:;"><i class="icon-proIcon-21"></i></a></li>
                                <li><a href="javascript:;"><i class="icon-proIcon-22"></i></a></li>
                            </ul>
                            <p>Unavailable Sources</p>
                            <ul>
                                <li><a href="javascript:;"><i class="icon-proIcon-23"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="javascript:;"><i class="icon-proIcon-18"></i></a></li>
                </ul>

                <div class="commentsCol" data-bind="visible: isResourceCommentBoxVisible">
                    <i class="icon-close closeComment" data-bind="click: toggleCommentBox"></i>
                    <textarea placeholder="Place comments here" data-bind="value: currentResource().comment" maxlength="500"></textarea>
                    <p>
                        <input type="checkbox" data-bind="checked:$root.isImplementToAll,checkedForAll:{callback:$root.isCheckedImplementForAll}" /><label>Implement to all images.</label>
                        <a class="procesBtn" href="javascript:;" data-bind="click:$root.saveCommentsForContentBucket">Save Comments</a>
                    </p>
                </div>
            </div>
            <div>
                <!--<input type="checkbox" style="display:none !important;" data-bind="visible: $root.isAssignToTeamVisible() && !$data.currentTemplate().isAnchorOnlyTemplate(),checked: currentTemplate().isAssignToNLE" />
                <span style="display:none !important;" data-bind="visible: $root.isAssignToTeamVisible() && !$data.currentTemplate().isAnchorOnlyTemplate()">Assign to NLE</span>-->
                <!--<a href="javascript:;" class="showthevid" style="left: 264px; position: absolute;" data-bind="visible: $root.isAssignToTeamVisible() && !isMediaWallVisible(),click: $root.showContentSelectionArea"><i class="icon-plus"></i></a>-->
                <a href="javascript:;" title="NLE Conversation" class="showthevid" style="left: 506px; z-index: 100; margin-top: 5px; position: absolute; height: 0px;" data-bind="visible:!isMediaWallVisible() && $root.appdata.currentUser().userType !== $root.e.UserType.StoryWriter,click: function(data){$root.showChatConversation(true)}">
                    <span class="alert" data-bind="html:$root.sdc.nleMessageCount,visible:$root.appdata.currentUser().userType !== $root.e.UserType.StoryWriter" style="left: 20px; z-index: 100; background: #cc0000; top: -17px;">0</span>
                    <i class="icon-plus chatIcon"></i>
                </a>

            </div>

            <div style="position: absolute; float: right; left: 267px; margin-top: -30px;" data-bind="visible: isTemplateKeyVisible() && !$root.sdc.isMediaWallVisible(),click: toggleTemplateKeyPopup">
                <a class="procesBtn" href="javascript:void(0)">Edit Keys</a>
            </div>

            <div style="position: absolute; float: right; left: 376px; margin-top: -30px;" data-bind="click:$root.toggleMediaWallDesignerVisibility,css:{setMarginCSS:$data.currentTemplate().isAnchorOnlyTemplate()}, visible: (!isMediaWallVisible() && mediaWallExist())">
                <a class="procesBtn" href="javascript:void(0)">Media Wall</a>
            </div>

            <div class="videoPaging" data-bind="visible: $root.isAssignToTeamVisible() && !$root.sdc.isMediaWallVisible()" style="display: none !important">
                <a href="javascript:;" data-bind="click: $root.showContentSelectionArea"><i class="icon-plus"></i></a>
            </div>
        </div>

        <div class="editorRight" data-bind="visible:!isMediaWallVisible() && !$root.isDefaultState()">
            <h5>
                &nbsp;

                <input data-bind=" value:$root.SelectedFaceAction , producerAutoComplete:{selected: $root.currFaceAction}" placeholder="Enter FaceAction" style="color: rgb(180, 180, 180);display:none" class="ui-autocomplete-input notAdd faceactiondropdown" autocomplete="off">
               <!-- <a href="javascript:;" class="btnBlue" data-bind="click: $root.convertToUnicodeText" style="float: left;line-height: 14px; margin: 2px;">Convert InPage Text</a>-->
                <span><i class="icon-proIcon-12"></i><small data-bind="text: currentTemplate().scriptDurationDisplay"></small></span>
            </h5>
            <div class="controlerView" data-bind="css:$root.isEditorDisable() ? 'disabled': ''">
                <input type="radio" data-bind="testingEditor:{}" name="lang" id="UN" class="un">
                <label>Urdu</label>
                <input type="radio" data-bind="testingEditor:{}" name="lang" id="EN" class="en">
                <label>English</label>
            
                 <textarea id="txtEditor1" style="color: #FFF;background: black;height: 100%;overflow-y:scroll" data-bind="css:{disabled:($root.sdc.currentTemplate().storywriterStatusId() ===$root.e.ScreenTemplateStatus.Approved || $root.sdc.currentTemplate().storywriterStatusId() ===$root.e.ScreenTemplateStatus.ApprovalPending) && ($root.appdata.currentUser().userType === $root.e.UserType.StoryWriter)},value:$root.textEditorBuffer"></textarea>
<!--                <textarea id="script-editor" name="textarea" data-bind="textEditor: { language: $root.selectedLanguage, valueField: $root.textEditorBuffer, currentTemplate: currentTemplate, isChangeAllowed: $root.isTextEditorChangeAllowed }"></textarea>-->
            </div>
            <div>
<!--                <input type="checkbox" data-bind="visible: $root.isAssignToTeamVisible() && !$root.sdc.isMediaWallVisible(),checked: currentTemplate().isAssignToStoryWriter" />
                <span data-bind="visible: $root.isAssignToTeamVisible() && !$root.sdc.isMediaWallVisible()">Assign to Writer</span>-->
                <span class="alert" data-bind="html:$root.sdc.storyWriterMessageCount,visible:$root.appdata.currentUser().userType !== $root.e.UserType.NLE" style="top: 380px; margin-top: 5px; left: 281px; z-index: 100; background: #cc0000;">0</span>
                <a href="javascript:;" title="StoryWriter Conversation" class="showthevid" style="left: 260px; margin-top: 5px; position: absolute; height: 0px;" data-bind="visible:$root.appdata.currentUser().userType !== $root.e.UserType.NLE,click: function(data){$root.showChatConversation(false)}"><i class="icon-plus chatIcon"></i></a>

                <a href="javascript:;" title="Convert To InPage" class="showthevid" style="left: 187px; margin-top: 5px; position: absolute; height: 0px;" data-bind="click: $root.convertToUnicodeText"><i class="icon-plus inpageIcon"></i></a>
            </div>
        </div>
        <div class="editorRight galleryView" data-bind="visible:isMediaWallVisible() && !$root.isDefaultState()">
            <p>Media Walls <span data-bind="text: mediaWallTemplatePool().length"></span></p>
            <div style="height: 100%;">
                <ul class="scrollBar" data-bind="customScrollBar: true" style="height: 307px">
                    <!-- ko foreach: mediaWallTemplatePool -->
                    <li data-bind="css: { 'active': $root.sdc.mediaWallTemplateIndex() == $index() }, click: function (data) { $root.setCurrentMediaWallForContentSelection(data, $index()); }">
                        <img data-bind="attr: { 'src': thumbImageUrl }" width="110" height="63" />
                        <span style="top: 4px; position: absolute; right: 18px;" data-bind="html:name"></span>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>

        <div class="mediaFiles clearfix" data-bind="visible: isMediaUploaderVisible">
            <ul data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.NLE && $root.appdata.currentUser().userType != $root.e.UserType.StoryWriter">
                <li><a href="javascript:void(0);" class="donwloads"><i></i>Download Media</a></li>
                <li data-bind="OpenFileUpload: {}"><a href="javascript:void(0);" class="uploads"><i></i>Upload Media</a></li>
                <li class="last"><a href="javascript:void(0);" class="meidaFilesDtls"></a></li>
            </ul>
            <!-- ko if:$root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer  -->
            <!-- ko template: {name:'usercontrol.editor.uploader',data:$root.contentUploader} -->
            <!-- /ko -->
            <!-- /ko -->
            <div class="mediaDtls" data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.NLE" style="display: none !important; background: white; border: none;">
                <div style="display: none !important">
                    <span>Media Files<small data-bind="html: currentTemplate().contentBucket().length"></small></span>
                    <ul class="newsColume">
                        <!-- ko foreach:currentTemplate().contentBucket -->
                        <li>
                            <a href="javascript:;" data-bind="attr: {href: url }" download>
                                <img height="34" width="50" alt="*" data-bind="attr: { src: thumbImageUrl }">
                            </a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>

                <div style="display: none !important">
                    <span>Uploaded Files<small data-bind="html: $root.contentUploader.mappedResources().length"></small></span>
                    <ul class="newsColume">
                        <!-- ko foreach:$root.contentUploader.mappedResources() -->
                        <li>
                            <span data-bind="click:function (data){ $root.removeUploadedFile(data); }" style="position: absolute; float: right; margin-left: 38px; font-size: smaller; font-weight: 800; cursor: pointer">X</span>
                            <a href="javascript:;">
                                <img height="34" width="50" data-bind="attr: { src: $root.contentUploader.mappedResources()[$index()].thumbImageUrl }" alt="*">
                            </a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
                <p style="display: none !important"><a class="procesBtn" href="javascript:void(0)" data-bind="click:$root.saveScreenTemplateDataForNLE">Save &amp; Resources</a></p>
            </div>
            <div class="uploadprogress" data-bind="with: $root.contentUploader">
                <div data-bind="style{display:finished()==false?'none':'block'}">
                    <span>
                        <label data-bind="html:resources().length"></label>
                        Files Uploading (<label data-bind="html:uploadProgress"></label>)
                    </span>
                    <div class="progress">
                        <div class="bar" data-bind="style:{width: uploadProgress}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="visible: isTemplateCommentBoxVisible && !isMediaWallVisible() &&  $root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType != $root.e.UserType.NLE && $root.appdata.currentUser().userType != $root.e.UserType.StoryWriter">
            <div class="AditorCommentArea clearfix">
                <div data-bind="customScrollBar: {},visible:$root.sdc.comments && $root.sdc.comments() && $root.sdc.comments().length>0" class="">
                    <!-- ko  foreach: $root.sdc.comments() -->
                    <p data-bind="css: { producer: $data.userId == 1 }">
                        <span data-bind="text: $data.displayName"></span>
                        <span class="con" data-bind="text: $data.comment"></span>
                        <span class="time" data-bind="text: $data.displayTime"></span>
                    </p>
                    <!-- /ko -->
                </div>
                <textarea placeholder="Comments..." data-bind="value: $root.commentBoxText"></textarea>
            </div>

            <p><a class="procesBtn" href="javascript:void(0)" data-bind="ResetScroll,click: $root.sendComments">Send</a></p>
        </div>
    </div>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="template-upload fade">
            {% if (file.error) { %}
            <span class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</span>
            {% } else if (o.files.valid && !i) { %}
            <div class="uploadprogress">
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100%" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </div>
            {% } else { %}
            {% } %}
            <span>
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </span>
        </div>
        {% } %}
    </script>

    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    </script>
</div>
<p data-bind="visible:!$root.isDefaultState() && $root.appdata.currentUser().userType != $root.e.UserType.Producer && $root.appdata.currentUser().userType != $root.e.UserType.HeadlineProducer"><a class="procesBtn" href="javascript:void(0)" data-bind="    click: $root.saveProductionTeamData">Save &amp; Continue</a></p>
    <p data-bind="visible:($root.appdata.currentUser().userType === $root.e.UserType.NLE || $root.appdata.currentUser().userType === $root.e.UserType.StoryWriter)" class="btnStatuses">
     <a class="procesBtn btnCompleted" href="javascript:;" data-bind="visible: ($root.appdata.currentUser().userType === $root.e.UserType.NLE && $root.sdc.currentTemplate().nleStatusId() === $root.e.ScreenTemplateStatus.InProcess) || ($root.appdata.currentUser().userType === $root.e.UserType.StoryWriter && $root.sdc.currentTemplate().storywriterStatusId() === $root.e.ScreenTemplateStatus.InProcess), click: function () { $root.updateCurrentTemplateStatus($root.e.ScreenTemplateStatus.ApprovalPending) }">Submit Assignment</a>
    </p>