﻿<form class="fileupload" enctype="multipart/form-data">
    <div class="span7">
        <span class="btn btn-success fileinput-button " >
            <i class="icon-plus icon-white"></i>
            <span>upload ...</span>
            <input class="editorUploader" type="file" name="files[]">
        </span>

        <input type="checkbox" class="toggle" style="visibility: hidden">
    </div>
    <!-- The global progress information -->
    <div class="span5 fileupload-progress ">
        <!-- The extended global progress information -->
        <div class="uploadprogress">
            <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
        <div class="progress-extended">&nbsp;</div>
    </div>
    <!-- The loading indicator is shown during file processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <div role="presentation" class="table table-striped">
        <div class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
    </div>
</form>
