﻿<div class="mainTmpl">
    <div class="userIcons">
        <ul data-bind="foreach: selectedItems">
            <li>
                <div class="mainList">
                    <div>
                        <a class="selectedIcon" data-bind="click : $parent.removeUser">
                            <div class="remv">
                                <i class="delt">X</i>
                            </div>
                            <img data-bind="attr : { src : img }" width="42" height="40" alt="-">
                        </a>
                    </div>
                    <label data-bind="html: name"></label>
                </div>
            </li>
        </ul>
        <div class="addNew" data-bind="click : $root.ShowUsers">
            <div>
                <a class="selectedIcon">
                    <img src="/Content/images/home/user-dp.png" width="42" height="40" alt="">
                </a>
                <div>
                    <label>Add Person</label>
                </div>
            </div>
        </div>
    </div>
</div>
