﻿<div class="video-container" style="background: black;">
    <!--    <video class="video" style="height: 100%; width: 100%" data-bind="videoEditor:{videoControlElement:videoControlElement,markVideoProcessed: $root.model.markMediaProcessed}, attr:{src: src}">
        <source type="video/mp4">
        <p>
            Your browser doesn't support HTML5 videso...
        </p>
    </video>-->
    <div id="mp4PlayArea">
        <video id="videoplayer" controls data-bind="attr:{src: src}" class="channelvideoeditor">
            <source type="video/ogg" />
        </video>
        <a id="resetValues" style="position: absolute;cursor:pointer; width: 39px;height: 16px;background: rgb(219, 228, 219);top: 435px;float: right;left: 860px;color: black; margin-top: 33px;" data-bind="click:$root.ResetMarking"> Reset</a>
        <div style="font-size: 11px;color: lightgrey;">
            Use arrow keys to seek ,    <br />
            Press space to play/pause ,<br />
            Press Enter to mark
        </div>
    </div>
    
    <div id="tsPlayArea">
        <!--<embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" target="123" />-->
        <!--<embed id="embededPlayer"  type="video/mpeg" name="plugin" height="100%" width="100%">-->
        <!--<embed type="video/mpeg" src="http://10.3.18.15:85/Recording/MUX2/1002/ARYNewsAsia/1_$2016-11-10%2000-00-33.ts" name="plugin" height="100%" width="100%">-->
        
        
        <iframe name="ifrm" id="ifrm" src="#" frameborder="0" width="800" height="500">
            Your browser doesn't support iframes.
        </iframe>
        <input type="button" value="Reload" data-bind="click: $root.refreshVid" />
        <div style="font-size: 11px;color: lightgrey;">
            Use arrow keys to seek ,    <br />
            Press space to play/pause ,<br />
            Press Enter to mark
        </div>
    </div>






    </div>

<div style="display: inline;">
    <div id="pointerArea" data-bind="css: $root.browserCss" >
    </div>
    <!--style="width: 67%; margin-left: 12%; height: 3px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;"-->
    <!--w83 ml 4-->
</div>
