﻿<div class="cancellationBox">
    <h3><i></i><span>Comments/Audio</span></h3>
        <div class="tabs">
    
                  <textarea placeholder="Enter Comments" data-bind="value: Comments"></textarea>
                  
                  <button type="button" id="recorderbutton" class="recorder" data-bind="click: initialize"></button>
                  <span class="recordTime" data-bind="text: recordTime()"></span>
   
                    <ul class="audioList" id="allrecordings" data-bind="foreach: audioobject" >
                      <li>
                          <a class="remove" href="javascript:;" data-bind="click: $parent.removeaudio">x</a>
                          <a data-bind="attr: {'href': Url, 'download': 'audiocomment.wav'}">audiocomment.wav</a>
                      </li>
                    </ul>
           

                 <input type="button" value="Submit" data-bind="click: submitaudioComments">
                 <!-- ko with: audiouploader()  -->
            <!--<span data-bind="text: GuidSet">Guid:</span>-->
            
                  <form id="form" class="commentupload" enctype="multipart/form-data" data-bind="videoUploader:{url:postUrl,options:options,src:src,start:started,done:finished,resources: resources,progress:uploadProgress,tokenReceived:tokenReceived,filesUploadedCount:filesUploadedCount,uploadedResources:uploadedResources}">                
                  <input class="editorUploader hideForcely" type="file" name="files[] " multiple>
                  </form>
                <!-- /ko -->

        </div>
    <span class="message">Your browser will ask for permission , click 'allow' to use microphone</span>
</div>




<!-- The template to display files available for upload -->
        <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload fade">
        {% if (file.error) { %}
            <span class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</span>
        {% } else if (o.files.valid && !i) { %}
            <div class="uploadprogress">
          <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100%" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </div>
        {% } else { %}
        {% } %}
         <span>{% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
          {% } %}</span>
          </div>
        {% } %}
        </script>
        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
    
        </script>