﻿<ul class="navigationNews FileExplorerFilters" data-bind="visible: isSourceFiltersVisible">
    <li data-bind="css: { 'newsActive': currentFilter() === -1  || ($root.appdata && $root.appdata.isAllNewsFilterSelected)}">
        <a href="javascript:;" data-bind="click: function (data) { currentFilter(-1); $root.resetFilters(); }">
            <i class="icon-news"></i>
            <span>All News<small data-bind="text: $root.newsCount" class="newsFiltersCount" style="display:none !important"></small></span>
        </a>
    </li>
    <!-- ko foreach: { data: newsSourceFilters, afterRender: toggleIsPopulated } -->
    <li class="mainFilter" data-bind="css: { 'newsActive': $parent.currentFilter() === $data.id },attr:{title:name}, visible: isParentVisible()">
        <a href="javascript:;" data-bind="attr:{'Id': 'FID'+ $data.id} , click: function (data) { $parent.currentFilter($data.id); $root.toggleFilter(data); }">
            <i data-bind="css: $data.cssClass">
                <span style="position:absolute;top:-24px;left:18px;color:#5a2727;" data-bind="text:selectedChildCount(),visible:selectedChildCount() > 0"></span>

            </i>
            <!-- ko  if: $data.id != 7703 && $data.id != 1402 -->
            <span class="hideFilterText"><span data-bind="text: name"></span><small data-bind="text: newsCount" class="newsFiltersCount"></small></span>
            <!-- /ko -->
            <!-- ko  if: $data.id == 7703 || $data.id == 1402 -->
            <span>Events</span>
            <!-- /ko -->
        </a>
        
        <!-- ko  if: $data.id != 7703 && $data.id != 1402 -->
        <ul style="height:350px; overflow-y:scroll;">
            <!-- ko foreach:  $data.children -->
            <li data-bind="visible: newsCount() > 0, attr:{'Id': 'FID'+ $data.id} , activate: 'active-filter', click: function (data) { $root.toggleFilter(data) }"><a href="javascript:;"><small data-bind="text: name"></small><span data-bind="text: newsCount" class="newsFiltersCount" style="display:none !important"></span></a></li>
            <!-- /ko -->
        </ul>
        <!-- /ko -->
    </li>
    <!-- /ko -->
</ul>

<ul class="navigationNews" data-bind="visible: showExtraFilters">
    <li class="separator-left middle">
        <a href="javascript:;" title=""><i class="icon-newsPhone"><small class="alert" data-bind="html: eventsCount"></small></i><span class="hideFilterText">Events<small>32</small></span></a>
        <ul class="eventfilter" data-bind="customScrollBar: true">
            <!-- ko foreach:  events -->
            <li data-bind="css: { 'active-filter': isSelected }, click: function (data) { $root.searchEventNews($data) }"><a href="javascript:;" title=""><small data-bind="html: name"></small><span><i data-bind="html: remainingTimeDisplay"></i></span></a></li>
            <!-- /ko -->
        </ul>
    </li>
    <li class="seprate showpics">
        <a href="javascript:;" title=""><i class="icon-newsQues"><small class="alert" data-bind="html: newsAlertsCount"></small></i><span class="hideFilterText">Events<small>32</small></span></a>
        <ul data-bind="customScrollBar: true">
            <!-- ko foreach:  newsAlerts -->
            <li>
                <a href="javascript:;" title="" data-bind="click: function (data) { $root.setCurrenBreakingNews($data) }">
                    <img data-bind="attr: { 'src': thumbUrl }" width="72" height="60" alt="">
                    <small data-bind="html: title"></small><span>View Details</span>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </li>
    <li class="dropDown ">
        <a href="javascript:;" title=""><i class="icon-newsSetting"></i><span class="hideFilterText">Content Filter</span></a>
        <ul class="newsSetting">
            <li>
                <div class="content-setting">
                    <div id="Div1" style="display: block !important;">
                        <div id="Div2" class="contentNew" style="display: block !important;">
                            <ul style="display: block !important; color: #fff;">
                                <li>
                                    <small>Image</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label id="Label2" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(758, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <small>Video</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label id="Label1" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(759, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div id="newsTabss" style="display: block !important;">
                        <div id="Div4" class="contentNew" style="display: block !important;">
                            <ul style="display: block !important; color: #fff;">
                                <li>
                                    <small>Television News</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label id="Label3" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(760, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <small>NewsPaper News</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label id="Label4" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(761, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <small>Ticker News</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label id="Label5" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(762, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <small>News Package</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox">
                                        <label id="Label6" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(8, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="newsTabs" style="display: block !important;">
                        <div id="all" class="contentNew" style="display: block !important;">
                            <ul style="display: block !important;">
                                <li>
                                    <i class="icon-verified"></i><small>Verified News</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label id="verified-filter" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(79, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-recommend"></i><small>Recommended</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                                        <label id="recommended-filter" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(449, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-rated"></i><small>Top Rated </small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                                        <label id="top-rated-filter" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(450, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-executed"></i><small>Top Executed </small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                                        <label id="top-executed-filter" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(451, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-recent"></i><small>Most Recent</small>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                                        <label id="most-recent-filter" class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>

<ul class="navigationNews">
    <li class="sepret" data-bind="css: { 'newsActive': currentFilter() === 'media' }, visible: isMediaSectionVisible" title="Media">
        <a href="javascript:;" id="mediaFilter" data-bind="click: function () { currentFilter('media') }"><i class="icon-videoWacth"></i><span>Media<small data-bind="text: currentBunch().totalContentCount"></small></span></a>
    </li>
    <li data-bind="css: { 'newsActive': currentFilter() === 'guest' }, visible: isGuestSectionVisible" title="Guests">
        <a href="javascript:;" data-bind="click: function () { currentFilter('guest') }"><i class="icon-manStore"></i><span>Guests<small data-bind="text: $root.totalGuestCount"></small></span></a>
    </li>
</ul>
