﻿<div class="cancellationBox">
    <h3><i></i><span>Comments/Audio</span></h3>
    <div class="tabs">
        <div style="height: 45px" data-bind="customScrollBar:{},adjustHieght:true">
            <p>
                This news is not up to date, I’ve mentioned changes in audio clip, 
                make changes accordingly and resend the News.
                <br>
                <br>
                This news is not up to date, I’ve mentioned changes in audio clip, 
                make changes accordingly and resend the News.
            </p>
        </div>
        <audio style="margin-left: 22px;" controls="controls" src="http://mediaserver/api/Resource/getresource/a13830ea-ea08-4048-9104-b875c25a675e">
            <source type="audio/mpeg" />
            Your browser does not support the audio tag.
        </audio>
        <ul class="audioList">
			<li class="active"><span>mov187.mp3</span><a class="remove" href="javascript:;">X</a></li>
			<li><span>mov187.mp3</span><a class="remove" href="javascript:;">X</a></li>
        </ul>
    </div>
</div>