﻿<div class="cameraman">
    <div id="ddlUsers" class="options12">
        <div class="head">
            <div>
                <div class="searchIcon"></div>
                <input type="text" id="searchBox" data-bind="event : { keyup : searchUser }, value : searchText , valueUpdate : 'afterkeydown'" placeholder="Search">
            </div>
        </div>
        <div class="usersUL">
            <ul data-bind="customScrollBar: true" style="  height: 228px;width: 309px;position: absolute;">
                  <!-- ko foreach:filteredItems -->
                <li class="mainList" data-bind="css: { active: $parent.currentItem() && $parent.currentItem().name == name }">
                    <div>
                        <div class="proIcons">
                            <a href="javascript:;"><i class="icon-correct" data-bind=" click : $parent.selectUser , css: { active: isSelected }"></i></a>
                            <img data-bind="attr : { src : img }" width="42" height="40" alt="-">
                        </div>
                        <div class="lstDtl">
                            <div class="user_name">
                                <label data-bind="html: name"></label>
                            </div>
                            <span>
                                <label data-bind="html: designation"></label>
                            </span>
                        </div>
                    </div>
                </li>
                 <!-- /ko -->
            </ul>
        </div>
    </div>
</div>
