﻿<div class="video-container">
    <img class="play" style="width:100%" data-bind="attr:{src: backgroundUrl}"/> 
    <audio class="video" style="height: 100%; width: 100%" data-bind="videoEditor:{videoControlElement:videoControlElement,markVideoProcessed: $root.model.markMediaProcessed}, attr:{src:src}">
        <source  type="audio/mpeg">
        <p>
            Your browser doesn't support HTML5 audios...
        </p>
    </audio>
    <div class="video-controls">
        <a class="add" href="javascript:;"></a>
        <a class="accept active" href="javascript:;" data-bind="css: isProcessed() ? 'showForcely' : 'hideForcely'"><i></i></a>
        <button type="button" class="prev" data-bind="click:backward"></button>
        <button type="button" class="play" data-bind="click:play"></button>
        <button type="button" class="next" data-bind="click:forward"></button>
        <button type="button" class="mute" data-bind="click:mute"></button>
        <input type="range"   class="volume-bar" min="0" max="1" step="0.1" value="1" orient="vertical" data-bind="videoEditorVolumeBar:{videoControlElement:videoControlElement}">
        <div class="bar" data-bind="videoEditorBar:{totalSelections:totalSelections,videoControlElement:videoControlElement,videoCurrentTime:videoCurrentTime,videoDuration:videoDuration,factor:factor,startBuffering:startBuffering}">
            <div style="background-color:#AA0114; width:0%; height:100%; position:inherit;" data-bind="buffering:{videoControlElement:videoControlElement,startBuffering:startBuffering}"></div>
            <div class="progressbar" style="width:0"></div>
             <!--ko foreach:totalSelections-->
             <div class='myDivClass' data-bind="style:{width:width + 'px', left: Left +'px'},resizable:{videoControlElement:$parent.videoControlElement,factor:$parent.factor,totalSelections:$parent.totalSelections, item: $data}">
             </div>
             <!--/ko-->
        </div>
        
        <span class="timer"><span data-bind="text:currentTime()"></span> / <span data-bind="text:duration"></span></span>
    </div>
    <div style="font-size:11px">
        Ctrl + Click for selection
    </div>
</div>


 