﻿<div class="view wirteTickers disable-text-selection" data-bind="with:$data" style="display:block !important;  min-height: 200px;">
    <div class="innercont">
        <!--<h2>Tickers <span data-bind="html:$data.tickerLineList().length"></span></h2>-->
        <div class="news-tickr">
            <div class="edtrsec" data-bind="customScrollBar: true" style="max-height:200px !important;height:200px !important;">
                <div class="eachrow writermain" data-bind="tickerReporterWriter:true,resetWriter:{isReset:isReset}">
                    <strong data-bind="ReportertickerEditorSect :{ callback:$data.addOrDeleteFromTickerList}"><i class="icon-tickradd"></i></strong>
                    <input type="text" class="tickerBox" data-bind="updateTickersCount:{currentCount:$data.tickersCount,lastTicker:$data.lastTicker}" maxlength="90" style="border: 1px solid #3079ed;" autofocus />
                </div>
            </div>
        </div>
    </div>
</div>

