﻿<div class="videoUpload">
    <form enctype="multipart/form-data" data-bind="videoUploader:{url:postUrl,options:options,src:src,start:started,done:finished,resources: resources,progress:uploadProgress,tokenReceived:tokenReceived,filesUploadedCount:filesUploadedCount,uploadedResources:uploadedResources}, style:{display:src()==''?'block':'none'}">
        <i></i>
        <div class="span5 fileupload-progress " data-bind="style{display:finished()==false?'none':'block'}">
            <div class="uploadvideoprogress">
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
            <label data-bind="html:uploadProgress"></label>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
        </div>
        <div class="uploadTxt" data-bind="style{display:started()==true?'none':'block'}">
            <h3>Upload your Video Package</h3>
            <p>You must upload a video file to submit Package..</p>
            <!--<input type="button" value="Uplaod">-->
            <span class="btn btn-success fileinput-button">
                <span class="uploadSpan">Uplaod </span>
                <input type="file" name="files[]" multiple>
            </span>
            <input type="checkbox" class="toggle" style="display:none">
        </div>

        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <div role="presentation" class="table table-striped">
            <div class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
        </div>
    </form>
       
    <div class="video" data-bind=" style:{display:src()==''?'none':'block'}">
        <a href="javascript:;" class="close" data-bind="click: $root.model.deletevideofile">
            <div class="tooltip">Delete this video </div>
        </a><a href="javascript:;"></a>
        <video class="videoPlayer" data-bind="attr:{src:src}" controls>
            <source type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
       
</div>
