﻿<div class="GraphCalendar" data-bind="customHover: { selector: '.calenderMenu' }">
    <a href="javascript:;" title=""><i></i></a>
    <div id="date-range-field"><span data-bind="html: range"></span></div>
</div>
<ul class="calenderMenu clearfix">
    <li>
        <div class="calenderLeft">
            <div id="datepicker-calendar" class="clearfix" data-bind="customCalendar: { to: to, from: from, isSetCustom: isSetCustom, clear: clear, mode:mode }"></div>
            <p class="left" data-bind="visible: isSetCustom">Select Custom Date Range</p>
            <p data-bind="visible: isSetCustom">
                <label>From</label>
                <input type="text" id="fromDate" data-bind="datepicker: from, datepickerOptions: { dateFormat: 'dd/mm/yy' } " />
                <label>To</label>
                <input type="text" id="toDate" data-bind="datepicker: to, datepickerOptions: { dateFormat: 'dd/mm/yy' }" />
                <input type="submit" value="Apply" data-bind="click: applyDates">
            </p>
        </div>
        <div class="calenderRight">
            <ul>
                <li data-bind="click: setToday, css: { custom: isSetToday }"><a href="javascript:void(0);">Today</a></li>

                <li data-bind="click: setYesterday, css: { custom: isSetYesterday }"><a href="javascript:void(0);">Yesterday</a></li>

                <li data-bind="click: setLastWeek, css: { custom: isSetLastWeek }, visible: (mode=='range')"><a href="javascript:void(0);">Last Week</a></li>

                <li data-bind="click: setLastMonth, css: { custom: isSetLastMonth }, visible: (mode=='range')"><a href="javascript:void(0);">Last Month</a></li>

                <li data-bind="click: setCustom, css: { custom: isSetCustom }, visible: (mode=='range')"><a href="javascript:void(0);">Custom</a></li>
            </ul>
        </div>
    </li>
</ul>