﻿<div class="rightNewsListing">
    
   
    <!--ko if:  $parent.mediaEditor.totalSelections().length ==0 &&  !$parent.coordinates()  -->
    <p class="empty" data-bind="text:$parent.newslisttemplate">   </p>
    <!--/ko-->


    <ul data-bind="foreach: $data">
        <li>
            <img data-bind='attr:{src:defaultImageUrl}' width="50" height="42" alt="*">
            <h3 data-bind='trimText: {text: title()}'></h3>
            <div class="newsId"><span>News Id</span><span data-bind='lastCharacters:{text: id, length: 5}'></span></div>
            <p class='jqte_editor' data-bind="trimText:{text:description(),length:100}"></p>
            <div class="time" data-bind="if: (typeof totalTimeSpan !== 'undefined')"><i></i><span data-bind='text:totalTimeSpan'></span></div>
            <a href="javascript:;" data-bind="click : $root.setThisCurrent">View Details</a>
        </li>
    </ul>
</div>
