﻿<section data-bind="visible: isVisible() && $root.currentStep() !== 3">
    <section data-bind="visible: !$root.isDefaultState() && $root.currentStep() === 1 && !$root.isSmallTemplateVisible()">
        <h4>Create or Select Flow</h4>
        <nav class="proHead clearfix">
            <ul class="proNav dragable" data-bind="foreach: screenElements">
                <li data-bind="click: function () { $root.pdc.dropScreenTemplate(id); }, attr: { 'data-elementid': id, id: 'screenElement' + id, 'data-dragicon': iconUrl, title: name }, screenElementDrag: { 'isDragging': $root.pdc.isDragging, 'selectedElementId': $root.pdc.selectedElementId }">
                    <a href="javascript:;">
                        <img style="height: 26px;" data-bind="attr: { 'class': cssClass, 'src': iconUrl }" />
                    </a>
                </li>
            </ul>
            <ul class="tabs" data-bind="tabActive: true">
                <li data-bind="click: function () { $root.pdc.activeTab('tab1'); }, ShowCurrentTab: {}">
                    <a href="javascript:;">Suggested  <span data-bind="html: $data.suggestedFlowCount"></span></a>
                </li>
                <!--<li data-bind="click: function () { $root.pdc.activeTab('tab2'); }, ShowCurrentTab: {}">
                      <a href="javascript:;">Other Channels <span data-bind="">4</span></a></li>-->
            </ul>
        </nav>

        <section data-bind="displayTab: $root.pdc.activeTab()">
            <section id="tab1" class="flowChart contentNew" data-bind="tabClose: true">
                <h5 style="display: none">Suggested Flows</h5>
                <i class="close-Icon" style="cursor: pointer; z-index: 100;"></i>
                <section class="productionSec" data-bind="adjustHeight: true, customScrollBar: {}">

                    <!-- ko foreach: suggestedFlows -->
                    <!-- ko if: $index() == 0 -->
                    <div class="chartContent clearfix noBorder">
                        <div class="chartCont ok" style="cursor: pointer" data-bind="closeSuggestedFlow:true,click: function (data) { $parent.useSuggestedFlowInCurrentFlow($data); }">
                            <p data-bind="html: $data.screenTemplateCount"></p>
                        </div>
                        <div class="chartVideo sliderwrap">
                            <h6In data-bind="html:'Regular News Flow'+$index()"></h6In>
                            <ul class="vidslider cycle-slideshow" style="width: 747px !important;" data-bind="foreach: $data.screenTemplates, jqueryCycle: { 'canApplyCycle': $data.canApplyCycle }">
                                <li>
                                    <figure>
                                        <img data-bind="attr: {src: $data.thumbImageUrl}" alt="*" width="108" height="65">
                                    </figure>
                                    <p data-bind="html:name"></p>
                                </li>
                            </ul>
                            <a href="javascript:;" title="Prev" class="control-prev" data-bind="visible: $data.canApplyCycle">Prev</a>
                            <a href="javascript:;" title="Next" style="right: 12px !important;" class="control-next" data-bind="visible: $data.canApplyCycle">Next</a>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: $index() != 0 -->
                    <div class="chartContent clearfix">
                        <div class="chartCont ok" style="cursor: pointer" data-bind="closeSuggestedFlow:true,click: function (data) { $parent.useSuggestedFlowInCurrentFlow($data) }">
                            <p data-bind="html: $data.screenTemplateCount"></p>
                        </div>
                        <!-- CHART CONT END -->
                        <div class="chartVideo sliderwrap">
                            <h6 data-bind="html:'Regular News Flow' + $index()"></h6>
                            <ul class="vidslider cycle-slideshow" style="width: 648px !important;" data-bind="foreach: $data.screenTemplates, jqueryCycle: { 'canApplyCycle': $data.canApplyCycle }">
                                <li>
                                    <figure>
                                        <img data-bind="attr:{src:$data.thumbImageUrl}" alt="*" width="108" height="65">
                                    </figure>
                                    <p data-bind="html:name"></p>
                                </li>
                            </ul>
                            <a href="javascript:;" title="Prev" class="control-prev" data-bind="visible: $data.canApplyCycle">Prev</a>
                            <a href="javascript:;" title="Next" style="right: 12px !important;" class="control-next" data-bind="visible: $data.canApplyCycle">Next</a>
                        </div>
                        <!-- CHART VIDEO END -->
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </section>
            </section>

            <section id="tab2" class="flowChart contentNew" data-bind="tabClose: true">
                <h5>9 Flows</h5>
                <i class="close-Icon"></i>
                <section class="productionSec" data-bind="adjustHeight: true, customScrollBar: {}">
                    <div class="chartContent clearfix noBorder">
                        <div class="chartVideo">
                            <h6>FOX NEWS - Your World</h6>
                            <ul>
                                <li>
                                    <figure class="video">
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news2.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news2.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="chartContent clearfix noBorder">
                        <div class="chartVideo">
                            <h6>FOX NEWS - Your World</h6>
                            <ul>
                                <li>
                                    <figure class="video">
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news2.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news2.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="chartContent clearfix noBorder">
                        <div class="chartVideo">
                            <h6>FOX NEWS - Your World</h6>
                            <ul>
                                <li>
                                    <figure class="video">
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news2.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news2.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="/content/images/producer/bbc_news.jpg" alt="*" width="108" height="65">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
        </section>

        <div class="addedVideo dropable">
            <ul id="story-screen-templates" data-bind="sortableScreenTemplateList: { stories: currentStory().screenFlow().screenTemplatesDisplay, callback: $root.arrangeStoryScreenTemplates}, visible: !$root.isDefaultState()">
                <!-- ko foreach: currentStory().screenFlow().screenTemplatesDisplay -->
                <!-- ko if: !$data.isMediaWallTemplate() -->
                <li data-bind="screenElementDrop: { 'dropTemplate': $root.pdc.dropTemplate, 'isElementDropped': $root.pdc.isElementDropped, addClasses: true }, attr: { 'data-templateid': id, 'data-index': $index, index: $index, uid: uid }, temp: true" style="cursor: pointer">
                    <span class="recyclebin" data-bind="click: $root.removeScreenTemplate, attr: { id: $index }"></span>
                    <span class="count" data-bind="visible: relatedTemplatesCount() > 0, text: relatedTemplatesCount, elementPosition: { top: $root.pdc.templateTop, left: $root.pdc.templateLeft, callback: $root.toggleRelatedTemplates }"></span>
                    <figure data-bind="click: function (data) { $root.onTemplatethumbClick($index()) }">
                        <img width="108" height="65" data-bind="attr: { 'src': thumbImageUrl }" />
                    </figure>
                    <p data-bind="trimText: { text: name, length: 10 }"></p>
                </li>
                <!-- /ko -->
                <!-- /ko -->
                <li class="blank first" data-bind="css: { 'off': !isDragging() }, screenElementDrop: { 'dropTemplate': $root.pdc.dropTemplate, 'isElementDropped': $root.pdc.isElementDropped }"></li>
            </ul>

            <div class="reldTemplate" data-bind="togglePopup: $root.pdc.showRelatedTemplate, style: { top: $root.pdc.templateTopInPixels, left: $root.pdc.templateLeftInPixels }">
                <h3>Related Template <span data-bind="text: $root.pdc.currentTemplate().relatedTemplatesCount"></span>
                    <a class="close" href="javascript:;" data-bind="click: function () { $root.toggleRelatedTemplates() }"></a>
                </h3>
                <div class="inner">
                    <p>You can use Template from here.</p>
                    <ul data-bind="foreach: $root.pdc.currentTemplate().relatedTemplates">
                        <li data-bind="click: function (data) { $root.toggleSelectedTemplate(data) }">
                            <span data-bind="css: { 'checked': isSelected }"><i></i></span>
                            <img data-bind="attr: { 'src': thumbImageUrl }" />
                        </li>
                    </ul>
                    <a class="procesBtn" href="javascript:;" data-bind="click: $root.saveRelatedTemplate">Save</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-bind="visible: $root.currentStep() === 2">
        <section class="clearfix">
            <!-- ko template: {name: $root.templates.screenTemplateDesigner, data: $root.sdc} -->
            <!-- /ko -->
        </section>
    </section>
    <p data-bind="visible:!$root.isDefaultState()">
        <a class="procesBtn switchStep" href="javascript:;" data-bind="visible:!$root.sdc.isMediaWallVisible() ,click: function () { $root.changeStep(true) }">Save &amp; Continue</a>
    </p>
    <p data-bind="visible:!$root.isDefaultState()">
        <a class="procesBtn" href="javascript:;" data-bind="visible: ($root.currentStep() > 1 && !$root.sdc.isMediaWallVisible() && !$root.isSmallTemplateVisible()), click: function () { $root.changeStep(false) }">Back</a>
    </p>
    <p data-bind="visible:!$root.isDefaultState()" class="btnStatuses">
        <a class="procesBtn btnProcessing" href="javascript:;" data-bind="visible:$root.currentStep() > 1, click: function () { $root.updateCurrentTemplateStatus($root.e.ScreenTemplateStatus.Approved) }">Approved</a>
    </p>
</section>
