﻿<div data-bind="dropdown, attr:{'class': classes}">
    <div class="head">
        <i></i>
        <span>
            <!-- ko foreach: selectedItems -->
            <!-- ko if: $index()>=1 -->
            <!-- ko text: ',' -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko text: name -->
            <!-- /ko -->
            <!-- /ko -->
        </span>
        <i class="arrow"></i>
    </div>
    <div class="optionsList control-group">
        <ul data-bind="foreach: list">
            <li data-bind="itemSelector:{ isSelected: isSelected , item: $data, selectedItems:$parent.selectedItems}, css:{active: isSelected}">
                <input type="checkbox" />
                <label data-bind="html: name"></label>
            </li>
        </ul>
    </div>
</div>
