﻿<div class="menuBar" data-bind="visible:$root.appdata.currentUser().userType !== $root.e.UserType.ControllerInput && $root.appdata.currentUser().userType !== $root.e.UserType.TickerProducer && $root.appdata.currentUser().userType !== $root.e.UserType.Producer && $root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType !== $root.e.UserType.FReporter && $root.appdata.currentUser().userType !== $root.e.UserType.Controlleroutput" >
    <nav class="menuNav">
        <ul>
            <!-- ko if: $root.model && $root.model.menuClick -->
            <li class="menuTv activeNewsTab" data-bind="css:{activeNewsTab:$root.model.isTelevisionView()},click: function(data){ $root.model.menuClick(1)}">
                <i></i><span>TV</span>
            </li>
            <li class="menuNewspaper" data-bind="css:{activeNewsTab:$root.model.isNewsPaperView()},click:function(data){ $root.model.menuClick(2)}">
                <i></i><span>Newspaper</span>
            </li>
            <li class="menuTicker" data-bind="css:{activeNewsTab:$root.model.isTickerView()},click:function(data){ $root.model.menuClick(3)}">
                <i></i><span>Tickers</span>
            </li>
            <!-- /ko -->

            <!-- ko if: $root.reportnewsView && $root.reportnewsView.menuClick -->
          <li class="menuTv activeNewsTab" data-bind="css:{activeNewsTab:$root.reportnewsView.isTelevisionView()},click: function(data){ $root.reportnewsView.menuClick(1)}">
                <i></i><span>TV</span>
            </li>
            <li class="menuNewspaper" data-bind="css:{activeNewsTab:$root.reportnewsView.isNewsPaperView()},click:function(data){ $root.reportnewsView.menuClick(2)},visible:$root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType !== $root.e.UserType.Producer">
                <i></i><span>Newspaper</span>
            </li>
            <li class="menuTicker" data-bind="css:{activeNewsTab:$root.reportnewsView.isTickerView()},click:function(data){ $root.reportnewsView.menuClick(3)},visible:$root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer && $root.appdata.currentUser().userType !== $root.e.UserType.Producer">
                <i></i><span>Tickers</span>
            </li>
            <!-- /ko -->
        </ul>
    </nav>
</div>
