﻿<div id="content-viewer-templatekey">
    <div id="contentviewerkey-overlay" class="myNewsPanelHeader view overlay custompop" data-bind="css: isTemplateKeyPopupVisible() ?'showForcely' : 'hideForcely'"></div>
    <div id="content-viewerkey" class="xPop myNewsPanelHeader view custompop" data-bind="css:isTemplateKeyPopupVisible() ?'showForcely disable-text-selection' : 'hideForcely disable-text-selection',navigator" style="top: 58px !important;">
        <div class="imageSection" style="width: 733px; height: 378px; left: 358px; top: 50px; background: #e2e2e2 !important; border: 2px solid silver;">
            <a href="javascript:;" class="prev" style="display: none"></a>
            <div class="slideImg" style="width: 733px !important; border: 2px solid silver; height: 374px !important;">
                <table style="width: 595px !important; margin-left: 70px; border: 2px solid white; margin-top: 22px; background-color: transparent !important; position: absolute">
                    <thead style="background-color: rgb(203, 208, 210);">
                        <tr style="text-align: center; color: rgb(0, 0, 0); border: 2px solid white; font-size: 13px; font-family: sans-serif; background-color: darksalmon; background-color: transparent !important;">
                            <th style="border: 2px solid white; background-color: transparent !important; font-size: 17px; font-family: sans-serif;">Name</th>
                            <th style="border: 2px solid white; background-color: transparent !important; font-size: 17px; font-family: sans-serif;">Value</th>
                            <th style="border: 2px solid white; background-color: transparent !important; font-size: 17px; font-family: sans-serif;">Language</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: currentTemplate().templateKeys">
                        <tr style="border: 2px solid white; background-color: transparent !important;">
                            <td style="border: 2px solid white; background-color: transparent !important;">
                                <label style="color: black; font-size: initial;" data-bind="text:$data.keyName"></label>
                            </td>
                            <td style="border: 2px solid white; background-color: white !important; border-top: 3px solid rgb(211, 207, 207);">
                                <input class="templatekeyInput" data-bind="value:$data.keyValue" style="height: 20px !important; background-color: transparent !important;" type="text" />
                            </td>
                            <td style="padding-bottom: 10px; padding-top: 10px;">
                                <span style="color: black;">Urdu</span>
                                <input type="radio" data-bind="languageChangeProducer:{'languageCode':languageCode},attr:{name:'rad'+$index(),id:'RadioUr'+$index()}" data-lang="ur">
                                <span style="padding-left: 15px; color: black;">English</span>
                                <input type="radio" data-bind="languageChangeProducer:{'languageCode':languageCode},attr:{name:'rad'+$index(),id:'RadioEn'+$index()}" data-lang="en">
                            </td>
                        </tr>
                    </tbody>
                    <a class="procesBtn" style="top: 324px; right: 10px; position: absolute;" href="javascript:void(0)" data-bind="click:toggleTemplateKeyPopup">Submit</a>
                </table>
            </div>
            <a href="javascript:;" class="next" style="display: none"></a>
        </div>
        <div class="close" data-bind="click:toggleTemplateKeyPopup" style="top: 41px !important; right: 167px !important;"></div>
    </div>
</div>
