﻿<ul class="newsCalender">
    <li  data-bind="css:{setRangeWidth:range() != toDateDisplay()}">
        <div class="GraphCalendar" data-bind="customHover: { selector: '.calenderMenu' }">
            <a href="javascript:;"><i class="icon-newsCalender"></i></a>
            <div id="date-range-field" data-bind="css:{setCalendarWidth: range() != toDateDisplay()}">
                <span data-bind="text: range"></span>
            </div>
        </div>
        <ul class="calenderMenu clearfix" data-bind="visible: isCalenderVisible, css: { visibleCalender: isCalenderVisible }">
            <li>
                <div class="calenderLeft">
                    <div id="datepicker-calendar" data-bind="calendarControl: { toBufferVal: toBuffer, fromBufferVal: fromBuffer , isChange : isCalendarChange ,currentOptionVal : currentOption}" class="clearfix"></div>
                    <p class="left">Select Custom Date Range</p>
                    <p>
                        <label>From</label>
                        <input type="text" id="from" data-bind="value: fromDateDisplay()">
                        <label>To</label>
                        <input type="text" id="to" data-bind="value: toDateDisplay()">
                        <input type="submit" value="Apply" data-bind="click: function () { $root.setCalendarDate(); }">
                    </p>
                </div>
                <div class="calenderRight">
                    <ul>
                        <li class="custom" data-bind="click: function () { currentOption('today'); }, toggleState: false"><a href="javascript:;">Today</a></li>
                        <li class="custom" data-bind="click: function () { currentOption('yesterday'); }, toggleState: false"><a href="javascript:;">Yesterday</a></li>
                        <li class="custom" data-bind="click: function () { currentOption('lastweek'); }, toggleState: false"><a href="javascript:;">Last Week</a></li>
                        <li class="lastMonth custom active" data-bind="click: function () { currentOption('lastmonth'); }, toggleState: false"><a href="javascript:;">Last Month</a></li>
                        <!--<li class="custom" data-bind="click: function () { currentOption('custom'); }, toggleState: false"><a href="javascript:;">Custom</a></li>-->
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li data-bind="visible: isNewsCropVisible, click: $root.setFullScreenMode"><a href="javascript:;"><i class="icon-newsCrop"></i></a></li>
</ul>
