﻿<ul class="ratColume slideDown newsStatstemplate" data-bind="css:{'newsStatsCssUrdu':$root.router.currentHash() === $root.config.hashes.production.home && $data.languageCode == 'ur' ,'newsStatsCssEng':$root.router.currentHash() === $root.config.hashes.production.home && $data.languageCode == 'en' }">

    <!-- ko if: verificationStatus() == 79 -->
    <li class="first" data-bind="ShowAudioPlayer, click: function () { $root.displayAudioToolTip($data) }">
        <a title="" href="javascript:;"><i class="icon-arrow"></i></a>
    </li>
    <!-- /ko -->
    <!-- ko if: isRecommended -->
    <li class="second"><a title="" href="javascript:;"><i class="icon-like"></i></a></li>
    <!-- /ko -->
    <!-- ko if: isPackage -->
    <li class="third"><a title="" href="javascript:;"><i class="icon-watch"></i></a></li>
    <!-- /ko -->
    <li class="icon-color"><a data-bind="html: onAirCount"></a>
        <ul class="ratedMenu" data-bind="css:{ratedMenuNull : onAirCount() == '0'}">
            <li>Program</li>
            <!-- ko foreach: onAirDetail -->
            <li style="min-width: 170px;"><a href="javascript:;" data-bind="text:$data.ProgramName" style="padding-right: 13px;"></a><span style="min-width: 0px !important" data-bind="text:$data.TimeStr"></span></li>
            <!-- /ko -->
        </ul>
    </li>
    <li class="icon-outline"><a data-bind="html: addedToRundownCount"></a>
        <ul class="ratedMenu" data-bind="css:{ratedMenuNull : addedToRundownCount()=='0'}">
            <li>Program</li>
            <!-- ko foreach: addedToRundownDetail -->
            <li style="min-width: 170px;"><a href="javascript:;" data-bind="text:$data.ProgramName" style="padding-right: 13px;"></a><span style="min-width: 0px !important" data-bind="text:$data.TimeStr"></span></li>
            <!-- /ko -->
        </ul>
    </li>
    <li class="icon-bg"><a data-bind="html: otherChannelExecutionCount"></a>
        <ul class="ratedMenu grid_230" data-bind="css:{ratedMenuNull : otherChannelExecutionCount()=='0'}">
            <li><span>TV Channel</span> Program</li>
            <!-- ko foreach: otherChannelExecutionDetail -->
            <li style="min-width: 170px;"><a href="javascript:;" data-bind="text:$data.ProgramName" style="padding-right: 13px;"></a><span style="min-width: 0px !important" data-bind="text:$data.TimeStr"></span></li>
            <!-- /ko -->
        </ul>
    </li>
    <!-- ko if: newsTickerCount() > 0 -->
    <li class="icon-color" title="News Ticker Count" style="background: #F08080"><a data-bind="html: $data.newsTickerCount"></a>
     <!-- /ko -->

    <!-- ko if: $data.resourceImageCount() > 0 -->
    <li id="newsImageCount" class="icon-color" title="News Image Count" style="width: auto;padding: 0 4px 0px 4px;"><a data-bind="html: 'I : ' + $data.resourceImageCount()"></a>
     <!-- /ko -->

    <!-- ko if: $data.resourceVideoCount() > 0 -->
    <li id="newsVideoCount" class="icon-color" title="News Video Count" style="width: auto;padding: 0 4px 0px 4px;"><a data-bind="html: 'V : ' + + $data.resourceVideoCount() "></a></li>
    <!-- /ko -->

</ul>
<!-- /ko -->
