﻿<!-- ko if : !$data.isNewsEdit()-->
<div class="options dateTime" data-bind="dateTimePicker : newsDateTime, dropdown">
        <div class="head"><i></i><span class="dates"></span><span class="time"></span><i class="arrow"></i></div>
        <div class="optionsList">
            <div class="datepicker"></div>
            <div class="timepicker">
                <input type="number" min="01" max="12" value="1" class="hour" data-bind="numericBox:{min:01,max:12}" />
                <span>:</span>
                <input type="number" min="00" max="59" value="1" class="min" data-bind="numericBox:{min:00,max:59}" />
                <span>:</span>
                <select class="ampm">
                    <option value="am">AM</option>
                    <option value="pm">PM</option>
                </select>
                <input class="butn" type="button" value="Set" />
            </div>
        </div>
    </div>
 <!-- /ko -->
<!-- ko if : $data.isNewsEdit()-->
<div class="options dateTime" data-bind="dateTimePicker : newsDateTime">
    <div class="head"><i></i><span class="dates"></span><span class="time"></span><i class="arrow"></i></div>
    <div class="optionsList">
        <div class="datepicker"></div>
        <div class="timepicker">
            <input type="number" min="01" max="12" value="1" class="hour" data-bind="numericBox:{min:01,max:12}" />
            <span>:</span>
            <input type="number" min="00" max="59" value="1" class="min" data-bind="numericBox:{min:00,max:59}" />
            <span>:</span>
            <select class="ampm">
                <option value="am">AM</option>
                <option value="pm">PM</option>
            </select>
            <input class="butn" type="button" value="Set" />
        </div>
    </div>
</div>
<!-- /ko -->
