﻿<ul class="navigationNews" data-bind="visible: isSourceFiltersVisible">
    <li data-bind="css: { 'newsActive': currentFilter() === -1 }">
        <a href="javascript:;" data-bind="click: function (data) { currentFilter(-1); $root.resetFilters(); }">
            <i class="icon-news"></i>
            <span>All News<small data-bind="text: $root.newsCount"></small></span>
        </a>
    </li>
    <!-- ko foreach: newsSourceFilters -->
    <li data-bind="css: { 'newsActive': $parent.currentFilter() === $data.id },visible:isParentVisible()">
        <a href="javascript:;" data-bind="click: function (data) { $parent.currentFilter($data.id); $root.toggleFilter(data); }">
            <i data-bind="css: $data.cssClass"></i><span><span data-bind="    text: name"></span><small data-bind="    text: newsCount"></small></span></a>
        <ul>
            <!-- ko foreach:  $data.children -->
            <li data-bind="visible:newsCount() > 0 ,activate: 'active-filter', click: function (data) { $root.toggleFilter(data) }"><a href="javascript:;"><small data-bind="text: name"></small><span data-bind="    text: newsCount"></span></a></li>
            <!-- /ko -->
        </ul>
    </li>
    <!-- /ko -->
</ul>

<ul class="navigationNews" data-bind="visible: showExtraFilters">
    <li class="dropDown ">
        <a href="javascript:;" title=""><i class="icon-newsSetting"></i></a>
        <ul class="newsSetting">
            <li>
                <p>Content Filter <span data-bind="ResetAll,click:$root.resetContentFilter"><a href="javascript:;">Reset</a></span></p>
                <div class="content-setting">
                    <ul class="newsPakages">
                        <li id="allNews" data-bind="toggleState:false" class="active"><a href='#' data-bind="click: function () { settingsActiveTab(-1); $root.toggleFilter(-1, true);}">All</a></li>
                        <li id="news" data-bind="toggleState:false"><a href='#' data-bind="click: function () { settingsActiveTab('all');$root.toggleFilter(79, true); }">News</a></li>
                        <li id="packages" data-bind="toggleState:false"><a href='#' data-bind="click: function () { settingsActiveTab(2); $root.toggleFilter(47, true);}">Packages</a></li>
                    </ul>
                    <div id="newsTabs" style="display: block !important;">
                        <div id="all" class="contentNew" style="display: block !important;">
                            <ul style="display: block !important;">
                                <li>
                                    <i class="icon-verified"></i><small>Verified News</small>
                                    <div class="onoffswitch ">
                                        <input type="checkbox" class="onoffswitch-checkbox" />
                                        <label class="onoffswitch-label" for="myonoffswitch" data-bind="toggleState: true, click: function () { $root.toggleFilter(79, true) }">
                                            <label class="onoffswitch-inner"></label>
                                            <label class="onoffswitch-switch"></label>
                                        </label>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>

<ul class="navigationNews">
    <li class="sepret" data-bind="css: { 'newsActive': currentFilter() === 'media' }, visible: isMediaSectionVisible">
        <a href="javascript:;" data-bind="click: function () { currentFilter('media') }"><i class="icon-videoWacth"></i><span>Media<small data-bind="    text: currentBunch().totalContentCount"></small></span></a>
    </li>
    <li data-bind="css: { 'newsActive': currentFilter() === 'guest' }, visible: isGuestSectionVisible">
        <a href="javascript:;" data-bind="click: function () { currentFilter('guest') }"><i class="icon-manStore"></i><span>Guests<small data-bind="    text: $root.totalGuestCount"></small></span></a>
    </li>
</ul>
