﻿<nav class="newsNav clearfix" style="margin: initial;">
    <ul class="navigationNews">
        <li data-bind="css:$root.currentView() === 'onair' ? 'newsActive' : '',click:function(){$root.switchTab('onair')}"><a data-src=".tickersOnhold" href="javascript:;" title=""><span>On Air<small data-bind="html:$root.currentOnAirTickerCount()"></small></span></a></li>
        <li data-bind="css:$root.currentView() === 'mcrview' ? 'newsActive' : '',click:function(){$root.switchTab('mcrview')}"><a data-src=".tickersOnhold" href="javascript:;" title=""><span>Live View</span></a></li>
    </ul>
<!--   <select data-bind="event:{change:function(){ $root.setTickerTemplateType(event)}}" style="border: 1px solid gray;width: 100px;"><option value="-1">-- Select an operator --</option><option value="brk">Breaking</option><option value="lat">Latest</option><option value="nrm">Normal</option></select>
  <input type="button" data-bind="click:$root.sendCommandToPCR" style="width:100px;height: 40px;top: 55px;" value="Send">-->
</nav>
