﻿<nav class="newsNav">
    <p>Total Stories Remaining <span data-bind="text:$root.pendingStoryCount" ></span></p>
    <!-- ko template: {name: templates.calendarControl, data: $root.calendarControl} -->
    <!-- /ko -->
    <div class="searchBox">
        <div>
           <div class="searchIcon"></div>
           <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
        </div>
    </div>
</nav>



