﻿<div class="rfl slctkeybrd">
    <i class="rfl" data-bind="dropDown:{selector:'.languages'}"></i><span class="rfl" data-bind="text: langCode"></span>
    <div class="languages control-group">
        <h3>Choose Languages</h3>
        <ul>
            <li>
                <input type="radio" name="lang" data-bind="attr:{id:$parent.English,name:$parent.viewModelId},languageChange:{selector:selector, selectedLanguage:langCode,element:englishElement}" data-lang="en" />
                <label data-bind="attr:{for:$parent.English}">English</label>
            </li>
            <li>
                <input type="radio"  data-bind="attr:{id:$parent.Urdu,name:$parent.viewModelId},languageChange:{selector:selector, selectedLanguage:langCode,element:urduElement}" data-lang="ur" />
                <label data-bind="attr:{for:$parent.Urdu}">Urdu</label>
            </li>
        </ul>
    </div>
</div>

