﻿<ul class="more-news" data-bind="visible:$data.tickerLines().length > 0,sortableList: { tickers: $data.tickerLines, callback:$root.updateTickerLineSequence}">
    <!-- ko foreach:$data.tickerLines() -->
    <li data-bind="visible:$data.isShow(), attr: { index: $index, id: id + '_' + $parent.tickerTypeId + '_line'}">
        <div class="newslst clearfix">
            <!-- ko template: {name: 'usercontrol.tickerlineeditor',data:$data} -->
            <!-- /ko -->

            <div class="timenews" style="width: 20%; text-align: left; float: left;">
                <span style="margin-right: 45px; text-align: left;" class="tickerInfo">
                    <small data-bind="html:$data.creationDateDisplay">a few seconds ago</small>
                    <small class="last" data-bind="html:$data.userName">Ticker Producer</small>
                </span>
            </div>
            <div class="timenews" style="width: 64%">
                <strong></strong>
                <p data-bind="trimText:{text: title(), length:120},attr:{title:title()}"></p>

            </div>
        </div>
    </li>
    <!-- /ko -->
</ul>
