﻿<nav class="leftnav">
  <!--  <span class="controller"><a href="javascript:;"><i class="icon-nav"></i></a></span>-->
    <div class="leftnavscroll" data-bind="customScrollBar: { }">
        <ul class="nav-step1" >
            <!-- ko foreach:sourceFilterControl.categoryFilters -->

             <!-- ko if:newsCount() != '0' --> 
            <li data-bind="categoryHover:true,visible:newsCount() > 0 " style="display:initial !important">
                <a href="javascript:;" data-bind="activate:'active-category-filter', attr:{'Id': 'FID'+ $data.id}, click: function (data) { $root.toggleFilter(data) }">
                    <i data-bind="css: cssClass"></i>
                    <small data-bind="text: name"></small>
                    <span data-bind="text: newsCount" class="newsFiltersCount"></span>
                </a>

                <!-- ko if:children().length > 0 --> 
                <ul data-bind="foreach: children">
                    <li>
                        <a href="javascript:;" data-bind="activate:'active-category-filter', attr:{'Id': 'FID'+ $data.id}, click: function (data) { $root.toggleFilter(data) }">
                            <small data-bind="text: $data.name"></small>
                            <span data-bind="text: newsCount" class="newsFiltersCount"></span>
                        </a>
                    </li>
                </ul>
                <!-- /ko -->
            </li>
             <!-- /ko -->

            <!-- /ko -->
        </ul>
    </div>
</nav>
