﻿<div>
   <img src="../Content/images/folder.png" />
    <span data-bind="text:$data.Name"></span>

    
<!--        <!-- ko template: {name:'usercontrol.datetimepicker'} -->
       <!-- /ko -->
                -->
</div>