﻿<!-- ko if: $root.isStatusInfoVisible-->
<!-- ko template: {name: $root.templates.tickerStatusInfo, data : $data } -->
<!-- /ko -->
<!-- /ko -->

<!-- ko if : $root.isEditorSectionVisible() -->
<ul class="tickerEditorSec" data-bind="with:$data">


    <!-- ko if: ($data.breakingStatusId() === $root.e.TickerStatus.Approved) || ($data.breakingStatusId() === $root.e.TickerStatus.Freezed) -->
    <li class="addControl Freezed" title="Freezed">
        <span title="Toggle Freezed" class="checkticker freezedticker" data-bind="click:function(data){$root.toggleFreeze($data,$root.e.TickerType.Breaking.Value)}">
            <i class="icon-newcheck icon-freezedticker" data-bind="css:{ active: $data.breakingStatusId() === $root.e.TickerStatus.Freezed }"></i>
        </span>
    </li>
    <!-- /ko -->

    <li class="editControls">
        <!-- ko if: ($data.breakingStatusId() === $root.e.TickerStatus.OnHold)  && ($data.breakingStatusId() !== $root.e.TickerStatus.Freezed) && $data.breakingStatusId() !== $root.e.TickerStatus.OnAir  -->
        <span title="Mark Ticker Pending" class="playticekr" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.Pending,$root.e.TickerType.Breaking.Value)}"><i class="icon-newplay"></i></span>
        <!-- /ko -->

        <!-- ko if: ($data.breakingStatusId() === $root.e.TickerStatus.Approved) -->
        <span title="Mark Ticker Rejected" class="closeticker" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.Rejected,$root.e.TickerType.Breaking.Value)}"><i class="icon-newclose"></i></span>
        <!-- /ko -->

        <!-- ko if: ($data.breakingStatusId() === $root.e.TickerStatus.OnAir) -->
        <span title="Mark Ticker Rejected" class="closeticker" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.OnAired,$root.e.TickerType.Breaking.Value)}"><i class="icon-newclose"></i></span>
        <!-- /ko -->

    </li>

    <!-- ko if: (($data.breakingStatusId() !== $root.e.TickerStatus.Rejected) && ($data.breakingStatusId() !== $root.e.TickerStatus.OnAir) && ($data.breakingStatusId() !== $root.e.TickerStatus.OnAired)) &&  ($data.breakingStatusId() !== $root.e.TickerStatus.Freezed) -->
    <li class="addControl" title="Add To Rundown" data-bind="click:function(data){$root.submit('append',$data, $root.e.TickerType.Breaking.Value)}">
        <span><i class="icon-newadd icon-addtorundown"></i></span>
    </li>
    <!-- /ko -->

    <li class="addControl" title="Edit Ticker Line" data-bind="click: $root.editTicker,visible: $data.breakingStatusId() !== $root.e.TickerStatus.OnAir && $data.breakingStatusId() !== $root.e.TickerStatus.OnAired  && $data.breakingStatusId() !== $root.e.TickerStatus.Freezed">
        <span title="Edit Ticker" class="editLine"><i class="icon-newedit"></i></span>
    </li>
    <li class="editControls" id="approvedBtn" data-bind="visible:($data.breakingStatusId() !== $root.e.TickerStatus.Approved && $data.breakingStatusId() !== $root.e.TickerStatus.Freezed && ($data.breakingStatusId() !== $root.e.TickerStatus.OnAir) && ($data.breakingStatusId() !== $root.e.TickerStatus.Rejected))">
        <span title="Mark ticker approved" class="checkticker" data-bind="tickerEditorControls:{selectedData:$data,tickerMode:'check',callBack:{updateTickerStatus:$root.updateTickerStatus},type:$root.e.TickerType.Breaking.Value}"><i class="icon-newcheck"></i></span>
    </li>
  
 <!--   <li  data-bind="visible: $data.breakingStatusId() !== $root.e.TickerStatus.OnAir && $data.breakingStatusId() !== $root.e.TickerStatus.OnAired  && $data.breakingStatusId() !== $root.e.TickerStatus.Freezed">
        <span style="background:none;width:50px;height:22px;border:1px solid;">
            <input  required data-bind="value:$data.breakingSequenceId,valueUpdate : 'afterkeydown',event:{'keyup':function(data,event){ $root.checkNumber(data,event,$root.e.TickerType.Breaking.Value) }}" style="background:none;width:50px;height:22px" type="number" min="1" max="1000" /></span>
    </li>-->
</ul>
 <!--<div class="timenews" data-bind="visible:$data.breakingStatusId() == $root.e.TickerStatus.OnAir">
        <strong data-bind="html:$data.breakingSequenceId"></strong>
 </div>-->
<!-- /ko -->
