﻿<!-- ko if: $root.appdata.currentUser().userType ===  $root.e.UserType.HeadlineProducer -->
<div class="ticker-sec" style="min-width: 80px; margin-right: 6px; margin-right: 6px;" data-bind="click:function(){ $root.router.navigateTo($root.hashes.home) }">
    <a>News Portal</a>
</div>

<div class="ticker-sec" style="min-width: 80px;" data-bind="click:function(){ $root.router.navigateTo($root.hashes.headlineUpdates) }">
    <a>Headlines</a>
</div>
<!-- /ko -->

<nav class="newsNav clearfix"  data-bind="css:$root.appdata.currentUser().userType !==  $root.e.UserType.HeadlineProducer ? 'no-margin' : '' " >
     <!-- ko if: $root.appdata.currentUser().userType ===  $root.e.UserType.HeadlineProducer -->
    <ul class="navigationNews noborder" style="margin: 0;cursor:pointer;"">
        <li style="margin: 0 9px; border: none;" class="first last headlinenavli" data-bind="style: {background: currentSelectedBureau() === 0 ? '#E5E7EB' : '' }, click:function(){$root.setCurrentSelectedBureau(0)}"><a href="javascript:;" title="">Team Tickers</a>&nbsp;<label data-bind="visible:$root.appdata.bureauTeamCount() > 0 ,text:$root.appdata.bureauTeamCount(),css:$root.appdata.bureauTeamCount()>0?'unreadCount':''"></label></li>
    </ul>
    <!-- /ko -->

    <ul class="navigationNews noborder" style="margin: 0;cursor:pointer;">
        <li style="margin: 0 9px; border: none;" class="first last headlinenavli" data-bind="style: {background: currentSelectedBureau() === 'AllBureau' ? '#E5E7EB' : '' }, click:function(){$root.setCurrentSelectedBureau('AllBureau')}"><a href="javascript:;" title="">Bureau Tickers</a>&nbsp;<label data-bind="visible:$root.appdata.bureauAllTickerCount() > 0 , text:$root.appdata.bureauAllTickerCount(),css:$root.appdata.bureauAllTickerCount()>0?'unreadCount':''"></label></li>
    </ul>

    <ul class="navigationNews noborder" data-bind="foreach:$root.bureauLocations" style="margin: 0;cursor:pointer;"">
        <li style="border-left: 1px solid #3079ed; padding: 0 9px; margin: 0 9px;" class="first last headlinenavli" data-bind="style: {background: $root.currentSelectedBureau().id === $data.id ? '#E5E7EB' : '' },click:function(data){$root.setCurrentSelectedBureau($data)}"><a href="javascript:;" title="" data-bind="text:name"></a>&nbsp;<label data-bind="visible:$data.tickerUnreadCount() > 0 ,text:$data.tickerUnreadCount(),css:$data.tickerUnreadCount()>0?'unreadCount':''"></label></li>
    </ul>


    <!-- ko template: {name: templates.calendarControl, data: $root.calendarControl} -->
    <!-- /ko -->

</nav>
<style>
     .tickerspage ul.navigationNews.noborder > li:after{border:none;}
  
</style>