﻿<section class="reportedSec">
    <a href="javascript:;" data-bind="click: selectNews"><i class="icon icon-sec" data-bind="    css: { 'active': currentNews().isUsed() }"></i></a>
    <a data-bind="attr: { 'href': hashes.home }"><i class="icon-home" data-bind="    hoverStyle: 'active'"></i></a>

    <nav id="topicselection-filters-view" class="newsNav clearfix" data-bind="filterHover: $root.sourceFilterControl.isPopulated">
        <!-- ko template: {name: templates.sourceFilter} -->
        <!-- /ko -->
    </nav>

    <!-- ko template: {name: templates.relatedNews, data: $data} -->
    <!-- /ko -->

    <!-- ko template: {name: templates.relatedContent, data: $data} -->
    <!-- /ko -->

    <!-- ko template: {name: templates.guestSelection, data: $data} -->
    <!-- /ko -->

</section>
