﻿
<div id="content-viewer-templatekey">    
    <div id="content-viewerkey" class="xPop myNewsPanelHeader view custompop" data-bind="css:$root.sdc.isChatPopUpVisible() ?'showForcely disable-text-selection' : 'hideForcely disable-text-selection',navigator" style="top: 58px !important;">
        <div class="imageSection chatPopUp" data-bind="css:{'chatpopupHight':$root.sdc.comments && $root.sdc.comments() && $root.sdc.comments().length==0}">
            <a href="javascript:;" class="prev" style="display: none"></a>
            <div>
                <div class="AditorCommentArea clearfix">
                    <div data-bind="customScrollBar: {},visible:$root.sdc.comments && $root.sdc.comments() && $root.sdc.comments().length>0" class="">
                        <!-- ko  foreach: $root.sdc.comments() -->
                        <p data-bind="css: { producer: $data.userId == 1 }">
                            <span data-bind="text: $data.displayName"></span>
                            <span class="con" data-bind="text: $data.comment"></span>
                            <span class="time" data-bind="text: $data.displayTime"></span>
                        </p>
                        <!-- /ko -->
                    </div>
                    <textarea  placeholder="Comments..." data-bind="chatBoxProducer:{callback:$root.sendComments},value: $root.commentBoxText,valueUpdate: 'afterkeydown'" class="chatTextArea" maxlength="70" autofocus></textarea>
                </div>

                <p><a class="procesBtn chatPopUpSend" href="javascript:void(0)" data-bind="ResetScroll,click: $root.sendComments">Send</a>
                    <a class="procesBtn chatPopUpSend" href="javascript:void(0)" data-bind="visible:$root.appdata.currentUser().userType !=$root.e.UserType.StoryWriter && $root.appdata.currentUser().userType !=$root.e.UserType.NLE ,click: function () { $root.updateCurrentTemplateStatus($root.e.ScreenTemplateStatus.InProcess) }">Post Revision</a>
                </p>
            </div>
            <a href="javascript:;" class="next" style="display: none"></a>
        </div>
        <div class="close" data-bind="click:$root.hideChatConversation" style="top: 41px !important; right: 167px !important;"></div>
    </div>
</div>
