﻿    <script type="text/html" id="categories_template">
        <div id="Div1" data-bind="css:{'paddingLeft':($data.Folders && $data.Folders.length==0) || !$data.Folders}">
            <span style="top: -3px; position: relative;" data-bind="visible:$data.Folders && $data.Folders.length>0,click:getChildFolders">+</span>
            <img src="../Content/images/folder.png" />
            <span data-bind="text:$data.Name ? $data.Name.length>0 : 'NMS'"></span>
                <div data-bind="foreach:$data.Folders">
                            <!-- ko template: {name:'usercontrol.folderpaths'} -->
                            <!-- /ko -->

                        </div>
        </div>
    </script>