﻿<div class="viewResource  xPop">
        <!--ko if: typeof $root.popuptempPaging !== 'undefined' -->
        <!--ko with:$root.popuptempPaging-->
         <div id="imgsec" class="imageSection" data-bind="with: $root.currentNews">
                <a href="javascript:;" class="prev"></a>
                <!-- ko if: resources().length == 0 -->
                <!-- /ko -->

                <!-- ko if: resources().length>0-->
                <!-- ko foreach: resources-->
                <div class="slideImg" data-bind="attr:{'data-number': $index()+1}, css:{active:$index()==$root.popuptempPaging.currentIndex()}">
                    <!-- ko if: type == $root.e.ContentType.Image -->
                    <img data-bind="attr:{src:url}" height="418px" width="658px" />
                    <!-- /ko -->

                    <!-- ko if: type == $root.e.ContentType.Video -->
                    <video class="videoPlayer" data-bind="attr:{src:url}" style="height: 418px !important; width: 658px !important" controls>
                        <source type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!-- /ko -->
                    <!-- ko if: type == $root.e.ContentType.Audio -->
                    <audio class="videoPlayer" data-bind="attr:{src:url}" style="height: 418px !important; width: 658px !important" controls>
                        <source type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                    <!-- /ko -->

                </div>
                <!-- /ko -->
                <!-- /ko -->
                <a href="javascript:;" class="next"></a>
                <div class="imgDetails">Media Files <span><span class="fileNumber">1</span> of <span class="total" data-bind="html:resources().length"></span></span></div>
            </div>
        <a href="javascript:;" class="next"><i></i><span>Next    </span></a>
        <!--/ko-->
        <!--/ko-->
        
     <div class="latestNews clear" data-bind="with: $root.currentNews" style="display: none;">
                <!-- ko template: {name:'news.item.resources'}  -->
                <!-- /ko -->
            </div>
    </div>