﻿<!-- ko if: $root.isStatusInfoVisible-->
<!-- ko template: {name: $root.templates.tickerStatusInfo, data : $data } -->
<!-- /ko -->
<!-- /ko -->

<!-- ko if : $root.isEditorSectionVisible() -->
<ul class="tickerEditorSec" data-bind="with:$data">

    <!-- ko if: (($data.categoryStatusId() === $root.e.TickerStatus.Approved) || ($data.categoryStatusId() === $root.e.TickerStatus.Freezed)) && $root.isRundownView() -->
    <li class="addControl Freezed" title="Freezed">
        <span title="Toggle Freezed" class="checkticker freezedticker" data-bind="click:function(data){$root.toggleFreeze($data,$root.e.TickerType.Category.Value)}">
            <i class="icon-newcheck icon-freezedticker" data-bind="css:{ active: $data.categoryStatusId() === $root.e.TickerStatus.Freezed }"></i>
        </span>
    </li>
    <!-- /ko -->

    <li class="editControls" data-bind="visible:$data.categoryStatusId() !== $root.e.TickerStatus.Pending">
        <!-- ko if: ($data.categoryStatusId() === $root.e.TickerStatus.OnHold)  && ($data.categoryStatusId() !== $root.e.TickerStatus.Freezed)  -->
        <span title="Mark Ticker Pending" class="playticekr" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.Pending,$root.e.TickerType.Category.Value)}"><i class="icon-newplay"></i></span>
        <!-- /ko -->

        
        <!-- ko if:  !$root.isRundownView()  &&  (($data.categoryStatusId() !== $root.e.TickerStatus.OnHold) &&  ($data.categoryStatusId() !== $root.e.TickerStatus.Rejected) &&  ($data.categoryStatusId() !== $root.e.TickerStatus.OnAired))  && ($data.categoryStatusId() !== $root.e.TickerStatus.Freezed)-->
        <span title="Mark Ticker OnHold" class="pauseticker" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.OnHold,$root.e.TickerType.Category.Value)}"><i class="icon-newpause"></i></span>
        <!-- /ko -->

        
        <!-- ko if: !$root.isRundownView() && (($data.categoryStatusId() !==  $root.e.TickerStatus.Rejected) &&  ($data.categoryStatusId() !==  $root.e.TickerStatus.OnAir) && ($data.categoryStatusId() !==  $root.e.TickerStatus.OnAired)) && ($data.categoryStatusId() !== $root.e.TickerStatus.Freezed) -->
        <span title="Mark Ticker Rejected" class="closeticker" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.Rejected,$root.e.TickerType.Category.Value)}"><i class="icon-newclose"></i></span>
        <!-- /ko -->


        <!-- ko if: $root.isRundownView()  && ($data.categoryStatusId() === $root.e.TickerStatus.OnAir) -->
        <span title="Mark Ticker Rejected" class="closeticker" data-bind="click:function(data){$root.updateTickerStatus($data,$root.e.TickerStatus.OnAired,$root.e.TickerType.Category.Value)}"><i class="icon-newclose"></i></span>
        <!-- /ko -->

    </li>

    <!-- ko if: (($root.appdata.currentViewId() === $root.e.UserType.TickerManager) && ($data.categoryStatusId() !== $root.e.TickerStatus.Rejected) && ($data.categoryStatusId() !== $root.e.TickerStatus.OnAir) && ($data.categoryStatusId() !== $root.e.TickerStatus.OnAired)) &&  ($data.categoryStatusId() !== $root.e.TickerStatus.Freezed) -->
    <li class="addControl" title="Add To Rundown" data-bind="click:function(data){$root.submit('append',$data, $root.e.TickerType.Category.Value)}">
        <span><i class="icon-newadd icon-addtorundown"></i></span>
    </li>
    <!-- /ko -->
    <li class="addControl" title="Edit Ticker Line" data-bind="click: $root.editTicker,visible: $data.categoryStatusId() !== $root.e.TickerStatus.Pending && $data.categoryStatusId() !== $root.e.TickerStatus.OnAir && $data.categoryStatusId() !== $root.e.TickerStatus.OnAired">
        <span title="Edit Ticker" class="editLine"><i class="icon-newedit"></i></span>
    </li>
    <li class="editControls" id="approvedBtn" data-bind="visible:($data.categoryStatusId() !== $root.e.TickerStatus.Pending && $data.categoryStatusId() !== $root.e.TickerStatus.Approved && $data.categoryStatusId() !== $root.e.TickerStatus.Freezed && ($data.categoryStatusId() !== $root.e.TickerStatus.OnAir) && ($data.categoryStatusId() !== $root.e.TickerStatus.Rejected))">
        <span title="Mark ticker approved" class="checkticker" data-bind="tickerEditorControls:{selectedData:$data,tickerMode:'check',callBack:{updateTickerStatus:$root.updateTickerStatus},type:$root.e.TickerType.Category.Value}"><i class="icon-newcheck"></i></span>
    </li>


    <li title="Frequency"  class="othertabs" data-bind="visible:!$root.isRundownView() && ($data.categoryStatusId() !== $root.e.TickerStatus.Pending && $data.categoryStatusId() !== $root.e.TickerStatus.Rejected && $data.categoryStatusId() !== $root.e.TickerStatus.Freezed) ">
        <strong class="high" data-bind="css:$data && $data.frequency && $data.frequency()==3 ? 'active' : ''">high</strong>
        <strong class="medium" data-bind="css: $data && $data.frequency && $data.frequency()==2 ? 'active' : ''">medium</strong>
        <strong class="low" data-bind="css: $data && $data.frequency && $data.frequency()==1 ? 'active' : ''">low</strong>
    </li>

    <li title="Serverity" class="othertabs" data-bind="visible:!$root.isRundownView() && ($data.categoryStatusId() !== $root.e.TickerStatus.Pending && $data.categoryStatusId() !== $root.e.TickerStatus.Rejected && $data.categoryStatusId() !== $root.e.TickerStatus.Freezed)">
        <strong class="high" data-bind="css:$data && $data.severity && $data.severity()==3 ? 'active' : ''">high</strong>
        <strong class="medium" data-bind="css: $data && $data.severity && $data.severity()==2 ? 'active' : ''">medium</strong>
        <strong class="low" data-bind="css: $data && $data.severity && $data.severity()==1 ? 'active' : ''">low</strong>
    </li>
</ul>
<!-- /ko -->
