﻿<header data-bind="with: $data">
    <a href="javascript:;" class="icon-check" data-bind="click: clickVerifier, selectedNews: isVerified"></a>
    <span class="newsId">News Id</span> <span data-bind="lastCharacters: {text: id, length: 5}"></span>
    <div class="PendingCounts">Pending <span class="counts" data-bind="html: $root.pendingNewsCount"></span></div>
</header>
<div class="title" data-bind="with: $data">
    Reported News
    <div class="comments" data-bind="comments">
        <i></i>
        <div class="dropdown">
            <h3>Comments</h3>
            <textarea data-bind="value: newsComments, comments" maxlength="500"></textarea>
            <input type="button" value="Submit" data-bind="click: $root.submitComments" />
        </div>
    </div>
</div>

