﻿<div id="contentviewer-overlay" class="myNewsPanelHeader view overlay custompop" data-bind="css: appdata.istickerPopupVisible() ? 'showForcely' : 'hideForcely'"></div>
<div class="popups" data-="b" data-bind="css:$root.twc.cssClass()">
    <div id="content-viewer" class="xPop myNewsPanelHeader view custompop resize wirteTickers" data-bind="css: appdata.istickerPopupVisible() ? 'showForcely disable-text-selection' : '1hideForcely disable-text-selection', navigator">
        <i class="close" data-bind="click: $root.appdata.toggleTickerPopup"></i>
        <h3>Write Tickers</h3>
        <div class="innercont" data-bind="css:$root.twc.currentTicker().news().title() ? 'innercont' : 'innercont newsdeactive'">

            <!-- ko template: {name: templates.story, data: $root.twc.currentTicker().news()} -->
            <!-- /ko -->

            <div class="news-tickr" data-bind="with: $root.twc.currentTicker()">

              <!--  <div class="prioritysec" data-bind="tickerPrioritySection:true,visible:$root.appdata.currentUser().userType !== $root.e.UserType.TickerWriter">
                    <select class="tickerDropDown" id="ddlcategory" style="display: none; width: 130px;" data-bind="optionsCaption:'Select Category', options:$root.twc.tickerCategories, optionsText:'name',value:$root.twc.currentTickerCategory,optionsValue:'id'"></select>
                </div>-->
                <div class="languageselector" data-bind="css:$root.twc.isManager ? 'manager' : ''">
                    <span style="color: black;">Urdu</span>
                    <input type="radio" data-bind="languageChangeTickerWriter:{'languageCode':$root.tickerLangCode},attr:{name:'rad0',id:'RadioUr0'}" data-lang="ur">
                    <span style="padding-left: 15px; color: black;">English</span>
                    <input type="radio" data-bind="languageChangeTickerWriter:{'languageCode':$root.tickerLangCode},attr:{name:'rad0',id:'RadioEn0'}" data-lang="en">
                </div>
                <h2>Tickers <span data-bind="html:$root.twc.tickerLineList().length"></span></h2>
                <div class="edtrsec" data-bind="customScrollBar: true">
                    <div class="prioritysec" style="height: 32px; float: left; margin: 0;" data-bind="css:$root.twc.isDisabled() ? 'disabled' : '' , visible:$root.appdata.currentUser().userType !== $root.e.UserType.TickerWriter">
                        <span>Severity</span>
                        <ul class="line-severity">
                          <!--  <li data-bind="attr:{severityVal :$root.e.Severity.Low},click: function(){$root.twc.currentTicker().severity($root.e.Severity.Low)}, css: $data.severity() == $root.e.Severity.Low ? 'active' : 'deactive'">Normal</li>-->
                            <li data-bind="attr:{severityVal :$root.e.Severity.Medium},click: function(){$root.twc.currentTicker().severity($root.e.Severity.Medium)}, css: $data.severity() == $root.e.Severity.Medium ? 'active' : 'deactive'">Alert</li>
                            <li data-bind="attr:{severityVal :$root.e.Severity.High},click: function(){$root.twc.currentTicker().severity($root.e.Severity.High)}, css: $data.severity() == $root.e.Severity.High ? 'active' : 'deactive'">Breaking</li>
                        </ul>
                        <!--    <span>Frequency</span>
                    <ul class="line-frequency">severityVal 
                        <li data-bind="attr:{frequencyVal :$root.e.Frequency.Low},click: function(){$data.frequency($root.e.Frequency.Low)}, css: $data.frequency() == $root.e.Frequency.Low ? 'active' : 'deactive'">low</li>
                        <li data-bind="attr:{frequencyVal :$root.e.Frequency.Medium},click: function(){$data.frequency($root.e.Frequency.Medium)}, css: $data.frequency() == $root.e.Frequency.Medium ? 'active' : 'deactive'">medium</li>
                        <li data-bind="attr:{frequencyVal :$root.e.Frequency.High},click: function(){$data.frequency($root.e.Frequency.High)}, css: $data.frequency() == $root.e.Frequency.High ? 'active' : 'deactive'">high</li>
                    </ul>-->
                    </div>
                    <div class="eachrow" data-bind="tickerReporterWriter:true" style="display:none;">
                        <input type="text" placeholder="گروپ  کا  نام" data-bind="value:$root.twc.currentTicker().tickerGroupName,valueUpdate: 'afterkeydown', css:{disable: $root.twc.tickerPopupInputVisible()}" maxlength="90" style="width: 89%;" />
                    </div>
                    <!-- ko foreach:  $root.twc.tickerLineList-->
                    <div class="eachrow" data-bind="tickerReporterWriter:true">

                        <input data-bind="value: title,valueUpdate: 'afterkeydown'" maxlength="90" type="text" style="width: 89%;" autofocus />
                        <!--<strong data-bind="click:  title().trim() ? $root.twc.removeTickerLine : $root.twc.addTickerLine"><i data-bind="css:  title().trim() ? 'icon-tickrsub' : 'icon-tickradd' "></i></strong>    -->
                        <div style="display: inline-block;">
                            <strong data-bind="click: $root.twc.removeTickerLine" style="width: 22px; height: 22px;"><i class="icon-tickrsub"></i></strong>
                            <strong data-bind="click: $root.twc.addTickerLine" style="width: 22px; height: 22px;"><i class="icon-tickradd"></i></strong>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="javascript:;" data-bind="visible:$root.twc.isEdit(), click:$root.twc.editTicker">Submit</a>
            <a href="javascript:;" data-bind="visible:!$root.twc.isEdit(), click:$root.twc.insertTicker">Submit</a>
        </div>
    </div>

</div>
