﻿
<nav class="nleLeftNav leftnav pendingstories-leftnav">
    <ul class="nav-step1">
        
        <li>
            <a href="javascript:;" title="">
                <i class="icon-calender"></i>
                <small>Date</small>

            </a>
            <ul data-bind="customScrollBar:{}">
                <!-- ko  foreach: dateFilters -->
                <li data-bind="click:function(data){ $root.toggleStoryFilter(data) }">
                    <a href="javascript:;" data-bind ="activate:'active'">
                        <small data-bind="text:$data.date"></small>
                        <span data-bind="text:$data.count"></span></a>
                </li>
                <!-- /ko -->
            </ul>
        </li>
        <li>
            <a href="javascript:;" title="">
                <i class="icon-time"></i>
                <small>Time</small>
            </a>
            <ul data-bind="customScrollBar:{}">
                <!-- ko  foreach: timeFilters -->
                <li data-bind="click:function(data){ $root.toggleStoryFilter(data) }">
                    <a href="javascript:;" data-bind ="activate:'active'">
                        <small data-bind="text:$data.time"></small>
                        <span data-bind="text:$data.count"></span>
                    </a>
                </li>
                <!-- /ko -->

            </ul>
        </li>


    </ul>
</nav>
