﻿<div class="videoUpload" height="inherit">
    <!-- ko with: $data -->
    <div class="video">
        <a href="javascript:;" class="close">
        </a><a href="javascript:;"></a>
        <video class="videoPlayer" controls autoplay>
            <source data-bind="attr: { src : $data.url }" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- /ko -->

   
<!-- ko if: typeof $data === 'undefined' -->
    <div class="video">
        <video class="videoPlayer" style="background-color: black;">
            <source type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h2 style="background-color:black; color:white;">There is no video Resource</h2>
        </div>
    <!-- /ko -->
</div>
