﻿<div>

    <!-- ko if: $data.Tagname  -->
    <span style="margin-left: 29px;" data-bind="text: $data.Tagname"></span>
    <!-- /ko -->
    <!-- ko if: $data.ComponentType == 1 -->
    <label style="margin-left: 29px;" data-bind="text: $data.ComponentType"></label>
    <!-- /ko -->
    <!-- ko if: $data.ComponentType == 2 -->
    <input type="text" style="margin-left: 29px;border:1px solid;height:19px;width:200px; " data-bind="text: $data.ComponentType"  />
    <!-- /ko -->
    <!-- ko if: $data.ComponentType == 3 -->
    <input type="checkbox" style="margin-left: 29px;" data-bind="text: $data.ComponentType" />
    <!-- /ko -->
    <span style="margin-left: 29px;" data-bind="text: $data.Label"></span>
    <!-- ko if: $data.Value  -->
    <input type="text" style="margin-left: 29px;border:1px solid; width:200px; height:19px;" data-bind="value: $data.Value" />
    <!-- /ko -->
    <br />


    <!-- ko template: {name: 'usercontrol.XMLParser',foreach: $data.children} -->
    <!-- /ko -->

</div>
