﻿<nav id="shell-top-nav-view" class="singlebar-menu">
    <ul data-bind="with: menuHashes.channelreporterverification">
        <li><a data-bind="css: { 'active': $root.activeHash() == home },       attr: { href: home }">       Home</a></li>
        <li><a data-bind="css: { 'active': $root.activeHash() == pending },    attr: { href: pending }">   Pending</a></li>
        <li><a data-bind="css: { 'active': $root.activeHash() == reports },    attr: { href: reports }">   Reports</a></li>
    </ul>
</nav>