﻿<header id="shell-top" class="header">
    
    <a title="" class="logo"></a>
    <ul class="topnav">
        <li><span class="username" data-bind="text: $root.appdata.currentUser().displayName"></span></li>
        <li>
            <a href="javascript:;" title=""><i class="icon-setting"></i></a>
            <ul>
                <li><a href="javascript:;" title="" style="display:none">Account Settings</a></li>
                <li><a href="javascript:;" title="" style="display:none">Help</a></li>
                <li class="logout" data-bind="click:$root.logOut"><a href="javascript:;" title="">Logout</a></li>

            </ul>
        </li>
        <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
    </ul>

</header>
