<div class="langToggler ur lfl">
    <md-button class="en" aria-label="English Language">
        <md-icon class="x-toggle-eng"></md-icon>
    </md-button>
    <md-button class="ur" aria-label="Urdu Language">
        <md-icon class="x-toggle-urdu"></md-icon>
    </md-button>
    <span>Ctrl + Space</span>
</div>
<ul class="langSwitch tabController">
    <li class="active urduDv" data-target="box-urdu">اردو</li>
    <li data-target="box-english">Eng</li>
</ul>
<div class="box-urdu urduDv">
    <div class="inputRow">
        <input type="text" placeholder="عنوان" value="{{editingInside.urdu.title}}">
    </div>
    <div class="inputRow">
        <textarea rows="2" placeholder="خاص بات">{{editingInside.urdu.oneLiner}}</textarea>
    </div>
    <div class="inputRow">
        <textarea rows="4" placeholder="تفصیل">{{editingInside.urdu.detail}}</textarea>
    </div>
</div>
<div class="box-english" style="display: none">
    <div class="inputRow">
        <input type="text" placeholder="Title" value="{{editingInside.english.title}}">
    </div>
    <div class="inputRow">
        <textarea rows="2" placeholder="Special">{{editingInside.english.oneLiner}}</textarea>
    </div>
    <div class="inputRow">
        <textarea rows="11" placeholder="Description">{{editingInside.english.detail}}</textarea>
    </div>
</div>