﻿<section id="home-view-anchor" class="view" >
     <!-- ko if: typeof mcrUser!== 'undefined'-->
    <header>
      <!-- ko template:{name:'shared.mcrusers.head', data:mcrUser} -->
      <!-- /ko -->

      <!-- ko template:{name:'shared.mcrusers.story.sequence', data:mcrUser} -->
      <!-- /ko -->
     

    </header>
      <!-- ko template:{name:'shared.mcrusers.main.section'} -->
      <!-- /ko -->

      <!-- ko template:{name:'shared.mcrusers.footer',data:mcrUser} -->
      <!-- /ko -->
      <!-- /ko -->
      <input  class="playpause" type="button" value="play/pause"  data-bind="tickeranimation" />
      <input  class="forwardbackword" type="button" value="Up/Down"  data-bind="tickeranimation"  />

      <input  class="slow" type="button" value="slow" data-bind="tickeranimation"/>
      <input  class="fast" type="button" value="fast" data-bind="tickeranimation"/>

</section>