﻿<section id="upload-media-view" class="uploadMedia reportNews view" data-bind="adjustHeight: true, customScrollBar: true">
    <div style="width: 50%; margin-left: 5%">

        <input placeholder="Slug" tabindex='' data-bind="value: slug, valueUpdate: 'afterkeydown'" class="titleStyle textboxCss">

        <select data-bind="options: programs,
                               optionsText: 'name',
                               value: selectedProgram,
                               optionsCaption: 'Select Program' "
            class="titleStyle textboxCss"
            style="padding: 12px 15px 10px; background: #f5f5f5; width: 100% !important;">
        </select>

        <aside class="aside">
            <!-- ko template: {name:'usercontrol.tags',data:tags} -->
            <!-- /ko -->
        </aside>
        <span class="btnUpload" data-bind="click: uploadMedia">
            <span class="uploadSpan">Browse... </span>
        </span>
        <div id="divUploader">
            <!-- ko template: {name:'usercontrol.editor.uploader',data: $root.uploader} -->
            <!-- /ko -->
        </div>

        <!-- ko template: {name:'resource.thumb', data: $root.uploader} -->
        <!-- /ko -->
        <div class="uploadprogress" data-bind="with: $root.uploader">
            <div data-bind="style{display:finished()==false?'none':'block'}">
                <span>
                    <label data-bind="html:resources().length"></label>
                    Files Uploading (<label data-bind="html:uploadProgress"></label>)

                </span>
                <div class="progress">
                    <div class="bar" data-bind="style:{width: uploadProgress}"></div>
                </div>
            </div>
        </div>
        <input type="button" class="btnSubmit" value="Submit" data-bind=" click: submitMedia" />
    </div>
     <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <div class="template-upload fade">
            {% if (file.error) { %}
            <span class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</span>
            {% } else if (o.files.valid && !i) { %}
            <div class="uploadprogress">
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100%" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </div>
            {% } else { %}
            {% } %}
            <span>
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </span>
        </div>
        {% } %}
    </script>

    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    </script>
</section>
