<!--<span class="firstActive"><i class="x-nav-menu"></i></span>-->
<div class="scrollDv" ng-scrollbars ng-if="(stype==1)">
<ul class="firstList">
    <li>
        <i class="icon-politics"></i>
        <label>
            <span>Politics</span>
            <i>12</i>
        </label>
    </li>
    <li><i class="icon-sports"></i>
        <label>
            <span>Sports</span>
            <i>03</i>
        </label>
    </li>
    <li>
        <i class="icon-world"></i>
        <label>
            <span>International</span>
            <i>20</i>
        </label>
    </li>
    <li>
        <i class="icon-biness"></i>
        <label>
            <span>Business</span>
            <i>20</i>
        </label>
    </li>
    <li>
        <i class="icon-entertainment"></i>
        <label>
            <span>Entertainment</span>
            <i>12</i>
        </label>
    </li>

    <li><i class="icon-health"></i>
        <label>
            <span>Health &amp; Medicine</span>
            <i>07</i>
        </label>
    </li>
    <li><i class="icon-technology"></i>
        <label>
            <span>Technology</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon-weather"></i>
        <label>
            <span>Weather</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_court"></i>
        <label>
            <span>Court</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_crime"></i>
        <label>
            <span>Crime</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_food"></i>
        <label>
            <span>Food</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_travel"></i>
        <label>
            <span>Travel</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_religion"></i>
        <label>
            <span>Religion</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_science"></i>
        <label>
            <span>Science</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_edu"></i>
        <label>
            <span>Education</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon_others"></i>
        <label>
            <span>Others</span>
            <i>15</i>
        </label>
    </li>
    <li><i class="icon-pakistan"></i>
        <label>
            <span>National</span>
            <i>15</i>
        </label>
    </li>

    <!--<li><i class="x-filter-menu"></i></li>-->
</ul>
    <div class="details"  ng-scrollbars>
        <ul>
            <li><span>Cricket</span><i>01</i></li>
            <li><span>Hockey</span><i>02</i></li>
            <li><span>Tennis</span></li>
            <li><span>Table Tennis</span></li>
            <li><span>Martial Arts</span></li>
            <li><span>Squash</span></li>
            <li><span>Golf</span></li>
            <li><span>Soccer</span></li>
            <li><span>Motor Sports</span></li>
            <li><span>Action Sports</span></li>
            <li><span>Horse Racing</span></li>
            <li><span>Boxing</span></li>
            <li><span>Cycling</span></li>
            <li><span>Others</span></li>
            <li><span>Cricket</span><i>01</i></li>
            <li><span>Hockey</span><i>02</i></li>
            <li><span>Tennis</span></li>
            <li><span>Table Tennis</span></li>
            <li><span>Martial Arts</span></li>
            <li><span>Squash</span></li>
            <li><span>Golf</span></li>
            <li><span>Soccer</span></li>
            <li><span>Motor Sports</span></li>
            <li><span>Action Sports</span></li>
            <li><span>Horse Racing</span></li>
            <li><span>Boxing</span></li>
            <li><span>Cycling</span></li>
            <li><span>Others</span></li>
        </ul>
    </div>
</div>

<ul ng-if="(stype==2)">
    <li><i class="x-nav-clock"></i></li>
    <li><i class="x-nav-calander"></i></li>
    <li><i class="x-nav-placment"></i></li>
    <li class="active"><i class="x-nav-menu"></i></li>
</ul>