
<ul ng-if="(ttype==1)" class="topMenu">
    <li class="active {{(data.cb6) ? 'enabled' : ''}}"><i class="icon-news"></i>
        <div class="dropBox">
            <h4 ng-click="toggle = !toggle" ng-class="{'active' : toggle}"><span>All Reporter</span>
                <div class="switcher"></div></h4>
            <div class="scrollDv" ng-scrollbars>
                <ul>
                    <li class="active"><span>Karachi</span> <i>06</i></li>
                    <li><span>Lahore</span> <i>04</i></li>
                    <li><span>Islamabad</span> <i>10</i></li>
                    <li><span>Quetta</span> <i>12</i></li>
                    <li><span>Peshawar</span> <i>23</i></li>
                    <li class="active"><span>Others</span> <i>22</i></li>
                    <li><span>Karachi</span> <i>06</i></li>
                    <li><span>Lahore</span> <i>04</i></li>
                    <li><span>Islamabad</span> <i>10</i></li>
                    <li><span>Quetta</span> <i>12</i></li>
                    <li><span>Peshawar</span> <i>23</i></li>
                    <li><span>Others</span> <i>22</i></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="{{(data.cb5) ? 'enabled' : ''}}"><i class="icon-program"></i>
        <div class="dropBox">
            <h4 ng-click="toggle = !toggle" ng-class="{'active' : toggle}"><span>All Reporter</span>
                <div class="switcher"></div></h4>
            <div class="scrollDv" ng-scrollbars>
                <ul>
                    <li class="active"><span>Karachi</span> <i>06</i></li>
                    <li><span>Lahore</span> <i>04</i></li>
                    <li class="active"><span>Islamabad</span> <i>10</i></li>
                </ul>
            </div>
        </div>
    </li>
    <li><i class="icon-newsHome"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="x-filter-others-websites"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="x-filter-worldmap"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="icon-newsTv"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="x-filter-rss"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li class="sep"><i class="x-filter-filter"></i>
        <div class="dropBox">
            <h4><span>Content Filter</span> </h4>
            <md-radio-group ng-model="data.filters">
                <md-radio-button value="priority">Priority</md-radio-button>

                <md-radio-group ng-if="data.filters == 'priority'" ng-model="data.innerFilters">
                    <md-radio-button value="all">All</md-radio-button>
                    <md-radio-button value="b">B</md-radio-button>
                    <md-radio-button value="a">A</md-radio-button>
                    <md-radio-button value="n">N</md-radio-button>
                </md-radio-group>

                <md-radio-button value="time">Time</md-radio-button>
            </md-radio-group>
        </div>
    </li>
    <li class="sep"><i class="x-filter-clear"></i></li>
    <li class="pull-right sep filterSwitch"><i class="x-openfiltermenu"></i></li>
</ul>

<ul ng-if="(ttype==2)" class="topMenu">
    <li class="active"><i class="x-hr"></i>
        <div class="dropBox">
            <h4><span>Last 24 hours</span></h4>
        </div>
    </li>
    <li ><i class="icon-news"></i>
        <div class="dropBox">
            <h4 ng-click="toggle = !toggle" ng-class="{'active' : toggle}"><span>All Reporter</span>
                <div class="switcher"></div></h4>
            <div class="scrollDv" ng-scrollbars>
                <ul>
                    <li class="active"><span>Karachi</span> <i>06</i></li>
                    <li><span>Lahore</span> <i>04</i></li>
                    <li><span>Islamabad</span> <i>10</i></li>
                    <li><span>Quetta</span> <i>12</i></li>
                    <li><span>Peshawar</span> <i>23</i></li>
                    <li class="active"><span>Others</span> <i>22</i></li>
                    <li><span>Karachi</span> <i>06</i></li>
                    <li><span>Lahore</span> <i>04</i></li>
                    <li><span>Islamabad</span> <i>10</i></li>
                    <li><span>Quetta</span> <i>12</i></li>
                    <li><span>Peshawar</span> <i>23</i></li>
                    <li><span>Others</span> <i>22</i></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="{{(data.cb5) ? 'enabled' : ''}}"><i class="icon-program"></i>
        <div class="dropBox">
            <h4 ng-click="toggle = !toggle" ng-class="{'active' : toggle}"><span>All Reporter</span>
                <div class="switcher"></div></h4>
            <div class="scrollDv" ng-scrollbars>
                <ul>
                    <li class="active"><span>Karachi</span> <i>06</i></li>
                    <li><span>Lahore</span> <i>04</i></li>
                    <li class="active"><span>Islamabad</span> <i>10</i></li>
                </ul>
            </div>
        </div>
    </li>
    <li><i class="icon-newsHome"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="x-filter-others-websites"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="x-filter-worldmap"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="icon-newsTv"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li><i class="x-filter-rss"></i>
        <div class="dropBox">
            <h4><span>All Reporter</span> <i>110</i></h4>
        </div>
    </li>
    <li class="sep"><i class="x-filter-filter"></i>
        <div class="dropBox">
            <h4><span>Content Filter</span> </h4>
            <md-radio-group ng-model="data.filters">
                <md-radio-button value="priority">Priority</md-radio-button>

                <md-radio-group ng-if="data.filters == 'priority'" ng-model="data.innerFilters">
                    <md-radio-button value="all">All</md-radio-button>
                    <md-radio-button value="b">B</md-radio-button>
                    <md-radio-button value="a">A</md-radio-button>
                    <md-radio-button value="n">N</md-radio-button>
                </md-radio-group>

                <md-radio-button value="time">Time</md-radio-button>
            </md-radio-group>
        </div>
    </li>
    <li class="sep"><i class="x-filter-clear"></i></li>
    <li class="pull-right sep filterSwitch"><i class="x-openfiltermenu"></i></li>
</ul>