﻿<section id="alert-ticker-view" class="tickerspage main-content view tabSec" data-bind="adjustHeight: true,  customScrollBar: { callback: $root.loadNextPage}">
    <div class="main-navsec clearfix">
       <!-- ko template: {name: 'usercontrol.tickerheaderbar'} -->
        <!-- /ko -->

    </div>
    <div>
        <section class="boxShadow sectionNews tickersApproved inqueue">
            <section class="contentSection" data-bind="visible:$root.currentView() === 'onair'">

                <header class="clearfix disable-text-selection" style="margin-top: 10px; text-align: center; font-weight: bold; font-size: 20px; padding-top: 0">
                    <span style="float: left; overflow: hidden; display: block; width: 38%; font-size: 20px;" data-bind="style: { width: '100%' }">Alert</span>
                </header>
                 <header style="padding-top: 3px ">
                    <div style="float: left; overflow: hidden; display: block;" data-bind="click:function(){$root.updateToMCR()}"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue">Update Sequence</a></div>
                </header>
                <!-- ko if:$root.latestNewsTicker().length > 0 -->
                <section class="tickersRprtd clearfix disable-text-selection ui-sortable" data-bind="foreach:latestNewsTicker">
                    <article class="new-wrap">
                        <div class="newslst clearfix">
                            <!-- ko template: {name: 'usercontrol.tickereditor',data:$data} -->
                            <!-- /ko -->
                            <div class="timenews">
                                <strong data-bind="html:$data.currentTickerLineCount(),tickerDropDown:{dropDownVisible : $data.dropDownVisible}"></strong>
                                <p data-bind="text: tickerGroupName(),attr:{title:tickerGroupName()}"></p>
                                <!-- ko template: {name: $root.templates.tickerInfo,data:$data} -->
                                <!-- /ko -->
                            </div>
                        </div>
                       <!-- ko if:$data.tickerLines -->
                              <!-- ko template: {name: 'usercontrol.nestedtickerlines',data:$data} -->
                              <!-- /ko -->
                        <!-- /ko -->
                    </article>
                </section>
                <!-- /ko -->
            </section>

            <section class="contentSection" data-bind="visible:$root.currentView() === 'mcrview'">
                <header class="clearfix disable-text-selection" style="margin-top: 10px; text-align: center; font-weight: bold; font-size: 20px; padding-top: 9px">
                    <span style="float: left; overflow: hidden; display: block; font-size: 20px;" data-bind="style: { width: '100%' }"> Live Alert </span>
                </header>
                <!-- ko if:$root.mcrLatestTickerList().length > 0 -->
                <section class="tickersRprtd clearfix disable-text-selection ui-sortable" data-bind="foreach:mcrLatestTickerList">
                     <!-- ko template: {name: 'usercontrol.tickerlines',data:$data} -->
                    <!-- /ko -->
                </section>
                 <!-- /ko -->
            </section>
        </section>
    </div>
</section>

