﻿<section id="bureauticker-view" data-mainsection="true" class="tickerspage main-content view tabSec" data-bind="adjustHeight: true,  customScrollBar: { callback: $root.loadNextPage }">
    <div class="main-navsec clearfix">
        <!-- ko template: {name: 'usercontrol.beureautickerheaderbar'} -->
        <!-- /ko -->
    </div>
    <div>
        <section class="boxShadow sectionNews tickersPndng">
            <section class="contentSection">
                <!-- ko foreach: $root.groupedTickers -->
                <header class="clearfix">
                    <h4 data-bind="text:$data.groupName"></h4>
                    <div class="searchBox">
                        <p><span data-bind="html:$data.groupElements.count" style="float: none;"></span>Tickers Reported</p>
                    </div>
                </header>
                <section class="tickersRprtd clearfix">
                    <!-- ko foreach: $data.groupElements -->
                    <article class="new-wrap" data-bind="attr: { index: $index, id: id + '_' +$parent.type }">
                        <!-- ko if:  $data.tickerLines().length > 0  -->
                        <div class="newslst clearfix">
                            <div class="timenews">
                                <a href="javascript:;" title="" data-bind="click: $root.selectTicker,visible:$root.appdata.currentUser().userType === $root.e.UserType.HeadlineProducer">
                                    <i class="icon-correct" data-bind="css: { active: isUsed}"></i>
                                </a>
                                <strong data-bind="html:$data.tickerLines().length,tickerDropDown:true"></strong>
                                <p style="cursor: pointer;" data-bind="click:function(){$root.editTicker($data,true)}, trimText: { text:  $data.tickerLines()[0].title(), length: 50 },attr:{title: $data.tickerLines()[0].title()}"></p>
                                <span style="margin-right: 45px;" class="tickerInfo">
                                    <small><small>ticker ID</small><small data-bind="html:$data.displayId" class="tickerIdcss"></small></small>
                                    <small data-bind="html:$data.categoryName"></small>
                                    <small data-bind="html:$data.creationDateDisplay"></small>
                                    <small class="last" data-bind="html:$data.userName"></small>
                                </span>
                                <input maxlength="100" required type="text" class="tickertext" autofocus style="display: none" data-bind="value:$root.textBuffer(),attr:{id:'tickerInput'+id,name:tickerLines()[0].id}" />
                            </div>
                        </div>
                        <!-- /ko -->
                        <ul class="more-news">
                            <!-- ko foreach: $data.tickerLines() -->

                            <!-- ko if: $index() > 0  -->
                            <li>
                                <div class="newslst clearfix" data-bind="css: { englishDirection: $data.languageCode() == 'en' }">
                                    <ul data-bind="visible:($data.categoryStatusId() !== $root.e.TickerStatus.Rejected)" style="display: none !important;">

                                        <li class="editControls updatelineli" style="float: left; width: 30px; display: none !important;">
                                            <span title="Edit Ticker" class="editLine" style="display: none !important;"><i class="icon-newedit"></i></span>
                                            <label title="Save or update" class="checkticker" style="display: none !important;"><i class="icon-newcheck"></i></label>
                                        </li>
                                    </ul>
                                    <div class="timenews">
                                        <strong>-</strong>
                                        <p data-bind="trimText:{text: title(), length:120},attr:{title:title()}"></p>
                                        <input maxlength="100" required type="text" class="tickertext" autofocus style="display: none" data-bind="value: title" />
                                    </div>
                                </div>
                            </li>
                            <!-- /ko -->

                            <!-- /ko -->
                        </ul>
                    </article>
                    <!-- /ko -->
                </section>

                <!-- /ko -->
            </section>
        </section>
    </div>
</section>
