﻿<section id="category-ticker-view" class="tickerspage main-content view tabSec" data-bind="adjustHeight: true,  customScrollBar: { callback: $root.loadNextPage}">
    <div class="main-navsec clearfix">
        <!-- ko template: {name: 'usercontrol.tickerheaderbar'} -->
        <!-- /ko -->
    </div>
    <div>
        <section class="boxShadow sectionNews tickersApproved inqueue">
            <section class="contentSection" data-bind="visible:$root.currentView() === 'onair'">

                <header class="clearfix disable-text-selection" style="margin-top: 10px; text-align: center; font-weight: bold; font-size: 20px; padding-top: 9px">
                   <div style="float: left; overflow: hidden; display: block; width: 12%;" data-bind="click:function(){$root.openCreateSegment($root.e.TickerType.Breaking.Value)}"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue">Create Segment </a></div>
                   <div style="float: left; overflow: hidden; display: block; width: 12%;" data-bind="click:function(){$root.updateToMCR()}"><a style="margin-top: 0px;" href="javascript:;" title="" class="btnBlue">Update Sequence</a></div>
                   <span style="float: left; overflow: hidden; display: block;font-size: 20px;" data-bind="style: { width: '60%' }">Category </span>
                </header>
                <!-- ko if:$root.categoryNewsTicker().length > 0 -->
                <section class="tickersRprtd clearfix disable-text-selection ui-sortable" data-bind="foreach:categoryNewsTicker,sortableList: { tickers: categoryNewsTicker, callback: updateTickerSequence}">
                    <article class="new-wrap"  data-bind="attr: { index: $index, id: id + '_' + $root.e.TickerType.Category.Value }">
                        <div class="newslst clearfix">
                            <!-- ko template: {name: 'usercontrol.tickereditor',data:$data} -->
                            <!-- /ko -->
                            <div class="timenews">
                                <strong data-bind="html:$data.currentTickerLineCount(),tickerDropDown:{dropDownVisible : $data.dropDownVisible}"></strong>
                                <p data-bind="text: tickerGroupName(),attr:{title:tickerGroupName()}"></p>
                                <!-- ko template: {name: $root.templates.tickerInfo,data:$data} -->
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- ko if:$data.tickerLines -->
                              <!-- ko template: {name: 'usercontrol.nestedtickerlines',data:$data} -->
                              <!-- /ko -->
                        <!-- /ko -->
                    </article>
                </section>
                <!-- /ko -->
            </section>

            <section class="contentSection" data-bind="visible:$root.currentView() === 'mcrview'">
                <header class="clearfix disable-text-selection" style="margin-top: 10px; text-align: center; font-weight: bold; font-size: 20px; padding-top: 9px">
                    <span style="float: left; overflow: hidden; display: block; font-size: 20px;" data-bind="style: { width: '100%' }">Live Category </span>
                </header>
                <!-- ko if:$root.mcrCategoryTickerList().length > 0 -->
                <section class="tickersRprtd clearfix disable-text-selection ui-sortable" data-bind="foreach:mcrCategoryTickerList">
                    <!-- ko template: {name: 'usercontrol.tickerlines',data:$data} -->
                    <!-- /ko -->
                </section>
                <!-- /ko -->
            </section>
        </section>
    </div>
</section>

