﻿<section id="channel-ticker-view" class="main-content view" style="  margin: auto 1px auto 0px;">
    <section class="boxShadow sectionNews">
        <div data-bind="foreach:$root.listOfImages()">
      <img data-bind="attr:{src:'/Content/images/channelImages/'+$data.channelId+'.gif'},css:{'setLogoHeight':$data.channelId !=37}"  style="height: 65px;float:right"/>
@*     <marquee behavior="scroll" direction="right" style="width:95%" onmouseover="stop()" onmouseout="start()">
         <div data-bind="foreach:$data.tickerImages()">
      <img data-bind="attr:{src:$data.imagePath}"  style="height: 60px;"/>
             </div>
    </marquee>*@
        </div>
    </section>
</section>
