﻿<section id="myticker-view" data-mainsection="true" class="tickerspage main-content view tabSec" data-bind="adjustHeight: true,  customScrollBar: { callback: $root.loadNextPage }">
    <div class="main-navsec clearfix">
        <!-- ko template: {name: 'usercontrol.tickerheaderbar'} -->
        <!-- /ko -->
    </div>


    <div>
        <section class="boxShadow sectionNews tickersPndng">
            <section class="contentSection">
                <!-- ko foreach: $root.groupedTickers -->

                <header class="clearfix">
                    <h4 data-bind="text:$data.groupName"></h4>
                    <div class="searchBox">
                        <p><span data-bind="html:$data.groupElements.count" style="float: none;"></span>Tickers Reported</p>
                    </div>
                </header>
                <section class="tickersRprtd clearfix">
                    <!-- ko template: {name: 'usercontrol.newsticker',data:{data:$data.groupElements,type:3}} -->
                    <!-- /ko -->
                </section>

                <!-- /ko -->
            </section>
        </section>
    </div>
</section>
