﻿<section id="rundown-view" class="tickerspage main-content view tabSec" data-bind="adjustHeight: true,  customScrollBar: { callback: $root.loadNextPage}">
    <div class="main-navsec clearfix">
        <!-- ko template: {name: 'usercontrol.tickerheaderbar'} -->
        <!-- /ko -->
    </div>
    <div>
        <section class="boxShadow sectionNews tickersApproved inqueue">
            <section class="contentSection">

                <!-- ko foreach: $root.breakingNewsTicker -->
                <!-- ko if:$data.groupElements.length > 0 -->
                <header class="clearfix disable-text-selection" style="margin-top: 10px; text-align: center; font-weight: bold; font-size: 20px;padding-top:9px">
                    <div style="float:left;overflow:hidden;display:block;width:20%;"><a style="margin-top:0px;" href="javascript:;" title="" class="btnBlue" data-bind="visible:$root.currentTickerStatusId() === $root.e.TickerStatus.OnAir,click:function(){$root.updateTickerLineToMCR($root.e.TickerType.Breaking.Value)}">Update</a></div> 
                    <span style="float:left;overflow:hidden;display:block;width: 60%;font-size: 20px;" data-bind="style: { width: $root.currentTickerStatusId() !== $root.e.TickerStatus.OnAir ? '100%' : '60%' }">Breaking</span>
                </header>

                <section class="tickersRprtd clearfix disable-text-selection ui-sortable" data-bind="sortableList: { tickers: $data.groupElements, callback: $root.arrangeTickers,disabled:$root.canSort}">
                    <!-- ko template: {name: 'usercontrol.tickerlines',data:{data:$data.groupElements,type:$root.e.TickerType.Breaking.Value}} -->
                    <!-- /ko -->
                </section>
                <!-- /ko -->
                <!-- /ko -->



                <!-- ko foreach: $root.latestNewsTicker -->
                <!-- ko if:$data.groupElements.length > 0 -->
                <header class="clearfix disable-text-selection" style="margin-top: 10px; text-align: center; font-weight: bold; font-size: 20px;padding-top:9px">
                   <div style="float:left;overflow:hidden;display:block;width:20%;"><a style="margin-top:0px;" href="javascript:;" title="" class="btnBlue" data-bind="visible:$root.currentTickerStatusId() === $root.e.TickerStatus.OnAir,click:function(){$root.updateTickerLineToMCR($root.e.TickerType.Latest.Value)}">Update</a></div>
                   <span style="float:left;overflow:hidden;display:block;width: 60%;font-size: 20px;"  data-bind="style: { width: $root.currentTickerStatusId() !== $root.e.TickerStatus.OnAir ? '100%' : '60%' }">Alert</span>
                </header>
                <section class="tickersRprtd clearfix disable-text-selection ui-sortable" data-bind="sortableList: { tickers: $data.groupElements, callback: $root.arrangeTickers,disabled:$root.canSort}">

                    <!-- ko template: {name: 'usercontrol.tickerlines',data:{data:$data.groupElements,type:$root.e.TickerType.Latest.Value}} -->
                    <!-- /ko -->
                </section>
                <!-- /ko -->
                <!-- /ko -->


            </section>
        </section>
    </div>
</section>
