﻿<section id="sequence-view" class="clearfix view">
    <section class="proSection tabsmain" data-bind="adjustHeight: true, customScrollBar: true">
        <section id="sequence-news-list" class="seqContent disable-text-selection ui-sortable" data-bind="foreach:{ data: $root.tickerCategories,afterRender: $root.refereshSortable}, sortableList: { categories: $root.tickerCategories, callback: $root.arrangeCategories}">
            <article class="clearfix" data-bind="attr: { index: $index, id: id }">
                <i class="icon-seqIcon"></i>
                <figure>
                    <img width="60" height="50" src="/content/images/producer/noimage-60x50-light.jpg">
                </figure>
                <div>
                    <h3 data-bind="html:$data.name"></h3>
                </div>
                
            </article>
        </section>
    </section>
</section>
