﻿<div class="view wirteTickers disable-text-selection">
    <div class="innercont">
        <h2>Tickers <span data-bind="html: $data.tickerLineList().length">1</span></h2>
        <div class="news-tickr" style="max-height:200px;">
            <div class="edtrsec" data-bind="customScrollBar: true" style="min-height:initial;max-height:200px">
                <div class="eachrow writermain" data-bind="tickerReporterWriter: true,resetWriter: { isReset: isReset }" >
                    <strong data-bind="tickerEditorSect: { callback: $data.addOrDeleteFromTickerList }" style="margin-bottom:-44px"><i class="icon-tickradd"></i></strong>
                    <input data-bind="updateTickersCount: { currentCount: $data.tickersCount }" maxlength="90" type="text" autofocus />
                </div>
            </div>
        </div>
    </div>
</div>
