﻿<header id="shell-top" class="header">
    <a title="" class="logo"></a>
    <ul class="topnav">
        <li><span class="username">Arados Markachanda</span></li>
        <li class="alerts"><a href="javascript:;" title=""><i class="icon-email"><span class="alert">10</span></i></a>
            <div class="dropdown">
                <div class="notifications"><span><i class="icon-email"></i>Notifications</span>  <a href="javascript:;" title="">Mark as Read</a></div>
                <ul class="scrollBar">
                    <li class="active"><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ...
                        <span><i class="icon-proIcon-12"></i>about an hour ago</span>
                    </a></li>
                    <li class="active"><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        <span><i class="icon-proIcon-12"></i>Yesterday</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur.
                        <span><i class="icon-proIcon-12"></i>November 27, 2013 at 5:02 pm</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. porttitor ... 
                        <span><i class="icon-proIcon-12"></i>November 27, 2013 at 4:32 pm</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing.
                        <span><i class="icon-proIcon-12"></i>November 26, 2013 at 1:57 am</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ...
                        <span><i class="icon-proIcon-12"></i>about an hour ago</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        <span><i class="icon-proIcon-12"></i>Yesterday</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur.
                        <span><i class="icon-proIcon-12"></i>November 27, 2013 at 5:02 pm</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. porttitor ... 
                        <span><i class="icon-proIcon-12"></i>November 27, 2013 at 4:32 pm</span>
                    </a></li>
                    <li><a href="javascript:;" title="">Lorem ipsum dolor sit amet, consectetur adipiscing.
                        <span><i class="icon-proIcon-12"></i>November 26, 2013 at 1:57 am</span>
                    </a></li>
                </ul>
                <div class="seeall"><a href="javascript:;" title="">See All</a></div>
            </div>
        </li>
        <li>
            <a href="javascript:;" title=""><i class="icon-setting"></i></a>
            <ul>
                <li><a href="javascript:;" title="">Account Settings</a></li>
                <li><a href="javascript:;" title="">Help</a></li>
                <li class="logout"><a href="javascript:;" title="">Logout</a></li>
            </ul>
        </li>
        <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
    </ul>

</header>
