﻿<section id="pending-stories-view" class="main-content view" data-bind="adjustHeight: true, customScrollBar: { callback: loadNextPage, onTotalScrollOffset: 1500 }">

    <!-- ko template: { name: $root.templates.pendingStoriesInfoControl, data: $data } -->
    <!-- /ko -->

    <section class="boxShadow sectionNews">
        <section class="contentSection">
             <!-- ko  foreach:groupedPendingStories -->
             <header class="clearfix" data-bind="visible:$data.pendingStories.length > 0">
                <h4 data-bind="html:$data.GroupName"></h4>
            </header>
             <!-- ko  foreach:$data.pendingStories -->
            <section class="latest-pendingstories clearfix disable-text-selection " data-bind="css: { urduContent: $data.news.languageCode.toLowerCase() == 'ur' }">
                <article>
                    <div class="leftNews">
                        <div class="newsImage">
                            <figure>
                                <img data-bind="attr: { src: $data.news.defaultImageUrl }" width="133" height="75" alt="News" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'" />
                            </figure>
                        </div>
                    </div>

                    <div class="contentScare">
                        <h2><a href="javascript:void(0);" data-bind="html: news.title, click: function (data) { $root.setCurrentPendingStory(data,$parent) }"></a></h2>

                        <!-- ko template: { name: $root.templates.storyInfo, data : $data } -->
                        <!-- /ko -->

                        <p data-bind="html: $data.news.shortDescription"></p>
                    </div>
                </article>

                <!-- ko  template : {name:$root.templates.pendingStoriesRelatedContent, data : $data } -->
                <!-- /ko -->
            </section>
             <!-- /ko -->
            <!-- /ko -->
        </section>
    </section>
</section>