﻿<section id="sequence-view" class="clearfix view">


    <section class="sectionSequence" data-bind="adjustHeight: true, customScrollBar: true" data-mainsection="true">
        <div class="proceedBtn prev" data-bind="buttonHover: true">
            <img src="~/content/images/producer/prevArrow.jpg" width="30" height="66">
            <a data-bind="attr: { 'href': $root.hashes.home }">Move To Home</a>
        </div>
        <div class="proceedBtn next" data-bind="buttonHover: true">
            <img src="~/content/images/producer/banner-arrow.jpg" width="30" height="66">
            <a href="javascript:void(0)" data-bind="click:$root.proceedToProduction">Move To Production</a>
        </div>

        <div class="dustbin"><i class="icon-dustbin"></i></div>

        <header class="headQuen clearfix">
            <!-- ko template: { name: templates.programSelectionAndInfo, data: programInfoControl } -->
            <!-- /ko -->
        </header>
        <div id="trash" style="height: 100%; position: absolute; width: 3%; z-index: 1"></div>
        <section class="tabsControl" data-bind="tabActive: true">
            <a href="javascript:;" data-callit="seqContent" data-bind="click: function () { $root.prc.activeTab('tab1'); }" title=""><i class="icon-stories"></i>List</a>
            <input type="button" value="Preview" data-bind="visible:$root.prc.isPreviewButtonVisible(),css:btnAttribute().disabled ? 'disabled' :'', click: function (data,event) { $root.toggleProgramPreview(data, event, true,false) }">
        </section>
        <section class="proSection tabsmain">
            <div>
                <!-- ko template: { name: 'sequence.newslist', data: {stories: greenNewsBucket,type:1} } -->
                <!-- /ko -->
            </div>
            <div style="margin-bottom: 29px; cursor: pointer;">
                <ul style="float: right; margin-bottom: 10px">
               @*     <li style="float: left; margin-right: 20px"><input type="radio" name="animal" value="All" data-bind="checked: currentListView" />  All </li>*@
                    <li style="float: left; margin-right: 20px"><input type="radio" name="animal" value="Cart" data-bind="checked: currentListView" /> Cart </li>
                    <li style="float: left; margin-right: 20px"><input type="radio" name="animal" value="Productions" data-bind="checked: currentListView" /> Productions </li>
                </ul>
            </div>
            <div>
                <div data-bind="visible:currentListView() === 'Cart'">
                    <!-- ko template: { name: 'sequence.newslist', data: {stories: blueNewsBucket,type:2} } -->
                    <!-- /ko -->
                </div>
                <div data-bind="visible:currentListView() === 'Productions'">
                    <!-- ko template: { name: 'sequence.newslist', data: {stories: previousProductionList,type:3} } -->
                    <!-- /ko -->
                </div>
            </div>
        </section>
    </section>
    <!-- ko template: {name: $root.templates.programPreview, data: ppc} -->
    <!-- /ko -->
</section>
