﻿    <section id="channelreporter-reportnews-view" class="updateReport view reportNewsChannelReporter">
         <!-- ko with: $root.model -->  
        <a href="javascript:void(0);" class="arrowLeft" data-bind="click:templatePaging.previousItem,visible: templatePaging.currentIndex()>0"><i></i><span>Previous News</span></a>
        <!-- /ko -->
    <div class="editingSection" data-bind="with: $root.model">
          <div class="heading" data-bind="with: templatePaging.currentItem">
              <label data-bind="text: toHour"></label>
              <label data-bind="text: radioStation().name"></label>
          <a class="close" href="javascript:;"></a>
          <div class="searchBox"><span>Total Pending Stations </span><label data-bind="text: $parent.pendingItems"></label></div>
        </div>
        <div class="leftSection">
           <!-- ko template: {name:'usercontrol.audioeditor', data: mediaEditor} -->
           <!-- /ko -->
          <div>
           <!-- ko template: {name:'news.add', data: $data} -->
           <!-- /ko -->
          </div>
        </div>
           <!-- ko template: {name:'usercontrol.newslisting', data: newsList()} -->
           <!-- /ko -->
      </div>

        <!-- ko with: $root.model -->           
       <a href="javascript:void(0);" class="arrowRight" data-bind="click: templatePaging.nextItem, visible: templatePaging.currentIndex()<(templatePaging.list().length-1)" ><i></i><span>Next News</span></a>
        <!-- /ko -->
</section>
