﻿<div class="view overlay @PageData[0]" data-bind="css: $root.model.showPopup()==true ? 'showForcely' : 'hideForcely'" ></div>
<div id="effect" class="updateReport xPop  @PageData[0] view" data-bind="css: $root.model.showPopup()==true ? 'showForcely' : 'hideForcely'">
    <!--ko with:$root.model.popuptempPaging-->
    <a href="javascript:void(0);" class="arrowLeft thumbleft" data-bind="click:previousItem,visible:currentIndex()>0"><i></i><span>Previous </span></a>
    <span data-bind="text:"></span>
    <div class="imageSection" style='margin-left:20px; min-height:418px !important' >
            <!-- ko if: typeof  currentItem().length != 0 -->
            <!-- ko if: currentItem().type == $root.e.ContentType.Image -->
            <img data-bind='attr:{src:currentItem().url}' style="max-height: 418px !important; max-width: 658px !important" class="thumbCSS" />
            <!-- /ko -->
            <!-- ko if: currentItem().type == $root.e.ContentType.Video -->
            <video class="videoPlayer" data-bind='attr:{src:currentItem().url},stop:{stopPlayer:$root.model.stopPlayer}' style="height: 418px !important; width:100% !important" controls>
                <source type="video/mp4" data-bind='attr:{src:currentItem().url}'>
                Your browser does not support the video tag.
            </video>
            <!-- /ko -->
            <!-- ko if: currentItem().type == $root.e.ContentType.Audio -->
            <audio class="videoPlayer" data-bind='attr:{src:currentItem().url},stop:{stopPlayer:$root.model.stopPlayer}' style="height: 418px !important; width:100% !important" controls>
                <source type="audio/mpeg" data-bind='attr:{src:currentItem().url}' >
                Your browser does not support the audio tag.
            </audio>
            <!-- /ko -->
            
           <!-- ko if:  currentItem().type != $root.e.ContentType.Audio &&  currentItem().type != $root.e.ContentType.Video &&  currentItem().type != $root.e.ContentType.Image -->               
           <img src='/Content/images/reporter/notSupported.jpg' height="418px" width="100%" class="thumbCSS" />
            <!--/ko-->
            <!--/ko-->
    </div>
    <a href="javascript:void(0);" class="arrowRight arrowRight1 thumbright" data-bind="click:nextItem, visible:currentIndex()<$root.model.totalImages()"><i></i><span>Next    </span></a>
      <!--/ko-->
     <div class="close iconCursor" data-bind="click:$root.model.hidePopup"><i></i></div>
</div>
