﻿<section id="reporter-getnews-view" class="updateReportnews view updateNewsLeftRight reportNews">
   <!-- ko template:{name:'shared.updatenews'} -->
   <!-- /ko -->

      <!-- The template to display files available for upload -->
        <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload fade">
        {% if (file.error) { %}
            <span class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</span>
        {% } else if (o.files.valid && !i) { %}
            <div class="uploadprogress">
          <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100%" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </div>
        {% } else { %}
        {% } %}
         <span>{% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
          {% } %}</span>
          </div>
        {% } %}
        </script>
        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
    
        </script>
</section>
