﻿<nav class="newsNav clearfix">
    <ul class="navigationNews">
        <li class="newsActive"><a href="javascript:;" title=""><i class="icon-news"></i><span>All News<small>149</small></span></a></li>
        <li class="">
            <a href="javascript:;" title=""><i class="icon-newsHome"></i><span>Reporters<small>524</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsPeople"></i><span>Public Reporters<small>144</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsVideo"></i><span>Packages<small>21</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsSearch"></i><span>Wires<small>142</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>BBC</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>CNN</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Reuters</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Others</small><span>10</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsBook"></i><span>Other Newspaper<small>142</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>The News International</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>The Dawn</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>The Jung</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Others</small><span>10</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsWorld"></i><span>Other Websites<small>254</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Google</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Yahoo</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>MSN</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Websites</small><span>10</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsTv"></i><span>Other TV Channels<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Geo </small><span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>SAMAA</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>DUNYA</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>BBC</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>CNC</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other TV Channels</small><span>5</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsComment"></i><span>Social Media<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsStore"></i><span>Records<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class=""><a href="javascript:;" title=""><i class="icon-newsShop"></i><span>Press Release<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class="seprater "><a href="javascript:;" title=""><i class="icon-newsRadio"></i><span>Radio<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Karachi</small> <span>62</span></a></li>
                <li><a href="javascript:;" title=""><small>Lahore</small> <span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Islamabad</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>Quetta</small><span>10</span></a></li>
                <li><a href="javascript:;" title=""><small>KPK</small><span>5</span></a></li>
                <li><a href="javascript:;" title=""><small>Other Cities</small><span>5</span></a></li>
            </ul>
        </li>
        <li class="middle"><a href="javascript:;" title=""><i class="icon-newsPhone"><small class="alert">10</small></i><span>Events<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title=""><small>Ramdhan Karim</small> <span>1 <i>Day Left</i></span></a></li>
                <li><a href="javascript:;" title=""><small>Eid ul Fiter</small> <span>2 <i>Days Remaining</i></span></a></li>
                <li><a href="javascript:;" title=""><small>Hajj</small><span>3 <i>Days Remaining</i></span></a></li>
                <li><a href="javascript:;" title=""><small>Eid ul Adha</small><span>4 <i>Days Remaining</i></span></a></li>
                <li><a href="javascript:;" title=""><small>Muharram</small><span>5 <i>Days Remaining</i></span></a></li>
                <li><a href="javascript:;" title=""><small>Rabi ul Awwal</small><span>6 <i>Days Remaining</i></span></a></li>
            </ul>
        </li>
        <li class="seprate showpics"><a href="javascript:;" title=""><i class="icon-newsQues"><small class="alert">10</small></i><span>Events<small>32</small></span></a>
            <ul>
                <li><a href="javascript:;" title="">
                    <img src="content/images/bombinjaloos.jpg" width="72" height="60" alt="">
                    <small>Chehlum Jaloos Karachi Bomb 
Blasts 24 Dec 2013</small> <span>View Details</span></a></li>
                <li><a href="javascript:;" title="">
                    <img src="content/images/meeting.jpg" width="72" height="60" alt="">
                    <small>Nisar chairs meeting of government,
23-Apr-2014</small> <span>View Details</span></a></li>
                <li><a href="javascript:;" title="">
                    <img src="content/images/fivekilled.jpg" width="72" height="60" alt="">
                    <small>Five killed in Karachi violence
 24 Apr 2014</small> <span>View Details</span></a></li>
                <li><a href="javascript:;" title="">
                    <img src="content/images/bombinjaloos.jpg" width="72" height="60" alt="">
                    <small>Chehlum Jaloos Karachi Bomb 
Blasts 24 Dec 2013</small> <span>View Details</span></a></li>
                <li><a href="javascript:;" title="">
                    <img src="content/images/meeting.jpg" width="72" height="60" alt="">
                    <small>Nisar chairs meeting of government,
23-Apr-2014</small> <span>View Details</span></a></li>
                <li><a href="javascript:;" title="">
                    <img src="content/images/fivekilled.jpg" width="72" height="60" alt="">
                    <small>Five killed in Karachi violence
 24 Apr 2014</small> <span>View Details</span></a></li>
            </ul>
        </li>
        <li class="dropDown ">
            <a href="javascript:;" title=""><i class="icon-newsSetting"></i></a>
            <ul class="newsSetting">
                <li>
                    <p>Content Filter <span><a href="javascript:;">Reset</a></span></p>
                    <div class="content-setting">
                        <ul class="newsPakages">
                            <li><a href='#' onclick="return displayTeam('content-tab');">All</a></li>
                            <li><a href='#' onclick="return displayTeam('content-tab2');">News</a></li>
                            <li><a href='#' onclick="return displayTeam('content-tab3');">Packages</a></li>
                        </ul>
                        <div id="newsTabs">
                            <div id="content-tab" class="contentNew">
                                <ul>
                                    <li><i class="icon-verified"></i><small>Verified News</small> <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-recommend"></i><small>Recommended</small>  <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-rated"></i><small>Top Rated </small><span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-executed"></i><small>Top Executed </small><span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-recent"></i><small>Most Recent</small>  <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                </ul>
                            </div>
                            <!-- CONTENT-TAB END -->
                            <div id="content-tab2" class="contentNew">
                                <ul>
                                    <li><i class="icon-verified"></i><small>Verified News</small> <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-recommend"></i><small>Recommended</small>  <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-rated"></i><small>Top Rated </small><span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-executed"></i><small>Top Executed </small><span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-recent"></i><small>Most Recent</small>  <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                </ul>
                            </div>
                            <!-- CONTENT-TAB2 END -->
                            <div id="content-tab3" class="contentNew">
                                <ul>
                                    <li><i class="icon-verified"></i><small>Verified News</small> <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-recommend"></i><small>Recommended</small>  <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-rated"></i><small>Top Rated </small><span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-executed"></i><small>Top Executed </small><span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                    <li><i class="icon-recent"></i><small>Most Recent</small>  <span>
                                        <img src="content/images/clickBtn.png" alt="*"></span></li>
                                </ul>
                            </div>
                            <!-- CONTENT-TAB3 END -->
                        </div>
                    </div>
                    <!-- CONTENT SETTING END -->
                </li>
            </ul>
            <!-- NEW SETTING END -->
        </li>
    </ul>
    <!-- NAVIGATIONNEWS END -->

    <ul class="newsCalender">
        <li>
            <a href="javascript:;" title=""><i class="icon-newsCalender"></i></a>
            <div id="date-range-field">
                <span>November 23, 2013</span>
            </div>
            <ul class="calenderMenu clearfix">
                <li>
                    <div class="calenderLeft">
                        <div id="datepicker-calendar" class="clearfix"></div>
                        <p class="left">Select Custom Date Range</p>
                        <p>
                            <label>From</label>
                            <input type="text" id="from">
                            <label>To</label>
                            <input type="text" id="to">
                            <input type="submit" value="Apply">
                        </p>
                    </div>
                    <!-- CALENDER LEFT END -->
                    <div class="calenderRight">
                        <ul>
                            <li><a href="javascript:;">Today</a></li>
                            <li><a href="javascript:;">Yesterday</a></li>
                            <li><a href="javascript:;">Last Week</a></li>
                            <li><a href="javascript:;">Last Month</a></li>
                            <li class="custom"><a href="javascript:;">Custom</a></li>
                        </ul>
                    </div>
                    <!-- CALENDER RIGHT END -->
                </li>
            </ul>
            <!-- CALENDER MENU END -->
        </li>
        <li><a href="index-2.html" title=""><i class="icon-newsCrop"></i></a></li>
    </ul>
    <!-- NEWS CALENDER END -->
</nav>
<!-- NEWSNAV END -->
