﻿<nav id="shell-top-nav-view" class="singlebar-menu">
    <!-- ko  if: $root.appdata.currentUser().userType === $root.e.UserType.controllerInput || $root.appdata.currentUser().userType === $root.e.UserType.taggedUser || $root.appdata.currentUser().userType === $root.e.UserType.filterSocial || $root.appdata.currentUser().userType === $root.e.UserType.copyWriter || appdata.currentUser().userType === e.UserType.editorial -->
     <a title="" class="logo" data-bind="attr: { href: $root.router.currentHash() }">
        <img src="~/Content/images/producer/logonew.png" width="165" height="50" alt="*" class="imgLogo"></a>
    <!-- /ko -->
    <!-- ko  if: $root.appdata.currentUser().userType === $root.e.UserType.Controlleroutput -->
    <a title="" class="logo" data-bind="attr: { href: menuHashes.nmsBol.controllerOutput }">
        <img src="~/Content/images/producer/logonew.png" width="165" height="50" alt="*" class="imgLogo">
    </a>
    <!-- /ko -->
    <select id="channelDropdown" data-bind="channelDropdown: true, options: channels, optionsText: 'name', optionsValue: 'id', value: appdata.currentChannel"></select>
    <ul data-bind="with: menuHashes.nmsBol" class="topNavNMS">
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.controllerInput ,css: { 'active': (home == $root.router.currentHash()) }, attr: { href: home }">News Portal</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.controllerInput ,css: { 'active': (topicSelection == $root.router.currentHash()) }, attr: { href: topicSelection }">News Reviewed</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.Controlleroutput , attr: { href: controllerOutput }" class="active">News Placement</a></li>
        <li data-bind="click:$root.removeBitForEvent"><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.controllerInput ,css: { 'active': (reportnews == $root.router.currentHash() && !$root.appdata.isEventBit()) }, attr: { href: reportnews },html:reportnewsName"></a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.taggedUser ,css: { 'active': (taggedPending == $root.router.currentHash()) }, attr: { href: taggedPending }">Pending</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.taggedUser ,css: { 'active': (taggerInput == $root.router.currentHash()) }, attr: { href: taggerInput }">Tagged News</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.filterSocial ,css: { 'active': (filterSocial == $root.router.currentHash()) }, attr: { href: filterSocial }">Filter Social</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.copyWriter ,css: { 'active': (copywriter == $root.router.currentHash()) }, attr: { href: copywriter }">Copy Writer</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.editorial ,css: { 'active': (copywriter == $root.router.currentHash()) }, attr: { href: copywriter }">Editorial</a></li>
        <li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.tagreport ,css: { 'active': (tagreport == $root.router.currentHash()) }, attr: { href: tagreport }">Tag Report</a></li>
        <li data-bind="click:$root.setBitForEvent"><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.controllerInput ,css: { 'active': (reportnews == $root.router.currentHash() && $root.appdata.isEventBit()) }, attr: { href: reportnews },html:'Add Event'"></a></li>
        
        @*<li><a data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.taggedUser ,css: { 'active': (tagnews == $root.activeHash()) }, attr: { href: tagnews }">Tag News</a></li>*@
    </ul>
    <header class="headerrightinfo">
        <ul class="topnav">
            <li>
                <img class="imgNewLoader" src="/Content/images/common/newloader.gif"></li>
           
            <li><span class="username" data-bind="text: $root.appdata.currentUser().displayName"></span></li>
            <li class="alerts"><a href="javascript:;" title=""><i class="icon-email"><span class="alert" data-bind="html: unreadNotificationsCount"></span></i></a>
                <div class="dropdown">
                    <div class="notifications"><span><i class="icon-email"></i>Notifications</span>  <a href="javascript:;" title="" data-bind="click:$root.markAllRead">Mark as Read</a></div>
                    <ul class="scrollBar" style="max-height: 170px !important" data-bind="adjustHeight: true, customScrollBar:true">
                        <!-- ko foreach: notifications -->
                        <li data-bind="css: {'active': !isRead()},click: function (data) { $root.markNotificationRead($data)}">
                            <a href="javascript:;" title="">
                                <span data-bind="html: title" style="width: 70%; float: left;">A task has been submitted by testnle.</span>
                                <span data-bind="html: creationDateDisplay" style="width: 30%; float: left;">a few seconds ago</span>
                            </a>
                            <a href="javascript:;" title="" data-bind="html: slug" style="padding-top: 0;"></a>

                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </li>
            <li class="last"><a href="javascript:;" title="" class="active"><i class="icon-setting"></i></a>

                <ul>
                    @*  <li style="display: none"><a href="javascript:;" title="">Account Settings</a></li>*@
                    @*<li style="display: block"><a href="javascript:;" title="" data-bind="click: $root.displaySettings">Account Settings</a></li>*@
                    <li style="display: none"><a href="javascript:;" title="" data-bind="click: $root.checkForUpdates">Check for updates</a></li>
                    <li style="display: none" class="viewHelp" data-bind="click: $root.displayHelp"><a href="javascript:;" title="">Help</a></li>
                    <li class="logout" data-bind="click: $root.logOut"><a href="javascript:;" title="">Logout</a></li>
                    <li class="logout" data-bind="click: $root.changePassword"><a href="javascript:;" title="">Change Password</a></li>
                </ul>
            </li>
            <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
        </ul>
    </header>
</nav>

