﻿<footer class="footer clearfix">
    <ul class="footLeft">
        <li><a href="javascript:;" title=""></a></li>
        <li><a href="javascript:;" title=""></a></li>
    </ul>
    <ul class="footRight">
        <li class="help"><a href="javascript:;" title="">Help</a></li>
        <li><a href="javascript:;" title="">Engineered at Axact</a></li>
    </ul>
</footer>
