﻿body
{
    padding: 0px;
    margin: 0px;
}

#header
{
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: #5c666d solid 2px;
    color: #5c666d;
    font-size: 24px;
}

.submitButton
{
    background-color: white;
    border: #5c666d solid 1px;
    padding: 4px;
    cursor: pointer;
    height: 34px;
}

    .submitButton:hover
    {
        background-color: #c4c8cc;
    }

.login
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid 2px #5c666d;
      color: #c4c8cc;
}

    .login .textBox
    {
        width: 240px;
    }


    .login #divButton
    {
        padding: 4px;
        text-align: right;
    }

.chatRoom
{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #5c666d;
    padding-top:5px;
}

    .chatRoom .title
    {
        font-size: 16px;
        font-weight: bold;
        padding: 8px;
            background: -webkit-linear-gradient(#c4c8cc, #5c666d);
        border-bottom: solid 1px #5c666d;
    }

    .chatRoom .content
    {
        height: 460px;
        clear: both;
    }

        .chatRoom .content .chatWindow
        {
            float: left;
            width: 75%;
           height: 460px;
            border-right: solid 1px #5c666d;
            overflow-y: scroll;
        }

            .chatRoom .content .chatWindow .message
            {
                padding: 4px;
            }

                .chatRoom .content .chatWindow .message .userName
                {
                    font-weight: bold;
                }

        .chatRoom .content .users
        {
            float: right;
            width: 24%;
             height: 460px;
              overflow-y: auto;
        }

            .chatRoom .content .users .user
            {
                display: block;
                cursor: pointer;
                padding: 4px;
                background-color: #f9f9f9;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .loginUser
            {
                display: block;
                padding: 4px;
                color: gray;
                border-bottom: solid 1px #5c666d;
            }

            .chatRoom .content .users .user:hover
            {
                background-color: #c4c8cc;
            }

    .chatRoom .messageBar
    {
        border-top: solid 1px #5c666d;
        padding: 4px;
    }

        .chatRoom .messageBar .textbox
        {
            width: 95%;
            height: 30px;
            font-size: 18px;
        }

.disconnect
{
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}

.topHead {
  background: #F6F6F6 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#999999));
}

.draggable
{
    position: absolute;
    border: #5c666d solid 1px !important;
    width: 250px;
}

    .draggable .header
    {
        cursor: move;
          background: -webkit-linear-gradient(#c4c8cc, #5c666d);
        border-bottom: #5c666d solid 1px;
        color: #1e4638;
    }

    .draggable .selText
    {
        color: black;
        padding: 4px;
    }

    .draggable .messageArea
    {
        width: 250px;
        overflow-y: scroll;
        height: 200px;
         border-bottom: #5c666d solid 1px;
    }

        .draggable .messageArea .message
        {
            padding: 4px;
        }

    .draggable .buttonBar
    {
        width: 250px;
       padding:4px;
    }

        .draggable .buttonBar .msgText
        {
            width: 172px;
        }

        .draggable .buttonBar .button
        {
           margin-left:4px;
            width: 55px;
        }
