.user, .deliver, .document, .insurance, .calender, .docs, .watch, .pointer-arrow, .add-icon, .calender-small, .doc, .upload, .data-view, .map-pin, .add-pin, .distributor{
	background: url(sprites.png) no-repeat;
}

.user{
	background-position: -10px -12px ;
	width: 29px;
	height: 29px;
}

.deliver{
	background-position: -60px -12px ;
	width: 29px;
	height: 29px;
}

.document{
	background-position: -110px -12px ;
	width: 29px;
	height: 29px;
}

.insurance{
	background-position: -160px -12px ;
	width: 29px;
	height: 29px;
}

.calender{
	background-position: -210px -12px ;
	width: 29px;
	height: 29px;
}

.docs{
	background-position: -260px -12px ;
	width: 29px;
	height: 29px;
}

.watch{
	background-position: -10px -60px ;
	width: 29px;
	height: 29px;
}

.pointer-arrow{
	background-position: -558px -12px ;
	width: 29px;
	height: 29px;
}

.add-icon{
	background-position: -510px -12px ;
	width: 29px;
	height: 29px;
}

.calender-small{
	background-position: -457px -14px ;
	width: 29px;
	height: 29px;
}

.doc{
	background-position: -109px -60px ;
	width: 29px;
	height: 29px;
}

.upload{
	background-position: -160px -60px ;
	width: 29px;
	height: 29px;
}

.data-view{
	background-position: -59px -60px ;
	width: 29px;
	height: 29px;
}

.map-pin{
	background-position: -360px -12px ;
	width: 29px;
	height: 29px;
}

.add-pin{
	background-position: -410px -12px ;
	width: 29px;
	height: 29px;
}

.distributor{
	background-position: -310px -12px ;
	width: 29px;
	height: 29px;
}

