﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
      <div class="mainwrap">
            <header>
                <section class="clear">
                    <div class="userinfo">
                        <span id="userName">Media Server2</span>
                    </div>
                </section>
            </header>
    @RenderBody()
      </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
   
</body>
</html>
