﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="TestWebApplication._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
  
        <asp:Button ID="btnGetResource" runat="server" Text="Get Resource" OnClick="btnGetResource_Click" />

           <asp:FileUpload  ID="fileupload" runat="server"/>
        <asp:Button  ID="btmSubmit" runat="server" Text="upload" OnClick="btmSubmit_Click"/>

    </div>
    </form>
</body>
</html>
