﻿<nav id="shell-top-nav-view" class="singlebar-menu">
    <ul data-bind="foreach: navigations()">
        <li><a data-bind="css: { 'active': $root.currentPage() == href }, attr: { href: href }, text: title"></a></li>       
    </ul>
</nav>
