<div class="content">
    <figure><img alt="" ng-src="{{listData.dpimage}}"></figure>
    <h4><span class="{{listData.lang ? 'urdulang' : ''}}">{{listData.title}}</span></h4>
    <ul class="details">
        <li class="cat">{{listData.category}} </li>
        <li class="tim">{{listData.time}}</li>
        <li class="src">{{listData.source}}</li>
    </ul>
</div>