﻿<div class="settingsmenu shellnav @PageData[0]">
    	<div id="allalerts" class="alertmenu">
          <div>
            	<h3>Alerts <span></span></h3>
                <a  class="canclbtn" data-bind="closeRightPanel" style="cursor:pointer"><i data-position="-105px -43px"></i></a>
            </div>
          
               <div class="scrlable">
                <div class="item">
                	    <h4 ></h4>
                    </div>
               </div>
           
        </div>
        
    	<div id="allstngs" class="stngstmenu">
        	<div>
            	<h3>Settings</h3>
                <a class="canclbtn" data-bind="closeRightPanel" style="cursor:pointer"><i data-position="104 43"></i></a>
            </div>
            <div>
            	<div class="lnks">
                    <a href="#"><i data-position="121 43"></i> Account Setting</a>
                    <a href="#"><i data-position="138 43"></i> Help</a>
                    <a style="cursor:pointer"><i data-position="-105px -43px"></i> Logout</a><br /><br />
            <a><span>Enter MOS Id</span><input type="text" style="float:right" data-bind="value:mosId()"/></a>
            <a><span>Enter Port</span><input type="text" style="float:right" data-bind="value:mosPort()"/></a>
            <a><input type="button" style="float:right; cursor:pointer" data-bind="click:saveSettings" value="saveAndstart"/></a>
                    
                </div>
            </div>
        </div>
    </div>