﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/style/style.teamb.css" rel="stylesheet" />
    <link rel="shortcut icon" href="Content/images/reporters/favicon.ico" />

    <!--[if lt IE 9]>
        <script src="assets/js/html5.js"></script>
        <html class="ie">
    <![endif]-->

    <title>BOL News</title>

    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/bluimp/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-te-1.4.0.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/UrduEditor.css" rel="stylesheet" />

    <link href="~/Content/css/style/style.reporters.common.css" rel="stylesheet" />

</head>
<body>

    @RenderPage("Views/Shell/Reporters/ShellItemArrows.cshtml")
    @RenderPage("Views/Shell/Reporters/ShellNewsArrows.cshtml")
    @RenderPage("Views/NewsProducer/Common/Popup.cshtml")


    <div class="mainwrap">
        @RenderPage("Views/Shell/Shared/ShellTop.cshtml")
        @RenderPage("Views/Shell/Shared/ShellTopNav.cshtml")
        @RenderPage("Views/shell/reporters/ShellLeftPanel.cshtml")

        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "updateNewsLeftRight", "Next News", "templatePaging.allNextItems", "right")
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "updateNewsLeftRight", "Previous News", "templatePaging.allPreviousItems", "left")

        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "reportNewsChannelReporter", "Next Videos", " $root.model.templatePaging.allNextItems", "right")
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "reportNewsChannelReporter", "Previous Videos", " $root.model.templatePaging.allPreviousItems", "left")

        @*---------------Content Start-----------------*@
        <div class="innerwrap">
            @RenderPage("Views/shell/reporters/ShellLeftNav.cshtml")
            @RenderPage("Views/shell/reporters/ShellListHeader.cshtml", "channelHomePanel")
            @RenderPage("Views/shell/reporters/ShellListHeader.cshtml", "myNewsPanelHeader")
            @RenderPage("Views/shell/reporters/ShellListHeader.cshtml", "channelHomePanel2")
            @RenderPage("Views/reporters/team b/ChannelReporter/Home.cshtml")
            @RenderPage("Views/reporters/team b/ChannelReporter/Live.cshtml")
            @RenderPage("Views/reporters/team b/ChannelReporter/ReportNews.cshtml")
            @RenderPage("Views/reporters/Shared/MyNews.cshtml")
            @RenderPage("Views/reporters/shared/Reports.cshtml")
            @RenderPage("Views/reporters/Shared/Updatenews.cshtml")
            @*@RenderPage("Views/reporters/team b/ChannelReporter/VideoTS.cshtml")*@
        </div>
        @*---------------Content End-----------------*@
    </div>
    @RenderPage("Views/reporters/Shared/NewsupdatePopup.cshtml")
    @RenderPage("Views/reporters/Shared/ThumbNailPopUp.cshtml","updateNewsLeftRight")


    <!-- Third Party Libs -->

   @Scripts.Render("~/bundles/libs/")     


    <!-- App Libs -->

    @Scripts.Render("~/bundles/mock/")
    @Scripts.Render("~/bundles/common/")
    @Scripts.Render("~/bundles/managers/")
    @Scripts.Render("~/bundles/models/")
    @Scripts.Render("~/bundles/controls/")
    @Scripts.Render("~/bundles/reporters/common/")
    @Scripts.Render(" ~/bundles/bindcommon/")  
    @Scripts.Render("~/bundles/reporter/teamb/common/")
    @Scripts.Render("~/bundles/channelreporter/")

    <script type="text/javascript" src="~/Scripts/main.channelreporter.js"></script>

</body>
</html>
