﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Axact Media Solutions </title>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- Third Party css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	
    <script type="text/javascript">
        var xPageELEM;
    </script>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-1.7-development-only.js"></script>
    <link href="~/Content/css/style/style.css" rel="stylesheet" />
	<link href="~/Content/css/style/style.usermodule.css" rel="stylesheet" />
	
    <script type="text/javascript">
        xPageELEM = 1;
    </script>
</head>
<body class="login-bg">
  
         @RenderPage("Views/user/index.cshtml")
      

  <!-- Third Party Libs -->
    <script type="text/javascript" src="~/Scripts/lib/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery-te-1.4.0.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery.UrduEditor.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-multiselect.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mockjson.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/TrafficCop.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.title.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/infuser.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout-3.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/koExternalTemplateEngine.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.dirtyFlag.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.asyncCommand.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.activity.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.core.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.store.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.request.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/vendor/jquery.ui.widget.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/tmpl.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/load-image.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/canvas-to-blob.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.iframe-transport.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.fileupload.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.fileupload-fp.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.fileupload-ui.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/DatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/string.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/require.js"></script>

    <!-- App Libs -->
    @Scripts.Render("~/bundles/mock/")      
    @Scripts.Render("~/bundles/common/")      
    @Scripts.Render("~/bundles/managers/")
    @Scripts.Render("~/bundles/models/")
    @Scripts.Render("~/bundles/controls/")   
    @Scripts.Render(" ~/bundles/bindcommon/")  
    @Scripts.Render("~/bundles/usermanagement/")   
    
    <script type="text/javascript" src="~/Scripts/main.index.js"></script>
</body>
</html>
