﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Axact Media Solution</title>


    <!-- Third Party css -->
    @*<link href="~/Content/css/style/fonts.googleapisfamily1.css" rel="stylesheet" type='text/css' />
        <link href="~/Content/css/style/fonts.googleapisfamily2.css" rel="stylesheet" type='text/css' />*@

    <!-- App css -->

    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.producer.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-te-1.4.0.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/UrduEditor.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.producer.extension.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.nmsBol.css" rel="stylesheet" />




    <!--[if lt IE 9]>
    <script src="~/Scripts/lib/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="scripts/app/html5.js"></script>
    <![endif]-->


</head>
<body>

    <a id="video-editor" href="javascript:;" style="display: none"></a>

    <div id="busyindicator"></div>

    @RenderPage("Views/Shell/nmsBol/ShellTopNav.cshtml")

    <section id="main" class="container clearfix">


        @RenderPage("Views/Shell/nmsBol/ShellLeft.cshtml")
        @RenderPage("Views/nmsBol/TopicSelection/TopicSelection.cshtml")
        @RenderPage("Views/nmsBol/Home/index.cshtml")
        @RenderPage("Views/nmsBol/ControllerOutput/controlleroutput.cshtml")
        @RenderPage("Views/v3/reportnews.cshtml")
        @RenderPage("Views/v3/Shared/Updatenews.cshtml")
        @RenderPage("Views/nmsBol/Tagger/taggerInput.cshtml")
        @RenderPage("Views/nmsBol/Tagger/taggedpending.cshtml")
        @RenderPage("Views/nmsBol/FilterSocial/filterSocial.cshtml")
        @RenderPage("Views/nmsBol/CopyWriter/copywriter.cshtml")
        @RenderPage("Views/nmsBol/TaggerReport/tagreport.cshtml")
        @RenderPage("Views/nmsBol/TaggerReport/tagnews.cshtml")

        @RenderPage("Views/nmsBol/Shared/Popup.cshtml")

    </section>

    <script type="text/javascript">
        userType = 1;
    </script>

    <!-- Third Party Libs -->
   
    @Scripts.Render("~/bundles/libs/")

    <!-- App Libs -->

    @Scripts.Render("~/bundles/mock/")
    @Scripts.Render("~/bundles/common/")
    @Scripts.Render("~/bundles/managers/")
    @Scripts.Render("~/bundles/models/")
    @Scripts.Render("~/bundles/controls/")
    @*@Scripts.Render("~/bundles/v3/common/")*@
    @Scripts.Render("~/bundles/nmsBol/")
    @Scripts.Render("~/bundles/bindcommon/")

    @*@Scripts.Render("~/bundles/shared/")*@

    <script type="text/javascript" src="~/Scripts/app/v3/vm.reportnews.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Reporters/common/reporter.appdata.js"></script>
    <script type="text/javascript" src="~/Scripts/main.nmsBol.js"></script>


</body>
</html>
