﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/style/style.teamc.css" rel="stylesheet" />
    <link rel="shortcut icon" href="Content/images/reporters/favicon.ico" />

    <!--[if lt IE 9]>
        <script src="assets/js/html5.js"></script>
        <html class="ie">
    <![endif]-->   

    <title>BOL News</title>

    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/bluimp/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-te-1.4.0.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/UrduEditor.css" rel="stylesheet" />    
      
   @* <link href="~/Content/css/style/style.teamc.extension.css" rel="stylesheet" />*@
    <link href="~/Content/css/style/style.reporters.common.css" rel="stylesheet" />
    

  </head>
  <body >
          <div id="busyindicator"></div>

      <a href="javascript:;" class="outerArrowLeft  reportNewsChannelReporter view" 
          data-bind="css: templatePaging.allPreviousItems().length >0? 'showForcely' : 'hideForcely'"></a> 
      <a href="javascript:;" class="outerArrowRight reportNewsChannelReporter view" 
          data-bind="css: templatePaging.allNextItems().length>0 ? 'showForcely' : 'hideForcely'"></a> 

      <a href="javascript:;" class="outerArrowLeft  updateNewsLeftRight view" 
          data-bind="css: templatePaging.allPreviousItems().length >0? 'showForcely' : 'hideForcely'"></a> 
      <a href="javascript:;" class="outerArrowRight updateNewsLeftRight view" 
          data-bind="css: templatePaging.allNextItems().length>0 ? 'showForcely' : 'hideForcely'"></a> 



    <div class="mainwrap">
            @RenderPage("Views/Shell/Shared/ShellTop.cshtml")
        @RenderPage("Views/Shell/Shared/ShellTopNav.cshtml")
        @RenderPage("Views/shell/reporters/ShellLeftPanel.cshtml")
        
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "updateNewsLeftRight", "Next News", "templatePaging.allNextItems", "right")
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "updateNewsLeftRight", "Previous News", "templatePaging.allPreviousItems", "left")

        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "reportNewsChannelReporter", "Next Videos", " $root.model.templatePaging.allNextItems", "right")
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml", "reportNewsChannelReporter", "Previous Videos", " $root.model.templatePaging.allPreviousItems", "left")

        @*---------------Content Start-----------------*@
        <div class="innerwrap">
        @RenderPage("Views/shell/reporters/ShellLeftNav.cshtml")
        @RenderPage("Views/shell/reporters/ShellListHeader.cshtml","myNewsPanelHeader")
        @RenderPage("Views/reporters/team c/policereporter/Home.cshtml")
        @RenderPage("Views/reporters/team c/policereporter/ReportNews.cshtml")
        @RenderPage("Views/reporters/Shared/MyNews.cshtml")
        @RenderPage("Views/reporters/shared/Reports.cshtml")
        @RenderPage("Views/reporters/Shared/Updatenews.cshtml")

           

        
         </div>
        @*---------------Content End-----------------*@    
    </div>
       @RenderPage("Views/reporters/Shared/NewsupdatePopup.cshtml")

    <!-- Third Party Libs -->
    <script type="text/javascript" src="~/Scripts/lib/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery-te-1.4.0.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery.UrduEditor.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-multiselect.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mockjson.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/TrafficCop.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.title.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/infuser.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout-3.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/koExternalTemplateEngine.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.dirtyFlag.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.asyncCommand.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.activity.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.core.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.store.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.request.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/vendor/jquery.ui.widget.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/tmpl.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/load-image.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/canvas-to-blob.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.iframe-transport.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.fileupload.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.fileupload-fp.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bluimp/jquery.fileupload-ui.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/DatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/string.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/require.js"></script>
      
      
     
    <!-- App Libs --> 
      
     @Scripts.Render("~/bundles/mock/")      
     @Scripts.Render("~/bundles/common/")      
     @Scripts.Render("~/bundles/managers/")
     @Scripts.Render("~/bundles/models/")
     @Scripts.Render("~/bundles/controls/")   
     @Scripts.Render("~/bundles/reporters/common/")  
      @Scripts.Render(" ~/bundles/bindcommon/")        
     @Scripts.Render("~/bundles/reporter/teamc/common/")
     @Scripts.Render("~/bundles/policereporter/")    

    <script type="text/javascript" src="~/Scripts/main.policereporter.js"></script>
     
 </body>
</html>
