﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Axact Media Solution</title>

  

    <!-- App css -->
    
    <link href="/Content/css/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="/Content/css/toastr.css" rel="stylesheet" />
    <link href="/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="/Content/css/jquery.contextMenu.css" rel="stylesheet" />
    <link href="/Content/css/prettify.css" rel="stylesheet" />
    <link href="/Content/css/style/alertStyleSheet.css" rel="stylesheet" />
    <link href="/Content/css/style/style.teleprompter.css" rel="stylesheet" />
    
    <!--[if lt IE 9]>
    <script src="/Scripts/lib/html5.js"></script>
    <![endif]-->

</head>
<body>

    <section class="teleprompter-view">

        @RenderPage("~/Views/TelePrompter/TopMenu.cshtml")

        @RenderPage("~/Views/TelePrompter/LeftPanel.cshtml")

        @RenderPage("~/Views/TelePrompter/RundownPanel.cshtml")

        @RenderPage("~/Views/TelePrompter/AddRundownPopup.cshtml")

    </section>

   @* <div style="background: #eeeeee">
        <p style="height: 10px;">
            <span style="float: left; padding: 12px;">Copyright © 2015, Axact, All rights reserved.</span>
            <span style="float: right"><a title="Axact Media Solution" class="logo">
                <img src="/content/images/producer/logo.png" width="131" height="100%" alt="*"></a></span>
        </p>
    </div>*@

    <!-- Third Party Libs -->
    <script src="/Scripts/lib/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src="/Scripts/lib/jquery.UrduEditor.js"></script>
    <script type="text/javascript" src="/Scripts/lib/teleprompter-jquery-te-1.4.0.js"></script>
    <script type='text/javascript' src="/Scripts/lib/DatePicker.js"></script>
    <script src="/Scripts/lib/jquery.contextMenu.js"></script>
    <script src="/Scripts/lib/jquery.ui.position.js"></script>
    <script src="/Scripts/lib/screen.js"></script>
    <script src="/Scripts/lib/prettify.js"></script>
    <script type='text/javascript' src="/Scripts/lib/bootstrap-multiselect.js"></script>
    <script type='text/javascript' src="/Scripts/lib/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.mockjson.js"></script>
    <script type="text/javascript" src="/Scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/Scripts/lib/TrafficCop.js"></script>
    <script type="text/javascript" src="/Scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/sammy.js"></script>
    <script type="text/javascript" src="/Scripts/lib/sammy.title.js"></script>
    <script type="text/javascript" src="/Scripts/lib/moment.js"></script>
    <script type="text/javascript" src="/Scripts/lib/infuser.js"></script>
    <script type="text/javascript" src="/Scripts/lib/knockout-3.1.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/lib/koExternalTemplateEngine.js"></script>
    <script type="text/javascript" src="/Scripts/lib/knockout.validation.js"></script>
    <script type="text/javascript" src="/Scripts/lib/knockout.dirtyFlag.js"></script>
    <script type="text/javascript" src="/Scripts/lib/knockout.asyncCommand.js"></script>
    <script type="text/javascript" src="/Scripts/lib/knockout.activity.js"></script>
    <script type="text/javascript" src="/Scripts/lib/json2.js"></script>
    <script type="text/javascript" src="/Scripts/lib/amplify.core.js"></script>
    <script type="text/javascript" src="/Scripts/lib/amplify.store.js"></script>
    <script type="text/javascript" src="/Scripts/lib/amplify.request.js"></script>
    <script type="text/javascript" src="/Scripts/lib/cycle2.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/Scripts/lib/string.js"></script>
    <script type="text/javascript" src="/Scripts/lib/require.js"></script>
    <script type="text/javascript" src="/Scripts/lib/jqalert.js"></script>


    <!-- App Libs -->
     
     @Scripts.Render("~/bundles/mock/")      
     @Scripts.Render("~/bundles/common/")      
     @Scripts.Render("~/bundles/managers/")
     @Scripts.Render("~/bundles/models/")
     @Scripts.Render("~/bundles/controls/")   
     @Scripts.Render(" ~/bundles/bindcommon/")  
     @Scripts.Render("~/bundles/teleprompter/")


    <script src="/Scripts/main.teleprompter.js"></script>
    <script src="/Scripts/main.teleprompter.extension.js"></script>
    <script src="/Scripts/T_G_A_C_V.common.rightPanel.js"></script>

</body>
    <script>
        $('.dropdown-menu').click(function (event) {
            event.stopPropagation();
        });

        $(function () {
            if (app) {
                app.getStatusAtLoad();
            }
        });
        </script>
</html>
