﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Axact Media Solution</title>

    <!-- Third Party css -->
    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>*@

    <!-- App css -->
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.producer.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.ticker.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.ticker.extension.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-te-1.4.0.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/UrduEditor.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.producer.extension.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/Scripts/lib/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="scripts/app/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="busyindicator"></div>
    
    @RenderPage("Views/Shell/Ticker/ShellTopNav.cshtml")

    <section id="main" class="container clearfix">

        @RenderPage("Views/Shell/Producer/ShellLeft.cshtml")
        @RenderPage("Views/Shell/Ticker/ShellLeft.cshtml")


        @RenderPage("Views/NewsTicker/BreakingTicker.cshtml")
        @RenderPage("Views/NewsTicker/AlertTicker.cshtml")
        @RenderPage("Views/NewsTicker/CategoryTicker.cshtml")


        @RenderPage("Views/NewsProducer/report.cshtml")

    </section>


    @RenderPage("Views/NewsProducer/Common/Popup.cshtml")

    <!-- Third Party Libs -->
    <script type="text/javascript" src="~/Scripts/lib/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui.js"></script>

    <script type="text/javascript" src="~/Scripts/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery.UrduEditor.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/producer-jquery-te-1.4.0.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/DatePicker.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-multiselect.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mockjson.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/TrafficCop.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.title.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/infuser.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout-3.2.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/koExternalTemplateEngine.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.dirtyFlag.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.asyncCommand.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.activity.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.core.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.store.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.request.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/cycle2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/string.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/require.js"></script>

    <!-- App Libs -->
    @Scripts.Render("~/bundles/mock/")
    @Scripts.Render("~/bundles/common/")
    @Scripts.Render("~/bundles/managers/")
    @Scripts.Render("~/bundles/models/")
    @Scripts.Render("~/bundles/controls/")
    @Scripts.Render("~/bundles/producer/")
    <script type="text/javascript" src="~/Scripts/app/Reporters/common/reporter.appdata.js"></script>
    <script type="text/javascript" src="~/Scripts/main.ticker.js"></script>
</body>
</html>
