﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>BOL News</title>

    <!-- Third Party css -->
    @*<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>*@
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/bluimp/jquery.fileupload-ui.css" rel="stylesheet" />

    <link href="~/Content/css/jquery-te-1.4.0.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/UrduEditor.css" rel="stylesheet" />

    <!-- App css -->
    <link href="~/Content/css/style/style.teama.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.reporters.common.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="~/Scripts/lib/html5.js"></script>
    <![endif]-->

</head>
<body>
   @RenderPage("Views/Shell/Reporters/ShellNewsArrows.cshtml")
       @RenderPage("Views/NewsProducer/Common/Popup.cshtml")
    <div class="mainwrap">
        @RenderPage("Views/Shell/Shared/ShellTop.cshtml")
        @RenderPage("Views/Shell/Shared/ShellTopNav.cshtml")

        @RenderPage("Views/Shell/reporters/ShellLeftPanel.cshtml")
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml","updateNewsLeftRight","Next News","templatePaging.allNextItems","right")
        @RenderPage("Views/shell/reporters/ShellNewsPanel.cshtml","updateNewsLeftRight","Previous News","templatePaging.allPreviousItems","left")

        @*---------------Content Start-----------------*@
        <div class="innerwrap">
            @RenderPage("Views/Shell/reporters/ShellListHeader.cshtml","myNewsPanelHeader")
            @RenderPage("Views/v3/Home.cshtml")
            @RenderPage("Views/v3/ReportNews.cshtml")
            @RenderPage("Views/v3/Shared/submitpackage.cshtml")
            @RenderPage("Views/v3/Shared/MyNews.cshtml")
            @RenderPage("Views/v3/shared/Reports.cshtml")
            @RenderPage("Views/v3/Shared/Updatenews.cshtml")

        </div>
        @*---------------Content End-----------------*@
    </div>
        @RenderPage("Views/v3/Shared/NewsupdatePopup.cshtml")
        @RenderPage("Views/v3/Shared/ThumbNailPopUp.cshtml","reportNews")
        @RenderPage("Views/v3/Shared/ThumbNailPopUp.cshtml","updateNewsLeftRight")
   

   
      

    <!-- Third Party Libs -->

   @Scripts.Render("~/bundles/libs/")

    <!-- App Libs -->

    

     @Scripts.Render("~/bundles/mock/")      
     @Scripts.Render("~/bundles/common/")      
     @Scripts.Render("~/bundles/managers/")
     @Scripts.Render("~/bundles/models/")
     @Scripts.Render("~/bundles/controls/")   
     @Scripts.Render("~/bundles/v3/common/")   
     @Scripts.Render("~/bundles/bindcommon/")  
     @Scripts.Render("~/bundles/v3/")   

    
    

    <script type="text/javascript" src="~/Scripts/main.v3.js"></script>
</body>
</html>
