﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />


    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="~/Content/css/style/style.videowall.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.contextMenu.css" rel="stylesheet" />
	<link href="~/Content/css/videoeditor.css" rel="stylesheet" />


    <title>Axact Media Solution</title>
    <script src="~/Scripts/lib/jquery-2.0.2.min.js"></script>
</head>
<body class="" @*oncontextmenu="return false;"*@>



    <section class="main-section" data-bind="KeyBoardMovement,LoadingBarBolCg:{loadingScreenFlag:$root.loadingScreenFlag},ThemeLoader:{currentTheme:currentTheme},CGDefaultLanguage:{selectedLanguage:selectedLanguage}">

        @RenderPage("~/Views/VideoWall/ShellTop.cshtml")

        @RenderPage("~/Views/VideoWall/LeftPanel.cshtml")

        @RenderPage("~/Views/VideoWall/Rundown.cshtml")

        @RenderPage("~/Views/VideoWall/Controls.cshtml")
        
        @RenderPage("~/Views/VideoWall/WindowPopUp.cshtml") 
         
        @RenderPage("~/Views/VideoWall/SettingsPopUp.cshtml") 

        @RenderPage("~/Views/VideoWall/ReportBug.cshtml") 

        @RenderPage("~/Views/VideoWall/AboutUs.cshtml") 

        @RenderPage("~/Views/VideoWall/LoadingDiv.cshtml")

        @RenderPage("~/Views/VideoWall/RouterPopUp.cshtml") 

    </section>


    <!-- Third Party Libs -->
    
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery.UrduEditor.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/producer-jquery-te-1.4.0.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/DatePicker.js"></script>
    <script src="~/Scripts/lib/jquery.contextMenu.js"></script>
    <script src="~/Scripts/lib/jquery.ui.position.js"></script>
    <script src="~/Scripts/lib/screen.js"></script>
    <script src="~/Scripts/lib/prettify.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-multiselect.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mockjson.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/TrafficCop.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.title.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/infuser.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout-3.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/koExternalTemplateEngine.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.dirtyFlag.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.asyncCommand.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.activity.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.core.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.store.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.request.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/cycle2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/string.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/require.js"></script>
    <script src="~/Scripts/lib/dblclicklib.js"></script>
    <script src="~/Scripts/lib/ShortCutKeysLib.js"></script>
        <script src="~/Scripts/lib/bootstrap-hover-dropdown.js"></script>

    <!-- App Libs -->

    @Scripts.Render("~/bundles/mock/")
    @Scripts.Render("~/bundles/common/")
    @Scripts.Render("~/bundles/managers/")
    @Scripts.Render("~/bundles/models/")
    @Scripts.Render("~/bundles/controls/")
    @Scripts.Render(" ~/bundles/bindcommon/")
    @Scripts.Render("~/bundles/videowall/")


    <script src="~/Scripts/app/controls/control.shortcutkey.js"></script>
    <script src="~/Scripts/main.videowall.js"></script>
    <script src="~/Scripts/T_G_A_C_V.common.rightPanel.js"></script>

</body>
     <script>
         $(function () {
             if (app) {
                 app.getServerStatus();
             }
         });
    </script>
</html>
