<div class="dialogProceed">
    <i class="x-exclaim"></i>
    <p>Do you want to proceed without marking <strong>Primary footages?</strong></p>
    <md-button class="reportButton" ng-click="hide()"><span>Yes</span></md-button>
    <md-button class="reportButton grey" ng-click="hide()"><span>No</span></md-button>
</div>