﻿<section id="filtersocial-view-nmsBol" data-mainsection="true" class="main-content view" >
    <nav style="display: none;"><ul style="display:none;"><!-- ko foreach: {data:$root.newsFilesList()} --><li></li><!-- /ko --></ul>
    </nav>

        <div class="parentNewsDiv hideVoiceOvernTitle filterSocialDiv" data-bind="style: { width: $root.parentWindowCss().freshNewsDivWidth},adjustHeight: true, customScrollBar: { callback: $root.loadNextPage, onTotalScrollOffset: 1500 }" >
           <!-- ko foreach: {data:$root.freshNewsFilesListPortal()} -->
            
           <!-- ko  if: !$data.isVerified() || $data.isVerified() === 'initial' -->
           <!-- ko template: { name: $root.templates.newsfileView, data:$data } -->
           <!-- /ko -->
            <!-- /ko -->

           <!-- /ko -->
        </div>

        <nav class="newsNav clearfix main-navsec">

        <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters" style="margin-left: 760px;">Clear</a>
        <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
        <!-- /ko -->

        <div class="searchBox">
            <div class="form">
                <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                <input type="submit">
            </div>
        </div>
    </nav>
</section>