<!doctype html>
<html ng-app="nmsApp">
<head>
<meta charset="utf-8">
<title>News Reporter</title>
<link rel="shortcut icon" href="favicon.ico" type="image/ico" />
<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
</head>

<body ng-controller="AppCtrl" ng-cloak>
<noscript><div id="jqcheck"><i></i></div></noscript>

<header>

    <a href="index.html" class="logo"><img src="../assets/images/logo.png" width="165" height="50" alt="Logo"></a>

    <div class="nav">
        <ul>
            <li class="active"><a href="#/">Tag News</a></li>
            <li><a href="#news-reviewed">Tagged News</a></li>
        </ul>
    </div>


    <md-menu class="dpmenu rfl" md-position-mode="target-right bottom">
        <md-button aria-label="Channel" ng-click="$mdOpenMenu($event)">
            <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
            <a href="#" class="drpbtn"><i class="x-expand_more"></i></a>
        </md-button>
        <md-menu-content class="dpmenu-drop">
            <h3>Select Channel</h3>
            <div class="scrollDv">
                <md-menu-item>
                    <md-button class="active">
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL News</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Entertainment</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Theatre</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Sports</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Movies</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL News</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Entertainment</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Theatre</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Sports</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <figure><img src="../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                        <span>BOL Movies</span>
                    </md-button>
                </md-menu-item>
            </div>
        </md-menu-content>
    </md-menu>

    <div class="dpinfo rfl">
        <p>Muhammad Azim Khan</p>
        <p>UX &amp; UI Developer</p>
        <figure><img src="http://xerp:305/PortalImages/members/scaled/90/39735.jpg" width="90" height="120" alt="dp"></figure>
    </div>

    <div class="notif rfl">
        <div class="bellico"><i class="x-bell2"></i><span>22</span></div>
    </div>

</header>

<div class="mainBody" ng-scrollbars ng-scrollbars-update="updateScrollbar">

    <ng-view></ng-view>

</div>


<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/material/angular.min.js"></script>
<script src="../assets/js/material/angular-route.min.js"></script>
<script src="../assets/js/material/angular-sanitize.min.js"></script>
<script src="../assets/js/material/angular-animate.min.js"></script>
<script src="../assets/js/material/angular-aria.min.js"></script>
<script src="../assets/js/material/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="../assets/js/material/angular-material.min.js"></script>

<!-- External Library and jQuery Scripts -->
<script src="../assets/js/xlib.js"></script>

<script src="js/controller.js"></script>
<script src="js/script.js"></script>
<script src="js/route.js"></script>

</body>
</html>