﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="MS.Web.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link rel="stylesheet" type="text/css" href="content/style.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
  
    </div>
        <div class="mainwrap">
            <header>
                <section class="clear">
                    <div class="userinfo">
                        <span id="userName">Media Server</span>
                    </div>
                </section>
            </header>
            <div class="innnerwrap">
             
     

        <table style="margin-left:450px; margin-top:200px;">
          <tr>
              <td>
                   <h2>Login</h2>
              </td>
              <td></td>
          </tr>
              <tr>
                <td>UserId</td>
                <td> <asp:TextBox ID="txtUserId" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><asp:TextBox ID="txtPassword" TextMode="Password" runat="server"></asp:TextBox></td>
            </tr>
             <tr>
                <td></td>
                <td><asp:Button ID="btnLogin" Text="Login" runat="server" OnClick="btnLogin_Click"></asp:Button></td>
            </tr>
        </table>
            </div>
        </div>

    </form>
</body>
</html>
