﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestApp.aspx.cs" Inherits="MS.Web.TestApp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   <asp:Label ID="lblError" runat="server"></asp:Label>

        <asp:TextBox ID="txtName" runat="server"> </asp:TextBox> <asp:Button ID="btnCreateBucket" Text="Get Bucket" runat="server"  OnClick="btnCreateBucket_Click"/>
         <asp:Button ID="Button1" Text="Create Bucket" runat="server"  OnClick="Button1_Click"
             />
        <asp:FileUpload  ID="fileupload" runat="server"/>
        <asp:Button  ID="btmSubmit" runat="server" Text="upload" OnClick="btmSubmit_Click"/>
           <asp:Button  ID="btnGetResource" runat="server" Text="Get Resource" OnClick="btnGetResource_Click"/>
    </div>
    </form>
</body>
</html>
