﻿<section id="home-view" data-mainsection="true" class="main-content view" data-bind="adjustHeight: true, customScrollBar: { callback: loadNextPage, onTotalScrollOffset: 1500 }">
      
    
     @*<!-- ko template: {name: $root.templates.newsFileView} -->
     <!-- /ko -->*@


    <!-- ko  if: $root.appdata.currentUser().userType === e.UserType.HeadlineProducer -->
    <div class="main-navsec clearfix">


@*        <div class="ticker-sec" style="min-width: 80px; margin-right:6px; margin-right: 6px;" data-bind="click:function(){ $root.router.navigateTo($root.hashes.bureauTicker) }">
            <a>Ticker</a>
        </div>*@

        <nav class="newsNav clearfix main-navsec" style="margin:0 0 15px 0;" data-bind="filterHover: sourceFilterControl.isPopulated">

            <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
            <!-- /ko -->
            <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters">Clear</a>
            <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
            <!-- /ko -->
        </nav>
    </div>

    <!-- /ko -->
    <!-- ko if: appdata.currentUser().userType == e.UserType.TickerWriter || appdata.currentUser().userType == e.UserType.TickerProducer || appdata.currentUser().userType == e.UserType.TickerManager -->
    <div class="main-navsec clearfix">

        <div class="ticker-sec" data-bind="click:$root.switchView">
            <a data-bind="attr: {href: $root.hashes.myTicker}">Tickers</a>
        </div>

        <nav class="newsNav clearfix main-navsec" data-bind="filterHover: sourceFilterControl.isPopulated">

            <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
            <!-- /ko -->
            <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters">Clear</a>
            <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
            <!-- /ko -->
        </nav>
    </div>

    <!-- /ko -->
    <!-- ko  if: $root.appdata.currentUser().userType !== e.UserType.HeadlineProducer && appdata.currentUser().userType !== e.UserType.TickerWriter  && appdata.currentUser().userType !== e.UserType.TickerProducer && appdata.currentUser().userType !== e.UserType.TickerManager-->

    <nav class="newsNav clearfix main-navsec" data-bind="filterHover: sourceFilterControl.isPopulated">
        <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
        <!-- /ko -->
        <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters">Clear</a>
        <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
        <!-- /ko -->
    </nav>
    <!-- /ko -->

    <div class="totop" style="display: block;" data-bind="scrollToTop:{}">
        <i data-position="454 73" data-pos="1" style="background-position: -454px -73px;"></i>
        <i data-position="485 73" data-pos="1" style="background-position: -485px -73px;"></i>
    </div>

    <section class="boxShadow sectionNews">
        <section class="slide" data-bind="visible: $root.headlines && appdata.currentUser().userType !== e.UserType.TickerWriter && appdata.currentUser().userType !== e.UserType.TickerProducer && appdata.currentUser().userType !== e.UserType.TickerManager && appdata.currentUser().userType !== e.UserType.HeadlineProducer && appdata.currentUser().userType !== e.UserType.Producer && appdata.currentUser().userType !== e.UserType.FReporter, with: $root.headlines">
            <div class="proceedBtn" data-bind="buttonHover: true">
                <img src="~/content/images/producer/banner-arrow.jpg" width="30" height="66">
                <a data-bind="attr: { 'href': $root.hashes.sequence }">Move To Sequence</a>
            </div>
            <div class="bigSlide slider" data-bind="visible: $data && $data.first && !first.isNullo">
                <img onerror="this.src='/content/images/producer/noimage-730x380.jpg'" width="730" height="380" data-bind="attr: { 'src': first.defaultHighResImageUrl }">

                <div class="relatedPost skyBlue" data-bind="visible:first.parentCategories().length > 0"><a href="javascript:;" data-bind="text: first.parentCategories()"></a></div>
                <i class="icon icon-slider" data-bind="click: function (data) { $root.addToNewsBucket(data.first) }, css: { active: first.isUsed }"><a href="javascript:;"></a></i>

                <!-- ko template: { name: $root.templates.headline, data: $data.first } -->
                <!-- /ko -->
            </div>
            <div class="smallSlide slider" data-bind="visible: $data && $data.second && !second.isNullo">
                <span data-bind="text: $data.second"></span>
                <img onerror="this.src='/content/images/producer/noimage-430x190.jpg'" width="430" height="190" data-bind="attr: { 'src': second.defaultHighResImageUrl }">

                <div class="relatedPost red" data-bind="visible:second.parentCategories().length > 0"><a href="javascript:;" data-bind="text: second.parentCategories()"></a></div>
                <i class="icon icon-slider" data-bind="click: function (data) { $root.addToNewsBucket(data.second) }, css: { active: second.isUsed }"><a href="javascript:;"></a></i>

                <!-- ko template: { name: $root.templates.headline, data: $data.second } -->
                <!-- /ko -->
            </div>
            <div class="smallSlide slider" data-bind="visible: $data && $data.third && !third.isNullo">
                <img onerror="this.src='/content/images/producer/noimage-430x190.jpg'" width="430" height="190" data-bind="attr: { 'src': third.defaultHighResImageUrl }">

                <div class="relatedPost purple" data-bind="visible:third.parentCategories().length > 0"><a href="javascript:;" data-bind="text: third.parentCategories()"></a></div>
                <i class="icon icon-slider" data-bind="click: function (data) { $root.addToNewsBucket(data.third) }, css: { active: third.isUsed }"><a href="javascript:;"></a></i>

                <!-- ko template: { name: $root.templates.headline, data: $data.third } -->
                <!-- /ko -->
            </div>
        </section>

        <section class="contentSection">
            <header class="clearfix">
                <h4 data-bind="html: $root.searchGroupName"></h4>
                <div class="searchBox">
                    <p>
                        Refreshed
                        <label data-bind="text: $root.lastUIRefreshDisplayTime"></label>
                    </p>
                    <a href="javascript:;" id="archivalSearchBtn" class="archBtn" title="Turn Archival Search ON" data-bind="click:function(){$root.toggleArchivalSearch()}">
                        <img data-bind="toggleArchivalButton:{}" src="/content/images/producer/archival.png" />
                    </a>
                    <div>
                        <div class="searchIcon"></div>
                        <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                    </div>
                    <a href="javascript:;" title="Grid View"><i class="icon-gridBox" data-bind="click:function(){$root.currentView('gridView')}"></i></a>
                    <a href="javascript:;" title="List View"><i class="icon-refreshed active" data-bind="click:function(){$root.currentView('listView')}"></i></a>
                </div>
            </header>

            <!-- ko if: $root.currentView() == 'gridView' -->
            <section class="clearfix news-grid ">
                <!-- ko template: { name: $root.templates.newsGridView,data: {bunch: bunch}} -->
                <!-- /ko -->
            </section>
            <!-- /ko -->
            <!-- ko if: $root.currentView() == 'listView' -->
            <a id="hiddenData" data-bind="click:$root.addToBucketNews" style="display: none;"></a>
            <!-- ko foreach: bunch -->
            <!-- ko if: $data.isGroupName -->
            <header class="clearfix">
                <h4 data-bind="html: $data.groupName"></h4>
                <!-- ko if: $index() == 0 -->
                <div class="searchBox">
                    <p>Refreshed <span data-bind="text: $root.lastUIRefreshDisplayTime"></span></p>
                    <div>
                        <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                    </div>
                    <a href="javascript:;"><i class="icon-gridBox"></i></a>
                    <a href="javascript:;"><i class="icon-refreshed"></i></a>
                </div>
                <!-- /ko -->
            </header>
            <!-- /ko -->
            <!-- ko if: !$data.isGroupName -->
            <section class="newTemplate latestNews clearfix" data-bind="visible:(bunchNews().length > 0 && $root.currentView() == 'listView'), newsDrag: { news: topNews(), callback: $root.addToNewsBucket, canAddNews: $root.appdata.canAddNews,isReadOnly:$root.newsDragIsReadOnly() }">
                <article>
                    <div class="leftNews">
                        <a href="javascript:;" data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.FReporter"><i class="icon-correct" data-bind="click: function (data) { $root.addToNewsBucket(data.topNews()) }, css: { active: topNews().isUsed }"></i></a>
                        <a href="javascript:;" style="top: 28px;position: absolute;left: 6px;" data-bind="visible:$data.topNews().sourceTypeId === 7 || $data.topNews().sourceTypeId === 8 || $data.topNews().sourceTypeId === 6 || $data.topNews().sourceTypeId === 10,click: function (data) { $root.editSelected($data); }"><i title="Edit News" class="icon-proIcon-18"></i></a>
                        <div class="tempClass newsImage" data-bind="css:{'thumbFRcss':$root.appdata.currentUser().userType===$root.e.UserType.FReporter}">
                            <figure>
                                <img data-bind="attr: { src: topNews().defaultImageUrl }" width="133" height="75" alt="News" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'" />
                            </figure>
                        </div>
                    </div>
                    <div class="contentScare" data-bind="css: { urduContent: $data.topNews().languageCode == 'ur' }">
                        <h2><a href="javascript:void(0);" data-bind="html:' '+topNews().slug(), click: function (data) { $root.setCurrentNews(data) }"></a> <span data-bind="visible:topNews().slug()"> : </span> <a href="javascript:void(0);" data-bind="html:' '+topNews().title(), click: function (data) { $root.setCurrentNews(data) }"></a></h2>

                        <!-- ko template: {name: $root.templates.newsInfo, data : $data.topNews() } -->
                        <!-- /ko -->

                           <span style="margin:2px 2px;" data-bind="visible: bunchCountDisplay() > 0,css:{'relatedStoriesCssUrdu' : $data.topNews().languageCode == 'ur','relatedStoriesCssEnglish' : $data.topNews().languageCode == 'en'}" class="relStoryCount"  ><span class="relStoryCount" data-bind="text: bunchCountDisplay(),visible: bunchCountDisplay() > 0" style="background-color:#3079ed;color:#fff;padding:0px 5px;"></span>Related Stories </span>

                         <!-- ko template: { name: $root.templates.newsStatsControl, data: $data.topNews() } -->
                            <!-- /ko -->

                        @*<p data-bind="html:' '+topNews().shortDescription()"></p>*@

                        <!-- ko template: {name: 'news.item.contentfooter', data : {tmplName: $root.contentFooterTmplName, items: $data.topNews() } } -->
                        <!-- /ko -->
                    </div>
                </article>
                
                <aside class="allRelated">
                    
                    @*<div class="allStories" data-bind="visible: relatedNews().length > 0">
                        <div class="storiesColume">
                            <a href="javascript:;" data-bind="click:$root.setCurrentBunch"><i class="icon-allStories"></i></a>
                        </div>
                    </div>

                    <ul class="storiesIcons showToolTip">
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(41)},toggleState:true" title="Field Reporter"><a href="javascript:;"><i class="icon-storPeople"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(47)},toggleState:true" title="Packages"><a href="javascript:;"><i class="icon-storVideo"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(52)},toggleState:true" title="Wires"><a href="javascript:;"><i class="icon-storSearch"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(28)},toggleState:true" title="Other Newspaper"><a href="javascript:;"><i class="icon-storBook"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(14)},toggleState:true" title="Other Websites"><a href="javascript:;"><i class="icon-storWorld"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(56)},toggleState:true" title="Other TV Channels"><a href="javascript:;"><i class="icon-storTv"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(24)},toggleState:true" title="Social Media"><a href="javascript:;"><i class="icon-storComment"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(66)},toggleState:true" title="Records"><a href="javascript:;"><i class="icon-storStore"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(61)},toggleState:true" title="Press Release"><a href="javascript:;"><i class="icon-storShop"></i></a></li>
                    </ul>
                    <ul class="storiesForm">
                        <li>
                            <div>
                                <input type="text" data-bind="value:searchKeywords, valueUpdate: 'afterkeydown'">
                                <input type="submit">
                            </div>
                        </li>
                    </ul>
                    <ul data-bind="foreach: topRelatedNews">
                        <li class="clearfix">
                            <figure>
                                <img data-bind="attr: { src: defaultImageUrl }" width="45" height="25" alt="" onerror="this.src = '/content/images/producer/noimage-45x25.jpg'">
                            </figure>
                            <div class="storiesRight" data-bind="css: { urduContent: $data.languageCode == 'ur' }">
                                <h3><a href="javascript:;" data-bind="trimText: { text: title(), length: 50 }, click: function (data) { $root.setCurrentNews(data, true) }"></a></h3>
                                <ul>
                                    <!-- ko if: source -->
                                    <li><i class="icon-meet" data-bind="css: newsTypeImage"></i><a data-bind="html: source"></a></li>
                                    <!-- /ko -->
                                    <li data-bind="html: publishDisplayTime"></li>
                                </ul>
                                <p><a data-bind="html: updatesCountMsg"></a></p>
                            </div>
                        </li>
                    </ul>*@
                </aside>

                <div class="cancellationBox" id="news12345">
                    <h3><i></i><span>Comments/Audio</span><span style="margin-left: 203px; text-decoration-style: double; cursor: pointer" data-bind="closeAudioPlayer,click:$root.closeAudioToolTip">X</span></h3>
                    <div class="tabs">
                        <div class="addscroll">
                            <p data-bind="html:$root.audioComments"></p>
                        </div>
                    </div>
                    <audio style="width: 372px; margin-top: 33px;" id="audioplayer" data-bind="attr:{src: $root.selectedAudioClip}" controls></audio>
                </div>
            </section>


            @* <section class="latestNews clearfix" data-bind="visible:(bunchNews().length > 0 && $root.currentView() == 'listView'), newsDrag: { news: topNews(), callback: $root.addToNewsBucket, canAddNews: $root.appdata.canAddNews,isReadOnly:$root.newsDragIsReadOnly() }">
                <article>
                    <div class="leftNews">
                        <a href="javascript:;"><i class="icon-correct" data-bind="click: function (data) { $root.addToNewsBucket(data.topNews()) }, css: { active: topNews().isUsed }"></i></a>
                        <div class="newsImage">
                            <figure>
                                <img data-bind="attr: { src: topNews().defaultImageUrl }" width="133" height="75" alt="News" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'" />
                            </figure>

                            <!-- ko template: { name: $root.templates.newsStatsControl, data: $data.topNews() } -->
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="contentScare" data-bind="css: { urduContent: $data.topNews().languageCode == 'ur' }">
                        <h2><a href="javascript:void(0);" data-bind="html:' '+topNews().title(), click: function (data) { $root.setCurrentNews(data) }"></a></h2>

                        <!-- ko template: {name: $root.templates.newsInfo, data : $data.topNews() } -->
                        <!-- /ko -->

                        <p data-bind="html:' '+topNews().shortDescription()"></p>

                        <!-- ko template: {name: 'news.item.contentfooter', data : {tmplName: $root.contentFooterTmplName, items: $data.topNews() } } -->
                        <!-- /ko -->
                    </div>
                </article>
                <aside class="allRelated">
                    <h2>All Related Stories <span data-bind="text: bunchCountDisplay()"></span></h2>
                    <div class="allStories" data-bind="visible: relatedNews().length > 0">
                        <div class="storiesColume">
                            <a href="javascript:;" data-bind="click:$root.setCurrentBunch"><i class="icon-allStories"></i></a>
                        </div>
                    </div>

                    <ul class="storiesIcons showToolTip">
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(41)},toggleState:true" title="Field Reporter"><a href="javascript:;"><i class="icon-storPeople"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(47)},toggleState:true" title="Packages"><a href="javascript:;"><i class="icon-storVideo"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(52)},toggleState:true" title="Wires"><a href="javascript:;"><i class="icon-storSearch"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(28)},toggleState:true" title="Other Newspaper"><a href="javascript:;"><i class="icon-storBook"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(14)},toggleState:true" title="Other Websites"><a href="javascript:;"><i class="icon-storWorld"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(56)},toggleState:true" title="Other TV Channels"><a href="javascript:;"><i class="icon-storTv"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(24)},toggleState:true" title="Social Media"><a href="javascript:;"><i class="icon-storComment"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(66)},toggleState:true" title="Records"><a href="javascript:;"><i class="icon-storStore"></i></a></li>
                        <li data-bind="click:function(){$root.setCurrentBunchFilters(61)},toggleState:true" title="Press Release"><a href="javascript:;"><i class="icon-storShop"></i></a></li>
                    </ul>
                    <ul class="storiesForm">
                        <li>
                            <div>
                                <input type="text" data-bind="value:searchKeywords, valueUpdate: 'afterkeydown'">
                                <input type="submit">
                            </div>
                        </li>
                    </ul>
                    <ul data-bind="foreach: topRelatedNews">
                        <li class="clearfix">
                            <figure>
                                <img data-bind="attr: { src: defaultImageUrl }" width="45" height="25" alt="" onerror="this.src = '/content/images/producer/noimage-45x25.jpg'">
                            </figure>
                            <div class="storiesRight" data-bind="css: { urduContent: $data.languageCode == 'ur' }">
                                <h3><a href="javascript:;" data-bind="trimText: { text: title(), length: 50 }, click: function (data) { $root.setCurrentNews(data, true) }"></a></h3>
                                <ul>
                                    <!-- ko if: source -->
                                    <li><i class="icon-meet" data-bind="css: newsTypeImage"></i><a data-bind="html: source"></a></li>
                                    <!-- /ko -->
                                    <li data-bind="html: publishDisplayTime"></li>
                                </ul>
                                <p><a data-bind="html: updatesCountMsg"></a></p>
                            </div>
                        </li>
                    </ul>
                </aside>

                <div class="cancellationBox" id="news12345">
                    <h3><i></i><span>Comments/Audio</span><span style="margin-left: 203px; text-decoration-style: double; cursor: pointer" data-bind="closeAudioPlayer,click:$root.closeAudioToolTip">X</span></h3>
                    <div class="tabs">
                        <div class="addscroll">
                            <p data-bind="html:$root.audioComments"></p>
                        </div>
                    </div>
                    <audio style="width: 372px; margin-top: 33px;" id="audioplayer" data-bind="attr:{src: $root.selectedAudioClip}" controls></audio>
                </div>
            </section>*@

            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </section>
    </section>
</section>