﻿@{
    Layout = null;
}

@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
   @* <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />*@

    <title>Media Server</title>
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
    <script src="~/Scripts/lib/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div class="mainwrap">
            <header>
                <section class="clear">
                    <div class="userinfo">
                        <span id="userName">Media Server</span>
                       <div  id="shell-view" data-bind="with:menuHashes" class="topmenu">
                                   <span ><a data-bind="attr: {href: home}">Home</a></span>
                                   <span ><a data-bind="attr: {href: bucket}">Bucket</a></span>
                       </div>
                    </div>
                </section>
            </header>

       @RenderPage("Login.cshtml")
       @RenderPage("home.cshtml")
       @RenderPage("Bucket.cshtml")

    </div>

    <!-- Third Party Libs -->
    <script type="text/javascript" src="~/Scripts/lib/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/jquery.UrduEditor.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/producer-jquery-te-1.4.0.js"></script>

    <script type='text/javascript' src="~/Scripts/lib/bootstrap-multiselect.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/jquery.mockjson.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/TrafficCop.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/sammy.title.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/infuser.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/koExternalTemplateEngine.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.validation.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.dirtyFlag.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.asyncCommand.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/knockout.activity.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.core.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.store.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/amplify.request.js"></script>
    <script type='text/javascript' src="~/Scripts/lib/DatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/cycle2.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/string.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/require.js"></script>
@*    @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/jsextlibs",
        "~/Scripts/lib/require.js"
    )*@

    <!-- App Libs -->

    @Scripts.Render("~/bundles/common/")
    @Scripts.Render("~/bundles/managers/")
    @Scripts.Render("~/bundles/models/")
    @Scripts.Render("~/bundles/web/")

    <script type="text/javascript" src="~/Scripts/main.js"></script>

</body>
</html>

