﻿@model MS.Web.Models.BucketModel
@{
    ViewBag.Title = "Add Bucket";
}

@*<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add NuGet packages and jump-start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>
</div>*@



            <div class="innnerwrap">
               
                   @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
                     
                      
                 <table>
                    <tr>
                        <td colspan="2" align="center" class="padding"><h1>Add Bucket</h1></td>
                    </tr>
                    <tr>
                        <td class="padding">Name</td>
                        <td class="padding">  @Html.TextBoxFor(m => m.Name) </td>
                    </tr>
                    <tr>
                        <td class="padding">Path</td>
                        <td class="padding"> @Html.TextBoxFor(m => m.Path)   </td>
                    </tr>
                    <tr>
                        <td class="padding">Enable AutoSynchronization</td>
                        <td class="padding"> @Html.CheckBoxFor(m => m.isAutoSynchronized)</td>
                    </tr>
                    <tr>
                        <td class="padding">Size</td>
                        <td class="padding">@Html.TextBoxFor(m=>m.Size)  @*<asp:TextBox ID="txtSize" runat="server">*@</td>
                    </tr>
                    <tr>
                        <td class="padding">Requested Server</td>
                        <td class="padding"> @Html.DropDownListFor(m=>m.ServerId, new SelectList(Model.Servers, "ServerId", "ServerIp", 0), "Please select server")  </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding">  <input type="submit"  value="Submit"/>  @*<asp:Button ID="btnSubmit" runat="server" Text="Add" OnClick="btnSubmit_Click" />*@</td>
                    </tr>
                     
              </table>
                       <table>
                           <thead>
                               <th>Bucket Name</th>
                               <th>Login Id</th>
                               <th>Bucket Id</th>
                               <th>Api Key</th>
                           </thead>
                           <tbody>
                          @foreach (var item in Model.Buckets)
                            {
	                            <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                     <td>
                                        @item.LoginId
                                    </td>
                                    <td>
                                        @item.BucketId
                                    </td>
                                    <td>
                                        @item.ApiKey
                                    </td>
	                            </tr> 
                            }
                            </tbody>
                       </table>
                   }  


            @*  @using (Html.BeginForm("ShowBuckets", "Home",FormMethod.Get))
              {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
                   <input type="submit"  value="Show All Buckets"/>   
                  <div id="buckets"></div>
               }*@

            </div>
 