﻿  <section id="login-view" class="loginwrap view">
    <table>
        <tr>
            <td colspan="2" align="center" class="padding"><h1>Login</h1></td>
        </tr>
        <tr>
            <td class="padding">LoginId</td>
            <td class="padding"> <input data-bind="value:loginid" type="text" /> </td>
        </tr>
        <tr>
            <td class="padding">ApiKey</td>
            <td class="padding"> <input data-bind="value:apikey" type="text" />  </td>
        </tr>
        <tr align="right">
            <td colspan="2" class="padding">  <input data-bind="click:Login" type="submit"/> </td>
        </tr>   
    </table> 
</section>