﻿<section id="newsFlow-view" data-mainsection="true" class="main-content view" style="width: 100%; margin-left: 0px;">
    <!-- ko template: {name: $root.templates.contextMenu} -->
    <!-- /ko -->
    <!-- ko template: {name: 'newsfile.copyfile'} -->
    <!-- /ko -->

    <!-- ko template: {name: 'newsfile.changestatusfile'} -->
    <!-- /ko -->

    <div data-layout='{"type": "border", "hgap": 3, "vgap": 3}' id="ContainerDiv" class="layoutMain">
        <div class="sliderDiv">

            <div class="insideDiv">
                <div class="newsFileHeader">
                    <span class="change">All News<img src="~/Content/images/producer/Triangle-Right.png" style="height: 15px;" /></span>
                </div>
                <div class="newsFileMain" data-bind="customScrollBar:true" style="max-height: 545px;">
                    <!-- ko template: {name: $root.templates.newsFileView,foreach: $root.allNewsFiles} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="sliderDiv">

            <div class="insideDiv">
                <div class="newsFileHeader">
                    <span class="change">My Folder<img src="~/Content/images/producer/Triangle-Right.png" style="height: 15px;" /></span>
                    <select data-bind="options:myFolderSelectList,optionsText: 'name',value:$root.currentSelectedMyFolder,optionsValue: 'id'"></select>
                </div>
                <div class="newsFileMain" data-bind="customScrollBar:true" style="max-height: 545px;">
                    <!-- ko template: {name: $root.templates.newsFileView,foreach: $root.myFolderDataList} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="sliderDiv" data-bind="visible:$root.isRundownSectionVisible">

            <div class="insideDiv">
                <div class="newsFileHeader">
                    <input type="button" value="Create" data-bind="click:$root.openRundownFolderCreation" class="createFileBtn" />
                    <span class="change">Rundown<img src="~/Content/images/producer/Triangle-Right.png" style="height: 15px;" /></span>
                    <select data-bind=" options:rundownSelectList,optionsText: 'name',value:$root.currentSelectedRundownFolder,optionsValue: 'id'"></select>
                </div>
                <div class="newsFileMain" style="max-height: 545px;" data-bind="sortableList: { stories: $root.rundownDataList, callback: $root.reArrangeNewsFile}">
                    <!-- ko template: {name: $root.templates.newsFileView,foreach: $root.rundownDataList} -->
                    <!-- /ko -->
                </div>
            </div>
            <div class="sendTobroadCast" style="width: 10%; height: 5%; border: 1px solid gray; top: 537px; position: absolute;margin-left: 190px; background-color: rgb(23, 108, 238); color: white; padding-top: 10px; font-weight: bold;cursor:pointer;" data-bind="click:$root.sendToBroadCast">
                Send To BroadCast
            </div>
        </div>
        <div class="sliderDiv" id="DetailView" style="height: 97% !important;">
            <div data-bind="with:$root.reportnewsView1">
                <div style="width: 100%; height: 29px;" class="uploadNewsFlow">

                    <div class="newEditor template1">
                        <div class="toolBar">
                            <span class="iframeFE" title="Cancel" data-bind="click: $data.cancelNewsFile" style="background: url(/content/images/producer/cancel1.png) no-repeat; margin-top: -8px; width: 32px; margin-top: -10px;"></span>
                            <span class="attachment" title="Create" data-bind="click: $data.createNewFile" style="background: url(/content/images/producer/createNewsFile.png) no-repeat; width: 26px; height: 26px; margin-top: -12px; margin-top: -10px;"></span>
                            <span class="iframeFE" title="Update" data-bind="visible:$data.isEditedApply(),click: $data.updateNewsFile" style="background: url(/content/images/producer/save_btn.png) no-repeat; margin-top: -10px; transform: scale(0.8);"></span>
                            <span class="iframeFE" title="Copy To" data-bind="editableNewsCopy:{'selectedFile':$data.currentEditableNewsFile()}" style="background: url(/content/images/producer/copyicon.png) no-repeat; margin-top: -7px; margin-top: -10px; /* transform: scale(0.9); */"></span>
                            <!--ko if:$data.currentEditableNewsFile()-->
                            <span class="iframeFE1 newsfileredstatus" title="Mark Color" data-bind="editableNewsStatus:{'selectedFile':$data.currentEditableNewsFile()},css:$data.currentEditableNewsFile().statusCSS()" style="margin-top: -7px; margin-top: -8px; width: 26px; height: 23px;"></span>
                            <!-- /ko -->
                            <span data-bind="html:$data.currentEditableNewsFile() && $data.currentEditableNewsFile().folderNameDisplay()" style="margin-top: -5px; float: left;">NMS Producer</span>
                            <span class="attachment sec1" title="Attachment" data-bind="click: $root.openAttachment1" style="width: 26px; height: 26px; margin-top: -12px; margin-top: -10px;"></span>

                            <span class="iframeFE" title="Media Resource" data-bind="click:$root.viewMediaArchivalResource" style="width: 26px; /* height: 14px; */ margin-top: -16px; margin-left: 155px; position: absolute;"></span>
                            <span class="iframeFE" title="File History" data-bind="click:$root.viewNewsFileHistory" style="width: 19px; height: 18px; margin-top: -7px; margin-left: 129px; position: absolute; background: none; border: 1px solid gray; background-color: #ADD3F5; /* font-size: x-large; */font-weight: 800;">H</span>
                        </div>
                        <!-- ko template:{name:'usercontrol.editor', data:editor} -->
                        <!-- /ko -->
                    </div>
                    <div style="width: 100%; position: relative; z-index: 1000; border: 1px solid gray; top: 295px; background-color: rgb(240, 248, 255); height: 894%;" class="uploadedResources uploadResources1">
                        <!-- ko template: {name:'newsfileresource.thumb', data: uploader} -->
                        <!-- /ko -->
                        <div class="uploadprogress" data-bind="with: uploader">
                            <div data-bind="style{display:finished()==false?'none':'block'}">
                                <span>
                                    <label data-bind="html:resources().length"></label>
                                    Files Uploading (<label data-bind="html:uploadProgress"></label>)</span>
                                <div class="progress">
                                    <div class="bar" data-bind="style:{width: uploadProgress}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 29px;" class="uploadNewsFlow">
                    <div class="newEditor">
                        <div class="toolBar">
                            <input type="text" placeholder="Slug" title="Slug" data-bind="value:$data.Slug, valueUpdate: 'afterkeydown'" style="width: 220px; color: rgb(45, 41, 41); display: block; position: absolute; margin-top: -8px; height: 25px; border: 1px solid gray; margin-left: 2px;">
                            <span data-bind="html:$data.currentEditableNewsFile() && $data.currentEditableNewsFile().reportedByDisplay()" style="margin-top: -5px;"></span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 300px; border-bottom: 2px solid white;">
                    <textarea placeholder="تفصیل" data-bind="setUrduEditorForKeys:{},value:$data.newsFileDescription,valueUpdate: 'afterkeydown'" style="position: relative; float: left; width: 100%; border: 1px solid rgb(181, 181, 181); background-color: whitesmoke; height: 265px; top: -3px;"></textarea>
                </div>
            </div>
            <div data-bind="with:$root.reportnewsView2" style="display: none !important">
                <div style="width: 100%; height: 29px;" class="uploadNewsFlow">
                    <div class="newEditor template2">
                        <div class="toolBar">

                            <span class="iframeFE" title="Cancel" data-bind="click: $data.cancelNewsFile" style="background: url(/content/images/producer/cancel1.png) no-repeat; margin-top: -8px; width: 32px; margin-top: -10px;"></span>
                            <span class="attachment" title="Create" data-bind="click: $data.createNewFile" style="background: url(/content/images/producer/createNewsFile.png) no-repeat; width: 26px; height: 26px; margin-top: -12px; margin-top: -10px;"></span>
                            <span class="iframeFE" title="Update" data-bind="visible:$data.isEditedApply(),click: $data.updateNewsFile" style="background: url(/content/images/producer/save_btn.png) no-repeat; margin-top: -10px; transform: scale(0.8);"></span>
                            <span class="iframeFE" title="Copy To" data-bind="editableNewsCopy:{'selectedFile':$data.currentEditableNewsFile()}" style="background: url(/content/images/producer/copyicon.png) no-repeat; margin-top: -7px; margin-top: -10px;"></span>

                            <!--ko if:$data.currentEditableNewsFile()-->
                            <span class="iframeFE1 newsfileredstatus" title="Mark Color" data-bind="editableNewsStatus:{'selectedFile':$data.currentEditableNewsFile()},css:$data.currentEditableNewsFile().statusCSS()" style="margin-top: -7px; margin-top: -8px; width: 26px; height: 23px;"></span>
                            <!-- /ko -->
                            <span data-bind="html:$data.currentEditableNewsFile() && $data.currentEditableNewsFile().folderNameDisplay()" style="margin-top: -5px; float: left;">NMS Producer</span>
                            <span class="attachment sec2" title="Attachment" data-bind="click: $root.openAttachment2" style="width: 26px; height: 26px; margin-top: -12px; margin-top: -10px;"></span>
                            <span class="iframeFE" title="File History" data-bind="click:$root.viewNewsFileHistory" style="width: 19px; height: 18px; margin-top: -7px; margin-left: 129px; position: absolute; background: none; border: 1px solid gray; background-color: #ADD3F5; /* font-size: x-large; */font-weight: 800;">H</span>
                        </div>
                        <!-- ko template:{name:'usercontrol.editor', data:editor} -->
                        <!-- /ko -->
                    </div>
                    <div data-bind="visible:$root.isSec2ResourcesVisible" style="width: 24.5%; position: absolute; z-index: 1000; border: 1px solid gray; background-color: aliceblue; top: 399px;" class="uploadedResources uploadResources2">
                        <!-- ko template: {name:'newsfileresource.thumb', data: uploader} -->
                        <!-- /ko -->
                        <div class="uploadprogress" data-bind="with: uploader">
                            <div data-bind="style{display:finished()==false?'none':'block'}">
                                <span>
                                    <label data-bind="html:resources().length"></label>
                                    Files Uploading (<label data-bind="html:uploadProgress"></label>)</span>
                                <div class="progress">
                                    <div class="bar" data-bind="style:{width: uploadProgress}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="width: 100%; height: 29px;" class="uploadNewsFlow">
                    <div class="newEditor">
                        <div class="toolBar">
                            <input type="text" placeholder="Slug" title="Slug" data-bind="value:$data.Slug,valueUpdate: 'afterkeydown'" style="width: 220px; color: rgb(45, 41, 41); display: block; position: absolute; margin-top: -8px; height: 25px; border: 1px solid gray; margin-left: 2px;">
                            <span data-bind="html:$data.currentEditableNewsFile() && $data.currentEditableNewsFile().reportedByDisplay()" style="margin-top: -5px;"></span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 300px; border-bottom: 2px solid white;">
                    <textarea placeholder="تفصیل" data-bind="setUrduEditorForKeys:{},value:$data.newsFileDescription,valueUpdate: 'afterkeydown'" style="position: relative; float: left; width: 100%; border: 1px solid rgb(181, 181, 181); background-color: whitesmoke; height: 263px; top: -3px;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="CreateFile" data-bind="visible:$root.reportnewsView1.isGetMediaArchivalData" style="position: absolute; width: 91%; height: 378px; display: none; top: 38px; z-index: 1000000; left: 72px; border: 1px solid white; background-color: rgb(167, 167, 167);">
        <div class="xPopCreateFile close" data-bind="click:$root.closeMediaArchivalView"></div>
          <iframe id="popupIframeFExp" src="http://localhost:40463/producer#/producer-archivalmedia?isiframe" style="width: 99%; height: 96%; position: absolute;"></iframe>
    </div>
    <div class="CreateFile" data-bind="visible:$root.reportnewsView1.isReportedMedia" style="position: absolute; width: 91%; height: 378px; display: none; top: 38px; z-index: 1000000; left: 72px; border: 1px solid white; background-color: rgb(167, 167, 167);">
        <div class="xPopCreateFile close" data-bind="click:$root.closeReportedMedia"></div>
        <div data-bind="visible:$root.reportnewsView1.isReportMediaTypeImage">
            <img style="display: block; margin: auto; max-width: 91%; max-height: 378px;" data-bind="attr:{src: $root.reportnewsView1.reportedMediaUrl}" />

        </div>
        <div data-bind="visible:$root.reportnewsView1.isReportMediaTypeVideo">
            <video class="videoPlayer" data-bind="attr:{src:$root.reportnewsView1.reportedMediaUrl}" controls="controls" autoplay="autoplay" style="display: block; margin: auto; max-width: 91%; max-height: 378px;">
                <source type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="CreateFile" data-bind="visible:$root.reportnewsView1.isNewsFileHistoryVisible" style="position: absolute; display: none; width: 50%; height: 365px; top: 110px; z-index: 1000000; left: 340px; border: 1px solid white; background-color: rgb(167, 167, 167);">
        <div class="xPopCreateFile close" data-bind="click:$root.closeNewsFileHistoryView"></div>
        <div style="position: relative; width: 100%; background-color: #BEC9BE; height: 100%; float: left;">
            <h1 style="text-align: center; cursor: pointer; color: white; font-size: large; font-weight: 600; float: left; margin-left: 10px; background-color: gray; padding-right: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;" data-bind="click:$root.showFileDetailHistory,css:{'tabactive': $root.viewFileDetailHistory()}">File Detail History</h1>
            <h1 style="text-align: center; cursor: pointer; color: white; font-size: large; font-weight: 600; float: left; margin-left: 10px; background-color: gray; padding-right: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;" data-bind="click:$root.showFileStatusHistory,css:{'tabactive': $root.viewFileStatusHistory()}">File Status History</h1>
            <div data-bind="visible:$root.viewFileStatusHistory" style="position: absolute; width: 100%; top: 50px; left: -134px; display: block;">
                <ul data-bind="foreach:$root.reportnewsView1.newsFileStatusHistory()">
                    <!-- ko if: $data.statusId == '1' -->
                    <li style="width: 30%; height: 5%; position: relative; /* top: 36px; */margin-left: 140px; margin-top: 5px;">
                        <span data-bind="html:$data.creationDateDisplay"></span>
                        <div style="background: red; height: 9px; width: 9px; display: inline-block;"></div>
                    </li>
                    <br />
                    <!-- /ko -->

                    <!-- ko if: $data.statusId == '2' -->
                    <li style="width: 30%; height: 5%; position: relative; margin-left: 140px; margin-top: 5px;">
                        <span data-bind="html:$data.creationDateDisplay"></span>
                        <div style="background: blue; height: 9px; width: 9px; display: inline-block;"></div>
                    </li>
                    <br />
                    <!-- /ko -->

                    <!-- ko if: $data.statusId == '3' -->
                    <li style="width: 30%; height: 5%; position: relative; margin-left: 140px; margin-top: 5px;">
                        <span data-bind="html:$data.creationDateDisplay"></span>
                        <div style="background: yellow; height: 9px; width: 9px; display: inline-block;"></div>
                    </li>
                    <br />
                    <!-- /ko -->

                    <!-- ko if: $data.statusId == '4' -->
                    <li style="width: 30%; height: 5%; position: relative; margin-top: 5px; margin-left: 140px;">
                        <span data-bind="html:$data.creationDateDisplay"></span>
                        <div style="background: green; height: 9px; width: 9px; display: inline-block;"></div>
                    </li>
                    <br />
                    <!-- /ko -->
                </ul>
            </div>

            <div data-bind="visible:$root.viewFileDetailHistory" style="position: absolute; width: 100%; top: 50px; left: -134px; display: block;">
                <ul data-bind="foreach:$root.reportnewsView1.newsFileDetailHistory()">
                    <li style="width: 100%; height: 5%; position: absolute; left: 146px; margin-top: 24px; color: black;">
                        <label style="font-weight: bold">SLUG :</label>
                        <span data-bind="html:$data.slug"></span>
                        <label style="font-weight: bold">Text :</label>
                        <span data-bind="html:$data.text"></span>
                        <label style="font-weight: bold">CreatedBy :</label>
                        <span data-bind="html:$data.createdByDisplay"></span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="CreateFile" data-bind="visible:$root.reportnewsView1.isCreateFile,with:$root.reportnewsView1" style="display: none; position: absolute; width: 56%; height: 66%; top: 116px; z-index: 1000000; left: 300px; border: 1px solid white; background-color: rgb(167, 167, 167);">
        <div class="xPopCreateFile close" data-bind="click:$data.closePopUp"></div>
        <input type="text" placeholder="Slug" style="height: 40px; margin: 10px; width: 95%; font-size: 20px" data-bind="value:$data.Slug">
        <input type="text" placeholder="عنوان" style="height: 40px; margin: 10px; width: 95%; font-size: 22px !important;" data-bind="setUrduEditorForKeys:{},value:$data.newFileTitle">
        <textarea style="height: 80px; margin: 10px; width: 95%;" placeholder="تفصیل" data-bind="setUrduEditorForKeys:{},$data.newsFileDescription"></textarea>

        <div class="newsFile tags autosuggestfilter" style="height: 40px; margin: 10px; width: 95%;">
            <div class="tagsinput" style="width: auto; height: 40px; margin: 10px; width: 95%;">
                <!-- ko if: category()!='' -->
                <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: category()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="newsFile tags autosuggestfilter" style="height: 40px; margin: 10px; width: 95%;">
            <div class="tagsinput" style="width: auto; height: 40px; margin: 10px; width: 95%;">
                <!-- ko if: location()!='' -->
                <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: location()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind=" value: location, autoComplete:{source: locationSource,selected: selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>
        @*        <input type="button" value="Create" style="float: right; margin-right: 31px; width: 10%; height: 12%;" data-bind="click:$data.submitNewFile">*@
    </div>
    <div class="CreateFile" data-bind="visible:$root.reportnewsView2.isCreateFile,with:$root.reportnewsView2" style="display: none; position: absolute; width: 56%; height: 66%; top: 116px; z-index: 1000000; left: 300px; border: 1px solid white; background-color: rgb(167, 167, 167);">
        <div class="xPopCreateFile close" data-bind="click:$data.closePopUp"></div>
        <input type="text" placeholder="Slug" style="height: 40px; margin: 10px; width: 95%; font-size: 20px" data-bind="value:$data.Slug">
        <input type="text" placeholder="عنوان" style="height: 40px; margin: 10px; width: 95%; font-size: 22px !important;" data-bind="setUrduEditorForKeys:{},value:$data.newFileTitle">
        <textarea style="height: 80px; margin: 10px; width: 95%;" placeholder="تفصیل" data-bind="setUrduEditorForKeys:{},$data.newsFileDescription"></textarea>

        <div class="newsFile tags autosuggestfilter" style="height: 40px; margin: 10px; width: 95%;">
            <div class="tagsinput" style="width: auto; height: 40px; margin: 10px; width: 95%;">
                <!-- ko if: category()!='' -->
                <span class="tag"><span data-bind="text:category"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedCategory({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: category()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind="value: category, autoComplete:{source: categorySource,selected: selectedCategory}" tabindex='2' placeholder="Enter Category" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="newsFile tags autosuggestfilter" style="height: 40px; margin: 10px; width: 95%;">
            <div class="tagsinput" style="width: auto; height: 40px; margin: 10px; width: 95%;">
                <!-- ko if: location()!='' -->
                <span class="tag"><span data-bind="text:location"></span><a href="javascript:void(0)" title="Removing tag" data-bind="click:function(){selectedLocation({});}">x</a></span>
                <!-- /ko -->
                <!-- ko if: location()=='' -->
                <div>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
                    <input data-bind=" value: location, autoComplete:{source: locationSource,selected: selectedLocation}" tabindex='3' placeholder="Enter Location" style="color: rgb(180, 180, 180); width: 145px;" class="ui-autocomplete-input notAdd" autocomplete="off">
                </div>
                <!-- /ko -->
            </div>
        </div>
        @*  <input type="button" value="Create" style="float: right; margin-right: 31px; width: 10%; height: 12%;" data-bind="click:$data.submitNewFile">*@
    </div>
    <div data-bind="visible:$root.isViewResource,with:$root.currentResource" class="nmsFileResourceViewer" style="display: none">

        <div class="xPopCreateFile close" data-bind="click:$root.closeResourceView"></div>
        <!-- ko if: $data.type === $root.e.ContentType.Image -->
        <img data-bind="attr:{src:$data.url}" onerror="this.src='/content/images/producer/noimage-730x380.jpg'" class="mainimg" style="width: 100%; height: 100%;">
        <!-- /ko -->

        <!-- ko if: $data.type === $root.e.ContentType.Video -->
        <video class="videoPlayer" data-bind="attr:{src:$data.url}" controls="controls" autoplay="autoplay" style="width: 100%; height: 100%;">
            <source type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- /ko -->

        <!-- ko if: $data.type === $root.e.ContentType.Audio -->
        <audio controls="controls" data-bind="attr:{src:$data.url}" autoplay="autoplay" style="width: 100%; height: 100%;">
            <source type="audio/mp3">
        </audio>
        <!-- /ko -->

    </div>

    <div data-bind="visible:$root.isRundownFolderCreationVisible" class="nmsFileResourceViewer nmscreaterundownfolder" style="display: none;">
        <div class="xPopCreateFile close" data-bind="click:$root.closeRundownFolderCreation"></div>
        <div style="float: left; display: inline-block; width: 50%; padding: 2%;">
            <select data-bind="options:userProgramList,optionsText: 'name',value:$root.currentRundownSelectedProgram,optionsValue: 'id',optionsCaption: 'Choose program...'"></select>
        </div>
        <div style="float: left; display: inline-block; width: 50%; padding: 2%;">
            <input id="meeting" type="date" data-bind="value:$root.currentProgramSelectedDate" value="2011-01-13">
        </div>
        <div style="float: left; display: inline-block; width: 50%; padding: 2%;">
            <select data-bind="options:programEpisodeList,optionsText: 'startTimeDisplay',value:$root.currentSelectedRundownEpisode,optionsValue: 'id',optionsCaption: 'Choose episode...'"></select>
        </div>
        <div style="float: left; display: inline-block; width: 50%; padding: 2%;">
            <input type="button" value="Create" data-bind="click:$root.createRundownFolder" class="createFileBtn" style="width: 100%; font-size: 18px;">
        </div>
    </div>
</section>



