
.newsFileCss {       cursor: pointer; /* position: absolute; top: 17%;*/width: 100%; min-height:65px;    border-bottom: 1px solid #999999; position:relative;}
.newsFileCss:before{content:""; position:absolute; left:0px; top:0px; height:100%; width:3px; background:#aaa;}
.newsFileCss li {height: 100%;}
.newsFileCss .newsFileItem {height: 100%; overflow:initial;}
.newsFileCss .newsFileItem:after{content:''; display:table; clear:both;}
.newsFileCss .newsFileItem .rghtBtns{float:right;margin-top:10px;}
.newsFileCss .newsFileItem .btnBreaking{    float: right;
    border: 5px;
    border-radius: 200px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 2px;
    background-color: red;
    color: white;
    float: left;
    /* right: 18px; */}
.newsFileCss .newsFileItem .btnNormal {   float: left;
    border: 5px;
    border-radius: 200px;
    padding: 5px 9px;
    font-size: 14px;
    background-color: #278020;
    color: white;
    margin-right: 2px;}
.newsFileItem {border-bottom: none !important; position:relative;    width: 100%; margin:0px; padding:2px 10px 10px 5px; box-sizing: border-box;}
.win2 .newsFileItem{padding-left:20px;}
.contentSection {    min-height: 900px;}
.asideExplosives {width: 100%;}
.btnTags {
    border: 5px;
    border-radius: 200px;
    padding: 0px 6px;
    font-size: 14px !important;
    margin-right: 10px;
    background-color: #c9dcf5;
    border: 1px solid #4e8dde;
    color: #4e8dde;
    float: left;
    display: inline-block;
}
.btnOrgs {
    border: 5px;
    border-radius: 200px;
    padding: 0px 6px;
    font-size: 14px !important;
    margin-right: 10px;
    background-color: #b9d6af;
    border: 1px solid #417a2c;
    color: #417a2c;
    float: left;
    display: inline-block;
}


.storyDet2{}
.storyDet2 .infoLine{text-align: left;}
.storyDet2 .infoLine p{color: #999999; font-size: 11px; display:inline-block; position:relative;}
.storyDet2 .infoLine p+p{}
.storyDet2 .infoLine p+p:before{content: "|"; padding: 0px 5px 0px 2px;}
.storyDet2_dateCreate{position:absolute; right:0px; bottom:0px; background:#999; color:#fff; padding: 0px 10px 0px 15px; border-radius: 20px 2px 2px 0px;}


#scroll-container {
    overflow:hidden;
    width:400px;
    overflow:hidden;
    height:200px;
    border:1px solid #000;
}

#scrollul {
    height:200px;
    /*position:absolute;*/
    float:left;
}


#scrollul li {
    width:100%;
    position:relative;
    list-style-type:none;
    float:left;
}

#scrollbtn {
    position:absolute;
    top:230px;
}

#item3 {
    position:relative;
}

#left {
    position:relative;
    float:left;
    width:10%;
}

#right {
    /*position:absolute;*/
  
    float:right;
    width:90%;

}
.parentNewsDiv {
    display: inline;
    float: left;
    border: 1px solid #bdb7b7;
    position: absolute;
    top: 10%;
    /*width: 55%;*/
    height: 90%;
    /*overflow-y:scroll;*/
}
.setTop {
top: 18%;
}
.detailNewsDiv {
display: inline;
    float: right;
    border: 1px solid #bdb7b7;
    position: absolute;
    top: 10%;
    /*width: 34%;*/
    height: 90%;
    left: 60%;
    overflow-y: auto;
}
#topic-selection-view-nmsBol{display: block;height: 591px;}
#home-view-nmsBol {display: block;height: 591px;}
.nmsBolPencil {width: 2.5%;float: right;margin-top:10px}
#controller-view-output{display: block;height: 591px;overflow-x:scroll}
.nmsFolderCategoryClass {      border: 1px solid #b9bcc6;/* border-top: 4px solid #3079ed; */background: #f6f6f6;height: 45px;box-shadow: 0 2px 7px #C0C0C0;}
.freshNewsWindow {border-right: 1px solid #b5a9a9;
    height: 100%;
    width: 16%;
    text-align: center;
    /*padding: 5px;*/
    float: left;

}
.freshNewsWindow .topAside > article{width: 69%;}
.parentUl {
        overflow: hidden;
    display: block;
    list-style-type: none;
    width: 100%;
}
.nmsWindowCss {
    border: 1px solid #b9bcc6;
    /* border-top: 4px solid #3079ed; */
    /* background: #f6f6f6; */
    /* height: 20%; */
    box-shadow: 0 2px 7px #C0C0C0;
    position: relative;
    top: 1%;
    height: 80%
}


.new-wrap [class*=icon-]{background:url('/content/images/ticker/sprite.png') no-repeat 0px 0px transparent;}
.new-wrap .newslst {border-bottom: 1px solid #e5e5e5;}
.new-wrap .newslst .timenews {text-align: right;padding: 13px 20px 10px 0px;}
.new-wrap .newslst .timenews p,.new-wrap .newslst .timenews input { direction: rtl;font-family: 'Jameel Noori Nastaleeq', 'Nafees Web Naskh';font-weight: 400;color: #282828; font-size: 24px; line-height:28px; }
.new-wrap .newslst .timenews input{padding: 9px 10px;border-radius: 2px;border: 1px solid #3079ed;width: 600px;text-align: right;}
.new-wrap .newslst .timenews strong{color: #999;border-radius: 50%;border: 1px solid #999;width: 32px;height: 28px;float: right;text-align: center;line-height: 30px;font-size: 13px;cursor: default;}
.new-wrap .newslst .timenews strong.more{color:#3079ed;border-color: #3079ed;cursor: pointer;}
.new-wrap .newslst .timenews span{ font-family:Arial, Helvetica, sans-serif \9; display:block;margin-top: 3px;color: #999999;}
.new-wrap .newslst .timenews span > small {font-size: 11px;border-right: 1px solid #999;margin: 0 4px 0 0;padding-right: 8px;}
.new-wrap .newslst .timenews span > small small {background: #999;color: #fff;text-transform: uppercase;width: 47px;font-size: 8px;height: 12px;line-height: 12px;display: inline-block;margin-right: 5px;text-align: center;}
.new-wrap .newslst .timenews span > small.last{border-right:0px;padding-right: 0;margin-right: 1px;}
.new-wrap .newslst ul {float: left;padding: 21px 20px 7px 30px;width: 440px;}
.new-wrap .newslst ul li {display: inline-block;border-right: 1px solid #e6e6e6;/*padding-right: 5px;margin-right: 2px;*/}
/*.new-wrap .newslst ul li+li {margin: 0 10px 0 0;padding: 0 12px 0 0;}*/
.new-wrap .newslst ul li.last{margin-right:0px;padding-right:0px;border-right: 0px;}
.new-wrap .newslst ul li.last span{background:none;margin: -3px 0 0 0;vertical-align: middle;}
.new-wrap .newslst ul li strong {background:#89cd89;font-weight:400;color:#fff;font-size:12px;border-radius:2px;height: 20px;width: 100px;text-align: center;line-height: 20px;display: inline-block;text-transform: uppercase;}
.new-wrap .newslst ul li strong.rejected {background:#eb8f66;}
.new-wrap .newslst ul li strong.pending {background:#e5c262;}
.new-wrap .newslst ul li strong.onair{background:#40D761}
.new-wrap .newslst ul li strong.onaired{background:#14E5E5}
.new-wrap .newslst ul li small {font-size: 11px;text-transform: uppercase;color: #64676b;}
.new-wrap .newslst ul li span {background: #eaebee;border-radius: 2px;width: 28px;height: 22px;display: inline-block;position: relative;margin: 0 2px 0 1px;vertical-align: middle;cursor:pointer;}
.new-wrap .newslst ul li i {cursor:pointer;margin: auto;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.new-wrap .newslst ul li i.icon-newadd{background-position:-74px -569px;width:12px;height:12px;}
.new-wrap .newslst ul li i.icon-newcheck{background-position:-90px -570px;width:15px;height:11px;}
.new-wrap .newslst ul li i.icon-newpause{background-position:-79px -588px;width:7px;height:11px;}
.new-wrap .newslst ul li i.icon-newplay{background-position:-76px -629px;width:9px;height:11px;}
.new-wrap .newslst ul li i.icon-newclose{background-position:-92px -588px;width:11px;height:11px;}
.new-wrap .newslst ul li i.icon-newedit{background-position:-77px -610px;width:10px;height:10px;}
.new-wrap .newslst ul li i.icon-rank{background-position:-95px -610px;width:10px;height:7px;cursor:default;}
.new-wrap .more-news {background: #f7f8fa;/*padding-bottom: 8px*/border-bottom: 1px solid #e5e5e5;display: none;}
.new-wrap .more-news li{}
/*.new-wrap .more-news .newslst ul li.first,
.new-wrap .more-news .newslst ul li.last{visibility:hidden;}*/
.new-wrap .more-news li .newslst {border-bottom:0px;}
.new-wrap .more-news li .newslst .timenews p {color:#515151;}
.new-wrap .more-news li .newslst .timenews strong {color: #dadde3;border: 0px;width: 10px;height: 2px;background: #dadde3;margin: 12px 14px 0 0;cursor: default;}
.new-wrap .more-news li .newslst ul {padding: 16px 20px 10px 30px;}

.new-wrap .newslst .prioritysec{display: inline-block;}
.new-wrap .newslst .prioritysec ul{padding: 1px;width: auto;float: none;display: inline-block;}
.new-wrap .newslst .prioritysec li, .new-wrap .newslst .prioritysec li.last{margin: 0;padding: 0 9px;line-height: 18px;border-right: 0px;}

.prioritysec{display: inline-block;}
.prioritysec ul{border: 1px solid #d2d5dd;border-radius: 2px;padding: 1px;background: #fff;line-height: normal;display: inline-block;}
.prioritysec li{cursor:pointer; color: #666666;text-transform: uppercase;padding: 0 9px;font-size: 9px;line-height: 9px;text-align: center;line-height: 18px;}
/*.prioritysec li:hover,.prioritysec li.active{color:#fff !important;background:#acb0b3 !important;}*/
.prioritysec li.deactive{color:#666666 !important;background:#fff !important;}
.prioritysec .xSelect{cursor:pointer; border: 1px solid #d2d5dd;background:#eff0f5;display: inline-block;height: 20px;font-size: 9px;min-width: 72px;vertical-align: top;margin-left:4px;}
.prioritysec select{cursor:pointer;}
.prioritysec .xSelect:after{content: '';background: url('/content/images/ticker/sprite.png') no-repeat -95px -632px transparent;width: 7px;height: 4px;float: right;position: absolute;right: 7px;top: 9px;}
.prioritysec .xSelect p{line-height: 20px;color: #666666;text-transform: uppercase;padding: 1px 9px;}


.news-loader{display:block;padding-top:20px;text-align:center;}



.tickerspage .pendingstories-leftnav .nav-step1{height:100% !important}


.tickerspage .xPop.wirteTickers .newdtls.deactive { display:none;}

 .languageselector{position: absolute; top: 224px; left: 415px;}
.tickerspage .xPop.wirteTickers .innercont.newsdeactive .languageselector{ top: 31px; width: 130px;left:316px ;position:relative;}
.tickerspage .xPop.wirteTickers .innercont.newsdeactive{height:442px;padding:initial;}
.tickerspage .xPop.wirteTickers .innercont.newsdeactive .edtrsec{max-height:400px!important;  width: 100%;}
.tickerspage .xPop.wirteTickers .innercont.newsdeactive .tickerDropDown {position: relative;width: 74px;border: 1px solid #e6e6e6;top:0px;background: #eff0f5;font-size: 12px;display: inline-block !important;vertical-align: top;height: 20px;min-width: 72px;margin-left: 4px;}


.new-wrap .newslst ul li i.icon-freezedticker{
    background:url(/Content/images/producer/lock.png);
    width:15px;
    height:11px;
    background-position:0px 0px;

}

.new-wrap .newslst ul li i.icon-freezedticker.active{
    background:url(/Content/images/producer/unlock.png);
}

.new-wrap .newslst .timenews {
    text-align: left;
    padding:15px 10px;
}
 .new-wrap{margin-bottom:1px;}
 .new-wrap .newslst {
    background: #f7f7f7;
}
/*.breakingNewsFile {
   background: rgba(237, 109, 48, 0.46);
}*/
.breakingNewsFile:before{background:red;}
#right .storyDet.newsInfoCSS {position: relative; margin: 0; float: none; padding: 0; text-align: left;}
.newsplacementWindow{width:400px;}
.hdng .newsplacementWindow{padding: 9px 0px; font-size: 18px; color: #666; border-bottom: 3px solid #999; background: #fff; font-weight: bold;}
.foldersCategoryCss {
        /*width: 1606px;*/
}
.resourceCss{
    padding: 6px;
}
.resourceImage {
       width: 60px;
    height: 60px;
}
.newsSlug {
padding-top: 3px;
padding-left: 10px;
}

.storyDet {
    overflow: hidden;
    display: block;
    list-style-type: none;
    width: auto;
    margin-top: 30px;
    /*margin-left: -100px;*/
    float:left;
        position: absolute;
            padding-left: 10px;
}
.first {
    width: auto !important;
}
.last{ width: auto !important;}
.topAside .newsImage img {
    width: 100px;
    height: 65px;
}

.topAside .storyDet {
    position: relative; padding:0px;
}
.topAside article p {
       
}
.topAside article p.arttitle{font-size: 17px; margin: 0 0 5px;}
.topAside article p.arttxt{}
.controllerOutputCss #right {width: 78%;}
.controllerOutputCss #left {width: 22%;}
.controllerOutputCss .win2 #right {width: 100%;}
.controllerOutputCss .win2 #left {display:none;}
.newsfilecontextmenu li ul {
    width: 112px;
    top: 5px;
}


.newsDetail{}
.newsDetail h3{font-size: 14px; font-weight: bold; margin: 0 0 10px;}
.newsDetail p{min-height: 50px;}
.fileResourceDetails {}
.fileResourceDetails .imageSection{position: absolute; top: 150%;}
.scrollDiv{
    overflow-y:scroll

}
/*.topAside .storyDet {
    margin-left: -125px !important;
    padding-left: 0px !important;
    position: relative !important;
    margin-top: -5px;
}
.topAside .storyDet {

}*/
/*
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    scrollbar-face-color: #000000;
scrollbar-shadow-color: #2D2C4D;
scrollbar-highlight-color:#7D7E94;
scrollbar-3dlight-color: #7D7E94;
scrollbar-darkshadow-color: #2D2C4D;
scrollbar-track-color: #7D7E94;
scrollbar-arrow-color: #C1C1D1;
}*/
::-webkit-scrollbar
{
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:end:increment, ::-webkit-scrollbar-button:start:decrement
{
    display: none;
}

::-webkit-scrollbar-track-piece
{
    -webkit-border-radius: 0;
    border: none;
    background: 0 0;
}

::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 5px;
    background: #666;
}

.newsAside {
    height: 335px;
}

.fileResourceDetails .imageSection {
    position: relative;
    top: auto;
}

.topAside .newsImage{width: 104px;}

.asideExplosives {
    width: 100%;
    height: 100%;
}
.controllerouputDetailViewCss .topAside article p {}

.controllerouputDetailViewCss .topAside .storyDet {}

.controllerouputDetailViewCss .newsAside article .fileResourceDetails .imageSection {
    position: absolute;
    top: 100%;
    width: 346px;
    height: 147px;
        margin-top: 110px;
}

.controllerouputDetailViewCss .asideExplosives {
    width: 100%;
    overflow: hidden;
        height: initial;
}
.UrduCss {
    font-family: 'Jameel Noori Nastaleeq', 'Nafees nastaleeq', 'Nafees Web Naskh', Helvetica, sans-serif;
    font-size: 19px !important;
    line-height: 26px !important;
    
}
.controllerOutputCss #right {}
.controllerOutputCss #left {}
.newsFileItem p {
    cursor: pointer;
    text-align: left; float:none; padding-left:0px;
}
/*.newsFileItem p.UrduCss{text-align:right;}*/
#left .resourceCss .resourceImage {
    
}
/*.topAside .storyDet {
    top: -31px;
    left: 4px;
    margin-top:0px !important;
}*/
ul li:hover {
  /*background:initial;*/  
}
.newsFileCss:hover {
  /*background:initial;*/  
}

.asideExplosives {
 
    box-shadow: none;
 
}
.normalCss {
      box-shadow: none;
}
.breakingCss .storyDet2_dateCreate {
        background: #3079ed;
}



.newsFiltersCount {
    display:none !important;
}
.singlebar-menu .xSelect {
    float: left;
    max-width: 300px;
    min-width: 200px;
    display: none;
}
.refrenceNewsFile {float: right;width: 61% !important;margin-top: -4px;}
.slideImg .refenceFileLeft {
        padding: initial !important; 
}
.refenceFileLeft .asideExplosives .newsAside {
    overflow-y:scroll;
}

.controllerouputDetailViewCss .newsAside article .fileResourceDetails .imageSection {
    position: initial;
    width: 346px;
    height: 147px;
    margin-top: 1px;
}
.newsTitleInput {
    width: 80% !important;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 40px;
        height: 100px;
}
.newsTitleInputComment {
        width: 80% !important;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 40px;
        height: 100px;
}
 .newsDescription{   display: block;
    width: 68%;
    height: 10%;
    position: absolute;
       top: 35%;}
  .newsHightLigh{   display: block;
    width: 68%;
    height: 10%;
        top: 6%;
    position: absolute;}
.lblheading {
        top: 15px;
    position: relative;
    font-size: larger;
}

.btnSubmit {
    width: 20%;
        background: #fc6068;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    text-align: center;
    font-size: 20px;
    left: 68%;
}

.voiceOver span{
    color: royalblue !important;
    font-weight: bold !important;
}
.isTitlePlaced span{
    color: royalblue !important;
    font-weight: bold !important;
}

.xPop .xPopupImage {
    background: rgb(230, 230, 230) !important;
}
.hideVoiceOvernTitle ul li .newsFileItem #right .storyDet2 .row2 .voiceOver {
    display:none !important;
}
.hideVoiceOvernTitle ul li .newsFileItem #right .storyDet2 .row2 .isTitlePlaced {
        display:none !important;
}
.hideFilterText {
    /*display:none !important;*/
    z-index:999;
}
/*.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row1 .news_category{
            display:none !important;
}
.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row1 .news_breaking{
            display:none !important;
}

.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row2 .news_source{
            display:none !important;
}
.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row1 .news_source{
            display:none !important;
}*/


/*.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row2 .news_source:before {
    content: "" !important;
    padding: 0px 5px 0px 2px;
}
.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row1 .news_category:before {
    content: "" !important;
    padding: 0px 5px 0px 2px;
}
.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row1 .news_breaking:before {
    content: "" !important;
    padding: 0px 5px 0px 2px;
}

.hide_newsInfo_source ul li .newsFileItem #right .storyDet2 .row1 .news_reportedBy:before {
    content: "" !important;
    padding: 0px 5px 0px 2px;
}*/

.pollingBar {
    padding: 6px 15px;
    margin: 9px 0 0 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    float: left;
    left: 21%;
    position: relative;
}

.xpopUp_CloseIcon {
    background: url(/content/images/common/sprite.png) -457px -14px no-repeat;
    position: absolute;
    width: 43px;
    height: 39px;
    z-index: 3;
    top: -10px;
    right: -13px;
    cursor: pointer;
    background-size: inherit;
    transform: scale(0.5);
}

.searchBox div {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    position: relative;
    margin-right: 3px;
    margin-top: 8px;
    /*display:none;*/
    /* height: 64px; */
}
.searchBox input[type=text] {
    background: #e5e7eb;
    border: 1px solid #c7cad3;
    padding: 4px 5px 3px 25px;
    border-radius: 4px;
    height: 27px;
}

.btnBroadCast{
    background: #fc6068;
    color: #fff;
    cursor: pointer;

    
    /*position: relative;
    float: right;
    width: 60px;
    bottom: 6px;
    height: 21px;
     right: 5px;*/
     margin-left: 3px;

    display: inline-block;
    padding: 6px 15px;
    margin: 0px 3px 1px 3px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.btnImportant {
float: right;
    border: 5px;
    border-radius: 200px;
    padding: 5px 8px;
    font-size: 14px !important;
    margin-right: 10px;
    background-color: #0070ff;
    color: white;
    float: left;
}
.notSelectable {
    -webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.importantNewsFile:before {
       background: #0070ff;
}

.normalNewsFile:before{background:#278020;}

.hideVoiceOvernTitle ul li .newsFileItem .xpopUp_CloseIcon {
    display:none !important;
}
.hideVoiceOvernTitle ul li .newsFileItem .xpopUp_CloseIcon {
    display:none !important;
}


.SlotedNews {background-color: #e5e7eb;}



.broadCastCount span{
  color: #f3f0f0;
    background: #ff5656;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    padding:1px;
}
.hideVoiceOvernTitle ul li .newsFileItem #right .storyDet2 .row2 .broadCastCount {
     display:none !important;
}

.asideExplosives .topAside article .storyDet2 .row2 .broadCastCount {
      display:none !important;
}
.spnFolderName {

}
.programInterval{float: left;font-size: 18px;position: relative;bottom: -2px;font-weight: 400;-webkit-animation-name: blink; -webkit-animation-duration: 3s;margin-left: 15px;}

.hideVoiceOvernTitle .SlotedNews{
        background-color: initial !important;
}

.hideVoiceOvernTitle .breakingNewsFile  {background-color: #f5ecec !important;}
.breakingNewsFile  {background-color: #f5ecec ;}

.main-content .mCSB_container {
    padding-left: 0px;
}
.mCSB_container {
    padding-right: 0px;
}

.mCustomScrollBox {
    -ms-touch-action: none;
    padding-right: 12px;
}
.rghtVerificationStatus {
       width :195px !important;position :relative !important;
}
.btnVerified {width:93px;border :1px solid #fc6068;
position :relative;
border-radius :26px;
height: 25px;
float: left !important;
color:#fc6068;
}
.btnVerified:before {
    content: '\2713';
    color: #fc6068;
    padding-left: 10px;
    /* padding-bottom: 6px; */
    font-size: large;
    font-weight: bolder;
    }
.btnNonVerified {
width: 93px;
border :1px solid #fc6068;
position: relative;
border-radius: 26px;
height: 25px;
float: left !important;
color:#fc6068;
}
.btnNonVerified:before {
     content: "X";
    color: #fc6068;
    padding-left: 10px;
    /* padding-bottom: 6px; */
    font-size: large;
    font-weight: bolder;
}
    .btnVerified:hover {
       background: #d4d4d4;
    }
    .btnNonVerified:hover {
        background: #d4d4d4;
    }

.verifiednews span {
    background-position: -13px 1px;
    width: 14px;
    height: 14px;
    background-image: url(/content/images/producer/sprite-icon.png);
    background-repeat: no-repeat;
}
}


.mynewsContent{
    position: relative;
    min-height: 300px;
    margin: 0 0 0 20px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: block;
    /*max-height: 482px;*/
    overflow: hidden;
}

.display_box{
        min-height: 75px;
    border-top: 1px solid lightgray;
    display:block;
    /*width: 98%;*/
}

.treport-contentview {
    /*margin: auto 15px auto 0px;*/
}

.parentTagDiv {
    display: inline;
    border: 1px solid #bdb7b7;
    position: absolute;
    height: 90%;
    width: 90%;
}

.rightBox {
    float: right;
    width: 94%;
}
.leftBox{
    float: left;
    width: 6%;
}
.circleView #left .resourceCss img{
        width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 8px;
}
.circleView #left {width: 5%;}
.circleView #right {
        position: relative;
    float: right;
    width: 95%;
}
.circleView #right .storyDet2_dateCreate{bottom: -10px;}
.pendingDetail {
       width: 38.7%;
}

.circleView #tagRight .storyDet3_dateCreate{bottom: -10px;}
.storyDet3_dateCreate {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #999;
    color: #fff;
    padding: 0px 10px 0px 15px;
    border-radius: 20px 2px 2px 0px;
}

.circleView #tagRight {
        position: relative;
    float: right;
    width: 92%;
}

.filterSocialDiv {
    width: 94.5% !important;
    height: 581px;
    left: 4.5%;
    top: 10%;
}
.filterSocialDiv .notSelectable{
   -webkit-touch-callout: initial;
-webkit-user-select: initial;
-moz-user-select: initial;
-ms-user-select: initial;
user-select: initial;
}

.taggedPencil {        transform: scale(1.2);
}
.copywriterCss {
    width:427px;
}
.copywriterContent {
       margin: auto 15px auto 30px;
       overflow-x:scroll;
}
.adjustWidth_c {
    height: 90%;
}
.adjustWidth_c ul li ul li .newsFileItem .xpopUp_CloseIcon {
    display:none;
    }
.adjustWidth_c ul li ul li .newsFileItem #right .rghtBtns{
    display:none;
    }

.spnFolderNameCopywriter {
    margin-left: -100px;
    font-size: larger;
}


.singlebar-menu {
    border-top: 1px solid #b9bcc6;
    border-bottom: 1px solid #b9bcc6;
    min-height: 39px;
    box-shadow: 0 1px 3px 0 #ddd inset;
    position: relative;
    background: linear-gradient(270deg, #FEFEFE 0%, #EEEEEE 100%);
    background: -moz-linear-gradient(270deg, #FEFEFE 0%, #EEEEEE 100%);
    background: -webkit-linear-gradient(270deg, #FEFEFE 0%, #ffffff 100%);
    background: -o-linear-gradient(270deg, #FEFEFE 0%, #EEEEEE 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEFE, endColorstr=#EEEEEE)";
    max-width: 1500px;
    margin: 0 auto;
}

.imgLogo {
        position: relative;
    top: -10px;
}
.singlebar-menu .topNavNMS li a {
    text-transform: uppercase;
    border-right: 1px solid #cccccc;
    font-weight:bold;
        color: #afadad
}
.singlebar-menu .topNavNMS li:hover { 
    border-color: #fc6068;
    float: left;
    /* margin: -3px 0px; */
    /* color: #9ea8b2; */
    /* border-bottom: 4px solid transparent; */
    /* transition: all .2s ease-in-out; */
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    /* background-color: white; */
    border-bottom: 6px solid #fc6068;
    /* margin-bottom: -6px; */
    margin: -5px 0px;
    color:#fc6068;
}

.singlebar-menu .topNavNMS li a:hover {
      color:#fc6068;
}

.singlebar-menu .topNavNMS li a.active {
    float: left;
    /* margin: -3px 0px; */
    /* color: #9ea8b2; */
    /* border-bottom: 4px solid transparent; */
    /* transition: all .2s ease-in-out; */
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    /* background-color: white; */
    border-bottom: 6px solid #fc6068;
    /* margin-bottom: -6px; */
    margin: -5px 0px;
    color:#fc6068;
}

.newsNav {
    background: #ffffff;
  border-top: 7px solid #fc6068;
}

ul.navigationNews > li > a {
    color:  #fc6068;
}

ul.navigationNews > li.newsActive, ul.navigationNews > li:hover {
    border-bottom: 4px solid #fc6068;
}
.btnBlue {
    background: #fc6068;
}

ul.navigationNews > li.newsActive > a i {
filter: sepia() saturate(36) hue-rotate(-20deg);
 /*background-position: -51px -469px;*/
}
ul.navigationNews > li > a i {
    filter: sepia() saturate(0) hue-rotate(0deg);
    opacity: 0.8;
}


   
ul.navigationNews li.newsActive, ul.navigationNews li.newsActive  {
 /*border-left:1px solid  #fc6068;
  border-right:1px solid  #fc6068;*/
  background:none;
}
.icon-newsCrop,.icon-newsCalender {
    filter: sepia() saturate(9781%) hue-rotate(-12deg);
}
.breakingCss .storyDet2_dateCreate {
    background: #fc6068;
}

.newsFileItem p {

    color: #717171;
}

.leftnav .nav-step1 > li > a {
    font-size: 11px;
    color: #fff;
    padding: 13px 40px 0px 50px;
    display: block;
    width: 141px;
    height: 27px;
    position: relative;
       background: #848484;
    overflow: hidden;
}

.btnImportant {
    float: right;
    border: 5px;
    border-radius: 200px;
    padding: 5px 8px;
    font-size: 14px !important;
    margin-right: 10px;
    background-color: #4e8dde;
    color: white;
    float: left;
}

.btnImportantSmall{
    float: right;
    border: 3px;
    border-radius: 200px;
    padding: 3px 5px;
    font-size: 9px !important;
    margin-right: 10px;
    background-color: #4e8dde;
    color: white;
}

.btnBreakingSmall {
   float: right;
    border: 3px;
    border-radius: 200px;
    padding: 3px 5px;
    font-size: 9px !important;
    margin-right: 10px;
    background-color: #fc6068;
    color: white;
}

.newsFileCss .newsFileItem .btnBreaking {
    float: right;
    border: 5px;
    border-radius: 200px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 2px;
    background-color: #fc6068;
    color: white;
    float: left;
    /* right: 18px; */
}

.newsFileCss .newsFileItem .btnNormal {
    float: left;
    border: 5px;
    border-radius: 200px;
    padding: 5px 9px;
    font-size: 14px;
    background-color: #91c58c;
    color: white;
    margin-right: 2px;
}
ul.navigationNews > li > a i {
    /* background-position: -51px -469px; */
}

.editorialPopup #content-viewer{
    width:1320px;
}
    .editorialPopup #content-viewer .imageSection .editorialNews {
width: 45% !important;
    position: absolute;
    left: 29%;
    }
        .editorialPopup #content-viewer .imageSection .editorialNews .btnSubmit {
 left: 67%;
        }
.editorialPopup #content-viewer .imageSection .editorialNews .newsHightLigh,.editorialPopup #content-viewer .imageSection .editorialNews .newsDescription {
 width:100%;
 -webkit-user-select: none;
-moz-user-select: none; 
-ms-user-select: none; 
-o-user-select: none;
user-select: none;
        }
.editorialComments {
     width: 26%;
    height: 100%;
    left: 74%;
    position: absolute;
        border-left: 1px solid rgba(128, 128, 128, 0.53);
    padding-left: 17px;
        background: white;
}
.ed_comments {
        top: 7%;
    position: absolute;
}
    .ed_comments li {
            width: 95%;
            text-align: right;
    }
        .ed_comments li span{
            width: 95%;
            text-align: right;
    }

        .commentCount{width:24%;    font-size: initial;
    font-weight: bold;}
        .editorialComments .asideExplosives {
     margin-left: -16px;
         height: auto;
             margin-bottom: 0px;
    border-bottom: 1px solid gray;
        width: 104.9%;
} 
.editorialComments .asideExplosives .topAside {
               padding: 0px;
    position: relative;
    width: 94%;
    padding: 19px 5px 12px 15px;
}
    .editorialComments .asideExplosives .topAside article {
        float: left;
        width: 100% !important;
    }
        .editorialComments .asideExplosives .topAside article p{
          text-align: right;
    }
.circleimageview {
        width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 8px;
}
.circleresoure {
    left: 16%;
}
 


/*.leftnav .nav-step1 {
    border-right: 1px solid #fc6068;
    border-top: 1px solid #fc6068;
    border-bottom: 1px solid #fc6068;
}

.leftnav .nav-step1 > li > a {
    position: relative;
    background: #ffffff;
  

}
.leftnav .nav-step1 > li > a > i {
    filter: sepia(1) saturate(9781%) hue-rotate(667deg);
}*/

.leftnav .nav-step1 > li > a {
   
    background: #fc6068;
}
.headerrightinfo .topnav li .icon-email {
   background:url('/content/images/producer/nmsbell.png') no-repeat 0px 0px transparent;
       transform: scale(1.2);
}
   
.headerrightinfo i.icon-email .alert {
    top: -7px;
    left: 10px;
        border-radius: 11px;
            background: #fc6068;
}

/* calendar css */

tbody.datepickerDays td.datepickerSelected {
    background-color: #fc6068;
}

.newsNav > ul > li > ul li:first-child {
    /*border-top: none;
     background: #fc6068; 
     border: 1px solid #fc6068;*/
}
.newsNav ul.calenderMenu {
    background: #ffffff;
}

ul.calenderMenu li.custom {
  background: #fc6068; 
      border: 1px solid #fc6068;
}

.newsNav .calenderRight li.active {
    border: 1px solid #fc6068;
}

.calenderLeft input[type=submit] {
    background: #fc6068;
    border: 1px solid #fc6068;
}

.newsNav > ul > li > ul li:first-child {
    border-top: none;
    /* background: #fc6068; */
    border: none;
}
ul.calenderMenu > li:before {
position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.calenderLeft label {
    color: gray;
}

.calenderLeft input[type=text] {
 background: rgb(221, 221, 221); 

}

/* calendar css */
.hdng .newsplacementWindow {
   text-transform: uppercase;
       color: #a3a3a3;
}

.btnBroadCast {text-transform: none;}

.newsNav {
    box-shadow: none;
}
.taggedPencil {
    content:url('/Content/images/producer/imgP1.png');
}
.taggedPencil:hover {
    content:url('/Content/images/producer/imgP2.png');
    transform: scale(1.2);
}
.isPresent{    background-color:#ffeff0 !important;}
.controllerouputDetailViewCss aside .newsAside {
    overflow-y:scroll;
}

.adjustBottom {
padding-bottom:10px;
}

.limitedTitle{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 80%;
}

.controllerOutputCss .limitedTitle {
    width:100%;
}


.reportNews aside .options.dateTime .optionsList .timepicker input[type=button] {
    margin-left: 4px;
}
.EventCss {
    display:none !important;
}
.EventPanel {
    margin-top: -93px;
}

.reportNews .options12 {
    background: #f5f5f5;
}

.reportNews input[type=text], input[type=password], input[type=email], textarea {
    background: #f5f5f5;
}
.EventPanel .editor {
    top: -196px;
    position: relative;
}   

.EventPanel .cameraman .options12 {
    position: absolute;
    top: 313px;
    right: 901px;
    background: #f8f8f8;
    height: 212px;
    width: 390px;
    border-radius: 5px;
    border: 1px solid #BBB;
}

.reportNews .cameraman {
    display: initial !important;
}
.cameraman .options12 .usersUL ul {
    position: absolute;
    width: 370px !important;
    height: 177px !important;
}
.cameraman .options12 {
        position: absolute;
    left: 30px;
    top: 310px;
    width: 370px;
    height: 217px;
}


 .Event_UsersList{height: initial !important;
    width: 100% !important;
    margin-left: 1px !important;
    top: 102px !important;
    border-top: 1px solid gray;
    padding-top: 5px;

 }

.EventPanel .tags.autosuggestfilter {
    height: 65px !important;
    position: absolute;
    top: 313px;
    width: 465px;
    left: 420px;
}
.reportNews div.tagsinput {
    margin: 9px 10px;
    height: 50px;
    overflow-y: auto;
    position: relative;
}
.EventPropertiesPanel {
    height: 116px !important;
    position: absolute;
    top: 410px;
    width: 465px;
    left: 420px;
    background: #f8f8f8;
    border: 1px solid #d3d7dc;
}

.RedCircle {
    display: inline-block;
    padding: 6px 8px;
    background: #fc6068;
    margin: 9px 0 0 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 29px;
    font-size: 12px;
    float: left;
}
.userSelected {
    height: 50px !important;
    width: 373px !important;
    position: absolute !important;
    left: 20px !important;
    top: 530px !important;
}

li.newsActive .icon-newsRadio, ul.navigationNews li .icon-newsRadio {
    background-position: -50px -494px !important;
}
li.newsActive .x-filter-event, ul.navigationNews li .x-filter-event {
    background-position: -50px -494px !important;
}


.tooltip {
        position: relative;
        display: inline-block;
        z-index:9 !important;
        width: 170px;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 170px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0px 5px 5px;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 74%;
            margin-left: -60px;
            margin-top: 5px;
            /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
            opacity: 0;
            transition: opacity 1s;
            text-align:left;
        }
            .tooltip .tooltiptext:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                left: 50%;
                border-bottom-color: #000;
                border-width: 0 5px 5px;
                top: -5px;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

.editPencilIcon {content: '';
 content: '';
    background: url(/content/images/ticker/sprite.png) no-repeat -28px -905px;
    width: 15px;
    height: 18px;

    position: absolute;
    right: 0px;
    top: 16px;

}
.adjust_Position {
       margin-top: -180px;
}
.editorialC {
    display:initial !important;
}
.editorialT {
    width:auto !important;
}

.warning .yes {
    background: #fc6068;
}
.warning {
    top: 108px !important;
    border: 5px solid #fc6068 !important;
}
.newsAside {
    height: auto;
}
.isTitlePlaced.status_0 span{
        color: #949496 !important;
}
.isTitlePlaced.status_1 span{
    color: #ec071b !important;
}
.isTitlePlaced.status_2 span{
        color: royalblue !important;
}

.voiceOver.status_0 span {
        color: #949496 !important;
}
.voiceOver.status_1 span{
    color: #ec071b !important;
}
.voiceOver.status_2 span{
        color: royalblue !important;
}

