﻿body
{
    background-color: #171515 !important;
}

/* vertical scrollbar */
.mCSB_container { width: auto; /*padding-right: 8px;*/ overflow: hidden }
.main-content .mCSB_container { /*padding-left: 3px;*/ }
.mCSB_container.mCS_no_scrollbar { margin-right: 0 }
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar { /*margin-right: 30px*/ }
.mCustomScrollBox>.mCSB_scrollTools { width: 16px; height: 100%; top: 0; right: 0; opacity: 0.75; filter: alpha(opacity=75); -ms-filter: alpha(opacity=75) }
.mCSB_scrollTools .mCSB_draggerContainer { position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto }
.mCSB_scrollTools a+.mCSB_draggerContainer { margin: 20px 0 }
.mCSB_scrollTools .mCSB_draggerRail { width: 2px; height: 100%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; filter: alpha(opacity=40); -ms-filter: alpha(opacity=40); margin: 0 auto }
.mCSB_scrollTools .mCSB_dragger { cursor: pointer; width: 100%; height: 30px }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; height: 100%; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; text-align: center; background: rgba(255,255,255,0.75); filter: alpha(opacity=75); -ms-filter: alpha(opacity=75); margin: 0 auto; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #333; }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: #333 !important; }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown { display: block; position: relative; height: 20px; overflow: hidden; cursor: pointer; margin: 0 auto }
.mCSB_scrollTools .mCSB_buttonDown { top: 100%; margin-top: -40px; background-position: 0 -20px }
.mCSB_horizontal>.mCSB_container { height: auto; margin-right: 0; margin-bottom: 30px; overflow: hidden }
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar { margin-bottom: 0 }
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar { margin-right: 0; margin-bottom: 30px }
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools { width: 100%; height: 16px; top: auto; right: auto; bottom: 0; left: 0; overflow: hidden }
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer { margin: 0 20px }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 2px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: 7px 0 }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger { width: 30px; height: 100% }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: 6px auto }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight { display: block; position: relative; width: 20px; height: 100%; overflow: hidden; cursor: pointer; float: left; margin: 0 auto }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight { margin-left: -40px; float: right }
.mCustomScrollBox { -ms-touch-action: none; padding-right: 18px; }
.mCustomScrollBox:hover>.mCSB_scrollTools { opacity: 1; filter: alpha(opacity=100); -ms-filter: alpha(opacity=100) }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255,255,255,0.85); filter: alpha(opacity=85); -ms-filter: alpha(opacity=85) }
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255,255,255,0.9); filter: alpha(opacity=90); -ms-filter: alpha(opacity=90) }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight { background-image: url(mCSB_buttons.png); background-repeat: no-repeat; opacity: 0.4; filter: alpha(opacity=40); -ms-filter: alpha(opacity=40) }
.mCSB_scrollTools .mCSB_buttonUp { background-position: 0 0 }
.mCSB_scrollTools .mCSB_buttonLeft { background-position: 0 -40px }
.mCSB_scrollTools .mCSB_buttonRight { background-position: 0 -56px }
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover { opacity: 0.75; filter: alpha(opacity=75); -ms-filter: alpha(opacity=75) }
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active { opacity: 0.9; filter: alpha(opacity=90); -ms-filter: alpha(opacity=90) }
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: rgba(0,0,0,0.75) }
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(255,255,255,0.1); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background: rgba(255,255,255,0.75); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp { background-position: -32px 0 }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown { background-position: -32px -20px }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -40px -40px }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight { background-position: -40px -56px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(0,0,0,0.1); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background: rgba(0,0,0,0.75); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp { background-position: -112px 0 }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown { background-position: -112px -20px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -120px -40px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight { background-position: -120px -56px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(255,255,255,0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; background: rgba(255,255,255,0.75); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp { background-position: -16px 0 }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown { background-position: -16px -20px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -20px -40px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight { background-position: -20px -56px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(0,0,0,0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; background: rgba(0,0,0,0.75); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp { background-position: -96px 0 }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown { background-position: -96px -20px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -100px -40px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight { background-position: -100px -56px }
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail { background: rgba(255,255,255,0.1) }
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 2px }
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 2px; background: rgba(0,0,0,0.75) }
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail { background: rgba(0,0,0,0.15) }
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(0,0,0,0.85) }
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0,0,0,0.9) }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp { background-position: -80px 0 }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown { background-position: -80px -20px }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -80px -40px }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight { background-position: -80px -56px }
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 4px; margin: 6px 0 }
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; margin: 6px auto }
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255,255,255,0.85) }
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255,255,255,0.9) }
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 6px; margin: 5px auto }
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { width: 100% }
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 2px; margin: 7px auto }



.navbar
{
    margin-bottom: 0px;
    border-radius: 0px !important;
}

.navbar-nav
{
    width: 100% !important;
}

.left-panel
{
    float: left;
    width: 20% !important;
    height: 575px !important;
}

.rundown-panel
{
    float: right;
    width: 80% !important;
    height: 575px !important;
}

li
{
    cursor: pointer;
}

.left-panel .panel-body, .panel-body
{
    padding: 6px;
    background-color: #333;
}

.left-panel
{
    border-right: 3px solid #B0711E !important;
}

.listItems
{
    background: #171515 !important;
    height: 63px !important;
    position: relative !important;
    color: #999 !important;
    margin-bottom: 2px !important;
}

.listItems
{
    cursor: pointer !important;
}

    .listItems div
    {
        float: left !important;
        padding-top: 3px !important;
    }

    .listItems h3
    {
        font-size: 13px !important;
        color: #666666 !important;
        margin-bottom: 5px !important;
        line-height: 9px !important;
        font-weight: 600 !important;
    }

    .listItems img
    {
        float: left !important;
        padding: 6px !important;
        width: 61px !important;
        height: 76% !important;
        margin-top: 8px !important;
    }

    .listItems div
    {
        float: left !important;
        width: 95% !important;
        height: auto !important;
    }

        .listItems div .divfirst
        {
            width: 250px !important;
            height: 30px !important;
            display: block !important;
            margin-top: 14px !important;
        }

            .listItems div .divfirst .name
            {
                width: 100% !important;
                height: 30px !important;
                display: inline !important;
            }

        .listItems div .divsecond
        {
            width: 30px !important;
            height: 30px !important;
            margin-top: 14px !important;
            margin-left: 197px !important;
        }

            .listItems div .divsecond .channel
            {
                width: 30px !important;
                height: 30px !important;
                display: inline !important;
            }

        .listItems div .divthird
        {
            width: 30px !important;
            height: 30px !important;
            margin-top: 14px !important;
            margin-left: 114px !important;
        }

            .listItems div .divthird .videoLayer
            {
                width: 30px !important;
                height: 30px !important;
                display: inline !important;
            }

        .listItems div .divfourth
        {
            width: 30px !important;
            height: 30px !important;
            margin-top: 31px !important;
            margin-left: 162px !important;
        }

            .listItems div .divfourth .delay
            {
                width: 30px !important;
                height: 30px !important;
                display: inline !important;
            }

        .listItems div .divfift
        {
            width: 30px !important;
            height: 30px !important;
            margin-top: 31px !important;
            margin-left: 142px !important;
        }

            .listItems div .divfift .server
            {
                width: 30px !important;
                height: 30px !important;
                display: inline !important;
            }

        .listItems div .divSixth
        {
            width: 30px !important;
            height: 30px !important;
            margin-top: 17px !important;
            margin-left: -138px !important;
        }

    .listItems .leftSpan
    {
        float: left !important;
        margin-left: 0px !important;
        width: 10px !important;
        height: 100% !important;
        cursor: move !important;
    }

    .listItems .rightSpan
    {
        float: right !important;
        margin-left: 0px !important;
        width: 10px !important;
        height: 100% !important;
    }

    .listItems .showHide
    {
        width: 4px !important;
        background-color: #B0711E !important;
        height: 2px !important;
        cursor: pointer !important;
    }

        .listItems .showHide label
        {
            margin-top: 20px !important;
            margin-left: 195px !important;
            cursor: pointer !important;
            position: absolute !important;
            z-index: 100 !important;
        }

.panel-heading
{
    background-color: #171515 !important;
    color: white !important;
    border-bottom: 4px solid #B0711E !important;
}

.panel-default
{
    border-color: #333 !important;
    background-color: #333;
}

.navbar-inverse
{
    background-color: #171515 !important;
}

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
    {
        /*background-color: #B0711E !important;*/
        border-bottom: 4px solid red;
        color: #fff;
    }

.list-group-item
{
    background-color: #171515 !important;
    border-bottom: 3px solid #B0711E !important;
    color: white;
}

.list-group-item
{
    border: none;
}

    .list-group-item:first-child
    {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

.active
{
    background-color: #B0711E !important;
}

.dropdown.alertdummy .dropdown-menu
{
    left: -125%;
    top: 53px;
}

.dropdown-menu, .dropdown-menu li
{
    background-color: #171515;
}

    .dropdown-menu > li > a
    {
        color: #fff;
    }

        .dropdown-menu > li > a:hover
        {
            background-color: #B0711E;
        }

.dropdown.alertdummy > span
{
    position: absolute;
    background-color: red;
    color: white;
    width: 23px;
    height: 12px;
    margin-left: 27px;
    margin-top: 7px;
    padding-left: 2px;
    padding-bottom: 4px;
    font-size: 10px;
}

.form-group
{
    margin-bottom: 0px !important;
}

    .form-group .form-control
    {
        background-color: #171515 !important;
        border: none;
    }

.form-inline .form-group input[type="text"]
{
    margin-left: 60px !important;
    width: 150px !important;
}

.btn
{
    float: right;
    margin-top: 2px !important;
    background-color: #171515 !important;
    color: white;
    border-radius: 0px;
    margin-right: 3px;
}

.form-group label
{
    margin-left: 5px;
    font: 15px;
    color: white;
}

.form-inline
{
    margin-top: 2px !important;
}

.settingHeading
{
    color: white;
    font-size: 16px;
}
.set
{
    margin-top:25px;
}
.set.first
{
    margin-top:0px;
}
li
{
    color: white;
    padding:4px;
}
.drp
{
     color:black !important;
}
.drpBtn
{
    color:black;
}

.mCustomScrollBox
{
   padding-right: 0px;
}
.AddNewRunDownPopUp
{
    background-color:#333;
}
.modal-content
{
    background-color: #171515;
}

.modal-footer
{
    border-top:#B0711E !important;
}

.AddNewRunDownPopUp .modal-body
{
    padding :0px !important;
}
.AddNewRunDownPopUp .modal-header
{
    
    border-bottom: 1px solid #B0711E;
}
.AddNewRunDownPopUp .pnlPop
{
    height:490px;
    max-height:490px;
}
.AddNewRunDownPopUp .modal-footer
{
    margin-top: -20px;
}
.listItems .divfirst label
{
    margin-top: 14px;
    margin-left: 14px;
    font-size: 18px;
}
.listItems .inner.divfirst
{
    margin-top:0px  !important;
    margin-left:4px !important;

}
    .listItems .inner.divfirst h3
    {
        font-size: 20px !important;
        color: #666666 !important;
        margin-bottom: 8px !important;
        line-height: 9px !important;
        font-weight: 600 !important;

    }
.nestedArticle.listItems
{
    overflow: hidden !important;
    height: 100% !important;
}
.btn_li .btn {
    float: right;
    margin-top: 2px !important;
    
}
.btn_li
{
    margin-top:10px;
}

.AddNewRunDownPopUp .form-inline .form-group input[type="text"]
{
      width: 600px !important;
}
.AddNewRunDownPopUp .form-inline .form-group textarea
{
      width: 600px !important;
      height:100px !important;
      margin-left: 60px !important;
      resize:none;
      overflow:hidden;
      color:#fff
}
input[type="text"]
{
    color:#fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #171515;
border-color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: #171515;
}


.AddNewRunDownPopUp .form-control
{
    font-size:18px !important;
}