﻿  /*.timelineArea{
margin:15px 80px 0;	
padding:0 0 20px 0;
}
.timelineArea span{
	font-size:19px;
	color:#62656f;
	display:block;
	line-height: 23px;
}
.timelineArea span.left{float:left;}
.timelineArea span.right{float:right;}
.timelineArea ul{
	display: table;
	float:left;	
	margin: 10px 18px;
	background:url(/Content/images/audiouser/rep1.jpg) repeat-x top left;
	min-width: 1050px;
}
.timelineArea ul li{
	padding: 5px 0;
	float: left;
	position: relative;
}
.timelineArea ul li:before{
	position: absolute;
	content: '';
	left: 0px;
	bottom: 9px;
	background: url(/Content/images/audiouser/rep1.jpg) repeat-y 0 0;
	width: 2px;
	height: 7px;
}
.timelineArea ul li.greenBar:before{
	background: url(/Content/images/audiouser/repGreen.jpg) repeat-y 0 0;	
}
.timelineArea ul li.greenBar{
	background:url(/Content/images/audiouser/repGreen.jpg) repeat-x top left;	
}
.timelineArea ul li span{
	position:absolute;
	display:block;
	font-size:9px;
	color:#191a1d;
	text-align:center;
	padding:1px 3px;
	line-height:10px;
	top:-25px;
	left:-5px;
	font-weight:700;
}
.timelineArea ul li span.Gr{background:#89b251;}
.timelineArea ul li span.Pk{background:#d15454;}


.timelineArea ul li.greenBar {
background: url(/Content/images/audiouser/repGreen.jpg) repeat-x top left;
padding: 6px 0;
float: left;
position: relative;
}

.timelineArea ul li {
padding: 5px 0;
float: left;
position: relative;
}*/


.timelineArea .childs {

position: absolute;
}

.timelineArea span.right {
margin-top:-2px;
margin-right:-50px;
}