﻿.dateTime i { background-position: -100px 0px; }
.dateTime .head span {width: auto; overflow: hidden;display: block;height: 18px;float: left;}
section.updateReport .editingSection > aside .head span  {width:200px;}
section.updateReport .editingSection > aside .options.dateTime .head span  {width:auto;}
 i.arrow { background-position: -10px -127px; width: 9px; height: 6px; float: right; margin-right: 0; margin-top: 5px; }
 .optionsList { background: #fff; border: 1px solid #d3d7dc; border-radius: 3px; position: absolute; left: -1px; top: 37px; width: 100%; z-index: 101; display: none; height: 103px; padding: 4px 0px; }
 .dateTime .optionsList { height: 210px; padding: 10px 0 0; }
 .dateTime .optionsList .timepicker { background: #edeeee; padding: 8px 12px; overflow: hidden; }
dateTime .optionsList .timepicker input[type=number], aside .options.dateTime .optionsList .timepicker .xSelect { background: #fff; padding: 8px 9px; width: 63px; border-radius: 3px; border: 1px solid #dddddd; font-size: 11px; color: #666666; float: left; margin-right: 5px }
.updateReport aside .options.dateTime .optionsList .timepicker input[type=number], .updateReport aside .options.dateTime .optionsList .timepicker .xSelect { width: 28px; }
.dateTime .optionsList .timepicker .xSelect { padding-top: 6px; padding-bottom: 2px; position: relative; }
 .dateTime .optionsList .timepicker span { float: left; display: block; margin-right: 5px; margin-top: 5px; }
 
 .dateTime .optionsList .timepicker input[type=button] { background: #498bf6; border: 1px solid #3079ed; float: left; padding: 7px 15px; font-size: 11px; margin-top: 2px; margin-left: 5px; border-radius: 3px; color: #fff; }


/*UI Datepicker Calendar*/
.ui-datepicker { width: auto; padding: 0px 20px 20px; display: none; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: .2em 0; }
.ui-datepicker-title { background: #e5e6ec; border-radius: 2px; box-shadow: 1px 1px 0px rgba(0,0,0,0.15); color: #838692; height: 20px; font-size: 11px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 3px; width: 20px; height: 20px; border-radius: 2px; box-shadow: 1px 1px 0px rgba(0,0,0,0.15); background: url(../../images/common/sprite.png) no-repeat #e5e6ec; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left: 2px; background-position: -305px -87px; }
.ui-datepicker .ui-datepicker-next { right: 2px; background-position: -305px -114px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%; }
.ui-datepicker table { width: 100%; font-size: 11px; border-collapse: collapse; margin-top: 10px; }
.ui-datepicker th { text-align: center; font-weight: 400; border: 0; padding: 3px; }
.ui-datepicker td { border: 0; font-weight: 300; padding: 2px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; text-align: center; text-decoration: none; color: #838692; width: 26px; height: 19px; margin: 0 auto; padding: 5px 0; border-radius: 3px; }
.ui-datepicker td span { color: #fff; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; cursor: pointer; width: auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }
.ui-datepicker .ui-state-active { background: url(../../images/common/sprite.png) no-repeat -333px -109px #eaf1fd; }
.newsNav { border: 1px solid #bbbec8; background: #f6f6f6; height: 45px; box-shadow: 0 2px 7px #C0C0C0; margin-bottom: 12px; margin-left: 70px; }
.newsNav ul li { font-weight: 400; }
.newsNav ul li i { display: inline-block; vertical-align: middle; }
ul.navigationNews { float: left; font-size: 0px; padding-left: 9px; }
ul.navigationNews > li { display: inline-block; font-size: 13px; font-weight: normal; position: relative; line-height: 45px; }
ul.navigationNews > li > a { color: #3079ed; display: block; min-height: 46px; padding: 0 9px; }
ul.navigationNews > li:hover, ul.navigationNews > li.dropDown.active { background: #333333; }
ul.navigationNews li.newsActive { min-width: 102px; margin: 0 9px 0 10px; }
ul.navigationNews li.newsActive a { min-height: 42px; padding: 0px; }
ul.navigationNews li.newsActive, ul.navigationNews li.newsActive a:hover { background: none; }
ul.navigationNews > li.newsActive > small { float: right; font-size: 11px; margin: 0 10px; }
ul.navigationNews li a > span { display: none; }
ul.navigationNews li.newsActive span { display: inline-block; min-width: auto; color: #999; }
li.newsActive:hover .icon-news { background-position: -2px -212px; }
ul.navigationNews > li small { margin: 0 2px 0 10px; }
ul.navigationNews > li > ul > li > a > small { margin: 0 2px 0 0; }
li.newsActive:hover .icon-videoWacth, li.newsActive .icon-videoWacth { background-position: -33px -716px; }
li.newsActive .icon-manStore { margin-right: 3px; }
li.newsActive .icon-manStore, li.newsActive:hover .icon-manStore { background-position: -2px -715px; }
ul.navigationNews li.newsActive .icon-news { margin-right: 7px; }
ul.navigationNews li.newsActive .icon-videoWacth { margin-right: 10px; }
ul.calenderMenu { background: #333333; box-shadow: 1px 1px 5px #101010; border-radius: 3px; top: 36px; right: 0px; left: inherit; padding: 8px 10px; width: 715px; z-index: 999; }
ul.calenderMenu li { position: relative; padding: 0px; }
.calenderRight { float: right; border-left: 1px solid #76777d; padding-left: 10px; width: 84px; min-height: 210px; }
.calenderRight li { margin-bottom: 10px; background: #498bf5; border: 1px solid #3079ed; border-radius: 3px; line-height: 19px; padding: 0 0 0 5px !important; }
ul.calenderMenu li.custom { background: #e5e6ec; border: 1px solid #666666; }
ul.calenderMenu li.custom a { color: #666666; }
.calenderLeft { float: left; width: 610px; }
.calenderLeft img { display: block; position: absolute; }
.calenderLeft p { float: right; font-size: 11px; color: #fff; line-height: normal; margin-top: 3px; }
.calenderMenu p.left { float: left; }
.calenderLeft label { }
.calenderLeft input[type=text] { display: inline-block; width: 127px; margin: 0 2px 0 6px; padding: 3px 10px; border-radius: 3px; }
.calenderLeft input[type=submit] { background: #4889f1; border: 1px solid #3079ed; color: #fff; padding: 2px 9px; border-radius: 3px; }
#datepicker-calendar { margin-bottom: 8px; height: 167px; background: #fff; padding: 10px 10px 0 10px; border-radius: 3px; }
#datepicker-calendar span { font-size: 11px; color: #838692; float: none; }
#date-range-field { display: inline-block; overflow: hidden; height: 13px; }
ul.newsCalender { margin: 0; float:right; }
ul.newsCalender li a { color: #666666; }
ul.newsCalender li a i { background: url(../../images/common/sprite.png) no-repeat -309px -145px; display: inline-block; width: 20px; height: 12px; }
ul.newsCalender > li { background: #e5e7eb; font-size: 11px; padding: 4px 10px; border-radius: 2px; display: inline-block; position: relative; vertical-align: top; margin: 9px 12px 0 0; border: 1px solid #c7cad3; }
ul.newsCalender > li > input[type=text] { background: #e5e7eb; padding: 0; border: 1px solid transparent; margin-left: 15px; }
ul.newsCalender > li > input[type=text]:focus { background: transparent; box-shadow: none; }
ul.newsCalender > li > a.search { position: absolute; width: 15px; height: 15px; background: url(../../images/common/sprite.png) no-repeat -337px -145px; left: 6px; top: 7px; }
ul.newsCalender input#mainCalender { background: transparent; border: none; color: #666666; width: 99px; display: inline-block; }
ul.newsCalender #date-range-field { margin: 1px 1px 0 0px; cursor: pointer; }
ul.newsCalender ul.calenderMenu { background: #222; border-radius: 3px; top: 38px; right: 0px; left: inherit; padding: 8px 10px; width: 715px; z-index: 999; position: absolute; display: none; }
ul.newsCalender ul.calenderMenu li { position: relative; padding: 0px; }
ul.newsCalender .calenderRight { float: right; border-left: 1px solid #76777d; padding-left: 10px; width: 84px; min-height: 210px; }
ul.newsCalender .calenderRight li { margin-bottom: 10px; background: #498bf5; border: 1px solid #3079ed; border-radius: 3px; line-height: 16px; padding: 3px 0 0 8px !important; }
ul.calenderMenu > li:before { display: inline-block; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 6px solid #333; position: absolute; right: 13px; top: -13px; content: ''; }
ul.calenderMenu li a { color: #fff; font-size: 11px; }
ul.calenderMenu li.custom { background: #e5e6ec; }
ul.calenderMenu li.custom a { color: #666666; }
/*==== DATE PICKER CSS STYLE ====*/
.newsCalender div.datepicker { width: 196px; height: 147px; position: absolute; cursor: default; top: 0; left: 0; display: none }
.newsCalender .datepickerContainer { position: absolute }
.newsCalender .datepickerBorderB, .datepickerBorderBL, .datepickerBorderBR, .datepickerBorderL, .datepickerBorderR, .datepickerBorderT, .datepickerBorderTL, .datepickerBorderTR, .datepickerHidden { display: none }
.newsCalender div.datepicker table { border-collapse: collapse }
.newsCalender div.datepicker a { text-decoration: none; cursor: default; outline: 0 }
.newsCalender div.datepicker table td { text-align: center; padding: 0; margin: 0 }
.newsCalender div.datepicker th { text-align: center; padding: 0 }
.newsCalender div.datepicker tbody a { display: block }
.newsCalender .datepickerDays a { width: 20px; line-height: 16px; height: 16px; padding-right: 2px }
.newsCalender .datepickerMonths a, .datepickerYears a { line-height: 36px; height: 36px; text-align: center }
.newsCalender .datepickerMonths td:first-child a, .datepickerMonths td:last-child a, .datepickerYears td:first-child a, .datepickerYears td:last-child a { width: 38px }
.newsCalender td.datepickerNotInMonth a { color: #666 }
.newsCalender tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected, tbody.datepickerMonths td.datepickerSelected, tbody.datepickerYears td.datepickerSelected { background: #17384d }
.newsCalender div.datepicker td.datepickerSelected a { color: #fff }
.newsCalender div.datepicker td.datepickerNotInMonth a:hover { color: #999 }
.newsCalender .datepickerBlock { vertical-align: top }
.newsCalender a.datepickerGoNext, a.datepickerGoPrev, a.datepickerMonth { text-align: center; height: 20px; line-height: 20px; float: left }
.newsCalender div.datepicker th a.datepickerGoNext, div.datepicker th a.datepickerGoPrev { width: 20px; color: #666; display: none }
.newsCalender div.datepicker .datepickerFirstView th a.datepickerGoPrev, div.datepicker .datepickerLastView th a.datepickerGoNext, div.datepicker th a.datepickerMonth { display: block }
.newsCalender div.datepicker th a.datepickerMonth { margin-left: 20px }
.newsCalender div.datepicker .datepickerFirstView th a.datepickerMonth { margin-left: 0 }
.newsCalender table.datepickerViewDays tbody.datepickerMonths, table.datepickerViewDays tbody.datepickerYears, table.datepickerViewMonths tbody.datepickerDays, table.datepickerViewMonths tbody.datepickerYears, table.datepickerViewMonths tr.datepickerDoW, table.datepickerViewYears tbody.datepickerDays, table.datepickerViewYears tbody.datepickerMonths, table.datepickerViewYears tr.datepickerDoW { display: none }
.newsCalender td.datepickerDisabled a, td.datepickerDisabled.datepickerNotInMonth a { color: #555 }
.newsCalender td.datepickerDisabled a:hover { color: #333 }
.newsCalender div.datepicker tbody.datepickerDays td.datepickerSpecial a { background: #700; color: #fff }
.newsCalender div.datepicker tbody.datepickerDays td.datepickerSpecial.datepickerSelected a { background: #a00 }
.newsCalender tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected { background-color: transparent }
.newsCalender div.datepicker td.datepickerNotInMonth a span, div.datepicker td.datepickerNotInMonth a:hover span { display: none }
.newsCalender div.datepicker tbody.datepickerDays td.datepickerNotInMonth:hover { background-color: transparent }
.newsCalender .datepickerSpace div { width: 2px }
.newsCalender div.datepicker th { background-color: #DDD }
.newsCalender div.datepicker th a.datepickerMonth { color: #008ED6; font-weight: 400 }
.newsCalender div.datepicker th { color: #000; font-weight: 700 }
.newsCalender div.datepicker table thead tr.datepickerDoW th { background: #fff }
.newsCalender div.datepicker a, div.datepicker a:hover { color: #000 }
.newsCalender div.datepicker table.datepickerViewDays, div.datepicker table.datepickerViewMonths, div.datepicker table.datepickerViewYears { background-color: #fff }
.newsCalender div.datepicker table tbody.datepickerDays td { border: 1px solid #F7F7F7; padding: 1px 2px 1px 3px }
.newsCalender tbody.datepickerDays td.datepickerSelected { background-color: #07C }
.newsCalender tbody.datepickerDays td.datepickerSelected span { color: #fff!important }
.newsCalender div.datepicker td.datepickerFuture a { color: #DDD }
.newsCalender div.datepicker tbody.datepickerDays td:hover { background-color: #eaf1fd }
.newsCalender div.datepicker td.datepickerToday a { font-weight: 700 }
.newsCalender .datepickerMonths a, .datepickerYears a { width: 42px }
.newsCalender .datepickerMonths td:first-child a, .datepickerYears td:first-child a { width: 39px }
.newsCalender div.datepicker th a.datepickerMonth { width: 121px }


ul.menuH ul {
width: 209px;
position: absolute;
left: -9999px;
border: 1px solid #DDD;
border-top: 0;
background: #FFF;
text-align: left;
list-style: none;
margin: 0;
padding: 0 1px 10px 0;
margin-top: 0px;
}

