﻿.rightSection .mainStory .contentRight {
width: 480px;
font-size: 13px;
color: #707177;
/*display: none;*/
}
.btn {
display: none;
}

.playpause {
margin-left: 500px;
width: 71px;
height: 31px;
}

.forwardbackword {
margin-left: 30px;
width: 71px;
height: 31px;
}

.marquee {
  
  overflow: hidden;
 
 
   width: 536px;
  height: 500px !important;
}
#myMarquee {
height:380px !important;
}


