﻿*{
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

.playOutServer
{
    background-color:#222;
}
.nameBrandingServer
{
    background-color:green;
}
.fourWindowGraphics
{
    background-color:blue;
}

.btnRoutesFirst
{
    width:40px;
}
.tdNoTop
{
    border-top:none !important;
    padding:8px;
}
.tdNoTop button
{
  min-width: 36px;
}
.routerPopUp
{
    min-height:550px;
    top: 0px;
    width:750px !important;
    padding:0px !important;
}
.routerPnlPop
{
max-height:650px !important;
    padding: 0px 15px !important;
}.routerPnlPop .mCS-light
{
max-height:580px !important;
}
.panelRouter
{
    margin-bottom:0px;
}
.left
{
    float:left;
}
.right
{
    float:right;
}
.modal-lg-Router
{
    width:750px !important;
      margin: 165px auto !important;
}

.modal-footer-router
{
    margin-top: 25px !important;
}
.panel-body-router
{
    padding: 0px 15px !important;
}
.btn-circle
{
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 2;
    border-radius: 50px;
}
.btn-xl
{
    top: 150px;
    left: 316px;
    position: absolute;
}
.btn-x2
{
    top: 300px;
    left: 316px;
    position: absolute;
}
.btn-S
{
}
.btn-D
{
}
.btn-S.active,.btnRoutesFirst.active
{
    background-color:#0000FF !important;
}
.btn-D.active
{
    background-color:#0000FF !important;
}
.router
{
   overflow: hidden !important;
   overflow-y:hidden !important; 
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1050 !important;
  -webkit-overflow-scrolling: touch !important;
  outline: 0 !important;
}
.popUpBGRouter
{
    top:-120px;
    height:750px;
}
.btnRoute
{
    width:170px;
}
          
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



.listItems {  background:#171515;  height: 63px; position: relative; color:#999;  }
.listItems { cursor: pointer;}
.listItems div { float: left; padding-top: 3px; }
.listItems h3 { font-size: 13px; color: #666666; margin-bottom: 5px; line-height: 9px; font-weight: 600; }
.listItems img {float: left; padding: 6px;width: 61px;height: 76%; margin-top: 8px;}
.listItems div {float:left; width: 87.4%; height:100% ; }
.listItems div .divfirst {width:250px;height:30px ; display:block; margin-top:14px }
.listItems div .divfirst .name {width: 100%;height:30px ; display:inline }
.listItems div .divsecond {width:30px;height:30px; margin-top: 14px; margin-left: 197px; }
.listItems div .divsecond .channel {width:30px;height:30px;  display:inline }
.listItems div .divthird {width:30px;height:30px; margin-top: 14px; margin-left: 114px; }
.listItems div .divthird .videoLayer {width:30px;height:30px;  display:inline }
.listItems div .divfourth {width:30px;height:30px; margin-top: 31px;margin-left: 162px; }
.listItems div .divfourth .delay {width:30px;height:30px;  display:inline }
.listItems div .divfift {width:30px;height:30px; margin-top: 31px;margin-left: 142px; }
.listItems div .divfift .server {width:30px;height:30px;  display:inline }
.listItems div .divSixth {width: 30px; height: 30px; margin-top: 17px; margin-left: -138px; }
.listItems div .divVW {width: 70px; height: 30px; margin-top: 17px; margin-left: -138px; }
.listItems .leftSpan {float:left; margin-left:0px;  width:10px; height:100%; cursor:move }
.listItems .rightSpan {float:right; margin-left:0px;  width:10px; height:100% }
.listItems .showHide{width:4px; height:2px; cursor:pointer}
.listItems .showHide label{margin-top:20px; margin-left:195px; cursor:pointer; position:absolute; z-index:100;}

/* vertical scrollbar */
.mCSB_container { width: auto; /*padding-right: 8px;*/ overflow: hidden }
.main-content .mCSB_container { /*padding-left: 3px;*/ }
.mCSB_container.mCS_no_scrollbar { margin-right: 0 }
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar { /*margin-right: 30px*/ }
.mCustomScrollBox>.mCSB_scrollTools { width: 16px; height: 100%; top: 0; right: 0; opacity: 0.75; filter: alpha(opacity=75); -ms-filter: alpha(opacity=75) }
.mCSB_scrollTools .mCSB_draggerContainer { position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto }
.mCSB_scrollTools a+.mCSB_draggerContainer { margin: 20px 0 }
.mCSB_scrollTools .mCSB_draggerRail { width: 2px; height: 100%; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; filter: alpha(opacity=40); -ms-filter: alpha(opacity=40); margin: 0 auto }
.mCSB_scrollTools .mCSB_dragger { cursor: pointer; width: 100%; height: 30px }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; height: 100%; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; text-align: center; background: rgba(255,255,255,0.75); filter: alpha(opacity=75); -ms-filter: alpha(opacity=75); margin: 0 auto; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #333; }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: #333 !important; }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown { display: block; position: relative; height: 20px; overflow: hidden; cursor: pointer; margin: 0 auto }
.mCSB_scrollTools .mCSB_buttonDown { top: 100%; margin-top: -40px; background-position: 0 -20px }
.mCSB_horizontal>.mCSB_container { height: auto; margin-right: 0; margin-bottom: 30px; overflow: hidden }
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar { margin-bottom: 0 }
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar { margin-right: 0; margin-bottom: 30px }
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools { width: 100%; height: 16px; top: auto; right: auto; bottom: 0; left: 0; overflow: hidden }
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer { margin: 0 20px }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 2px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: 7px 0 }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger { width: 30px; height: 100% }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: 6px auto }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight { display: block; position: relative; width: 20px; height: 100%; overflow: hidden; cursor: pointer; float: left; margin: 0 auto }
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight { margin-left: -40px; float: right }
.mCustomScrollBox { -ms-touch-action: none; padding-right: 18px; }
.mCustomScrollBox:hover>.mCSB_scrollTools { opacity: 1; filter: alpha(opacity=100); -ms-filter: alpha(opacity=100) }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255,255,255,0.85); filter: alpha(opacity=85); -ms-filter: alpha(opacity=85) }
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255,255,255,0.9); filter: alpha(opacity=90); -ms-filter: alpha(opacity=90) }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight { background-image: url(mCSB_buttons.png); background-repeat: no-repeat; opacity: 0.4; filter: alpha(opacity=40); -ms-filter: alpha(opacity=40) }
.mCSB_scrollTools .mCSB_buttonUp { background-position: 0 0 }
.mCSB_scrollTools .mCSB_buttonLeft { background-position: 0 -40px }
.mCSB_scrollTools .mCSB_buttonRight { background-position: 0 -56px }
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover { opacity: 0.75; filter: alpha(opacity=75); -ms-filter: alpha(opacity=75) }
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active { opacity: 0.9; filter: alpha(opacity=90); -ms-filter: alpha(opacity=90) }
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: rgba(0,0,0,0.75) }
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(255,255,255,0.1); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background: rgba(255,255,255,0.75); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp { background-position: -32px 0 }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown { background-position: -32px -20px }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -40px -40px }
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight { background-position: -40px -56px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(0,0,0,0.1); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 4px; background: rgba(0,0,0,0.75); -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp { background-position: -112px 0 }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown { background-position: -112px -20px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -120px -40px }
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight { background-position: -120px -56px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(255,255,255,0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; background: rgba(255,255,255,0.75); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp { background-position: -16px 0 }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown { background-position: -16px -20px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -20px -40px }
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight { background-position: -20px -56px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail { width: 4px; background: rgba(0,0,0,0.1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 6px; background: rgba(0,0,0,0.75); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp { background-position: -96px 0 }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown { background-position: -96px -20px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -100px -40px }
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight { background-position: -100px -56px }
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail { background: rgba(255,255,255,0.1) }
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 2px }
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 2px; background: rgba(0,0,0,0.75) }
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail { background: rgba(0,0,0,0.15) }
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(0,0,0,0.85) }
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0,0,0,0.9) }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp { background-position: -80px 0 }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown { background-position: -80px -20px }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft { background-position: -80px -40px }
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight { background-position: -80px -56px }
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { width: 100%; height: 4px; margin: 6px 0 }
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 4px; margin: 6px auto }
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: rgba(255,255,255,0.85) }
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(255,255,255,0.9) }
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 6px; margin: 5px auto }
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { width: 100% }
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 100%; height: 2px; margin: 7px auto }



.preview_box {
 width:296px;
 height:222px;
}

.navigation {
 padding-top:0px;
}

.panels {
 display:none;
}

.form-control{ width: 297px !important; background-color:#171515; color:#fff; border:none !important;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

border-top: 1px solid #B0711E;
background-color: #563F22;
color: white;
border-left: 1px solid #B0711E;
border-right: 1px solid #B0711E;
}

.nav-tabs > li > a:hover {
    border-top: 1px solid #B0711E;
    border-left: 1px solid #B0711E;
    border-right: 1px solid #B0711E;
    border-bottom:none;
    background-color:#563F22;
}

.nav-tabs > li > a {
color:#999;
}

.border-color-tabs {
border:none;
font-size:13px;
}

.nav-tabs > li {
    cursor:pointer;
margin-bottom:-5px;
margin-left: 1px;
}

.media-tab {
width: 98px;
text-align: center;
}

.template-tab {
width: 93px;
text-align: center;
}

.icon-align {
    margin-left:6px;
    font-weight:normal;
}


body {
    background-color: #222;
}

.dropdown-menu {
    background-color: #222;
}

.dropdown-menu > li > a {
    color: #999;
    font-size:12px;
}

.left-panel {
    margin-left: 20px;
    width: 300px;
    height: 503px;
    border: 1px solid #000;
    float: left;
}

.rundown-panel {
    margin-left: 20px;
    width: 1000px;
    height: 500px;
    float: left;
    background-color: #000;
}

.btn-nav .dropdown {
    margin: 10px;
}

.smallcontrol {
    margin-top:24px !important;
}

.btn-nav {
    position: absolute;
    top: 96%;
    left: 50%;
    margin-top: -60px;
    margin-left: -179px;
}

.border-color {
  border: 1px solid #222;
}

.item-color {
background-color:#171515 !important; 
}

.panel-default > .panel-heading {
border-bottom: 2px solid #B0711E;
color:#999;
}

.item-color .panel-title {
font-size:13px;
}

.rundown-panel .panel-body,.left-panel .panel-body{
    padding:0px;
}

.panel {
background-color:#222;
}

.panel-default {
border-color:#222;
}

.selected {
border: 1px solid #B0711E;
background-color: #563F22;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  border: 1px solid #B0711E;
  background-color:#563F22;
}

.smallcontrol .btn {
    background-color:#222;
}
.smallcontrol span {
    color:#fff;
}

.form-control:focus 
{
        border-color: #B0711E;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #563F22;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #563F22;
    }

.white {
color:#fff;
}

.red {
color:red;
cursor:pointer;
}

a {
color:#999;
}



.smalldropdownmenu
{
    width: 12% !important;
    color: #999 !important;
}

.pnlKeyValue
{
    max-height: 200px;
}

.pnlPop
{
    max-height: 450px;
}

.lblpopUP
{
    width: 100% !important;
    color: #999 !important;
}

.allignRight
{
    padding-left: 0px !important;
}

.txtpopUP
{
    width: 100% !important;
    color: #FFF !important;
    font-size: 20px !important;
}

.tdsmall
{
    width: 11% !important;
    color: #999 !important;
    background-color: #222 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.tdlarge
{
    width: 56% !important;
    color: #999 !important;
    background-color: #222 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.popUpBG
{
    background-color: #222 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.myModalLabel
{
    color: #999 !important;
}
.myModalLabel > span
{
    color: #999 !important;
}

.btnclose
{
    color: #FFF;
}

.borderbottom
{
    border-bottom: 1px solid #171515 !important;
    background-color: #171515;
}

.bordertop
{
    border-top: 1px solid #222 !important;
}

.borderRemove
{
    border-top: 1px solid #222 !important;
    border-bottom: 1px solid #222 !important;
}

.popUpBG .dropdown > a
{
    color: #999 !important;
    background-color: #222 !important;
}

    .popUpBG .dropdown > a:hover
    {
        color: #fff !important;
        background-color: #222 !important;
        cursor: pointer;
    }

    .popUpBG .dropdown > a:focus
    {
        color: #fff !important;
        border: 1px solid #B0711E !important;
        background-color: #563F22 !important;
    }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
    text-decoration: none;
    background-color: #563F22 !important;
    color: #fff !important;
    cursor: pointer;
}
.dropdown-menu > li
{
    padding:3px;

}

.btnpm
{
    color: #000;
}


.popUpBG .panel-body
{
    border-top: 1px solid #B0711E;
}

.drptop
{
    padding-top: 0px !important;
}

.window
{
    border: 2px solid #B0711E ;
    display:block;
    width:858px !important;
    height: 420px !important;
}

.window1
{
    background-color: black;
    position: absolute;
    background-size:100% 100%;
    background-repeat:no-repeat;
    border:1px solid white;
}

.dim {
opacity:0.4;
}

/*.window1 img
{
    height: 100%;
    width: 100%;
}*/

.drpbtnSelect
{
    position: absolute;
    right:-32px;
    width: 80px;
}

.drpbtnTools
{
    position: absolute;
    width: 80px;
    float: left;
}

.drpbtnTools > .dropdown > .drptop
{
    padding: 0px;
}

.drpbtnSelect > .dropdown > .drptop
{
    padding: 0px;
}
.alertlist 
{ 
    position:absolute  !important; 
    list-style-type: none  !important;  
    margin-left:0px  !important;
    padding:0px  !important;
    background-color: #222 !important;
    z-index: 1;
}
.alertlist li
{ 
    cursor:pointer;
    padding:5px !important;
    margin-left:2px !important;
    width:200px;
}
.show-alerts
{
    display:block !important;
}
.hide-alerts
{
    display:none !important;
}

.lbl
{
 position:absolute !important;
 color:white !important;
 width:4% !important;
 margin-left:7% !important;
}
.lbl1
{
     top:92%;   
}
.lbl2
{
    top:70%; 
}
.lbl3
{
     top:75%; 
}
.lbl4
{
     top:65%;
}

input.bar
{
    position:absolute;
    width:50%;
    margin-left:25%;
}

input.xCo
{
     top:92%;   
}
input.yCo
{
    top:70%;  
}
input.wWidth
{
    top:75%; 
}
input.wHeight
{
    top:65%;
}
.panelDataPopup
{
height:462px;
}
.aboutUsWH
{
    width:900px; 
    height:300px
}
.connectSetting
{
    width:900px; 
    height:520px
}

.ListenSetting
{
    width:900px; 
    height:520px;
    display:block

}
.freezOnloadInput
{
    margin-left:11.3% !important;
}
.loopInput
{
    margin-left:20% !important;
}
.durationInput
{
    margin-left:15.5%;
    width:60px
}
.delayInput
{
    margin-left:18.5%; 
    width:60px
}
.direction
{
    margin-left:13%;
}
.tween
{
    margin-left:16%;
}
.transition
{
    margin-left:12%
}
.inputBackground
{
   background-color:#222;
   border:none
}

.transitionPanel
{
    width:896px; 
    height:460px
}
.subCasparRundownItem
{
    margin-left:30px;
}

.expand:hover
{
    color:orange;
}

.checkbox-inline label
{
    cursor:pointer;
    
}

.sanSearchArea
{
    padding: 0px;
}

.san-container
{
    height: 670px;
    float: left;
    background-color: #000;
    width: 300px;
    margin-right: 2px;
    position: fixed;
    margin-left: 1044px;
}

.san-container .panel
{
    background-color:black;

}

.san-container .panel .panel-heading
{
    padding: 0px 0px;
    /*border-bottom: 1px solid transparent;*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}
.san-container .panel .panel-heading .form-group {
margin-bottom: 6px;
}

.san-container .panel .panel-body ul li
{
        list-style-type: none  !important;  
        margin-left:0px  !important;
        padding:0px  !important;
        margin-left:5px; 
        margin-top:16px; 
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
        width:93.5%;
        cursor:pointer; font-size: 14px; 
        color: #fff; 
        border-bottom:1px solid; border-bottom-color:#B0711E; 
        height:120px;
}

.san-container .panel .panel-body  ul {background-color:#171515; list-style-type: none; margin-top:8px;  margin-left:14px; padding:8px; width:100%}

.search-icons{ margin-left: 15px; margin-top: 4px;}

.allRundown-container  .panel-body  ul {
    background-color: #171515;
    list-style-type: none;
    margin-top: 0px;
    margin-left: 12px;
    padding: 2px;
    width: 100%;
    height: 159px;

}

.search-icons{ margin-left: 15px; margin-top: 4px;}

.allRundown-container .panel-body ul li
{
        list-style-type: none  !important;  
        margin-left:0px  !important;
        padding:0px  !important;
        margin-left:5px; 
        margin-top:16px; 
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
        cursor:pointer; font-size: 14px; 
        color: #fff; 
        border-bottom:1px solid; 
        border-bottom-color:#B0711E; 
        height:auto;
}

.allRundown-container .panel-body
{
   margin-top: 0px;
   
}

.allRundown-container .panel-heading .form-group
{
    margin-left: 0px;
    margin-bottom:0px;
    border-bottom:2px solid #B0711E ;

}

.allRundown-container .panel-heading
{
    padding:2px;
    border-bottom: none;
    height: 387px !important;
}

.allRundown-container .panel-heading .form-group .form-control
{
    height: 43px;
    margin-top: -8px;
    margin-left: -2px;
}

.draggedItem
{
    z-index:1000;
    padding:0px;
}


.ReportNameInput
{
    margin-left:15.5%;
    width:60%
}
.ReportEmailInput
{
    margin-left:15.56%; 
   width:60%
}
.ReportContactInput
{
    margin-left:13.56%; 
   width:61.5%
}

.ReportDetailInput
{
    margin-left:15.4%; 
    width:60%;
    height:120px;
    
}


.inputBackground
{
   background-color:#222;
   border:none
}

.reportBugPanel .form-inline label
{
    color:white;
}

.reportBugPanel .form-inline .form-group .form-control 
{
   width: 479px !important;
}

.reportBugPanel .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 791px;
}

.panel-body .form-inline
{
    margin-bottom:5px; 
}

.TempalateWindowsSanArea,.TempalateWindowsDecklinkPanel
{
    border-radius:6px;
    top:55px;
    margin-left:885px;
    border:2px solid #B0711E;
    width:200px; 
    height:605px;
    position:absolute; 
    background-color:#333;
}

.TempalateWindowsSanArea  ul,.TempalateWindowsDecklinkPanel ul {background-color:#171515; padding:0px; margin-top:-5px; top:0px; height:100%; margin-left:8px}

.TempalateWindowsSanArea ul li ,.TempalateWindowsDecklinkPanel ul li
{
        list-style-type: none  !important;  
        margin-left:4px;
        margin-top:16px; 
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
        cursor:pointer; font-size: 14px; 
        color: #fff; 
        border-bottom:1px solid; 
        border-bottom-color:#B0711E; 
        height:80px;
}

.TempalateWindowsDecklinkPanel
{
     margin-left:-200px;
     height:400px;
}
.TempalateWindowsDecklinkPanel ul li
{
        margin-left:2px;
        margin-right:2px;
}
.TempalateWindowsDecklinkPanel ul
{
    height:100%;
    margin-top:0px; 
    margin-left:0px;
    padding:3px
}
.loadingDiv
{
    position:absolute;
    width:100%;
    height:100%;
    z-index:100000;
    top:0px;
    left:0px;
    background-color:gray;
    opacity:0.25;
}
.loadingDiv img
{
    margin-top:250px;
    margin-left:560px;
    z-index:100005;
    opacity:1;
}
.loadingDiv label
{
    margin-top:10px;
    margin-left:580px;
    font-size:20px;
    font-weight:500;
    font-family:sans-serif;

} 



/*Themes ===================================================================================================================================*/

/*playOutServer------------------------*/

.playOutServer .listItems {background:#171515 !important;  color:#999!important;  }
.playOutServer .listItems h3 {color: #666666 !important;}
.playOutServer .form-control{background-color:#171515 !important; color:#fff !important;}
.playOutServer .nav-tabs > li.active > a,.playOutServer .nav-tabs > li.active > a:hover,.playOutServer .nav-tabs > li.active > a:focus {
    border-top: 1px solid #B0711E !important;
    background-color: #563F22 !important;
    color: white !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important ;
}
.playOutServer .nav-tabs > li > a:hover {
    border-top: 1px solid #B0711E !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important;
    background-color:#563F22 !important;
}
.playOutServer .nav-tabs > li > a {
color:#999 !important;
}
.playOutServer .dropdown-menu {
    background-color: #222 !important;
}
.playOutServer .dropdown-menu > li > a {
    color: #999 !important;
}
.playOutServer .left-panel {
    border: 1px solid #000 !important;
}
.playOutServer .rundown-panel {
    background-color: #000 !important;
}
.playOutServer .border-color {
  border: 1px solid #222 !important;
}
.playOutServer .item-color {
background-color:#171515 !important; 
}
.playOutServer .panel-default > .panel-heading {
border-bottom: 2px solid #B0711E !important;
color:#999 !important;
}
.playOutServer .panel {
background-color:#222 !important;
}
.playOutServer .panel-default {
border-color:#222 !important;
}
.playOutServer .selected {
border: 1px solid #B0711E !important;
background-color: #563F22 !important;
}
.playOutServer .navbar-inverse .navbar-nav > .open > a,.playOutServer .navbar-inverse .navbar-nav >.playOutServer .open > a:hover,.playOutServer .navbar-inverse .navbar-nav > .open > a:focus {
  border: 1px solid #B0711E !important;
  background-color:#563F22 !important;
}
.playOutServer .smallcontrol .btn {
    background-color:#222 !important;
}
.playOutServer .smallcontrol span {
    color:#fff !important;
}
.playOutServer .form-control:focus 
{
    border-color: #B0711E !important;
}
.playOutServer .white {
color:#fff !important;
}
.playOutServer .red {
color:red !important;
}
.playOutServer a {
color:#999 !important;
}
.playOutServer .smalldropdownmenu
{
    color: #999 !important;
}

.playOutServer .lblpopUP
{
    color: #999 !important;
}

.playOutServer .txtpopUP
{
    color: #FFF !important;
}
.playOutServer .tdsmall
{
    
    color: #999 !important;
    background-color: #222 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.playOutServer .tdlarge
{
  
    color: #999 !important;
    background-color: #222 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.playOutServer .popUpBG
{
    background-color: #222 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.playOutServer .myModalLabel
{
    color: #999 !important;
}
.playOutServer .myModalLabel > span
{
    color: #999 !important;
}

.playOutServer .btnclose
{
    color: #FFF !important;
}

.playOutServer .borderbottom
{
    border-bottom: 1px solid #171515 !important;
    background-color: #171515 !important;
}

.playOutServer .bordertop
{
    border-top: 1px solid #222 !important;
}

.playOutServer .borderRemove
{
    border-top: 1px solid #222 !important;
    border-bottom: 1px solid #222 !important;
}

.playOutServer .popUpBG .dropdown > a
{
    color: #999 !important;
    background-color: #222 !important;
}

.playOutServer .popUpBG .dropdown > a:hover
{
    color: #fff !important;
    background-color: #222 !important;
     
}

.popUpBG .dropdown > a:focus
{
    color: #fff !important;
    border: 1px solid #B0711E !important;
    background-color: #563F22 !important;
}

.playOutServer .dropdown-menu > li > a:hover,.playOutServer .dropdown-menu > li > a:focus
{
    background-color: #563F22 !important;
    color: #fff !important;  
}
.playOutServer .btnpm
{
    color: #000 !important;
}

.playOutServer .popUpBG .panel-body
{
    border-top: 1px solid #B0711E !important;
}

.playOutServer .window1
{
    background-color: black !important;
    
}

.playOutServer .alertlist 
{ 
    background-color: #222 !important;  
}

.playOutServer .lbl
{
 color:white !important;
}


.playOutServer .inputBackground
{
   background-color:#222 !important;
}

.playOutServer .expand:hover
{
    color:orange !important;
}


.playOutServer .san-container
{
    background-color: #000 !important;
}

.playOutServer  .san-container .panel
{
    background-color:black !important;
}

.playOutServer  .san-container .panel .panel-body ul li
{
        color: #fff !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#B0711E !important;        
}

.playOutServer  .san-container .panel .panel-body  ul {background-color:#171515 !important; }



.playOutServer  .allRundown-container  .panel-body  ul {
    background-color: #171515 !important;
  }



.playOutServer  .allRundown-container .panel-body ul li
{
        color: #fff !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#B0711E !important;    
}

.playOutServer  .allRundown-container .panel-heading .form-group
{
    border-bottom:2px solid #B0711E !important;
}

.playOutServer  .inputBackground
{
   background-color:#222 !important;
}

.playOutServer  .reportBugPanel .form-inline label
{
    color:white !important;
}

.playOutServer .TempalateWindowsSanArea,.playOutServer  .TempalateWindowsDecklinkPanel
{
    border:2px solid #B0711E !important;
    background-color:#333 !important;
}

.playOutServer .TempalateWindowsSanArea  ul,.playOutServer .TempalateWindowsDecklinkPanel ul {
    background-color:#171515 !important; 

  }

.playOutServer .TempalateWindowsSanArea ul li ,.playOutServer .TempalateWindowsDecklinkPanel ul li
{
        color: #fff !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#B0711E !important;     
}

.playOutServer .loadingDiv
{
    background-color:gray !important;
}

.playOutServer .navbar-inverse {
background-color: #222;
border-color: #080808;
}


/*default------------------------*/

.blue-theme{ background:#cccccc;
}
.blue-theme .listItems {background:#E60000 !important;  color:#999!important;  }
.blue-theme .listItems h3 {color: #000 !important;}
.blue-theme .form-control{background-color:#000 !important; color:#fff !important;}
.blue-theme .nav-tabs > li.active > a,.default .nav-tabs > li.active > a:hover,.default .nav-tabs > li.active > a:focus {
    border-top: 1px solid #B0711E !important;
    background-color: #000 !important;
    color: white !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important ;
}
.blue-theme .nav-tabs > li > a:hover {
    border-top: 1px solid #B0711E !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important;
    background-color:#000 !important;
}
.blue-theme .nav-tabs > li > a {
color:#999 !important;
}
.blue-theme .dropdown-menu {
    background-color: #222 !important;
}
.blue-theme .dropdown-menu > li > a {
    color: #fff !important;
}

.blue-theme .dropdown-menu > li:hover {
    color: #fff !important;
    background:#0073E6!important;
}
.blue-theme .left-panel {
    border: 1px solid #000 !important;
}
.blue-theme .rundown-panel {
    background-color: #000 !important;
}

.blue-theme .item-color {
background-color: #777 !important;
}
.blue-theme .panel-default > .panel-heading {
border-bottom: 2px solid #0073E6 !important;
color:#fff !important;
}
.blue-theme .panel {
background-color:#222 !important;
}
.blue-theme .panel-default {
border-color:#222 !important;
}
.blue-theme .selected {
border: 0px!important;
padding: 0;
background-color: #000 !important;
}
.blue-theme .navbar-inverse .navbar-nav > .open > a,.default .navbar-inverse .navbar-nav >.default .open > a:hover,.default .navbar-inverse .navbar-nav > .open > a:focus {
  border: 1px solid #B0711E !important;
  background-color:#000 !important;
}
.blue-theme .smallcontrol .btn {
    background-color:#222 !important;
}
.blue-theme .smallcontrol span {
    color:#fff !important;
}
.blue-theme .form-control:focus 
{
    border-color: #000 !important;
}
.blue-theme .white {
color:#fff !important;
}
.blue-theme .red {
color:red !important;
}
.blue-theme a {
color:#222 !important;
}
.blue-theme .smalldropdownmenu
{
    color: #999 !important;
}

.blue-theme .lblpopUP
{
    color: #999 !important;
}

.blue-theme .txtpopUP
{
    color: #FFF !important;
}
.blue-theme .tdsmall
{
    
    color: #999 !important;
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.blue-theme .tdlarge
{
  
    color: #999 !important;
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.blue-theme .popUpBG
{
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.blue-theme .myModalLabel
{
    color: #999 !important;
}
.blue-theme .myModalLabel > span
{
    color: #999 !important;
}

.blue-theme .btnclose
{
    color: #FFF !important;
}

.blue-theme .borderbottom
{
    border-bottom: 1px solid #171515 !important;
    background-color: #000 !important;
}

.blue-theme .bordertop
{
    border-top: 1px solid #222 !important;
}

.blue-theme .borderRemove
{
    border-top: 1px solid #222 !important;
    border-bottom: 1px solid #222 !important;
}

.blue-theme .popUpBG .dropdown > a
{
    color: #999 !important;
    background-color: #000 !important;
}

.blue-theme .popUpBG .dropdown > a:hover
{
    color: #fff !important;
    background-color: #000 !important;
     
}

.popUpBG .dropdown > a:focus
{
    color: #fff !important;
    border: 1px solid #B0711E !important;
    background-color: #000 !important;
}

.blue-theme .dropdown-menu > li > a:hover,.default .dropdown-menu > li > a:focus
{
    background-color: #000 !important;
    color: #000 !important;  
}
.blue-theme .btnpm
{
    color: #000 !important;
}

.blue-theme .popUpBG .panel-body
{
    border-top: 1px solid #B0711E !important;
}

.blue-theme .window1
{
    background-color: black !important;
    
}

.blue-theme .alertlist 
{ 
    background-color:#000 !important;  
}

.blue-theme .lbl
{
 color:white !important;
}


.blue-theme .inputBackground
{
   background-color:#000 !important;
}

.blue-theme .expand:hover
{
    color:orange !important;
}


.blue-theme .san-container
{
    background-color: #000 !important;
}

.blue-theme  .san-container .panel
{
    background-color: #999!important;
    height: 100%;
}

.blue-theme  .san-container .panel .panel-body ul li
{
        color: #000 !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#000 !important;        
}

.blue-theme  .san-container .panel .panel-body  ul {background-color: transparent!important; }



.blue-theme  .allRundown-container  .panel-body  ul {
    background-color: #000 !important;
  }



.blue-theme .allRundown-container .panel-body ul li {
color: #fff !important;
border-bottom: 1px solid !important;
border-bottom-color: #0073E6 !important;
padding: 0px 0 30px 0!important;
margin: 9px 0;
}

.blue-theme .glyphicon-align-justify:before {
content: "\e055";
color: #0073E6;
position: relative;
top: 2px;
}

.blue-theme  .allRundown-container .panel-heading .form-group
{
    border-bottom:2px solid #000 !important;
}

.blue-theme  .inputBackground
{
   background-color:#000 !important;
}

.blue-theme  .reportBugPanel .form-inline label
{
    color:white !important;
}

.blue-theme .TempalateWindowsSanArea,.default  .TempalateWindowsDecklinkPanel
{
    border:2px solid #000 !important;
    background-color:#000 !important;
}

.blue-theme .TempalateWindowsSanArea  ul,.default .TempalateWindowsDecklinkPanel ul {
    background-color:#000 !important; 

  }

.blue-theme .TempalateWindowsSanArea ul li ,.default .TempalateWindowsDecklinkPanel ul li
{
        color: #000 !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#000 !important;     
}

.blue-theme .loadingDiv
{
    background-color:gray !important;
}

.blue-theme .navbar-inverse {
background-color: #cccccc;
border-color: #cccccc;
}

.blue-theme .border-color
{
    border-bottom:1px solid #999;
}

.navbar
{
    border-radius:0px!important;
}

.navbar-brand img
{
    width:35px!important; height:auto!important;
}

.blue-theme .navbar-brand{ padding:8px 8px 8px 0;}

.blue-theme .navbar-inverse .navbar-text
{
    color:#222;
}

.navbar > .container-fluid .navbar-brand
{
    margin:0px!important;
}

.navbar > .container-fluid .navbar-brand {
margin: 0px!important;
padding: 10px 0 0 0;
}


.blue-theme .navbar-inverse .navbar-nav > .open > a, .blue-theme .navbar-inverse .navbar-nav > .blue-theme .open > a:hover, .blue-theme .navbar-inverse .navbar-nav > .open > a:focus
{
    border:0px!important; background-color: #0073E6 !important; color:#fff!important;
}



.blue-theme .dropdown-menu
{
    background: #999!important;
}

    .blue-theme .dropdown-menu > li > a:hover, .blue-theme .dropdown-menu > li > a:focus
    {
        border:0px!important; background-color: #0073E6 !important; color:#fff!important;
    }

.blue-theme .left-panel
{
    border:0px!important;
}

.blue-theme .allRundown-container .panel-heading .form-group .form-control
{
    margin:0px;
}

.blue-theme .form-control
{
    background:none!important;
}

.blue-theme .allRundown-container .panel-body ul
{
    background:none!important;
}

.blue-theme .allRundown-container .panel-heading .form-group
{
    border-bottom: 2px solid #0073E6 !important;
    background: #777!important;
}

.blue-theme .allRundown-container .panel-heading
{
    padding:0px!important;
}

.blue-theme ::-webkit-input-placeholder {
   color: #fff;
}

.blue-theme :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.blue-theme ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.blue-theme :-ms-input-placeholder {  
   color: #fff;  
}

.blue-theme .panel-heading.item-color.nobdr
{
    border-bottom:0px!important;
    background: #999!important;
}

.blue-theme .allRundown-container .panel-heading .form-group .form-control
{
    height:34px!important;
}


.blue-theme .form-control
{
    box-shadow:none!important;
}

.blue-theme .panel-heading.item-color.itmCentr
{ 
    padding: 7px 15px;
}

.blue-theme .panel
{
    border-radius:0px!important;
    background-color:#999!important;
}

.blue-theme .rundown-panel
{
    background: transparent!important;
}

.blue-theme .san-container .panel .panel-heading .form-group
{
    margin:0px!important;
}

.blue-theme .search-icons
{
    margin-left:0px!important;
}

.blue-theme .checkbox-inline
{
    padding-left:19px;
}

.blue-theme .san-container .panel .panel-body ul li
{
    color:#fff!important; border-bottom-color: #0073E6!important;
}

.blue-theme .panel-heading.item-color.nobdr .glyphicon
{
    margin-left:10px; margin-top: 5px;

}

.blue-theme .selected
{

    background:#0073E6!important;
}

.blue-theme .panel-heading.item-color.nobdr .selected .glyphicon:before
{
    color:#fff!important;
}

.blue-theme .mainCont .listItems
{
    background: #222!important;
}

.blue-theme .expand:hover
{
     color: #0073E6!important;
}

.blue-theme .mainCont .listItems.selected
{
    border: 0px!important;
background: #666!important;
}

.blue-theme .mainCont .mCSB_container.mCS_no_scrollbar
{
    margin-right: 0px!important;
    padding-right:0px!important;
    width: 700px!important;
}

.blue-theme .popUpBG
{
    background: #cccccc!important;border: 0px!important;
}

.blue-theme .borderbottom

{
    background: #777!important;border-bottom: 0px!important;
}

.blue-theme .myModalLabel > span
{
    color:#fff!important;
}

.blue-theme .myModalLabel
{
    color:#fff!important;
}

.blue-theme .myModalLabel .button
{
    color:#fff!important;
}

    .blue-theme .modal-header .close
    {
        opacity:1;
        text-shadow: 0 0px 0 #fff;
        margin:0px;

    }

.blue-theme .nav-tabs > li.active > a, .blue-theme .nav-tabs > li.active > a:hover, .blue-theme .nav-tabs > li.active > a:focus
{
    border: 0px!important;
background-color: #0073E6 !important;
color: #fff!important;border-radius: 0px!important;
}

.blue-theme .nav-tabs > li > a:hover
{border: 0px!important;
background-color: #0073E6 !important;
color: #fff!important;border-radius: 0px!important;
}


.blue-theme .nav-tabs > li
{
    margin:0px;
}
.blue-theme .nav-tabs > li > a
{
    margin:0px;
    border:0px;
    color:#fff!important;
}

.blue-theme .nav-tabs .text-color.item-color.border-color
{
    border:0px;
}

.blue-theme .modal-header
{
 border-bottom:1px solid #171515!important;
}

.blue-theme .lblpopUP
{
  color:#222!important;
}

.blue-theme .modal-body .form-group ::-webkit-input-placeholder {
   color: #222;
}

.blue-theme .modal-body .form-group :-moz-placeholder { /* Firefox 18- */
   color: #222;  
}

.blue-theme .modal-body .form-group ::-moz-placeholder {  /* Firefox 19+ */
   color: #222;  
}
.blue-theme .modal-body .form-group :-ms-input-placeholder {  
   color: #222;  
}

.blue-theme .modal-body .form-group input {
   color: #222!important; background: #fff!important;
}


.blue-theme .modal-footer.bordertop
{
}

.blue-theme .popUpBG .panel-body
{
    border:0px!important;
}


.blue-theme .btn:hover, .btn:focus
{
    color:#fff!important;
}

.blue-theme .reportBugPanel .form-inline label
{
    color:#222!important;
}
 
.blue-theme  .modal-body textarea
{
        background:#fff!important;
        resize:none;
        color:#222!important;
        height: 220px;
}

.blue-theme .TempalateWindowsSanArea
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.blue-theme .TempalateWindowsSanArea ul
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.blue-theme .TempalateWindowsSanArea ul
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

    .blue-theme .TempalateWindowsSanArea ul li
    {
        color: #fff!important;
border-bottom-color: #0073E6!important;
    }

.blue-theme .TempalateWindowsDecklinkPanel
{  background:#999!important;
    border-radius:0px!important;
    border:0px!important;

}

.blue-theme .TempalateWindowsDecklinkPanel ul
{
     background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.blue-theme .TempalateWindowsDecklinkPanel ul li
{
   color: #fff!important;
border-bottom-color: #0073E6!important;
}

.blue-theme .transPnl .input-group-addon
{
    border:0px!important; 
    
}

.blue-theme .transPnl .nav.navbar-nav
{
    background:none!important;
}


.blue-theme .transPnl .dropdown-menu a
{
    color:#fff!important;
    text-decoration:none!important;
    padding:5px!important;
}

.blue-theme .keyVal td
{
    background:#999!important;
    border:0px!important;
    font-size:13px!important;
}

.blue-theme .keyVal h3
{
    background:#999!important;
    border:0px!important;
    font-size:13px!important;
}


.blue-theme .keyVal .txt
{
    width:300px!important;
    height:100px!important;
    font-size:12px!important;
}

.blue-theme .nav li:hover a
{
    background:none!important;
}



.blue-theme .keyvalBot td
{
    background:none!important;
    border:0px!important;
    font-size:13px!important;
}

/*blue theme end*/



/*red-theme------------------------*/

.red-theme{ background:#f1f1f1;
}
.red-theme .listItems {background:#E60000 !important;  color:#999!important;  }
.red-theme .listItems h3 {color: #000 !important;}
.red-theme .form-control{background-color:#000 !important; color:#fff !important;}
.red-theme .nav-tabs > li.active > a,.default .nav-tabs > li.active > a:hover,.default .nav-tabs > li.active > a:focus {
    border-top: 1px solid #B0711E !important;
    background-color: #000 !important;
    color: white !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important ;
}
.red-theme .nav-tabs > li > a:hover {
    border-top: 1px solid #B0711E !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important;
    background-color:#000 !important;
}
.red-theme .nav-tabs > li > a {
color:#999 !important;
}
.red-theme .dropdown-menu {
    background-color: #222 !important;
}
.red-theme .dropdown-menu > li > a {
    color: #999 !important;
}
.red-theme .left-panel {
    border: 1px solid #000 !important;
}
.red-theme .rundown-panel {
    background-color: #000 !important;
}

.red-theme .item-color {
background-color: #777 !important;
}
.red-theme .panel-default > .panel-heading {
border-bottom: 2px solid #c41301 !important;
color:#fff !important;
}
.red-theme .panel {
background-color:#222 !important;
}
.red-theme .panel-default {
border-color:#222 !important;
}
.red-theme .selected {
border: 0px!important;
padding: 0;
background-color: #000 !important;
}
.red-theme .navbar-inverse .navbar-nav > .open > a,.default .navbar-inverse .navbar-nav >.default .open > a:hover,.default .navbar-inverse .navbar-nav > .open > a:focus {
  border: 1px solid #B0711E !important;
  background-color:#000 !important;
}
.red-theme .smallcontrol .btn {
    background-color:#222 !important;
}
.red-theme .smallcontrol span {
    color:#fff !important;
}
.red-theme .form-control:focus 
{
    border-color: #000 !important;
}
.red-theme .white {
color:#fff !important;
}
.red-theme .red {
color:red !important;
}
.red-theme a {
color:#222 !important;
}
.red-theme .smalldropdownmenu
{
    color: #999 !important;
}

.red-theme .lblpopUP
{
    color: #999 !important;
}

.red-theme .txtpopUP
{
    color: #FFF !important;
}
.red-theme .tdsmall
{
    
    color: #999 !important;
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.red-theme .tdlarge
{
  
    color: #999 !important;
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.red-theme .popUpBG
{
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.red-theme .myModalLabel
{
    color: #999 !important;
}
.red-theme .myModalLabel > span
{
    color: #999 !important;
}

.red-theme .btnclose
{
    color: #FFF !important;
}

.red-theme .borderbottom
{
    border-bottom: 1px solid #171515 !important;
    background-color: #000 !important;
}

.red-theme .bordertop
{
    border-top: 1px solid #222 !important;
}

.red-theme .borderRemove
{
    border-top: 1px solid #222 !important;
    border-bottom: 1px solid #222 !important;
}

.red-theme .popUpBG .dropdown > a
{
    color: #999 !important;
    background-color: #000 !important;
}

.red-theme .popUpBG .dropdown > a:hover
{
    color: #fff !important;
    background-color: #000 !important;
     
}

.popUpBG .dropdown > a:focus
{
    color: #fff !important;
    border: 1px solid #B0711E !important;
    background-color: #000 !important;
}

.red-theme .dropdown-menu > li > a:hover,.default .dropdown-menu > li > a:focus
{
    background-color: #000 !important;
    color: #000 !important;  
}
.red-theme .btnpm
{
    color: #000 !important;
}

.red-theme .popUpBG .panel-body
{
    border-top: 1px solid #B0711E !important;
}

.red-theme .window1
{
    background-color: black !important;
    
}

.red-theme .alertlist 
{ 
    background-color:#000 !important;  
}

.red-theme .lbl
{
 color:white !important;
}


.red-theme .inputBackground
{
   background-color:#000 !important;
}

.red-theme .expand:hover
{
    color:orange !important;
}


.red-theme .san-container
{
    background-color: #000 !important;
}

.red-theme  .san-container .panel
{
    background-color: #999!important;
    height: 100%;
}

.red-theme  .san-container .panel .panel-body ul li
{
        color: #000 !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#000 !important;        
}

.red-theme  .san-container .panel .panel-body  ul {background-color: transparent!important; }



.red-theme  .allRundown-container  .panel-body  ul {
    background-color: #000 !important;
  }



.red-theme .allRundown-container .panel-body ul li {
color: #fff !important;
border-bottom: 1px solid !important;
border-bottom-color: #c41301 !important;
padding: 0px 0 30px 0!important;
margin: 9px 0;
}

.red-theme .glyphicon-align-justify:before {
content: "\e055";
color: #c41301;
position: relative;
top: 2px;
}

.red-theme  .allRundown-container .panel-heading .form-group
{
    border-bottom:2px solid #000 !important;
}

.red-theme  .inputBackground
{
   background-color:#000 !important;
}

.red-theme  .reportBugPanel .form-inline label
{
    color:white !important;
}

.red-theme .TempalateWindowsSanArea,.default  .TempalateWindowsDecklinkPanel
{
    border:2px solid #000 !important;
    background-color:#000 !important;
}

.red-theme .TempalateWindowsSanArea  ul,.default .TempalateWindowsDecklinkPanel ul {
    background-color:#000 !important; 

  }

.red-theme .TempalateWindowsSanArea ul li ,.default .TempalateWindowsDecklinkPanel ul li
{
        color: #000 !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#000 !important;     
}

.red-theme .loadingDiv
{
    background-color:gray !important;
}

.red-theme .navbar-inverse {
background-color: #f1f1f1;
border-color: #f1f1f1;
}

.red-theme .border-color
{
    border-bottom:1px solid #999;
}

.navbar
{
    border-radius:0px!important;
}

.navbar-brand img
{
    width:35px!important; height:auto!important;
}

.red-theme .navbar-brand{ padding:8px 8px 8px 0;}

.red-theme .navbar-inverse .navbar-text
{
    color:#222;
}

.navbar > .container-fluid .navbar-brand
{
    margin:0px!important;
}

.navbar > .container-fluid .navbar-brand {
margin: 0px!important;
padding: 10px 0 0 0;
}


.red-theme .navbar-inverse .navbar-nav > .open > a, .red-theme .navbar-inverse .navbar-nav > .red-theme .open > a:hover, .red-theme .navbar-inverse .navbar-nav > .open > a:focus
{
    border:0px!important; background-color: #c41301 !important; color:#fff!important;
}



.red-theme .dropdown-menu
{
    background:#000!important;
}

    .red-theme .dropdown-menu > li > a:hover, .red-theme .dropdown-menu > li > a:focus
    {
        border:0px!important; background-color: #c41301 !important; color:#fff!important;
    }

.red-theme .left-panel
{
    border:0px!important;
}

.red-theme .allRundown-container .panel-heading .form-group .form-control
{
    margin:0px;
}

.red-theme .form-control
{
    background:none!important;
}

.red-theme .allRundown-container .panel-body ul
{
    background:none!important;
}

.red-theme .allRundown-container .panel-heading .form-group
{
    border-bottom: 2px solid #c41301 !important;
    background: #777!important;
}

.red-theme .allRundown-container .panel-heading
{
    padding:0px!important;
}

.red-theme ::-webkit-input-placeholder {
   color: #fff;
}

.red-theme :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.red-theme ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.red-theme :-ms-input-placeholder {  
   color: #fff;  
}

.red-theme .panel-heading.item-color.nobdr
{
    border-bottom:0px!important;
    background: #999!important;
}

.red-theme .allRundown-container .panel-heading .form-group .form-control
{
    height:34px!important;
}


.red-theme .form-control
{
    box-shadow:none!important;
}

.red-theme .panel-heading.item-color.itmCentr
{ 
    padding: 7px 15px;
}

.red-theme .panel
{
    border-radius:0px!important;
    background-color:#999!important;
}

.red-theme .rundown-panel
{
    background: transparent!important;
}

.red-theme .san-container .panel .panel-heading .form-group
{
    margin:0px!important;
}

.red-theme .search-icons
{
    margin-left:0px!important;
}

.red-theme .checkbox-inline
{
    padding-left:19px;
}

.red-theme .san-container .panel .panel-body ul li
{
    color:#fff!important; border-bottom-color: #c41301!important;
}

.red-theme .panel-heading.item-color.nobdr .glyphicon
{
    margin-left:10px; margin-top: 5px;

}

.red-theme .selected
{

    background:#c41301!important;
}

.red-theme .panel-heading.item-color.nobdr .selected .glyphicon:before
{
    color:#fff!important;
}

.red-theme .mainCont .listItems
{
    background: #222!important;
}

.red-theme .expand:hover
{
     color: #c41301!important;
}

.red-theme .mainCont .listItems.selected
{
    border: 0px!important;
background: #666!important;
}

.red-theme .mainCont .mCSB_container.mCS_no_scrollbar
{
    margin-right: 0px!important;
    padding-right:0px!important;
    width: 700px!important;
}

.red-theme .popUpBG
{
    background: #f1f1f1!important;border: 0px!important;
}

.red-theme .borderbottom

{
    background: #777!important;border-bottom: 0px!important;
}

.red-theme .myModalLabel > span
{
    color:#fff!important;
}

.red-theme .myModalLabel
{
    color:#fff!important;
}

.red-theme .myModalLabel .button
{
    color:#fff!important;
}

    .red-theme .modal-header .close
    {
        opacity:1;
        text-shadow: 0 0px 0 #fff;
        margin:0px;

    }

.red-theme .nav-tabs > li.active > a, .red-theme .nav-tabs > li.active > a:hover, .red-theme .nav-tabs > li.active > a:focus
{
    border: 0px!important;
background-color: #c41301 !important;
color: #fff!important;border-radius: 0px!important;
}

.red-theme .nav-tabs > li > a:hover
{border: 0px!important;
background-color: #c41301 !important;
color: #fff!important;border-radius: 0px!important;
}


.red-theme .nav-tabs > li
{
    margin:0px;
}
.red-theme .nav-tabs > li > a
{
    margin:0px;
    border:0px;
    color:#fff!important;
}

.red-theme .nav-tabs .text-color.item-color.border-color
{
    border:0px;
}

.red-theme .modal-header
{
 border-bottom:1px solid #171515!important;
}

.red-theme .lblpopUP
{
  color:#222!important;
}

.red-theme .modal-body .form-group ::-webkit-input-placeholder {
   color: #222;
}

.red-theme .modal-body .form-group :-moz-placeholder { /* Firefox 18- */
   color: #222;  
}

.red-theme .modal-body .form-group ::-moz-placeholder {  /* Firefox 19+ */
   color: #222;  
}
.red-theme .modal-body .form-group :-ms-input-placeholder {  
   color: #222;  
}

.red-theme .modal-body .form-group input {
   color: #222!important; background: #fff!important;
}


.red-theme .modal-footer.bordertop
{
}

.red-theme .popUpBG .panel-body
{
    border:0px!important;
}


.red-theme .btn:hover, .btn:focus
{
    color:#fff!important;
}

.red-theme .reportBugPanel .form-inline label
{
    color:#222!important;
}
 
.red-theme  .modal-body textarea
{
        background:#fff!important;
        resize:none;
        color:#222!important;
        height: 220px;
}

.red-theme .TempalateWindowsSanArea
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.red-theme .TempalateWindowsSanArea ul
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.red-theme .TempalateWindowsSanArea ul
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

    .red-theme .TempalateWindowsSanArea ul li
    {
        color: #fff!important;
border-bottom-color: #c41301!important;
    }

.red-theme .TempalateWindowsDecklinkPanel
{  background:#999!important;
    border-radius:0px!important;
    border:0px!important;

}

.red-theme .TempalateWindowsDecklinkPanel ul
{
     background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.red-theme .TempalateWindowsDecklinkPanel ul li
{
   color: #fff!important;
border-bottom-color: #c41301!important;
}

.red-theme .transPnl .input-group-addon
{
    border:0px!important; 
    
}

.red-theme .transPnl .nav.navbar-nav
{
    background:none!important;
}


.red-theme .transPnl .dropdown-menu a
{
    color:#fff!important;
    text-decoration:none!important;
    padding:5px!important;
}

.red-theme .keyVal td
{
    background:#999!important;
    border:0px!important;
    font-size:13px!important;
}

.red-theme .keyVal h3
{
    background:#999!important;
    border:0px!important;
    font-size:13px!important;
}


.red-theme .keyVal .txt
{
    width:300px!important;
    height:100px!important;
    font-size:12px!important;
}

.red-theme .nav li:hover a
{
    background:none!important;
}



.red-theme .keyvalBot td
{
    background:none!important;
    border:0px!important;
    font-size:13px!important;
}

/*red theme end*/


.templateDrag
{
    border:1px dotted #e1e1e1!important;
    text-align:center;
}
.templateDrag span
{
    font-size:50px;
   color:#fff;
   display:block;
   text-align:center;
   margin-top:-10px;
}


/*default-theme*/


.default-theme .transPnl span.input-group-addon
{
    background:none!important;
    border:none!important;
}

.default-theme .transPnl a.dropdown-toggle
{
    background:none!important;
    border:none!important;
}

.default-theme .TempalateWindowsSanArea input
{
    width:100%!important;
}

.default-theme .TempalateWindowsSanArea .checkbox-inline
{
  padding-left:18px!important;
}

.keyVal td
{
    border:0px!important;
}


/*name-branding------------------------*/

.name-branding{ background:#f1f1f1;
}
.name-branding .listItems {background:#E60000 !important;  color:#999!important;  }
.name-branding .listItems h3 {color: #000 !important;}
.name-branding .form-control{background-color:#000 !important; color:#fff !important;}
.name-branding .nav-tabs > li.active > a,.name-branding .nav-tabs > li.active > a:hover,.name-branding .nav-tabs > li.active > a:focus {
    border-top: 1px solid #B0711E !important;
    background-color: #000 !important;
    color: white !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important ;
}
.name-branding .nav-tabs > li > a:hover {
    border-top: 1px solid #B0711E !important;
    border-left: 1px solid #B0711E !important;
    border-right: 1px solid #B0711E !important;
    background-color:#000 !important;
}
.name-branding .nav-tabs > li > a {
color:#999 !important;
}
.name-branding .dropdown-menu {
    background-color: #222 !important;
}
.name-branding .dropdown-menu > li > a {
    color: #999 !important;
}
.name-branding .left-panel {
    border: 1px solid #000 !important;
}
.name-branding .rundown-panel {
    background-color: #000 !important;
}

.name-branding .item-color {
background-color: #777 !important;
}
.name-branding .panel-name-branding > .panel-heading {
border-bottom: 2px solid #FF6161 !important;
color:#fff !important;
}
.name-branding .panel {
background-color:#222 !important;
}
.name-branding .panel-name-branding {
border-color:#222 !important;
}
.name-branding .selected {
border: 0px!important;
padding: 0;
background-color: #000 !important;
}
.name-branding .navbar-inverse .navbar-nav > .open > a,.name-branding .navbar-inverse .navbar-nav >.name-branding .open > a:hover,.name-branding .navbar-inverse .navbar-nav > .open > a:focus {
  border: 1px solid #B0711E !important;
  background-color:#000 !important;
}
.name-branding .smallcontrol .btn {
    background-color:#222 !important;
}
.name-branding .smallcontrol span {
    color:#fff !important;
}
.name-branding .form-control:focus 
{
    border-color: #000 !important;
}
.name-branding .white {
color:#fff !important;
}
.name-branding .red {
color:red !important;
}
.name-branding a {
color:#222 !important;
}
.name-branding .smalldropdownmenu
{
    color: #999 !important;
}

.name-branding .lblpopUP
{
    color: #999 !important;
}

.name-branding .txtpopUP
{
    color: #FFF !important;
}
.name-branding .tdsmall
{
    
    color: #999 !important;
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.name-branding .tdlarge
{
  
    color: #999 !important;
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.name-branding .popUpBG
{
    background-color: #000 !important;
    border-bottom: 1px solid #222 !important;
    border-top: 1px solid #222 !important;
}

.name-branding .myModalLabel
{
    color: #999 !important;
}
.name-branding .myModalLabel > span
{
    color: #999 !important;
}

.name-branding .btnclose
{
    color: #FFF !important;
}

.name-branding .borderbottom
{
    border-bottom: 1px solid #171515 !important;
    background-color: #000 !important;
}

.name-branding .bordertop
{
    border-top: 1px solid #222 !important;
}

.name-branding .borderRemove
{
    border-top: 1px solid #222 !important;
    border-bottom: 1px solid #222 !important;
}

.name-branding .popUpBG .dropdown > a
{
    color: #999 !important;
    background-color: #000 !important;
}

.name-branding .popUpBG .dropdown > a:hover
{
    color: #fff !important;
    background-color: #000 !important;
     
}

.popUpBG .dropdown > a:focus
{
    color: #fff !important;
    border: 1px solid #B0711E !important;
    background-color: #000 !important;
}

.name-branding .dropdown-menu > li > a:hover,.name-branding .dropdown-menu > li > a:focus
{
    background-color: #000 !important;
    color: #000 !important;  
}
.name-branding .btnpm
{
    color: #000 !important;
}

.name-branding .popUpBG .panel-body
{
    border-top: 1px solid #B0711E !important;
}

.name-branding .window1
{
    background-color: black !important;
    
}

.name-branding .alertlist 
{ 
    background-color:#000 !important;  
}

.name-branding .lbl
{
 color:white !important;
}


.name-branding .inputBackground
{
   background-color:#000 !important;
}

.name-branding .expand:hover
{
    color:orange !important;
}


.name-branding .san-container
{
    background-color: #000 !important;
}

.name-branding  .san-container .panel
{
    background-color: #999!important;
    height: 100%;
}

.name-branding  .san-container .panel .panel-body ul li
{
        color: #000 !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#000 !important;        
}

.name-branding  .san-container .panel .panel-body  ul {background-color: transparent!important; }



.name-branding  .allRundown-container  .panel-body  ul {
    background-color: #000 !important;
  }



.name-branding .allRundown-container .panel-body ul li {
color: #fff !important;
border-bottom: 1px solid !important;
border-bottom-color: #FF6161 !important;
padding: 0px 0 30px 0!important;
margin: 9px 0;
}

.name-branding .glyphicon-align-justify:before {
content: "\e055";
color: #FF6161;
position: relative;
top: 2px;
}

.name-branding  .allRundown-container .panel-heading .form-group
{
    border-bottom:2px solid #000 !important;
}

.name-branding  .inputBackground
{
   background-color:#000 !important;
}

.name-branding  .reportBugPanel .form-inline label
{
    color:white !important;
}

.name-branding .TempalateWindowsSanArea,.name-branding  .TempalateWindowsDecklinkPanel
{
    border:2px solid #000 !important;
    background-color:#000 !important;
}

.name-branding .TempalateWindowsSanArea  ul,.name-branding .TempalateWindowsDecklinkPanel ul {
    background-color:#000 !important; 

  }

.name-branding .TempalateWindowsSanArea ul li ,.name-branding .TempalateWindowsDecklinkPanel ul li
{
        color: #000 !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:#000 !important;     
}

.name-branding .loadingDiv
{
    background-color:gray !important;
}

.name-branding .navbar-inverse {
background-color: #f1f1f1;
border-color: #f1f1f1;
}

.name-branding .border-color
{
    border-bottom:1px solid #999;
}

.name-branding .navbar
{
    border-radius:0px!important;
}

.name-branding .navbar-brand img
{
    width:35px!important; height:auto!important;
}

.name-branding .navbar-brand{ padding:8px 8px 8px 0;}

.name-branding .navbar-inverse .navbar-text
{
    color:#222;
}

.navbar > .container-fluid .navbar-brand
{
    margin:0px!important;
}


.name-branding .navbar-inverse .navbar-nav > .open > a, .name-branding .navbar-inverse .navbar-nav > .name-branding .open > a:hover, .name-branding .navbar-inverse .navbar-nav > .open > a:focus
{
    border:0px!important; background-color: #FF6161 !important; color:#fff!important;
}



.name-branding .dropdown-menu
{
    background:#000!important;
}

    .name-branding .dropdown-menu > li > a:hover, .name-branding .dropdown-menu > li > a:focus
    {
        border:0px!important; background-color: #FF6161 !important; color:#fff!important;
    }

.name-branding .left-panel
{
    border:0px!important;
}

.name-branding .allRundown-container .panel-heading .form-group .form-control
{
    margin:0px;
}

.name-branding .form-control
{
    background:none!important;
}

.name-branding .allRundown-container .panel-body ul
{
    background:none!important;
}

.name-branding .allRundown-container .panel-heading .form-group
{
    border-bottom: 2px solid #FF6161 !important;
    background: #777!important;
}

.name-branding .allRundown-container .panel-heading
{
    padding:0px!important;
}

.name-branding ::-webkit-input-placeholder {
   color: #fff;
}

.name-branding :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.name-branding ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.name-branding :-ms-input-placeholder {  
   color: #fff;  
}

.name-branding .panel-heading.item-color.nobdr
{
    border-bottom:0px!important;
    background: #999!important;
}

.name-branding .allRundown-container .panel-heading .form-group .form-control
{
    height:34px!important;
}


.name-branding .form-control
{
    box-shadow:none!important;
}

.name-branding .panel-heading.item-color.itmCentr
{ 
    padding: 7px 15px;
}

.name-branding .panel
{
    border-radius:0px!important;
    background-color:#999!important;
}

.name-branding .rundown-panel
{
    background: transparent!important;
}

.name-branding .san-container .panel .panel-heading .form-group
{
    margin:0px!important;
}

.name-branding .search-icons
{
    margin-left:0px!important;
}

.name-branding .checkbox-inline
{
    padding-left:19px;
}

.name-branding .san-container .panel .panel-body ul li
{
    color:#fff!important; border-bottom-color: #FF6161!important;
}

.name-branding .panel-heading.item-color.nobdr .glyphicon
{
    margin-left:10px; margin-top: 5px;

}

.name-branding .selected
{

    background:#FF6161!important;
}

.name-branding .panel-heading.item-color.nobdr .selected .glyphicon:before
{
    color:#fff!important;
}

.name-branding .mainCont .listItems
{
    background: #222!important;
}

.name-branding .expand:hover
{
     color: #FF6161!important;
}

.name-branding .mainCont .listItems.selected
{
    border: 0px!important;
background: #666!important;
}

.name-branding .mainCont .mCSB_container.mCS_no_scrollbar
{
    margin-right: 0px!important;
    padding-right:0px!important;
    width: 700px!important;
}

.name-branding .popUpBG
{
    background: #f1f1f1!important;border: 0px!important;
}

.name-branding .borderbottom

{
    background: #777!important;border-bottom: 0px!important;
}

.name-branding .myModalLabel > span
{
    color:#fff!important;
}

.name-branding .myModalLabel
{
    color:#fff!important;
}

.name-branding .myModalLabel .button
{
    color:#fff!important;
}

    .name-branding .modal-header .close
    {
        opacity:1;
        text-shadow: 0 0px 0 #fff;
        margin:0px;

    }

.name-branding .nav-tabs > li.active > a, .name-branding .nav-tabs > li.active > a:hover, .name-branding .nav-tabs > li.active > a:focus
{
    border: 0px!important;
background-color: #FF6161 !important;
color: #fff!important;border-radius: 0px!important;
}

.name-branding .nav-tabs > li > a:hover
{border: 0px!important;
background-color: #FF6161 !important;
color: #fff!important;border-radius: 0px!important;
}


.name-branding .nav-tabs > li
{
    margin:0px;
}
.name-branding .nav-tabs > li > a
{
    margin:0px;
    border:0px;
    color:#fff!important;
}

.name-branding .nav-tabs .text-color.item-color.border-color
{
    border:0px;
}

.name-branding .modal-header
{
 border-bottom:1px solid #171515!important;
}

.name-branding .lblpopUP
{
  color:#222!important;
}

.name-branding .modal-body .form-group ::-webkit-input-placeholder {
   color: #222;
}

.name-branding .modal-body .form-group :-moz-placeholder { /* Firefox 18- */
   color: #222;  
}

.name-branding .modal-body .form-group ::-moz-placeholder {  /* Firefox 19+ */
   color: #222;  
}
.name-branding .modal-body .form-group :-ms-input-placeholder {  
   color: #222;  
}

.name-branding .modal-body .form-group input {
   color: #222!important; background: #fff!important;
}


.name-branding .modal-footer.bordertop
{
}

.name-branding .popUpBG .panel-body
{
    border:0px!important;
}


.name-branding .btn:hover, .btn:focus
{
    color:#fff!important;
}

.name-branding .reportBugPanel .form-inline label
{
    color:#222!important;
}
 
.name-branding  .modal-body textarea
{
        background:#fff!important;
        resize:none;
        color:#222!important;
        height: 220px;
}

.name-branding .TempalateWindowsSanArea
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.name-branding .TempalateWindowsSanArea ul
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.name-branding .TempalateWindowsSanArea ul
{
    background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

    .name-branding .TempalateWindowsSanArea ul li
    {
        color: #fff!important;
border-bottom-color: #FF6161!important;
    }

.name-branding .TempalateWindowsDecklinkPanel
{  background:#999!important;
    border-radius:0px!important;
    border:0px!important;

}

.name-branding .TempalateWindowsDecklinkPanel ul
{
     background:#999!important;
    border-radius:0px!important;
    border:0px!important;
}

.name-branding .TempalateWindowsDecklinkPanel ul li
{
   color: #fff!important;
border-bottom-color: #FF6161!important;
}

.name-branding .transPnl .input-group-addon
{
    border:0px!important; 
    
}

.name-branding .transPnl .nav.navbar-nav
{
    background:none!important;
}


.name-branding .transPnl .dropdown-menu a
{
    color:#fff!important;
    text-decoration:none!important;
    padding:5px!important;
}

.name-branding .keyVal td
{
    background:#999!important;
    border:0px!important;
    font-size:13px!important;
}

.name-branding .keyVal h3
{
    background:#999!important;
    border:0px!important;
    font-size:13px!important;
}


.name-branding .keyVal .txt
{
    width:300px!important;
    height:100px!important;
    font-size:12px!important;
}

.name-branding .nav li:hover a
{
    background:none!important;
}



.name-branding .keyvalBot td
{
    background:none!important;
    border:0px!important;
    font-size:13px!important;
}

/*FourWindowGraphics------------------------------------------*/

.fourWindowGraphics .listItems {background:blue !important;  color:blue!important;  }
.fourWindowGraphics .listItems h3 {color: blue !important;}
.fourWindowGraphics .form-control{background-color:blue !important; color:blue !important;}
.fourWindowGraphics .nav-tabs > li.active > a,.fourWindowGraphics .nav-tabs > li.active > a:hover,.fourWindowGraphics .nav-tabs > li.active > a:focus {
    border-top: 1px solid blue !important;
    background-color: #563F22 !important;
    color: white !important;
    border-left: 1px solid blue !important;
    border-right: 1px solid blue !important ;
}
.fourWindowGraphics .nav-tabs > li > a:hover {
    border-top: 1px solid blue !important;
    border-left: 1px solid blue !important;
    border-right: 1px solid blue !important;
    background-color:#563F22 !important;
}
.fourWindowGraphics .nav-tabs > li > a {
color:blue !important;
}
.fourWindowGraphics .dropdown-menu {
    background-color: blue !important;
}
.fourWindowGraphics .dropdown-menu > li > a {
    color: blue !important;
}
.fourWindowGraphics .left-panel {
    border: 1px solid #000 !important;
}
.fourWindowGraphics .rundown-panel {
    background-color: #000 !important;
}
.fourWindowGraphics .border-color {
  border: 1px solid blue !important;
}
.fourWindowGraphics .item-color {
background-color:#171515 !important; 
}
.fourWindowGraphics .panel-default > .panel-heading {
border-bottom: 2px solid blue !important;
color:blue !important;
}
.fourWindowGraphics .panel {
background-color:blue !important;
}
.fourWindowGraphics .panel-default {
border-color:blue !important;
}
.fourWindowGraphics .selected {
border: 1px solid blue !important;
background-color: #563F22 !important;
}
.fourWindowGraphics .navbar-inverse .navbar-nav > .open > a,.fourWindowGraphics .navbar-inverse .navbar-nav >.fourWindowGraphics .open > a:hover,.fourWindowGraphics .navbar-inverse .navbar-nav > .open > a:focus {
  border: 1px solid blue !important;
  background-color:#563F22 !important;
}
.fourWindowGraphics .smallcontrol .btn {
    background-color:blue !important;
}
.fourWindowGraphics .smallcontrol span {
    color:blue !important;
}
.fourWindowGraphics .form-control:focus 
{
    border-color: blue !important;
}
.fourWindowGraphics .white {
color:blue !important;
}
.fourWindowGraphics .red {
color:red !important;
}
.fourWindowGraphics a {
color:blue !important;
}
.fourWindowGraphics .smalldropdownmenu
{
    color: blue !important;
}

.fourWindowGraphics .lblpopUP
{
    color: blue !important;
}

.fourWindowGraphics .txtpopUP
{
    color: blue !important;
}
.fourWindowGraphics .tdsmall
{
    
    color: blue !important;
    background-color: blue !important;
    border-bottom: 1px solid blue !important;
    border-top: 1px solid blue !important;
}

.fourWindowGraphics .tdlarge
{
  
    color: blue !important;
    background-color: blue !important;
    border-bottom: 1px solid blue !important;
    border-top: 1px solid blue !important;
}

.fourWindowGraphics .popUpBG
{
    background-color: blue !important;
    border-bottom: 1px solid blue !important;
    border-top: 1px solid blue !important;
}

.fourWindowGraphics .myModalLabel
{
    color: blue !important;
}
.fourWindowGraphics .myModalLabel > span
{
    color: blue !important;
}

.fourWindowGraphics .btnclose
{
    color: blue !important;
}

.fourWindowGraphics .borderbottom
{
    border-bottom: 1px solid #171515 !important;
    background-color: #171515 !important;
}

.fourWindowGraphics .bordertop
{
    border-top: 1px solid blue !important;
}

.fourWindowGraphics .borderRemove
{
    border-top: 1px solid blue !important;
    border-bottom: 1px solid blue !important;
}

.fourWindowGraphics .popUpBG .dropdown > a
{
    color: blue !important;
    background-color: blue !important;
}

.fourWindowGraphics .popUpBG .dropdown > a:hover
{
    color: blue !important;
    background-color: blue !important;
     
}

.popUpBG .dropdown > a:focus
{
    color: blue !important;
    border: 1px solid blue !important;
    background-color: #563F22 !important;
}

.fourWindowGraphics .dropdown-menu > li > a:hover,.fourWindowGraphics .dropdown-menu > li > a:focus
{
    background-color: #563F22 !important;
    color: blue !important;  
}
.fourWindowGraphics .btnpm
{
    color: #000 !important;
}

.fourWindowGraphics .popUpBG .panel-body
{
    border-top: 1px solid blue !important;
}

.fourWindowGraphics .window1
{
    background-color: black !important;
    
}

.fourWindowGraphics .alertlist 
{ 
    background-color: blue !important;  
}

.fourWindowGraphics .lbl
{
 color:white !important;
}


.fourWindowGraphics .inputBackground
{
   background-color:blue !important;
}

.fourWindowGraphics .expand:hover
{
    color:orange !important;
}


.fourWindowGraphics .san-container
{
    background-color: #000 !important;
}

.fourWindowGraphics  .san-container .panel
{
    background-color:black !important;
}

.fourWindowGraphics  .san-container .panel .panel-body ul li
{
        color: blue !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:blue !important;        
}

.fourWindowGraphics  .san-container .panel .panel-body  ul {background-color:#171515 !important; }



.fourWindowGraphics  .allRundown-container  .panel-body  ul {
    background-color: #171515 !important;
  }



.fourWindowGraphics  .allRundown-container .panel-body ul li
{
        color: blue !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:blue !important;    
}

.fourWindowGraphics  .allRundown-container .panel-heading .form-group
{
    border-bottom:2px solid blue !important;
}

.fourWindowGraphics  .inputBackground
{
   background-color:blue !important;
}

.fourWindowGraphics  .reportBugPanel .form-inline label
{
    color:white !important;
}

.fourWindowGraphics .TempalateWindowsSanArea,.fourWindowGraphics  .TempalateWindowsDecklinkPanel
{
    border:2px solid blue !important;
    background-color:#333 !important;
}

.fourWindowGraphics .TempalateWindowsSanArea  ul,.fourWindowGraphics .TempalateWindowsDecklinkPanel ul {
    background-color:#171515 !important; 

  }

.fourWindowGraphics .TempalateWindowsSanArea ul li ,.fourWindowGraphics .TempalateWindowsDecklinkPanel ul li
{
        color: blue !important; 
        border-bottom:1px solid !important; 
        border-bottom-color:blue !important;     
}

.fourWindowGraphics .loadingDiv
{
    background-color:gray !important;
}

.fourWindowGraphics .navbar-inverse {
background-color: blue;
border-color: blue;
}

.search-icons
{
    margin-left:0px!important;
}

.checkbox-inline
{
    padding-left:19px;
}

.reportBugPanel .form-inline .form-group textarea
{
    resize:none;
    height:220px;
}
.progressLabel
{
    color: green;
    font-family: fantasy;
    margin-right: 200px;
    font-size: 20px;
}

textarea.txtEditor
{
    resize:none;
    font-size:18px !important;
    width:550px !important;
    height:80px !important;
}


.customSt .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: none !important;
    border-color: #428BCA !important;
}

.customSt .nav > li > a:hover,.customSt .nav > li > a:focus {
    text-decoration: none;
    background-color: none;
}

.default-theme .customSt .nav .open > a,.default-theme .nav .open > a:hover,.default-theme .nav .open > a:focus {
  background-color: #171515 !important;
  border-color:  #171515 !important;
}

.red-theme .customSt .nav .open > a,.red-theme .nav .open > a:hover,.red-theme .nav .open > a:focus {
  background-color: #777 !important;
  border-color:#777 !important;
}

.blue-theme .customSt .nav .open > a,.blue-theme .customSt .nav .open > a:hover,.blue-theme .customSt .nav .open > a:focus {
  background-color:  #777 !important;
  border-color:  #777 !important;
}

.blue-theme .customSt a,.red-theme .customSt a,.default-theme .customSt a{
  color:#f1f1f1 !important;
}

.customSt a:hover {
    background-color:none!important;
} 

.customSt .nav > li > a:hover, .customSt .nav > li > a:focus {
  text-decoration: none !important;
  background-color: none !important;
}

.default-theme .customSt .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #171515 !important;
  border-color:  #171515 !important;
}

.red-theme .customSt .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #777 !important;
  border-color:#777 !important;
}

.blue-theme .customSt .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color:  #777 !important;
  border-color:  #777 !important;
}