﻿.tickerspage .sectionNews.tickersApproved .prioritysec{display:initial}
.wirteTickers{width:860px!important;height:545px!important}
.main-navsec .newsNav ul.newsCalender{float:right;margin:9px 7px 0 0}
.tickersApproved .mCustomScrollBox{width:100%}
.editFalse{display:initial!important}
.new-wrap .more-news .newslst ul li.last{display:none!important}
.setWidth{width:100%!important}
#home-view{width:94%}
#topic-selection-view{width:105%}
.xPop.wirteTickers .edtrsec input{direction:ltr}
.xPop.wirteTickers .newdtls{-webkit-user-select:initial}
.tickerUrduContent{direction:rtl}
.xPop.wirteTickers .edtrsec .tickerUrduContent{direction:rtl!important;font-size:24px!important;}
.tickerIdcss{background:transparent!important;color:#999!important;font-size:11px!important;width:0!important;margin-right:40px!important}
.tickerspage ul.navigationNews > li.newsActive,.tickerspage ul.navigationNews > li:hover{border-bottom:2px solid #3079ed;min-width:50px}
/*.new-wrap .more-news li .newslst ul .addControl{display:none}*/
.new-wrap .more-news li .newslst ul .editControls .playticekr,.new-wrap .more-news li .newslst ul .editControls .pauseticker,.new-wrap .more-news li .newslst ul .editControls .closeticker,.new-wrap .more-news li .newslst ul .editControls .checkticker{/*display:block;*/}
/*.new-wrap .more-news li .newslst ul .statusInfo{display:none}*/
.new-wrap .newslst ul{width: initial;}
.hidedefault{display:none!important}
.new-wrap .more-news li .newslst ul .hidedefault{display:initial!important}
.producerpopup{background:transparent!important}
.xPop.wirteTickers .newdtls span{position:relative;left:-18px;margin-top:5px!important}
.tickerDropDown{position:relative;width:84px;border:2px solid #e6e6e6;top:2px;height:100%;background:#eff0f5;font-size:12px}
.xPop.wirteTickers .newdtls .storyDet{float:right;position:relative;left:-16px;top:5px}
.tickerDropDown option{background:#fff}
.tickersOnhold .contentSection .tickersRprtd .new-wrap .newslst ul .last{display:none}
.tickersRjctd .contentSection .tickersRprtd .new-wrap .newslst ul .othertabs{display:none}
.othertabs{border:none!important}
.othertabs .high{background:#f26c4f!important}
.othertabs .low{background:#acb0b3!important}
.othertabs .medium{background:#f6a556!important}
.closeBox{display:none!important}
/*.tickersApproved .contentSection .tickersRprtd .new-wrap .more-news li .newslst ul .addControl{display:none!important}*/
.tickersApproved .contentSection .tickersRprtd .new-wrap .more-news li .newslst ul .othertabs{display:none!important}
.tickersOnhold .contentSection .tickersRprtd .new-wrap .more-news li .newslst ul .addControl{display:none!important}
.tickersOnhold .contentSection .tickersRprtd .new-wrap .more-news li .newslst ul .othertabs{display:none!important}
.edtrsec .mCSB_container.mCS_no_scrollbar{min-height:initial}
.proceedBtn.prev{display:none}
.proceedBtn.next{display:none}
.tickerspage .tickersRprtd{min-height:71px}
.englishCSS{direction:ltr!important;text-align:left!important}
.urduDirection{direction:rtl}
.tickerrundownaction{display:block;float:right;position:absolute;right:381px}
.tickerrundownaction .loading{float:left;height:15px;margin-right:5px}
.tickerrundownaction.disabled{pointer-events:none}
.tickerspage .freezedticker .timenews{pointer-events:none}
.tickerspage .freezedticker.new-wrap{background-color:#f0f8ff}
.tickerspage .xPop.wirteTickers .innercont.newsdeactive .languageselector.manager{left:236px}
.languageselector{left:342px;display:none;}
.englishContent{direction:ltr}
.englishContent ul.tickerEditorSec{float:right!important;padding:25px 30px 25px 20px !important;width: 52% !important;}
.englishContent ul.statusul{float:right!important;padding:25px 30px 25px 20px !important;width:44% !important}
.englishContent .timenews{float:left!important;text-align:left!important;padding:13px 0 10px 20px !important;width: 42%!important;}
.englishContent .timenews strong{float:left!important}
.englishContent .timenews p{padding-left:45px!important}
.englishContent .timenews span{margin-left:45px!important;text-align:left!important}
.englishContent .statusInfo{float:right!important}
.wirteTickers {
  width: 1100px!important;
 height: 577px!important;
}
.xPop .innercont .asideExplosives {
  width: 43%;
  box-shadow: 0 2px 7px #C0C0C0;
  margin-right: 2%;
  float: left;
  margin-bottom: 10px;
  height: 510px;
  margin-top: -25px;
    margin-left: -12px;
}



.xPop .innercont .asideExplosives .newsAside {
  border-top: 1px solid #cecece;
  padding: 16px 2px 22px 20px;
  position: relative;
  margin-bottom: 24px;
  height: 183px;
}

.xPop.wirteTickers .innercont {
  width: 800px;
  height: 389px;
  padding: 30px 0px 22px;
  margin: 0 30px;
}

.xPop .footer {
   margin-top: 25px;
  height: 48px;
  width: 64.5%;
    padding: 0 20px;
  margin-right: -15px;
   min-width: 63.5% !important;
}
.innercont .asideExplosives .newsAside {
        height: 306px;
}

.xPop.wirteTickers .edtrsec input {
  width: 92%;
}
.innercont .news-tickr {
    margin-left: 377px;
    width: 85%;
    margin-top: -20px;
}
.repeatCountDropDown {
    display:none !important;
}
.xPop .innercont .asideExplosives .newsAside {
  height: 248px;
}
.innercont .news-tickr .prioritysec{
  margin-top: -40px;
}

.innercont .news-tickr .prioritysec .xSelect{
  display:none !important;
}
.searchBox.tickerproducer{position: absolute; right: 425px; top: 12px; }
.searchBox.tickerrundown{position: absolute;right: 180px;top: 11px;}

.xPop .innercont.newsdeactive .asideExplosives {
    display:none;
}
.innercont.newsdeactive .news-tickr {
   margin-left: 0px; 
  width: 95%;
  margin-top: 2px;
}
.hideLeftpanel .wirteTickers {
width:800px !important;
}
.hideLeftpanel .xPop .footer {
     margin-top: 35px;
   width:initial;
  margin-right: -15px;
  min-width: 63.5% !important;
}
.innercont.newsdeactive .news-tickr .prioritysec {
   margin-top: 0px; 
}
.showleftpanel .xPop .innercont .asideExplosives .newsAside {
  height: 300px !important;
}
.new-wrap .newslst ul li i.icon-freezedticker
{
	height: 15px; background-position: 0px -1px
}

.new-wrap .newslst ul li i.icon-addtorundown{background:url(/Content/images/producer/addtorun.png);width:15px;}
.scrolstart.scrolstart1 .tickerrundownaction{right:148px!important;}
.popups.showleftpanel .topAside article p {
  -webkit-user-select: initial;
}

li.othertabs strong {display: none !important;}
li.othertabs strong.active{display: inline-block !important;}
.new-wrap .newslst ul li label {
  background: #eaebee;
  border-radius: 2px;
  width: 28px;
  height: 22px;
  display: inline-block;
  position: relative;
  margin: 0 2px 0 1px;
  vertical-align: middle;
  cursor: pointer;
}
.tickerspage .leftnav .nav-step1 { overflow: hidden; background: #444; position: relative;  z-index: 99;  width: 50px; height:100%; }

#content-viewer {top:25px}
.disablePriority li {cursor:default;pointer-events:none;}
.disablePriority li:hover {color: inherit;background: inherit;}
.headerCss {right: 480px !important; }
.headerBtnBlue {right: 630px !important;}
.searchBox.tickerproducer {right: 430px;}
.searchBox.tickerrundown {right: 245px;}
.disable{pointer-events: none; -webkit-user-select: none;}
.disabled {pointer-events: none;}   
.new-wrap .newslst .tickertexbox {border-radius: 2px;border: 1px solid #3079ed;width: 400px;text-align: right;font-family: 'Jameel Noori Nastaleeq', 'Nafees Web Naskh';font-weight: 400;color: #282828;font-size: 20px;line-height: 28px;}
.new-wrap .newslst ul {float: left;padding: 21px 0 7px 20px;width: 70%;}
.new-wrap .newslst .timenews {float: right;max-width: 58%;text-align: right;padding: 13px 20px 0px 0px;width: 25%;}
.tickerDropDown {position: relative;width: 157px;border: 2px solid #e6e6e6;height: 100%;background: #eff0f5;font-size: 12px;}
.btnBlue.nofloat {float: none;}