﻿.topnav-left-teleprompter li:hover
{
    background-color:#939393 ;
}

.topnav-left-teleprompter {
    float: left;
    margin-left: 0px;
}
.topnav-left-teleprompter li {
    float: left;
    padding-left: 25px;
    padding-right: 16px;
    padding-top:7px;
    padding-bottom:7px;
    cursor: pointer;
    border-right: 1px solid #bec1ca;
}

.pulldown {
   text-align: left;
   /*display: inline;*/
   margin: 0;
   /*padding: 2px;*/
   list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
   max-height: 200px;
   /*overflow-y: scroll;*/
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
   box-shadow: 0 0 0px rgba(0, 0, 0, 0); 
   /* max-height: 200px; */
}
.pulldown li
{
    width:160px;
    margin-left:0px;
    padding-left:2px;
    padding-right:0px !important;
}
ul li {
  font: bold 12px/18px sans-serif;
  /*display: inline-block;*/
  /*margin-right: -4px;*/
  position: relative;z-index: 1; 
  padding: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.pulldown li:hover {
  background: #939393;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 39px;
  left: 0;
  width: 180px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.btn {
   background: #F00;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
   /*border-radius: 28px;*/
   font-family: Arial;
   color: #FFF;
   cursor:pointer;
   font-size: 12px;
   padding: 1px;
   text-decoration: none;
}

.btn:hover
{
    background: #939393;
  background-image: -webkit-linear-gradient(top, #939393, #939393);
  background-image: -moz-linear-gradient(top, #939393, #939393);
  background-image: -ms-linear-gradient(top, #939393, #939393);
  background-image: -o-linear-gradient(top, #939393, #939393);
  background-image: linear-gradient(to bottom, #939393, #939393);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  /*border-radius: 28px;*/
  font-family: Arial;
  color: #000;
  cursor:pointer;
  font-size: 12px;
  padding: 1px;
  text-decoration: none;
}

.btn_li,.btn_li:hover
{
    background-color:transparent !important;
}

.teleprompter_prompt_searchbox,.teleprompter_prompt_searchbox:hover
{
    background-color:transparent !important;
}


.pulldown_click {
   text-align: left;
   display: inline;
   margin-left: 22px;
   padding: 2px;
   list-style: none;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
   box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
   max-height: 200px;
   margin-top: -7px;
   width: 100%;
   
}
.pulldown_click li
{
   width:160px;
   margin-left:0px;
   padding-left:2px;
   padding-right:0px !important;
   font: bold 12px/18px sans-serif;
   display: inline-block;
  /*margin-right: -4px;*/
   position: relative;z-index: 1; 
   padding: 2px;
   cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
   transition: all 0.2s;
}
.pulldown_click li:hover {
  background: #939393;
  color: #fff;
}
.pulldown_click_alert {
  text-align: left;
  display: inline;
  margin-left:-2px;
  padding: 2px;
  list-style: none;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  max-height: 200px;
  margin-top: -2px;
}
.pulldown_click_alert li
{
    width:160px;
    margin-left:-2px;
    padding-left:2px;
    padding-right:0px !important;
    font: bold 12px/18px sans-serif;
    display: inline-block;
   /*margin-right: -4px;*/
    position: relative;z-index: 1; 
    padding: 2px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
     transition: all 0.2s;
}
.pulldown_click_alert li:hover {
  background: #939393;
  color: #fff;
}

.btn_setting {
  background: #939393;
  background-image: -webkit-linear-gradient(top, #939393, #939393);
  background-image: -moz-linear-gradient(top, #939393, #939393);
  background-image: -ms-linear-gradient(top, #939393, #939393);
  background-image: -o-linear-gradient(top, #939393, #939393);
  background-image: linear-gradient(to bottom, #939393, #939393);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  /*border-radius: 28px;*/
  font-family: Arial;
  color: #FFF;
  cursor:pointer;
  font-size: 12px;
  padding: 1px;
  text-decoration: none;
}

.btn_setting:hover
{
    background: #bec1ca;
  background-image: -webkit-linear-gradient(top, #bec1ca, #bec1ca);
  background-image: -moz-linear-gradient(top, #bec1ca, #bec1ca);
  background-image: -ms-linear-gradient(top, #bec1ca, #bec1ca);
  background-image: -o-linear-gradient(top, #bec1ca, #bec1ca);
  background-image: linear-gradient(to bottom, #bec1ca, #bec1ca);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  /*border-radius: 28px;*/
  font-family: Arial;
  color: #000;
  cursor:pointer;
  font-size: 12px;
  padding: 1px;
  text-decoration: none;
}
.mCSB_container {
padding-right: 0px !important;
}
header.header .topnav li.bdl {
border-left: 0px;
}
.seqContent {
min-height: 560px;
min-height: 560px;
}

li.item-active {
    background-color:#df0000;
    color:#fff;
}