﻿@*data-bind="adjustHeight: true, customScrollBar: { callback: loadNextPage }"*@
@*---------------Content Start-----------------*@


<style>
    .hei {
     height: 387px;
    }
</style>

<div id="pending-view" class="view">

    <nav class="newsNav clearfix" data-bind="filterHover: sourceFilterControl.isPopulated">
       
         <!-- ko template: {name: $root.templates.sourceFilterVerification, data: $root.sourceFilterControl} -->
        <!-- /ko -->

        <!-- ko template: {name: templates.calendarControl, data: $root.calendarControl} -->
        <!-- /ko -->

        <ul class="newsCalender">
            <li>
               <input type="text" data-bind="value: searchText, event: { change: search() }, valueUpdate: 'afterkeyup'"placeholder="Search..."/>
                <a class="search" href="javascript:;"></a>
        </ul>


        



    </nav>
    <section class="newsList" data-bind="adjustHeight: true, customScrollBar: { callback: loadNextPage, onTotalScrollOffset: 10 }">
        <section class="contentSection">
            <section class="contentSection">

                <header class="clearfix">
                    <h4>Top Stories</h4>
                    <div class="searchBox">
                        <label data-bind="html: pendingNewsCount"></label>
                        <span>News Pending</span>
                    </div>
                </header>

                <!-- ko foreach: bunch -->
                <!-- ko foreach: $data.bunch -->

                <!-- ko if: bunchNews && bunchNews().length > 0 -->
                <!-- ko template: {name:'news.item', data: topNews()} -->
                <!-- /ko -->

                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: bunchArray().length == 0 -->
                <h3 style="background-color: white; text-align: center;"></h3>
                <!-- /ko -->
            </section>
        </section>
        <!-- CONTENT SECTION END -->
    </section>
</div>

  