﻿<section id="topic-selection-view-nmsBol" data-mainsection="true" class="main-content view">
    <nav style="display: none;"><ul style="display:none;"><!-- ko foreach: {data:$root.newsFilesList()} --><li></li><!-- /ko --></ul>
    </nav>
      <div class="parentNewsDiv hideVoiceOvernTitle" data-bind="style: { width: $root.parentWindowCss().freshNewsDivWidth},adjustHeight: true, customScrollBar: { callback: $root.loadNextPage, onTotalScrollOffset: 1500 }">
        <!-- ko foreach: {data:$root.freshNewsFilesListReviewed()} -->

        <!-- ko if:$data.newsStatus() != '0' && $data.isVerified() != 'initial' -->

        <!-- ko template: { name: $root.templates.newsfileView, data:$data } -->
        <!-- /ko -->

        <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="detailNewsDiv" data-bind="style: { width: $root.parentWindowCss().detailedView}" style="width: 38.5% !important;">
        <!-- ko  if: $root.appdata.selectedNewsFile() -->

        <!-- ko template: { name: $root.templates.newsfileDetail, data:$root.appdata.selectedNewsFile() } -->
        <!-- /ko -->

        <!-- /ko -->
    </div>

    <!-- ko  if: $root.appdata.currentUser().userType == $root.e.UserType.controllerInput || $root.appdata.currentUser().userType == $root.e.UserType.Controlleroutput -->

    <nav class="newsNav clearfix main-navsec" data-bind="filterHover: sourceFilterControl.isPopulated">
        <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
        <!-- /ko -->
        <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters">Clear</a>
        <img class="pollingBar" data-bind="visible:$root.appdata.isFilterPollingClick()" src="/Content/images/common/newloader.gif">
        <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
        <!-- /ko -->

        <div class="searchBox">
            <div class="form">
                <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                <input type="submit">
            </div>
        </div>
    </nav>

    <!-- /ko -->
</section>