﻿<section  id="reporter-reportnews-view" class="courtNews newsList right30 view">
      <section class="contentSection"> <a href="javascript:;" style="display:none;" class="arrowLeft"><i></i><span>Previous Case</span></a>
        <div class="editingSection" data-bind="with:$root.model">
          <header><span class="newsId">Case id</span> 0011246
            <div class="PendingCounts"> Pending <span class="counts">43</span> </div>
          </header>
            <div class="leftSection">
       <!-- ko template: {name:tmplName, data: $data} -->
        <!-- /ko -->
           </div>
        </div>
        
        <a href="javascript:;" style="display:none;" class="arrowRight"><i></i><span>Next Case</span></a> </section>
</section>