﻿<div class="myNewsPanelHeader view overlay" data-bind="css: showPopup()==true ? 'showForcely' : 'hideForcely'"></div>

<div id="effect" class="updateReport xPop myNewsPanelHeader view" data-bind="css: $root.showPopup()==true ? 'showForcely' : 'hideForcely'">
    <!-- ko with: templatePaging  -->

    @*<a href="javascript:void(0);" class="arrowLeft" data-bind="click: previousItem,visible:currentIndex()>0"><i></i><span>Previous News</span></a>*@
    <!-- ko with: currentItem  -->
    <div class="latestNews clear">

        <!-- ko template: {name:'shared.newsitemleft'}  -->
        <!-- /ko -->

        <!-- ko template: {name:'news.item.resources'}  -->
        <!-- /ko -->

    </div>



    <div class="imageSection">
        <a href="javascript:;" class="prev" data-bind="visible:resources().length>=2"></a>
        <!-- ko if: resources().length == 0 -->
        <div class="no-content" style="height: 418px; width: 658px; background-color: black">
        </div>
        <!-- /ko -->

        <!-- ko if: resources().length>0-->
        <!-- ko foreach: resources-->
        <div class="slideImg" data-bind="attr:{'data-number': $index()+1}, css:{active:$index()==0}" style="height:418px; width:658px">
            <!-- ko if: type == $root.e.ContentType.Image -->
            <img data-bind="attr:{src:url}" style="max-height: 418px !important; max-width: 658px !important"/>
            <!-- /ko -->
            <!-- ko if: type == $root.e.ContentType.Video -->
            <video class="videoPlayer" data-bind="attr:{src:url},stop:{stopPlayer:$root.stopPlayer}" style="max-height: 418px !important; max-width: 658px !important" controls>
                <source type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!-- /ko -->
            <!-- ko if: type == $root.e.ContentType.Audio -->
            <audio class="videoPlayer" data-bind="attr:{src:url},stop:{stopPlayer:$root.stopPlayer}" style="max-height: 418px !important; max-width: 658px !important" controls>
                <source type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <!-- /ko -->
            <!-- ko if: type != $root.e.ContentType.Audio &&  type != $root.e.ContentType.Video && type != $root.e.ContentType.Image -->               
           <img src='/Content/images/reporter/notSupported.jpg' height="390px" width="100%" class="thumbCSS" />
            <!--/ko-->
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <a href="javascript:;" class="next" data-bind='visible:resources().length>=2'></a>
        <div class="imgDetails">Media Files <span><span class="fileNumber">1</span> of <span class="total" data-bind="html:resources().length"></span></span></div>
    </div>

    <!-- /ko -->


    @*<a href="javascript:void(0);" class="arrowRight" data-bind="click: nextItem, visible:currentIndex()<$root.totalLength()"><i></i><span>Next News</span></a>*@

    <div class="close" data-bind="click:$root.hidePopup"></div>
    <!-- /ko -->
</div>
