﻿<section id="headline-view" data-mainsection="true" class="main-content headline headlineupdates view" data-bind="adjustHeight: true, customScrollBar: { callback: loadNextPage}">
    <div class="main-navsec clearfix">
        <div class="ticker-sec" style="min-width: 80px;" data-bind="click:function(){ $root.router.navigateTo($root.hashes.home) }">
            <a>News Portal</a>
        </div>
        <div class="ticker-sec" style="min-width: 80px; margin-right:6px; margin-right: 6px;" data-bind="visible: $root.appdata.currentUser().userType === $root.e.UserType.HeadlineProducer,click:function(){ $root.router.navigateTo($root.hashes.bureauTicker) }">
            <a>Ticker</a>
        </div>
        <nav class="newsNav clearfix" style="top: 41px;">
            <ul class="navigationNews">
                <li class="first last headlinenavli"><a href="javascript:;" title="">News Headline</a>&nbsp;<label data-bind="text:$root.totalHeadlines()"></label></li>
            </ul>
            <!-- NAVIGATIONNEWS END -->
            <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
            <!-- /ko -->
            <div class="searchBox">
                <div class="form">
                    <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                    <input type="submit">
                </div>
            </div>
            <!-- NEWS CALENDER END -->
        </nav>
        <!-- NEWSNAV END -->
    </div>
    <div>
        <section class="boxShadow sectionNews tickersPndng">

            <div class="proceedBtn">
                <img src="/content/images/producer/banner-arrow.jpg" width="30" height="66" style="z-index: 99;">
                <a href="javascript:;">PROCEED TO SEQUENCE</a>
            </div>

            <!-- ko foreach:groupedHeadlines() -->
            <!-- ko template: {name: $root.templates.headlineInfo, data: $data} -->
            <!-- /ko -->
            <!-- /ko -->
        </section>

    </div>
</section>
