﻿<section id="myheadline-view"  data-mainsection="true"  class="headline main-content view myheadline" data-bind="adjustHeight: true, customScrollBar: { callback: loadNextPage}">
    <div class="main-navsec clearfix ">
        <nav class="newsNav clearfix" style="top: 41px;">
            <ul class="navigationNews">
                <li class="first last headlinenavli"><a href="javascript:;" title="">My Headlines</a>&nbsp;<label data-bind="text:$root.totalHeadlines()"></label></li>

            </ul>
            <!-- NAVIGATIONNEWS END -->

            <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
            <!-- /ko -->
            <div class="searchBox">
                <div class="form">
                    <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                    <input type="submit">
                </div>
            </div>
            <!-- NEWS CALENDER END -->
        </nav>
        <!-- NEWSNAV END -->
    </div>
    <div>
        <section class="boxShadow sectionNews tickersPndng">

            <div class="proceedBtn">
                <img src="/content/images/producer/banner-arrow.jpg" width="30" height="66" style="z-index: 99;">
                <a href="javascript:;">PROCEED TO SEQUENCE</a>
            </div>

            <!-- ko foreach:groupedHeadlines() -->

            <!-- ko template: {name: $root.templates.headlineInfo, data: $data} -->
            <!-- /ko -->

            <!-- /ko -->
        </section>

    </div>
</section>
