﻿<section id="tagger-view-nmsBol" data-mainsection="true" class="main-content view" >
    <nav style="display: none;"><ul style="display:none;"><!-- ko foreach: {data:$root.newsFilesList()} --><li></li><!-- /ko --></ul>
    </nav>

        <div class="parentNewsDiv hideVoiceOvernTitle" data-bind="style: { width: $root.parentWindowCss().freshNewsDivWidth},adjustHeight: true, customScrollBar: { callback: $root.loadNextPage, onTotalScrollOffset: 1500 }" >
           <!-- ko foreach: {data:$root.freshNewsFilesListPortal()} -->
            

           <!-- ko template: { name: $root.templates.newsfileView, data:$data } -->
           <!-- /ko -->


           <!-- /ko -->
        </div>

    <!-- ko  if: $root.appdata.currentUser().userType == $root.e.UserType.taggedUser  -->

    <nav class="newsNav clearfix main-navsec" data-bind="filterHover: sourceFilterControl.isPopulated">

        <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
        <!-- /ko -->

        <img class="pollingBar" data-bind="visible:$root.appdata.isFilterPollingClick()" src="/Content/images/common/newloader.gif">
        <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters">Clear</a>
        <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
        <!-- /ko -->

        <div class="searchBox">
            <div class="form">
                <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                <input type="submit">
            </div>
        </div>
    </nav>

    <!-- /ko -->
</section>