<div class="newsSection jq-link01 jq-verify">

    <div class="topBar">
        <div class="dtbl">
            <div class="dtd">
                <h3>My News 4</h3>
            </div>
            <div class="dtd wd-px30 searchBar">
                <div class="searchSection">
                    <input type="text" placeholder="Search...">
                    <i class="x-magnify"></i>
                </div>
            </div>
            <div class="dtd wd-px23">
                <date-range-pick></date-range-pick>
                <!--<date-single-pick></date-single-pick>-->
            </div>
        </div>
    </div>

    <div class="withSideBar">

        <aside class="sideMenu" ng-include="'../includes/sideFilter.html'" onload="type=2"></aside>

        <section class="newsList selectedNews" ng-scrollbars ng-scrollbars-update="updateScrollbar2">

            <article ng-repeat="nw in newsSelction">
                <div class="newsRow" ng-repeat="ne in nw.newsList" layout="row" layout-align="center center">
                    <div flex>

                        <!--<div class="content">-->
                            <!--<figure><img alt="" ng-src="{{ne.dpimage}}"></figure>-->
                            <!--<h4><span class="{{ne.lang ? 'urdulang' : ''}}">{{ne.title}}</span></h4>-->
                            <!--<ul class="details">-->
                                <!--<li class="cat">{{ne.category}} </li>-->
                                <!--<li class="tim">{{ne.time}}</li>-->
                                <!--<li class="src">{{ne.source}}</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <news-list list-data="ne"></news-list>

                    </div>
                    <div>
                        <div class="mediaAttach">
                            <ul>
                                <li class="img first" >
                                    <a href="#"><img src="../assets/images/img1.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img3.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img4.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img5.jpg" alt=""></a>
                                </li>
                                <li class="allFiles">
                                    <strong>32</strong>
                                    <span>Media Files</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </article>

        </section>

        <section class="sideDiv">
            <div class="newsDetail">
                <header>
                    <div class="sideImg">
                        <figure><img src="../assets/images/img14.jpg"></figure>
                    </div>
                    <h3>Did Farooq Sattar already know about Nine Zero raid?</h3>
                    <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker.</p>
                    <p class="btmline">ARY News bureau office in Karachi in August.</p>
                    <ul class="details">
                        <li>Politics</li>
                        <li>Islamabad Bureau</li>
                        <li>2 mins ago</li>
                        <li>Karachi</li>
                    </ul>
                </header>
                <section>
                    <div class="scrollDv" ng-scrollbars ng-scrollbars-update="updateScrollbar3">
                        <header>
                            <h3>MQM’s decision to set up a temporary office in Karachi’s PIB Colony has raised many questions. Analysts say that senior party leaders, including Dr. Farooq Sattar, might have been aware of Rangers raid on Nine Zero.</h3>
                        </header>
                        <article>
                            <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker for allegedly attacking ARY News bureau office in Karachi in August, ARY News reported.</p>
                            <p>Authorities acted after carefully examining footage they retrieved from a closed-circuit camera and arrested the MQM’s worker from Korangi No. 4 during a search operation today (Monday).</p>
                            <p>Officials said Tariq was allegedly involved in the August 22 attack aimed at ARY News bureau office in the busy area of Saddar in Karachi.</p>
                            <p>As per the last information obtained by ARY News, the suspect was being investigated on the matter while raids were also being conducted in the metropolis to arrest his remaining partners in crime.</p>
                            <p>At least one person was killed while several others wounded when MQM’s founder Altaf Hussain, who has been living in London for more than 20 years.</p>
                        </article>
                        <div class="mediaAttach">
                            <ul>
                                <li class="img first" >
                                    <a href="#"><img src="../assets/images/img1.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img3.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img4.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img5.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img6.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img7.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img2.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </section>

    </div>



</div>