﻿<nav id="shell-top-nav-view1" class="singlebar-menu">
    <a title="" class="logo">
        <img src="/content/images/producer/logo2.png" width="31" height="30" alt="*"></a>
    <ul data-bind="with: menuHashes.production">
@*        <li><a data-bind="css: { 'active': producerArchivalMedia == $root.activeHash() }, attr: { href: producerArchivalMedia }">Media</a></li>
        <li><a data-bind="css: { 'active': (channelTicker == $root.activeHash()) }, attr: { href: channelTicker }">Channel Tickers</a></li>*@
        <li><a data-bind="attr: { href: newsFlow }">News Flow</a></li>
    </ul>
    <header class="headerrightinfo">
  
        <ul class="topnav">
            <li>
                <img class="imgNewLoader" src="/Content/images/common/newloader.gif"></li>
           
            <li><span class="username" data-bind="text: $root.appdata.currentUser().displayName"></span></li>

            <li class="last"><a href="javascript:;" title="" class="active"><i class="icon-setting"></i></a>

                <ul>
                    <li style="display: none"><a href="javascript:;" title="" data-bind="click: $root.checkForUpdates">Check for updates</a></li>
                    <li style="display: none" class="viewHelp" data-bind="click: $root.displayHelp"><a href="javascript:;" title="">Help</a></li>
                    <li class="logout" data-bind="click: $root.logOut"><a href="javascript:;" title="">Logout</a></li>
                    <li class="logout" data-bind="click: $root.changePassword"><a href="javascript:;" title="">Change Password</a></li>
                </ul>
            </li>
        </ul>
    </header>
</nav>

