<div class="progMngr">

    <div class="dtbl">
        <div class="dtd">

            <div class="topBar">
                <div class="dtbl">
                    <div class="dtd">
                        <date-range-pick></date-range-pick>
                    </div>
                </div>
            </div>

            <div class="progList" ng-scrollbars ng-scrollbars-update="updateScrollbar3">
                <section ng-repeat="pl in proglist">
                    <header>
                        <p>{{pl.date}}</p>
                    </header>
                    <article layout="row" layout-align="center center" ng-repeat="pr in pl.programs">
                        <p flex>{{pr.title}}</p>
                        <span class="wd-px10">{{pr.time}}</span>
                        <span class="wd-px10">{{pr.filledstories}}/{{pr.totlastories}} stories</span>
                    </article>
                </section>
            </div>
            <script>
                $('body').on('click','.progList section>article',function(){
                    $('.progList section>article').removeClass('active');
                    $(this).addClass('active');
                });
            </script>

        </div>
        <div class="dtd wd-per50 lftShad">

            <div class="topBar">
                <div class="dtbl">
                    <div class="dtd">
                        <date-single-pick></date-single-pick>
                    </div>
                </div>
            </div>



            <div class="mgrDetil" ng-scrollbars ng-scrollbars-update="updateScrollbar4">
                <section class="inner">
                    <article>
                        <h5>Program Title</h5>
                        <div class="prog dtbl">
                            <div class="dtd wd-px4">
                                <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                            </div>
                            <div class="dtd">
                                <p>Meri jang mubashir luqman</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h5 ng-click="pop1 = ''">Intro (Host)</h5>
                        <div class="prog dtbl">
                            <div class="dtd wd-px4">
                                <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                            </div>
                            <div class="dtd">
                                <p>Mubashir Luqman</p>
                                <!--<p>News Ancher</p>-->
                            </div>
                        </div>
                    </article>
                    <article class="dnone">
                        <h5>Teaser program (Highlights)</h5>
                        <div class="prog-vid">
                            <figure><img src="../assets/images/img3.jpg" alt=""></figure>
                            <figure><img src="../assets/images/img3.jpg" alt=""></figure>
                            <figure><img src="../assets/images/img3.jpg" alt=""></figure>
                            <div></div>
                        </div>
                    </article>
                    <article>
                        <h5>Segment <strong>1</strong></h5>
                        <ul class="prog-seg">
                            <!--<li class="stry" ng-click="createDialogue($event)" data-url="dialogs/_feedback.html">-->
                            <li class="stry" ng-click="template.pop1 = 'dialogs/_feedback2-editor.html'">
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>1st ODI: Pakistan facing England today</p>
                                <div class="hov">
                                    <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                                    <p>1st ODI: Pakistan facing England today</p>
                                </div>
                                <div class="cmntcount new">
                                    <md-icon class="x-feedback-count"></md-icon>
                                    <span>04</span>
                                </div>
                            </li>
                            <li class="stry done" ng-click="createDialogue($event)" data-url="dialogs/_feedback2-editor.html">
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>1st ODI: Pakistan facing England today</p>
                                <div class="hov">
                                    <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                                    <p>1st ODI: Pakistan facing England today</p>
                                </div>
                                <div class="cmntcount">
                                    <md-icon class="x-feedback-count"></md-icon>
                                    <span>04</span>
                                </div>
                            </li>
                            <li class="stry done urdulang" ng-click="createDialogue($event)" data-url="dialogs/_feedback.html">
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>آرمی چیف نے 10خطرناک دہشتگردوں کی سزائے موت کی توثیق کردی</p>
                                <div class="hov">
                                    <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                                    <p>آرمی چیف نے 10خطرناک دہشتگردوں کی سزائے موت کی توثیق کردی</p>
                                </div>
                                <div class="cmntcount">
                                    <md-icon class="x-feedback-count"></md-icon>
                                    <span>04</span>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <header class="dnone">
                        <h5>Teaser program (Highlights)</h5>
                    </header>
                    <article>
                        <h5>Segment <strong>2</strong></h5>
                        <ul class="prog-seg">
                            <li>
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>Story 1</p>
                            </li>
                            <li>
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>Story 2</p>
                            </li>
                            <li>
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>Story 3</p>
                            </li>
                        </ul>
                    </article>
                </section>
            </div>

            <div class="footerButs" style="display: none" ng-class="footerDisable ? 'disabled' : ''" ng-click="footerDisable = !footerDisable">
                <md-button class="reportButton grey"><span>Save</span><md-icon class="x-floppy"></md-icon></md-button>
                <md-button class="reportButton" ng-click="repDone = !repDone" ng-class="repDone ? 'completed' : ''"><span>Submit</span><md-icon class="x-send"></md-icon></md-button>
            </div>

        </div>
    </div>



    <ng-include ng-if="template.pop1" src="template.pop1" class="fpopup fpopup1" onload="classes = 'popInner'"></ng-include>
    <ng-include ng-if="template.pop2" src="template.pop2" class="fpopup fpopup2" onload="classes = 'popInner mediaViewer'"></ng-include>

</div>