<div class="progMngr">

    <div class="dtbl">
        <div class="dtd">

            <div class="topBar">
                <div class="dtbl">
                    <div class="dtd vMiddle">
                        <ng-include src="'../includes/topFilter.html'" onload="ttype=2"></ng-include>
                    </div>
                </div>
            </div>

            <div class="dtbl">
                <div class="dtd">

                    <div class="withSideBar">

                        <aside class="sideMenu" ng-include="'../includes/sideFilter.html'" onload="stype=1"></aside>

                        <section class="newsList" ng-scrollbars ng-scrollbars-update="updateScrollbar2">
                            <div class="filterTokens">
                                <ul>
                                    <li><span>Karachi</span> <i class="x-close"></i></li>
                                    <li><span>Queta</span> <i class="x-close"></i></li>
                                    <li><span>Facebook</span> <i class="x-close"></i></li>
                                    <li><span>Breaking</span> <i class="x-close"></i></li>
                                    <li><span>Karachi</span> <i class="x-close"></i></li>
                                    <li><span>Queta</span> <i class="x-close"></i></li>
                                    <li><span>Facebook</span> <i class="x-close"></i></li>
                                    <li><span>Breaking</span> <i class="x-close"></i></li>
                                    <li><span>Karachi</span> <i class="x-close"></i></li>
                                    <li><span>Queta</span> <i class="x-close"></i></li>
                                    <li><span>Facebook</span> <i class="x-close"></i></li>
                                    <li><span>Breaking</span> <i class="x-close"></i></li>
                                    <li><span>Karachi</span> <i class="x-close"></i></li>
                                    <li><span>Queta</span> <i class="x-close"></i></li>
                                    <li><span>Facebook</span> <i class="x-close"></i></li>
                                    <li><span>Breaking</span> <i class="x-close"></i></li>
                                </ul>
                            </div>
                            <article>

                                <div class="newsRow {{((ne.type) && (ne.type == 'B')) ? 'breaking' : ''}}" ng-repeat="ne in newsMarked" layout="row" layout-align="center center">
                                    <div flex>

                                        <div class="content">
                                            <figure><img alt="" ng-src="{{ne.dpimage}}"></figure>
                                            <h4><span class="{{ne.lang ? 'urdulang' : ''}}">{{ne.title}}</span></h4>
                                            <ul class="details">
                                                <li class="tim">{{ne.time}}</li>
                                                <li class="cat">{{ne.category}}</li>

                                                <li class="src">{{ne.source}}</li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="ritButns wd-px16">
                                        <div class="buts">
                                            <label class="count" data-xtooltip="Story 01 - 12<br>Story 02 - 03<br>Story 03 - 07">15</label>
                                            <label ng-show="(ne.type) && (ne.type == 'A')" class="blue">A</label>
                                            <label ng-show="(ne.type) && (ne.type == 'B')" class="red">B</label>
                                            <label ng-show="(!ne.type)" class="grey">N</label>

                                            <md-menu ng-hide="true" class="optmenu" md-offset="-10 10" md-position-mode="target-right bottom">
                                                <md-button aria-label="Channel" ng-click="$mdOpenMenu($event)">
                                                    <md-icon class="x-filter-menu2"></md-icon>
                                                </md-button>
                                                <md-menu-content class="optmenu-drop withArrow">
                                                    <div class="scrollDv">
                                                        <md-menu-item>
                                                            <md-button class="active">
                                                                <span>Copy Bucket</span>
                                                                <md-icon class="x-redo"></md-icon>
                                                            </md-button>
                                                        </md-menu-item>
                                                    </div>
                                                </md-menu-content>
                                            </md-menu>
                                            <label class="verified {{ne.verified ? 'on' : 'off'}}">
                                                <i class="x-check"></i>
                                            </label>

                                        </div>
                                    </div>
                                </div>

                            </article>

                        </section>

                    </div>


                </div>
                <div class="dtd wd-px30 lftShad">

                    <section class="newsList" ng-scrollbars ng-scrollbars-update="updateScrollbar3">
                        <div class="blankScreen" ng-hide="true">
                            <md-icon class="x-filter-akhbar02"></md-icon>
                            <span>No News Select</span>
                        </div>

                        <article>
                            <div class="newsRow type3" ng-repeat="ne in newsMarked" layout="row" layout-align="center center">
                                <div flex>

                                    <div class="content">
                                        <figure><img alt="" ng-src="{{ne.dpimage}}"></figure>
                                        <h4><span class="{{ne.lang ? 'urdulang' : ''}}">{{ne.title}}</span></h4>
                                    </div>

                                </div>
                                <div class="ritButns">
                                    <div class="buts">
                                        <label ng-show="(ne.type) && (ne.type == 'A')" class="blue">A</label>
                                        <label ng-show="(ne.type) && (ne.type == 'B')" class="red">B</label>
                                        <md-button class="del" aria-label="Remove">
                                            <md-icon class="x-close"></md-icon>
                                        </md-button>

                                        <md-menu ng-hide="true" class="optmenu" md-offset="-10 10" md-position-mode="target-right bottom">
                                            <md-button aria-label="Channel" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="x-filter-menu2"></md-icon>
                                            </md-button>
                                            <md-menu-content class="optmenu-drop withArrow">
                                                <div class="scrollDv">
                                                    <md-menu-item>
                                                        <md-button class="active">
                                                            <span>Copy Bucket</span>
                                                            <md-icon class="x-redo"></md-icon>
                                                        </md-button>
                                                    </md-menu-item>
                                                </div>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </div>
                            </div>

                        </article>

                    </section>
                </div>
            </div>

        </div>
        <div class="dtd wd-px40 lftShad">

            <div class="topBar">
                <div class="dtbl">
                    <div class="dtd">
                        <date-single-pick></date-single-pick>
                    </div>
                </div>
            </div>



            <div class="mgrDetil" ng-scrollbars ng-scrollbars-update="updateScrollbar4">
                <section class="inner">
                    <article>
                        <h5>Program Title</h5>
                        <div class="prog dtbl">
                            <div class="dtd wd-px4">
                                <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                            </div>
                            <div class="dtd">
                                <p>Meri jang mubashir luqman</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h5 ng-click="pop1 = ''">Intro (Host)</h5>
                        <div class="prog dtbl">
                            <div class="dtd wd-px4">
                                <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                            </div>
                            <div class="dtd">
                                <p>Mubashir Luqman</p>
                                <!--<p>News Ancher</p>-->
                            </div>
                        </div>
                    </article>
                    <article class="dnone">
                        <h5>Teaser program (Highlights)</h5>
                        <div class="prog-vid">
                            <figure><img src="../assets/images/img3.jpg" alt=""></figure>
                            <figure><img src="../assets/images/img3.jpg" alt=""></figure>
                            <figure><img src="../assets/images/img3.jpg" alt=""></figure>
                            <div></div>
                        </div>
                    </article>
                    <article>
                        <h5>Segment <strong>1</strong></h5>
                        <ul class="prog-seg">
                            <!--<li class="stry" ng-click="createDialogue($event)" data-url="dialogs/_feedback.html">-->
                            <li class="stry" ng-click="template.pop1 = 'dialogs/_feedback2.html'">
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>1st ODI: Pakistan facing England today</p>
                                <div class="hov">
                                    <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                                    <p>1st ODI: Pakistan facing England today</p>
                                </div>
                                <div class="cmntcount new">
                                    <md-icon class="x-feedback-count"></md-icon>
                                    <span>04</span>
                                </div>
                            </li>
                            <li class="stry done" ng-click="createDialogue($event)" data-url="dialogs/_feedback.html">
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>1st ODI: Pakistan facing England today</p>
                                <div class="hov">
                                    <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                                    <p>1st ODI: Pakistan facing England today</p>
                                </div>
                                <div class="cmntcount">
                                    <md-icon class="x-feedback-count"></md-icon>
                                    <span>04</span>
                                </div>
                            </li>
                            <li class="stry done urdulang" ng-click="createDialogue($event)" data-url="dialogs/_feedback.html">
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>آرمی چیف نے 10خطرناک دہشتگردوں کی سزائے موت کی توثیق کردی</p>
                                <div class="hov">
                                    <figure><img alt="" src="../assets/images/img17.jpg"></figure>
                                    <p>آرمی چیف نے 10خطرناک دہشتگردوں کی سزائے موت کی توثیق کردی</p>
                                </div>
                                <div class="cmntcount">
                                    <md-icon class="x-feedback-count"></md-icon>
                                    <span>04</span>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <header class="dnone">
                        <h5>Teaser program (Highlights)</h5>
                    </header>
                    <article>
                        <h5>Segment <strong>2</strong></h5>
                        <ul class="prog-seg">
                            <li>
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>Story 1</p>
                            </li>
                            <li>
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>Story 2</p>
                            </li>
                            <li>
                                <i class="x-arrowenter"></i>
                                <a href="#"><i class="x-close"></i></a>
                                <p>Story 3</p>
                            </li>
                        </ul>
                    </article>
                </section>
            </div>

            <div class="footerButs" style="display: none" ng-class="footerDisable ? 'disabled' : ''" ng-click="footerDisable = !footerDisable">
                <md-button class="reportButton grey"><span>Save</span><md-icon class="x-floppy"></md-icon></md-button>
                <md-button class="reportButton" ng-click="repDone = !repDone" ng-class="repDone ? 'completed' : ''"><span>Submit</span><md-icon class="x-send"></md-icon></md-button>
            </div>

        </div>
    </div>



    <ng-include ng-if="template.pop1" src="template.pop1" class="fpopup fpopup1" onload="classes = 'popInner'"></ng-include>
    <ng-include ng-if="template.pop2" src="template.pop2" class="fpopup fpopup2" onload="classes = 'popInner mediaViewer'"></ng-include>

</div>