<div class="newsSection jq-link01">

    <div class="topBar">
        <div class="dtbl">
            <div class="dtd vMiddle">
                <ul class="topMenu">
                    <li class="active"><i class="x-filter-akhbar01"></i> <span>All News <strong>140</strong></span></li>
                    <li><i class="x-filter-banda"></i> </li>
                    <li><i class="x-filter-dobande"></i></li>
                    <li><i class="x-filter-vid"></i></li>
                    <li><i class="x-filter-rss"></i></li>
                    <li><i class="x-filter-akhbar02"></i></li>
                    <li><i class="x-filter-worldmap"></i></li>
                    <li><i class="x-filter-tv"></i></li>
                    <li><i class="x-filter-chat"></i></li>
                    <li><i class="x-filter-book"></i></li>
                    <li><i class="x-filter-docs"></i></li>
                    <li><i class="x-filter-radio"></i></li>
                </ul>
            </div>
            <div class="dtd wd-px20 alertSec">
                <ul class="alerts">
                    <li><i class="x-filter-book"></i> <span>157</span></li>
                    <li><i class="x-filter-exclaim"></i> <span>68</span></li>
                </ul>
            </div>
            <div class="dtd wd-px26 settingCalender">
                <date-range-pick></date-range-pick>
            </div>
            <div class="dtd wd-px7 fullScreen">
                <i class="x-filter-fullscreen"></i>
            </div>
        </div>
    </div>

    <div class="withSideBar">

        <aside class="sideMenu">
            <span class="firstActive"><i class="x-nav-menu"></i></span>
            <ul>
                <li class="active"><i class="x-filter-star"></i></li>
                <li><i class="x-filter-chand"></i></li>
                <li><i class="x-filter-chessqueen"></i></li>
                <li><i class="x-filter-idea"></i></li>
                <li><i class="x-filter-football"></i></li>
                <li><i class="x-filter-dollar"></i></li>
                <li><i class="x-filter-foji"></i></li>
                <li><i class="x-filter-menu" style="font-size: 9px;"></i></li>
            </ul>
        </aside>

        <section class="newsList selectedNews" ng-scrollbars ng-scrollbars-update="updateScrollbar2">
            <div class="dtbl">
                <div class="dtd">
                    <section ng-repeat="nw in newsSelction">
                        <div class="newsBox" ng-repeat="ne in nw.newsList">
                            <figure><img alt="" ng-src="{{ne.dpimage}}"></figure>
                            <div class="content">
                                <h4><span class="{{ne.lang ? 'urdulang' : ''}}">{{ne.title}}</span></h4>
                                <ul class="details">
                                    <li class="cat">{{ne.category}} </li>
                                    <li class="tim">{{ne.time}}</li>
                                    <li class="src">{{ne.source}}</li>
                                </ul>
                            </div>
                            <div class="rightListing">
                                <md-button class="editButton"><i class="x-edit"></i></md-button>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </section>


        <section class="sideDiv">
            <div class="newsDetail">
                <header>
                    <div class="sideImg">
                        <figure><img src="../assets/images/img14.jpg"></figure>
                    </div>
                    <h3>Did Farooq Sattar already know about Nine Zero raid?</h3>
                    <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker.</p>
                    <p class="btmline">ARY News bureau office in Karachi in August.</p>
                    <ul class="details">
                        <li>Politics</li>
                        <li>Islamabad Bureau</li>
                        <li>2 mins ago</li>
                        <li>Karachi</li>
                    </ul>
                </header>
                <section>
                    <div class="scrollDv" ng-scrollbars ng-scrollbars-update="updateScrollbar3">
                        <header>
                            <h3>MQM’s decision to set up a temporary office in Karachi’s PIB Colony has raised many questions. Analysts say that senior party leaders, including Dr. Farooq Sattar, might have been aware of Rangers raid on Nine Zero.</h3>
                        </header>
                        <article>
                            <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker for allegedly attacking ARY News bureau office in Karachi in August, ARY News reported.</p>
                            <p>Authorities acted after carefully examining footage they retrieved from a closed-circuit camera and arrested the MQM’s worker from Korangi No. 4 during a search operation today (Monday).</p>
                            <p>Officials said Tariq was allegedly involved in the August 22 attack aimed at ARY News bureau office in the busy area of Saddar in Karachi.</p>
                            <p>As per the last information obtained by ARY News, the suspect was being investigated on the matter while raids were also being conducted in the metropolis to arrest his remaining partners in crime.</p>
                            <p>At least one person was killed while several others wounded when MQM’s founder Altaf Hussain, who has been living in London for more than 20 years.</p>
                        </article>
                        <div class="mediaAttach">
                            <ul>
                                <li class="img first" >
                                    <a href="#"><img src="../assets/images/img1.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img3.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img4.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img5.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img6.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="#"><img src="../assets/images/img7.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="#"><img src="../assets/images/img2.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </section>


    </div>



</div>