﻿<section id="login-view" class="view">

    <div class="loginpanel">
        <img src="~/Content/images/home/x-dms-logo.png" alt="" style="padding-left: 24px; position: relative;" width="320px" height="70px">
        <div class="bodtoparea bodtoparea2 mtop35"></div>
        <div class="row-fluid mtop35">
            <div class="span4 ">
                <label class="login-label ">Username</label>
            </div>
            <div class="span7">
                <input type="text" class="width194" data-bind="value: username, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 ">
                <label class="login-label ">Password</label>
            </div>
            <div class="span7">
                <input type="password" class="width194" data-bind="value: password, valueUpdate: 'afterkeydown'">
            </div>
        </div>

        <div class="row-fluid mtop5">
            <div class="span5 offset4 login-login">
                <a href="javascript:void(0)" data-bind="click: login" class="btn-blue login-btn">Login</a>  &nbsp; <a href="javascript:;">Reset Password</a>
            </div>
        </div>
        <!-- ko if: modules().length>1  -->
        <div >
            <ul class="menuH decor1">
                <li><a href="#3" class="arrow">Module URLs</a>
                    
                    <ul data-bind="foreach: modules,customScrollBar" style="max-height:200px" class="dropToLeft">
                        <li> <a href="javascript:;" data-bind="text: urlName, click: $root.naviageroute"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /ko -->
        <div id="divError" class="row-fluid " style="display: none" data-bind="visible: errorMessage">
            <div class="span7 offset4 login-error ">
                <span class="red">Invalid Username or Password</span>
            </div>
        </div>
        <div class="bodtoparea mtop15 ptop10 light loginfooter">
            Copyright &copy; 2013, Axact, All rights reserved.<br>
            World’s Leading IT Company.
        </div>
    </div>
</section>

