@font-face {
    font-family: 'Nafees';
    src:url('nafees-nastaleeq-webfont.eot?#iefix') format('embedded-opentype'),
        url('nafees-nastaleeq-webfont.woff') format('woff'),
        url('nafees-nastaleeq-webfont.ttf') format('truetype'),
        url('nafees-nastaleeq-webfont.svg#NafeesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height: 2;
}