﻿@font-face{font-family:Jameel Noori Nastaleeq Kasheeda;src:url('../../../Content/fonts/jameel-noori-nastaleeq-kasheeda.ttf') format("truetype")}
@font-face{font-family:'Jameel Noori Nastaleeq';src:url(../../../Content/fonts/jameel-noori-nastaleeq-regular.ttf) format("truetype")}


body
{
    padding: 0px;
    margin: 0px;
    
}

#header
{
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: #5c666d solid 2px;
    color: #5c666d;
    font-size: 24px;
}

.variableFont {
    font-size: 20px;
}

.dateTime {
    font-size:12px;
      color: darkgrey;
  /*font-weight: bold;*/
  display:block;
  padding: 5PX;
  float:right;
}

.submitButton
{
    background-color: white;
    border: #5c666d solid 1px;
    padding: 4px;
    cursor: pointer;
    height: 34px;
}

    .submitButton:hover
    {
        background-color: #c4c8cc;
    }

.login
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid 2px #5c666d;
      color: #c4c8cc;
}

    .login .textBox
    {
        width: 240px;


    }


    .login #divButton
    {
        padding: 4px;
        text-align: right;
    }

.chatRoom
{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
      height: 655px;
    border: solid 1px #5c666d;
    padding-top:5px;
}

.conversationWith {
background: lightseagreen;
  width: 72%;
  position: absolute;
  opacity: 0.8;
  margin-left: 0%;
  display:none;
    font-size: 25px;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}


.buttonConversationWith {
    background: lightseagreen;
    height: 18px;
    position: absolute;
    opacity: 0.5;
     margin-left: 72%;
    cursor:pointer;   
    -webkit-transform: scaleX(-1);
}
.buttonConversationWith:hover + .conversationWith {
    display:block;
}
/*.buttonConversationWith:hover {
    display:none;
}*/

    .chatRoom .title
    {
        font-size: 16px;
        color: antiquewhite;
        font-weight: bold;
        padding: 8px;
        background: -webkit-linear-gradient(#5c666d, #373d41);
        border-bottom: solid 1px #5c666d;
    }

    .chatRoom .content
    {
        height: 450px;
        clear: both;
    }

        .chatRoom .content .chatWindow
        {
            float: left;
            width: 75%;
           height: 436px;
            border: solid 1px #5c666d;
            overflow-y: scroll;
        }

            .chatRoom .content .chatWindow .message
            {
                /*padding: 4px;*/
                margin-top: 10px;
                background-color: lavender;
                  width: 97%;
                  margin-left: 2%;
                  border-radius: 9px;
                border: 1px solid lightgray;
            }

                .chatRoom .content .chatWindow .message .userName
                {
                    font-weight: bold;
                    font-size: 20px;
                }

        .chatRoom .content .users
        {
            float: right;
            width: 24%;
             height: 132%;
             border: 1px solid #5c666d;
                border-radius: 15px;

              overflow-y: auto;
        }

            .chatRoom .content .users .user
            {
                display: block;
                cursor: pointer;
                padding: 4px;
                background-color: #f9f9f9;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .loginUser
            {
                display: block;
                padding: 4px;
                color: gray;
                border-bottom: solid 1px #5c666d;
            }

            .chatRoom .content .users .user:hover
            {
                background-color: #c4c8cc;
            }

    .chatRoom .messageBar
    {
        border: solid 1px #5c666d;
  padding: 4px;
  height: 143px;
  width: 74%;
  border-radius: 15px;
    background-color: lightgray;
    margin-left: 6px;
  margin-top: -5px;
        
    }

        .chatRoom .messageBar .textbox
        {
            width: 93%;
            border-radius: 8px;
            height: 136px;
            font-family: 'Jameel Noori Nastaleeq' !important;
        }

.disconnect
{
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}

.modalDialog
{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalDialog.Active
    {
        opacity: 1;
        pointer-events: auto;
    }

        .modalDialog.Disable
{
    opacity: 0;
    pointer-events: auto;
    height:0px;
}

    .modalDialog > div
{
    width: 23%;
  height: 38%;
  top: -8%;
  left: 34%;
    position: absolute;
    margin: 10% auto;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.topHead {
  background: #F6F6F6 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#999999));
}

pre.txtdata {
     font-family: 'Jameel Noori Nastaleeq' !important;
     display:inline !important;
     padding: 5px;
}


.draggable
{
    position: absolute;
    border: #5c666d solid 1px !important;
    width: 250px;
}

    .draggable .header
    {
        cursor: move;
          background: -webkit-linear-gradient(#c4c8cc, #5c666d);
        border-bottom: #5c666d solid 1px;
        color: #1e4638;
    }

    .draggable .selText
    {
        color: black;
        padding: 4px;
    }

    .draggable .messageArea
    {
        width: 250px;
        overflow-y: scroll;
        height: 200px;
         border-bottom: #5c666d solid 1px;
    }

        .draggable .messageArea .message
        {
            padding: 4px;
        }

    .draggable .buttonBar
    {
        width: 250px;
       padding:4px;
    }

        .draggable .buttonBar .msgText
        {
            width: 172px;
        }

        .draggable .buttonBar .button
        {
           margin-left:4px;
            width: 55px;
        }



