<div class="popupNavigation">
<md-button class="closeButton" ng-click="$parent.template.pop1 = ''">
    <md-icon class="x-close"></md-icon>
</md-button>

<md-button class="nextButton">
    <md-icon class="x-navigate_next"></md-icon>
</md-button>

<md-button class="prevButton disabled">
    <md-icon class="x-navigate_before"></md-icon>
</md-button>
</div>

<div class="feedBackPop {{classes}}">

    <md-button class="saveButton done">
        <md-icon class="x-check"></md-icon>
    </md-button>

    <md-button class="deleteButton">
        <md-icon class="x-dust-bin2"></md-icon>
    </md-button>

    <div class="dtbl">
        <div class="dtd leftSide">
            <div class="newsDetail2">
                <header>
                    <div class="sideImg">
                        <figure><img src="../assets/images/img14.jpg"></figure>
                    </div>
                    <h3>Did Farooq Sattar already know about Nine Zero raid? </h3>
                    <p class="btmline">ARY News bureau office in Karachi in August.</p>
                    <ul class="details">
                        <li>Politics</li>
                        <li>Islamabad Bureau</li>
                        <li>2 mins ago</li>
                        <li>Karachi</li>
                    </ul>
                    <div class="rightButtons">
                        <md-button class="buttonRound done"><md-icon class="x-check"></md-icon></md-button>
                        <md-button class="buttonRound">B</md-button>
                    </div>
                </header>
                <section>
                    <div class="scrollDv" ng-scrollbars>
                        <header>
                            <h3>MQM’s decision to set up a temporary office in Karachi’s PIB Colony has raised many questions. Analysts say that senior party leaders, including Dr. Farooq Sattar, might have been aware of Rangers raid on Nine Zero.</h3>
                        </header>
                        <article>
                            <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker for allegedly attacking ARY News bureau office in Karachi in August, ARY News reported.</p>
                            <p>Authorities acted after carefully examining footage they retrieved from a closed-circuit camera and arrested the MQM’s worker from Korangi No. 4 during a search operation today (Monday).</p>
                            <p>Officials said Tariq was allegedly involved in the August 22 attack aimed at ARY News bureau office in the busy area of Saddar in Karachi.</p>
                            <p>As per the last information obtained by ARY News, the suspect was being investigated on the matter while raids were also being conducted in the metropolis to arrest his remaining partners in crime.</p>
                            <p>At least one person was killed while several others wounded when MQM’s founder Altaf Hussain, who has been living in London for more than 20 years.</p>
                        </article>
                        <div class="mediaAttach">
                            <ul>
                                <li class="img first">
                                    <a href="javscript:;" ng-click="$parent.template.pop2 = 'dialogs/_mediaframe.html'"><img src="../assets/images/img1.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="javscript:;"><img src="../assets/images/img3.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="javscript:;"><img src="../assets/images/img4.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="javscript:;"><img src="../assets/images/img5.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="javscript:;"><img src="../assets/images/img6.jpg" alt=""></a>
                                </li>
                                <li class="img" >
                                    <a href="javscript:;"><img src="../assets/images/img7.jpg" alt=""></a>
                                </li>
                                <li class="vid" >
                                    <a href="javscript:;"><img src="../assets/images/img2.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="dtd rightSide">

            <div class="managerTabs">
                <ul class="tabController tabCtrl">
                    <li data-target="box-headlines" class="active"><strong>Headlines</strong> <md-button class="buttonRound done"><md-icon class="x-check"></md-icon></md-button></li>
                    <li data-target="box-pkgDetail" ><strong>Package</strong> <md-button class="buttonRound done"><md-icon class="x-check"></md-icon></md-button></li>
                    <li data-target="box-guest"><strong>Guests</strong> <md-button class="buttonRound done"><md-icon class="x-check"></md-icon></md-button></li>
                    <li data-target="box-feedback"><strong>Feedback</strong> <label class="count">25</label></li>
                </ul>

                <div class="scrollDv" ng-scrollbars>
                    <div class="box-headlines active">
                        <div class="labelRow">
                            <label>Headline</label>
                            <md-button class="buttonAdd"><md-icon class="x-add"></md-icon></md-button>
                        </div>
                        <div class="allFields">
                            <ul class="addMore">
                                <li><p>Sample heading text 01</p></li>
                                <li><p>Sample heading text 02</p></li>
                                <li><p>Sample heading text 03</p></li>
                            </ul>
                        </div>

                    </div>
                    <div class="box-pkgDetail">
                        <div class="labelRow">
                            <label>Package Details</label>
                        </div>
                        <div class="allFields">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>

                        <div class="labelRow">
                            <label>Research Requirments</label>
                        </div>
                        <div class="allFields">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>

                    </div>
                    <div class="box-guest">
                        <div class="labelRow">
                            <label>Guests</label>
                            <!--<md-button class="buttonAdd"><md-icon class="x-add"></md-icon></md-button>-->
                        </div>
                        <div class="allFields wrapper">
                            <div class="guest">
                                <p><strong>Guest Name:</strong> Mubashir Luqman</p>
                                <p><strong>Location</strong> Live Video</p>
                                <p><strong>Questions:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae nisl elit. Vivamus viverra at sapien ac lobortis. Mauris tincidunt lectus eu ultricies vehicula. Morbi ut sodales leo.</p>
                            </div>
                            <div class="guest">
                                <p><strong>Guest Name:</strong> Mubashir Luqman</p>
                                <p><strong>Location</strong> DSNG</p>
                                <p><strong>Questions:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae nisl elit. Vivamus viverra at sapien ac lobortis. Mauris tincidunt lectus eu ultricies vehicula. Morbi ut sodales leo.</p>
                            </div>
                            <div class="guest">
                                <p><strong>Guest Name:</strong> Mubashir Luqman</p>
                                <p><strong>Location</strong> Studio</p>
                                <p><strong>Questions:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae nisl elit. Vivamus viverra at sapien ac lobortis. Mauris tincidunt lectus eu ultricies vehicula. Morbi ut sodales leo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-feedback">


                        <ul class="feedBackComments">
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                            <li>
                                <div class="labelRow">
                                    <h4>Nazeer Ahmed Laghari</h4>
                                    <span>02:00 PM</span>
                                </div>
                                <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="footerButtons">
                    <md-button class="reportButton grey"><span>Save</span><md-icon class="x-floppy"></md-icon></md-button>
                    <md-button class="reportButton" ng-click="repDone = !repDone" ng-class="repDone ? 'completed' : ''"><span>Save and proceed</span><md-icon class="x-floppy"></md-icon></md-button>
                </div>
            </div>

            <div class="feedBackBar">
                <md-icon class="x-message-pop"></md-icon>
                <h3>Feedback</h3>
            </div>

            <div class="feedBackContent">
                <div class="options">
                    <md-checkbox aria-label="Checkbox 1">
                        <i class="x-check"></i>
                        <span>Headline</span>
                    </md-checkbox>
                    <md-checkbox aria-label="Checkbox 1">
                        <i class="x-check"></i>
                        <span>Package</span>
                    </md-checkbox>
                    <md-checkbox aria-label="Checkbox 1">
                        <i class="x-check"></i>
                        <span>Guests</span>
                    </md-checkbox>
                </div>


                <div class="sendText">
                    <textarea placeholder="Write Feedback..." rows="4"></textarea>
                    <md-button><md-icon class="x-send"></md-icon></md-button>
                </div>

                <div class="scrollDv dnone" ng-scrollbars>



                    <ul class="allComments">
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                        <li>
                            <div class="labelRow">
                                <h4>Nazeer Ahmed Laghari</h4>
                                <span>02:00 PM</span>
                            </div>
                            <div class="showDetail">Need to rewrite the ticker more attractive and shorter. Now it is too much long and non-professional language is used.</div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

