<div class="popupNavigation">
    <md-button class="closeButton" ng-click="$parent.template.pop2 = ''">
        <md-icon class="x-close"></md-icon>
    </md-button>

    <md-button class="nextButton">
        <md-icon class="x-navigate_next"></md-icon>
    </md-button>

    <md-button class="prevButton disabled">
        <md-icon class="x-navigate_before"></md-icon>
    </md-button>
</div>

<div class="feedBackPop {{classes}}">

    <div class="dtbl">
        <div class="dtd leftSide wd-per35">
            <div class="newsDetail2">
                <header>
                    <figure>
                        <img src="../assets/images/fullimage.jpg">
                    </figure>
                    <h3>Pakistani Cricket Team </h3>
                    <p class="btmline">ARY News bureau office in Karachi in August.</p>
                </header>
                <section>
                    <div class="scrollDv" ng-scrollbars>
                        <article>
                            <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker for allegedly attacking ARY News bureau office in Karachi in August, ARY News reported.</p>
                            <p>At least one person was killed while several others wounded when MQM’s founder Altaf Hussain, who has been living in London for more than 20 years.</p>
                        </article>
                        <ul class="tagsList">
                            <li>Politics</li>
                            <li>Islamabad</li>
                            <li>2 mins ago</li>
                            <li>Karachi 123456</li>
                            <li>Politics 1</li>
                            <li>Islamabad Bureau 234234324</li>
                            <li>2 mins ago</li>
                            <li>Karachi</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <div class="dtd rightSide">
            <div class="mediaHolder">
                <img src="../assets/images/fullimage.jpg">
            </div>
        </div>
    </div>

</div>

