﻿<nav id="shell-top-nav-view" class="singlebar-menu">
    <a title="" class="logo" data-bind="attr: { href: menuHashes.production.home }" href="#/home">
        <img src="/content/images/producer/logo2.png" width="31" height="30" alt="*"></a>
    <select id="channelDropdown" data-bind="channelDropdown: true, options: channels, optionsText: 'name', optionsValue: 'id', value: appdata.currentChannel"></select>
    <ul data-bind="with: menuHashes.production">
        <li><a data-bind="css: { 'active': (home == $root.activeHash() || topicSelection == $root.activeHash()) }, attr: { href: home }">Topic Selection</a></li>
        <li data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.FReporter"><a data-bind="css: { 'active': sequence == $root.activeHash() }, attr: { href: sequence }">Sequence</a></li>
        <li data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.FReporter"><a data-bind="css: { 'active': production == $root.activeHash() }, attr: { href: production }">Production</a></li>
        <li><a data-bind="css: { 'active': $root.config.views.fieldreporter.reportNews.url == $root.activeHash()   }, attr: { href: $root.config.views.fieldreporter.reportNews.url}">Report News</a></li>
        <li><a data-bind="css: { 'active': producerArchivalMedia == $root.activeHash() }, attr: { href: producerArchivalMedia }">Media</a></li>
        <li><a data-bind="css: { 'active': (channelTicker == $root.activeHash()) }, attr: { href: channelTicker }">Channel Tickers</a></li>

    </ul>
    <header class="headerrightinfo">
        <!-- ko if: $root.appdata.currentUser().userType !== $root.e.UserType.TickerManager-->
        <div id="newsAlert" class="news-alert" data-bind="with: currentTopNews">
            <i class="cross-icon" data-bind="click: $root.presenter.showAlert(false)"></i>
            <figure>
                <img data-bind="attr: { src: defaultImageUrl }" onerror="this.src = '/content/images/producer/noimage.jpg'" width="105" height="60" alt="News">
            </figure>
            <p data-bind="trimText: { text: title(), length: 150 }"></p>
            <a href="javascript:;" title="" data-bind="click: function (data) { $root.setCurrentNews(data, true) }">View Details</a>
        </div>

        <div id="newsAlert1" class="news-alert" data-bind="with:currentTopNotification">
            <i class="cross-icon" data-bind="click:function (data) { $root.deleteNotificationAlert($data)}"></i>
            <p data-bind="html:title,click:function (data) { $root.markNotificationAlertAsRead($data)}" style="cursor: pointer"></p>
            <p data-bind="html:slug" style="cursor: pointer;"></p>
        </div>
        <!-- /ko -->
        <ul class="topnav">
            <li>
                <img class="imgNewLoader" src="/Content/images/common/newloader.gif"></li>
           
            <li><span class="username" data-bind="text: $root.appdata.currentUser().displayName"></span></li>
            <li class="alerts"><a href="javascript:;" title=""><i class="icon-email"><span class="alert" data-bind="html: unreadNotificationsCount"></span></i></a>
                <div class="dropdown">
                    <div class="notifications"><span><i class="icon-email"></i>Notifications</span>  <a href="javascript:;" title="" data-bind="click:$root.markAllRead">Mark as Read</a></div>
                    <ul class="scrollBar" style="max-height: 170px !important" data-bind="adjustHeight: true, customScrollBar:true">
                        <!-- ko foreach: notifications -->
                        <li data-bind="css: {'active': !isRead()},click: function (data) { $root.markNotificationRead($data)}">
                            <a href="javascript:;" title="">
                                <span data-bind="html: title" style="width: 70%; float: left;">A task has been submitted by testnle.</span>
                                <span data-bind="html: creationDateDisplay" style="width: 30%; float: left;">a few seconds ago</span>
                            </a>
                            <a href="javascript:;" title="" data-bind="html: slug" style="padding-top: 0;"></a>

                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </li>
            <li class="last"><a href="javascript:;" title="" class="active"><i class="icon-setting"></i></a>

                <ul>
                    @*  <li style="display: none"><a href="javascript:;" title="">Account Settings</a></li>*@
                    @*<li style="display: block"><a href="javascript:;" title="" data-bind="click: $root.displaySettings">Account Settings</a></li>*@
                    <li style="display: none"><a href="javascript:;" title="" data-bind="click: $root.checkForUpdates">Check for updates</a></li>
                    <li style="display: none" class="viewHelp" data-bind="click: $root.displayHelp"><a href="javascript:;" title="">Help</a></li>
                    <li class="logout" data-bind="click: $root.logOut"><a href="javascript:;" title="">Logout</a></li>
                    <li class="logout" data-bind="click: $root.changePassword"><a href="javascript:;" title="">Change Password</a></li>
                </ul>
            </li>
              <li title="Chat"><span class="username" style="cursor:pointer;border-right: none;" data-bind="click:$root.openChat"><i class="icon-plus chatIcon"></i></span></li>
            <li title="File Manager"><span class="username" style="cursor:pointer;border-right: none;" data-bind="click:$root.fileManager">File Manager</span></li>
            <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
        </ul>
    </header>
</nav>

