﻿<aside id="shell-right-view" class="rightSec" data-bind="visible: shellRightVisible()">
    <ul class="timeSec" data-bind="programDropdown: true">
        <li class="dropdownlist">
            <a href="javascript:;"><i class="icon-name"></i><small data-bind="text: appdata.programSelector().program"></small></a>
            <ul class="innerpop" style="height: 250px; width: 380px" data-bind="customScrollBar: {}">
                <!-- ko foreach:programs -->
                <li data-bind="click: function () { $root.appdata.currentProgram($data) }"><a href="javascript:;"><i class="icon-secProgrm"></i><small data-bind="    text: name"></small></a></li>
                <!-- /ko -->
            </ul>
        </li>
        <li class="datepicshow">
            <a href="javascript:;"><i class="icon-today"></i><small data-bind="text: $root.appdata.programDisplayDate()"></small></a>
            <span id="datepickerhome" class="innerpop" data-bind="smallCalendar: { currentDate: $root.appdata.programSelectedDate, bindToggle: true }"></span>
        </li>
        <li class="dropdownlist ">
            <a href="javascript:;"><i class="icon-time "></i><small data-bind="text: $root.appdata.programSelector().episode"></small></a>
            <ul data-bind="foreach: $root.episodes" class="episodeDDL" style="max-height:200px;overflow:auto;">
                <li data-bind="click: function () { $root.appdata.currentEpisode($data) }">
                    <a href="javascript:;"><i class="icon-lockTime"></i><small data-bind="    text: startTimeDisplay"></small></a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- ko template: { name: 'newsbucket' } -->
    <!-- /ko -->

</aside>
