﻿label
{
    background-color:white;
    width:100px !important;
}
.lnkbtn
{
    color:blue;
}
.lnkbtn:hover
{
    color:#f00 !important;
}
td
{
    padding:2px;
    text-align:center;
}
tr
{
    padding:2px;
}
input[type=checkbox]
{
    margin:2px;
}
input[type=text]
{
    margin:2px;
    width:100px!important;
}