﻿.wirteTickers
    {
         width: 100% !important; 
         max-height: 200px!important;
         height:initial !important;
         margin: 0 auto; 
    }

    .wirteTickers .innercont
    {
        width: 100%;
       padding: 5px 0px 0px 0px;
        margin: 0 0px;
    }

    .wirteTickers .newdtls
    {
        border-bottom: 1px solid #e7e9ee;
        padding: 0px 0px 22px;
    }

        .wirteTickers .newdtls img
        {
            float: right;
        }

        .wirteTickers .newdtls p
        {
            font-family: 'Jameel Noori Nastaleeq', 'Nafees Web Naskh';
            color: #282828;
            text-align: right;
            padding-right: 150px;
            font-size: 24px;
            line-height: 24px;
        }

        .wirteTickers .newdtls span
        {
            display: block;
            margin-top: 3px;
            font-family: Arial, Helvetica, sans-serif \9;
            color: #999999;
            text-align: right;
        }

            .wirteTickers .newdtls span > small
            {
                font-size: 11px;
                border-right: 1px solid #999;
                margin: 0 4px 0 0;
                padding-right: 8px;
            }

                .wirteTickers .newdtls span > small small
                {
                    background: #999;
                    color: #fff;
                    text-transform: uppercase;
                    width: 47px;
                    font-size: 8px;
                    height: 12px;
                    line-height: 12px;
                    display: inline-block;
                    margin-right: 5px;
                    text-align: center;
                }

                .wirteTickers .newdtls span > small.last
                {
                    border-right: 0px;
                    padding-right: 0;
                    margin-right: 1px;
                }

    .wirteTickers .prioritysec
    {
        float: right;
        padding: 28px 56px 0 0;
    }

        .wirteTickers .prioritysec ul
        {
        }

        .wirteTickers .prioritysec li
        {
            display: inline-block;
        }

    .wirteTickers .edtrsec
    {
        margin-right: -20px;
        max-height: 400px!important;
    }

        .wirteTickers .edtrsec
        {
            margin-bottom: 12px;
            padding-right: 20px;
        }
        .eachrow
        {
            margin-bottom: 8px;
            padding-right: 20px;
        }

        .wirteTickers .edtrsec .mCustomScrollBox,
        .wirteTickers .edtrsec .mCSB_container
        {
            padding-right: 0px;
        }

        .wirteTickers .edtrsec i
        {
            background: url('/content/images/ticker/sprite.png') no-repeat -81px -669px transparent;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            margin: auto;
        }

            .wirteTickers .edtrsec i.icon-tickradd
            {
            }

            .wirteTickers .edtrsec i.icon-tickrsub
            {
                background-position: -81px -704px;
                width: 20px;
                height: 2px;
            }

        .wirteTickers .edtrsec strong
        {
            float: right;
            width: 42px;
            height: 42px;
            position: relative;
            border-radius: 50px;
            border: 1px solid #3079ed;
            margin-left: 10px;
            cursor: pointer;
        }

        .wirteTickers .edtrsec input
        {
            width: 92%;
            box-sizing: border-box;
            border-radius: 3px;
            font-family: 'Jameel Noori Nastaleeq', 'Nafees Web Naskh';
            font-size: 20px;
            line-height: 20px;
            padding: 4px 10px;
            border: 1px solid #3079ed;
            color: #25384e;
            direction: rtl;
            margin-right: 0px;
            height: 44px;
        }

        .wirteTickers .edtrsec .eachrow.sub input, .xPop.wirteTickers .edtrsec .eachrow.sub strong
        {
            border-color: #c5ccda;
        }

        .wirteTickers .innercont .news-tickr{margin-left:0;margin-top:0;  width: 100%;}

        .btnBlue{  margin: 9px 0 0 0;}
        .tickerreportercontentSection {margin: 0 auto;}
        .boxShadow { box-shadow: 0 4px 8px #C0C0C0; height: 100%; max-height: 100%;}
        .mCSB_container.mCS_no_scrollbar{height:100%;}
        .videosection{width:100%;}
        .videosection .videoPlayer{width:100%;}


.tickerDropDown{position:relative;width: 200px;border:2px solid #e6e6e6;top:2px;height: 28px;background:#eff0f5;font-size:12px}
 .edtrsec.mCustomScrollbar  {float:left;width:100%;}

 