﻿<section class="home-view-graphic view"  >
    <span style="background:yellow; float:right; margin-right:5px; cursor:pointer" data-bind="rigthMenu" title="settings">Panel</span>
    <!-- ko if: typeof mcrUser!== 'undefined'-->
    <header>
      <!-- ko template:{name:'shared.mcrusers.head', data:mcrUser} -->
      <!-- /ko -->

      <!-- ko template:{name:'shared.mcrusers.story.sequence', data:mcrUser} -->
      <!-- /ko -->
    </header>
      <!-- ko template:{name:'shared.mcrusers.main.section'} -->
      <!-- /ko -->

      <!-- ko template:{name:'shared.mcrusers.footer'} -->
      <!-- /ko -->
      <!-- /ko -->

</section>