﻿<nav id="shell-left-panel" class="leftnav header view myNewsPanelHeader" style="display:none;">
    <ul class="mynews-nav-step1" data-bind="linearHover:{width1:'271px',width2:'50px'}, myNewsLeftNavHover">
        <li><a href="javascript:;" title="" data-bind="click: $root.groupNewsByFilter(1),activeElement:'active-grouping'"><i class="icon-time"></i><small>Time</small> <span></span></a>
            <ul data-bind="customScrollBar">
                <li><a href="javascript:;" title=""><small>00:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>01:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>02:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>03:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>04:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>05:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>06:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>07:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>08:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>09:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>10:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>11:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>12:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>13:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>14:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>15:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>16:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>17:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>18:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>19:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>20:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>21:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>22:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>23:00</small><span>5</span> </a></li>
                <li><a href="javascript:;" title=""><small>24:00</small><span>5</span> </a></li>
            </ul>
        </li>
        <li><a href="javascript:;" title="" data-bind="click: $root.groupNewsByFilter(2),activeElement:'active-grouping'"><i class="icon-date"></i><small>Date</small> <span></span></a>
            <ul data-bind="customScrollBar">
                  <!-- ko foreach: alldates -->
                <li><a href="javascript:void(0);" title="" data-bind="activeElement:'active-filter'"><small data-bind="click: $root.dateClick, html:date"></small><span data-bind="html:count"></span></a></li>
                 <!-- /ko -->
            </ul>
        </li>
        <li>
            <a href="javascript:;" title="" data-bind="click: $root.groupNewsByFilter(3), activeElement:'active-grouping'"><i class="icon-location"></i><small>Location</small> <span></span></a>
            <ul data-bind="customScrollBar">
                <!-- ko foreach: filters -->
                <li data-bind="if: (filterTypeId==7 && parentId>0  && newsIds().length>0), click: $root.selectedFiltereClick "><a href="javascript:void(0);" title="" data-bind="activeElement:'active-filter'"><small data-bind="html: name"></small><span data-bind="html: newsIds().length"></span></a></li>
                <!-- /ko -->
            </ul>
        </li>
        <li><a href="javascript:;" title="" data-bind="click: $root.groupNewsByFilter(4), activeElement:'active-grouping'" class="active-grouping"><i class="icon-category"></i><small>Category</small> <span></span></a>
            <ul data-bind="customScrollBar">
                <!-- ko foreach: filters -->
                <li data-bind="if: (filterTypeId==13 && newsIds().length>0), click: $root.selectedFiltereClick"><a href="javascript:void(0);" title="" data-bind="activeElement:'active-filter'"><small data-bind="html: name"></small><span data-bind="html: newsIds().length"></span></a></li>
                <!-- /ko -->
            </ul>
        </li>
    </ul>
</nav>
