﻿<a href="javascript:;" class="outerArrowLeft  reportNewsChannelReporter view"
    data-bind="css: $root.model.templatePaging.allPreviousItems().length >0? 'showForcely' : 'hideForcely',shellLeftArrowTrigger"></a>
<a href="javascript:;" class="outerArrowRight reportNewsChannelReporter view"
    data-bind="css: $root.model.templatePaging.allNextItems().length>0 ? 'showForcely' : 'hideForcely',shellRightArrowTrigger"></a>