﻿<nav class="newsNav clearfix header  view @PageData[0]">

    <ul class="navigationNews" data-bind="with: listHeader">
        <li class="newsActive first last">
            <a href="javascript:void(0)" title="" >
                @*data-bind="click: onHeadingClicked"*@
                <label data-bind="text: heading" style="cursor: pointer"></label>
                <span data-bind="html: count"></span>
            </a>

        </li>
    </ul>

    <ul class="newsCalender" data-bind="with: listHeader"> 
        <!-- ko if: isVisible -->
        
        <li>
            <input type="text" data-bind="value: searchText, valueUpdate: 'afterkeyup'" placeholder="Search..." />
            <a class="search" href="javascript:;"></a>
        </li>


        <!-- /ko -->
        

        <li>
            <!-- ko template: {name:'usercontrol.customcalender', data: calendar} -->
            <!-- /ko -->
        </li>

    </ul>
</nav>

