﻿@Html.Raw("<div class='latestCol "+@PageData[3]+" view "+ @PageData[0]+"' ><h2><i class='icon-politics'></i><small>"+@PageData[1]+"</small><a href='javascript:;' class='close' data-bind='closePanel'></a></h2><div data-bind='customScrollBar'><ul data-bind=\"template: {name:'my.news.panel', foreach: "+@PageData[2]+"}\" ></ul></div></div>")
