﻿<a href="javascript:;" class="outerArrowLeft  updateNewsLeftRight view"
    data-bind="css: router.currentHash() == '#/updatenews' && templatePaging.allPreviousItems().length >0? 'showForcely' : 'hideForcely',shellLeftArrowTrigger"></a>
<a href="javascript:;" class="outerArrowRight updateNewsLeftRight view"
    data-bind="css: router.currentHash() == '#/updatenews' && templatePaging.allNextItems().length>0 ? 'showForcely' : 'hideForcely',shellRightArrowTrigger"></a>

<div id="busyindicator"></div>
