﻿<nav class="leftnav view channelHomePanel">
    <ul class="nav-step1" style="height: 80px; width: 50px;" data-bind="linearHover:{width1:'182px',width2:'50px'},foreach: leftNav">
        <li><a href="javascript:;" title="" data-bind="click: $root.setGroupBy,css:{'active-filter': isSelected()}"><i data-bind="attr:{class: cssClass}"></i><small data-bind="text: name"></small>@* <span data-bind="text: count"></span>*@</a></li>
    </ul>
</nav>
