﻿<section class="newsList view channelHomePanel2">
    <section class="contentSection programs" data-bind="customScrollBar">
        <header class="clearfix">
            <h4 data-bind="text: listHeader.calendar.fromDate"></h4>
            <div class="searchBox" data-bind="with: pendingObject"><span data-bind="text:heading"></span><label data-bind="text:pendingCount"></label></div>
        </header>
        <!-- ko if : $root.message && $root.message().length > 0-->
        <span data-bind="text : $root.message"></span>
        <!-- /ko -->

        <!-- ko foreach: list -->
        <!-- ko template: {name:'shared.itembox',data:$data} -->
        <!-- /ko -->
        <!-- /ko -->

    </section>
</section>
