﻿<section id="channelreporter-reportnews-view" class="updateReport view reportNewsChannelReporter">
<a href="javascript:void(0);" class="arrowLeft" data-bind="click:$root.model.templatePaging.previousItem,visible:$root.model.templatePaging.currentIndex()>0"><i></i><span>Previous News</span></a>
 <div class="editingSection" data-bind="with:$root.model">
        <div class="heading" data-bind="with: templatePaging.currentItem">
            <label data-bind="text: channel().name "></label> - 
            <label data-bind="text: program().name "></label> -
            <label data-bind="text: fromHour "></label> 
          <a class="close" href="javascript:;" data-bind="click : $root.prevPage"></a>
          <div class="searchBox"><span>Total Pending Hours </span><label data-bind="text: $parent.pendingItems"></label></div>
        </div>
        <div class="leftSection " >
            <div style="background-color: black; position: absolute;font-size: 18px;color:white;width: 180px; text-align: center;  z-index: 1;">
                <span>Start:</span>
                <span data-bind="text : $root.StartTime"></span><br>
            </div>
            <div style="background-color: black; position: absolute;left: 62%;font-size: 18px;color:white;width: 180px; text-align: center;  z-index: 1;">
                <span>End:</span>
                <span data-bind="text : $root.EndTime"></span><br>
            </div>
           <!-- ko template: {name:'usercontrol.videoeditor', data:mediaEditor} -->
           <!-- /ko -->

          <div>
           <!-- ko template: {name:'news.add', data: $data} -->
           <!-- /ko -->
          </div>
        </div>
         <!-- ko template: {name:'usercontrol.newslisting', data: newsList()} -->
         <!-- /ko -->
     
      </div>
      <a href="javascript:void(0);" class="arrowRight" data-bind="click: $root.model.templatePaging.nextItem, visible:$root.model.templatePaging.currentIndex()<($root.model.templatePaging.list().length-1)" ><i></i><span>Next News</span></a>
</section>
