﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <title>VLC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        #playpause{
			float:left;
			margin: -12px 0 0 -50px;
			padding:0;
			width:auto;
			height:auto;
		}
		#dTime{
			float: right;
			display: block;
			color: #39393e;
			font-size: 22px;
			margin-top: -33px;
			margin-right: 20px;
		}
		.cTime {     
            background: #0e0a0ab3;
            color: white;
            margin-top: -24px;
            position: absolute;
            border-radius: 5px;
            padding: 0px 5px;
            font-size: 13px;
            margin-left: -60px;
			display: none;
        }


        #bar {
            width: 3px;
            height: 8px;
            background: #26222ae6;
			margin:0;
        }
		
		

		#midParnt{
		            width: 95%;
					height: 8px;
					background: red;
					margin-top: 17px;
					border-radius: 10px;
					cursor: pointer;
					margin-left: 1%;
					
		}
        #chld {
            margin: 15px;
            width: 89%;
            height: 8px;
            background: #787d87;
            margin-left: 1.5%;
        }

        #parnt {
            float: left;
            margin: 0;
            width: 99%;
            height: 32px;
            background: #d5d5d5;
        }
    </style>

</head>
<body>
    <embed id='vlc' name="plugin" src="#" type="video/mpeg" width="99%" height="90%" controls="false">
    <div id="parnt">
        <div id="chld">
            <div id="bar"></div>
            <span id="cTime" class="cTime"></span>
        </div>
        <span  id="dTime"></span>
    </div>

  
    <script>
        isplay = true;
        //vlc.input.rate = 1.0;
        var fstforward = false;
        var seek_time = 40000;
        var volume_number = 10;
        var From = 0;
        var TOs = 0;
        var vlc;
        var totalvideotime = 0;

        (function () {
            var url = window.location.href;
            var params = url.split('?');
            var allparams = params[1];
            var ttl_params = allparams.split("|");
            totalvideotime = parseInt(ttl_params[0]);
            vlc = document.getElementById('vlc');
            vlc.src = ttl_params[1];
        })();

        function timeUpdate() {
            setTimeout(function () {
                var barPos = vlc.input.position;
                var currTime = barPos * totalvideotime;
                currTime = toHHmmssff(currTime);
                $("#dTime").text(currTime);

                var cWid = $("#chld").width();
                var spaceBefore = $("#chld").offset().left;
                var mLeft = (barPos * cWid) + spaceBefore;
                $("#bar").offset({ left: mLeft });
                timeUpdate();
            }, 1000);
        };

        $("#chld").click(function (e) {
            var mPos = e.offsetX;
            
            var chWid = ($("#chld").width());
            var perc = (mPos / chWid);
            if (perc >= 0 && perc <= 1) {
                var cTim = perc;
                vlc.input.position = cTim;
            }
        });


        $("#chld").mousemove(function (e) {
            var mPos = e.offsetX;
            var check = Math.abs(e.pageX - mPos);

            var chWid = $("#chld").width();
            var perc = (mPos / chWid);

            var cTim = (perc * totalvideotime);
            if (cTim > -1 && cTim < (totalvideotime + 1) && check < 100) {
                cTim = toHHmmssff(cTim);
                $("#cTime").show();
                $("#cTime").text(cTim);
                $("#cTime").offset({ left: e.pageX - 10 });
            }


        });

        $("#chld").mouseout(function () {
            $("#cTime").hide();
        });

        function toHHmmssff(t) {
            return (new Date(t % 86400 * 1000)).toUTCString().replace(/.*(\d{2}):(\d{2}):(\d{2}).*/, "$2:$3");
        };


        $(document).keydown(function(e) {

            if (vlc && vlc.src && vlc.src.length > 0 && vlc.src.indexOf(".ts") != -1) {

                function onPause() {
                    vlc.playlist.togglePause();
                }

                function onPlay() {
                    vlc.playlist.play();
                }

                function onSeek_forward() {
                    if ((vlc.input.time + seek_time) < vlc.input.length) {
                        console.log("forw");
                        vlc.input.time = vlc.input.time + seek_time;
                    } else {
                        vlc.input.time = 0;
                    }

                }

                function onSeek_backward() {
                    if ((vlc.input.time - seek_time) >= 0) {
                        console.log("back");
                        vlc.input.time = vlc.input.time - seek_time;
                    } else {
                        vlc.input.time = 0
                    }
                }

                function fastForward() {
                    vlc.input.rate = 8.0
                    fstforward = true;
                }

                function fastRewind() {
                    vlc.input.rate = -8.0
                }

                function normalSpeed() {
                    vlc.input.rate = 1.0
                    fstforward = false;
                }

                function sendToNMS(data) {
                    var cTime = totalvideotime * data;
                    var val = { Time: cTime, Type: 1 };
                    //console.log(cTime);
                    window.parent.postMessage(JSON.stringify(val), "*");
                }
                // GENERAL PLAYER FUNCTIONS END

                if (e.keyCode == 39) { // right arrow
                    //onSeek_forward();
                    if (fstforward == true) {
                        normalSpeed();
                    }
                    else {
                        fastForward();
                    }
                } else if (e.keyCode == 37) { // left arrow
                    //onSeek_backward();
                    debugger
                    fastRewind();
                } else if (e.keyCode == 32) { // space
                    if (isplay == false) {
                        onPlay();
                        isplay = true;
                    } else if (isplay == true) {
                        onPause();
                        isplay = false;
                    }
                } else if (e.keyCode == 13) { // enter
                    onPause();
                    isplay = false;
                    if (From == 0) {
                        From = vlc.input.position;
                        sendToNMS(From);
                    } else {
                        TOs = vlc.input.position;
                        sendToNMS(TOs);
                    }
                }



            }
            


        });

        timeUpdate();
    </script>
</body>
</html>