﻿@*---------------Content Start-----------------*@

<div id="newsdetails-view" class="view">
    <section class="newsList1" data-bind="adjustHeight: true, customScrollBar: true">
        <section class="contentSection" style="min-height: 500px;" >

           <a href="javascript:;" class="arrowLeft" data-bind="click: prevNews,visible:currentIndex()>0"><i></i><span>Previous News</span></a>

            

            <div class="editingSection">
                <!-- ko template: {name: 'usercontrol.comments', data: thisNews} -->
                <!-- /ko -->
              <div class="leftSection" style="padding: 30px;" >
                <img id="canvasToThumb" data-bind="attr{src: newspaperurl}, newspapercropping:{coordinates: $root.coordinates, imageUrl: newspaperurl}" alt="*" />
             </div>

            </div>

                <div class="editingSection editingSectionVideo">
                <!-- ko template: {name: tmplName, data: thisNews} -->
                <!-- /ko -->
                </div>

              <div class="newsupdates">  
                <!-- ko foreach: thisNews().updates() -->
            
                    <div class="editingSection">
                
                        <!-- ko template: {name: 'news.updatesview', data: $data} -->
                        <!-- /ko -->
                    </div>
            
                <!-- /ko -->
              </div>

            
           

            <!-- ko template: { name: 'news.rightsection' , with: $root  } -->
            <!-- /ko -->


            <a href="javascript:;" class="arrowRight" data-bind="click: nextNews, visible: currentIndex()< totalLength()"><i></i><span>Next News</span></a>
        </section>
    </section>
</div>
