﻿  <div class="modal fade bs-example-modal-lg aboutUs"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content popUpBG">
             <div class="modal-header borderbottom">
                <button type="button" class="close" data-dismiss="modal"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-info-sign " aria-hidden="true"></span> About Us</h4>
            </div>
    
         <div class="modal-body popUpBG border-color aboutUsWH">
                <div class="panel-body pnlPop" data-bind="customScrollBar">
                <div class="aboutBox"></div>   BOLCG VERSION 1.0 !!!   
                </div>
           
            </div>
           <div class="modal-footer bordertop">
       <button type="button" class="btn" data-dismiss="modal" ><span class="glyphicon glyphicon-floppy-close" aria-hidden="true"></span> Close</button>
        </div>
       </div>
     </div>
   </div>  