﻿@* <ul class="nav navbar-nav btn-nav">
    <li class="dropdown smallcontrol">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </button>
    </li>
    <li class="dropdown smallcontrol">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </button>
    </li>
     <li class="dropdown" data-bind="click:function(){ playCompleteCurrentRundown(0)}" style="cursor:pointer">
        <img src="/Content/images/caspar/play.png" alt="Alternate Text" />
    </li>
    <li class="dropdown smallcontrol">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </button>
    </li>

    <li class="dropdown smallcontrol">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </button>
    </li>
</ul>*@