﻿<section class="casper-view clearfix view">
    <section class="sectionSequence" data-bind="adjustHeight: true, customScrollBar: true">
        <div class="proceedBtn prev" data-bind="buttonHover: true">
        </div>
        <div class="proceedBtn next" data-bind="buttonHover: true">
        </div>
        <div class="dustbin"><i class="icon-dustbin"></i></div>
        <header class="headQuen clearfix">
           <ul>
               <li style="float:left; margin-left:12px; display:inline"><a data-bind="click:function(){sendCasperCommand(e.CommandType.Play_Caspar)}" style="cursor:pointer">Play</a></li>
               <li style="display:inline; margin-left:12px"><span style="background:url(Content/images/common/bg-top-menu-hover.jpg) no-repeat 0px 0.5px"></span></li>
               <li style="display:inline;margin-left:12px"><a data-bind="click:function(){sendCasperCommand(e.CommandType.ClearGraphic_Caspar)}" style="cursor:pointer">ClearCurrentGrahpic</a></li>
                <li style="display:inline;margin-left:12px"><a data-bind="click:show" style="cursor:pointer">show</a></li>

               <li style="display:inline;margin-left:12px; float:right"><input type="text" placeholder="Enter Rundown Path" data-bind="value:runOrderPath" style="width: 250px;
height: 30px;
margin-top: 7px;
background-color:lightgray;
padding-left:7px;
margin-right:2px;
"></li>
               <li style="display:inline;margin-left:12px;float:right"><a data-bind="click:function(){sendCasperCommand(e.CommandType.LoadRunOrder_Caspar)}" style="cursor:pointer;">Load RunOrder</a></li>
                <li style="display:inline;margin-left:12px;float:right"><input type="checkbox" data-bind="checked: autoPlay, enable: autoLoad()" style="margin-top: 12px;
background-color:lightgray;
margin-right:2px;
" />AUTOPLAY </li>
               <li style="display:inline;margin-left:12px;float:right"><input type="checkbox" data-bind="checked: autoLoad" style="margin-top: 12px;
background-color:lightgray;
margin-right:2px;
" />AUTOLOAD </li>
           </ul>
        </header>

        <div id="trash" style="height: 100%; position: absolute; width: 3%; z-index: 1"></div>

        <!-- ko template: { name: "casper.story.list"} -->
        <!-- /ko -->
         
    </section>
   
</section>
