﻿ <div class="modal fade bs-example-modal-lg previewPopup"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
         <!-- ko if:previewItem()  -->
    <div class="modal-content popUpBG" data-bind="with:previewItem">
             <div class="modal-header borderbottom">
                <button type="button" class="close" data-dismiss="modal"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-eye-open " aria-hidden="true"></span> Preview</h4>
            </div>
         <img  data-bind="attr:{src:Thumb}" width="100%" height="650px"/>
          
       </div>
          <!--/ko -->

     </div>
   </div>  