﻿  <div class="modal fade bs-example-modal-lg ReportBug"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content popUpBG">
            <div class="modal-header borderbottom">

                <button type="button" class="close" data-dismiss="modal"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Report Bug</h4>
            </div>

        <div class="modal-body popUpBG panels border-color reportBugPanel" style="display:block" >
          
                <div class="panel-body pnlPop">
                 
                    <form class="form-inline">
                    <div class="form-group">
                          <label for="exampleInputName2">Name</label>
                          <input type="text" class="form-control ReportNameInput" data-bind="value:reportBugName, valueUpdate:'afterkeydown'" id="exampleInputName2" placeholder="Name here">
                    </div>
                    </form>
                    
                    <form class="form-inline">
                    <div class="form-group">
                          <label for="exampleInputName2">Email</label>
                          <input type="email" class="form-control ReportEmailInput" data-bind="value:reportBugEmail, valueUpdate:'afterkeydown'"  id="exampleInputEmail2" placeholder="Email here">
                    </div>
                    </form>
                    
                    <form class="form-inline">
                    <div class="form-group">
                          <label for="exampleInputName2">Contact</label>
                          <input  type="text" class="form-control ReportContactInput" data-bind="value:reportBugContact, valueUpdate:'afterkeydown'" id="exampleInputName4" placeholder="Contact here">
                    </div>
                    </form>
                    
                    <form class="form-inline">
                    <div class="form-group">
                          <label for="exampleInputName2">Detail</label>
                          <textarea class="form-control ReportDetailInput" data-bind="value:reportBugDetail, valueUpdate:'afterkeydown'" id="exampleInputName5" placeholder="Detail here"></textarea>
                    </div>
                    </form>
                        
                </div>
        
         </div>
		 <div class="modal-footer bordertop" >
                <button type="button" class="btn" data-target=".ReportBug" data-bind="reportBugHandler:{reportBugName:reportBugName,reportBugEmail:reportBugEmail,reportBugContact:reportBugContact,reportBugDetail:reportBugDetail}"> Submit</button>
                
            </div>
	    </div>
		 
          
        </div>
    </div>   
