﻿ <div class="modal fade bs-example-modal-lg settingsPopUp"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content popUpBG">
             <div class="modal-header borderbottom">

                <button type="button" class="close" data-dismiss="modal"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-wrench " aria-hidden="true"></span> Settings</h4>
            </div>
            <div class="navigation" id="nav_tabs2">
   <ul class="nav nav-tabs navigation border-color-tabs">
  <li  role="presentation" class="text-color item-color border-color li_tab333 lSettings active" data-bind="settingsTab"><a class="text-color tab3">ListeningSettings</a></li>
  <li  role="presentation" class="text-color item-color border-color li_tab444 cSettings" 
      data-bind="settingsTab"><a class="text-color template-tab">Connect</a></li>
   </ul>
    </div>
         <div class="modal-body popUpBG panels border-color ListenSetting">
                <div class="panel-body pnlPop" data-bind="customScrollBar">
                     <p><label for="inputEmail3" class=" control-label lblpopUP"> Listening settings</label></p><br />
                    <div role="form">
                          <div class="form-group">
                            <label for="exampleInputEmail1" class=" control-label lblpopUP"> MOS Id</label>
                            <input data-bind="value:mosId" type="email" class="form-control" id="exampleInputEmail11" placeholder="Enter Mos Id">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1" class=" control-label lblpopUP">MOS Port</label>
                            <input   data-bind="value:mosPort" type="text" class="form-control" id="exampleInputPassword11" placeholder="Enter Port">
                          </div>
                         
                  </div>
                    
                </div>
             <div class="modal-footer bordertop">
                <button data-bind="click:startListening" type="button" class="btn" ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
                
            </div>
            </div>
         <div class="modal-body popUpBG panels border-color connectSetting" >
                <div class="panel-body pnlPop" data-bind="customScrollBar">

                    <p><label for="inputEmail3" class=" control-label lblpopUP"> Connect to casper-server</label></p><br />
                    <div role="form">
                          <div class="form-group">
                            <label for="exampleInputEmail1" class=" control-label lblpopUP"> HostName</label>
                            <input data-bind="value:hostName" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter  HostName">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1" class=" control-label lblpopUP">Port</label>
                            <input  data-bind="value:hostPort" type="text" class="form-control" id="exampleInputPassword1" placeholder="Port">
                          </div>
                         
                  </div>

                </div>
             <div class="modal-footer bordertop">
                <button data-bind="click:connectCaspar" type="button" class="btn"  ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
                
            </div>
            </div>
            
        </div>
    </div>
</div>    