﻿
          <img src="/Content/images/caspar/minimize.png" data-bind="click:minimizeWindow" width="20px" height="20px" style="position:absolute; z-index:100; float:right; top: 16px; right: 8px;"/>
       <nav class="navbar navbar-inverse border-color" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" height="20" src="/Content/images/caspar/logo.jpg">
            </a>
        </div>
        
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                     @*<li data-bind="BrowseControl"><a>Browse</a></li>*@
                    <li data-bind="BrowseControlWall"><a>Browse</a></li>
                    <li><a href="#">Log On</a></li>
                    <li><a href="#">Log Off</a></li>
                    <li data-bind="click:exit"><a>Exit (Ctrl+E)</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li data-target = ".settingsPopUp" data-bind="settings"><a>Settings</a></li>
                    <li  data-target = ".router" data-bind="settings" data-toggle="dropdown"><a href="#" class="dropdown" role="button" aria-expanded="false"> Router</a></li>
                    <li data-target = ".ReportBug" data-bind="settings"><a>Report Bug</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li data-bind="click:toggleFullScreen"><a>Toggle Fullscreen <span>(Ctrl+F)</span></a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Library <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                     <li data-bind="click:refreshLibrary"><a>Refresh Library (Ctrl+R)</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                     <li data-target = ".aboutUs" data-bind="settings"><a >About BolCG </a></li>
                </ul>
            </li>
        </ul>
        <p class="navbar-text navbar-right">
            Logged in as <span class="navbar-link">
                <label class="white" data-bind="text:currentLoggedInUserName"></label></span>
            
        </p>

                <div class="navbar-text navbar-right" data-bind="click:clearAlerts">
            Alert <a  class="navbar-link">
                <span class="red" data-bind="text:alertCount,AlertDropdown">25</span></a>
                   <ul class="alertlist hide-alerts" data-bind="foreach:casperRundowns">
                        <li data-bind="text:Name,click:$root.currentSelectedRundown, css: { selected: isSelected() == true }"></li>
                   </ul>    
             </div>
        <div>
            <img class="serverConnection" style="cursor: pointer; float: right; margin-top: 10px; margin-right: 25px;" data-bind="attr{src: $root.serverStatus()? 'content/images/caspar/connect.png' : 'content/images/caspar/disconnect.png' },click:connectCaspar" />
            <span style="color: red; position: absolute; float: right; right: 210px; top: 25px;" data-bind="text:$root.notConnectedServer().length" class=" dropdown-toggle"
                  data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">00</span>
            <span style="color: greenyellow; position: absolute; float: right; right: 210px; top: 5px;"
                data-bind="text:$root.connectedServer().length">00</span>
             <ul class="dropdown-menu" style="position: absolute; float: right; right: 210px; top: 35px;width:50px;left: inherit;" data-bind="foreach: $root.notConnectedServer()">
            <li><a href="#" data-bind="text:{Name}"></a></li>
          </ul>
        </div>
        <img class="startListening" style="cursor:pointer; float:right; margin-top:10px; margin-right: 25px;" data-bind="attr{src: $root.listeningStatus()? 'content/images/caspar/listning.png' : 'content/images/caspar/notListning.png' },click:startListening"/>

        <label class="dumy"></label>
        <input type="File" id="ifile" style="width:0px; height:0px; visibility:hidden"/>
    </div>
</nav>