﻿<section id="production-view" class="container clearfix view" data-bind="adjustHeight: true, customScrollBar: {}">
    <section class="proSection clearfix">
        <div class="proceedBtn prev" data-bind="visible: (currentStep() < 3 && currentPendingStoryIndex() > 0), click: function () { navigateStory(false); }">
            <img src="~/content/images/producer/prevArrow.jpg" width="30" height="66">
            <a href="javascript:;">Previous Story</a>
        </div>
        <div class="proceedBtn next" data-bind="visible: (currentStep() < 3 && currentPendingStoryIndex() < pendingStoryList().length - 1), click: function () { navigateStory(true); }">
            <img src="~/content/images/producer/banner-arrow.jpg" width="30" height="66">
            <a href="javascript:;">Next Story</a>
        </div>

        <!-- ko template: {name: templates.story, data: currentStory().news} -->
        <!-- /ko -->

        <section class="production">
            <!-- ko template: {name: $root.templates.screenTemplateDesigner, data: $root.sdc} -->
            <!-- /ko -->
        </section>
    </section>
</section>
