﻿<section id="production-view" class="clearfix view" data-bind="adjustHeight: true, customScrollBar: {}" >
      <!-- ko template: {name:'usercontrol.leftpanel' , data: productionlp} -->
            <!-- /ko -->
    <section class="proSection clearfix">
        <div class="proceedBtn prev" title="Previous Story" data-bind="visible: isPreviousButtonVisible, click: function () { navigateStory(false); }">
            <img src="~/content/images/producer/prevArrow.jpg" width="30" height="66">
            <a href="javascript:;">Previous Story</a>
        </div>
        <div class="proceedBtn next" title="Next Story" data-bind="visible: isNextButtonVisible, click: function () { navigateStory(true); }">
            <img src="~/content/images/producer/banner-arrow.jpg" width="30" height="66">
            <a href="javascript:;">Next Story</a>
        </div>

        <header class="headQuen clearfix fiveitems">
            <!-- ko template: {name: templates.programSelectionAndInfo, data: programInfoControl} -->
            <!-- /ko -->
        </header>

        <section data-bind="visible: $root.currentStep() !== 3">
            <!-- ko template: {name: templates.story, data: currentStory().news} -->
            <!-- /ko -->
        </section>

        <section class="production" data-bind="css:{noBoxShadow: $root.currentStep() === 3}">
            <!-- ko template: {name: templates.programFlowDesigner, data: pdc } -->
            <!-- /ko -->

            <section class="reportedSec withsidebar" style="width: 100%;" data-bind="visible: isMediaSelectionVisible">
                <a href="javascript:;"><i class="icon icon-sec icon-check" data-bind="hoverStyle: 'active', click: toggleContentSelection"></i></a>

                <nav id="topicselection-filters-view" class="newsNav clearfix" data-bind="filterHover: $root.sourceFilterControl.isPopulated">
                    <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
                    <!-- /ko -->
                </nav>

                <!-- ko template: {name: $root.templates.relatedContent, data: $data.currentStory().news} -->
                <!-- /ko -->

                <!-- ko template: {name: $root.templates.guestSelection, data: $data} -->
                <!-- /ko -->

            </section>
        </section>

        <section data-bind="visible: $root.currentStep() === 3">
            <section class="tabsControl" data-bind="tabActive: true">
                <a href="javascript:;" class="active" data-bind="click: function () { $root.prc.activeTab('tab1'); }"  data-callit="storiesdiv"> <i class="icon-stories" ></i>Stories</a>
                <a href="javascript:;" data-bind="click: function () { $root.prc.activeTab('tab2'); }"><i class="icon-rundown"  data-callit="rundowndiv"></i>Rundown</a>

                <div class="previewbutton refreshbtn"  data-bind="css:btnAttribute().disabled ? 'disabled' :'',click: function (data,event) { $root.toggleProgramPreview(data, event, true,true) }">Refresh Preview</div>

                <div style="margin-right:0px;" class="previewbutton"  data-bind="css:btnAttribute().disabled ? 'disabled' :'', click: function (data,event) { $root.toggleProgramPreview(data, event, true,false) }">
                    <span data-bind="visible:btnAttribute().disabled"><img src="/content/images/producer/loading.gif" /></span>
                    <span data-bind="text:btnAttribute().text"></span>
                    
                </div>
                <input type="button" value="Back" data-bind="click: function() { $root.changeStep(false) }, visible: $root.appdata.currentUser().userType !== $root.e.UserType.HeadlineProducer">
            </section>
            <section class="proSection tabsmain">
                <!-- ko template: {name: $root.templates.programStoriesPreview, data: prc} -->
                <!-- /ko -->

                <!-- ko template: {name: $root.templates.programRundown, data: prc} -->
                <!-- /ko -->
            </section>
        </section>
    </section>
</section>
<section id="production-programpreview">
    <!-- ko template: {name: $root.templates.programPreview, data: ppc} -->
    <!-- /ko -->
</section>
