﻿<section id="topic-selection-view" class="clearfix view">
    <section class="topic-content" data-bind="adjustHeight: true, customScrollBar: true"  >
        <div class="proceedBtn prev" data-bind="buttonHover: true">
            <img src="~/content/images/producer/prevArrow.jpg" width="30" height="66" alt="*">
            <a data-bind="attr: { 'href': $root.hashes.home }">MOVE TO HOME</a>
        </div>
        <div class="proceedBtn next" data-bind="buttonHover: true">
            <img src="~/content/images/producer/banner-arrow.jpg" width="30" height="66" alt="*">
            <a data-bind="attr: { 'href': $root.hashes.sequence }">MOVE TO SEQUENCE</a>
        </div>

        <!-- ko template: {name: templates.story, data: currentNews()} -->
        <!-- /ko -->

        <section class="reportedSec" style="height:620px;">
            <a  id="checkedIcon" href="javascript:;" data-bind="visible:isSelectNewsVisible , click: selectNews"><i class="icon icon-sec" data-bind="css: { 'active': currentNews().isUsed() }"></i></a>
            <a id="homeIcon" data-bind="attr: { 'href': $root.hashes.home }"><i class="icon-home" data-bind="hoverStyle: 'active'"></i></a>

            <nav id="topicselection-filters-view" class="newsNav clearfix" data-bind="filterHover: $root.sourceFilterControl.isPopulated">
                <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
                <!-- /ko -->
            </nav>

            <!-- ko template: {name: $root.templates.relatedNews, data: $data} -->
            <!-- /ko -->

            <!-- ko template: {name: $root.templates.relatedContent, data: $data.currentNews()} -->
            <!-- /ko -->

            <!-- ko template: {name: $root.templates.guestSelection, data: $data} -->
            <!-- /ko -->

        </section>
    </section>
</section>
