@font-face {
  font-family: 'xicons';
  src:  url('fonts/xicons.eot?y2w7g8');
  src:  url('fonts/xicons.eot?y2w7g8#iefix') format('embedded-opentype'),
    url('fonts/xicons.ttf?y2w7g8') format('truetype'),
    url('fonts/xicons.woff?y2w7g8') format('woff'),
    url('fonts/xicons.svg?y2w7g8#xicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="x-"], [class*=" x-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-threecircles:before {
  content: "\e94c";
}
.x-openfiltermenu:before {
  content: "\e94b";
}
.x-feedback-count:before {
  content: "\e94a";
}
.x-dust-bin2:before {
  content: "\e93a";
}
.x-filter-court:before {
  content: "\e93b";
}
.x-filter-crime:before {
  content: "\e93c";
}
.x-filter-education:before {
  content: "\e93d";
}
.x-filter-entertainment:before {
  content: "\e93e";
}
.x-filter-food:before {
  content: "\e93f";
}
.x-filter-health:before {
  content: "\e940";
}
.x-filter-international:before {
  content: "\e941";
}
.x-filter-national:before {
  content: "\e942";
}
.x-filter-others:before {
  content: "\e943";
}
.x-filter-others-websites:before {
  content: "\e944";
}
.x-filter-science:before {
  content: "\e945";
}
.x-filter-travel:before {
  content: "\e946";
}
.x-filter-weather:before {
  content: "\e947";
}
.x-filter-filter:before {
  content: "\e948";
}
.x-filter-clear:before {
  content: "\e949";
}
.x-home:before {
  content: "\e939";
}
.x-arrowenter:before {
  content: "\e934";
}
.x-guest-videocam:before {
  content: "\e935";
}
.x-guest-dsng:before {
  content: "\e936";
}
.x-guest-studio:before {
  content: "\e937";
}
.x-floppy:before {
  content: "\e938";
}
.x-hr:before {
  content: "\e933";
}
.x-send:before {
  content: "\e930";
}
.x-mic:before {
  content: "\e931";
}
.x-keyboard:before {
  content: "\e932";
}
.x-message-pop:before {
  content: "\e92d";
}
.x-toggle-urdu:before {
  content: "\e92e";
}
.x-toggle-eng:before {
  content: "\e92f";
}
.x-exclaim:before {
  content: "\e92b";
}
.x-badal2:before {
  content: "\e92c";
}
.x-edit:before {
  content: "\e929";
}
.x-menucheck:before {
  content: "\e92a";
}
.x-filter-menu2:before {
  content: "\e928";
}
.x-redo:before {
  content: "\e927";
}
.x-kachray-ka-dabba:before {
  content: "\e926";
}
.x-lcd:before {
  content: "\e924";
}
.x-thumb2:before {
  content: "\e925";
}
.x-filter-menu:before {
  content: "\e923";
}
.x-filter-akhbar02:before {
  content: "\e90c";
}
.x-filter-akhbar01:before {
  content: "\e90d";
}
.x-filter-banda:before {
  content: "\e90e";
}
.x-filter-book:before {
  content: "\e90f";
}
.x-filter-chand:before {
  content: "\e910";
}
.x-filter-chat:before {
  content: "\e911";
}
.x-filter-check01:before {
  content: "\e912";
}
.x-filter-chessqueen:before {
  content: "\e913";
}
.x-filter-dobande:before {
  content: "\e914";
}
.x-filter-docs:before {
  content: "\e915";
}
.x-filter-dollar:before {
  content: "\e916";
}
.x-filter-exclaim:before {
  content: "\e917";
}
.x-filter-foji:before {
  content: "\e918";
}
.x-filter-football:before {
  content: "\e919";
}
.x-filter-fullscreen:before {
  content: "\e91a";
}
.x-filter-idea:before {
  content: "\e91b";
}
.x-filter-radio:before {
  content: "\e91c";
}
.x-filter-rss:before {
  content: "\e91d";
}
.x-filter-settings:before {
  content: "\e91e";
}
.x-filter-star:before {
  content: "\e91f";
}
.x-filter-tv:before {
  content: "\e920";
}
.x-filter-vid:before {
  content: "\e921";
}
.x-filter-worldmap:before {
  content: "\e922";
}
.x-bell2:before {
  content: "\e90b";
}
.x-add:before {
  content: "\e145";
}
.x-image-placeholder:before {
  content: "\e906";
}
.x-nav-clock:before {
  content: "\e907";
}
.x-nav-calander:before {
  content: "\e908";
}
.x-nav-menu:before {
  content: "\e909";
}
.x-nav-placment:before {
  content: "\e90a";
}
.x-calender:before {
  content: "\e903";
}
.x-thumb:before {
  content: "\e904";
}
.x-playbut:before {
  content: "\e905";
}
.x-badal:before {
  content: "\e902";
}
.x-bell:before {
  content: "\e901";
}
.x-check:before {
  content: "\e5ca";
}
.x-navigate_before:before {
  content: "\e408";
}
.x-navigate_next:before {
  content: "\e409";
}
.x-close:before {
  content: "\e5cd";
}
.x-expand_less:before {
  content: "\e5ce";
}
.x-expand_more:before {
  content: "\e5cf";
}
.x-magnify:before {
  content: "\e900";
}

