.tickerDv{
  position: relative;
  .tickerCol{
    float: left; width: 500px;     margin-bottom: 20px;
    > header{
      padding: 10px 0; background: #fff;
      h3{.para(@headColor3, 13px, 0 0 5px, 0px 20px); text-transform: uppercase;}
      p{.para(#a5b1bc, 9px, 0, 0 20px);}
    }
    > .scrollDv{
      height: calc(~'100vh - 140px'); background: #fff;
    }
    article{
      > h4{ background: #f3f3f5; .para(@headColor1, 13px, 0, 10px 20px); font-weight: bold; }
      >.md-button:not([disabled]){
        display: block; width: 100%; padding: 5px 8px;
        md-icon{.para(#a5b1bc, 6px, -3px 0 0px, 0 0px);}
      }
      .newsRow .ritButns .buts>label{vertical-align: sub;}
    }
  }
}