﻿<div id="content-viewer-main" data-bind="css:{'editorialPopup' : ($root.appdata.currentUser().userType === $root.e.UserType.editorial || $root.appdata.currentUser().userType === $root.e.UserType.Controlleroutput ||$root.appdata.currentUser().userType === $root.e.UserType.copyWriter)}">
    <div id="contentviewer-overlay" class="myNewsPanelHeader1 view overlay custompop" data-bind="css: isVisible() ? 'showForcely' : 'hideForcely'"></div>
    <div id="content-viewer" class="xPop myNewsPanelHeader1 view custompop resize producerpopup" data-bind="css: isVisible() ? 'showForcely disable-text-selection' : '1hideForcely disable-text-selection', navigator">
        <a href="javascript:void(0);" class="prev" data-bind="visible: hasPrevious, click: displayPrevious">
            <i></i>
        </a>
        <div class="imageSection" data-bind="css:{'xPopupImage' : $root.isProgramNewsFileClick()}">

            <div class="slideImg floatleft" data-bind="with: $root.currentSelectedResource(),visible:!$root.isProgramNewsFileClick()">
                <div class="leftContent">
                    <div class="leftNews">
                        <div class="newsImage">
                            <figure>
                                <img data-bind="attr:{src: $data.url}" width="133" height="75" alt="*" onerror="this.src = '/content/images/producer/noimage-133x75.jpg'">
                            </figure>
                        </div>
                        @*<h3 data-bind="attr:{title:slug}"><a data-bind="trimText: { text: slug, length: 80 }"></a></h3>
                            <ul class="storyDet">
                                <li><a title="Event Date" href="javascript:;" data-bind="text: resourceDateDisplay"></a></li>
                                <li class="last"><a title="Duration" href="javascript:;" data-bind="text: durationDisplay"></a></li>
                            </ul>*@
                    </div>
                    <div class="contentScare" data-bind="customScrollBar:{}">
                        <div data-bind="visiblie:isMetaWithData()">
                          <h3 data-bind="text:category" style="text-align: left;"></h3>
                          <h3 data-bind="text:location" style="text-align: left;"></h3>
                          <p data-bind="text:captions" style="text-align: left;"></p>
                        </div>
                        <p data-bind="html: description"></p>
                        <p class="tags">
                            <span class="tagsinput">
                                <span class="tagsloader" data-bind="visible:resourceMetas().length <= 0" style="text-align: center; float: left; margin-left: 50%;">
                                    <img class="imgNewLoaderProd" src="/Content/images/common/newloader.gif" style="display: block;">
                                </span>
                                <!-- ko foreach : resourceMetas -->
                                <span class="tag" data-bind="html:Value"></span>
                                <!-- /ko -->
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="slideImg floatleft" data-bind="with: $root.referenceNewsFile(),visible:$root.isProgramNewsFileClick()">
                <div class="leftContent refenceFileLeft">
                    <!-- ko template: { name: $root.templates.refenceNewsFileDetail, data:$root.referenceNewsFile() } -->
                    <!-- /ko -->
                </div>
            </div>


            <div class="slideImg" data-bind="with: $root.currentSelectedResource(),visible:!$root.isProgramNewsFileClick()" style="width: 68%;">
                <!-- ko if: $data.type === $root.e.ContentType.Image -->
                <img data-bind="attr:{src:$data.url}" onerror="this.src='/content/images/producer/noimage-730x380.jpg'" class="mainimg" style="width: initial !important;float:left;">
                <!-- /ko -->
                <!-- ko if: $data.type === $root.e.ContentType.Video -->
                <video class="videoPlayer" data-bind="attr:{src:$data.url}" controls="controls" autoplay="autoplay" style="width: initial !important;float:left;">
                    <source type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- /ko -->
                <!-- ko if: $data.type === $root.e.ContentType.Audio -->
                <audio controls="controls" data-bind="attr:{src:$data.url}" autoplay="autoplay" style="width: initial !important;float:left;">
                    <source type="audio/mp3">
                </audio>
                <!-- /ko -->

            </div>

            <div class="slideImg editorialNews" data-bind="with:$root.currentNewsFile() , visible:$root.isProgramNewsFileClick()" style="width: 68%;">
                <div class="newsHightLigh">
                    <span class="lblheading" style="font-family: 'Jameel Noori Nastaleeq', 'Nafees nastaleeq', 'Nafees Web Naskh', Helvetica, sans-serif;font-size: 21px;">: ٹائٹل</span>
                    <textarea id="_hightLight" maxlength="50" data-bind="value:$data.heighlighs(),valueUpdate: 'afterkeydown' ,onTextPaste:{'text':$data.heighlighs()} ,attr:{'disabled': $root.appdata.currentUser().userType === $root.e.UserType.editorial }" required type="text" class="newsTitleInput UrduCss"></textarea>
                </div>
                <div class="newsDescription">
                    <span style="font-family: 'Jameel Noori Nastaleeq', 'Nafees nastaleeq', 'Nafees Web Naskh', Helvetica, sans-serif;font-size: 21px;">: وائس اور</span>
                    <textarea id="_description" maxlength="700" data-bind="value:$data.descriptionText(),valueUpdate: 'afterkeydown',onTextPaste:{'text':$data.descriptionText()} , attr:{'disabled': $root.appdata.currentUser().userType === $root.e.UserType.editorial }" required type="text" class="newsTitleInput UrduCss"></textarea>
                </div>
 
                <div class="newsDescription" style="top: 60%;" data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.editorial">
                    <span style="font-family: 'Jameel Noori Nastaleeq', 'Nafees nastaleeq', 'Nafees Web Naskh', Helvetica, sans-serif;font-size: 21px;">: تبصرہ</span>
                    <textarea id="_ecomments" maxlength="700" data-bind="value:$data.editorialComments(),valueUpdate: 'afterkeydown'" required type="text" class="newsTitleInputComment"></textarea>
                </div>
 
                <input type="button" value="UPDATE" class="btnSubmit UrduCss" data-bind="visible:$root.appdata.currentUser().userType != $root.e.UserType.editorial , click:function(){$root.updateProgramRelatedNews($data)}">

                <input type="button" value="Reject" class="btnSubmit UrduCss" data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.editorial ,click:function(){$root.markReject($data)}" style="left:7%;background: #ff0021;height: 8%;width: 13%;padding: 0px 0px;">

                <input type="button" value="Approved" class="btnSubmit UrduCss" data-bind="visible:$root.appdata.currentUser().userType === $root.e.UserType.editorial, click:function(){$root.markApprove($data)}" style="left:22%;    background: #fc6068;    height: 8%;width: 13%;padding: 0px 0px;">

            </div>

            <!-- ko if:   $root.appdata.currentUser().userType === $root.e.UserType.editorial ||$root.appdata.currentUser().userType === $root.e.UserType.Controlleroutput ||$root.appdata.currentUser().userType === $root.e.UserType.copyWriter  -->
            <div class="editorialComments" style="overflow-y:scroll;overflow-x:hidden;">
                <!-- ko foreach : $root.editorialComments() -->
                <aside class="asideExplosives">
                    <section class="topAside clearfix">
                        <article class="refrenceNewsFile">
                            <p data-bind="text:$data.Comment" class="arttitle UrduCss" ></p>

                            <div class="storyDet2">
                                <div class="infoLine row1">
                                    <!-- ko if: $data.EditorName -->
                                    <p class="news_reportedBy" data-bind="text: $data.EditorName"></p>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <span data-bind="text: $data.CreationDateDisplay" class="storyDet2_dateCreate"></span>


                        </article>
                    </section>
                </aside>
                <!-- /ko -->
            </div>
            <!-- /ko -->

            <a href="javascript:void(0);" class="next" data-bind="visible: hasNext, click: displayNext">
                <i></i>
            </a>

            <div class="close" data-bind="click: $root.toggleVisibility,css{'popUpCloseIcon': 'true'}"></div>
        </div>
    </div>

    <div class="warning changePassword" style="display: none" data-bind="visible:$root.isPasswordChanged()">
        <div class="close" data-bind="click:$root.hidePasswordChange">
        </div>
        <div style="margin-left: 70px; margin-top: 20px;">
            <lable style="padding-right: 45px;">Current Password</lable>
            <input type="password" style="border: 1px solid gray; width: 250px; height: 20px; font-size: 20px;" data-bind="value:$root.currentPassword">
        </div>
        <div style="margin-left: 70px; margin-top: 20px;">
            <lable style="padding-right: 57px;">News Password</lable>
            <input type="password" style="border: 1px solid gray; width: 250px; height: 20px; font-size: 20px;" data-bind="value:$root.newPassword">
        </div>
        <div style="margin-left: 70px; margin-top: 20px;">
            <lable style="padding-right: 45px;">Confirm Password</lable>
            <input type="password" style="border: 1px solid gray; width: 250px; height: 20px; font-size: 20px;" data-bind="value:$root.confirmPassword">
        </div>
        <div style="/* position: absolute; */ margin-top: -109px; margin-left: -17px;">
            <input type="button" value="Submit" class="yes" data-bind="click:$root.submitPassword">
        </div>

    </div>

    <div data-bind="visible:$root.isMediaViewVisibleExplorer" id="iframePopup" class="mediaExplorer" style="position: absolute; width: 94%; height: 90%; top: 40px; z-index: 1000000; margin-left: 74px; display: none">
        <div class="close" data-bind="click:$root.closeMediaView">
        </div>
        <!-- ko if: document.location.href.indexOf('producer#') == -1 -->
        <iframe name='iframe1' id="childIframe1" data-bind="attr:{src:$root.iframeSrc().length> 0 ? ($root.iframeSrc() + '&'+(new Date()).getTime()) : ''}" style="height: 130%; width: 90%; left: 44px; z-index: 100000; top: 90px; margin-top: -3px; margin-left: 57px;"></iframe>
        <!-- /ko -->
    </div>
</div>
<style>
    .tickertexbox {
        border-radius: 2px;
        border: 1px solid #3079ed;
        width: 300px;
        text-align: right;
        font-family: 'Jameel Noori Nastaleeq', 'Nafees Web Naskh';
        font-weight: 400;
        color: #282828;
        font-size: 20px;
        line-height: 28px;
    }

    .warning {
        position: absolute;
        width: 400px;
        margin-left: 0px;
        height: 100px;
        left: 35%;
        top: 230px;
        z-index: 1000000;
        border: 1px solid gray;
        background: #fff;
        height: 120px;
    }
</style>
