﻿<section id="reporter-home" class="tickerspage main-content view tabSec">
    <section class="boxShadow sectionNews tickersApproved inqueue">
        <div style="float: left; margin: 0px 0 0px 10px; width: 100%; display: block;">
            <div class="edtrsec" style="margin-bottom: 26px;">
                <div class="eachrow">
                    <select class="tickerDropDown" data-bind="optionsCaption:'...Select Channel ...', options:$root.channels, optionsText:'name',value:$root.currentChannel,optionsValue:'id'"></select>
                </div>
            </div>
            <div>
                <div class="videosection">
                    <img class="ImageViewer" data-bind="attr:{  src: currentTickerImageNext().tickerImageUrl }" style="width: 420px;" />
                    <img class="ImageViewer" data-bind="attr:{  src: currentTickerImage().tickerImageUrl }" style="width: 420px;" />
                    <img class="ImageViewer" data-bind="attr:{  src: currentTickerImagePrev().tickerImageUrl }" style="width: 420px;" />

                </div>

                <div class="edtrsec" style="float: left; width: 100%; margin-top: 20px; margin-bottom: 10px;">
                    <div style="float: left; overflow: hidden; margin: 0 auto; margin-left: 45%;">
                       @* <button class="ImageViewer btnBlue" style="float: left; margin-left: 0px;" data-bind="click:function(){$root.navigateTickerImage(true)}">Prev</button>*@
                        <button class="ImageViewer btnBlue" style="float: left; margin-left: 10px;" data-bind="click:function(){$root.navigateTickerImage(false)}">Next</button>

                    </div>
                </div>
            </div>
        </div>

        <div style="float: left; margin: 0px 0 0px 10px; width: 100%; display: block;">
            <div class="edtrsec" style="margin-bottom: 0px;">
                <div class="eachrow" style="width: 90%; display: block; overflow: hidden;">
                    <select class="tickerDropDown" data-bind="optionsCaption:'...Select TickerType ...', options:$root.tickerTypes, optionsText:'name',value:$root.trc.currentTicker().tickerTypeId,optionsValue:'id'"></select>
                    <select class="tickerDropDown" data-bind="optionsCaption:'...Select Category ...', options:$root.categories, optionsText:'name',value:$root.trc.currentTicker().categoryId,optionsValue:'categoryId'"></select>
                    <div data-bind="click:$root.insertTicker" style="float: right;"><a href="javascript:;" class="btnBlue">Submit</a></div>
                </div>
            </div>
            <div class=" wirteTickers disable-text-selection">
                <div class="innercont" style="">
                    <div class="news-tickr">
                        <div class="edtrsec">
                            <div class="eachrow" data-bind="tickerReporterWriter:true">
                                <input id="group_name" maxlength="90" type="text" placeholder="گروپ  کا  نام" autofocus data-bind="updateElementValue: {callBack: {setGroupName: $root.trc.setGroupName, getSuggestion: $root.getTickerSuggestions}, isReset: $root.trc.isReset}" />
                            </div>
                            <ul data-bind="visible: $root.trc.groupSuggestionList().length > 0, foreach: $root.trc.groupSuggestionList" style="z-index: 1999; position: absolute; width: 85%; cursor: pointer; outline-width: 20px; border: 1px solid;">
                                <li style="width: 100%; height: 35px; background-color: #fff; color: black; direction: rtl; text-align: right; border-bottom: 1px solid grey;" data-bind="click: function(data) { $root.setSuggestionText($data) }">
                                    <span data-bind="text: groupName" style="margin-right: 10px; font-family: 'Jameel Noori Nastaleeq'; font-size: 20px;"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko template: {name: templates.tickerReporter, data: $root.trc} -->
            <!-- /ko -->
        </div>

    </section>
</section>
