﻿<section id="controller-view-output" data-mainsection="true" class="main-content view">

    <!-- ko template: {name: $root.templates.contextMenu} -->
    <!-- /ko -->


    <!-- ko  if: $root.appdata.currentUser().userType == $root.e.UserType.controllerInput  || $root.appdata.currentUser().userType == $root.e.UserType.Controlleroutput -->
    <nav class="newsNav clearfix main-navsec" data-bind="filterHover: sourceFilterControl.isPopulated">
        <!-- ko template: {name: $root.templates.sourceFilter, data: $root.sourceFilterControl} -->
        <!-- /ko -->
        <a href="javascript:;" title="" class="btnBlue" data-bind="click:$root.resetFilters">Clear</a>
        <img class="pollingBar" data-bind="visible:$root.appdata.isFilterPollingClick()" src="/Content/images/common/newloader.gif">

        <!-- ko template: {name: $root.templates.calendarControl, data: $root.calendarControl} -->
        <!-- /ko -->

        <div class="searchBox">
            <div class="form">
                <input type="text" data-bind="value: $root.searchKeywords, valueUpdate: 'afterkeydown'">
                <input type="submit">
            </div>
        </div>
    </nav>
    <!-- /ko -->

    <nav class="nmsFolderCategoryClass clearfix main-navsec foldersCategoryCss hdng">
        <ul class="parentUl">
            <li class="freshNewsWindow newsplacementWindow" style="border-bottom-color: #9cce9b;">Fresh News</li>
            <li class="freshNewsWindow newsplacementWindow" style="border-bottom-color: #ed30c4;display:none;" id="newsDetailsLableIDd">NewsFile Detail</li>

            <!-- ko foreach: {data:$root.appdata.foldersList()} -->
            <li class="freshNewsWindow newsplacementWindow" data-bind="attr:{'Id':$data.FolderId}" style="height: 24px;">
                

                <span class="programInterval" data-bind="attr:{'Id' : 'interval' + $data.FolderId }"></span>

                <span  class="spnFolderName" data-bind="text:$data.FolderName"></span>
                <a href="javascript:;" title="" class="btnBroadCast" data-bind="click:function(){$root.printProgram($data)}">Print</a>
                <a href="javascript:;" title="" class="btnBroadCast" data-bind="click:function(){$root.ReportNewsAgainstProgram($data)}">Add news</a>
               @* <a href="javascript:;" title="" class="btnBroadCast" data-bind="click:function(){$root.sendToBroadCast($data)}">Send To BroadCast</a>*@
            </li>
            <!-- /ko -->

        </ul>
    </nav>

    <nav style="display: none;">
        <ul style="display:none;">
            <!-- ko  if: $root.newsFilesList -->
            <!-- ko foreach: {data:$root.newsFilesList()} -->
            <li></li>
            <!-- /ko -->
            <!-- /ko -->
        </ul>

    </nav>

    <nav class="nmsWindowCss clearfix main-navsec foldersCategoryCss controllerOutputCss">
        <ul class="parentUl" style="height:97%;border-right: 1px solid #b5a9a9;border-bottom: 1px solid #b5a9a9;overflow-x: hidden;">
            <li class="freshNewsWindow newsplacementWindow hideVoiceOvernTitle">
                <div data-bind="customScrollBar: { callback: $root.loadNextPage, onTotalScrollOffset: 100 }" style="height: inherit !important;">
                    <!-- ko foreach: {data:$root.freshNewsFilesListOutput()} -->
                    <!-- ko template: { name: $root.templates.newsfileView, data:$data } -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </li>

            <li class="freshNewsWindow newsplacementWindow controllerouputDetailViewCss" style="height: inherit !important;display:none;overflow-x: hidden;" id="newsDetailsViewIDd">
                <!-- ko  if: $root.appdata.selectedNewsFile() -->
                <!-- ko template: { name: $root.templates.newsfileDetail, data:$root.appdata.selectedNewsFile() } -->
                <!-- /ko -->
                <!-- /ko -->
            </li>

            <!-- ko foreach: {data:$root.genericNewsFilesList()} -->

            <li class="freshNewsWindow newsplacementWindow scrollDiv win2 hide_newsInfo_source" style="height: inherit !important;overflow-x: hidden;" data-bind="attr:{'Id':$index()},sortableProgramNewsList: { stories: $data, callback: $root.arrangeNewsFilesofProgram}">
                <!-- ko foreach: {data:$data} -->

                <!-- ko  if: !$data.isDeleted() -->
                <!-- ko template: { name: $root.templates.newsfileView, data:$data } -->
                <!-- /ko -->
                <!-- /ko -->

                <!-- /ko -->

            </li>
            <!-- /ko -->
        </ul>
    </nav>
</section>