﻿.videoPlayer
{
    width: 100%;
    height: 100%;
}


/*Video player--------------------------------------------------------------------*/
button
{
    background: rgba(0,0,0,.5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}


.video-controls
{
    position: absolute;
    z-index: 1;
    margin-top: -80px;
    width: 100%;
}

    .video-controls button
    {
        border: 0;
        float: left;
    }

        .video-controls button.play
        {
            background: url(/Content/images/btn-play.png) no-repeat;
            width: 50px;
            height: 60px;
            margin-left: 35px;
        }
		.video-controls button.prev{
		    width: 50px;
            height: 48px;
            position: absolute;
            top: 20%;
            background: url(/Content/images/btn-prev.png) no-repeat;
			}
			
			.video-controls button.next{
			width: 50px;
            height: 48px;
            position: absolute;
			margin-left: 84px;
			top:16%;
			background: url(/Content/images/btn-next.png) no-repeat;
			}
			
			.clipvideo{
			top:80%;
			position:absolute;
			margin-left: 130px;
			color: #bfbfbf;
			border-radius: 2px;
			}

			.showpreview{
			top:80%;
			position:absolute;
			margin-left: 130px;
			color: #bfbfbf;
			border-radius: 2px;
			}

    .video-controls .volume-bar
    {
        width:100px;
		background: none;
        position: absolute;
        right: 40px;
        top: -30px;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        display: block;
    }

    .video-controls .bar
    {
        left: 130px;
        top: 21px;
        position: relative;
        border-radius: 3px;
        height: 20px;
        background: rgba(255,255,255,0.32);
        border: 1px solid #b7b5b2;
        width: 79%;
    }

        .video-controls .bar .progressbar
        {
            z-index: 1;
            position: absolute;
            background-color: #B0711E;
		  
            /*background: url(/Content/images/btn-progress.png) no-repeat right top;*/
            height: 90%;
            top: 1px;
			opacity: 0.8;
			/*margin-top: -7px;*/
        }
		

    .video-controls .myDivClass
    {
        background: #3a7adf;
        height: 21px;
        border-radius: 3px;
        position: absolute;
        top: -1px;
    }

        .video-controls .myDivClass:before, .video-controls .myDivClass:after
        {
            background: url(../Content/images/sprite.png) no-repeat -365px -144px;
            position: absolute;
            bottom: -10px;
            content: '';
            left: -6px;
            width: 6px;
            height: 10px;
        }

        .video-controls .myDivClass:after
        {
            left: auto;
            right: -6px;
            background-position: -372px -144px;
        }

    .video-controls .accept
    {
        width: 18px;
        height: 17px;
        background: #4c8cf8;
        border: 1px solid #317aed;
        border-radius: 2px;
        position: absolute;
        right: 75px;
        display: block;
    }

  
	
	.video-controls .vol-icon
	{ 
		background: none;
        position: absolute;
        right: 40px;
        display: block;
		padding-right: 150px;
	}

    .video-controls .timer
    {
        background-color: rgba(0,0,0,0.5);
        font-size: 11px;
        color: #bfbfbf;
        padding: 4px;
        border-radius: 2px;
        position: absolute;
        right: 59px;
        bottom: -12px;
    }

/* resizable */

.ui-dialog .ui-resizable-se
{
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}

ui-resizable
{
    position: relative;
}

.ui-resizable-handle
{
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle
{
    display: none;
}

.ui-resizable-n
{
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s
{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e
{
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w
{
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se
{
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw
{
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw
{
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
/* Media Section */

.processed {
color:green ;
}

.ui-autocomplete li a.focus {
text-decoration: none;
color: #999999;
background: #d3d7dc;
}

.one {
    border-style: solid;
    border-width: 2px;
	color:#B0711E;
}

.