﻿<div class=" modal fade bs-example-modal-lg AddNewRunDownPopUp"
    data-backdrop="static" 
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content popUpBG">
            <div class="modal-header borderbottom">
                <button type="button" class="close" data-dismiss="modal"><span class="btnclose" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title myModalLabel"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>Add New Rundown</h4>
            </div>
        <div class="modal-body popUpBG panels border-color reportBugPanel" style="display:block" >
                <div class="panel-body pnlPop" data-bind="with:RunDownToInsert , adjustHeight: true, customScrollBar: { } ">
                    
             <ul class="nav navbar-nav" style="margin-left: 780px;">
                                <li class="">
               <a href="#" class="dropdown-toggle dropdownLanguage drptop allignRight" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">ENGLISH<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" style="left: -54px; top: 54px;">
                            <li><a class="SelectUrdu" data-bind="ChangelanguagePopUp:{des:'.txtEditor',src:'.dropdownLanguage',selectedLanguage:selectedLanguage}">URDU</a></li>
                            <li><a class="SelectEnglish" data-bind="ChangelanguagePopUp:{des:'.txtEditor',src:'.dropdownLanguage',selectedLanguage:selectedLanguage}">ENGLISH</a></li>
                                    </ul>
                                </li>
                            </ul>
                    <form class="form-inline">
                    <div class="form-group">
                        <input type="text"  data-bind="value:Slug" class="form-control txtEditor"  id="exampleInputName2" placeholder="Enter Rundown Name">
                    </div>
                    </form>
                    <img src="/Content/images/teleprompter/plus.png" width:"10" height:"10" data-bind="click:function(){$root.addNewStory($data)},PrompterDefaultLanguage:{selectedLanguage:selectedLanguage}" style="cursor:pointer"/>
                     <!--ko foreach:Stories -->
                 <div class="story">
                     <img src="/Content/images/teleprompter/remove.png" width:"10" height:"10" data-bind="click:function(){$root.removeStory($data)}" style="cursor:pointer"/>
                      <form class="form-inline">
                    <div class="form-group">
                        <input type="text" data-bind="value:Slug" class="form-control txtEditor"  id="exampleInputName21" placeholder="Enter Story Name">
                    </div>
                    </form>
                     <img src="/Content/images/teleprompter/plus.png" width:"10" height:"10" data-bind="click:function(){$root.addNewStoryItem($data)},PrompterDefaultLanguage{selectedLanguage:selectedLanguage}" style="cursor:pointer"/>
                     <!--ko foreach:StoryItems -->
                     <img src="/Content/images/teleprompter/remove.png" width:"10" height:"10" data-bind="click:function(){$root.removeStoryItem($data)}" style="cursor:pointer"/><br />
                    <form class="form-inline">
                    <div class="form-group">
                    <input type="text" data-bind="value:Instructions" class="form-control txtEditor"  id="exampleInputName212" placeholder="Enter Story Instructions ">
                    </div>
                    </form>
                      <form class="form-inline">
                    <div class="form-group">
                     
                    <textarea  class="form-control txtEditor" placeholder="Enter Story Detail" data-bind="value:Detail"></textarea>
                    </div>
                    </form>
                     <div class="storyItem"  style="width:150px; height:30px; margin-left:60px"><br />
                   
                     </div>       
                     <!--/ko-->
                 </div><br />
              <!--/ko-->
                </div>
         </div>
		 <div class="modal-footer bordertop" >
              <button type="button" class="btn" data-bind="click:insertRundown"> Submit</button>
                
            </div>
	    </div> 
        </div>
    </div>  