﻿<div style="background: #eeeeee"><p style="height:30px;"><span style="float:left;padding: 12px;">Copyright © 2015, Axact, All rights reserved.</span>
<span style="float:right"> <a title="Axact Media Solution" class="logo">
               <img src="/content/images/producer/logo.png" width="131" height="100%" alt="*"></a></span></p> </div>