﻿<section class="teleprompter-view clearfix view">
    <section class="sectionSequence" data-bind="adjustHeight: true, customScrollBar: true">
        <div class="proceedBtn prev" data-bind="buttonHover: true">
        </div>
        <div class="proceedBtn next" data-bind="buttonHover: true">
        </div>
        <div class="dustbin"><i class="icon-dustbin"></i></div>
        <header class="headQuen clearfix">
           <ul>
               <li style="float:left; margin-left:12px; display:inline"><a data-bind="click:function(){sendCommand(e.CommandType.Play_Prompter)}" style="cursor:pointer">Play</a></li>
               <li style="display:inline;margin-left:12px" class="startedListening"><a style="margin-top: 12px;
background-color:lightgray;
margin-right:2px;
" ></a></li>
               <li style="display:inline;margin-left:12px"><span style="background:url(Content/images/common/bg-top-menu-hover.jpg)no-repeat"></span></li>
               <li style="display:inline;margin-left:12px"><a data-bind="click:function(){sendCommand(e.CommandType.StopListening_Prompter)}" style="cursor:pointer">StopListening</a></li>
               <li style="display:inline;margin-left:12px"><span style="background:url(Content/images/common/bg-top-menu-hover.jpg)no-repeat"></span></li>
               <li style="display:inline;margin-left:12px"><a data-bind="click:function(){sendCommand(e.CommandType.PromptON_Prompter)}" style="cursor:pointer">Prompt ON</a></li>
               <li style="display:inline;margin-left:12px"><span style="background:url(Content/images/common/bg-top-menu-hover.jpg)no-repeat"></span></li>
               <li style="display:inline;margin-left:12px"><a data-bind="click:function(){sendCommand(e.CommandType.PromptOFF_Prompter)}" style="cursor:pointer">Prompt OFF</a></li>
               <li style="display:inline;margin-left:12px"><span style="background:url(Content/images/common/bg-top-menu-hover.jpg)no-repeat"></span></li>
               <li style="display:inline;margin-left:12px"><a data-bind="click:function(){sendCommand(e.CommandType.FlipText_Prompter)}" style="cursor:pointer">Flip Text</a></li>

               <li style="display:inline;margin-left:40px;float:right; margin-top:15px">
                  <input type="text" placeholder="select font" data-bind="value:dropDownTextBox" style="position: absolute; width: 121px;z-index: 1019;margin-top: 0px;height: 25px;background: white;"/>
                <select style="height:25px" data-bind="options: FontSizes,
                       optionsText: FontSizes[i],
                       value: selectedFontSize,
                       optionsCaption: 'ChooseFontSize...'"></select>     
            </li>
               <li style="display:inline;margin-left:12px"><span style="background:url(Content/images/common/bg-top-menu-hover.jpg)no-repeat"></span>
            </li>

            <li style="display:inline;margin-left:40px;float:right; margin-top:15px">
                 
                    <select style="height:25px" data-bind="options: FontStyles,
                optionsText: 'name',
                value: selectedFontStyle,
                optionsCaption: 'ChooseFontStyle...'"></select>
            </li>
           
            <li style="display:inline;float:right; margin-top:15px">
                   <span data-bind="click:addProfile" style="cursor:pointer">create profile</span>
            </li>
               
               <li style="display:inline;margin-left:12px;float:right"><input type="checkbox" data-bind="checked: autoLoad" style="margin-top: 12px;
background-color:lightgray;
margin-right:2px;
" />AUTOLOAD </li>
             
             <li style="display:inline;margin-left:40px;float:right; margin-top:15px">
                 
                    <select style="height:25px" data-bind="options: profiles,
                optionsText: 'name',
                value: selectedProfile,
                optionsCaption: 'ChooseProfile...'"></select>
            </li>




           </ul>
           

        </header>

        <div id="trash" style="height: 100%; position: absolute; width: 3%; z-index: 1"></div>

        <!-- ko template: { name: "teleprompter.story.list"} -->
        <!-- /ko -->
         
    </section>
   
</section>