﻿<section class="teleprompter-view clearfix view">
        <!-- ko template: { name: "teleprompter.story.list"} -->
        <!-- /ko -->
</section>


<div class="teleprompter-view addNewRundownPanel" id="addNewRundownPanel"  style="display:none !important; border:3px solid black; top:100px; left:130px; position:absolute; z-index:10; background-color:gray; width:80%; height:80%; overflow:auto ">
      <span data-bind="AddNewRunDown" class="closeAddNewRundownPanel" style="float:right; z-index:112; width:10px; height:10px; cursor:pointer">X</span>
         <div data-bind="with:RunDownToInsert">
         <div class="NewRundown" style="margin-left:50px; margin-top:20px; padding:15px" >
            
             <input type="text" data-bind="value:Slug"   placeholder="Enter Runorder name" style="width:150px; height:30px " /><br />
             <br />
             <span style="cursor:pointer" class="addStory" data-bind="click:function(){$root.addNewStory($data)}">addStory</span><br />
              <!--ko foreach:Stories -->
                 <div class="story">
                     <span data-bind="click:function(){$root.removeStory($data)}" style="cursor:pointer">removeStory</span><br />
                     <input type="text" data-bind="value:Slug"  placeholder="story slug" style="width:150px; height:50px "/><br />
            <span class="addItem" style="cursor:pointer; width:20px; height:20px" data-bind="click:function(){$root.addNewStoryItem($data)};">addItem</span>
                     <!--ko foreach:StoryItems -->
                     <span data-bind="click:function(){$root.removeStoryItem($data)}" style="cursor:pointer">removeItem</span><br />
                     <div class="storyItem" id="1s1"   style="width:150px; height:30px; margin-left:60px"><br />
                     <input type="text"  data-bind="value:Slug" placeholder="story slug" style="width:150px; height:30px "/><br />
               <input type="text"  data-bind="value:Instructions" placeholder="story instruction" style="width:150px; height:50px "/><br />
               <textarea data-bind="value:Detail" placeholder="Enter Detail" style="width:150px; height:30px "></textarea> <br />
                     </div>       <br /> <br /> <br /><br /><br /><br />
                     <!--/ko-->
                 </div><br /><br />
              <!--/ko-->
          </div>
         <button data-bind="click:insertRundown" style="float:right">Save</button>
         </div>
     </div>