﻿ <div class=" panel panel-default left-panel" style="border-right: 3px solid #B0711E !important;">

        <div class="divRO" data-bind="adjustHeight: true, customScrollBar: { }" style="max-height: 560px;">
            <div class="panel-heading">
                <h3 class="panel-title">RunOrders</h3>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Rundowns" data-bind="value:searchText,valueUpdate:'afterkeydown'">
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <!--ko foreach:$root.filterRunOrders-->
                    <li class="list-group-item" style="cursor: pointer" data-bind="attr:{roId:id},text:slug,click:$root.addRunOrder"></li>
                    <!--/ko-->
                </ul>
            </div>
        </div>
        <div class="divSettings" data-bind="controllerDropdown,adjustHeight: true, customScrollBar: { }" style="max-height: 560px; display:none" >
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
                <div class="set first">
                    <h3 style="float: left" class="settingHeading">Listening settings:</h3>
                    <form class="form-inline">
                        <div class="form-group">
                            
                            <input type="text" data-bind="value:mosId().value" class="form-control ReportNameInput" placeholder="MOS Id">
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            
                            <input type="text" data-bind="value:mosPort().value" class="form-control ReportNameInput" placeholder="MOS Port">
                        </div>
                    </form>
                    <input class="btn" type="button" data-bind="click:saveSettings" value="Save" />
                </div>
                
                <div class="set">
                    <h3 style="float: left" class="settingHeading">Tolerance (minutes):</h3>
                    <form class="form-inline">
                        <div class="form-group">
                            
      <input type="text"  data-bind="value:tolerance().value" placeholder="Tolerance" class="form-control ReportNameInput" />
                        </div>
                    </form>
                    <input class="btn" type="button" data-bind="click:function(){sendCommand(e.CommandType.Tolerance_Prompter)}" value="Save" />
                </div>
                <div class="set1">
                    <h3 style="float: left" class="settingHeading">Thread Settings:</h3>
                    <form class="form-inline">
                        <div class="form-group">
                            
                            <input type="text" data-bind="value:threadDelay().value" class="form-control ReportNameInput" placeholder="AutoCheck(minutes)">
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            
                            <input type="text" data-bind="value:deletionSpanTimeSpan().value" class="form-control ReportNameInput" placeholder="AutoDelete(Hours)">
                        </div>
                    </form>
                    <input class="btn" data-bind="attr:{value:cleanUpBtnText},click:cleanUp" type="button" value="Save" />
                </div>
                <div class="set1">
                    <h3 style="float: left" class="settingHeading">Controller Configuration:</h3>
                    
                    <div data-bind="visible:mappingUiBoxFlag()">
                        
                        <select id="pref1select" class="preferenceSelect" style="float: right; border-radius: 4px; padding: 4px; width: 100%; height: 28px; margin-left: 5px; background-color: lightgray;"
                            data-bind="options: availableActions,
                       optionsText: availableActions[i],
                       value: firstSelectedAction,
                       optionsCaption: 'Select Action..'">
                        </select><br />
                        <br />
                        

                        
                        <select id="pref2select" class="preferenceSelect"  style="float: right; border-radius: 4px; padding: 4px; width: 100%; height: 28px; margin-left: 5px; background-color: lightgray;"
                            data-bind="options: availableActions,
                       optionsText: availableActions[i],
                       value: secondSelectedAction,
                       optionsCaption: 'Select Action..'">
                        </select><br />
                        <br />
                        
                        
                        <select id="pref3select" class="preferenceSelect"  style="float: right; border-radius: 4px; padding: 4px; width: 100%; height: 28px; margin-left: 5px; background-color: lightgray;"
                            data-bind="options: availableActions,
                       optionsText: availableActions[i],
                       value: thirdSelectedAction,
                       optionsCaption: 'Select Action..'">
                        </select><br />
                        <br />
                        
                    </div>
                    <input class="btn" type="button" data-bind="attr:{value:mappingBtnText},click:onMappingMode" value="Save" />
                </div>
            </div>
        </div>
    </div>