﻿ <div class=" panel panel-default rundown-panel">
        <div class="panel-heading">
            <h3 class="panel-title" data-bind="text:currentRunOrder().slug">RundownName</h3>
        </div>
        <div data-bind="adjustHeight: true, customScrollBar: { }" style="max-height:530px">
        <div class="panel-body" data-bind="foreach:$root.currentRunOrder().roStories,prompterSort">
            <div class="SortAbleDiv" data-bind="attr:{id:id}">
                <article class="listItems hasmenu" data-bind="attr:{sId:id},contextMenu,expandCollapse">
                    <span class="leftSpan sortingHandle" data-bind="style:{'background-color':isSkipped() ? 'red': isPlaying() ? 'yellow' : isPlayed() ? 'green': '#B0711E'}"></span>
                    <div class="divfirst" style="text-align:right">
                        <label class="name" data-bind="text:slug" ></label>
                        
                    </div>
                    <span class="rightSpan" data-bind="style:{'background-color':isSkipped() ? 'red': isPlaying() ? 'yellow' : isPlayed() ? 'green': ''}"></span>
                </article>
                <!--ko if: $data.storyItems  &&  storyItems !== 'null'-->
                <div class=" expansion" style="-moz-transition: height .5s; -ms-transition: height .5s; -o-transition: height .5s; -webkit-transition: height .5s; transition: height .5s; height: 0; overflow: hidden; margin-bottom: 2.5px">
                    <div>
                        <div style="margin-left:10px">
                            <!--ko foreach : storyItems-->
                            <article class="nestedArticle listItems hasmenu IsChild" data-bind="attr:{SIId:id}" style="color:yellow">
                                <span class="leftSpan"  style="height:100px !important;"  data-bind="style:{'background-color':isSkipped() ? 'red': isPlaying() ? 'yellow' : isPlayed() ? 'green': '#B0711E'}" ></span>
                                <div class="inner divfirst" style="text-align:right">
                                    <h3 class="name" data-bind="html:instruction"></h3>
                                    <div data-bind="html:details"></div>
                                </div>
                            </article>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
            </div>
    </div>