﻿<nav class=" navbar navbar-inverse border-color" role="navigation">
        <div class="container-fluid">

            <ul class="nav navbar-nav">

                <li class="dropdown" data-bind="AddNewRunDown,PrompterDefaultLanguage:{selectedLanguage:selectedLanguage}" data-target=".AddNewRunDownPopUp">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/add.png" width="20" height="20"></a>

                </li>

                <li class="dropdown" data-bind="UI_Toggler">
                    <a class="dropdown-toggle teleprompter_runorder" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/RoList.png" class="teleprompter_runorder" width="20" height="20"></a>

                </li>
                <li class="dropdown" data-bind="UI_Toggler">
                    <a class="dropdown-toggle teleprompter_setting" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/settings.png" class="teleprompter_setting" width="20" height="20"></a>

                </li>

                <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.LoadToPrompter_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/load.png" width="20" height="20"></a>

                </li>

                         <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.RunOrderTop_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/load.png" width="20" height="20">RT</a>

                </li>
                 <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.RunOrderStoryTop_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/load.png" width="20" height="20">RST</a>

                </li>
                 <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.RunOrderStoryItemTop_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/load.png" width="20" height="20">RSIT</a>

                </li>
                
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img class="teleprompter_play" width="20" height="20" data-bind="attr{src: $root.playPauseFlag()? 'content/images/teleprompter/play.png' : 'content/images/teleprompter/pause.png' },click:function(){sendCommand(e.CommandType.PlayPauseToggle_Prompter);}"/></a>
                </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img class="teleprompter_play" width="20" height="20" data-bind="attr{src: $root.forwardBackward()? 'content/images/teleprompter/arrowu.png' : 'content/images/teleprompter/arrowd.png' },click:function(){sendCommand(e.CommandType.PlayPauseToggleBackward_Prompter);}"/></a>
                </li>
             
                <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.PreviousStory_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/previous.png" width="20" height="20"></a>

                </li>

                  
                 <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.PreviousStoryItem_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/prevSi.png" width="20" height="20"></a>

                </li>

                 <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.NextStoryItem_Prompter);
                                                        }">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/nextSi.png" width="20" height="20"></a>

                </li>

                <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.NextStory_Prompter);
                                                        }">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/next.png" width="20" height="20"></a>

                </li>

                
              
                

                <li class="dropdown" data-bind="click:function(){sendCommand(e.CommandType.FlipText_Prompter);}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/flip.png" width="20" height="20"></a>

                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/font.png" width="20" height="20">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" data-bind="foreach:FontStyles,adjustHeight: true, customScrollBar: { }" style="max-height:250px">
                        <li data-bind="click:setFontStyle,,style: {'background-color': isSelected()? 'red': '#171515'}"><a data-bind="text:name"></a></li>

                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/fontFamily.png" width="20" height="20">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" data-bind="adjustHeight: true, customScrollBar: { }" style="max-height:250px">
                        <li  style="height: 35px;">
                            <input class="drp" type="text" data-bind="value:inputFont" style="float: left; width: 80px; padding: 2px" name="dfontsize">
                            <input type="button" class="drpBtn" value="Set" data-bind="click:setFont" style="float: left; cursor: pointer; margin-left: 10px; width: 40px; padding: 2px"></li>
                        <!--ko foreach:FontSizes-->
                        <li data-bind="click:setFont,text:value +'px',style: {'background-color': isSelected()? 'red': '#171515'}"></li>
                        <!--/ko-->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/speed.png" width="20" height="20">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" data-bind="adjustHeight: true, customScrollBar: { }" style="max-height:250px">
                        <li  style="height: 35px;">
                            <input class="drp" type="text" data-bind="value:inputScrollSpeed" style="float: left; width: 80px; padding: 2px" name="dspeed">
                            <input type="button" class="drpBtn" value="Set" data-bind="click:setScrollSpeed" style="float: left; cursor: pointer; margin-left: 10px; width: 40px; padding: 2px"></li>
                        <!--ko foreach:scrollSpeeds-->
                        <li data-bind="click:setScrollSpeed,text:value,style: {'background-color': isSelected()? 'red': '#171515'}"></li>
                        <!--/ko-->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/profile.png" width="20" height="20">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" data-bind="adjustHeight: true, customScrollBar: { }" style="max-height:250px">
                        <li style="height: 35px;">
                            <input class="drp" type="text" data-bind="value:profileName" style="float: left; width: 80px; padding: 2px" name="dfontsize">
                            <input type="button" class="drpBtn" data-bind="click:newProfile" value="Save" style="float: left; cursor: pointer; margin-left: 10px; width: 40px; padding: 2px"></li>

                        <!--ko foreach:profiles-->
                        <li data-bind="highLightSelected"><a data-bind="text:name,click:setProfile"></a>
                            <img src="/Content/images/teleprompter/deletedbtn.png" style="float: right; padding-right: 4px;"
                                width="15" height="15" data-bind="click:deleteProfile" /></li>
                        <!--/ko-->
                    </ul>
                </li>

                

                <img class="startListening" style="cursor:pointer; float:right; margin-top:10px; margin-right: 25px;" data-bind="attr{src:'content/images/teleprompter/scan.png'},click:scanDevice"/>

                <img class="startListening" style="cursor:pointer; float:right; margin-top:10px; margin-right: 25px;" data-bind="attr{src: $root.listeningStatus()? 'content/images/teleprompter/listning.png' : 'content/images/teleprompter/notListning.png' },click:saveSettings"/>

                <img class="startListening" style="cursor:pointer; float:right; margin-top:10px; margin-right: 25px;" data-bind="attr{src: $root.promptOnScreenStatus()? '/Content/images/teleprompter/openPrompt.png' : '/Content/images/teleprompter/close.png' },click:function(){sendCommand(e.CommandType.PromptON_Prompter);}"/>
                
                <li class="dropdown alertdummy" data-bind="click:resetCounter" style="float: right">
                    <span data-bind="text:$root.alertCounter,visible:$root.alertCounter()>0">0</span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="/Content/images/teleprompter/alert.png" width="20" height="20">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" data-bind="adjustHeight: true, customScrollBar: { }," style="max-height:200px">
                       
                    <!--ko foreach:$root.filterRunOrders-->
                    <li  style="cursor: pointer" data-bind="attr:{roId:id},text:slug,click:$root.addRunOrder"></li>
                    <!--/ko-->
                    </ul>
                </li>

            </ul>

        </div>
    </nav>