﻿<section id="XMLParser-view" class="clearfix view">
    <section class="sectionSequence" style="max-height: 500px; width: 100% " data-bind="customScrollBar:true">
        <header><span style="margin-left: 3px; font-size: 22px; color: #400000">Parser</span></header>


        <div style="height: 200px; width: 80%; border: 1px solid">

            <textarea data-bind="value:$root.xmlParserObj.xmlDocumentFile" rows="20" style="height: 200px;"></textarea>

        </div>

        <div style="width: 100px; border: 1px solid; cursor: pointer; background-color: grey; color: #fff; margin-top: 10px; margin-left:15px;" data-bind="click:$root.xmlParserObj.ProcessDocument">Parse Document</div>
        <!-- ko template: {name: 'usercontrol.XMLParser',foreach: $root.xmlParserObj.tempArray} -->
        <!-- /ko -->

        <button style="margin-left:15px;" data-bind="click: $root.xmlParserObj.btnclick">Submit</button>

    </section>
</section>
