﻿<section id="copy-writer-view" data-mainsection="true" class="main-content view copywriterContent">

    <nav class="nmsFolderCategoryClass clearfix main-navsec foldersCategoryCssWriter hdng">
        <ul class="parentUl">
            <!-- ko foreach: {data:$root.appdata.foldersList()} -->
            <li class="freshNewsWindow newsplacementWindow copywriterCss" data-bind="attr:{'Id':$data.FolderId}" style="height: 24px;">
                <span class="programInterval" data-bind="attr:{'Id' : 'interval' + $data.FolderId }"></span>
                <span  class="spnFolderNameCopywriter" data-bind="text:$data.FolderName"></span>
            </li>
            <!-- /ko -->

        </ul>
    </nav>

    <nav class="nmsWindowCss clearfix main-navsec foldersCategoryCssWriter controllerOutputCss adjustWidth_c">
        <ul class="parentUl" style="height:100%;border-right: 1px solid #b5a9a9;border-bottom: 1px solid #b5a9a9;">

            <!-- ko foreach: {data:$root.genericNewsFilesList()} -->

            <li class="freshNewsWindow newsplacementWindow scrollDiv win2 hide_newsInfo_source copywriterCss" style="height: inherit !important;" data-bind="attr:{'Id':$index()}">
                <!-- ko foreach: {data:$data} -->

                <!-- ko  if: !$data.isDeleted() -->
                <!-- ko template: { name: $root.templates.newsfileView, data:$data } -->
                <!-- /ko -->
                <!-- /ko -->

                <!-- /ko -->

            </li>
            <!-- /ko -->
        </ul>
    </nav>
</section>