﻿<section class="newsList view channelHomePanel">
    <section class="contentSection programs" data-bind="customScrollBar">
        <!-- ko foreach: list -->
        <!-- ko template: {name:'shared.newspaperbox',data:$data} -->
        <!-- /ko -->
        <!-- /ko -->

    </section>
</section>
