﻿<section id="channelreporter-reportnews-view" class="updateReport view reportNewsChannelReporter">
    <a href="javascript:void(0);" class="arrowLeft" data-bind="click:$root.model.templatePaging.previousItem,visible:$root.model.templatePaging.currentIndex()>0 && !$root.model.isNewsPaperDetail()"><i></i><span>Previous News</span></a>
    <div class="editingSection" data-bind="with:$root.model">
        <div class="heading" data-bind="with: templatePaging.currentItem">
            <span data-bind=" css: isProcessed() ? 'processed' : ''">
                <label data-bind="text: title"></label>
                <label data-bind="text: dailyNewsPaper().name"></label>
                <label data-bind="text: dailyNewsPaper().newsPaper().name"></label>
            </span>
            <a class="close" href="javascript:;"></a>
            <div class="searchBox">
                <span>Total Pending Newspaper</span>
                <label data-bind="text: $parent.pendingItems"></label>
            </div>
        </div>
        <div class="leftSection">

            <!-- ko with: templatePaging.currentItem()  -->
            <div data-bind="visible : !$parent.isNewsPaperDetail()">
                <img data-bind="attr { src : url }" alt="Loading..." style="width: 660px; height: 1033px" />
                <div id="imgmap" data-bind="foreach: newsPaperPagesParts">
                    <div class="areaMaps" data-bind=" click: $root.pagePartClick , attr { style : newsAreaStyle }"></div>
                </div>
            </div>
            <div data-bind="visible : $parent.isNewsPaperDetail">
                <a class="btnUpload" data-bind="click : $root.Back">Back</a>
                <div class="imgDetail" data-bind="foreach: $parent.NewsPaperDetail">
                    <a data-bind="attr{href: url}" target="_blank"><img data-bind="attr{src: url}" alt="Loading..." style="border: 1px solid;" /></a>
                </div>

                @*<img data-bind="attr{src: url}, newscropper:{coordinates: $parent.coordinates,markVideoProcessed: $parent.markMediaProcessed}" alt="*" />*@
            </div>
            <!-- /ko -->
            <div>
                <!-- ko template: {name:'news.add', data: $data} -->
                <!-- /ko -->
            </div>
        </div>

        <!-- ko template: {name:'usercontrol.newslisting', data: newsList()} -->
        <!-- /ko -->

    </div>
    <a href="javascript:void(0);" class="arrowRight" data-bind="click: $root.model.templatePaging.nextItem, visible:$root.model.templatePaging.currentIndex()<($root.model.templatePaging.list().length-1) && !$root.model.isNewsPaperDetail()"><i></i><span>Next News</span></a>
</section>

