﻿<nav id="shell-top-nav-view" class="singlebar-menu">
    <a title="" class="logo" data-bind="attr: { href: menuHashes.production.pendingStories }" href="#/home"><img src="/content/images/producer/logo2.png" width="31" height="30" alt="*"></a>
    <ul data-bind="with: menuHashes.production">
        <li><a data-bind="css: { 'active': (pendingStories == $root.activeHash() || production == $root.activeHash()) }, attr: { href: pendingStories }">Pending Stories</a></li>
        <li><a data-bind="css: { 'active': uploadMedia == $root.activeHash() }, attr: { href: uploadMedia }">Upload Media</a></li>
        <li style="display: none"><a data-bind="css: { 'active': report == $root.activeHash() }, attr: { href: report }">Reports</a></li>
    </ul>
     <header class="headerrightinfo">
        <ul class="topnav">
            <li><span class="username" data-bind="text: $root.appdata.currentUser().displayName"></span></li>
                  <li class="alerts"><a href="javascript:;" title=""><i class="icon-email"><span class="alert" data-bind="html: unreadNotificationsCount"></span></i></a>
                <div class="dropdown">
                    <div class="notifications"><span><i class="icon-email"></i>Notifications</span>  <a href="javascript:;" title="" data-bind="click:$root.markAllRead">Mark as Read</a></div>
                    <ul class="scrollBar" style="max-height: 170px !important" data-bind="adjustHeight: true, customScrollBar:true">
                        <!-- ko foreach: notifications -->
                        <li data-bind="css: {'active': !isRead()},click: function (data) { $root.markNotificationRead($data)}">
                             <a href="javascript:;" title="">
                                <span data-bind="html: title" style="width: 70%;float: left;">A task has been submitted by testnle.</span>
                                <span data-bind="html: creationDateDisplay" style="width: 30%;float: left;">a few seconds ago</span>
                            </a>
                            <a href="javascript:;" title="" data-bind="html: slug" style="padding-top:0;"></a></li>
                        <!-- /ko -->
                    </ul>
                </div>
            </li>
            <li class="last"><a href="javascript:;" title="" class="active"><i class="icon-setting"></i></a>

                <ul>
                    <li style="display: none"><a href="javascript:;" title="">Account Settings</a></li>
                    <li style="display: none"><a href="javascript:;" title="" data-bind="click: $root.checkForUpdates">Check for updates</a></li>
                    <li style="display: none" class="viewHelp" data-bind="click: $root.displayHelp"><a href="javascript:;" title="">Help</a></li>
                    <li class="logout" data-bind="click: $root.logOut"><a href="javascript:;" title="">Logout</a></li>
                </ul>
            </li>
            <li class="bdl"><a href="javascript:;" title="" class="bol-logo"></a></li>
        </ul>
    </header>
</nav>
